[2022-02-01 11:45] SonalJain1707 commented on #1709
Can we have a quick call?

[2022-02-01 11:53] SonalJain1707 commented on #1709
Can you please confirm if below will work

kubectl edit deployment jaeger-operator -n <namespace>

We have current image

image: jaegertracing/jaeger-operator:1.21.3

Change to

image: jaegertracing/jaeger-operator:1.24.0

work?

Can you please respond as this is becoming critical for a release.

[2022-02-01 22:42] Stevmann commented on #1360
Hello,

I have an issue described in #1122 with port name set to "grcp-https":

"authentication handshake failed: tls: first record does not look like a TLS handshake"

If I set the port name to string which was changed in this issue; "https-grpc" then it works.

---
jaeger-operator.v1.29.1
OpenShift 4.6.43
Istio version OSSM_2.1.1-1.el8

[2022-02-01 23:48] #1707 closed

[2022-02-02 05:20] SonalJain1707 commented on #1709
Hi ,

I followed the method of editing deployment and upgrading I could see
version change but seeing below error in logs.
Can you please look into this ASAP

time="2022-02-02T05:00:20Z" level=warning msg="Failed to parse current
Jaeger instance version. Unable to perform upgrade" current= error="Invalid
Semantic Version" instance=jaeger namespace=observability

Below are the complete logs.
Is the

[2022-02-02 10:22] pavolloffay commented on #1235
This is done now after migrating to operator-sdk 1.13

[2022-02-02 10:22] #1235 closed

[2022-02-02 10:23] pavolloffay commented on #583
Readme now documents which versions are supported

[2022-02-02 10:23] #583 closed

[2022-02-02 10:25] pavolloffay commented on #1408
This is duplicate for #1248

[2022-02-02 10:26] pavolloffay commented on #127
old issue closing, now tests are using kuttl.

[2022-02-02 10:26] #127 closed

[2022-02-02 10:27] pavolloffay commented on #930
Closing, the operator is tested only against tagged version. We don't have use-case to test against Jaeger main/latest.

[2022-02-02 10:27] #930 closed

[2022-02-02 10:27] pavolloffay commented on #1396
Closing for missing user information.

Please re-open if the issue is still there.

[2022-02-02 10:27] #1396 closed

[2022-02-02 10:28] pavolloffay commented on #518
Closing for now, there are no plans for this feature.

[2022-02-02 10:28] #518 closed

[2022-02-02 10:31] pavolloffay commented on #1248
We can follow approach taken here https://github.com/open-telemetry/opentelemetry-operator/pull/505

[2022-02-02 10:49] pavolloffay commented on #1686
Note that this is not helm chart repo. The query base path in the operator can be set in the CR `.spec.query.options.query.base-path`

[2022-02-02 10:49] #1686 closed

[2022-02-02 10:52] pavolloffay commented on #1649
The pasted CR in the first comment is not valid. The `options` field is a map of jaeger flags https://www.jaegertracing.io/docs/1.30/cli/

[2022-02-02 10:52] #1649 closed

[2022-02-02 15:09] frzifus opened #1733 "CRD validation does not catch invalid options"
**Describe the bug**
Creating a Jaeger instance with Cassandra storage and setting an object as env key causes a panic.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a Cassandra storage to a spec
2. Use an object as `ENV` key

**Expected behavior**
An error message when creating an instance with invalid parameters.

**Version (please complete the following information):**
 - OS: Linux

[2022-02-02 18:51] rubenvp8510 commented on #1709
This seems to be a bug in the upgrade process, may be is related to this: https://github.com/jaegertracing/jaeger-operator/issues/1702

At this point I wasn't able to reproduce it but I'll try what you did. Meanwhile, is it possible for you to delete and recreate the CR?
 May be that would fix the problem.

[2022-02-02 20:25] SonalJain1707 commented on #1709
Hi,

Can you please let me know the procedure to delete and recreate the CR.
Please let me know how to take backup as well so that I can use it for
reference.

Thanks,
Sonal.

On Thu, Feb 3, 2022 at 12:22 AM Ruben Vargas ***@***.***>
wrote:

[2022-02-03 05:56] pteroctopus commented on #1686
Thank you.

[2022-02-04 03:52] #1641 closed

[2022-02-04 20:04] TPX01 opened #1735 "PodTemplates to allow usage of TopologySpreadConstraint (and more)"
## Requirement - what kind of business use case are you trying to solve?

Currently the operator only allows you to use affinity rules. Sadly this is inadequate when the amount of replicas exceeds the amount of datacenters. In our specific case it sometimes happens that we only have 2 datacenters available. In the event we scale out beyond 2 replicas, hard affinities will block any new container.

[2022-02-07 13:14] pavolloffay commented on #1733
Just a note, we should validate all options objects from the CR, not just for storage/cassandra but as well for query, collector etc.

[2022-02-08 10:55] SonalJain1707 commented on #1709
Hi,

Can you please confirm if I only need to take backup as yaml file delete
the crd using kubectl and reapply.
Also we are looking for a proper upgrade procedure in our production
enviornment. I would appreciate if you can let me know the recommended
method for upgrade in production environment.
I would appreciate your response.

Thanks,
Sonal.

On Thu, Feb 3, 2022 at 1:54 AM Sonal Jain ***@***.

[2022-02-08 22:30] frzifus commented on #1726
Issue can be closed?

[2022-02-08 22:42] iblancasa commented on #1726
Yes

[2022-02-08 22:42] #1726 closed

[2022-02-08 23:40] frzifus commented on #1621
does not seem to be supported yet. I'll look at it in more detail tomorrow.

[2022-02-09 03:33] #1733 closed

[2022-02-09 13:42] SonalJain1707 opened #1741 "Upgrade Issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgraded the Jaeger
2.
3.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
 - OS: [e.g. Linux]
 - J

[2022-02-10 08:52] frzifus opened #1744 "Ensure patches do not break the ImagePullSecrets"
## Requirement - what kind of business use case are you trying to solve?
Ensure that patches do not break the `ImagePullSecrets`. Its used to pull images from a private registry.

See: https://github.com/jaegertracing/jaeger-operator/pull/1740

## Problem - what in Jaeger blocks you from solving the requirement?
Research how to solve the problem.

## Proposal - what do you suggest to solve the pro

[2022-02-10 15:18] gmahomarf opened #1746 "500 error due to incorrect ES permissions in "System Architecture" (/dependencies) tab in UI"
**Describe the bug**
The "System Architecture" (dependencies) tab in the UI shows a 500 error due to ES permissions

**To Reproduce**
Steps to reproduce the behavior:
1. Open Jaeger UI
2. Click on "System Architecture"

**Expected behavior**
See a DAG of my system architecture

**Screenshots**
![image](https://user-images.githubusercontent.com/137055/153435134-ccdf84df-c1fa-46de-b4f5-58794c25b805.

[2022-02-11 02:02] #1685 closed

[2022-02-11 02:43] rubenvp8510 commented on #1709
Sorry for late reply
Yes you need to back up your YAML file, and depending on the storage you use you might want to do a backup of it.

The procedure is what I described above, unfortunately it seems like there is a bug in the upgrade process, I'm trying to reproduce it to see if this can be fixed.

[2022-02-11 08:33] pavolloffay commented on #1685
The Github CI workflows were not updated for the main branch

[2022-02-11 08:35] pavolloffay commented on #1493
Closing this due to elastic.co license change.

[2022-02-11 08:35] #1493 closed

[2022-02-11 08:37] pavolloffay commented on #1369
At the moment there is no plan to add change auto-provisioning/integration with Elastic.co operator.

[2022-02-11 08:37] #1369 closed

[2022-02-11 08:38] #846 closed

[2022-02-11 08:39] #726 closed

[2022-02-11 08:58] SonalJain1707 commented on #1709
Thanks for replay. I will wait for your response and hope to get a
recommended procedure for upgrade in production.

On Fri, Feb 11, 2022 at 8:14 AM Ruben Vargas ***@***.***>
wrote:

[2022-02-13 00:01] frzifus opened #1750 "add retry mechanism for e2e test workflows"
## Requirement - what kind of business use case are you trying to solve?

It seems that the e2e sometimes fail. Instead of having to re-trigger the complete ci logic manually, an automatic retry behavior would be nice.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

So far, I have not dealt with it much. I found [this action](https://github.com/marketpla

[2022-02-14 08:12] iblancasa commented on #1750
Thanks for opening this issue! Yes, I agree we are having some problems related to the CI. 🤔  The most of the issues I've seen in the last days are related to downloading resources from the Internet like the Golang dependencies and pulling container images. I'm preparing a PR to speedup the build of the E2E environments and I think most of those problems will disappear. It is based on #1715. But y

[2022-02-14 08:21] iblancasa opened #1751 "[QE] es-rollover test is flaky"
**Describe the bug**
The test failed during a PR:
[code]

**To Reproduce**
It is not easy to reproduce because it seems to be a corner case.

**Version:**
 - Jaeger Operator version: `main` branch. Last commit: `030142aeda1076deaeafa9f70795128f6de98777`
 - Deployment: KIND running Kubernetes 1.19

**Additional context**
* Created from #1740. [Comment](https://github.com/jaegertracing/jaeger-operat

[2022-02-14 08:39] frzifus commented on #1750
if we can't download dependencies to build / test, maybe it would make sense to put them in a container image?
Our Build image could then call our make rules in the cl.
Just an idea:
[code]

Thanks for taking care :)

[2022-02-14 10:43] sanasz91mdev opened #1752 "jaeger-operator not creating jaeger agent when creating jaeger instance after installation"
**Describe the bug**
jaeger-operator not creating jaeger agent when creating jaeger instance after installation of jaeger operator

**To Reproduce**
I am using the following file to just introduce ES storage to be used by collector and query

[code]
**Expected behavior**
jaeger agent, collector, query components should be created. Collector and query components are created but **jaeger agent** com

[2022-02-14 14:03] MostafaNegim commented on #358
I got this error when I wanted to install an allInOne version.
What does this error say?
Is the `kinde: Elasticsearch` a requirement?

[2022-02-15 09:41] ctron opened #1754 "Expose OTEL environment variables too"
## Requirement - what kind of business use case are you trying to solve?

Expose (additionally) in deployments:

* `OTEL_SERVICE_NAME`
* `OTEL_PROPAGATORS`

Also see: https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/sdk-environment-variables.md#jaeger-exporter

## Problem - what in Jaeger blocks you from solving the requirement?

Some implementations actually g

[2022-02-17 03:17] JaredTan95 commented on #1700
I am interested in this feature

[2022-02-17 14:02] kevinearls opened #1756 "Makefile test target still references e2e-tests target"
**Describe the bug**
The test target in the jaeger-operator Makefile has e2e-tests as a prereq

**To Reproduce**
Steps to reproduce the behavior:
1.  make test

**Expected behavior**
make test should not try to use the e2e-tests target

[2022-02-17 15:54] kevinearls opened #1758 "CONTRIBUTING.md is out of date"
**Describe the bug**
Several items in CONTRIBUTING.md are incorrect

**To Reproduce**
Steps to reproduce the behavior:
1.  Open the CONTRIBUTING.md file and try to follow the steps.

**Expected behavior**
At least the following items are incorrect and need to be updated

1. The make **install-sdk** target no longer exists
2. The make **e2e-tests** target no longer exists
3. We do not specify that

[2022-02-17 15:56] kevinearls commented on #1756
Fixed by #1757

[2022-02-17 15:56] #1756 closed

[2022-02-18 15:14] abhishekgoldypathak opened #1761 "no matches for kind "Certificate" in version "cert-manager.io/v1" | no matches for kind "Issuer" in version "cert-manager.io/v1""
Getting 2 errors while installing the k8 manifest. Looks like maybe a kubectl / k8 API version mismatch. I am not able to find this k8 API and kind in k8 API docs.

apiVersion: cert-manager.io/v1
kind: Certificate

Details of my error in the attached screenshots.

![Screenshot 2022-02-18 at 8 36 55 PM](https://user-images.githubusercontent.com/80172803/154709115-f09942de-f919-4395-9e90-21166a3fc62

[2022-02-19 08:35] SonalJain1707 commented on #1709
Hi,

Can you please provide update on this.

Thanks,
Sonal.

On Fri, Feb 11, 2022 at 2:27 PM Sonal Jain ***@***.***> wrote:

[2022-02-19 10:35] frzifus commented on #1761
hi @abhishekgoldypathak, thanks for your report. Seems [cert-manager](https://cert-manager.io/) is not installed. I'll revisit the documentation.

Could you try installing cert-manager and then deploying jaeger-operator again?
[code]

[2022-02-20 11:30] abhishekgoldypathak commented on #1761
1. this seems to be the working command not the one provided

kubectl apply --validate=false -f https://github.com/cert-manager/cert-manager/releases/download/v1.6.2/cert-manager.yaml
![Screenshot 2022-02-20 at 4 56 04 PM](https://user-images.githubusercontent.com/80172803/154840254-c91ac26e-2907-4942-a7ec-b33f5b956777.png)

2. after this I get a couple of connection refused errors. I don't recogn

[2022-02-20 19:04] ivanayov commented on #1761
@abhishekgoldypathak I had the same issue and resolved it with canal:

[code]

You might also need some timeout, as cert-manager needs around 2 minutes to deploy successfully.

[2022-02-21 13:57] abhishekgoldypathak commented on #1761
my cert manager pods don't come up, looks like a wrong node-selector default setting (or something else)
![Screenshot 2022-02-21 at 7 26 36 PM](https://user-images.githubusercontent.com/80172803/154969056-0d8ae186-968c-46aa-b652-386e0a42c435.png)

[2022-02-21 14:02] abhishekgoldypathak commented on #1761
![Screenshot 2022-02-21 at 7 31 07 PM](https://user-images.githubusercontent.com/80172803/154969745-33518e40-2eb7-4711-8547-0a89c0907e97.png)

[2022-02-21 14:11] frzifus commented on #1761
mh... `Too many pods` doesnt sound right.

How many pods do you have up and running? e.g. `bc <<< "$(kubectl get pods --all-namespaces | wc -l) - 1"`
The number of pods available would be interesting too. `kubectl cluster-info dump | grep pods -A 10 -B 10`

[2022-02-21 14:25] #1758 closed

[2022-02-21 14:32] edenkoveshi opened #1768 "Custom ImagePullPolicy"
## Requirement - what kind of business use case are you trying to solve?

Adding a new imagePullPolicy field to the CRD to allow custom imagePullPolicy value and not the default Kubernetes value.
This can be quite useful for environments with internal registery and it should be quite easy to implement
This is also quite popular in Kubernetes operators.

## Problem - what in Jaeger blocks you from

[2022-02-21 14:53] abhishekgoldypathak commented on #1761
Interesting catch  - I had my application (product) running which has ~130 total pods - deleted those helm charts and now jaeger comes up..

but logically, what would jaeger trace if I start it with my application brought down :)
![Screenshot 2022-02-21 at 8 21 52 PM](https://user-images.githubusercontent.com/80172803/154978824-308bc313-56ef-45a6-b690-8325f2346916.png)

however before I go there I

[2022-02-21 15:27] pavolloffay commented on #1754
`OTEL_` env variables are used to configure OpenTelemetry clients - SDK or instrumentation. Jaeger-operator does not have any functionality that handles clients.

Please take a look at https://github.com/open-telemetry/opentelemetry-operator and Instrumentation Kind which offers client side configuration.

[2022-02-21 15:27] #1754 closed

[2022-02-21 15:48] pavolloffay commented on #1302
We should consider using GHCR.

[2022-02-21 15:49] #1241 closed

[2022-02-21 15:49] #1134 closed

[2022-02-21 15:51] #1098 closed

[2022-02-21 15:51] #1085 closed

[2022-02-21 15:53] #1065 closed

[2022-02-21 16:09] kevinearls commented on #1585
I'm going to work on this

[2022-02-21 16:36] rubenvp8510 commented on #1723
@pavolloffay @kevinearls Could you take a look please?

[2022-02-22 12:35] kevinearls commented on #843
@pavolloffay This can be closed.  This file doesn't even exist anymore.

[2022-02-22 12:40] kevinearls commented on #774
@rubenvp8510 Is this still relevant?

[2022-02-22 12:50] #843 closed

[2022-02-22 12:52] kevinearls commented on #276
@iblancasa  Don't we have update tests now?

[2022-02-22 14:40] iblancasa commented on #276
No, we haven't. This is something I have to work on

[2022-02-22 17:22] iblancasa opened #1778 "Random kind configuration parsing error in CI"
**Describe the bug**
Sometimes, the CI fails due to the following error:
[code]

[I created a bug in the `kind` repository](https://github.com/kubernetes-sigs/kind/issues/2642).

[2022-02-22 17:58] iblancasa commented on #1778
It seems the problem is actually related to an error downloading the binary.

[2022-02-22 19:24] frzifus commented on #1761
it would trace itself ^^

Until here it looks like you only deployed the operator. You should be able to continue with the [quick-start deploying the allinone image](https://www.jaegertracing.io/docs/1.31/operator/#quick-start---deploying-the-allinone-image).

---
I used this a while ago
[code]
then
[code]

[2022-02-23 10:04] iblancasa opened #1780 "Stop obsolete workflows when new commits are added to a PR"
## Requirement - what kind of business use case are you trying to solve?

When a PR is opened, the upstream CI is started. If somebody adds new commits to that PR before the CI is finished, the new jobs will be queued and the previous ones will continue running.

We should be able to save these resources.

## Proposal - what do you suggest to solve the problem or improve the existing situation?
We

[2022-02-23 14:45] frzifus opened #1784 "Upgrade k8s.io/apimachinery from 0.21.3 to 0.23.4"
The existing PR https://github.com/jaegertracing/jaeger-operator/pull/1760 is failing with these [errors](https://github.com/jaegertracing/jaeger-operator/actions/runs/1886000973):

![image](https://user-images.githubusercontent.com/10403402/155342260-c4daa824-b905-4a14-8b22-43d0a104caf2.png)

[2022-02-23 14:51] frzifus commented on #1784
seems appear here too [k8s.io/api #1759](https://github.com/jaegertracing/jaeger-operator/pull/1759)

[2022-02-23 16:05] #1621 closed

[2022-02-23 16:05] kevinearls opened #1786 "tracegen image version in example needs to be updated on a per release basis"
**Describe the bug**
The version for the jaegertracing/jaeger-tracegen image in examples/tracegen.yaml is hard-ceded to 1.17.  It should be updated on a per-release basis to match the release version.

[2022-02-23 20:40] #1278 closed

[2022-02-24 08:51] #1780 closed

[2022-02-24 11:22] iblancasa opened #1791 "Avoid running the CI on documentation changes"
## Requirement - what kind of business use case are you trying to solve?
Save resources when the changes are done just in the documentation.

## Problem - what in Jaeger blocks you from solving the requirement?
Each time this repository receives some changes related to the documentation, we run all the tests. We can save resources not running those GitHub Actions workflows.

## Proposal - what do

[2022-02-25 12:12] iblancasa opened #1796 "Cache the Docker builds to be reused between CI runs"
## Requirement - what kind of business use case are you trying to solve?
Cache the Docker build to make the CI faster.
There are 3 images build by the CI:
* Jaeger Operator
* E2E asserts
* Jaeger Operator next version (for the E2E upgrade test)

## Proposal - what do you suggest to solve the problem or improve the existing situation?
* [Example usage using upload/download artifacts](https://github

[2022-02-25 15:36] #1720 closed

[2022-02-28 16:09] konstantin-921 opened #1801 "No support Elasticsearch 8"
**Describe the bug**
I updated elasticsearch to v8.0.0.
After that Jaeger operator was broken. And I can't deploy Jaeger operator 1.20.0 again. For some reason the template for the jaeger-span index cannot be created. Before with elasticsearch 7.17.0 everything worked fine. Log:

[code]

Jaeger config:

[code]

**Expected behavior**
Jaeger should be able to create indexes without any problems

**T

[2022-03-01 07:44] #1791 closed

[2022-03-03 07:37] xichengliudui opened #1803 "Jaeger operator does not pull esIndexCleaner dependencies image from the specified repo"
**Describe the bug**
Jaeger operator does not pull `esIndexCleaner`、`dependencies` image from the specified repository

**To Reproduce**
Steps to reproduce the behavior: kubectl apply yaml
[code]

**Expected behavior**
esIndexCleaner and dependencies pull images from the specified repository

**Screenshots**
It can be seen that the image is not pull from the specified image repo
![image](https://u

[2022-03-04 08:57] #1796 closed

[2022-03-04 10:27] #1700 closed

[2022-03-07 12:27] kevinearls commented on #1723
@zzvara I was not able to reproduce your problem with the number of replicas.  If I specified 0 I got 0.  I was able to reproduce the "all shards failed" error.

However, this can be easily fixed by dropping the trailing "-" on your index-prefix.

[2022-03-07 13:05] pavolloffay commented on #1723
Closing per @kevinearls comment.

[2022-03-07 13:05] #1723 closed

[2022-03-07 22:18] mjnagel opened #1805 "Update Operator Helm Chart to 1.31.0"
## Requirement - what kind of business use case are you trying to solve?

I am trying to keep Jaeger as up to date as possible (be on latest within 2 weeks of release).

## Problem - what in Jaeger blocks you from solving the requirement?

The Jaeger operator 1.31.0 has been out for almost a month at this point. The operator helm chart is still pointed at 1.30.0. I attempted to override the image

[2022-03-08 15:42] pavolloffay opened #1807 "Test on k8s 1.23"
k8s 1.23 has been released.

We should update our CI to use k8s 1.23 instead of 1.22.

[2022-03-08 20:34] mjnagel commented on #1805
Closing, this should've been opened against the helm chart repo.

[2022-03-08 20:34] #1805 closed

[2022-03-08 21:07] #671 closed

[2022-03-10 13:29] JesperBerggren commented on #1096
Hi again,

This feature is quite necessary according to the use case described above.

The only way to get access to the jaeger-query UI is either by using some kind of mutation (e.g. KubeMod as described above) or by patching the jaeger-query service manually after deployment. Both ways are "ugly" and hard to maintain.

What is the status of the PR that @herbguo made?

Best regards
Jesper Berggre

[2022-03-11 07:01] #1803 closed

[2022-03-11 15:23] iblancasa commented on #1807
I can do it

[2022-03-15 09:31] kevinearls opened #1814 "Update Makefile so it installs a new version of controller-gen if needed"
## Requirement - what kind of business use case are you trying to solve?

Update the Makefile so that it installs a new version of controller-gen if needed.  I was working on [updating the operator-sdk](https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.17.0/) which requires updating controller-gen to v0.8 but the controller-gen target only re installs a new version if it does not find

[2022-03-15 09:45] frzifus commented on #1814
mh... Can we solve the problem by including the version number in the binary name? like: `controller-gen_v0.8.0`, `controller-gen_v0.0.1`

[2022-03-15 10:02] frzifus opened #1815 "Update Release.md"
## Requirement - what kind of business use case are you trying to solve?
Release a new operator version.

## Problem - what in Jaeger blocks you from solving the requirement?

There are a few extra steps requiered.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

- make sure operator community prs dont include `bundle`
- hint version tags in Image are nee

[2022-03-16 09:08] frzifus opened #1817 "log line inconsistency"
**Describe the bug**
Seems we use plain `logrus` in some places instead of the propagated `logr.Logger` wrapper. on one hand this leads to bad readability, on the other hand i had problems to change the log level in all places at once.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Operator
2. Deploy Jaeger
3. View Operator logs

**Expected behavior**

- Seeing the same format of log

[2022-03-20 02:41] herbguo commented on #1096
Hi,
  The PR I submitted is still in the review state, and there is no progress

[2022-03-21 02:53] #1815 closed

[2022-03-21 13:46] pavolloffay commented on #62
Will be done https://github.com/jaegertracing/jaeger-operator/pull/1804

[2022-03-21 13:46] #62 closed

[2022-03-21 13:50] pavolloffay commented on #570
Closing, the volume can be specified explicitly in the CR

[2022-03-21 13:50] #570 closed

[2022-03-21 13:51] pavolloffay commented on #1240
Closing, not information provided

[2022-03-21 13:51] #1240 closed

[2022-03-21 13:51] pavolloffay commented on #1240
feel free to reopen if the issue is still there

[2022-03-21 13:52] pavolloffay commented on #1195
No there are not limitations. Jaeger can receive any data from any application in the cluster.

[2022-03-21 13:52] #1195 closed

[2022-03-21 13:56] pavolloffay commented on #1070
Closing as done #1257

[2022-03-21 13:57] pavolloffay commented on #1474
The CR in the first comment is missing storage configuration which is mandatory.

[2022-03-21 13:57] #1474 closed

[2022-03-21 15:36] pavolloffay commented on #72
Closing, there are no plans to change the options to a strongly typed variant. The validation can be done in the validating webhook.

[2022-03-21 15:36] #72 closed

[2022-03-21 15:40] pavolloffay commented on #106
Closing, there was no interest in the SPI

[2022-03-21 15:40] #106 closed

[2022-03-21 15:43] pavolloffay commented on #117
Closing, no need for this feature. Running the dependencies in serial is preferred at the moment as it gives a clear indication how the "jobs" will be run.

[2022-03-21 15:43] #117 closed

[2022-03-21 15:49] frzifus commented on #1768
Solved here: https://github.com/jaegertracing/jaeger-operator/pull/1798

[2022-03-21 15:52] pavolloffay commented on #156
Closing, we don't want to introduce a breaking change to the CR. There are no requests to create new dependencies implementation.

[2022-03-21 15:52] #156 closed

[2022-03-21 15:55] pavolloffay commented on #351
Closing, the agent component of the Jaeger deployment might get replaced with OpenTelemetry.

[2022-03-21 15:55] #351 closed

[2022-03-21 16:04] #1768 closed

[2022-03-21 16:05] pavolloffay commented on #1761
The cert manager was added to docs

[2022-03-21 16:05] #1761 closed

[2022-03-21 16:07] pavolloffay commented on #226
Already done

[2022-03-21 16:13] esnible commented on #467
I recommend a [Validating Webhook](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#validatingadmissionwebhook) rather than admitting the jaegertracing.io/v1 Jaeger and then setting its Status.

[2022-03-21 16:13] pavolloffay commented on #675
Closing, the issue is not present right now.

[2022-03-21 16:13] #675 closed

[2022-03-21 16:16] pavolloffay commented on #694
The idea is to reset the objects if they are modified.

[2022-03-21 16:22] pavolloffay commented on #748
This feature is provided by OpenTelemetry operator. There are no plans to implement this in Jaeger operator.

[2022-03-21 16:22] #748 closed

[2022-03-21 16:23] pavolloffay commented on #774
It is going to be resolved as part of https://github.com/jaegertracing/jaeger-operator/issues/171

[2022-03-21 16:23] #774 closed

[2022-03-22 09:33] seaurching commented on #1348
I meet is also

[2022-03-22 10:25] diogoserrano commented on #1648
after upgrading jaeger-operator from 1.29 to 1.32 i get the same error

`time="2022-03-22T10:24:07Z" level=error msg="failed to update deployment with sidecar" error="Operation cannot be fulfilled on deployments.apps \"general-query\": the object has been modified; please apply your changes to the latest version and try again" jaeger=general jaeger-namespace=jaeger name=general-query namespace=jae

[2022-03-22 14:50] iblancasa commented on #1817
What do you think about adding something to ensure the logging is not done using `logrus` directly (from the CI, for instance)? Is something I can work on.

[2022-03-22 18:01] esnible commented on #1474
Would it make sense to offer a validating webhook so that users get feedback that their CR is invalid?

[2022-03-22 21:24] frzifus commented on #1817
sure, what did you have in mind? Some kind of linting rule? I wouldn't prioritize it too highly, but it would certainly be helpful.

[2022-03-23 09:01] frzifus opened #1822 "e2e test warning, ignoring previous --max-args value"
**Describe the bug**
Noticed `xargs: warning: options --max-args and --replace/-I/-i are mutually exclusive, ignoring previous --max-args value`

**To Reproduce**
Steps to reproduce the behavior:
1. make run-e2e-tests

**Expected behavior**
No ignored arguments (does not sound good)

**Version (please complete the following information):**
 - OS: linux
 - Jaeger version: 1.32

---

cc @iblancasa

[2022-03-23 13:08] purvaldur commented on #927
Also having the same problem after an upgrade to v1.27.0 to fix another bug. I've temporarily degraded back to 1.24 since the error I'm getting on 1.24 is non-blocking at the moment.

[2022-03-23 16:21] iblancasa commented on #1817
Yes. Something like looking for usages of `logrus.<Logging function>` and fail when something is found.
I know we first need to fix this but is to avoid new issues in the future. What do you think?

[2022-03-23 16:43] frzifus commented on #1817
I'm not sure if this will adequately address the issue. Imports are often renamed. Found this in [cmd/generate](https://github.com/jaegertracing/jaeger-operator/blob/main/pkg/cmd/generate/main.go#L105).

e.g.
[code]

[2022-03-27 20:04] tirelibirefe opened #1829 "(interface conversion: interface {} is map[string]interface {}, not string)"

[2022-03-27 21:39] frzifus commented on #1829
Hey @tirelibirefe , what operator version do you use?

[2022-03-29 11:30] tirelibirefe commented on #1829
1.6

[2022-03-30 13:08] frzifus opened #1833 "api spec cannot be displayed"
**Describe the bug**
Cannot view api specification. It seems that the file is too big to be rendered by github.

**To Reproduce**
Steps to reproduce the behavior:
1. visit https://github.com/jaegertracing/jaeger-operator/blob/main/docs/api.md

**Expected behavior**
the possibility to view the documentation on github like here:
https://github.com/open-telemetry/opentelemetry-operator/blob/main/docs

[2022-03-31 20:28] frzifus opened #1838 "operator doesnt observe ns changes"
**Describe the bug**

Annotation change does not trigger a namespace reconcile.

**To Reproduce**
Steps to reproduce the behavior:
1. Observe logs.
2. `k annotate namespaces default --overwrite sidecar.jaegertracing.io/inject=true`
3. `k annotate namespaces default --overwrite sidecar.jaegertracing.io/inject-`

**Expected behavior**
If the annotation of a namespace changes, the corresponding recon

[2022-04-01 05:42] #1807 closed

[2022-04-01 11:50] frzifus opened #1840 "sidecar-namespace e2e test doesnt work as expected"
**Describe the bug**
It seems that the namespace annotation has no effect in the end-to-end test. It is noticed by the fact that https://github.com/jaegertracing/jaeger-operator/pull/1828 passed the test successfully and https://github.com/jaegertracing/jaeger-operator/issues/1838 occurred.

**To Reproduce**
Steps to reproduce the behavior:
1. Disable ns reconciler
2. Run `KUTTL_OPTIONS="--test si

[2022-04-05 05:19] #1838 closed

[2022-04-05 07:38] #1751 closed

[2022-04-05 07:39] iblancasa commented on #1750
I added some retry mechanisms and I think we can close this issue. What do you think @frzifus?

[2022-04-05 07:40] #1778 closed

[2022-04-05 07:41] #1556 closed

[2022-04-05 08:46] frzifus commented on #1750
sure :+1:

[2022-04-05 08:46] #1750 closed

[2022-04-05 09:26] frzifus commented on #1829
Env contains a list, that is not allowed. In version 1.32 or higher the operator prevents from crashing with an error message:

[code]
The env section only allows configurations like this:
https://github.com/jaegertracing/jaeger-operator/blob/8695866b4c71af5967f2b567c3280757af647561/pkg/service/collector_test.go#L83

i could not find any documentation on how to configure the collector port. Having

[2022-04-05 10:21] iblancasa commented on #1822
Confirmed. This warning appears in GNU findutils >= 4.9.0

[2022-04-05 11:45] iblancasa commented on #1814
Is this issue related to #1841 or something different?

[2022-04-05 13:27] pavolloffay commented on #1801
Closing as duplicate of https://github.com/jaegertracing/jaeger/issues/3571

[2022-04-05 13:27] #1801 closed

[2022-04-05 13:29] pavolloffay commented on #1488
Now the readme documents which k8s verisons are supported.

[2022-04-05 13:29] #1488 closed

[2022-04-05 13:30] #1336 closed

[2022-04-06 01:47] rubenvp8510 commented on #1482
This issue seems to be fixed already, I'll close it.

If this is still an issue feel free to file a new issue or reopen this one

[2022-04-06 01:47] #1482 closed

[2022-04-06 01:48] rubenvp8510 commented on #1371
https://github.com/jaegertracing/jaeger-operator/pull/1495 fixes this. Closing the issue.

[2022-04-06 01:48] #1371 closed

[2022-04-06 01:49] rubenvp8510 commented on #1308
This is fixed on https://github.com/jaegertracing/jaeger-operator/pull/1177, Closing.

[2022-04-06 01:49] #1308 closed

[2022-04-06 01:53] rubenvp8510 commented on #1644
@frzifus Do you think the new approach will fix this?

[2022-04-06 08:40] kevinearls opened #1844 "Deployment of jaeger-operator to minikube running k8s 1.19 is blocked by webhook"
**Describe the bug**
I tried to deploy the jaeger-operator to a minikube instance running kubernetes version 1.19 and it failed

**To Reproduce**
Steps to reproduce the behavior:
1. Start minikube with **minikube start --memory 12288 --vm-driver hyperkit --addons "ingress,metrics-server" --kubernetes-version='1.19.0'**
2.make docker push deploy

**Expected behavior**
The operator should deploy

**

[2022-04-06 08:43] frzifus commented on #1844
thanks, i will give it a try!

[2022-04-06 09:15] pavolloffay commented on #1844
@kevinearls did you run `make cert-manager` before deploying the operator? Did the output indicate that the cert-manager API isready?

[2022-04-06 09:40] kevinearls commented on #1844
@pavolloffay Yes, I have a script that does all of this.  I ran the same script without the **kubernetes-version** option and it worked correctly.  (I probably should have mentioned this above but I had alread discussed it with @frzifus )

[2022-04-06 10:01] frzifus commented on #1844
what makes me a little questionable is `failed calling webhook "deployment.sidecar-injector.jaegertracing.io"`. If the webhook is registered and the operator deployment has to pass this webhook, it will not work because the operator is not active at this time. :facepalm:
Maybe we can exclude the operator using a [objectSelector](https://kubernetes.io/docs/reference/access-authn-authz/extensible-ad

[2022-04-06 10:42] iblancasa commented on #1822
@frzifus, can we close this issue?

[2022-04-06 10:52] iblancasa opened #1845 "Ensure the installation of the operator for the E2E tests is done using the documented steps"
**Describe the bug**
Currently, the E2E tests use their own `Makefile` rules to deploy the Jaeger Operator. The E2E automation should use the same steps documented to install the operator. This would help us to detect situations like #1844 faster.

[2022-04-06 11:00] #1822 closed

[2022-04-06 11:04] iblancasa commented on #1844
I was able to reproduce the issue with Kind. But I was able to install the Jaeger Operator running this:
[code]

[2022-04-06 11:32] pavolloffay commented on #1844
How were you able to reproduce it? Are we getting to the root cause of the problem?

[2022-04-06 11:33] frzifus commented on #1844
wait what does that mean @kevinearls @iblancasa

works

Doesnt work?

[2022-04-06 12:11] iblancasa commented on #1844
@pavolloffay, using Kind:
[code]

And yes @frzifus, `make generate bundle docker push cert-manager deploy` (or `make generate bundle load-operator-image cert-manager deploy`) worked for me

[2022-04-06 15:17] kevinearls commented on #1844
@frzifus @iblancasa I've done a number of deployments today, and sometimes it works when I start minikube with the **--kubernetes-version='1.19.0'** option, but usually it doesn't.

I've had better results starting minikube without that option (which for me runs k8s 1.23.3) but it sometimes fails there too.  Maybe we have a race condition of some sort?

[2022-04-06 15:31] frzifus commented on #1844
@kevinearls yes, seems to be a hen egg problem https://github.com/jaegertracing/jaeger-operator/issues/1844#issuecomment-1090085995.

In this case the webhook is configured, pointing to an old version of the Jaeger-Operator that does not exist.
[code]
Then we try to create the new operator deployment. This fails, because the registered jaeger mutating webhook is not reachable.
[code]

[2022-04-06 15:33] kevinearls commented on #1814
@iblancasa Yes, I think #1841 fixes this so we can close it.

[2022-04-06 17:33] frzifus commented on #1814
Since this pr we download a new controller-gen version on every build and not only when it is needed, right?

[2022-04-06 20:39] iblancasa commented on #1814
I think so. We can follow a similar approach to the one followed with kind, kuttl and other tools (installing them using the scripts from `hack/install`)

[2022-04-06 20:50] frzifus commented on #1814
sounds good to me. alternatively, we could put the versions name in the binary. as indicated here:
[code]
What do you think? (ps: i have no preference here. Just wanted to take it into consideration.)

[2022-04-07 07:16] kevinearls commented on #1814
@frzifus I don't know to be honest.  😕 There seems to be multiple different ways to install any tools.  Ideally we'd have something that checks whether you have all of the correct versions of all the tools you need, and if not installs them.   I don't have time to do that at the moment...

[2022-04-07 08:04] iblancasa commented on #1814
I'll do

[2022-04-07 15:02] csh995426531 opened #1848 "Pod jaeger-query is not running"
**Describe the bug**
jaeger-query Pod is not running

**To Reproduce**
Steps to reproduce the behavior:
1. I use jaeger operator to deploy the program
2.
3.

**Expected behavior**
Program running

**Screenshots**
Here is the POD logs.
`
022/04/07 14:49:57 maxprocs: Leaving GOMAXPROCS=2: CPU quota undefined
{"level":"info","ts":1649342997.482264,"caller":"flags/service.go:117","msg":"Mounting metri

[2022-04-08 00:30] rubenvp8510 commented on #1848
Hello,

Could you attach your CRD?

[2022-04-08 02:34] csh995426531 commented on #1848
Hi, I've added the configuration content. After a night, the POD would occasionally stay running, but after a while the program would end and restart again.

[2022-04-08 12:41] esnible commented on #1844
For Deployments we offer a way to control auto-injection:

[code]

(See https://www.jaegertracing.io/docs/1.32/operator/#auto-injecting-jaeger-agent-sidecars )

Do we have a similar annotation on the Pod level?  I'd like to be able to annotate

[code]

pods (and pod-templates) that must not be attached to the sidecar.  Then I would like this webhook to check for that label, rather than only skippi

[2022-04-08 13:02] frzifus commented on #1844
oh i did respond here: https://github.com/jaegertracing/jaeger-operator/pull/1850#discussion_r846084383

[2022-04-09 13:43] csh995426531 commented on #1848
After regressing from the latest version to 1.24 again and again, it finally works stably

[2022-04-09 17:49] cathei commented on #1848
I got this issue as well. I am running it on Autopilot GKE.
It works on local Docker Desktop Kubernetes environment.

[2022-04-11 12:01] AhHa45 commented on #261
so how to see the version?

[2022-04-12 16:06] pavolloffay opened #1851 "Release 1.33.0"
Jaeger core 1.33.0 has been released https://github.com/jaegertracing/jaeger/releases/tag/v1.33.0. Now the operator should be released.

[2022-04-12 17:51] craigtmoore opened #1852 "Unable to modify jaeger-es-index-cleaner settings"
**Describe the bug**
I have a jaeger instance run in Kubernetes using the jaeger-operator. Everything is working fine except for the es-index-cleaner cronjob which is purging all traces older than 7 days in Elasticsearch. I need to keep the records for longer, so I need to adjust the `numberOfDays` parameter for the jaeger es-index-cleaner. I tried adding the following to my jaeger-deploy.ymll fil

[2022-04-13 04:50] craigtmoore commented on #1852
OK, so I've figured it out. I really do not like yaml. I put the setting for the esIndexCleaner in the wrong place I put

[code]

But the esIndexCleaner settings should have been on the same level as the 'options' value, like this:

[code]

Hope this helps someone (probably me) in the future.

[2022-04-13 04:50] #1852 closed

[2022-04-13 05:09] #1844 closed

[2022-04-13 08:19] kevinearls opened #1854 "Update tests that use NewFakeClient to use NewClientBuilder instead"
**Describe the bug**
jaeger-operator has several tests that use fake.NewFakeClient.  This has been deprecated and says to use NewClientBuilder instead

[2022-04-13 09:35] kevinearls opened #1855 "Makefiles needs a target for installing junitcli"
**Describe the bug**
make test uses the junitcli.  The Makefile should have a target to install this.

**To Reproduce**
Steps to reproduce the behavior:
1. make test

[2022-04-13 09:38] kevinearls commented on #1855
I'm getting the following errors, even after installing junitcli and creating a reports directory

[code]

The make test target should do whatever is required to run and report on tests

[2022-04-13 10:31] frzifus commented on #1855
Its moved into the [hack folder](https://github.com/jaegertracing/jaeger-operator/blob/main/hack/run-e2e-tests.sh#L61) since https://github.com/jaegertracing/jaeger-operator/pull/1810.
try: `make tools`

[2022-04-13 23:11] #1851 closed

[2022-04-14 03:54] dirkckau opened #1859 "jaeger-operator helm chart option to mount a the cert"
## Requirement - what kind of business use case are you trying to solve?

Helm chart

## Problem - what in Jaeger blocks you from solving the requirement?

I found an issue when I was installing Jager-operator 1.32.0 in my cluster using the default helm chart.
I've cert manager 1.7.2 in my cluster, however, seems the jaeger-operator is missing a mount on the cert.
![image](https://user-images.gith

[2022-04-14 07:33] frzifus commented on #1859
Hi @dirkckau, I can't say much about helm charts. But the best thing to do is to create an issue on the [helm repo](https://github.com/jaegertracing/helm-charts).

[2022-04-14 20:07] esnible commented on #1833
I noticed the same thing.  I also noticed the .md file is mostly HTML, rather than Markdown.

[2022-04-15 15:02] cnvergence commented on #1330
/assign cnvergence

[2022-04-18 09:40] iblancasa commented on #1855
The problem is not produced in the `test` make target. It is in the `run-e2e-tests` make target. `junit` is installed as part of running `hack/run-e2e-tests.sh` (which is run for each test suite). It seems, for whatever reason, `Make` is not able to access that program from the path. I just created a PR fixing this issue.

[2022-04-19 09:24] frzifus opened #1863 "Missing Cert-Manager in the compatibility matrix"
**Describe the bug**
Missing Cert-Manager column like it was before: [README.md #compatibility-matrix](https://github.com/jaegertracing/jaeger-operator/tree/29699505d2c620890d6f605ebe817ae1ad241222#compatibility-matrix)

**To Reproduce**
Steps to reproduce the behavior:
1. [COMPATIBILITY.md](https://github.com/jaegertracing/jaeger-operator/blob/e40929e539d727845bec758b0f64d662ccd68edb/COMPATIBILIT

[2022-04-21 13:08] #1863 closed

[2022-04-22 08:56] frzifus commented on #1702
Will `instance` be filled with updates from the api too? I discovered a [version field in CSV having the value 0.0.0](https://github.com/jaegertracing/jaeger-operator/blob/06bcef636327ef490609b999b8e5585a4f498bcd/config/manifests/bases/jaeger-operator.clusterserviceversion.yaml#L131).

[2022-04-22 09:13] iblancasa opened #1868 "Upgrade KUTTL version to 0.12.1"
The new KUTTL version was released. We can upgrade it from 0.11.0 to 0.12.1.

[2022-04-22 09:13] iblancasa commented on #1868
@rubenvp8510 could you add the needed labels and assign this to me? Thanks :D

[2022-04-26 12:47] kevinearls opened #1870 "Upgrade from 1.32.0 to 1.33.0 fails"
**Describe the bug**
I tried to upgrade from Jaeger Operator v1.32.0 to 1.33.0 and it failed.

**To Reproduce**
Steps to reproduce the behavior:
1.  Start minikube
2. kubectl create observability
3. kubectl apply --namespace observability -f https://github.com/jaegertracing/jaeger-operator/releases/download/v1.32.0/jaeger-operator.yaml
4. Wait till the operator finishes deploying
5. kubectl apply

[2022-04-26 12:58] frzifus commented on #1870
thx for reporting, I'll try to take a closer look during the week.

[2022-04-27 10:31] lixiangzzz2017 opened #1871 "will jaeger-operator remove zipkin svc?"
**Describe the bug**
jaeger-operator removed zipkin svc exceptedly

**To Reproduce**
Steps to reproduce the behavior:
1.

**Expected behavior**

**Screenshots**
this is the log from k8s apiServer
requestURI:/api/v1/namespaces/istio-system/services/zipkin
responseObject:{"kind":"Status","apiVersion":"v1","metadata":{},"status":"Success","details":{"name":"zipkin","kind":"services","uid":"323ae62f-0

[2022-04-28 05:32] rubenvp8510 commented on #1855
Is this already solved by https://github.com/jaegertracing/jaeger-operator/pull/1861 ? Can we close this issue?

[2022-04-28 05:32] #1840 closed

[2022-04-28 08:21] iblancasa commented on #1855
I think so @rubenvp8510

[2022-04-29 09:56] ivaske commented on #1870
I get the same error but i'm upgrading from 1.31.0

[2022-04-29 11:33] frzifus commented on #1870
@ivaske did you use OLM or also just a deployment?

[2022-05-03 13:17] kevinearls commented on #1784
@frzifus @rubenvp8510 This has been updated to 0.23.5, so this can be closed

[2022-05-03 13:22] #1784 closed

[2022-05-03 13:53] #1585 closed

[2022-05-04 14:32] #1854 closed

[2022-05-10 12:38] frzifus opened #1879 "default value for tls cipher-suites"
## Requirement - what kind of business use case are you trying to solve?

In [jaeger #3564](https://github.com/jaegertracing/jaeger/pull/3564), a new flag was introduced for configuring the cipher used. but this flag is not set by default by the operator.

## Problem - what in Jaeger blocks you from solving the requirement?

A decision if a default parameter is basically desired. If yes, we could

[2022-05-10 13:16] frzifus commented on #1879
I was wondering why the problem does not occur on kubernetes. it seems to affect only openshift [[tls.go](https://github.com/jaegertracing/jaeger-operator/blob/06bcef636327ef490609b999b8e5585a4f498bcd/pkg/config/tls/tls.go#L16)].

[2022-05-10 22:25] frzifus commented on #1879
Seems this line was causing the issue:
https://github.com/jaegertracing/jaeger/pull/3564/files#diff-24f34a75ab1f6765a63e2361744c174c109053d88e449ce503371a4ae37b7fb1R84

But its already fixed in:
https://github.com/jaegertracing/jaeger/pull/3030/files#diff-24f34a75ab1f6765a63e2361744c174c109053d88e449ce503371a4ae37b7fb1R98

[2022-05-11 03:14] rubenvp8510 commented on #1702
Not really, it is filled with the value of https://github.com/jaegertracing/jaeger-operator/blob/main/versions.txt#L7 IIRC

[2022-05-11 08:16] iblancasa commented on #1814
I think we can close this task /cc @rubenvp8510

[2022-05-11 10:59] iblancasa opened #1881 "Update Kind version to 0.13.0 and run the E2E tests in Kubernetes 1.24"
## Requirement - what kind of business use case are you trying to solve?
A new [kind](https://github.com/kubernetes-sigs/kind/releases/tag/v0.13.0) version was just released. That allow us to use Kubernetes 1.24 for our E2E tests.

[2022-05-11 11:52] frzifus commented on #1644
yes, every change should lead to an reevaluation.

[2022-05-11 13:37] #1881 closed

[2022-05-11 17:13] #1855 closed

[2022-05-11 17:13] #1814 closed

[2022-05-11 17:51] #1868 closed

[2022-05-13 10:24] moijes12 commented on #469
I am still seeing this issue with my setup. I see the below log :
[code]

[2022-05-13 11:05] iblancasa opened #1886 "Add a check in the E2E tests to ensure #1702 is not repeated"
## Requirement - what kind of business use case are you trying to solve?
Add a check to our E2E tests to ensure the version is reported properly. #1702

[2022-05-17 08:42] morningspace commented on #1879
I see a similar issue when deploy jaeger on OpenShift. I was not able to start jaeger pod w/ the following error in pod logs:

[code]

Any idea to work around this issue? @frzifus

[2022-05-17 08:55] frzifus commented on #1879
hi @morningspace, which version are you using?

[2022-05-17 10:33] morningspace commented on #1879
@frzifus I'm using 1.33.0.

[2022-05-17 12:07] AlKapkone commented on #1617
+
I've got the same issue.

[2022-05-17 12:33] frzifus commented on #1879
mh.. makes sense. Its caused by a line that sets `` as argument.  Since its in Jaeger 1.33.0 you could try to specify the flag:
[code]
Alternatives would be to install [RHOSDT 2.3](https://docs.openshift.com/container-platform/4.9/distr_tracing/distr_tracing_arch/distr-tracing-architecture.html). It is based on jaeger 1.30 or wait for the next release of 1.34. (I am working on that right now and i

[2022-05-17 14:50] morningspace commented on #1879
Thanks @frzifus for your time and looking forward to the v1.34.0 release. For the workaround, just to confirm, where to find the place to specify the flag, is it the jaegertracing.io/v1/jaeger CR or the deployment w/ the container args?

[2022-05-17 22:37] frzifus commented on #1879
It needs to be defined in the JaegerCR. The openshift TLS config is defined [here](https://github.com/jaegertracing/jaeger-operator/blob/06bcef636327ef490609b999b8e5585a4f498bcd/pkg/config/tls/tls.go#L39).
I assume it should look like this (untested):
[code]

[2022-05-17 22:57] #1879 closed

[2022-05-18 01:01] morningspace commented on #1879
Thanks @frzifus , wonder when 1.34.0 will be released. I see your fix has been merged.

I tried changing the deployment and it will be reverted after a while, so I tried the Jaeger CR as you shared above, but it looks it does not apply the change to the corresponding pod. Probably there is something I missed.

<img width="969" alt="image" src="https://user-images.githubusercontent.com/16119920/168

[2022-05-18 07:33] frzifus commented on #1879
Do you looks still show the same output that? like `... cipher suite  '' not supported ...`

Depending on your source when https://github.com/redhat-openshift-ecosystem/community-operators-prod/pull/1217 or https://github.com/k8s-operatorhub/community-operators/pull/1234 are processed :)

[2022-05-18 15:47] frzifus commented on #1879
@morningspace its out. :+1:

[2022-05-19 00:35] morningspace commented on #1879
Bravo! Thanks @frzifus !

[2022-05-19 19:57] tide34 opened #1894 "Additional info in documentation"

[2022-05-20 09:02] tide34 commented on #1894
I think it's impossible to start jaeger-operator in not cluster-wide mode when follow steps in documention.

[2022-05-23 07:22] jicki opened #1895 "ERROR controller-runtime.manager.controller.deployment Reconciler error"
**Describe the bug**
A clear and concise description of what the bug is.

**Version (please complete the following information):**
 - Jaeger version: [e.g. 1.8] 1.30.0
 - Deployment: [e.g. bare metal, Docker, Kubernetes, ...]  kubernetes

**What troubleshooting steps did you try?**
Try to follow https://www.jaegertracing.io/docs/latest/troubleshooting/ and describe how far you were able to progres

[2022-05-23 10:05] arushi09-hub commented on #1165
Hi @jpkrohling I think i am also stuck in the same issue. Tried out the process in the similar manner as you presented it down. But I am also still not able to see my application on the UI. I have checked the jaeger-operator logs which earlier showed me some error of "Operation Cannot be fulfilled on deployments" But now after making deployment and  deploying jaeger instances in the same namespace

[2022-05-23 10:13] arushi09-hub commented on #1648
I am also having the same error. I am using the very latest version of Jaeger-operator which is 1.34. Error which i am getting looks like

1.6532994235610714e+09  ERROR   controller.jaeger       Reconciler error        {"reconciler group": "jaegertracing.io", "reconciler kind": "Jaeger", "name": "jaeger", "namespace": "observability", "error": "Operation cannot be fulfilled on deployments.apps \"m

[2022-05-23 11:06] Avers90 commented on #1617
I can't testing it now. But i think u can close this issue.

[2022-05-24 09:41] loelu opened #1896 "es-index-cleaner does not pass TLS flags"
**Describe the bug**
Since v1.34.0 Jaeger the `tls.enabled=true` flag is mandatory if other `tls.*` flags are used: https://github.com/jaegertracing/jaeger/pull/3030
But the Operator does not seem to pass the `tls.enabled` flag from the es config to the es-index-cleaner CronJob

**To Reproduce**
Steps to reproduce the behavior:
1. Create Jaeger instance with a secured connection to Elasticsearch
[

[2022-05-24 09:45] frzifus commented on #1896
hi, could you please share the output of `kubectl describe pod jaeger-instance1-es-index-cleaner-1653346500-9zsp2` ?

[2022-05-24 10:12] arushi09-hub commented on #1648
How will a webhook mutator be used here? I think I am not aware of it, of how it will be used.

[2022-05-24 10:13] frzifus commented on #1648
Does the error message show an effect? My guess is, when a deployment is created, it passes through the provided webhook to modify the pod spec.
if now a Jaeger instance is created, updated or removed in parallel, the reconciler notices that this deployment needs an update. To realize this update the deployment specification is extended with an annotation. The error message appears because the web

[2022-05-24 10:22] frzifus commented on #1648
Probably we can ignore this error and simply trigger the Jaeger reconciler again to be on the safe side.

[2022-05-24 10:34] arushi09-hub commented on #1648
What command can I use to trigger the reconciler again?

[2022-05-24 10:38] arushi09-hub commented on #1648
I am unable to see this service on my Jaeger UI which is properly up and running and shows the jaegery-query service also. The pods were perfectly running still i could not see it on the UI. Went through the logs of jaeger-operator and saw this error over here. Assumed that it can be because this error.

[2022-05-24 10:55] loelu commented on #1896
`Name:         jaeger-instance1-es-index-cleaner-1653346500-9zsp2
Namespace:    instance1
Priority:     0
Node:         79462fd7-0bfb-4b78-9436-7b8295881783/11.0.83.5
Start Time:   Tue, 24 May 2022 00:55:16 +0200
Labels:       app=jaeger
              app.kubernetes.io/component=cronjob-es-index-cleaner
              app.kubernetes.io/instance=jaeger-instance1
              app.kubernetes.io/manag

[2022-05-24 11:36] frzifus commented on #1895
I think its the same as https://github.com/jaegertracing/jaeger-operator/issues/1648

[2022-05-24 11:39] frzifus commented on #1648
Its done automatically. No action need.

I assume there is no correlation. But i will look into it.

[2022-05-24 11:51] tide34 commented on #1894
@yurishkuro hello. Will anyone help solve it?

[2022-05-24 12:32] rblaine95 opened #1899 "Jaeger Ingester CrashLoop - Invalid Memory Address"
**Describe the bug**
Jaeger Ingester starts up and then crashes while starting handlers for Kafka partitions:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Jaeger in Streaming mode pointing to Kafka (`2.8.1`) and OpenSearch (`1.2.2`) (see yaml manifest below)
2. Everything starts up without issue except Jaeger Ingester

**Expected behavior**
Jaeger Ingester should start up wi

[2022-05-24 12:39] frzifus commented on #1896
Thanks for reporting, iam on it.

[2022-05-24 12:41] loelu commented on #1896
Don't know if it matters, but the instance was updated from 1.33 to 1.34. But describing the jaeger resource shows that the parameters are set correctly for es, so I don't think it's the cause.

[2022-05-24 12:42] frzifus commented on #1896
I think i know what causes the issue. Let my quickly test few things and i share my thesis.

[2022-05-24 13:02] frzifus commented on #1896
**Summary**
As far as I understand there is no flag --es.tls but only `--es.tls.*`.
So probably we only need to change the name of the env variable from `{flag: "es.tls", envVar: "ES_TLS"}` to `{flag: "es.tls.enabled", envVar: "ES_TLS_ENABLED"}`.

Let's see if this solves the problem. :flamingo:

cc @iblancasa

**Details**

It doesnt contain any `Args` entry. In the package itself the assignment o

[2022-05-24 13:15] frzifus commented on #1894
@rubenvp8510 Do you have experience with it?

[2022-05-24 15:17] frzifus commented on #1899
hi @rblaine95 let me point you here: https://github.com/jaegertracing/jaeger/issues/3578

[2022-05-24 15:26] rblaine95 commented on #1899
Thank you @frzifus, I'll close this issue as a duplicate of https://github.com/jaegertracing/jaeger/issues/3578

[2022-05-24 15:26] #1899 closed

[2022-05-24 16:55] frzifus commented on #1829
@tirelibirefe can we close this issue?

[2022-05-25 07:27] tirelibirefe commented on #1829
yes, sure, thank you.
/close

[2022-05-25 08:40] rblaine95 commented on #1899
Just want to leave a quick update:

Luckily this was identified in our Dev cluster, so we could roll out the `1.34` fix in Prod before anything went sideways.
Also, it's Dev, nothing very important in there, so we just scaled jaeger down to zero, deleted the kafka topic, and then scaled back up.

Thank you for directing me to the other issue @frzifus ❤️

[2022-05-25 14:10] frzifus commented on #1829
oh i think you need to press the button :face_exhaling:

or can you close it @rubenvp8510 @pavolloffay ? :)

[2022-05-26 00:21] frzifus commented on #1617
@AlKapkone can you verify it?

[2022-05-26 02:08] jicki opened #1905 "failed to apply the changes Kind "Ingress" in version networking.k8s.io/v1"
**Describe the bug**
A clear and concise description of what the bug is.

**Version (please complete the following information):**
 - OS: [e.g. Linux]
 - Jaeger version: [e.g. 1.8]  1.34.1
 - Deployment: [e.g. bare metal, Docker, Kubernetes, ...]   kubernetes version 1.17.x

**What troubleshooting steps did you try?**
Try to follow https://www.jaegertracing.io/docs/latest/troubleshooting/ and desc

[2022-05-26 02:27] #1905 closed

[2022-05-27 04:02] luohua13 commented on #1422
Hi @jpkrohling @dimitraz , I'll start working on this right away :)

[2022-05-27 08:58] tide34 commented on #1894
no one help

[2022-05-28 16:18] rubenvp8510 commented on #1894
Let me try follow your steps, and will back to you with more information, we might need to update the documentation.

[2022-05-28 16:44] rubenvp8510 commented on #1894
Could you attach your manifest yaml file?

[2022-05-28 21:43] rubenvp8510 commented on #1894
Ok I tried to install it on restricted mode (only watching observability namespace) and it works for me.

A couple of points you can check. See if the Roles and RoleBindings are created in the respective namespace. I was able to reproduce the issue with the following command:

`kubectl apply -f manifest.yaml`

But if I do this:
`kubectl apply -f manifest.yaml -n observability`

The error of the na

[2022-05-29 07:25] tide34 commented on #1894
Steps (use minikube):
1) install cert-manager v1.6.3 (follow [this](https://cert-manager.io/v1.6-docs/installation/kubectl/#steps) guide)
2) download [jaeger-operator](https://github.com/jaegertracing/jaeger-operator/releases/download/v1.34.0/jaeger-operator.yaml) manifest (from [documentation](https://www.jaegertracing.io/docs/1.34/operator/#installing-the-operator-on-kubernetes))
3) as documenta

[2022-05-29 09:25] tide34 commented on #1894
@rubenvp8510 can you try to install jaeger-operator in mode, when loot for jaeger CR in not observability namespace

[2022-05-29 09:44] tide34 commented on #1894
apply manifest from your post above and see in log that jaeger-operator run in cluster wide mode.
![image](https://user-images.githubusercontent.com/49846209/170861901-2a44f657-1df7-44e0-a37b-b352a51c4f3a.png)

[2022-05-29 15:59] rubenvp8510 commented on #1894
The log line:
`"Consider running the operator in a cluster-wide scope for extra features`

Is normal, it is only indicating that some features are not present on the namespace scoped operator. I'll check your manifest and see if I can reproduce your error.

[2022-05-29 16:24] tide34 commented on #1894
About log ok, i undestand.
Wait for your answer

[2022-05-29 16:56] rubenvp8510 commented on #1894
I see the problem, Indeed there is a regression here!

The namespace controller should not be enabled when the operator is not running in cluster wide mode. I'm sending a PR to fix this. hope we can do a minor release this week.

Thanks for reporting.

[2022-05-29 17:13] tide34 commented on #1894
Great, we have found issue. Yhanks for your work. I will look forward to closing PR.

what about that question?
4. create [this](https://github.com/tide34/jaeger-operator/blob/main/additional.yaml) manifest in namespace app-profile (documentation [link](https://www.jaegertracing.io/docs/1.34/operator/#install-modes). I think that in documentation absent manifest of role jaeger-operator in namespac

[2022-05-29 17:39] #1786 closed

[2022-05-29 17:59] rubenvp8510 commented on #1894
About point 4, wondering why do you need that?  I think the reason is that you are trying to apply the manifest in the observability namespace:  `kubectl apply -f jaeger-operator.yaml -n observability` instead you should apply it on your own namespace: `kubectl apply -f jaeger-operator.yaml -n app-profile`. (But you need to change all references to observability on the manifest)

And may be we nee

[2022-05-29 19:03] tide34 commented on #1894
i want to deploy jaeger-operator in observability manifest and watch for jaeger CR in app-profile namespace. As documentaion [said](https://www.jaegertracing.io/docs/1.34/operator/#install-modes):

`It is possible to have the Jaeger Operator running in a given namespace (like, observability) and manage Jaeger resources in another (like, myproject).`

I want to use this mode. After reading document

[2022-05-29 19:41] rubenvp8510 commented on #1894
Aaa sorry I misunderstood a little bit your scenario, yeah in that case we might want to add a note to the documentation. I'll create the issue and the PR tomorrow :)

[2022-05-30 04:55] tide34 commented on #1894
I will close the issue when check that all work correctly and pod of jaeger-operator don't restarts

[2022-05-30 05:10] jkandasa commented on #1870
@frzifus root cause for this issue, we have introduced extra match selector label in deployment of the recent build. As per the k8s doc, Deployment's label selector is immutable

#### new selector label:
[code]
#### k8s doc
![image](https://user-images.githubusercontent.com/1004403/170920883-0e0fedce-42cb-4646-8165-77525a4ac990.png)
Source: https://kubernetes.io/docs/concepts/workloads/controllers

[2022-05-30 07:43] frzifus commented on #1870
But how do you add more labels via operator sdk? Maybe we want to add more common labels in the future.

I expected that a deployment is replaced. Is there an csv option to overwrite deployments?

Found this in `kubectl`:
[code]

[2022-05-30 10:36] tide34 commented on #1894
@rubenvp8510 hello. Please, don't forget create PR

[2022-05-30 10:50] jkandasa opened #1916 "Jaeger instance upgrade with elasticsearch instance failed in v1.34"
**Describe the bug**
jaeger instance upgrade failed. version: `v1.30` to `v1.34`

Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install jaeger-operator v1.30
2. deploy jaeger instance with self provision Elasticsearch
3. Upgrade the jaeger-operator to v1.34

**Expected behavior**
For some reason tried to delete the elasticsearch instance second time.
We can ignore the `not fo

[2022-05-30 13:47] jkandasa commented on #1870
@frzifus I am fine with removing the label

[2022-05-30 13:48] rubenvp8510 commented on #1870
I'm fine with removing the label too.

[2022-05-30 13:49] frzifus commented on #1870
Would like to briefly check if the problem also occurs with olm too. If not, we should extend the documentation that `kubectl apply ... --overwrite ...` is needed.

[2022-05-30 14:38] rubenvp8510 commented on #1894
@tide34 I created the first PR: https://github.com/jaegertracing/jaeger-operator/pull/1914 here, I will create a new one on the docu repo to improve it for the use case you mention.

[2022-05-30 14:53] rubenvp8510 opened #1919 "Namespace controller try to watch on non-cluster wide mode"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install jaeger operator in non-cluster wide mode,  (use this manifest https://github.com/jaegertracing/jaeger-operator/files/8792211/jaeger-operator.txt)
2.See error logs like the attached screen
![170862002-83c4c8ad-f5a1-432d-9266-31d30174834d](https://user-images.

[2022-05-30 16:42] #1886 closed

[2022-05-31 00:45] #1870 closed

[2022-05-31 07:50] avishefi commented on #1859
Helm chart PR: https://github.com/jaegertracing/helm-charts/pull/368

[2022-05-31 07:54] avishefi opened #1922 "Make cert-manager dependency optional"
## Requirement - what kind of business use case are you trying to solve?

Remove non-strict dependency on cert-manager as the requirement is for a TLS certificate and not strictly having cert-manager as a dependency.

## Proposal - what do you suggest to solve the problem or improve the existing situation?

Make cert-manager kustomize resources optional, and allow disabling them with a value and p

[2022-05-31 10:53] iblancasa opened #1923 "Jaeger Operator version is not set properly in the container image"
**Describe the bug**
Jaeger Operator version is not correct in Docker image.

**To Reproduce**
Steps to reproduce the behavior in the Docker image:
1. Build the image `make docker`
2. Run the `version` command:
[code]

**Expected behavior**
The version must be shown in the `jaeger-operator` field.

[2022-05-31 12:51] frzifus commented on #1752
Hi @sanasz91mdev, could you share your operator logs please?

[2022-05-31 14:52] #1923 closed

[2022-06-01 13:16] Snehil03 opened #1927 "documents are not up to date for installing operator"
https://www.jaegertracing.io/docs/1.35/operator/#installing-the-operator-on-kubernetes

document is not up to date as latest operator available is 1.34.1

[2022-06-01 22:27] iblancasa commented on #1927
Actually the problem is the Jaeger documentation is generated independently of this repository. The documentation is hosted in [this repository](https://github.com/jaegertracing/documentation). When a new Jaeger release is done, the texts are updated and the URL to the Jaeger Operator manifest is modified.

Documentation is pointing to a Jaeger Operator manifest that was not created yet.

[2022-06-03 05:09] tide34 commented on #1894
@rubenvp8510 Hello. When are you planning to create release with fix?

[2022-06-03 15:16] frzifus opened #1932 "es-rollover doesnt work on openshift"
**Describe the bug**
Missing permission on openshift.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Avoid CrashLoopBackOff.

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger version: 1.30 or higher
 - Deployment: Openshift

**Additional context**
[code]

[code]

[2022-06-03 15:43] uberscott opened #1934 "Installation instructions link to non-existent Operator yaml"
**Bad Install Link**
The README.md references [THIS](https://www.jaegertracing.io/docs/1.35/operator/) page used to install the jaeger-operator: (https://www.jaegertracing.io/docs/1.35/operator/)[https://www.jaegertracing.io/docs/1.35/operator/]

Which in turn shows this command to install the operator:
[code]
Notice that this link does not resolve to anything: [kubectl create -f https://github.co

[2022-06-03 15:52] frzifus commented on #1934
Duplicate https://github.com/jaegertracing/jaeger-operator/issues/1927

[2022-06-03 21:56] rubenvp8510 commented on #1934
Yeah, the thing here is that we haven't release yet jaeger operator 1.35.0

[2022-06-06 10:35] tide34 commented on #1894
@rubenvp8510 ?

[2022-06-06 19:36] tide34 commented on #1894
Maybe you have mistake in previous message and wrote about version 1.35?
Can you create a patch release in 1.34.x? I am really looking forward it)

[2022-06-06 19:42] tide34 commented on #1894
Have you decided the release date of 1.35?

[2022-06-07 03:58] #1422 closed

[2022-06-07 10:28] ssharma2089 opened #1941 "Is there a way to add agent service in production strategy"
When we want to install as a production strategy with elasticsearch as the storage type. Except for the agent service, it only deploys the collector, query, and associated services. I am unable to define an agent address in Traefik setup to trace the application due to the jaeger agent.
I tried to define the agent service as a different deployment under the same namespace, however it remained for

[2022-06-07 13:50] iblancasa commented on #1934
I create an issue in the Jaeger documentation repository: https://github.com/jaegertracing/documentation/issues/580. @rubenvp8510, could you close this issue?

[2022-06-07 13:50] iblancasa commented on #1927
I create an issue in the Jaeger documentation repository: https://github.com/jaegertracing/documentation/issues/580. @rubenvp8510, could you close this issue?

[2022-06-07 15:11] rubenvp8510 commented on #1934
Closing,  moving to documentation repository

[2022-06-07 15:11] #1934 closed

[2022-06-08 07:03] pavolloffay commented on #1941
This is expected the production strategy deploys only collector and query. The agent can be deployed as a sidecar or daemonset

 * https://www.jaegertracing.io/docs/1.35/operator/#installing-the-agent-as-daemonset
 * https://www.jaegertracing.io/docs/1.35/operator/#auto-injecting-jaeger-agent-sidecars

Please re-open if there are still issues.

[2022-06-08 07:03] #1941 closed

[2022-06-08 08:54] ssharma2089 commented on #1941
@pavolloffay Thank you for clarifying.
But why does the agent service object disappear after a few hours? I have been unable to get trace result due to your disappearing.
When I choose Traefik service in the Jaeger UI and click on Find Traces, an error appears **"no trace result. Try another query "**
It will work if I create an agent service and then click on find trace in UI.

Below is the deplo

[2022-06-08 13:03] luohua13 opened #1943 "Restart component when changing the es secret or kafka secret"
When using es secret or kafka secret for jaeger, I must restart component manual that enforce new username and password. So I will wirte code in jaeger-operator to solve the painful feel.

[2022-06-08 15:02] #1943 closed, assigned to nobody

[2022-06-08 15:03] luohua13 commented on #1943
Add UUID to JaegerCommonSpec is good enough!

[2022-06-09 10:44] soenkeliebau opened #1945 "Trying to install jaeger-operator version 1.35.0 doesn't work due to the release not being present"
**Describe the bug**
In the latest version of the documentation the [installation section](https://www.jaegertracing.io/docs/1.35/operator/#installing-the-operator-on-kubernetes) states to run the following command to install the operator:

`kubectl create -f https://github.com/jaegertracing/jaeger-operator/releases/download/v1.35.0/jaeger-operator.yaml -n observability`

**To Reproduce**
Steps to

[2022-06-09 11:01] frzifus commented on #1945
Duplicate https://github.com/jaegertracing/jaeger-operator/issues/1927, https://github.com/jaegertracing/documentation/issues/580

[2022-06-09 11:54] #1932 closed

[2022-06-09 12:54] AhHa45 commented on #1617
I would like to understand why a span is too large?

[2022-06-09 13:22] frzifus opened #1946 "production es upgrade from 1.30 to 1.31 doesnt work"
**Describe the bug**
After upgrading a simple production instance with elasticsearch, es doesnt come up again.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
ES boots up.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger version: 1.30 to 1.31 or higher
 - D

[2022-06-09 14:03] frzifus commented on #1946
ok seems to be fixed in here: https://github.com/jaegertracing/jaeger-operator/pull/1913

[2022-06-09 14:13] frzifus commented on #1946
i tried to upgrade to the latest commit https://github.com/jaegertracing/jaeger-operator/commit/7303b94ae3a3162039817df27810e391c3d057f1. And saw this in the log messages.
[code]

[2022-06-09 14:20] frzifus commented on #1946
I will close this for now and reopen when iam wrong.

[2022-06-09 14:22] soenkeliebau commented on #1945
Apologies, I'll close this.

[2022-06-09 14:22] #1945 closed

[2022-06-10 09:05] frzifus commented on #1894
Hi @tide34, i will work on 1.35 next week.

[2022-06-17 15:02] frzifus opened #1952 "oauth-proxy cannot be started after setting sar options"
**Describe the bug**
The Jaeger Operator is not working on OpenShift when setting some options in order to allow accessing the Jaeger Query REST API.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new namespace: kubectl create namespace testing
2. Deploy this Jaeger CRD in the created namespace:
[code]

**Version (please complete the following information):**
 - OS: Linux
 - Jaeger

[2022-06-19 09:57] tide34 commented on #1894
Hi @frzifus. Please give some info about release date.

[2022-06-19 10:56] frzifus commented on #1894
probably tomorrow https://github.com/jaegertracing/jaeger-operator/pull/1949

[2022-06-19 11:07] tide34 commented on #1894
Hi, @rubenvp8510. Have you already created issue for documention impruvment? I can't find issue in respository with docs
![image](https://user-images.githubusercontent.com/49846209/174477927-5ed0f079-3b95-40aa-b0d5-694c72042379.png)

[2022-06-20 14:54] #1952 closed

[2022-06-21 09:18] iblancasa opened #1958 "es-multiinstance E2E test expects kuttl in the PATH"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure `which kuttl` fails
2. Run `es-streaming-autoprovisioned` E2E test

This error will be printed:
[code]

**Expected behavior**
The test should not fail if `kuttl` is not in the `PATH` since it is downloaded to the `bin` folder.

**Workaround**
Donwload `kuttl` to a f

[2022-06-21 19:23] #1927 closed

[2022-06-23 22:25] #1096 closed

[2022-06-23 22:25] #1534 closed

[2022-06-23 22:58] #1287 closed

[2022-06-23 23:01] #1620 closed

[2022-06-23 23:11] frzifus commented on #1558
@aravindvs what issue do you try to solve? And what exactly do you mean by an installation? If the injections annotation is not specified on a deployment or namespace, e.g. the agent image will never be downloaded.

I will close this issue. If this still a thing, please reopen. :+1:

[2022-06-23 23:11] #1558 closed

[2022-06-24 11:15] #1539 closed

[2022-06-24 11:18] frzifus commented on #1202
Liveness probe got added here: https://github.com/jaegertracing/jaeger-operator/pull/1605

[2022-06-27 08:48] frzifus opened #1962 "Upgrade sigs.k8s.io/{controller-runtime,apimachinery,api} fails"
A few Dependabot prs are failing by the same reason during a go mod update.

---

- [ ] https://github.com/jaegertracing/jaeger-operator/pull/1959

[code]

Logs: https://github.com/jaegertracing/jaeger-operator/runs/7032488238?check_suite_focus=true#step:6:115

---

- [ ] https://github.com/jaegertracing/jaeger-operator/pull/1954

[code]

Logs: https://github.com/jaegertracing/jaeger-operator/runs

[2022-06-27 09:23] klubi opened #1963 "Can't deploy Jaeger on AWS EKS using Calico"
**Describe the bug**
Jaeger deployment on AWS EKS running Calico CNI fails with below error:

[code]

**Expected behavior**
Jaeger instance deploys successfully.

**Additional context**
I faced similar issue installing jaeger-operator. Fix was on [cert-manager](https://cert-manager.io/docs/installation/compatibility/#aws-eks) side, I had to set `hostNetwork: true` on deployment.

[2022-06-27 10:01] klubi commented on #1963
I used:
[code]
got
[code]

[2022-06-27 10:06] klubi commented on #1963
And yes, link you've sent @frzifus seems to describe what I see.

Question is... where to set `hostNetwork`, and if it's possible to change port used by webhook in case I run into conflicts.
I did run into conflict with cert-manager, but switching ports on that one was very easy.

[2022-06-27 11:07] iblancasa opened #1964 "Jaeger Operator version from upstream image is not set"
**Describe the bug**
Similar situation described in #1923 but for the published images.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the `version` command from the latest Jaeger Operator container image:
[code]

[2022-06-27 11:07] iblancasa commented on #1964
Fixed as part of #1925

[2022-06-27 11:22] pavolloffay opened #1965 "Migrate autoscaling v2beta2 to v2 for Kubernetes 1.26"
https://kubernetes.io/docs/reference/using-api/deprecation-guide/#horizontalpodautoscaler-v126

As we need to support k8s 1.19 I would suggest keep using v2beta2 for k8s 1.19-1.22 and then use v2 on newer versions.

[2022-06-27 11:22] pavolloffay commented on #1965
Linking related issue in OTEL operator https://github.com/open-telemetry/opentelemetry-operator/issues/943

[2022-06-27 12:46] klubi commented on #1963
Ok... I was able to make it work.
Had to:
- add `hostNetwork: true` to operator deployment spec
- change health port from 8081 to something else (I used 10270)
- change kube-rbac-proxy secure port from 8443 to something else (I used 10280)

I had to leave webhook listener port on 9443 because I wasn't able to find a flag that would allow operator to listen on different port than 9443. I was lucky

[2022-06-27 14:26] iblancasa opened #1966 "Upgrade otel packages to the latest version"
## Requirement - what kind of business use case are you trying to solve?
Upgrade the otel dependency packages to the latest version.

Current used version of the otel packages is v0.20.0. This version was published Apr 23, 2021. We should upgrade this dependency to the latest version (v1.7.0 when this issue was opened)

[2022-06-27 16:25] iblancasa opened #1968 "autoscale E2E tests are flaky because the number of replicas is not the expected one"
Those tests depend on the number of replicas. Sometimes, the platform is strong enough to start less replicas than 5 (the expected ones).

We should include some logic to avoid this kind of random issues but check the autoscalability works properly.

[2022-06-27 16:25] iblancasa commented on #1968
@frzifus could you assign this issue to me? Thanks!

[2022-06-27 17:26] frzifus commented on #1968
Sure :)

[2022-06-27 20:24] frzifus commented on #1966
Maybe that [reference](https://github.com/frzifus/jaeger-otel-test/commit/96a352b4a181ff43213c7ffc578b39ca1cfe2451) can help.

[2022-06-28 08:39] #1958 closed

[2022-06-29 07:48] #1968 closed

[2022-06-30 06:50] #1962 closed

[2022-06-30 13:31] tyki6 opened #1977 "Jaeger + OpenTelemetry readiness failed"
ello, Can i Have some help i'm struggle with this problem
Regards
**Describe the bug**
jaeger-otel-collector running but don"t be in ready state,

**reproduce**
[code]

**Expected behavior**
state; Running Ready True
**log**
[code]

**Version (please complete the following information):**
 - OS: [e.g. Linux]
 - Jaeger version: 2.32.2
 - Jaeger helm chart version: 1.34.1
 - Deployment:K8s version 1

[2022-07-01 12:46] #1559 closed

[2022-07-01 13:35] gecube commented on #1048
Good day! Any progress with the issue? My employer also wants to publish collector via ingress and it will be very nice to achieve it with proper configuration of `kind: "Jaeger"`

[2022-07-03 09:23] nikfot commented on #1048
Hi! In fact I wen along with implementing some code on loca branch, but afterwards priorities changed so I abandonded it. I have intentions on finishing but I am not sure when. If you'd like to take it feel free.

[2022-07-04 17:19] oxeye-yuval opened #1980 "Jaeger Ingester does not monitor errors from returned Opensearch"
**Describe the bug**
When using `jaeger-ingester` along with `opensearch`, `opensearch` could possibly fail to create an index, causing the following log to be printed out of the `jaeger-ingester`:
[code]

The problem in this case is that the `jaeger_bulk_index_errors_total` metric doesn't increase it's count.
This is due to the fact that the access to opensearch did not return any errors in it by

[2022-07-05 10:51] sta-szek opened #1982 "Operation cannot be fulfilled on horizontalpodautoscalers.autoscaling \"jaeger-operator-jaeger-collector\" / failed to apply the changes"
**Describe the bug**
I got errors:

	time="2022-07-04T10:28:54Z" level=error msg="failed to apply the changes" error="Operation cannot be fulfilled on deployments.apps \"jaeger-operator-jaeger-query\": the object has been modified; please apply your changes to the latest version and try again" execution="2022-07-04 10:28:53.755169567 +0000 UTC" instance=jaeger-operator-jaeger namespace=monitoring

[2022-07-05 10:56] sta-szek opened #1983 "fatal error: concurrent map read and map write"
**Describe the bug**
The error happens sometimes, i guess some process triggers that.
Please ignore `This field was missing!!!!!!!!` as it is our internal message.

Please find attached file with surrouding logs

[On_demand_report_2022-07-05T10_54_28.180Z_d7538140-fc50-11ec-84ba-cf7f04fb0981.csv](https://github.com/jaegertracing/jaeger-operator/files/9045750/On_demand_report_2022-07-05T10_54_28.18

[2022-07-07 09:28] #1977 closed

[2022-07-08 09:39] frzifus commented on #1983
hi @sta-szek what Operator version are you running?

[2022-07-08 09:46] frzifus commented on #1982
HI @sta-szek, does it lead to weird behavior or is it just the message you see?
ctx: https://github.com/jaegertracing/jaeger-operator/issues/1648#issuecomment-1135715403

[2022-07-08 16:29] iblancasa opened #1990 "[Bug]: E2E Autoscale tests are still flaky"
### What happened?

Autoscale tests are still flaky. Sometimes, the HPA doesn't increase the number of collector or ingester replicas.

### Steps to reproduce

It is not easy to reproduce. It happens randomly in the PRs.

### Expected behavior

The E2E autoscale tests pass always.

[2022-07-08 16:39] iblancasa commented on #1990
The problem is the timeout is not high enough. The HPA takes long time sometimes to decide to scale. This is specially determined by the resources used by the cluster (which makes it more difficult to reproduce in local machines).

I think there are some options:
* Increase the timeout for those test suites containing autoscale tests
* Create a new test suite with all the autoscale tests and use a

[2022-07-12 14:08] iblancasa commented on #276
**Update**.

Covered scenarios right now:

- [x] *Simple replica size update -- deploy a simple prod (Elasticsearch) with the collector's replica size to 2, check that spans can be stored/retrieved, update the replica size to 3, wait for the available replica size to be 3, and check again that spans can be stored/retrieved*: covered in the `elasticsearch` E2E test suite.
- [x] *Same as above, but

[2022-07-13 16:07] iblancasa commented on #1817
Where is the `logr.Logger wrapper` located? I'm not able to find it

[2022-07-19 11:48] #1990 closed

[2022-07-19 14:05] iblancasa opened #2005 "[Feature]: create a GitHub Actions job summary"
### Requirement

It would be nice if we can add a job summary to the GitHub Actions workflow results.
Everything is explained in [this post created by GitHub](https://github.blog/2022-05-09-supercharging-github-actions-with-job-summaries/).

### Problem

It would be nice if we can add a job summary to the GitHub Actions workflow results.
Everything is explained in [this post created by GitHub](htt

[2022-07-26 16:30] ksponomarev opened #2011 "[Feature]: Customization es-rollover-create-mapping job"
### Requirement

Hello
I'm trying to change spec of job es-rollover-create-mapping. There isn't any options for this in
[code]
Could you add options in elasticsearch_dependencies.go, please?
[code]

 I guess like in es_rollover.go
[code]
Thank you

### Problem

Can't change job specs like ImagePullSecrets, ImagePullPolicy, etc.

### Proposal

_No response_

### Open questions

_No response_

[2022-07-27 10:06] #2011 closed

[2022-07-29 08:15] xichengliudui opened #2014 "[Bug]: Update the Jaeger Operator image will automatically update options es"
### What happened?

update `jaeger-operator:1.21.2` -> `jaeger-operator:1.25.0`, then the `/spec/storage/options` config is automatically updated
before
[code]
after
[code]

### Steps to reproduce

1: apply jaeger-operator:1.21.2
2: apply the Jaeger resource that contains the es config
3: update `jaeger-operator:1.21.2` -> `jaeger-operator:1.25.0`
4: watching jaeger-prod-elasticsearch

[code]

###

[2022-07-29 09:35] eakurdyukov commented on #1894
+1  docs looks confusing for me too. Need more examples maybe

[2022-07-29 11:34] iblancasa commented on #2014
Is this affecting the functionality of your system or something?

[2022-07-31 00:23] dankolt commented on #294
It is much simple: entrypoint.sh from docker image is a shell script. So it used JAVA_OPTS env to pass options to java process. You need to pass env variable `JAVA_OPTS` by `extraEnv` param from `values.yaml` like this:
`
spark:
  extraEnv:
    - name: "JAVA_OPTS"
       value: "-Djavax.net.ssl.trustStore=/tls/trust.store -Djavax.net.ssl.trustStorePassword=changeit"`

[2022-08-03 11:42] ksponomarev opened #2016 "[Bug]: Can't use ES_USE_ALIASES with spark-dependencies in jaeger operator"
### What happened?

Hello
I can't enable `ES_USE_ALIASES` with
[code]
for `dependencies`
I think I need it [here](https://github.com/jaegertracing/jaeger-operator/blob/main/pkg/cronjob/spark_dependencies_test.go#L68)

### Steps to reproduce

1. Install jaeger-operator
2. Install jaeger
3. Set `use-aliases: true`
4. Run spark-dependencies job

### Expected behavior

Spark-dependencies use aliases

[2022-08-04 11:18] frzifus opened #2017 "[Feature]: Release 1.37.0"
### Requirement

Jaeger core 1.37.0 has been released https://github.com/jaegertracing/jaeger/releases/tag/v1.37.0.

### Problem

Jaeger Operator 1.37 is documented, but not accessible.

### Proposal

Release the Jaeger-Operator 1.37.0.

### Open questions

_No response_

[2022-08-06 11:41] MdSahil-oss commented on #1966
@iblancasa I'd like to work on this issue.

[2022-08-06 18:20] frzifus commented on #1966
Its yours :)

[2022-08-08 06:12] xichengliudui commented on #2014
Why does the update happen?

[2022-08-08 14:37] iblancasa commented on #2014
The result is the same. It isn't?

[2022-08-10 17:20] avdeevi commented on #2016
I have same problem.
jaegertracing/spark-dependencies  ignore environment variable ES_USE_ALIASES=true

[2022-08-11 14:35] iblancasa opened #2027 "[Bug]: automated container image publication is failing"
### What happened?

Each time a merge is done to `main`, the Jaeger Operator container image is built and publish. It is build properly but it fails to publish:
[code]

[Click here for an execution example](https://github.com/jaegertracing/jaeger-operator/runs/7780182830?check_suite_focus=true)

### Steps to reproduce

1. Merge something to `main`
2. Wait for the GitHub Actions Workflows to be exe

[2022-08-11 15:22] ksponomarev commented on #2016
I fixed this with rebuilding container with `ENV ES_USE_ALIASES=true`
But it's note cool

[2022-08-15 20:44] mjnagel opened #2032 "[Feature]: Support container security context in Jaeger CRD"
### Requirement

In some environments an end user may want to enforce certain policies on all pods running in the cluster, such as requiring `drop: ALL` capabilities set in every container security context.

### Problem

Currently this is not supported in the CRD from what I can tell - while you can modify the pod level security context there is no ability to add a container level security context

[2022-08-16 10:55] iblancasa commented on #2027
Fixed as part of #2029 by @rubenvp8510. Thanks!

[2022-08-16 10:55] #2027 closed

[2022-08-16 18:00] iblancasa commented on #2017
We can close this task https://github.com/jaegertracing/jaeger-operator/releases/tag/v1.37.0

[2022-08-17 07:46] #2017 closed

[2022-08-18 06:57] #2032 closed

[2022-08-18 07:56] #1817 closed

[2022-08-20 15:40] brentmjohnson commented on #2016
not sure if the operator eventually reconciles resources and overwrites this, but you can also patch the cronjob as a workaround like the following:

[code]

[2022-08-22 08:22] avishefi opened #2041 "[Bug]: Missing GRPC port on jaeger-query deployment"
### What happened?

There is no grpc port on the jaeger-query deployment created by the operator using the production strategy.

### Steps to reproduce

1. Create a Jaeger instance
2. There is a grpc-query port 16685 on the jaeger-query service
3. There is no grpc-query port on the jaeger-query deployment and pod

### Expected behavior

There should be a grpc-query port 16685 on jaeger-query

[2022-08-22 22:58] frzifus commented on #2016
Seems the `ES_USE_ALIAS` option is simply ignored. Compare it with `ES_INDEX_PREFIX`.
[code]

Here the v1.37 source.

https://github.com/jaegertracing/jaeger-operator/blob/58f91556e182a4fd929f1abbd0522b1e560e51b3/pkg/cronjob/spark_dependencies.go#L167-L183

---

Would any of you like to work on a patch? :)

[2022-08-24 16:47] iblancasa opened #2052 "[Bug]: Not possible to upgrade k8s.io/api and k8s.io/apimachinery from 0.24.4 to 0.25.0"
### What happened?

The automatic upgrade of k8s.io/api and k8s.io/apimachinery failed when upgrading to 0.25.0. #2048 and #2049

[2022-08-24 16:48] iblancasa commented on #2052
I'll work on this

[2022-08-25 07:15] iblancasa commented on #2052
Closing because it was fixed as part of #2053

[2022-08-25 07:15] #2052 closed

[2022-08-25 13:48] violinorg commented on #927
Having same problem - jaeger-operator v1.36.0. Yesterday was updated along with the cluster components. Previously on v1.35.0 there were no problems. Reverting the version didn't fix the problem

[2022-08-25 19:23] iblancasa commented on #1648
@violinorg, could you provide some log output?

[2022-08-25 22:44] frzifus commented on #2016
@miyunari, are you interested in working on this?

[2022-08-25 22:49] frzifus commented on #1648
Probably the log output is similar to the other reports. Looks like the logging is causing confusion, maybe we should change the reported message and/or only log on debug level.

What do you think?

[2022-08-25 22:51] iblancasa commented on #1648
If it is not raising a real issue...

[2022-08-26 12:59] violinorg commented on #1648
@iblancasa yes of course

[code]

[2022-08-26 13:12] iblancasa commented on #1648
@frzifus I'm not sure but it seems this message is not printed by Jaeger Operator but by the inherit logger.

[2022-08-28 19:14] frzifus commented on #1966
@MdSahil-oss are you still working on #2031 ?

[2022-08-28 19:37] MdSahil-oss commented on #1966
Yes! I have a PR with this Issue

[2022-08-29 07:49] AshutoshNirkhe commented on #1644
@frzifus we have existing user workloads (deployments) that are currently running with jaeger-agent sidecar (with v1.28).
We did upgrade the jaeger operator and jaeger custom resource to v1.34.1. But off course, that didn't trigger user workloads to be updated with new configs added for jaeger sidecar because of this issue.

Then I verified it worked fine for jaeger-query (that also has jaeger-age

[2022-09-02 07:36] JesperBerggren commented on #1096
Hello,

I've been waiting for the PR and I'm excited that it's finally here.
BUT I cannot get the service annotations to work. Can you please let me know what the magic formula is?

I'm using chart version 2.34.0 with the following values file:
[code]

I would expect that the annotation: _networking.istio.io/exportTo: "istio-system"_ would end up on jaeger-query and jaeger-collector as described i

[2022-09-03 19:14] miyunari commented on #2016
yes I would be happy to work on this :)

[2022-09-05 04:51] rhino-harley opened #2057 "[Bug]: Creating jaeger instance fails with service \"jaeger-operator-webhook-service\" not found"
### What happened?

We have a CIT environment that is used for automatically building and deploying of our solution. Jaeger operator and then a Jaeger instance are both part of that deployment. In between each build we remove all of the stuff installed by a previous run so that we start with a 'clean slate'. In our new releases we recently we upgraded the version of jaeger operator that we use fro

[2022-09-05 11:14] JesperBerggren commented on #1096
Never mind.

It's on the Jaeger CRD, of course.

Setting:
[code]
Did the trick!

Thanks for the fix.

Best regards
Jesper Berggren

[2022-09-06 09:10] frzifus commented on #2057
mh.. Could it be caused by the helm chart?

After installing the newer version you should see something like the following in your cluster. Once you uninstall the newer version, the webhooks should be gone. Can you verify this?
[code]

[2022-09-06 12:29] #1965 closed

[2022-09-06 14:21] d3adb5 opened #2059 "[Feature]: Get Cassandra credentials from Secret in Spark Dependencies & Create Schema pods"
### Requirement

In deploying Jaeger with the `production` strategy, using Cassandra for storage, I've noticed that despite pointing to a Secret in the `Jaeger` CRD, the pods created by `*-cassandra-schema-job` and `*-spark-dependencies-*` jobs have the credentials added to them as plain text environment variables.

Users who would've otherwise been unable to read `Secret` objects could retrieve t

[2022-09-06 16:37] #2016 closed

[2022-09-07 01:53] rhino-harley commented on #2057
Yes, it looks like they get left behind:

[code]

[2022-09-07 04:07] rhino-harley commented on #2057
Think this is probably just a limitation with the way helm uninstalls work. Perhaps something that could be documented. To do a complete remove the other option is to use something like:
```helm template | kubectl delete -f -```

[2022-09-07 07:03] iblancasa commented on #1983
I think he is using 1.34.x because the `viper` and `controller-runtime` versions are the same as the ones used for that release.

[2022-09-07 12:48] frzifus commented on #2057
Thats right, i will close this issue then? Could you create an issue on https://github.com/jaegertracing/helm-charts?

[2022-09-15 17:50] giautm opened #2065 "[Feature]: Support for path / pathType in query ingress"
### Requirement

I want able to change the ingress config for the query service to setting `path` to `/` and `pathType` to `Prefix`. I don't have to create the custom ingress for the query service.

### Problem

Currently, I unable to setting `path` and `pathType` for the query ingress.

### Proposal

_No response_

### Open questions

_No response_

[2022-09-16 10:54] whughchen commented on #405
hi I encoutered same issue:

docker image i use.
[code]

when i run following command is no problem:
[code]

but When i change another way(same image version)
it got this error:

[code]

[2022-09-16 11:23] frzifus commented on #2065
Hi @giautm are you interested in contributing this?

[2022-09-16 11:24] giautm commented on #2065
Ofcourse, let's me try. 🖖

[2022-09-16 11:57] frzifus commented on #2065
awesome :)

[2022-09-16 15:30] frzifus opened #2067 "Release Operator v1.38"
Jaeger [v1.38.0](https://github.com/jaegertracing/jaeger/releases/tag/v1.38.0) is released. Lets build/publish the operator.

@rubenvp8510 do you want to take care of it?

[2022-09-22 14:44] #2067 closed

[2022-09-24 09:01] havard024 opened #2076 "[Bug]: Inconsistent logging format"
### What happened?

jaeger operator and jaeger logs are interpreted as errors in our centralised logging system.

Below are four different log lines from the jaeger operator, I've also attached a screenshot from our centralised logging system showing the same
[code]
[code]
[code]
[code]

Below are three different log lines from the jaeger deployment, I've also attached a screenshot from our centra

[2022-09-26 11:01] iblancasa commented on #2076
I checked and are log messages from the `controllerruntime` package. Probably we're not setting properly one logger or something. I'll try to do a deeper research :)

[2022-09-30 12:59] sereneshikari commented on #1894
Yes, I agree the documentation could do a better job of specifying the `Role` spec. In the meantime, I see that the Jaeger team releases a Helm chart for the Jaeger operator (GitHub repo: [helm-charts](https://github.com/jaegertracing/helm-charts)) and they have defined a `Role` Helm template [here](https://github.com/jaegertracing/helm-charts/blob/main/charts/jaeger-operator/templates/role.yaml)

[2022-10-03 02:51] #1202 closed

[2022-10-03 15:38] faust64 opened #2080 "[Bug]:"
### What happened?

Currently, in clusters where I did deploy jaeger-operator, I would find the following Service:

[code]

The selectors for that Service do not target any Pod.

The mutating/validating webhooks deployed by the operator would instead query a jaeger-operator-service Service, which does work.

I suspect that jaeger-operator-webhook-service is a leftover from some previous of jaeger

[2022-10-04 10:56] s9r-5 commented on #1431
I am facing the same issue .

`User "system:serviceaccount:jaeger-operator:jaeger-operator" cannot list resource "namespaces" in API group "" at the cluster scope`

[2022-10-04 11:55] sta-szek commented on #1982
hi @frzifus i just saw your question.
basically it restart the pod in our k8s system - looks like jaeger-operator just die in that case.
its not a big deal, since jaeger-operator is not customer facing service and it is also not jaeger UI itself, so we can just mute alert about pod restart and continue.

anyway, would be good to see why it happens

[2022-10-04 11:59] sta-szek commented on #1983
@frzifus sorry for late response, at the time being we used:

[code]

but the issue also occured with latest:

[code]

two days ago

[2022-10-04 22:33] volmedo commented on #1966
@frzifus @iblancasa I'm looking for projects to contribute to as part of Hacktoberfest 2022. Do you think it would be interesting for me to work on this issue?

[2022-10-05 08:22] frzifus commented on #1966
Hi @volmedo, i cant say if its `interesting`. You will learn a bit about the recent API change. But it would definitely be valuable and shoudnt be too much effort.

[2022-10-05 08:33] volmedo commented on #1966
@frzifus sorry I expressed it badly 😅. What I wanted to say was in the line of it being interesting to the project, so if you say it'd be valuable, that answers my question. I'll work on it!

[2022-10-05 09:27] frzifus opened #2082 "[Feature]: release Jaeger-Operator 1.38.1"
### Requirement

Today Jaeger [1.38.1](https://github.com/jaegertracing/jaeger/releases/tag/v1.38.1) released.

### Problem

Missing a Operator release.

### Proposal

_No response_

### Open questions

_No response_

[2022-10-07 13:38] sereneshikari commented on #1833
Could you consider moving it to the Jaeger documentation website?

[2022-10-09 06:15] willief commented on #1848
try adding port 16685

[code]
  **-p 16685:16685 \**
[code]
WorksForMe     limited testing

[2022-10-10 08:39] sereneshikari opened #2085 "[Bug]: Jaeger operator cannot reconcile in non-cluster-wide mode"
### What happened?

I am trying to install the Jaeger operator in non-cluster-wide mode to watch a specific namespace (its own) but it is unable to reconcile the `Jaeger` custom resources created in the same namespace

### Steps to reproduce

Follow the steps in the [documentation](https://www.jaegertracing.io/docs/1.38/operator/#installing-the-operator-on-kubernetes) to install the Jaeger operato

[2022-10-10 15:52] sereneshikari commented on #2085
I'm not familiar with Go (let alone the SDK and libraries written for K8s operators 😅) but from GitHub searches through the codebase and reading related documentation, here's what I could find...

The `Reconciling Jaeger ...` logs appear to come from here:
https://github.com/jaegertracing/jaeger-operator/blob/5c272f39e2144075e004e5d27e5d2f3eb75f991e/pkg/controller/jaeger/jaeger_controller.go#L71-L

[2022-10-11 11:33] faust64 commented on #2080
anyone maintaining that project?

[2022-10-11 11:39] frzifus commented on #2080
hi @faust64 i will have a more detailed look soon. let me come back to you during the week.

[2022-10-11 11:47] frzifus commented on #2085
Good question. But i found something else. Looking on the error (`failed to get the namespace for the deployment, skipping injection based on namespace annotation	{"namespace": "pf", "error": "Timeout: failed waiting for *v1.Namespace Informer to sync"}`) look, i assume the issue should be somehow here:
https://github.com/jaegertracing/jaeger-operator/blob/5c272f39e2144075e004e5d27e5d2f3eb75f991e/

[2022-10-11 17:20] sereneshikari commented on #2085
Hi @frzifus, thanks for taking a look! I think there are two errors:
1. `ERROR	failed to get the namespace for the deployment, skipping injection based on namespace annotation	{"namespace": "pf", "error": "Timeout: failed waiting for *v1.Namespace Informer to sync"}`
2. `Reconciler error	{"controller": "jaeger", "controllerGroup": "jaegertracing.io", "controllerKind": "Jaeger", "Jaeger": {"name":"

[2022-10-11 18:12] sereneshikari commented on #2085
I also see there a few open GitHub issues that are related to Jaeger operator in non-cluster-wide mode so I'm listing them here for better context on the situation we're dealing with (please note that this list may not be exhaustive):
- #1431
- #929
- jaegertracing/helm-charts#241

[2022-10-11 18:22] erdody opened #2088 "[Bug]: Query Ingress not properly created with streaming strategy"
### What happened?

If you define a path in jaeger query, that path is used for the ingress in deployment strategy == production.
The same doesn't happen if you switch to deployment strategy == streaming.

https://github.com/jaegertracing/jaeger-operator/blob/v1.38.0/pkg/ingress/query.go#L86

### Steps to reproduce

1. Create a Jaeger with production strategy, and set a base path in query. Somethi

[2022-10-12 16:43] faust64 commented on #2080
Thanks!

[2022-10-18 13:42] mjnagel commented on #2082
Would like to see this as well! More general question - it seems to generally be the case that you should be using equivalent versions of Jaeger and the operator. Is that a strict rule, or do you just need to match minor versions?

[2022-10-19 10:04] frzifus commented on #171
I agree with @esnible. Could you create another issue to discuss the behavior?

Iam closing this issue since, the sidecar injection moved to a webhook admission controller in https://github.com/jaegertracing/jaeger-operator/pull/1828.

[2022-10-19 10:04] #171 closed

[2022-10-20 10:42] sereneshikari commented on #2082
Hey @mjnagel, I think [this section](https://github.com/jaegertracing/jaeger-operator/blob/b003836ceeec14a313e1e528316efd0403a0b74a/README.md#jaeger-operator-vs-jaeger) of the README answers your question

[2022-10-20 11:54] frzifus commented on #2082
thanks @sereneshikari !

[2022-10-20 11:54] #2082 closed

[2022-10-27 11:39] grkooij opened #2104 "[Bug]: Adding query.http.tls.enabled=true breaks jaeger-query"
### What happened?

I want to setup Jaeger with TLS enabled for a secure connection between Grafana and Jaeger as data source. When adding the option query.http.tls.enabled=true to my deployment yaml, the jaeger-query pod does not start. Collector and agent do start with the same option set to true.

Setting option query.http.tls.enabled=false works as expected. The option should be supported (htt

[2022-10-28 12:31] EKrol2 commented on #2104
Same issue here, very strange.

[2022-10-28 15:30] frzifus commented on #2104
Is the deployment created? If yes, could you share the event log?

[2022-10-28 15:52] grkooij commented on #2104
Deployment is created yes. kubectl events gives:

LAST SEEN   TYPE      REASON              OBJECT                                   MESSAGE
52s         Normal    Scheduled           pod/jaeger-collector-7b65ff566f-n5mn8    Successfully assigned observability/jaeger-collector-7b65ff566f-n5mn8 to ip-xxxxxxxxxxx.eu-central-1.compute.internal
50s         Normal    Pulling             pod/jaeger-colle

[2022-10-29 18:28] nicolastakashi commented on #1090
Hey, @habeebshk I just finish an implementation to store trace data on Redis Search.
You can find more information here: https://github.com/nicolastakashi/jaeger-redissearch

I still need to improve documentation and build docker images, but I'm currently testing on my dev environments to check how it goes.

[2022-11-01 08:38] minh-oolio opened #2105 "[Bug]: Operator showing error with injection sidecar"
### What happened?

hello team,
I implemented sidecar injected on deployment as this document https://github.com/jaegertracing/jaeger-operator/blob/main/examples/business-application-injected-sidecar.yaml
and found error message from jaeger operator

[code]

### Steps to reproduce

1. deployed jaeger and jaeger operator by helm chart with latest version (namespace jaeger)
2. implement sidecar inje

[2022-11-02 09:04] frzifus commented on #2105
Seems your deployment [needs an injection](https://github.com/jaegertracing/jaeger-operator/blob/v1.37.0/controllers/appsv1/deployment_webhook.go#L101). But can [not find a Jaeger instance](https://github.com/jaegertracing/jaeger-operator/blob/v1.37.0/controllers/appsv1/deployment_webhook.go#L133) in the same namespace. In that case your sidecar doesnt know where it should send the collected data.

[2022-11-02 09:06] frzifus commented on #2104
Oh seems like the pod is crashing. Could you also provide the logs from your pod?

[2022-11-02 09:08] frzifus commented on #2088
@rubenvp8510 @kevinearls are you interested in this? :)

[2022-11-02 10:01] grkooij commented on #2104
I've shared the relevant log output in the section Relevant log output in the original post. After that part the pod shuts down. Let me know if you need more logs than that and I'll dig them up

[2022-11-02 10:01] minh-oolio commented on #2105
hi @frzifus thanks for your response
Is there any solution for my case?
I deployed `jaeger` and `jaeger operator `in jaeger namespace and tracing application on other namespace.
thank you very much

[2022-11-02 10:44] frzifus commented on #2104
Ahh i see. It says `"Could not start HTTP server","error":"open : no such file or directory"`. Looks like you need to define the path to the certs too, right?

https://github.com/jaegertracing/jaeger/blob/v1.36.0/pkg/config/tlscfg/flags.go#L60-L69

[2022-11-02 10:52] frzifus commented on #2105
Hi @minh-oolio, from my understanding you need to define [WATCH_NAMESPACES](https://github.com/jaegertracing/jaeger-operator/issues/60#issuecomment-504469244) in your `operator.yaml` file. To make sure the right jaeger instance is picked, change your annotation value to your instance name.
[code]

On the operator side, your jaeger instance should then be found [here](https://github.com/jaegertraci

[2022-11-03 05:11] #1360 closed

[2022-11-03 15:39] rubenvp8510 opened #2108 "Release Operator v1.39.0"
### Requirement

Release Operator v1.39.0

### Problem

Jaeger operator needs to be released to include new released Jaeger.

### Proposal

_No response_

### Open questions

_No response_

[2022-11-04 12:40] grkooij commented on #2104
I did include a clientCA, and the error persisted. Are all the options listed in the url required to be set (e.g. tlsCert, tlsKey, tlsClientCA)?

I havent had time yet to test putting all options in, but will report here when I do.

What gets me confused is when I create the deployment with the all-in-one strategy, it does not show an error when I put       query.http.tls.enabled: true, and the po

[2022-11-08 03:59] minh-oolio commented on #2105
hi @frzifus thanks a lot for your suggestion
it seem it able to inject sidecar to pod
but it still trace on the console
i am concern, do i need to change **jaeger-operator-jaeger** to  **jaeger-operator-jaeger.jaeger.svc**
please advise on it
[code]
with this annotaion
[code]
and here is a log of jageragent injected to gateway pod

[code]
![image](https://user-images.githubusercontent.com/10868079

[2022-11-08 05:07] thennetirajesh opened #2111 "sidecar injecting wrong hostname to the application deployment pods"
### What happened?

We have installed the jaeger operator as a cluster-specific component and the agents are deployed in the individual namespace.
While injecting the sidecar into the new namespace the application deployment pods were labeled with the old namespace details.
Below is the label for the namespace (namespace1)

                        app.kubernetes.io/name=aplication-manager-api-serv

[2022-11-11 10:27] sereneshikari commented on #1894
Hi @ViliusS, if your security posture allows, I suggest running the Jaeger operator in cluster-wide mode itself. There are some issues I observed when running in non-cluster-wide mode that I documented in #2085

[2022-11-11 11:05] ViliusS commented on #1431
Looks like documentation [here](https://www.jaegertracing.io/docs/1.39/operator/#install-modes) is wrong. It references `jaeger-operator` role name, but if you deploy jaeger-operator from [static yaml](https://github.com/jaegertracing/jaeger-operator/releases/download/v1.39.0/jaeger-operator.yaml) the actual role name is `manager-role`.

[2022-11-11 11:16] ViliusS commented on #1894
It looks like documentation [here](https://www.jaegertracing.io/docs/1.39/operator/#install-modes) is wrong. It references `jeager-operator` role name however, if Jeager is installed via [static yaml](https://github.com/jaegertracing/jaeger-operator/releases/download/v1.39.0/jaeger-operator.yaml) file the role name is `manager-role`.

[2022-11-11 13:08] ViliusS opened #2116 "[Bug]: operator clashes with calico-system namespace"
### What happened?

I have a deployed namespaced jaeger-operator to standard Kubernetes 1.23 cluster. Cluster networking runs on Calico which was deployed using pretty standard [Tigera operator](https://projectcalico.docs.tigera.io/getting-started/kubernetes/self-managed-onprem/onpremises#install-calico).

Every few minutes Jaeger operator pod crashes with errors pointing to `calico-system` namesp

[2022-11-14 10:09] grkooij commented on #2104
Adding tls.cert and tls.key worked, thanks. Though I am now running into https://github.com/jaegertracing/jaeger/issues/2976.
Even with a clean Jaeger installation. And even when rolling back to using just http.

As for the TLS part, it would be useful to have a more descriptive error message other than "no such file or directory"

[2022-11-15 13:23] aytemuryakup opened #2117 "Trace outputs are not reflected in Jaeger [Bug]:"
### What happened?

I'm doing the Jaeger operator deployment on kubernetes.
In production mode, I stand up jaeger and deploy the hotrod application.
[code]
Since there is no service for the agent in DaemonSet mode, I deploy its own service object as follows.
[code]
When I start a trace through the Hotrod application, I see that the processes are coming to the jaeger-agent pods.
But I can't see the

[2022-11-16 05:31] kangsheng89 opened #2118 "Fix: min tls setting for webhook server"
### What happened?

default TLS version for webhook server on port 9443 is enabled with TLSv1.0 and TLSv1.1, which are deprecated due to known vulnerabilities and should be avoided.

this can be refer with issues from https://github.com/open-telemetry/opentelemetry-operator/issues/1225

### Steps to reproduce

running sslscan on port 9443

### Expected behavior

TLSv1.0 and TLSv1.1 should be disab

[2022-11-22 04:45] #2118 closed

[2022-11-22 20:01] #2088 closed

[2022-11-26 06:05] kangsheng89 opened #2123 "[Feature]: Ability to watch secret and perform rolling update for Jaeger Ins"
### Requirement

Running in Production, secret rotation is one of the best practice. In the event of secret rotation happen for elasticsearch secret, jaeger-operator unable to perform rolling update for the JaegerCollector, Query deployment, this required manual intervention to perform restart for deployment

### Problem

No rolling update and watching secret changes event from Jaeger Operator

##