[2020-11-24 14:23] objectiser commented on #1310
@yogeek The `version.txt` file in the root folder provides those details: https://github.com/jaegertracing/jaeger-operator/blob/v1.21.2/versions.txt

So in this case the jaeger operaor `1.21.2` will use the jaeger operand (i.e. agent, collector ingester, etc) image versions `1.21.0`.

[2020-11-24 15:46] snuggie12 commented on #1314
I'm specifying Kafka options on the collector, for instance, but the object gets emptied out. Since options.kafka is not in the open api spec it gets pruned and my options turns to `options: {}`.

[2020-11-24 15:50] jpkrohling commented on #1314
I think I know what you mean, but could you please provide a CR that would make it clear what the problem is?

[2020-11-24 15:56] snuggie12 commented on #1314
Sure thing

[code]

After a `kubectl apply` it becomes:

[code]

[2020-11-24 16:04] snuggie12 commented on #1314
Creating your CRD to look like this:

[code]

Will keep my kafka options but you are correct that a bunch of other undefined fields get pointlessly created (such as `spec.agent.config` in this example). I haven't looked into this too much, but I think if you leave `spec.preserveUnknownFields` undefined but you use `x-kubernetes-preserve-unknown-fields` on the individual fields it might look correc

[2020-11-24 19:22] yogeek commented on #1310
Thank you 👍

[2020-11-25 07:55] TBBle commented on #1089
To make this issue more-searchable, one symptom of this issue is that the auto-generated `--jaeger.tags` argument from #648 will be removed from a deployment a few seconds after it is added. That's actually what causes the pods to be created and immediately terminated.

Should be fixed in Jaeger Operator 1.20.0

[2020-11-25 08:59] jpkrohling commented on #1314
@rubenvp8510, is this something you can take a look at?

[2020-11-25 11:31] objectiser opened #1315 "Existing apps with sidecar agent inject annotation not injected when first appropriate jaeger instance created"
If an app has been deployed, before the Jaeger instance is created, the operator log shows:
[code]
However, when the Jaeger instance is created (and available), the operator does not rescan the apps to see whether an agent for that Jaeger instance can now be injected.

Reproduced on OCP4.5 with Jaeger 1.17 and 1.20.

[2020-11-25 11:38] objectiser commented on #1315
cc @jpkrohling @rubenvp8510

Haven't tried on latest, as was not available in the operatorhub at the time, so might be fixed?

Also tried with app having injected sidecar, then removed the jaeger instance (which cleaned up the sidecar agent), and then created a new jaeger instance - and the agent doesn't get re-injected into the app.

BTW - the Jaeger instance and business app are deployed to diff

[2020-11-25 14:08] jpkrohling commented on #1315
There were quite a few changes made by @rubenvp8510 in the past on this logic, so, this might indeed be fixed already. But would be nice to get a confirmation from him.

[2020-11-25 15:22] rubenvp8510 commented on #1315
I changed the logic to address the case of injection across namespaces. and IIRC I put some logic to scan apps for injection
I'll check this case and see if can reproduce it.

[2020-11-26 17:12] dimovelev opened #1317 "Operator 1.17.7 on OpenShift - wrong jaeger collector service name"
We annotate our pods so that sidecars are automatically injected. However, the sidecar created next to our application gets wrong parameters pointing to the collector service in a **different** namespace. The parameter I am talking about is:
`--reporter.grpc.host-port=dns:///jaeger-logsmon-collector-headless.XXX.svc:14250
`

The namespace (XXX in the example above) seems to be the first namespace

[2020-11-26 22:15] #1189 closed

[2020-11-27 09:57] jpkrohling commented on #1317
I've got a few questions:

1. what are the versions of the components involved? (kubernetes, operator)
1. when you created your application, did you have only one Jaeger instance in your cluster (`jaeger-logsmon` in `XXX`)? Or did you already have another Jaeger instance in the same namespace as your workload?
1. what are the values for the `sidecar.jaegertracing.io` labels and annotations in the

[2020-11-27 10:08] lujiajing1126 opened #1318 "Pod recreation due to container.name tag missing in the jaeger.tags argument"
We have observed Pod recreation events in the production cluster very similar to this issue https://github.com/jaegertracing/jaeger-operator/issues/1089

We find the following logs in the operator container,

[code]

These are the four deployments annotated with `sidecar.jaegertracing.io/inject: 'true'`, and these event repeatedly occur recently. In the meantime, we find the following events from

[2020-11-27 14:16] jpkrohling commented on #1318
Thank you for finding the root cause and for the PR!

[2020-11-27 16:02] dimovelev commented on #1317
1. sorry, my bad. this should also be part of the description
2. as far as I understood, yes, we only had (and still have) one jaeger called jaeger-logsmon in the namespace. We might have recreated it a few times in the hope that it would fix the issue.
3. The annotations on the deployment level are:
[code]
4. Unfortunately we do not use minikube/minishift or any other local openshift / kubernetes

[2020-11-27 17:19] #1141 closed

[2020-11-30 12:24] daroga0002 opened #1322 "Latest release doesnt reflect real latest"
In repo I see release:
![image](https://user-images.githubusercontent.com/20227477/100609926-1e407980-330f-11eb-91c3-9e9928377eb9.png)

in releases:
![image](https://user-images.githubusercontent.com/20227477/100609977-2ef0ef80-330f-11eb-840c-81b6fc21a346.png)

question does Latest Release shoudnt be moved to v1.21.2 ?

[2020-11-30 12:35] jpkrohling commented on #1322
Thanks for pointing it out! I just created a GitHub Release for the latest tag.

[2020-11-30 12:35] #1322 closed

[2020-11-30 12:47] jpkrohling commented on #1317
We'll need the debug logs, to understand what's going on there. If you do have a `jaeger-logsmon` instance in the `ZZZ` namespace *and* in the `XXX` namespace, it might indeed be a bug. If you only have one in the `ZZZ` namespace, it seems correct to me. You can check it by issuing a `kubectl get jaegers --all-namespaces`.

[2020-11-30 18:06] js8080 opened #1324 "Sampling Strategies settings not updating in Collector without pod restart"
I am deploying Jaeger via the Operator using the following Jaeger CR with sampling options shown below:

[code]

My Jaeger Agent then picks up the sampling strategies and I can confirm the sampling strategies are being read correctly by hitting the Agent's sampling strategy service via an HTTP GET to `http://localhost:5778/sampling?service=samplewebapplication`:

[code]

However, if I update the J

[2020-11-30 18:41] maxshel commented on #1317
This is how it looks like:
[code]
all sidecards got injected with a --reporter.grpc.host-port property which points to the first jaeger instance from this list, independent from namespace.

[2020-12-01 09:25] jpkrohling commented on #1317
It all makes sense now. You should also have a label in your deployment stating which Jaeger instance got injected, and I think it's qualified with the namespace. In any case, I'm not sure this is a case we tested before.

cc @rubenvp8510

[2020-12-01 10:38] jpkrohling commented on #1324
There are a couple of things that might be needed:

- [ ] check that the collector will reload the strategies file when it's changed. I remember seeing a PR bringing this to the collector, just not sure if it's already there.
- [ ] check that the config map gets updated with the changed configuration
- [ ] check that the file mounted in the container based on the config map has changed

Those thre

[2020-12-01 13:34] js8080 commented on #1324
I just tested to check some of those things:
* [x]  check that the config map gets updated with the changed configuration - The config map is indeed updated when I `kubectl apply` an updated Jaeger CR spec
* [x]  check that the file mounted in the container based on the config map has changed - The file associated with the config map (`/etc/jaeger/sampling/sampling.json`) is indeed updated when I

[2020-12-01 13:43] jpkrohling commented on #1324
I found the PR I was thinking about: https://github.com/jaegertracing/jaeger/pull/2188 . Looks like, a flag is needed in order to reload the config file: `--strategies-reload-interval`. You should be able to set this in the CR, under the `collector`'s options.

[2020-12-01 14:09] js8080 commented on #1324
Any idea of the syntax on that? The reference for the CR options is scant. My guess (probably not accurate and not sure how to confirm):
[code]

[2020-12-01 14:24] js8080 commented on #1324
I figured it out through some trial and error:

[code]

[2020-12-01 14:27] js8080 commented on #1324
Also confirmed the reload works. Thanks! I'll close this issue.

[2020-12-01 14:27] #1324 closed

[2020-12-01 15:39] #1318 closed

[2020-12-02 01:50] lujiajing1126 opened #1326 "Unable to lock version for indirect dependency"
As we have discussed in PR #1319, I tried to run `go mod tidy` on the master branch and the indirect version of `github.com/miekg/dns@v1.1.35` went away. This dependency is introduced in #1298 intended to fix a CVE issue.

I suppose as per https://github.com/golang/go/issues/40784#issuecomment-675161073, it is not possible to lock/pin an indirect dependency. So we have to be very careful with this

[2020-12-02 09:24] jpkrohling commented on #1326
Should it be part of the `replaces` section? I'm not quite sure what's the recommended approach for Go modules...

[2020-12-02 09:44] lujiajing1126 commented on #1326
According to the official spec, I suppose it can be done with `replace`. https://github.com/golang/go/wiki/Modules#when-should-i-use-the-replace-directive

[2020-12-02 14:23] #1326 closed

[2020-12-02 15:37] tobypeschel commented on #1162
@jpkrohling It works if I supply the `username` and `password` as options, yes. Otherwise no, still it doesn't work. It looks like it simply doesn't behave in the same way as `ES_PASSWORD`/`ES_USERNAME`.

[2020-12-02 15:55] jpkrohling commented on #1162
If Jaeger does accept `CASSANDRA_USERNAME`/`CASSANDRA_PASSWORD` env vars, we should support the same as we have in ES in the operator. I'm not able to work on this for the next few weeks, but I'm open to review PRs fixing this.

[2020-12-03 18:02] rubenvp8510 commented on #1314
How did you create the CDR?

I tried to reproduce this with kubernetes 1.16 (tested with 1.19 also) and I'm not able to reproduce it when I created the CRD using  `deploy/crds/jaegertracing.io_jaegers_crd.yaml` of `make crd`

The only way I was able to reproduce this is with the following steps:

1) `make crd `or` kubectl create -f  deploy/crds/jaegertracing.io_jaegers_crd.yaml`
2) `kubectl get cr

[2020-12-03 20:00] snuggie12 commented on #1314
Yes, you are correct. This was a new cluster and all CRDs are bootstrapped prior to running ArgoCD. When a fellow teammate was building this new cluster they made sure the CRDs we have on a cluster was updated by essentially doing a `kubectl get crds -o yaml > crds.yaml`. As this was done on a 1.16+ cluster they were outputted with `apiVersion: apiextensions.k8s.io/v1`.

What's worse is that I was

[2020-12-03 20:09] rubenvp8510 commented on #1314
I'll mark the `options` field with  `x-kubernetes-preserve-unknown-fields` and will send a PR.  I just want to make sure how this happens and if I understood the issue correctly.

[2020-12-03 21:40] xM8WVqaG opened #1330 "Setting istio annotation on invalid resource"
According to the istio annotation docs, the `sidecar.istio.io/inject` annotation should only be applied to pods - see: <https://istio.io/latest/docs/reference/config/annotations/>.

[code]

Reference error: <https://preliminary.istio.io/latest/docs/reference/config/analysis/IST0107/>

`sidecar.istio.io/inject: false` appears on the `deployment` resources of both `jaeger-collector` and `jaeger-quer

[2020-12-04 08:41] jpkrohling commented on #1330
Nice catch. Would you like to contribute a fix?

[2020-12-04 11:35] xM8WVqaG commented on #1330
I am not particularly confident with Golang but having looked through the codebase it looks quite straightforward to change if you'd rather take a PR for this. I expect the hardest part of this change is the most appropriate place to add this logic without being disgusting or complicated.

For example, if I just remove the `sidecar.istio.io/inject` annotation [from the deployment](https://github.c

[2020-12-04 12:25] jpkrohling commented on #1330
Yes, something like that would certainly work. Send in a PR and we can check together if it needs to be done before or after the merge of the base common spec with the common spec.

[2020-12-07 04:38] dangtrinhnt commented on #1069
![128524530_1101168410295365_4572481983505400398_n png](https://user-images.githubusercontent.com/2570623/101310134-6ae8ff00-3891-11eb-9a65-a079ee470c69.jpg)
I'm on v1.20.0 and still get this issue.

[2020-12-07 05:26] milon619 opened #1332 "Volume mounts not working for Spark dependencies job"
I am trying to pass a java trustStore file which contains the ES root ca cert to the Spark dependencies job to get the connection to ES work over TLS, but it looks like the volumes are not getting mounted and the job fails with the following error.

[code]

My dependencies config snippet in the Jaeger custom resource
[code]

This is what the job looks like when I describe the job and the volumemou

[2020-12-07 12:47] jpkrohling commented on #1069
@dangtrinhnt could you please show how you are setting it? Perhaps by sharing your CR.

[2020-12-07 13:06] dangtrinhnt commented on #1069
I used this operator yaml:
[code]

[2020-12-07 14:56] jpkrohling commented on #1069
@dangtrinhnt are you sure it's the same issue? Are you getting the same error message as this issue's description? I just tried it here, and I was able to get it working with your CR. The only thing to notice is that you'll need to use the cluster_role.yaml and cluster_role_binding.yaml instead of role.yaml and role_binding.yaml .

[2020-12-07 18:39] objectiser commented on #1317
@dimovelev Are you able to upgrade to a newer version? Testing with 1.20 on OCP, with `sidecar.jaegertracing.io/inject: true` (rather than using the jaeger instance name) seems to work.

[2020-12-08 01:49] dangtrinhnt commented on #1069
Running it with cluster role will work of-course. I want to limit its permission to specific namespaces only to reduce the risk. I thought using cluster role is just a workaround?

[2020-12-08 09:10] jpkrohling commented on #1069
Let me rephrase the question then: have you created a role and role binding for the jaeger-operator service account in the namespaces it needs to act on? For instance, change the role_binding.yaml to specify the jaeger-operator service account's namespace, like this:

[code]

Then create a role/role binding on each namespace you want to watch:

[code]

[2020-12-09 12:18] UsaninMax opened #1336 "jaeger-operator has root group"
Hello, I use Jaeger with Kubernetes and our security doesn't allow us to use any pod/containers with root access
I am noticed that security context was parameterized for Agents https://github.com/jaegertracing/jaeger-operator/pull/1190/files  that's great.
Meanwhile the jaeger-operator itself has own user and by default root group
https://github.com/jaegertracing/jaeger-operator/blob/master/build/

[2020-12-09 12:48] jpkrohling commented on #1336
Interesting observation. I'm not sure I fully understand the attack vector this would open, but I don't see a problem in changing it either. Would you mind opening a pull request, perhaps linking a best practices doc reference or a link to a Dockerfile being used by some other operator/project?

[2020-12-09 13:44] UsaninMax commented on #1336
@jpkrohling
https://kubernetes.io/docs/concepts/security/pod-security-standards/

[2020-12-09 15:57] #1315 closed

[2020-12-09 16:01] jpkrohling commented on #1336
Cool! Would you open a PR with the proposal?

[2020-12-10 09:06] herbguo opened #1338 "How can I add service annotations in the Jaeger manifest?"
As the title say, How can I add service annotations in the Jaeger manifest ?
I want to add same annotations in the jaeger-query service , I install the jaeger through the jaeger-operator.
the version is 1.20.0

The  jaeger offical document only have the sample to alter the deployment annotations.

I can not find how to alter the jaeger install manifest to add annotation in jaeger offical document.

[2020-12-10 09:28] jpkrohling commented on #1338
You can add annotations to components, but not directly to the underlying resources (deployments, services, ...). The annotation you add to the component is then propagated down to the resources.

[2020-12-10 09:29] #1338 closed

[2020-12-10 18:55] rubenvp8510 commented on #1308
I tried to reproduce this issue installing an operator that watch for only one name space, I wasn't able to reproduce the issue in that way. Then I tried installing a cluster-wide operator and I was able to reproduce it.

I think the issue is because the permissions weren't added to the generated CSV.  PR that fixes the issue: https://github.com/jaegertracing/jaeger-operator/pull/1177

BTW, the re

[2020-12-16 04:18] luxurine opened #1348 "connect external es created by eck got error "health check timeout: no Elasticsearch node available""
error msg:
[code]

external es 7.10.1 yaml file(es operator 1.3.1):
https://www.elastic.co/guide/en/cloud-on-k8s/1.3/k8s-deploy-eck.html
[code]

jaeger yaml file:
[code]

I have tried all these urls, but still got the same error
[code]

I have tried the same config follow this issuehttps://github.com/jaegertracing/jaeger-operator/issues/496, but still not work.

The error tell healthcheck timeout,

[2020-12-16 09:37] alexrashed opened #1349 "Jaeger Operator does not consider variables set via envFrom"
Hey there.

When using the sidecar injection of the Jaeger Operator, it checks if the following environment variables are set:
- `JAEGER_SERVICE_NAME`
- `JAEGER_PROPAGATION`

https://github.com/jaegertracing/jaeger-operator/blob/bf1bc275353a0daf99dbebc7a65ea755cd7afaa1/pkg/inject/sidecar.go#L309

However, it only checks if the container spec template directly contains the environment variables.
We

[2020-12-16 09:39] jpkrohling commented on #1349
Would you like to work on a fix for this?

[2020-12-16 11:15] alexrashed commented on #1349
To be honest, I'm not quite sure how to implement that without messing up the structure.
As far as I can tell, the k8s client is only used in the controller itself right now. In order to access the content of the Secrets and ConfigMaps referenced in the `envFrom`, we would need to fetch the referenced object in `sidecar.go`, which doesn't seem like a clean approach to me.

Unfortunately I'm not ve

[2020-12-16 12:03] Creator1024 opened #1350 "jaeger query start with jaeger agent sidecar while agent strategy is daemonset"
I have deployed jaeger-operator(v1.20.0) in kubernetes(v1.15.10), and start a jaeger instance with production strategy and the agent's strategy is DaemonSet.

[code]

As shown above, pod collector was a single container but pod  query was injected a jaeger agent sidecar.
I think both  collector and  query can use the daemonset jaeger agent. there is no need to set annotation "sidecar.jaegertracing

[2020-12-16 12:37] jpkrohling commented on #1350
The strategy is to tell the operator what's the strategy to use with your workloads. The decisions for the Jaeger components themselves are up to the operator itself.

Do you have a reason to skip the sidecar for the query deployment?

[2020-12-16 12:39] jpkrohling commented on #1349
That's fair, thanks for considering it anyway!

[2020-12-16 12:58] omerfsen opened #1351 "jaegeroperator to support nodeSelector"
On CRD kind Jaeger

[code]

when we enter `nodeSelector:` to some specific components it is not applied. For example:

[code]

so we request this to be supported so created components (collector/ingester/query) to support nodeSelector.

[2020-12-18 03:10] dylanyht opened #1352 "Can you indicate the correspondence between jaeger-operator version and k8s version?"
I installed jaeger-operator on master on k8s version 1.14 and got the following error when deploying jaegertracing.io_jaegers_crd.yaml

[code]

[2020-12-18 08:23] kevinearls commented on #1332
Unfortunately we won't have time to investigate this further until sometime in January.  As usual PRs are welcome !

[2020-12-18 09:37] jpkrohling commented on #1352
We strive to support as many versions as possible, but we test and support up to N-2 versions, where N is the latest.

[2020-12-18 09:38] nfsp3k opened #1353 "Sampling strategies are not applied to the image 'jaeger:all-in-one'"
**Describe the bug**
Sampling strategies are not applied to jaeger all-in-one.
Even though I set the default sampling rate to 0.05, the Jaeger samples every trace.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Kubernetes cluster and run an application in the cluster
2. Create jaeger:all-in-one pod with the sampling strategies argument in the cluster
3. Send traffic to the cluster

[2020-12-18 14:22] alexey-gavrilov-flant opened #1354 "TraceTTL is not in crd"
there is no TraceTTL in crd what prevents if you apply crd in a cluster
https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/storage/cassandra_dependencies.go#L85
https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml

[2020-12-18 14:25] #1354 closed

[2020-12-20 14:21] #1179 closed

[2020-12-21 10:22] askurihin commented on #1238
May be I didn't understand the original question correctly, but I managed to use secret to define elastic search username and password by following instructions [here.](https://www.jaegertracing.io/docs/1.21/operator/#external-elasticsearch)

[2020-12-21 17:40] mwasilew2 commented on #1238
@askurihin the idea was to treat the elasticsearch url as a secret as well

[2020-12-23 05:14] Creator1024 commented on #1350
IMO, the purpose of  choosing daemonset strategy for agent  is that I want any pods communicate with jaeger agent through node where the pod is scheduled.  In this way, I only need to concern about the agent daemonset but not other agent sidecar.

if it's possible disable `"sidecar.jaegertracing.io/injected"` , and config JAEGER_AGENT_HOST and JAEGER_AGENT_PORT env for query?
[code]

[2020-12-23 05:49] vinaymanne5 commented on #564
We need to implement the PVC in jaeger production strategy. Could you please suggest us to deployment process.

[2020-12-23 07:38] vinaymanne5 opened #1357 "PVC storage"
We have deployed  custom pvc volume in jaeger allinone strategy. we are not able to see the pvc after deployment success.
Could you please suggest here

      storage:
        type: jbod
        volumes:
        - id: 0
          type: persistent-claim
          size: 10Gi
          deleteClaim: false
          storageClassName: standard

[2020-12-23 09:54] objectiser commented on #1357
The [badger example](https://github.com/jaegertracing/jaeger-operator/blob/master/examples/with-badger-and-volume.yaml) shows that the volume/mounts are defined at the same level as the `storage` node.

I'll close - but reopen if still an issue.

[2020-12-23 09:54] #1357 closed

[2020-12-30 02:49] xichengliudui commented on #1352
+1
I'm having the same problem, I'm using operator version 1.8 trying to deploy in the K8S 1.4 cluster, I'm having the same problem.
what is the corresponding kubernetes version of jaeger-operator 1.8?
@dylanyht excuse me, what version of K8S did you finally use？

[2021-01-06 19:03] tobbbles commented on #1235
Did this get progressed at all? It'd be great to have a minimal kustomization to use as a [remote resource](https://github.com/kubernetes-sigs/kustomize/blob/master/examples/remoteBuild.md) for installing jaeger-operator

[2021-01-07 22:11] Gauravjaitly opened #1358 "Jaeger not picking up k8s services."
Hi, i used this page to get jaeger for my k8s cluster. https://github.com/jaegertracing/jaeger-operator?utm_source=thenewstack&utm_medium=website&utm_campaign=platform
i am able to access the jaeger ui page but it doesnt gets my k8s services.

# kubectl logs -n observability deployment/jaeger-operator
[code]

The Document says
"You probably also want to download and customize the operator.yaml, se

[2021-01-07 22:40] elocke commented on #1235
@tobbbles seconded!

[2021-01-08 05:51] Gauravjaitly commented on #1358
Hey @jpkrohling can you help me with this please?

[2021-01-11 16:11] jpkrohling commented on #1284
If this is indeed an OpenShift cluster, you might need to enable one or two options in your cluster to allow the pod to bind to a node port. It should be part of the docs, but let me know if you aren't able to find it. In any case, I'd suggest opening a support case, as Red Hat Support is properly staffed to answer those questions, even when engineering is on PTO ;-)

[2021-01-12 08:09] lujiajing1126 opened #1360 "Bad naming convention for service name"
Currently the naming convention for the collector service is determined in this function,
https://github.com/jaegertracing/jaeger-operator/blob/010535a2ac314a0106ae0ac31ea136b85dcb7f26/pkg/service/collector.go#L97

which results in some name like `grpc-http(s)`.

However, this will cause confusing for istio as documented in the [`protocol-selection`](https://istio.io/latest/docs/ops/configuration/

[2021-01-12 09:31] #1332 closed

[2021-01-12 09:35] jpkrohling commented on #1358
Closing as a duplicate of this thread in Gitter: https://gitter.im/jaegertracing/Lobby?at=5ff4e8c3e7f693041f523178

[2021-01-12 09:35] #1358 closed

[2021-01-12 09:38] jpkrohling commented on #1360
Could you provide a test for the case you described? In any case, a PR would certainly be appreciated.

[2021-01-12 09:55] milon619 commented on #1332
Thanks 💐

[2021-01-12 09:58] jpkrohling commented on #1352
A good first step is to send a PR documenting the current support to the readme file, plus a change to the release document, so that we document this for every future release.

[2021-01-12 09:58] lujiajing1126 commented on #1360
Attached there are two captured tcpdump logs for the scenarios with or without istio-sidecar injected to the application pod,
(while in the same time, we do not inject istio-sidecar for jaeger-collector  pod by default)

- [jaeger-agent-with-istio-sidecar.log](https://github.com/jaegertracing/jaeger-operator/files/5801124/jaeger-agent-with-istio-sidecar.log)
- [jaeger-agent-without-istio-sidecar.l

[2021-01-12 10:10] jpkrohling commented on #1360
So, this is a problem only for pods with both Jaeger and Istio sidecars? @jkandasa do we have tests for this scenario?

[2021-01-12 10:26] lujiajing1126 commented on #1360
Exactly.  Specifically,

[code]

I haven't tested the case with both istio sidecar injected.

[2021-01-12 14:52] jpkrohling commented on #1350
That's true, for your own workloads. The query deployment is managed by the operator, making it an exception. The annotation wouldn't work, as we don't use the sidecar injection logic for this deployment, we add the sidecar manually to the deployment.

But I'm still curious at to why you really want to make the query spans to go through the DaemonSet.

[2021-01-12 14:55] jpkrohling commented on #1235
No, and PRs are welcome! For v2, we'll use `kubebuilder` as the base, which would make it easier to have this, like we have for the opentelemetry-operator: https://github.com/open-telemetry/opentelemetry-operator/blob/master/config/default/kustomization.yaml

[2021-01-13 11:49] priyavj08 commented on #496
@secat @vishnuhd
I have deployed Elasticsearch using redhat operator on openshift cloud platform 4.6. In my deployment which is in namespace openshift-logging, these are the secrets I see

[code]

[2021-01-13 11:57] priyavj08 commented on #1348
I am getting similar error while trying to connect from jaeger instance to elasticsearch created by elasticsearch redhat operator on openshift cloud platform 4.6

[code]
here is my jaeger config
[code]
I used admin-ca from elasticsearch secret here
[code]

[2021-01-13 14:28] jpkrohling commented on #496
@priyavj08, you should probably not use the same ES instance that is used for the cluster logging. As you are using it in OpenShift, the operator is able to provision a ES cluster for you.

[2021-01-13 14:30] jpkrohling commented on #496
P.S.: you should probably send your inquiries to the Red Hat support, as we have no SLA for answering questions here in the upstream community.

[2021-01-13 17:24] jam01 commented on #294
Hey guys, is there any work around for this atm? I'm trying to follow the thread of TLS related changes and options. Is there any skip-tls JAVA_OPT or something that can be used temporarily?

[2021-01-13 17:54] priyavj08 commented on #496
@jpkrohling  thanks for your reply.  jaeger operator provisioned ES works fine for me but I have a requirement where I will have to use the existing elasticsearch.

according to https://www.jaegertracing.io/docs/1.15/operator/#elasticsearch-storage documentation it is enough to pass server certificate but in my case it is not clear which cert to use.

As suggested by you, I will also file a ticket

[2021-01-14 09:00] jpkrohling commented on #496
In your CR, you should probably omit the `elasticsearch` node, as those properties are for the auto-provisioning. About the certs, you'd need to specify the client cert, in addition to the service-ca, as there's mutual TLS auth in place.

@objectiser can correct me if I'm wrong, but keep in mind that using the existing logging ES instance is unsupported and should be avoided. The reason is that yo

[2021-01-14 09:03] jpkrohling commented on #294
This would probably a question to ask in the repository that holds the code for the spark dependencies processor. https://github.com/jaegertracing/spark-dependencies

[2021-01-15 02:47] dylanyht commented on #1352
@xichengliudui  I used version 1.13, but I ended up using the new version deployed in the new cluster

[2021-01-16 03:24] godspeed529 opened #1367 "Agents sending trace data to collector in different namespace"
I have identical applications running in two different namespaces where the Jaeger resources share the same name "Jaeger" and the Agents are auto injected into Deployment pods. In this scenario the agents in namespace 1 send trace data to collectors in namespace 1 and agents in namespace 2 send trace data to collectors in namespace 1.  When the Jaeger resources don't share the same name and the Ag

[2021-01-16 04:22] formych commented on #1348
I hava the save issuses~

[2021-01-17 01:54] formych commented on #1348
I have solved my problem @luxurine @priyavj08
I wrote the wrong config, the jaeger-secret  should be ES_PASSWORD and ES_USERNAME,  i  wrote elastic=xxxx directly!
`kubectl create secret generic jaeger-secret --from-literal=ES_PASSWORD=changeme --from-literal=ES_USERNAME=elastic`

[2021-01-19 10:19] jpkrohling commented on #1367
I think this is a bug that we've seen before but that had a small impact on people. The recommended workaround is to use unique names for your Jaeger instances, even if they are in different namespaces.

cc @jkandasa, @rubenvp8510

[2021-01-21 09:42] luxurine commented on #1348
I have checked my jaeger-secret secret, it seems correct.

![image](https://user-images.githubusercontent.com/8802090/105332733-e4556a80-5c0f-11eb-9102-d84b8d554ba3.png)

[2021-01-21 10:23] jpkrohling commented on #1348
@luxurine , given that you are using `-k` with your curl call, I suspect the issue might be related to the TLS certs, not with the password. Depending on the Jaeger version that you are using, you can use a -debug image, like `jaegertracing/jaeger-collector-debug:1.21.0`, and check whether the certs are correct. If you can make a curl call without the insecure mode set (`-k`), send us the results

[2021-01-25 07:19] jaitaiwan opened #1369 "Jaeger Operator Expects Elasticsearch resource in logging.openshift.io/v1"
Hey Folks,

I've been trying to get Jaeger Operator to work by default with the es-operator I've installed into the cluster. After a lot of debugging steps I've come across the error:
`no matches for kind "Elasticsearch" in version "logging.openshift.io/v1`

I found this after researching and finding that the `--es-provision` flag (which should be set to `yes` not `true`) is being set to no becaus

[2021-01-25 14:21] jpkrohling commented on #1369
The auto-provisioning currently works only with the Elasticsearch operator that ships with OpenShift: https://github.com/openshift/elasticsearch-operator

We might change this in the future, but probably not before v2

[2021-01-25 23:03] jlynch93 commented on #1048
Was there any progress on this? I am in the same boat as @js8080

[2021-01-26 02:18] js8080 commented on #1048
I ended up defining my own Ingress (I use NGINX as an Ingress Controller). Hopefully this helps you. I use gRPC secured via mTLS to communicate between my Jaeger Agent and the Collector, hence the gRPC references below. Also, I used a self-signed cert for the client cert so the `jaeger-agent-certs` reference below just points to a secret containing that self-signed cert (public key only). The `jae

[2021-01-27 14:14] juanitomint opened #1371 "Failed not finding Kafka object"
Hi guys Im trying to deploy a very simple test jaeger and operator fails with:

level=error msg="failed to apply the changes" error="no matches for kind \"Kafka\" in version \"kafka.strimzi.io/v1beta1\"" execution="2021-01-27 14:03:05.42255875 +0000 UTC" instance=jaeger-test namespace=jaeger

` helm install -n jaeger --version 2.18.0 jaeger-operator jaegertracing/jaeger-operator `

the jaeger depl

[2021-01-27 14:54] objectiser commented on #1371
Hi @juanitomint did you install the strimzi operator? https://strimzi.io/

[2021-01-27 20:24] juanitomint commented on #1371
yes the strimzi operator is installed...@objectiser

[2021-01-28 07:40] dogukanturan commented on #1307
I guess we can't add NodePort and we can't make a static ClusterIP definition either.

[2021-01-28 11:17] objectiser commented on #1371
@juanitomint  Could you run `kubectl get crds | grep strimzi` and provide the output?

@jpkrohling Any other suggestions - I've checked strimzi and it appears `kafka.strimzi.io/v1beta1` is still the most recent version - and as CRDs are cluster wide (so shouldn't be affected whether strimzi operator is namespaced/cluster scoped), the only reason I can see that this error would occur is if the CRD

[2021-01-28 18:33] juanitomint commented on #1371
sure
`juanb@v8 ~ $ kubectl get crds | grep strimzi
kafkaconnects.kafka.strimzi.io               2019-05-03T17:26:37Z
kafkaconnects2is.kafka.strimzi.io            2019-05-03T17:26:36Z
kafkamirrormakers.kafka.strimzi.io           2019-05-03T17:26:37Z
kafkas.kafka.strimzi.io                      2019-05-03T17:26:30Z
kafkatopics.kafka.strimzi.io                 2019-05-03T17:26:35Z
kafkausers.kafka.st

[2021-02-03 08:15] myc547 commented on #1352
+1
me too,I'm used operator version 1.21.2 trying to deploy in the Kubernetes 1.14 cluster.

[2021-02-03 08:41] jpkrohling commented on #1352
Unfortunately, I think it's clear by now that Kubernetes 1.14 isn't supported with the most recent version of the operator.

[2021-02-03 11:15] jpkrohling opened #1378 "Migrate usage of jaeger.tags"
The flag `jaeger.tags` has been deprecated for some time now, being removed in the next Jaeger version. This ticket is to change the operator to:

- [x] Change the default path to use agent.tags/collector.tags as appropriate
- [ ] Create an upgrade script to change existing CRs to use the new flags

[2021-02-04 01:23] myc547 commented on #1352
I suggest describing the version requirements of Kubernetes in the documentation

[2021-02-04 10:19] jpkrohling commented on #1352
Agree. Would you like to contribute by starting such a doc?

[2021-02-05 01:59] myc547 commented on #1352
Thank you  very much for your invitation, I'm also happy to  contribute a doc, but due to my current work arrangements, i am sorry that i am not qualified for this great thing. However, I will try my best to discuss some issues.

[2021-02-08 09:51] lujiajing1126 opened #1385 "Request to release a minor version for the operator"
In the past few months, I have opened two issues (#1318, #1360) which do have a large impact on our services in both production and beta clusters.

Since these issues are already resolved by PR #1319 and #1368 , I request for a minor release in order to apply these bug fixes in our environment as suggested by @jpkrohling in the private communication.

Thanks in advance.

[2021-02-08 13:40] jpkrohling commented on #1360
Was this closed as part of #1368?

[2021-02-08 13:44] lujiajing1126 commented on #1360
It should have been closed. I don't know what happened to the Mergify bot.

[2021-02-08 13:45] lujiajing1126 commented on #1385
I have closed #1360

[2021-02-08 13:55] jpkrohling commented on #1385
To clarify: the next minor release would include this fix, but we'll only release the next minor release once the next minor version of Jaeger is released. What we can do now is a patch release. See #1386.

[2021-02-09 09:59] #1385 closed

[2021-02-10 11:16] primeroz commented on #1330
Hitting this as well, i was wondering if there would be situations where we might want the sidecar to be enabled ?

[2021-02-10 15:30] jpkrohling commented on #1330
Is this causing an actual problem? I thought this was mostly a linting issue?

[2021-02-10 15:56] primeroz commented on #1330
linting only ... just cleaning up my `istioctl analyze` and keep having to add exclusion for things ( not just this ;) )

[2021-02-10 16:35] elkh510 opened #1387 "add ability to indicate PriorityClass for agent in jaeger operator crd"
hi,
please add ability to indicate [PriorityClass](https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/#priorityclass) for agent(parameter in deployment or daemonset) in jaeger operator [crd](https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml).

[2021-02-11 11:57] jpkrohling commented on #1330
Thanks for the clarification! Would you be able to send us a PR?

[2021-02-11 12:24] xM8WVqaG commented on #1330
Apologies for never submitting the PR last year. tl;dr I was struggling to get the development environment installed locally and didn't want to submit a PR without running tests on it first.

Here is the diff if you want to take this over. I don't expect I will have the time to try and get this working again for a few weeks.

[code]

[2021-02-11 12:25] primeroz commented on #1330
I can have a look at it and send a pr

Thanks !

[2021-02-12 16:26] hkailantzis opened #1390 "no jaeger-query service visible in UI when in production mode with external elasticsearch storage"
Hi there,

deployed Jaeger instance v1.21.0 using Jaeger Operator using an external elasticsearch cluster on kubernetes cluster.
Everything looks fine from logs and ES indices point of view and i can see the span write index growing over time. no errors or whatsoever. collector and query pods also running fine.

I have set ```use-aliases: true``` for collector and query components. However, the on

[2021-02-15 10:54] elkh510 commented on #1387
@jpkrohling pls review
https://github.com/jaegertracing/jaeger-operator/pull/1392

[2021-02-15 11:23] jpkrohling commented on #1390
Could you please provide the minimal CR that is able to reproduce this problem? Also, you might want to check the metrics on the collector side, especially the "saved by service". It should show you how many spans/traces were saved for `jaeger-query`.

[2021-02-15 13:16] hkailantzis commented on #1390
hi @jpkrohling, thanks for your reply.  Please find below the spec part (with <> placeholders for relevant values):

[code]

[2021-02-16 10:07] jpkrohling commented on #1390
@rubenvp8510 could you please give this a try?

[2021-02-16 20:20] ivanayov opened #1393 "Jaeger ingress fails to allocate address"
Hello,

I'm deploying jaeger, following the [openetelemtry docs (otel-collector example)](https://github.com/open-telemetry/opentelemetry-go/tree/main/example/otel-collector) and deploy the jaeger crd as shown [here](https://github.com/open-telemetry/opentelemetry-go/blob/main/example/otel-collector/Makefile#L4), with the only difference that I'm using `kind`.

The ingress controller that was crea

[2021-02-17 03:03] CSP197 commented on #1307
@jpkrohling - Can you pls review my PR: https://github.com/jaegertracing/jaeger-operator/pull/1394?

[2021-02-17 08:19] jpkrohling commented on #1393
I'm not familiar with ingresses with kind, but it does look strange. Would you be able to test on minikube with an ingress add-on? If it works there, it might be something that we are missing in order to make kind happy. If you can figure out what exactly it is, feel free to open a PR.

In any case, I'll mark this as a bug but might take a while for me to take a look.

[2021-02-17 08:50] jpkrohling commented on #1393
@rubenvp8510, could you take a look at this one?

[2021-02-17 09:20] jpkrohling commented on #1307
@rubenvp8510 will take a look at this one

[2021-02-17 10:42] yoramda opened #1396 "Jaeger agent as a DaemonSet"
Hi,

My goal is to deploy jaeger operator to watch all k8s namespace on the cluster and set the strategy to production with elastic storage.

I am trying to configure jaeger agent as a DaemonSet,
Currently I am using strategy: allInOne and it is working ok, without sidecar
From the jaeger client I am pointing to the agent service host : simplest-agent.observability with udp port 6831 .
Here is the

[2021-02-17 11:19] jpkrohling commented on #1396
How is your application creating the tracer? Is it using information from the env vars to build the tracer? Have you followed the troubleshooting guide?

https://www.jaegertracing.io/docs/1.21/troubleshooting/

[2021-02-17 13:46] yoramda commented on #1396
My applocation is creating the trace from C# using openTelemtry nuget package,
that app is loading the env variable vars .
the troubleshooting guide did not helped .

Thanks again

[2021-02-17 15:49] romanp-lohika-tix commented on #1387
@jpkrohling hi
pr #1392 was merged
where can we expect the release?
thank you!

[2021-02-18 06:38] elkh510 commented on #1387
@jpkrohling hi
pr #1392 was merged
where can we expect the release?
thank you!

[2021-02-18 08:09] yoramda opened #1399 "Jaeger UI - Service dropdown shows IP address instead of service name"
Hi,

Jaeger installed as Jaeger operator on observability  namespace
My app deployment with sidecar annotation:

apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-name
  annotations:
    "sidecar.jaegertracing.io/inject": "true"

Here is the environment setting that was created automatically by the sidecar:
JAEGER_SERVICE_NAME=xxxx-jet-apigateway.xxxx-jet-dev
JAEGER_PROPAGATION=jaeger,

[2021-02-18 09:59] jpkrohling commented on #1396
Could you please list the steps you followed and what you were able to determine? Could you get your application to print the traces to the logs, using the log reporter?

[2021-02-18 10:00] jpkrohling commented on #1387
We should be having a new release in the next couple of weeks, following the next release of Jaeger itself.

[2021-02-18 10:00] #1387 closed

[2021-02-18 10:02] jpkrohling commented on #1399
How are you instantiating your tracer? Looks like it's not using the env vars at all.

[2021-02-20 18:50] yoramda commented on #1396
Hi,
i am starting to think that i may have a network access problem between my app deployment namespace and the observability namespace, i tried to setup the the role binding as it says at the Jaeger documentation

https://www.jaegertracing.io/docs/1.21/operator/ :

"
When not using the cluster-wide resources (ClusterRole and ClusterRoleBinding), set the WATCH_NAMESPACE to the comma-separated list

[2021-02-22 08:23] hkailantzis commented on #1390
@jpkrohling , @rubenvp8510, tried some configs on local minikube with an es cluster (elastic/kibana helm charts) and even when deploying the business-application-injected-sidecar.yaml from the examples, the UI doesn't pick it up, ie is not showing. The only way I managed to make it work was to set the use-aliases to 'false' for query and collector and set the global `es` `use-aliases:true`, so wit

[2021-02-23 11:07] yoramda commented on #1396
Hi,

Any Updates ?

Thanks in advanced .

[2021-02-23 12:33] jpkrohling commented on #1396
It's still very hard to understand your scenario. Are you able to reproduce it with a simple minikube cluster? If so, share all the steps you are taking. We have an e2e test for this case, perhaps it can help you figure out what you are missing?

https://github.com/jaegertracing/jaeger-operator/blob/b341e6a67487e74d76eb84daa933a468a7ec4461/test/e2e/examples1_test.go#L60-L84

[2021-02-25 09:58] #56 closed

[2021-02-25 10:17] hkailantzis commented on #1390
figured it out in the end. It was a matter of creating rolling the indices for spans and service, with write AND read aliases with specific naming in ES. For others that might have the same problem/issue, is what I did:

1)  set `create-index-templates: true`. Deploy jaeger with collector and query aliases set to true (as shown above).
2) in ES: delete any auto-created indices and aliases, if the

[2021-02-25 10:17] #1390 closed

[2021-02-25 10:34] jpkrohling commented on #1390
That clarifies it!

Great work there! Would you mind opening a PR against our documentation to mention this? I wouldn't leave the PUT calls there, and would rather link the documentation to this issue here, so that other people can see the discussion. My concern is that the documentation might get outdated, confusing people even more. Your description will make people find out how to make it work.

[2021-02-25 10:58] hkailantzis commented on #1390
sure, could open a PR. could you point me where exactly, which section, line ? as you suggested I would just mention something like ` For more info on how to setup ES with indices aliases correctly, please refer to this issue on Github`. Sounds right ?

Regarding the templates, not sure how it could be, but for example it should be maybe possible to define at least the number of shards (and maybe

[2021-02-25 11:20] jpkrohling commented on #1390
Where would you have looked first? I would say somewhere here: https://www.jaegertracing.io/docs/1.22/deployment/#elasticsearch

The code for this page is located here: https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/deployment.md

[2021-02-25 11:22] #59 closed

[2021-02-25 11:22] #104 closed

[2021-02-25 11:22] #330 closed

[2021-02-25 11:23] #335 closed

[2021-02-25 11:23] #359 closed

[2021-02-25 12:11] hkailantzis commented on #1390
@jpkrohling , can't push to docu repo it seems. Here is what wanted to add:

`For guidance on how to make use of ILM with rollover indices and use-aliases flag for collector and query components, you can refer to this [Github issue](https://github.com/jaegertracing/jaeger-operator/issues/1390)`

[2021-03-02 09:41] JohnFrampton commented on #1289
Hi @jpkrohling,

I also seem to run into this bug on docker desktop kubernetes but I was not able to workaround the issue by using a self-named and self-deployed serviceAccount because the current operator 2.19.1 deployment still creates his own service accounts one for the operator and one for the jaeger kind and it has the same name as the jaeger kind. Unfortunately I was not able to change that

[2021-03-02 10:03] jpkrohling commented on #1289
Looks like this is a problem with the charts then. Would you mind opening an issue there?

[2021-03-02 10:08] JohnFrampton commented on #1289
Thanks. Yes , I can surely open a charts-issue. I just though my problem might have anything to do with this issue.

thanks again.

[2021-03-05 08:58] MKruger777 opened #1405 "Auto-injecting Jaeger Agent Sidecars not working on minikube"
Hey there,

I am trying to get the Jäger sidecar agent injection working, but cannot seem to get it to work properly.
I followed the steps outlined here: https://www.jaegertracing.io/docs/1.22/operator/

My setup is:
`Ubuntu 20.04`

VirtualBox (to run minikube)
`Version 5.2.20 r125813 (Qt5.12.8)`

minikube version:` v1.13.1`

kubectl version:
[code]

I created a clean minikube (--cpus 3 --memory 6

[2021-03-05 10:34] MKruger777 commented on #1405
Just for completeness sake: the operator logs states the following:

➜  dev kubectl logs jaeger-operator-64bc449b74-vvq9h -n observability
time="2021-03-05T08:32:56Z" level=info msg=Versions arch=amd64 identity=observability.jaeger-operator jaeger=1.21.0 jaeger-operator=v1.21.3 operator-sdk=v0.18.2 os=linux version=go1.14.15
time="2021-03-05T08:32:56Z" level=info msg="Consider running the operator

[2021-03-08 09:55] jpkrohling commented on #1405
You need an actual Jaeger instance as well: the Jaeger Operator manages Jaeger instances, and your deployments will get sidecars sending data to this instance. Something like:

[code]

You should then have an instance in the same namespace as your application:

[code]

[2021-03-08 09:55] jpkrohling commented on #1405
If you still have questions, feel free to reopen the issue.

[2021-03-08 09:55] #1405 closed

[2021-03-08 20:54] MKruger777 commented on #1405
If only you were around to hear my shouts of joy ... with the rest of the neighborhood! It works like a charm!
I used this exact setup to solve [issue 559](https://github.com/jaegertracing/jaeger-operator/issues/1405)
Thank you so much @jpkrohling, I appreciate it!

[2021-03-09 08:59] jpkrohling commented on #1405
You just made my day, thanks :-)

[2021-03-09 10:23] hkailantzis opened #1407 "Deprecation in elasticsearch 7.11.x: index matches multiple legacy templates"
Hi there,

As a followup of closed issue: https://github.com/jaegertracing/jaeger-operator/issues/1390, if `create-index-templates: true` is used with production strategy and external ES storage, then is necessary to create also another custom template if a user wants to attach a policy to it or any other settings, since the default ones created by operator can't be overidden/changed. However whil

[2021-03-09 14:35] ivanayov commented on #1393
@jpkrohling I don't reproduce the issue with `minikube` (tested with `hyperkit` only, because of an unresolved issue for docker on Mac).

It's reproduced with kind only. The issue with ingress address not being allocated is resolved, but jaeger is still unaccessible from outside.
It's hard to investigate the jaeger-operator container, as ssh-ing as root does not give enough privilleges though.

[2021-03-12 15:10] mumrau opened #1408 "Provide complete CRD example in the docs"
Hello,

I do think that for every CRD proposed by every operator in the kubernetes world, we need a _complete and exhaustive_ "example" of documetantion regarding how we can populate the CRD. I haven't found such documentation neither in the `jaeger-operator`, the helm chart counterpart, neither on the official documentation found at https://www.jaegertracing.io/docs/1.22/operator/ which contains

[2021-03-12 15:27] jpkrohling commented on #1408
You are absolutely right that we need better documentation on our CRD. Are you aware of any tools that are able to do that based on the comments we have in the source code? Just doing it once will certainly be a maintenance headache, as things will get out of sync too frequently, I'm afraid.

[2021-03-12 16:38] ggolub opened #1409 "CRDs out of sync with master - causes error: "failed to store the running status into the current CustomResource""
I'm using the jaeger-operator and cluster roles and was able to deploy successfully.  I then configured with this code:
[code]

After configuring I get errors like this in the operator log:

I think I've tracked this down to an issue with the CRDs shipped with the helm chart.

If I first manually install the CRDs from https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/cr

[2021-03-13 17:16] mumrau commented on #1408
Sadly I am not aware of such tooling and oh god.... it can be extremely complicated. Compatibility matrix should be kept up to date as well, documentation as well.
I just wanted to raise that up since I am having trouble keeping my CRD up to date (and not solely for jaeger, other projects lack similar resources).

Nonetheless, I don't think the CRD changed _that much_ recently, maybe maintaining i

[2021-03-15 08:34] jpkrohling commented on #1408
I have in my queue somewhere that I need to check how Kubernetes itself generates this doc. I think they have custom tooling that we can reuse.

[2021-03-16 14:10] majidazimi opened #1410 "Operator doesn't respect priorityClassName for collector or query"
Jaeger operator doesn't respect setting `priorityClassName` for collector and query:
[code]

Setting above fields doesn't trigger any redeployment. Deleting `ReplicaSet` manually doesn't create pods with new configuration either. However, Collecotor/Query helm charts already supports this field. Am I missing something or there is really an issue?

[2021-03-16 16:46] jpkrohling commented on #1410
Apparently, we have support only for the agent, added as part of https://github.com/jaegertracing/jaeger-operator/pull/1392 . Would you be willing to send a PR adding that to the collector/query?

[2021-03-16 16:48] majidazimi commented on #1410
What needs to be changed? I'm not a Go developer. Some hints or guidelines would be great.

[2021-03-16 16:55] jpkrohling commented on #1410
You can use the linked PR as a model. The collector/query parts are close to the agent parts, should be easy to spot them. Once you send a PR, I can see if anything else is needed.

[2021-03-17 11:53] majidazimi commented on #1410
#1413 Please take a look into the changes.

[2021-03-17 14:29] jpkrohling commented on #1410
A Go developer couldn't have done better, thanks!

[2021-03-18 13:39] #1410 closed

[2021-03-18 14:42] alexrashed opened #1414 "Injected sidecar references wrong jaeger instance"
Hi there.

I'm currently stumbling across a strange issue with the Jaeger operator in our cluster:

- Cluster: OKD 4.7
- Operator: Community Jaeger Operator 1.21.3

I do have multiple instances of Jaeger in different namespaces (about 3 or four, all managed by the operator), but only a single instance in my namespace:
[code]

My deployment has the annotation `sidecar.jaegertracing.io/inject=true`.

[2021-03-18 14:48] jpkrohling commented on #1414
Just to confirm, you are indeed using a different name for each Jaeger instance, right? We currently have a bug/limitation in that Jaeger instances with the same name, but from different namespaces, might get mixed up.

cc @rubenvp8510

[2021-03-18 14:50] alexrashed commented on #1414
Yes, all instances in the cluster are named differently and each is in a separate namespace.

[2021-03-18 14:52] jpkrohling commented on #1414
Would you be able to produce the debug logs from the operator?

[2021-03-18 15:17] HaehnleinMar commented on #1414
Here are the debug logs:

[code]

[2021-03-18 15:19] jkandasa opened #1415 "support repetitive arguments to operand"
For now, there is no way to supply repetitive arguments options to the operand

I am expecting the following arguments to query pod, how to specify this in jaeger CR?
[code]

[code]

AFAIK, in YAML we cannot supply the same key multiple times
https://github.com/jaegertracing/jaeger-operator/blob/v1.21.3/pkg/apis/jaegertracing/v1/options.go#L96~L99

[2021-03-19 06:20] sandangel commented on #945
We have the same issue when trying to connect to our existing Kafka cluster. Is there any investigation?

[2021-03-19 07:08] rubenvp8510 commented on #1393
I tested with `Kind` I was not able  reproduce the issue so far, this is how my ingress looks like:

[code]
Also I can reach jaeger outside the cluster. I did  a ` curl localhost` and I got a response. I followed the instructions [here](https://kind.sigs.k8s.io/docs/user/ingress/) I installed NGINX controller. Which ingress controller are you using? What version of `Kind`? This sounds more like a

[2021-03-19 08:20] jpkrohling commented on #945
ping @kevinearls

[2021-03-19 14:47] kevinearls commented on #945
@sandangel What are you seeing?  I'm guessing it's something different from this and you need to open a new issue.  If my memory is correct there was a time we were having intermittent test failures because either the Jaeger operator, Kafka (Strimzi) operator, or Kafka instance was taking too long to deploy.  I don't think we've seen this in quite some time, but maybe @jpkrohling  can confirm this

[2021-03-20 05:03] rubenvp8510 commented on #1414
Question: Do you have an annotation in your namespace?
Something like this:
[code]

In that case, the namespace annotation should have precedence, Is the only way I found to reproduce this behaviour so far.

[2021-03-22 06:54] alexrashed commented on #1414
No, the only annotations on the namespace are the annotations OKD creates when creating a namespace for a new project (`openshift.io/*`):
[code]

[2021-03-22 09:00] jpkrohling commented on #945
Indeed, it's been a while since I last saw an intermittent issue here. @sandangel, are you able to consistently reproduce this?

[2021-03-22 09:20] sandangel commented on #945
[code]

I'm trying to get the collector to connect to our existing kafka cluster. However, we consistently got the same error described above

This is the logs:

[code]

this is our krb5.conf

[code]

*Realm, username, kdc, topic, broker has been modified to share on public*

[2021-03-22 11:32] ivanayov commented on #1393
Thank you @rubenvp8510. Can you please share how you deployed jaeger? Did you use helm or the crds from the repo? Thanks.

[2021-03-22 15:39] aleksandrovpa commented on #294
Hi, maybe this is stupid question, but i couldn't run a spark job with following configuration:
[code]
Here is error:
[code]
Can someone show me, what i'm doing wrong? or maybe there are any workaround, how to get spark job works.
Thnx

[2021-03-23 06:44] rubenvp8510 commented on #1393
Hi @ivanayov I did it using CRDs from the repo.

This is my Kind configuration:
[code]
I started Kind and installed the ingress controller:
[code]
Installed the operator:
kubectl create namespace observability
kubectl create -n observability -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml
kubectl create -n observability -f htt

[2021-03-23 09:29] kevinearls commented on #945
@sandangel Ok, but that doesn't really have anything to do with the original issue here, which was tests failing because of timing issues.  Can you either open a new issue here, or ask on the Jaeger email list or Slack?  (See https://www.jaegertracing.io/get-in-touch/#via-chat-or-email)

@jpkrohling  I think we can close this.

[2021-03-23 09:32] sandangel commented on #945
Sure. I thought it is related because it has the same error msg. Anyway I can create another issue. thanks for your response ❤️❤️❤️

[2021-03-23 13:06] ivanayov commented on #1393
Thank you very much @rubenvp8510! Everything is exactly the same as I've deployed it, except the `allinone` strategy.
With it I'm not having any issues.

[2021-03-23 14:47] kevinearls commented on #294
@aleksandrovpa I don't have much time to look at this at the moment, but you may find what you need in these two items:

https://github.com/jaegertracing/jaeger-operator/issues/1332
https://github.com/jaegertracing/jaeger-operator/pull/1359

[2021-03-24 06:33] rubenvp8510 commented on #1415
i think something like this could be an option:
[code]

[2021-03-24 06:41] rubenvp8510 commented on #1393
@ivanayov What strategy were you using?

[2021-03-24 11:26] #945 closed

[2021-03-24 19:37] jnunham opened #1419 "Receiving message "No suitable Jaeger instances found to inject a sidecar" from Operator"
Hello,

I'm trying to inject a Jaeger sidecar in to my deployment. I've added the following annotation to the deployment per the Jaeger documentation:

[code]

When I describe the deployment, I can see that the annotation is there:

[code]

However, I don't see the sidecar being injected in to my deployment. I see the following message in the Jaeger Operator logs:

[code]

The Operator should have

[2021-03-25 15:10] #1419 closed

[2021-03-25 16:42] nightscape commented on #405
Not sure if this helps anybody, but I had the same problem in a different context, while creating a custom Spark image for usage in Kubernetes.
The incantation that works for me is the following:
Dockerfile (note especially the :
[code]

entrypoint.sh
[code]

[2021-03-26 02:14] jam01 commented on #294
@aleksandrovpa we're just composing the cron job manually in order to bootstrap the trust store through an init container. You can check this out https://github.com/MS3Inc/tavros/blob/main/tests/integration/targets/playbooks/provision_playbook/example.com/platform/jaeger/default/cronjob-spark-dependencies.yaml#L39

[2021-03-27 05:43] #1307 closed

[2021-04-02 19:56] tonychoe opened #1422 "Support passing Kafka username/password as K8S secrets"
**Problem to Solve**

I am using the existing Kafka for the `streaming` strategy. Looks like there's no option to pass the Kafka username/password as K8S secret to jaeger-collector and ingester. It would be good to support it.

**Proposed Solution**
Passing the Kafka username/password as a K8S secret.

**More info**
This is my current config in Jsonnet. It passed the username/password as the conta

[2021-04-05 09:36] arjuncreativo opened #1424 "Our k8s provider mandates the use of backoffLimit <=3."
How can I set backoffLimit for storage type elasticsearch under esIndexCleaner and dependencies

[code]

[2021-04-06 12:01] jpkrohling commented on #1422
I think we have the same problem with storage mechanisms as well. It would be good to have this feature for usernames/passwords in general.

[2021-04-07 09:32] D-wenhao opened #1423 "Agent can't transfer data to controller!!!"
**Describe the bug**
jaeger agent report error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Jaeger using the Jaeger Operator
2. Create a POD application and inject Jaeger
3. Report the data through a Python script
[code]
4. Check the POD internal Jaeger-Agent container log

**Expected behavior**
After running the Python script, the client reports the data to the jaeger-agen

[2021-04-07 09:35] jpkrohling commented on #1423
Could you give us the output of `kubectl get services -n observability`? Are you able to consistently reproduce it using recent versions of minikube?

[2021-04-07 11:33] jpkrohling commented on #1424
Seems like a good first issue. Would you like to send a PR for this? You'd need to change this struct to accommodate the new field:

https://github.com/jaegertracing/jaeger-operator/blob/65490e8fdc240b3bf9a25297dfc1627372134791/pkg/apis/jaegertracing/v1/jaeger_types.go#L603-L624

Make sure to add the same field to other places that also create cronjobs, such as the JaegerDependenciesSpec and Jaege

[2021-04-08 23:13] Shohou opened #1425 "jaeger not listening on zipkin port"
I'm creating Jaeger all-in-one instance according to the following config:
[code]

I see how it creates a pod and in pod describe I can see environment variable set - `COLLECTOR_ZIPKIN_HTTP_PORT:  9411`
But for some reason when I check logs I see
[code]

Anything else I should add to configuration to enable zipkin port?

Jaeger operator image - `jaegertracing/jaeger-operator:1.21.2`

[2021-04-08 23:20] Shohou commented on #1425
oh found the reason...
if I remove the `image: jaegertracing/all-in-one:1.22` it creates pod with `image: jaegertracing/all-in-one:1.21.0` and there I get
[code]

[2021-04-08 23:23] Shohou commented on #1425
From 1.22.0 changelog

[2021-04-08 23:26] Shohou commented on #1425
So it's my fault. I installed operator from helm chart which has operator version 1.21 and set image to 1.22. Closing the issue

[2021-04-08 23:26] #1425 closed

[2021-04-09 03:04] ethernoy commented on #1408
Documentation on each field in the Jaeger CRD is definitely wanted

[2021-04-09 03:39] ethernoy opened #1426 "Incorrect Jaeger Custom Resource Version"
Hi all,

I deployed jaeger 1.22.0 using jaeger operator 1.22.0 and it works as expected. However, when I view the CR I deployed, it has the status version = 1.21.0.

![image](https://user-images.githubusercontent.com/15870761/114124937-0fef1380-9928-11eb-8927-e4af6eb765c4.png)

Here is the CR I used when deploying jaeger:

[code]

[2021-04-12 02:52] tonychoe opened #1427 "Provision a Service for Jaeger agent daemonset"
**Problem to fix**
Spans are not received after jaeger-agent-daemonset restarts.

**Desired Solution**
Jaeger Operator provides an option to provision a Service for jaeger-agent-daemonset

**Details**
The instrumented apps are configured with
[code]
After the agent restarts, the agent don't get spans from the instrumented apps. This issue is related to the conntrack which is the Linux kernel modul

[2021-04-12 09:31] jpkrohling commented on #1160
Closing, as I'm not sure we want to handle this at the operator. Feel free to reopen if you disagree.

[2021-04-12 09:31] #1160 closed

[2021-04-12 10:34] jpkrohling commented on #1041
Closing, as this is not relevant anymore.

[2021-04-12 10:34] #1041 closed

[2021-04-12 10:34] #1001 closed

[2021-04-12 10:35] #974 closed

[2021-04-12 10:36] #910 closed

[2021-04-12 10:37] #714 closed

[2021-04-12 10:58] jpkrohling commented on #1427
DaemonSets are deployed once per node, and when using Agents as DaemonSets, I would expect all spans from everything in that node to reach the agent there. A service will yield a pod in any nodes, defeating the purpose of using DaemonSets.

I acknowledge the problem, just not sure the solution is to place a service in front of the daemonsets.

[2021-04-12 12:31] jpkrohling commented on #1425
Thanks for the follow-up!

[2021-04-12 12:32] jpkrohling commented on #1426
@rubenvp8510 could you please take a look? Looks like a version wasn't bumped somewhere.

[2021-04-12 14:46] jpkrohling opened #1428 "Update to Strimzi 0.23"
The next version of Strimzi might require updates on our side. The operator might then need to be updated to reflect that. This ticket is to both assess the impact and to prepare the code to handle it.

[2021-04-12 14:46] jpkrohling commented on #1428
@rubenvp8510 may I assign this to you?

[2021-04-12 18:15] rubenvp8510 commented on #1428
Yes, I'll take care

[2021-04-12 22:36] tonychoe commented on #1427
@jpkrohling what do you think about the init container idea?

[2021-04-13 09:34] jpkrohling commented on #1427
I haven't seen this before, but given that it requires a privileged security context, I would say this is a blocker for most production environments I know of. Is there another solution?

[2021-04-14 02:28] tonychoe commented on #1427
That's a valid concern. If we ever agree to implement the init container, it has to be optional and turned off as default for people to accept the security and complexity tradeoff.

I didn't find another solution yet. I think it's either tuning (tuning off) conntrack in the OS (image) or making the jaeger operator/agent to fix it.

Or just provision a Service for the jaeger agent outside of Jaeger

[2021-04-14 07:48] jpkrohling commented on #1427
I highly recommend avoiding this. The agent receives data via UDP, which is fine for localhost (same pod or same node), but not suitable for crossing a real network.

[2021-04-14 07:56] tonychoe commented on #1427
Agreed. That’s why I am stuck with this issue.

[2021-04-14 08:45] munipravy opened #1429 "Enabling external labels for Jaeger pods"
For enabling pod level labeling in Jaeger do we have spec recommended way  ?

[2021-04-14 09:04] jpkrohling commented on #1429
The labels you specify as part of the Jaeger CR should be propagated down to the underlying resources, including pods.

[2021-04-14 09:06] jpkrohling opened #1430 "Remove bot that adds need-triage label"
The label isn't helping as I thought it would. In fact, it's only causing noise. This issue is about removing the issue labeler workflow:

https://github.com/jaegertracing/jaeger-operator/blob/master/.github/workflows/labeler.yml

And its configuration file:

https://github.com/jaegertracing/jaeger-operator/blob/master/.github/labeler-needs-triage.yaml

[2021-04-14 10:26] munipravy commented on #1429
I am using spec.metadata.labels to mention labels at pod level as mentioned below.

[code]
But labels are not reflecting at Jaeger pod level

[2021-04-14 11:03] jpkrohling commented on #1429
@rubenvp8510 , could you please take a look?

[2021-04-14 18:56] tonychoe commented on #1427
instead, I will chase the upstream (kubernetes networking) and my provider (OKE) to fix the conntrack issue.

reference:
- Issue in GKE https://github.com/kubernetes/kubernetes/issues/95258

[2021-04-14 18:56] #1427 closed

[2021-04-15 11:16] jpkrohling commented on #1427
Sounds indeed like a better solution! Thanks for the report anyway, I'm sure it will help other folks in the future.

[2021-04-16 08:19] Gerrit-K commented on #1162
I've deployed a cassandra instance from the [bitnami chart](https://github.com/bitnami/charts/tree/master/bitnami/cassandra) and a jaeger instance using the [operator chart](https://github.com/jaegertracing/helm-charts/tree/main/charts/jaeger-operator) and linked them to an existing secret as described above. I can confirm that it works using `CASSANDRA_USERNAME` and `CASSANDRA_PASSWORD` 👍

@tobyp

[2021-04-16 08:26] ediezh opened #1431 "Failed to list namespaces error when not using cluster-wide mode"
Deployed the operator 1.22 following these instructions

[code]

The operator watches only the observability namespace. But I'm seeing these errors in the log:
[code]

[2021-04-16 14:00] dicolasi commented on #1104
I have hit exactly the same problem. I am going to track this issue. Thanks for the effort!

[2021-04-16 14:02] dicolasi commented on #1104
here an example of side car I use in all the other services in my cluster:

     - image: quay.io/oauth2-proxy/oauth2-proxy:v6.1.1
       name: oauth2-proxy
       ports:
           - containerPort: 4180
       env:
         - name: KEYCLOAK_CLIENT_SECRET
           valueFrom:
             secretKeyRef:
               name: keycloak-client-secret-monitor-client
               key: CLIENT_SECRET

[2021-04-20 06:41] Gerrit-K commented on #1162
Due to several other issues with the helm chart (invalid CRD, CR and labels), I switched over to deploying the manifests manually and now ran into this issue again. Upon further inspection it appears to me that the _schema job_ does not account for the secret:

https://github.com/jaegertracing/jaeger-operator/blob/5bf83e1024edb5963517d1a7419bd61184ca2c06/pkg/storage/cassandra_dependencies.go#L57-L

[2021-04-20 11:36] c4m4 commented on #1369
I am still waiting :)

[2021-04-20 11:50] jpkrohling commented on #1369
@c4m4, this is unlikely to happen without contributions from users interested in this feature.

[2021-04-20 14:51] LeoHexspoor opened #1433 "Default jaeger version set to 1.21.0 instead of 1.22.0 for operator 1.22.0"
I was expecting to see jaeger instances upgrading after upgrading to operator 1.22.0 but looking at the versions.txt the default jaeger version for operator 1.22.0 remains 1.21.0.

Give the following text in the docs I would expect operator 1.22 to use jaeger 1.22 as well:

Can I use jaeger 1.22.0 with controller 1.22 and if so how do I overwrite the default version?

[2021-04-21 00:53] jaitaiwan commented on #1369
@jpkrohling if you can point me to the relevant tests/code portion I might be able to do a PR to fix.

[2021-04-21 04:23] rubenvp8510 commented on #1433
There is an issue in the latest release, the Jaeger version wasn't bumped.

This PR prepares a new release that should fix this issue: https://github.com/jaegertracing/jaeger-operator/pull/1432

[2021-04-21 08:08] #1426 closed

[2021-04-21 08:10] jpkrohling commented on #1433
Once 1.22.1 is released, would you be willing to verify it?

[2021-04-21 08:34] LeoHexspoor commented on #1433
@jpkrohling Certainly!

[2021-04-22 10:04] jpkrohling commented on #1162
Would you be interested in contributing a fix?

[2021-04-22 10:11] jpkrohling commented on #1369
First, you'll need to create the CRs to provision the ES cluster here, in this package: https://github.com/jaegertracing/jaeger-operator/tree/master/pkg/storage . You'd need to create another ES set of sources, as we don't want to remove the support for the existing ES operator.

You'll probably also want to detect which ES operator is available and record this trait somewhere. The auto-detection

[2021-04-22 10:11] munipravy opened #1436 "Does Jaeger operator and application support Active Active Disaster recovery ?"
Looking for Disaster recovery set up for Jaeger, does this operator support ?

[2021-04-22 10:14] jpkrohling commented on #1431
@ediezh could you please provide the deployment that is being used by the operator?

    kubectl get deployment -n observability jaeger-operator -o yaml

I'm especially interested in the value of the `WATCH_NAMESPACE`.

[2021-04-22 10:16] jpkrohling commented on #1436
Other than the regular Kubernetes guarantees, the operator does not support anything special for disaster recovery. What are you looking for concretely?

[2021-04-22 12:16] jaitaiwan commented on #1369
Thanks. I was wondering the same thing, especially if the CR's start to largely diverge from eachother and then also might need to account for AWS's fork of ElasticSearch as well.

[2021-04-22 12:16] jaitaiwan commented on #1369
My experience with Go is limited, so it's probably something that is getting beyond my skillset.

[2021-04-22 13:44] LeoHexspoor commented on #1433
@jpkrohling I've rolled out 1.22.1 and it's working as expected. My jaeger instances were migrated to 1.22. Thanks!

[2021-04-22 15:16] Gerrit-K commented on #1162
In the spirit of being helpful and giving back to the open-source community, yes, always! However, I've not written much go code yet (especially production-grade), so chances are that you'll spend more time giving feedback to my contribution than you would need to implement it yourself. Additionally I would need to allocate enough spare time to get familiar with the contribution guidelines, set up

[2021-04-22 16:02] LeoHexspoor opened #1437 "When migrating from operator 1.21.3 to 1.22.1 values in storage/options are lost for existing Jaeger instances"
I've upgraded from operator v1.21.3 to 1.22.1 and afterwards the existing Jaeger instances were migrated from v1.21.0 to v.1.22.0. However Jaeger pods started going into a crash loop as they could not connect to our Elastic instance anymore. Turns out the settings in the Jaeger instances under storage/options were removed by the operator on upgrade. Redeploying the Jaeger configuration fixed the i

[2021-04-22 16:06] LeoHexspoor commented on #1433
I was a bit quick to say everything was working as expected. This issue can be closed as Jaeger instances and sidecars got migrated properly to v1.22.0. But there was an issue with some lost configuration, I've logged a separate issue for this #1437.

[2021-04-22 16:06] #1433 closed

[2021-04-23 04:48] ediezh commented on #1431
@jpkrohling here is the deployment.
[code]

[2021-04-23 10:23] jpkrohling commented on #1437
@rubenvp8510, @rkukura, would one of you be able to look into this one?

[2021-04-23 10:25] jpkrohling commented on #1431
It does look like a bug to me: the operator shouldn't be looking at all namespaces when it's restricted to one.

@rkukura, are you able to take a look at this one?

[2021-04-23 10:27] jpkrohling commented on #1162
That's fine, I'll end up with one more person knowing this code, which is always a good thing.

This will make it easier to contribute more features in the future ;-) The docs should be up to date, but let us know if you get blocked.

Looking forward to your PR!

[2021-04-26 13:03] jpkrohling opened #1438 "Disabling TLS in the collector keeps tls=true option"
As reported by @kenfinnigan, setting the option `reporter.grpc.tls.enabled` to false on a CR that has it set to true (like in a CR on OpenShift), will cause the option to be set at both true and false.

[2021-04-26 13:03] jpkrohling commented on #1438
@jkandasa could you add this to the OpenShift tests?

[2021-04-26 13:55] kenfinnigan commented on #1438
FYI, it also happens with `collector.grpc.tls.enabled`

[2021-04-26 15:47] gsagula opened #1441 "Migration to 1.22 missed Zipkin port change"
**Describe the bug**
Starting on `jaegertracing/jaeger-operator:1.22.1`, jaeger-collector does not start Zipkin server automatically.

{"level":"info","ts":1619421380.7131286,"caller":"server/zipkin.go:48","msg":"Not listening for Zipkin HTTP traffic, port not configured"}

CR
[code]

**Discussion**
https://github.com/jaegertracing/jaeger/discussions/2959

**To Reproduce**
Steps to reproduce the b

[2021-04-30 07:49] jpkrohling commented on #1441
Would one of you be interested in contributing a fix? Looks like we should have migrated the Zipkin parameter and value. This is where the code needs to be added:

https://github.com/jaegertracing/jaeger-operator/blob/5e9b39e9e091bb171b27edd61d02c7273cf6f55f/pkg/upgrade/v1_22_0.go#L11-L40

[2021-04-30 07:54] jpkrohling opened #1442 "Double check that the deprecated/removed options for 1.22 are migrated"
Jaeger v1.22 removed a few deprecated options, as seen in the release notes here: https://github.com/jaegertracing/jaeger/releases/tag/v1.22.0

At least one option wasn't properly migrated, as evidenced by #1441. This ticket is to assess whether any other properties are missing.

[2021-04-30 07:55] jpkrohling commented on #1442
Apparently, we had this in an old migration:

https://github.com/jaegertracing/jaeger-operator/blob/5e9b39e9e091bb171b27edd61d02c7273cf6f55f/pkg/upgrade/v1_18_0.go#L23-L48

It would then be worth investigating what went wrong with #1441 and check how we could have prevented it from happening.

[2021-04-30 08:21] #1437 closed

[2021-04-30 10:05] #1430 closed

[2021-05-03 15:40] jpkrohling opened #1444 "Request SCC permissions"
We currently document that users running the operator on OpenShift and wanting to use DaemonSets should manually create a SCC. However, the operator now has the possibility of requesting permissions to create the required SCC without making the operator highly privileged. This is now it's done in Maistra:

https://github.com/maistra/istio-operator/blob/6a2661ee1d03400aa9c4237aaa51eec95483a42e/mani

[2021-05-03 18:20] gsagula commented on #1441
@jpkrohling You can assign this issue to me if nobody else is taking it.

[2021-05-04 08:24] jpkrohling commented on #1441
Thanks for volunteering, @gsagula!

[2021-05-05 21:37] gionapaolini commented on #926
@OmriHarary I have a similar problem, the Jaeger UI is reached, but then nothing is displayed because the js scripts on the page fail to execute correctly.
Can you give me some more insight in how you fixed your issue?

[2021-05-07 06:28] bravecobra opened #1445 "Add an optional CRD to expose the admin port of a jaeger-instance"
In https://github.com/jaegertracing/jaeger/issues/2956#issuecomment-830809813 I suggested adding a extra CRD to expose the admin port if wanted (default: false). That would make monitoring through `prometheus` easier as it would only require a extra prometheus ServiceMonitor to start scraping that information.

Per requested by @jpkrohling, I added a new issue here to get this added in the operato

[2021-05-11 01:09] ilhaan commented on #1048
@js8080 I set up the same ingress as you did and my clients are unable to connect to the collector. This is the error I see:
[code]

[2021-05-11 08:13] Sallyan opened #1448 "Jaeger is OOMKilled when use badger as storage"
**version**: all-in-one:1.18.1
**issue**:
when i use badge as storage, Jaeger requests much more memory than in-memory storage and it keeps OOMKiller.
At the beginning Jaeger requests just hundred MB memory when it uses in-memory storage. But it requests over 5Gi memory when changed to Badge.
**Jaeger yaml:**
[code]

[2021-05-11 08:15] Sallyan commented on #1448
<img width="1358" alt="Screen Shot 2021-05-11 at 4 02 42 PM" src="https://user-images.githubusercontent.com/50126000/117782140-ebae8b80-b273-11eb-9645-c208a77be6dd.png">
The memory usage increased from MB to Gi when changes from in-memory storage to badge.

[2021-05-11 09:01] jpkrohling commented on #1448
I think this isn't related to the operator, but more general to Jaeger and its usage of Badger.

[2021-05-11 10:18] jpkrohling commented on #1445
I think we can just simply create a new service that exposes the admin port. No need to create a new option in the CRD. It would likely be located in a place like this:

https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/service/collector.go

If you want, you can use a similar code from the OpenTelemetry Operator:

https://github.com/open-telemetry/opentelemetry-operator/blob/8d22dd4

[2021-05-11 13:57] js8080 commented on #1048
@ilhaan I am not sure what the issue is. Are you sending from the Jaeger Agent to the Collector or is your traced client attempting to send directly to the Collector (bypassing the Agent)? I am using the Jaeger Agent in my case.

[2021-05-11 18:04] js8080 commented on #1048
@ilhaan I use a docker-compose file to run my agent:

[code]

[2021-05-12 01:32] rubenvp8510 commented on #1442
This is the list of flags removed on 1.22

- [ ] `--cassandra.tls` is replaced by `--cassandra.tls.enabled`
- [ ] `--cassandra-archive.tls` is replaced by `--cassandra-archive.tls.enabled`
- [ ] `--collector.grpc.tls` is replaced by `--collector.grpc.tls.enabled`
- [ ] `--collector.grpc.tls.client.ca` is replaced by `--collector.grpc.tls.client-ca`
- [ ] `--es.tls` is replaced by `--es.tls.enabled

[2021-05-12 04:50] rubenvp8510 commented on #1442
The reason of this migrating failed is because we are using environment variables for zipkin port/host, not the flags. Those environment variables should be migrated on the first reconciliation, but we didn't renamed before release 1.22. My fault was to focus only on migrate the flags

May be it worth to add some e2e tests?

[2021-05-12 07:06] gsagula commented on #1441
Sorry guys, I just started looking into this one today but I see that @rubenvp8510 already did it.

[2021-05-12 09:31] jpkrohling commented on #1441
That's ok, we have plenty of other issues if you are interested :-)

[2021-05-12 09:35] jpkrohling commented on #1442
Not sure, there was a bug in the tests as well, not sure we would have caught this with e2e tests.

[2021-05-12 17:24] gsagula commented on #1422
Awesome, I can give this one a shot if no one is taking it.

https://github.com/jaegertracing/jaeger-operator/issues/1422

[2021-05-12 17:26] gsagula commented on #1441
Awesome, I can give this one a shot if nobody else is taking it. https://github.com/jaegertracing/jaeger-operator/issues/1422

[2021-05-12 20:04] ilhaan commented on #1048
@js8080 Thanks!

In case other people stumble upon this, I had to switch Jaeger collector to use HAProxy Ingress Controller instead of Nginx Ingress controller. Following are the annotations I used for the collector's ingress:

[code]

After the ingress is created, I patched it to use port `14250` instead of `14268`

[2021-05-13 02:14] #1441 closed

[2021-05-14 14:31] VincenzoDo opened #1453 "Streaming stretegy and kafka auth."
Hello,

I have a question regarding the streaming deployment strategy.

How, if possible, can I pass tls certificate and key as well as the CA certificate to use when authenticating to Kafka brokers? I could not find any examples in the documentation.

Thank you!

Vincenzo

[2021-05-14 14:50] jpkrohling commented on #1453
You can add the certs to a configmap or secret, mount them as volumes, and specify the CLI flags to the ingester/collector to use that.

This is how you can mount volumes:

https://github.com/jaegertracing/jaeger-operator/blob/03f5722996b4462c70cc21b3dfb972ef32073755/examples/simple-prod-with-volumes.yaml#L14-L19

This is how you can pass options to the underlying binary:

https://github.com/jaege

[2021-05-14 14:50] #1453 closed

[2021-05-17 10:21] nikfot commented on #1048
Hello, is this issue moving forward? I am also interested.
If no PR is not submited about it yet, @jpkrohling  I would like to take some time and come back with a try.

[2021-05-17 10:30] jpkrohling commented on #1048
@nikfot, sure! The first step is to send in a proposal, and I suggest showing how you think the configuration should look like. Once we all agree on that, implementing a solution should be relatively easy.

[2021-05-17 10:33] nikfot commented on #1048
Great! I will come back with a proposal on this thread asap.

[2021-05-17 11:07] nikfot commented on #1048
My basic idea would be to abstract the `JaegerIngressSpec` and decouple it from the query.
So we could have a `JaegerIngresses` struct containing a querry and a collector objects of type `JaegerIngressSpec` -and maybe more in the future(?)- of type `JaegerIngressSpec` each.

In that case the configuration would looke like this (borrowing from the jaeger sample ingress config):
[code]

That is what

[2021-05-17 11:46] jpkrohling commented on #1048
We try to keep the CR as domain-specific as possible, meaning that the high-level items are about items that have a meaning for Jaeger, like `collector`, `query`, `ingester`, `storage`, and so on. We do have precedents of having non-domain items here, evidenced by the JaegerCommonSpec (Volumes/VolumeMounts, and related). Can you think of another proposal with that concept in mind? I don't dislike

[2021-05-17 11:52] nikfot commented on #1048
Of course I can come up with another one. I am really ok with what you say since , as I mentioned before, I have little experience in such procedures, so for me even commenting on my proposal is a chance to learn more.

I'll get back.

[2021-05-20 03:54] hwanghoward commented on #1423
My k8s version is 1.20.4, jaeger version is v1.22.0. When I use jaeger operator to create agent, set the strategy to "DaemonSet" and set the "hostNetwork: true", I also met the same problem. I checked the /etc/resolv.conf and found that the pod of agent uses the resolv.conf of the node. So I changed the dnsPolicy of agent daemonset from "ClusterFirst" to "ClusterFirstWithHostNet", then the problem

[2021-05-22 20:36] tirumerla commented on #926
Hi @gionapaolini make sure the base-path is under `query.options.query` in your values file. In my case i had it under "top-level" query that was causing this issue. This may or may not be the issue with you.

[2021-05-23 03:14] OmriHarary commented on #926
@gionapaolini Apologies, I missed this. It might have been something similar to what @tirumerla said, that sounds familiar to me. It's been a long time so I don't really remember, but I'll try to look and see if I can recall. If I can, I'll add more details here.

[2021-05-24 03:31] rubenvp8510 commented on #1442
@jpkrohling Can we close this one?

[2021-05-24 15:18] Anna-Katona commented on #1371
Not sure if it is still relevant...
What is the output of
`kubectl get crd kafkas.kafka.strimzi.io -o jsonpath="{.spec.versions[*].name}"` ?
Does it have 'v1beta1' in the list?

In my case there was only v1beta2 because I installed too new kafka-operator. It was resolved after I removed CRDs and installed 0.19.0 for example

[2021-05-25 08:32] majidazimi commented on #931
The issue still exists in latest version. I'm using chart 2.21.1 with image 1.22.1, I've set the following options:
[code]
But I still see this log message:
`E0525 08:30:16.437023       1 reflector.go:178] pkg/mod/k8s.io/client-go@v0.18.2/tools/cache/reflector.go:125: Failed to list *v1.Namespace: namespaces is forbidden: User "system:serviceaccount:jaeger-operator:jaeger-operator" cannot list res

[2021-05-25 09:56] Pocokwins opened #1457 "Jaeger shows no services"
**Describe the bug**
After OLM updated Jaeger to v1.22.1 it doesn't show any other services just itself. After some investigation it seems that the name of the Zipkin port is defined with the wrong name for the collector. It's name is `COLLECTOR_ZIPKIN_HTTP_PORT`, but it should be `COLLECTOR_ZIPKIN_HOST_PORT`.

**To Reproduce**
Steps to reproduce the behavior:
1. OLM installs jaeger-operator with

[2021-05-25 14:17] jpkrohling commented on #1442
Was there a PR as part of this?

[2021-05-25 14:18] jpkrohling commented on #1457
This seems to be related to https://github.com/jaegertracing/jaeger-operator/issues/1457

[2021-05-25 17:21] rubenvp8510 commented on #1457
There is a bug where some flags weren't property migrated to Jaeger 1.22

This PR should fix this issue: https://github.com/jaegertracing/jaeger-operator/pull/1449

But we haven't done a release that include the fix yet.

[2021-05-25 17:23] rubenvp8510 commented on #1442
Yes, this one: https://github.com/jaegertracing/jaeger-operator/pull/1449

Also, I put a check list here, and verified that each of the flags where migrated. =)

[2021-05-25 21:27] gionapaolini commented on #926
If I remember correctly I made sure sure it was on the right level. Anyway eventually I just started to use the default ingress deployed by the helm chart

[2021-05-26 02:03] LuChenjing opened #1458 "Use Cassandra as storage type but got collector CrashLoopBackOff"
**Describe the bug**
Using Jaeger-operator to deploy Jaeger. Docker image  version is: jaeger-operator:1.22.1

**To Reproduce**
1. Here is my Jaeger spec yaml:
[code]

And my Cassandra service
[code]

2. After execute kubectl apply got this result:
[code]
Services are just like:
[code]

Collector log is:
[code]
operator log is:
[code]

[2021-05-26 02:25] LuChenjing commented on #1458
Update the describe info, seems cannot connect to the redinessProbe port
[code]

[2021-05-26 03:48] ethernoy opened #1459 "Reduce Vulnerabilities Caused By Libraries"
## Requirement - what kind of business use case are you trying to solve?

Reduce the vulnerabilities reported by container image scanning tool

## Problem - what in Jaeger blocks you from solving the requirement?

Aqua Trivy container image scanning tool indicates there are 111 vulnerabilities of severity medium to high existing in jaeger-operator image version 1.22.1.

## Proposal - what do you s

[2021-05-26 04:19] #1314 closed

[2021-05-26 05:38] Pocokwins commented on #1457
@jpkrohling  @rubenvp8510  Thank you for your quick answer. Do you happen to know when we can expect the next release which contains the fix?

[2021-05-26 08:54] LuChenjing commented on #1458
I am able to connect the 14269 port of collector pod, but it cannot pass the livenessProbe/readinessProbe.

[code]

[2021-05-26 09:57] jpkrohling commented on #1458
Could you share the logs from the query pod? Is your collector still crashing? Could you add "log-level=debug" to your options?

[2021-05-26 09:58] #1442 closed

[2021-05-26 09:59] jpkrohling commented on #1459
As soon as we rebuild the containers, we should get a newer version with the vulnerabilities addressed.

[2021-05-26 09:59] #1459 closed

[2021-05-26 12:18] jpkrohling commented on #1458
If you expose your Cassandra port with `kubectl port-forward`, are you able to get a local Jaeger connected to that instance? If you still have problems with a local Jaeger connecting to the remote Cassandra, how about a local Jaeger with a local container using the same image as your in-cluster Cassandra? Not sure it's a problem in the operator, based on the logs...

[2021-05-26 13:12] LuChenjing commented on #1458
@jpkrohling Yes, the cassandra exposed by k8s service, and able to see the created keyspace in cassandra pod.
Will update the result after trying the local Jaeger...

[2021-05-26 15:44] rubenvp8510 commented on #1457
@jpkrohling Yes

[2021-05-27 02:24] LuChenjing commented on #1458
@jpkrohling Hello, did you mean "local jaeger" just use ```docker run```? I tried, and logs as below:
By checking the timestamp. Jaeger switched to success took more than 10 mins. ```1622080707.04903``` to ```1622081494.2027717```
So... maybe the time gap made the pods didn't pass the LivenessProbe/ReadinessProbe, then keep crashing?
[code]

![image](https://user-images.githubusercontent.com/42744

[2021-05-27 08:11] jpkrohling opened #1461 "Cassandra storage takes a lot of time to start"
_Originally posted by @LuChenjing in https://github.com/jaegertracing/jaeger-operator/issues/1458#issuecomment-849267670_

@jpkrohling Hello, did you mean "local jaeger" just use ```docker run```? I tried, and logs as below:
By checking the timestamp. Jaeger switched to success took more than 10 mins. ```1622080707.04903``` to ```1622081494.2027717```
So... maybe the time gap made the pods didn't

[2021-05-27 08:12] jpkrohling commented on #1458
This indeed looks like the cause. I just created a new issue on the main repo with your latest comment and will close this one here.

[2021-05-27 08:12] #1458 closed

[2021-05-27 12:08] jpkrohling commented on #1048
Sorry, I missed this one somehow. I like the first proposal, but for backward compatibility purposes, I think we have to go with the second. Perhaps we can deprecate the main ingress in favor of a new one under the query node? We can then copy the .Spec.Ingress to .Spec.Query.Ingress under certain conditions (like, when .Spec.Query.Ingress is empty).

[2021-05-27 12:26] jpkrohling commented on #1431
ping @rkukura, are you able to work on this soon?

[2021-05-27 14:51] chadlwilson commented on #1431
FWIW, in addition to the error about listing namespaces, I also got `secrets is forbidden: User \"system:serviceaccount:default:my-release-jaeger-operator\" cannot list resource \"secrets\" in API group \"\" at the cluster scope` with `1.22.1` when deployed via the official Helm chart.

[2021-05-28 14:22] nikfot commented on #1048
That sounds nice! So we agree to **(1)** add an Ingress field to the collector struct `.Spec.Collector.Ingress` , **(2)** add an Ingress field to the query struct `.Spec.Query.Ingress` and **(3)** keep the `.Spec.Ingress` for backwards compatibility as a deprecated feature. Do I procceed on creating a Pull Request as soon as those are ready?

[2021-06-01 01:51] chasekiefer commented on #1424
I'm giving this a try and am looking to finish up by modifying the docs. Should I open a separate PR into the documentation repository?

[2021-06-02 12:57] jpkrohling commented on #1424
Yes, please create a new PR for the docs repo, linking to this PR here. The changes there should be applied only to the `next-release` directory. Thanks!

[2021-06-03 10:12] jpkrohling commented on #1048
Sounds good!

[2021-06-03 10:16] LuChenjing commented on #1458
@jpkrohling Hi, I just use a new Cassandra instance on another env which not abel to access the internet, So the image could not be pulled, may i ask how to specify the images use for each step?
Here is the jaeger manifest yaml file:
[code]
And the create schema job pod log:
[code]

[2021-06-03 10:22] jpkrohling commented on #1458
You can specify the image in the same node that you configure the datacenter:

https://github.com/jaegertracing/jaeger-operator/blob/f7cee0596e4c9c3abddb6910b23673e2a5b5f939/pkg/apis/jaegertracing/v1/jaeger_types.go#L546-L550

[code]

[2021-06-03 12:32] Dweston88 opened #1464 "Jaeger Rollover Elastic Search - SSL: CERTIFICATE_VERIFY_FAILED"
**Describe the bug**
When deploying the jaeger production operator using elastic search "use-aliases" the kubernetes pod for roll over initialization fails with SSL Certificate verification failure even though the certificate is valid and set. Configuration listed below.

**To Reproduce**
Steps to reproduce the behavior:
1. kubectl apply -f ./jaeger-prod.yaml -n observability
2. kubectl get pods -

[2021-06-03 12:33] Dweston88 commented on #1464
`apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: jaeger-prod
  namespace: observability
spec:
  strategy: production
  query:
    options:
      es:
        use-aliases: true
      query:
        base-path: /jaeger
  storage:
    type: elasticsearch
    options:
      log-level: debug
      es:
        server-urls: https://amer-kong-dev-manager.pwcinternal.com/elastic
        index-

[2021-06-03 14:36] chasekiefer commented on #1424
@jpkrohling So I've been working through writing the docs but it appears https://www.jaegertracing.io/docs/1.22/operator/ doesn’t dive very deep into the CRD options. It seems like only pretty high-level features are mentioned. Does this deserve a mention in the docs?

[2021-06-03 14:40] jpkrohling commented on #1424
Right, sorry, it should probably be kept only as a godoc in the relevant Go type. We'll eventually figure out a way to properly document the whole CRD based on that.

[2021-06-04 07:20] LuChenjing commented on #1458
@jpkrohling Thanks, I got it.
Another question, I noticed that jaeger agent and jaeger query in one pod, how should I set the agent to daemonset instead of  deployment? I mean if I want to run the agent on node10~node20( nodes with special label), how to set the nodeSelector and makesure run each agent on each node?

[2021-06-04 08:10] jpkrohling commented on #1458
Can't you use affinity and tolerations?

https://github.com/jaegertracing/jaeger-operator/blob/f7cee0596e4c9c3abddb6910b23673e2a5b5f939/pkg/apis/jaegertracing/v1/jaeger_types.go#L218-L223

[2021-06-07 13:43] jimpete opened #1466 "Need documentation on how to use private image repository"
## Requirement - what kind of business use case are you trying to solve?

As a military installation, I want documentation on how to pull the images from new locations in the Jaeger Custom Resource instance

## Problem - what in Jaeger blocks you from solving the requirement?

I cant find the place to put the spark, esIndexCleaner, esRollover, and esLookback images.  This seems to work except for

[2021-06-07 14:44] jpkrohling commented on #1466
We still do not have a doc with the full CRD options, your best source of information is the Go type for it, here:

https://github.com/jaegertracing/jaeger-operator/blob/b601fc5e46ac523ba1c244befe640508e8d866ea/pkg/apis/jaegertracing/v1/jaeger_types.go

And I see the image property for the options you listed:

https://github.com/jaegertracing/jaeger-operator/blob/b601fc5e46ac523ba1c244befe640508e8

[2021-06-07 15:59] jimpete commented on #1466
Very happy to hear the documentation is underway for the CRD options.
I read the specification and found my missing image specification under ```storage:```

Here is what works:
[code]

[2021-06-07 15:59] #1466 closed

[2021-06-08 02:26] LuChenjing commented on #1458
@jpkrohling Thanks, nodeAffinity meet my needs.
And update the info here, it takes fewer time after I switching another Cassandra(local deployed)..

However I met the same issue with [Multi-DC cassandra support](https://github.com/jaegertracing/jaeger/issues/2618), may I ask when the operator could support the param `replication_factor` of cassandra schema? Many thanks.

[2021-06-08 09:35] #1352 closed

[2021-06-08 20:38] chasekiefer commented on #1424
I added the godoc but I had to open a new PR. It should be good to go now!

[2021-06-09 02:19] LuChenjing commented on #1273
@chandu9333 Hi, how did you fix it? I tried all-in-one and production streagy, But none shown any services in UI. And there's no error logs from pods.

[2021-06-09 03:08] LuChenjing opened #1469 "Cannot catch the requests from jaeger-agent"
**Describe the bug**
Use the jaeger-operator to deploy jaeger tracing. Set the agent run as daemonset. After installation, only can see the requests from sidecar agent of query pod, not for the agent pods.
Operator version: 1.22.1

**To Reproduce**
Here is my operator yaml:
[code]
Here is my jaeger manifest:
[code]
Here is the screenshots:
![image](https://user-images.githubusercontent.com/4274469

[2021-06-09 07:52] jpkrohling commented on #1469
We do not trace the RPCs from the agent to the collector. Is that what you mean?

[2021-06-09 07:58] wabrit opened #1470 "Jaeger Operator 1.22.1 generates collector Deployment with now obsolete COLLECTOR_ZIPKIN_HTTP_PORT property"
**Describe the bug**
Folowing the instructions in the Kubernetes deployment guide for an All-in-One or Production deployment results in a deployment based on the image `jaegertracing/jaeger-operator:1.22.1`.

When run it produces an jaeger collector with the following:

[code]

The `COLLECTOR_ZIPKIN_HTTP_PORT` property no longer works in Jaeger 1.22, which means that any Zipkin-instrumented applic

[2021-06-09 08:00] jpkrohling commented on #1470
@rubenvp8510 I thought this was fixed already? Could you please double-check before releasing 1.23?

[2021-06-09 11:52] Pocokwins commented on #1457
@rubenvp8510 do you happen to know when will be released the new version which includes the fix?

[2021-06-09 12:06] Dweston88 commented on #1464
@rubenvp8510 Any update on this? I am not able to continue with deployment.

[2021-06-10 03:16] LuChenjing commented on #1466
@jimpete Update. It is `storage.dependencies.image` instead of `storage.spark.image`.

[2021-06-10 05:40] LuChenjing commented on #1469
@jpkrohling Thanks, I mis-understanding how it works. Now it works fine in my env. Thank you for your help.

[2021-06-10 05:40] #1469 closed

[2021-06-10 05:47] LuChenjing opened #1471 "cassandraCreateSchema job not support specify node to schedule"
## Requirement - what kind of business use case are you trying to solve?
I hope can set the `affinity` for `cassandraCreateSchema` job just like other jaeger components.

[2021-06-10 05:53] rubenvp8510 commented on #1470
It is fixed on master, I've already check it.

[2021-06-10 05:54] rubenvp8510 commented on #1464
Hi, sorry I haven't had time to give it a try. I'll try to reproduce it tomorrow.

[2021-06-10 05:56] rubenvp8510 commented on #1457
We are planing to do a release this week.

[2021-06-10 09:06] jpkrohling commented on #1470
Alright. @wabrit, please feel free to reopen if you experience this with 1.23, which we will be releasing in the next few days.

[2021-06-10 09:07] #1470 closed

[2021-06-10 09:07] jpkrohling commented on #1471
Would you be willing to send a pull request?

[2021-06-10 09:16] wabrit commented on #1470
Thanks @jpkrohling I'll be happy to road test 1.23 once it's released, and will confirm here when all is well.

[2021-06-10 18:47] #1424 closed

[2021-06-11 05:04] rubenvp8510 commented on #1464
Hi @Dweston88   how do you deploy your elasticsearch? Is your certificate self-signed ?

Could you provide me some steps on how do you deploy your ES and how are you creating your certificates?

Thanks.

[2021-06-11 11:24] errordeveloper commented on #1457
I've spent quite some time trying to figure this out...

[2021-06-11 11:46] Dweston88 commented on #1464
This is what I used for deploying elastic search HELM chart using AKS Internal load balancer. This is not a self-signed, I used a purchased SSL certificate. Also have a Nginx ingress sitting in front of elastic and jaeger to offload HTTPs.

[code]

SSL Config Map
[code]

Elasticsearch HELM values override.
[code]

[2021-06-11 11:54] Dweston88 commented on #1464
Here is my ingress deployment

Deploy Nginx
[code]

Internal Ingress Override File
[code]

Elastic Search Ingress Config
kubectl apply -f ./nginx-ingress-elastic.yaml

[code]

[2021-06-11 13:27] jpkrohling commented on #1457
1.23.0 is now out

[2021-06-14 17:46] gionapaolini opened #1474 "Jaeger "simple-prod" is not deployed"
**Describe the bug**
When I try to deploy the example strategy for production:
[code]
I get no error, but there is no pod deployed, and if I run `kubectl get jaeger` I get the response:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1.  Deploy the jaeger operator from the helm chart https://jaegertracing.github.io/helm-charts jaeger-operator 2.21.0
2.  Deploy the production strategy yaml

[2021-06-14 19:06] chasekiefer commented on #1471
If there is still value in this I could take it on.

[2021-06-15 01:19] LuChenjing commented on #1471
Sorry for the late reply...
@chasekiefer Appreciate it. Hope it been merged soon.

[2021-06-15 14:19] Dweston88 commented on #1464
@rubenvp8510 Do you need any more information to replicate?

[2021-06-15 16:53] rubenvp8510 commented on #1464
I think it is, I'll give it a try today and see if I can replicate.

Thank you!

[2021-06-16 21:25] tirumerla opened #1478 "Issue with spark dependencies job when using elastic search cluster serving at a specific base path"
## Requirement - what kind of business use case are you trying to solve?

Enabling tracing for our internal apps

## Problem - what in Jaeger blocks you from solving the requirement?

Running into this issue when using existing elastic search cluster which is serving at a specific path with spark dependency job.

[code]

I'm using Jaeger-operator helm chart and here are my configurations

[code]

[2021-06-17 07:59] ivanayov commented on #1393
@rubenvp8510 I tested again the failing configs in order to check if there was a bug with `allinone` not set by default or any other issue, but couldn't reproduce the problem anymore. Seems like, whatever the issue was, it got fixed with the late March release.
Thanks!

[2021-06-17 07:59] #1393 closed

[2021-06-17 12:28] dealboy commented on #1464
Hi, we are having a similar issue when using an elastic with a tls signed from our internal PKI (although we add the ca.crt in jaeger conf)

we do not get  _unable to get **local** issuer certificate_  but instead only `  unable to get issuer certificate`

full line from logs:

`elasticsearch.exceptions.SSLError: ConnectionError([SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to

[2021-06-17 13:03] dealboy commented on #1464
Sorry, our case was related to Python and Intermediate certificates (our ca.crt had only intermediate cert, adding the full chain makes it work fine)
Found it https://stackoverflow.com/questions/64219172/curl-cacert-vs-python-requests-verify

[2021-06-17 13:58] Gerrit-K opened #1479 "Service selector does not match custom Deployment labels"
**Describe the bug**
When creating a `Jaeger` object with custom `labels`, they are propagated to the `Deployment` (and hence the `Pod`) correctly, but unfortunately not to the `Service`(s). This is especially causing issues if you (intentionally or by accident) try to override the default labels, such as `app.kubernetes.io/name`, because then the `Service`s do not match the `Pod` labels anymore.

[2021-06-20 15:24] Morriz commented on #1431
bumping this as the current operator with create enabled does not install the CR. Setting `rbac.clusterRole: true` does not help as there is no mention of `namespace` in the RBAC delivered with the chart.

[2021-06-20 15:37] Morriz commented on #1431
Adding this little snippet to the role will fix it:
[code]

[2021-06-21 03:24] ethernoy opened #1480 "Support Customization of Deployment Strategy"
## Requirement - what kind of business use case are you trying to solve?

Customize deployment strategy of allinone/collector/query deployment (recreate/rollingupdate)

## Problem - what in Jaeger blocks you from solving the requirement?

Unable to customize deployment strategy of allinone, which is default to rollingupdate. I bind a pvc to jaeger allinone container to enable badger persistent sto

[2021-06-21 12:49] SCLogo commented on #1431
@Morriz will you open PR about it?

[2021-06-21 12:57] Dweston88 commented on #1464
@rubenvp8510 Were you able to replicate the behavior?

[2021-06-22 02:53] anarcher commented on #1470
within 1.23 , this issue was fixed
[code]

but, I get fail message like above:
[code]

1.23 doesn't works with k8s 1.18?

[2021-06-22 09:28] Morriz commented on #1431
sure

[2021-06-22 14:56] bwand commented on #1371
I am getting the same problem. Trying to install the simplest Jaeger with the operator and getting:
`time="2021-06-22T14:49:35Z" level=error msg="failed to apply the changes" error="no matches for kind \"Kafka\" in version \"kafka.strimzi.io/v1beta1\"" execution="2021-06-22 14:49:34.392092441 +0000 UTC" instance=simplest namespace=default`

I have Strimzi deployed in version 0.23.0 and do not want

[2021-06-22 23:58] superbiche opened #1482 "Operator fails to create Ingress, pathType is missing"
**Describe the bug**
Operator fails to update Ingress:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy the operator
2. Deploy a Jaeger CR
3. Check the operator logs

Here is the Jaeger definition:

[code]
I previously managed to access this Ingress, which is weird. I'd say that it stopped working when I did some experiments to deploy with the `streaming` strategy, but I'm not

[2021-06-23 08:04] anarcher commented on #1431
I'm not sure but `get` verbs is needed for `namespaces`
[code]

[2021-06-23 08:32] anarcher opened #1483 "failed to store the running status into the current CustomResource"
**Describe the bug**
I deploy fresh install of jaeger operator on K8S and a jaeger deployment but the operator can't reconcile completed.

**To Reproduce**
Steps to reproduce the behavior:
1. deploy fresh install of jaeger operator
2. apply jaeger CRD

[code]

**Expected behavior**

`Reconciling Jaeger completed`.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![imag

[2021-06-23 12:39] Morriz commented on #1431
don't think so. I saw no more errors without it...

[2021-06-24 13:23] jpkrohling commented on #1470
Sorry for not mentioning earlier, but 1.23 is out for a few days now.

[2021-06-24 13:24] #1162 closed

[2021-06-24 13:30] jpkrohling commented on #1483
@rubenvp8510 , could you take a look at this one?

[2021-06-24 13:35] jpkrohling commented on #1482
@rkukura, can you take a look at this?

[2021-06-24 13:38] jpkrohling commented on #1371
@rubenvp8510, could you please take a look at this one?

[2021-06-24 13:39] jpkrohling commented on #1464
ping @rubenvp8510

[2021-06-24 13:40] jpkrohling commented on #1480
Would you like to send a PR with a fix for this? Should be relatively easy, let me know if you need references.

[2021-06-24 13:45] jpkrohling commented on #1479
The right behavior should to not allow reserved labels to be overridden. The operator relies on them in different places in the reconciliation.

[2021-06-24 13:55] jpkrohling commented on #1474
Are you able to reproduce it with minikube?

[2021-06-24 15:45] ethernoy commented on #1480
Sure, I am glad to do that.

[2021-06-24 16:58] anarcher opened #1487 "Cassandra schema job is failed when `options.cassandra.servers` has multi server address list"
**Describe the bug**
Cassandra schema job is failed when `options.cassandra.servers` has multi-server address list (Docker image version is: `jaeger-operator:1.22.1`)

logs from `jaeger-cassandra-schema-job`

[code]

`jaeger` CRD

[code]

**To Reproduce**
Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**

Successfully done of Cassandra schema job

**Screenshots**

**Version (please

[2021-06-24 18:24] Dweston88 commented on #1464
I just keep getting this error when the initial application deployment.

{"level":"fatal","ts":1624558328.6729038,"caller":"command-line-arguments/main.go:79","msg":"Failed to create span writer","error":"**elastic: Error 500 (Internal Server Error): String index out of range: 0** [type=**string_index_out_of_bounds_exception**]","stacktrace":"main.main.func1\n\tcommand-line-arguments/main.go:79\ng

[2021-06-24 19:32] Dweston88 commented on #1464
Was able to get past that error. Now getting this when collector and query pods spin up

"Failed to init storage factory","error":"failed to create primary Elasticsearch client: health check timeout: no Elasticsearch node available"

[2021-06-25 02:09] lujiajing1126 opened #1488 "Backwards support for old Kubernetes versions"
## Requirement - what kind of business use case are you trying to solve?

Support Kubernetes v1.16.

It is normally not an easy task to upgrade Kubernetes cluster.

## Problem - what in Jaeger blocks you from solving the requirement?

In the latest release, I noticed that we have to use Kubernetes > 1.19 as mentioned in #1456 .

## Proposal - what do you suggest to solve the problem or improve the

[2021-06-25 05:59] rubenvp8510 commented on #1464
Still not able to reproduce the issue SSL issue, I'll try to reproduce the error you mentioned here, but seems like there is a communication issue between your pods and the elasticsearch.

Is this URL ` https://elasticsearch_url/elastic` accurrate? Or it should be`  https://elasticsearch_url` ?

[2021-06-25 10:19] jpkrohling commented on #1488
@rubenvp8510, can we revert the networking changes? Or was it required for some reason?

[2021-06-25 10:21] jpkrohling commented on #1487
Sounds reasonable to me.

[2021-06-25 10:24] jpkrohling commented on #1480
Sure. Take a look at this PR, which did something similar (new field in the CRD, using it in the deployment for collector/query, tests, re-generated manifest files)

https://github.com/jaegertracing/jaeger-operator/pull/1413

[2021-06-25 12:08] Dweston88 commented on #1464
I was able to get pass the TLS issue by included the full certificate Chain. (Cert|CA|Root). I had to adjust the URL by adding elastic/ (Dont forget the slash). Now I am getting this error when the collector and query pods try to start up.

        server-urls: https://my-site/elastic/

{"level":"fatal","ts":1624622076.0722783,"caller":"command-line-arguments/main.go:75","msg":"Failed to init stor

[2021-06-25 12:58] Dweston88 commented on #1464
I was able to resolve all issues. I had to adjust the Nginx ingress to not redirect requests. Should look something like this.

[code]

[2021-06-25 12:58] #1464 closed

[2021-06-26 02:52] rubenvp8510 commented on #1488
The network changes are not only on the version of the API (`networking.k8s.io/v1beta1` => `networking.k8s.io/v1`),  the Ingress definition also changed a little bit (https://kubernetes.io/docs/reference/using-api/deprecation-guide/#ingress-v122) , if we want to use the new version (to be compatible with 1.22) we need those changes.

In order to be compatible with both old/new APIs we need to do e

[2021-06-27 05:32] lujiajing1126 commented on #1488
I will try to investigate the possibilities and cost to keep the backward compatibility.

[2021-06-28 13:45] jkotiuk opened #1493 "Integration with elastic.co"
Hi,

I'm integrating jaeger with elastic cloud APM (https://www.elastic.co/guide/en/apm/server/current/jaeger.html). Elastic requires to pass a secret as tag in order to authenticate. Currently it is not possible to mount custom secrets as env variables so I'm forced to expose it as a part of manifest.

I've also tried to do some workaround with volume mounts but it didn't work:

[code]

I've ende

[2021-06-28 15:14] jpkrohling commented on #1493
Would you be interested in contributing a feature allowing this? Before working on the code, I would like to see an outline of the proposal.

[2021-06-29 06:21] bwand commented on #1371
Hi, could you give me any hint how I can get around that problem without downgrading Strimzi Kafka to an old outdated version?

[2021-06-30 02:46] rubenvp8510 commented on #1482
I haven't seen this issue before, but I fixed this issue on this PR while I was trying to fix the ingress tests:

[2021-06-30 05:42] rubenvp8510 commented on #1371
Unfortunately the current version of jaeger-operator doesn't support newer versions of Strimzi , this is due changes on the CRD and the fact that the new version doesn't support `kafka.strimzi.io/v1beta1` anymore but only `kafka.strimzi.io/v1beta2`.

In order to support newer versions of Strimzi operator ( kafka.strimzi.io/v1beta2` ) there is some work in progress : https://github.com/jaegertracin

[2021-07-01 01:25] yurishkuro commented on #1086
I think this is fixed by https://github.com/jaegertracing/jaeger/pull/2948. Please reopen if still a problem.

[2021-07-01 01:25] #1086 closed

[2021-07-01 16:07] alexandrevilain commented on #1482
Hi @rubenvp8510 and @superbiche (it's a small world, even on Github 😄 )

I faced the exact same issue trying to expose jaeger UI using istio ingress gateway.
Here is an example manifest:

[code]

Using release 1.23.0 with jaeger operator deployed with the official helm-chart, I have the same log line than @superbiche :

[code]

So, I built my own docker image using b9d1e02
[code]

Then I pushed it

[2021-07-01 16:13] superbiche commented on #1482
Damn this world is small 😅!
I didn't find the time to try it as I'm on vacation, should have some free time to give it a try this weekend, but it seems we had the same issue and the PR seems to fix it.
Will keep you posted if I manage to free some time to try this commit. Thanks a lot !

[2021-07-01 18:22] HannanSolo opened #1497 "Sidecar is not removed when annotation is changed to false"
**Describe the bug**
Operator doesn't remove sidecar based on annotation, only adds it.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a deployment with sidecar.jaegertracing.io/inject set to true
2. Spin it up
3. Apply changed deployment with sidecar.jaegertracing.io/inject set to false

**Expected behavior**
Expect the operator to spin down the agent side car

**Version (please com

[2021-07-02 02:54] mfz85 commented on #1497
can I work on this one?

[2021-07-02 03:08] #1471 closed

[2021-07-02 04:10] rubenvp8510 commented on #1482
@jpkrohling  WDYT? may be do a minor release before merging other breaking changes PRs like the strimzi update?

[2021-07-02 04:30] rubenvp8510 commented on #1483
Sorry I haven't seen this one. I'll take a look in these days to see what could be the issue.

[2021-07-02 10:00] jpkrohling commented on #1482
We are having a new Jaeger release next week, including a new Jaeger Operator. Can't this wait for v1.24?
z

[2021-07-02 10:01] jpkrohling commented on #1497
It's yours, @mfz85!

[2021-07-03 10:43] jan25 opened #1498 "Outdated CONTRIBUTING.md"
**Describe the bug**

I was trying to setup this repository for first time and found [CONTRIBUTING.md](https://github.com/jaegertracing/jaeger-operator/blob/master/CONTRIBUTING.md#developing) has outdated instructions:
- `make run` tries to install 0.18 version of operator-sdk which is quite old
- make commands needs fixes to use `examples/` instead of `deploy/`, this is missed during refactoring

[2021-07-05 08:00] jpkrohling commented on #1498
Would you mind sending in a PR?

That's unfortunately correct. We need this specific version, as the next one brings a lot of breaking changes. We do plan on using a recent version of the operator-sdk for the v2.

[2021-07-06 08:12] #1480 closed

[2021-07-08 10:18] rafaribe commented on #1483
I'm experiencing the same problem

[2021-07-09 01:57] snuggie12 opened #1503 "spark dependencies missing image pull secrets or service account"
## Requirement - what kind of business use case are you trying to solve?

Was trying to use my own docker image server for the spark dependencies, but upon changing the image I ran into image pull backoffs. Best I can tell, you can't set either `imagePullSecrets` (preferred) or a `serviceAccount` which could have that set.

## Problem - what in Jaeger blocks you from solving the requirement?

For

[2021-07-09 06:35] #1350 closed

[2021-07-09 07:16] jpkrohling commented on #1503
You actually can indeed set the service account: the struct you linked embeds `JaegerCommonSpec`, which does include the service account:

https://github.com/jaegertracing/jaeger-operator/blob/a9cd80bf9def2d3a33f2522d701fc393af09013b/pkg/apis/jaegertracing/v1/jaeger_types.go#L197-L231

And it seems like the spark dependencies job does take it into account:

https://github.com/jaegertracing/jaeger-

[2021-07-09 07:16] #1503 closed

[2021-07-09 07:50] snuggie12 commented on #1503
Yeah, I just plane missed it; even looked for it.

`imagePullSecrets` would be better like there is for the agent, but I can make do.

If I was reading correct, you can't add `imagePullSecrets` to the `jaeger` sa? So it sounds like I have to make a duplicate sa and then make sure it gets the same rbac as `jaeger`?

[2021-07-09 08:13] jpkrohling commented on #1503
The `jaeger` SA is managed by the operator, if you change it to include a pull secret, it might (and likely will) be reverted by the operator. You are encouraged to duplicate the SA and use that one instead.

[2021-07-10 05:07] rubenvp8510 commented on #1428
I think we can close this one . It was addressed on https://github.com/jaegertracing/jaeger-operator/pull/1495

[2021-07-10 05:07] #1428 closed

[2021-07-10 05:08] rubenvp8510 commented on #1482
We released Jaeger Operator 1.24 a couple of days ago. This should be fixed in that version =)

[2021-07-11 11:53] TomL-dev opened #1505 "Separate collector deployment without an ingester"
## Requirement - what kind of business use case are you trying to solve?

Doing distributed tracing useing jaeger over several (workload)clusters in kubernetes, and have a single observability cluster . In this observaliblity cluster we want to store all the workload clusters jaeger data. by leveraging kafka to disconnect the clusters

## Problem - what in Jaeger blocks you from solving the requir

[2021-07-12 10:30] alexandrevilain commented on #1482
Hi @rubenvp8510 !

Thanks, I'll it out today :)

[2021-07-12 13:28] jpkrohling commented on #1505
Do you think adding flags like `skip-query`, `skip-collector` and `skip-ingester` would be sufficient for your use case?

[2021-07-12 14:00] TomL-dev commented on #1505
i do still feel like the operator needs ingester config to deploy a collector, but this should be checked ofc.
if a skip flag can prevent a deploy then it should be fine, if the config is separate

[2021-07-12 14:09] alexandrevilain commented on #1482
I don't see the error log message anymore.
Thanks for the fix!

[2021-07-12 14:50] jpkrohling commented on #1505
Not quite sure I get your point, could you please expand it? From what I understood, you'd need one CR per workload cluster, each with a "skip-ingester". Your collectors would write to a Kafka somewhere. On your observability cluster, you'd have a single CR, with "skip-collector", which would read from Kafka and write to the storage. Your Jaeger UI connects to the same storage that the ingester wr

[2021-07-12 15:03] TomL-dev commented on #1505
exactly. but currently the collector also depends on ingester configuration, at least that seems like it. i don't want to provide ingester config if i don't need an ingester, right? there is also the enabled option in the config. when ingester if disabled, the collector doesn't seem to work/deploy. i hope this explains it

[2021-07-12 15:08] jpkrohling commented on #1505
Got it: you are talking about the current behavior, and I'm talking about the proposed new behavior. I think we are aligned here :-)

[2021-07-13 04:32] rubenvp8510 opened #1506 "Remove tracing-enabled flag"
This issue is for tracking a discussion that started here: https://github.com/jaegertracing/jaeger-operator/pull/1484#discussion_r667997839

[2021-07-13 07:56] jpkrohling commented on #1506
We are using otel-sdk as the instrumentation library for the operator. As such, we can configure a logging exporter if the operator is in debug mode (`log-level=debug`). Additionally, we should configure the Jaeger/OTLP exporter if we can detect a destination. For instance, if a flag with the destination is specified, or if an instance exists in a specific location.

Perhaps the flag should be kep

[2021-07-14 13:34] gionapaolini opened #1509 "UI won't load with custom ingress"
**Describe the bug**
Title is self explanatory

**To Reproduce**
Steps to reproduce the behavior:
1 - Deploy the jaeger operator:
[code]
2 - Deploy jaeger and custom ingress
[code]
( I have also tried to apply base-path to query.options.base-path with the same results)
**Expected behavior**
Go to http://{ingresscontrollerip}/jaeger and display UI

**Screenshots**
![image](https://user-images.githu

[2021-07-15 08:43] jpkrohling opened #1510 "Update kuttl to v0.11.0"
kuttl v0.11.0 has just been released, and we should update our tests to use it.

[2021-07-19 08:01] #1498 closed

[2021-07-19 12:04] gionapaolini commented on #1509
I have resolved the issue, I needed to use:
[code]
for when using the allInOne strategy
and
[code]
for when using Production strategy

[2021-07-19 12:04] #1509 closed

[2021-07-20 01:53] philomory opened #1512 "Modifying Jaeger CR instance doesn't seem to modify cronjobs"
**Describe the bug**
I modified an existing Jaeger CR instance to add `successfulJobHistoryLimit: 1` in various places, such as within `spec.storage.esIndexCleaner` and `spec.storage.dependencies`. The correponding `CronJob` objects did not get updated, and still have their default `successfulJobHistoryLimit` values of 3.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a `Jaeger` obje

[2021-07-21 05:34] samene opened #1513 "Not able to upgrade jaeger-operator helm chart to 1.24.0 from 1.22.0"
**Describe the bug**
I have jaeger-operator-1.22 installed via helm chart. I am trying to upgrade to 1.24.0 (helm chart version 2.23.0) using helm upgrade and I get below error

[code]

[2021-07-21 05:47] samene commented on #1513
probably wrong project. Opened in correct one - https://github.com/jaegertracing/helm-charts/issues/271

[2021-07-21 05:47] #1513 closed

[2021-07-21 07:39] jpkrohling commented on #1509
Do you think our docs can be improved in this area?

[2021-07-21 08:22] jpkrohling opened #1514 "Add a default CPU/memory requests and limits to the operator"
Similar to #872, but for the operator. The following should be more than sufficient even when the operator is managing hundreds of CRs.

[code]

[2021-07-22 18:49] #1479 closed

[2021-07-26 10:05] advissor commented on #1289
I think this is a similar error, but renaming Jaeger resource didn't help

https://github.com/jaegertracing/helm-charts/issues/272

[2021-07-26 11:10] #1042 closed

[2021-07-27 13:10] #1497 closed

[2021-07-28 04:55] rubenvp8510 opened #1518 "Write e2e tests for the case when injection annotation is false"
This issue is to follow up the work started on  https://github.com/jaegertracing/jaeger-operator/pull/1508

That PR fixes https://github.com/jaegertracing/jaeger-operator/issues/1497 but we also need E2E tests. The test should be written using `kuttl`

[2021-07-28 08:15] mfz85 commented on #1518
can I work on this one @jpkrohling, as accorded on the previous PR ?

[2021-07-28 09:24] leRobbe commented on #1317
I just encountered the same issue..took me days to figure out why the agent just couldn't connect to my collector (I'm new to openshift, jaeger etc.)

I'm using the configuration `sidecar.jaegertracing.io/inject: true` to auto-inject sidecars into my clients (residing in the same namespace as my jaeger deployment - operator version 1.20.4) and had the issue that the agent was there but no traces w

[2021-07-29 06:59] jpkrohling commented on #1518
It's yours!

[2021-07-29 07:01] Kampe commented on #1445
this would be wildly useful

[2021-07-29 07:02] jpkrohling commented on #1317
@jkandasa, @rubenvp8510, could you please try to reproduce this?

[2021-07-29 09:10] navjot-puc commented on #1069
Steps followed for jaeger installation -
1. `helm install jaeger jaegertracing/jaeger-operator -n jaeger`
2. Created a jaeger instance to watch ingress namespace, sidecar was injected successfully (instances was created in ingress namespace)
3. These are the Nginx logs for jaeger sidecar
![image](https://user-images.githubusercontent.com/84508323/127464314-d0d0b4e3-003b-45ae-8554-bd446c1fcd3d.png)

[2021-07-29 12:47] jpkrohling commented on #1069
@navjot-puc are you sure this is the same problem?

[2021-07-29 12:51] navjot-puc commented on #1069
@jpkrohling thanks for the response.

I didn't quite get your question?

Goal:
I'm trying to trace ingress and I've made the relevent changes to the ingress as well and added the annotations to the namespace of ingress and it injected the sidecar automatically but something is wrong according to jaeger operator. I can't wrap my head around this!

Thanks.

[2021-07-29 12:57] jpkrohling commented on #1069
Are you sure the problem you are reporting is the same that was this ticket is tracking? If not, please open a new issue.

[2021-07-29 12:58] jpkrohling commented on #1445
@Kampe would you like to send a PR? Shouldn't be that hard to implement (see my previous comment).

[2021-07-29 13:04] navjot-puc commented on #1069
ohh, got it.

[2021-07-29 13:05] navjot-puc opened #1519 "Steps followed for jaeger installation -"
Steps followed for jaeger installation -
1. `helm install jaeger jaegertracing/jaeger-operator -n jaeger`
2. Created a jaeger instance to watch ingress namespace, sidecar was injected successfully (instances was created in ingress namespace)
3. These are the Nginx logs for jaeger sidecar
![image](https://user-images.githubusercontent.com/84508323/127464314-d0d0b4e3-003b-45ae-8554-bd446c1fcd3d.png)

[2021-07-29 13:27] leRobbe commented on #1438
I have the same issue.
I'm manually injecting a sidecar agent (auto-injection not possible due to #1317) but now facing the issue that regardless of what I do to disable tls, the operator either instantly overwrites changes to its yaml config or does this:
![grafik](https://user-images.githubusercontent.com/48852681/127500039-7ceef575-74b8-4852-b552-19303ce4efee.png)

Since I'm new to jaeger/opens

[2021-07-29 13:48] jpkrohling commented on #1438
The operator shouldn't touch your deployment if you don't have the auto-inject annotation in your deployment. In any case, could you provide the version of the operator you are using, and any other details that can help us reproduce and eventually fix this?

[2021-07-29 13:49] jpkrohling commented on #1438
Actually, I see that the PR with the fix hasn't been merged yet, so, if this is the same problem, we know how to reproduce it already.

[2021-07-29 14:35] leRobbe commented on #1438
I'm using operator version 1.20.4, as already mentioned in #1317
And yes it seems to be the same problem, just wanted to bump this as I wasn't sure whether or not it was still being looked into.

For now since I don't know where to get the "correct" cert for the agent sidecar, I discovered weird behavior in OpenShift (not sure if this is intentional..) that I'm abusing for now..
Basically re-activ

[2021-07-30 10:50] leRobbe commented on #1414
might be related to #1317
thanks for this ticket, this `sidecar.jaegertracing.io/inject: other-jaeger`  (`jaeger-name` instead of `true`) was the only thing I had not yet tried - solved my issue!

[2021-07-30 10:54] leRobbe commented on #1317
as per comment in #1414 I was able to solve my issue by instead of `true` using the jaeger instance name in the annotation:
`sidecar.jaegertracing.io/inject: jaeger-name`

guess I was lucky that the jaeger instance in the other namespace is named differently, otherwise my guess is that I'd have the same issue as with `true` parameter

[2021-07-30 20:20] anhdle14 opened #1520 "Add gRPC port for jaeger-query into its Service resource"
## Requirement - what kind of business use case are you trying to solve?

I am trying to set up integration via GRPC with Kiali and Jaeger within an Istio-mesh K8s cluster.

- kiali – v1.37.0
- istio – v1.10.3
- jaeger-operator– v1.24.0
  - The CR is a simple AllInOne with no addtional config.

## Problem - what in Jaeger blocks you from solving the requirement?

Kiali from v1.37.0 expects the com

[2021-08-02 10:20] jpkrohling commented on #1520
We should be opening the gRPC port by default for jaeger-query.

[2021-08-03 00:24] teoyaomiqui commented on #1348
I have the same issue, but I don't use self signed cert, it is valid so I don't need to provide ca. Also we don't use password authentication. Curl works without `-k` option, and curator could reach to ES cluster.

[2021-08-03 08:41] #1520 closed

[2021-08-03 08:45] kyrieSun-wow opened #1522 "jaeger-agent is always pending when the native pod has pod-AntiAffinity set and there is only one worker node"
jaeger-agent is always pending when the native pod has pod-AntiAffinity set and there is only one worker node

**To Reproduce**
Steps to reproduce the behavior:
env:
K8S cluster with only one worker node;
One app pod with both pod-AntiAffinity and annotations of ' sidecar.jaegertracing.io/inject: "true"'
    1. kubectl apply -f app.yaml
  2.pod of app enters "Running" state,but the new pod contain

[2021-08-03 08:50] teoyaomiqui opened #1523 "Jaeger collector fails to parse elastic search URL"
**Describe the bug**
I am using jaeger-collector installed via jaeger helm char, the elasticsearch is preinstalled using AWS. I've used jaeger chart with a single component enabled - collector. I've tried passing elasticsearch env variables `ES_SERVER_URLS` but it appears to be ignored, I resorted to using command line flags `es.server-urls`. server-urls appear to be picked up by the collector ser

[2021-08-03 11:24] andreacoccodi commented on #1265
Hi all, would find it useful too, we have exactly the same requirement. Thanks

[2021-08-03 14:10] jpkrohling commented on #1265
@andreacoccodi, just wanted to make sure you are aware that you can override the default images via `--jaeger-*-image=` flags.

[2021-08-03 14:19] andreacoccodi commented on #1265
I know we can do that, but that also means that every time we upgrade we need to run a job to find out the tag we need to use and then run the cli to update the images.
If there was a flag in the values.yaml of the operator we could set it once and forget about it.

[2021-08-03 18:54] jpkrohling commented on #1265
The values.yaml would be in the Helm Chart, which does sound like an appropriate place for this.

[2021-08-04 05:06] anhdle14 commented on #1520
I think it is more than just adding the query grpc port, It is about allow user to at least patch the resources via the operator. It is ok if there is already an issue for this.

[2021-08-04 07:36] jpkrohling commented on #1520
The operator owns the resources it creates, and allowing users to patch it out of band will break this premise. In this particular case, we recommend users to have their own service, managed externally to the operator.

[2021-08-04 09:38] #1438 closed

[2021-08-05 14:28] #1415 closed

[2021-08-10 14:48] primeroz commented on #294
is it currently the only solution to write our own job ? i see that the dependencies definition now allow to mount volumes but i am not sure how to create the java trustStore without an init container like the one in @jam01 link

[2021-08-11 04:02] rubenvp8510 opened #1530 "Operator tried to delete jaeger-query sidecar"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the operator
2.  Deploy simple-prod
3. See log errors like the following:

[code]

**Expected behavior**
No error or warnings, no attempts to remove the query sidecar.

[2021-08-11 08:58] primeroz opened #1531 "Unable to specifying custom labels for the deployable components in `production` strategy"
**Describe the bug**
this is essentialy a copy of https://github.com/jaegertracing/jaeger-operator/issues/629 . in that issue the problem was fixed only for the all-in-one strategy and not for the production one

**To Reproduce**
Steps to reproduce the behavior:
1. Install jaeger operator
2. create a Jaeger instance in production mode and specify `labels` for components like query and collector
3.

[2021-08-11 15:08] Zhuce123456789 commented on #599
Hello, could you let me know how to configure mTLS between agent and collector via gRPC?

[2021-08-12 16:12] oxeye-schmil opened #1532 "cannot create jaeger-collector using CR on separate NS from operator"
### k8s environment
minikube

### created operator with following commands

`kubectl apply -f observability_ns.yaml`
`kubectl create -n observability -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml`
`kubectl create -n observability -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/service_account

[2021-08-14 02:00] herbguo opened #1534 "Add jaeger-query Service annotation through jaeger instance"
## Requirement - what kind of business use case are you trying to solve?
I want to add annotations of the jaeger-query service through jaeger crd，But It only can add annotations of the  deployment object.

[2021-08-17 15:00] Ramilito opened #1538 "Missing labels in ConfigMap and ServiceMonitor"
There are two resources created by jaeger-operator that are missing recommended labels.
I would be satisfied with labels such as:

[code]

name: jaeger-operator-lock, kind: ConfigMap
![image](https://user-images.githubusercontent.com/8473233/129750237-3dabd730-814d-4abb-a20d-c8e3ea1530dd.png)

name: jaeger-operator-metrics, kind: ServiceMonitor
![image](https://user-images.githubusercontent.com/84

[2021-08-18 03:53] herbguo commented on #1096
Hi everybody, I have commited a PR[1526](https://github.com/jaegertracing/jaeger-operator/pull/1526) to reuse the annotation to the service. Also, I could try to add a ServiceAnnotations to the CR，And I think this is the right way.

[2021-08-18 04:46] linw1995 commented on #1348
I have the same issue and I figure it out. My es account permission doesn't have permission "monitor", so the Elasticsearch client of jaeger sends a `HEAD /` request to do the health check but fails.

[2021-08-19 08:58] spuny commented on #1004
There had to be some changes cause it does not work any further.
Pod is complaining about the LP/RP on port 14269. There is no such open port on the pod even i sticked with the health_check on this port in config.
Even tho there is config to open this port nothing is there and the probe fails so this approach is no longer available

part of pod config (from running one)
`
 livenessProbe:
      fai

[2021-08-19 09:51] jpkrohling commented on #1004
@spuny, would you mind providing a Jaeger CR that exemplifies the problem you are facing?

[2021-08-19 09:53] spuny commented on #1004
@jpkrohling sure
[code]

[2021-08-19 09:55] jpkrohling commented on #1532
By default, the operator will watch only for resources in the same namespace it's running. You can either create the CR in the same namespace (`kubectl apply -n observability ...`), or change the operator to watch for resources in all namespaces, which requires the cluster-wide permissions (which seems that you applied already).

[2021-08-19 09:57] #1532 closed

[2021-08-19 09:59] jpkrohling commented on #1004
There's a lot going on there. Are you able to come up with the simplest CR that demonstrates the problem?

[2021-08-19 10:00] jpkrohling commented on #1004
@pavolloffay, do you remember if that image opened the health check port by default?

[2021-08-19 10:10] spuny commented on #1004
@jpkrohling ok looks like there is some problem in mine config, here is the log from simplified config i attach:
[code]
config:
[code]

The different thing is that there is no image specification. Looks like i got misleaded by all the threads i read today :D

When i change the image to image below it is not working as i described
[code]

[2021-08-19 10:15] spuny commented on #1004
In case of curiosity the original idea was from this source:
[https://medium.com/jaegertracing/jaeger-embraces-opentelemetry-collector-90a545cbc24](url)

[2021-08-19 10:24] spuny commented on #1004
Maybe there is confusion between healthcheck port on opentelemetry image:
[code]
and replicase of jaeger CR which is looking for port 14269

[2021-08-19 11:46] jpkrohling commented on #1004
I thought @pavolloffay did the translation between the OpenTelemetry Collector standards and Jaeger's. In any case, you can configure the health-check extension to use the custom port. I don't remember which OpenTelemetry Collector version was used for this image, but something like this *might* work:

[code]

Note that this OpenTelemetry-based Jaeger image is not supported, so, it's unlikely we'l

[2021-08-19 12:05] spuny commented on #1004
@jpkrohling thanks for your help sadly this is what i was encountering from the start

config:
[code]

Log:
[code]

Main problem is still with the readiness probe. But as you said it is not supported so i will stick with standalone approach of opentelemetry collector. Thanks so much and have a nice day.
Looking forward to Jaeger v2 👍

[2021-08-19 13:19] jpkrohling commented on #1004
Got it. I think we might be overriding the health check manually in the code behind this container image.

[2021-08-19 14:52] jpkrohling commented on #1431
We have this already listed in the cluster role:

https://github.com/jaegertracing/jaeger-operator/blob/27a0cd1b821636b33ba6570ab23d4906b3730d06/deploy/cluster_role.yaml#L191-L199

Is that not sufficient?

[2021-08-19 14:52] #1518 closed

[2021-08-19 14:53] jpkrohling commented on #1538
Related to https://github.com/open-telemetry/opentelemetry-operator/issues/394

[2021-08-19 15:08] chadlwilson commented on #1431
I have a feeling some of the conversation here might be confusing things a bit, since there was a period of time where both modes had some problems on various versions of the Helm chart and operator. The original ticket was about when *not* running in cluster mode, i.e when `WATCH_NAMESPACE` is defined and points to a single namespace.

It _seemed_ the operator itself still tried to list namespace

[2021-08-19 16:28] ricoberger opened #1539 "Customize the Liveness Probe of the Jaeger Ingester by extending the CRD"
## Requirement - what kind of business use case are you trying to solve?

I'm trying out the Jaeger Operator v1.25.0 with the streaming strategy and the [Jaeger ClickHouse storage plugin](https://github.com/jaegertracing/jaeger-clickhouse). Now it could happen that the plugin in the Ingester Pod is killed with the following error message, when the container hasn't enough resources:

[code]

In tha

[2021-08-25 09:21] Harmelodic opened #1540 "1.25.0 is tagged but not released"
**Describe the bug**
1.25.0 is tagged but not [released](https://github.com/jaegertracing/jaeger-operator/releases).
Is there a reason for the delay in official release? Is it okay to use?

**To Reproduce**
Steps to reproduce the behaviour:
1. Check releases

**Expected behaviour**
A release to be formalised.

[2021-08-25 09:29] jpkrohling commented on #1540
cc @rubenvp8510

[2021-08-25 18:16] tillig opened #1541 "Ability to inject custom sidecars to Jaeger components"
## Requirement - what kind of business use case are you trying to solve?

We want to use TLS with Jaeger communications but the certificates are managed by Istio. The way Istio recommends adding the managed set of certificates is to add a manually-injected Envoy sidecar (which handles cert rotation, mounting, etc.) and then share a volume between the desired component (e.g., Jaeger collector, etc.

[2021-08-26 14:50] tillig opened #1543 "Support mounting environment variables from secrets"
## Requirement - what kind of business use case are you trying to solve?

I have an ElasticSearch cluster that uses TLS and basic authentication. I would like to use Jaeger Operator to deploy a Jaeger that can connect to ElasticSearch without having to put my password in plaintext in the `Jaeger` custom resource.

## Problem - what in Jaeger blocks you from solving the requirement?

I have the pas

[2021-08-31 16:33] daviddyball commented on #1070
For the benefit of any others that end up here via Google, support for setting `hostNetwork: true` on the agents was added in  https://github.com/jaegertracing/jaeger-operator/pull/1257. I've tested it locally and can confirm it works as expected.

[2021-09-02 15:01] iblancasa opened #1546 "Create a way to enable/disable verbosity in the Makefile"
## Requirement - what kind of business use case are you trying to solve?
Add a way to show the commands executed when running the Makefile tasks.

## Problem - what in Jaeger blocks you from solving the requirement?
Sometimes, it is needed to debug the different commands that are run while executing one of the `make` targets. It would be nice to have a way to show the executed commands.

## Propos

[2021-09-08 00:55] wkit23 opened #1550 "Support for IngressClassName for newer Ingress API"
With older version of ingress API (e.g. networking.k8s.io/v1beta1), it was usually done with annotations (e.g. kubernetes.io/ingress.class). However, with the stable version of ingress API (networking.k8s.io/v1) the annotation way is deprecated and should use the newer ingressClassName spec.

This is particular important especially in k8s 1.22 where the older API version obsoleted and we need to u

[2021-09-08 12:42] ThomasK33 commented on #1543
Have you already seen [this section of the docs concerning secrets support](https://www.jaegertracing.io/docs/1.26/operator/#secrets-support)?

[2021-09-08 14:23] tillig commented on #1543
I did, but it wasn't clear what was going on there. [In the ElasticSearch section](https://www.jaegertracing.io/docs/1.26/operator/#elasticsearch-storage) I do see an example where the keys in the secret match up with the environment variables.

My challenge is I have an existing secret that has two keys - "username" and "password". I can't change that secret because I'm sharing it with a differen

[2021-09-08 18:55] esnible commented on #1474
@gionapaolini I saw exactly the same thing when I used the default deployment of Jaeger-operator shown in https://www.jaegertracing.io/docs/1.26/operator/#install-modes

When I edited the operator Deployment to set `WATCH_NAMESPACE` to `""` and created the ClusterRole and ClusterRoleBinding it worked as expected.

Can you do `kubectl -n observability get deployment jaeger-operator -o jsonpath="{.s

[2021-09-08 21:10] esnible commented on #1431
I looked into this to see if I could fix it but it is above my skill level with sigs.k8s.io/controller-runtime.

_jaeger-operator/pkg/controller/namespace/namespace_controller.go_:52 sets up a `Watch()` for namespaces so it can wake up when `sidecar.jaegertracing.io/inject` changes.

It would be straightforward to skip watching namespaces if `$WATCH_NAMESPACE` is exactly one namespace but then we

[2021-09-08 21:47] esnible commented on #1431
I suspect there is an additional problem that needs to be fixed.  (This may need its own issue or perhaps it can be part of this issue.)

If Jaeger Operator service account has no clusterrolebinding to LIST namespaces, I suspect it will fail to utilize `sidecar.jaegertracing.io/inject` namespace annotations, even for the namespace it is running within.

[2021-09-09 12:40] esnible commented on #1429
@munipravy should it be

[code]

I don't think we have a spec.metadata.labels.

[code]

[2021-09-13 23:54] esnible commented on #1431
@ediezh Work around for the message.  The warning should be suppressed if the operator is started with `--enable-namespace-controller=false`.

[2021-09-14 00:00] esnible commented on #1014
The structure seems visible when I do `kubectl explain jaeger` or `kubectl explain jaeger.spec` or `kubectl explain jaeger.spec.collector`.

The description fields are not present.  Is this Issue a request for field descriptions, or do you not see the structure at all?

[2021-09-14 00:03] esnible commented on #929
I create https://github.com/jaegertracing/jaeger-operator/pull/1551 because it bothered me that all the namespaces were being watched for injection.  However, my implementation used WATCH_NAMESPACE.  After reading this, perhaps we need a separate INJECT_NAMESPACE environment configuration instead?

[2021-09-14 00:13] esnible commented on #171
The current injection behavior is scary because the operator restarts pods when the annotation changes.

I like it much better if the pods keep running until they are deleted/recreated.  That's the way it works in Istio: change the annotation, then `kubectl rollout restart` to restart the pods.

This change is related to https://github.com/jaegertracing/jaeger-operator/pull/1551/commits/6edd202b19

[2021-09-15 16:13] AtkinsChang commented on #1519
possibly duplicate with  #1483

[2021-09-15 16:21] AtkinsChang commented on #1483
@anarcher
If the operator is deployed via helm chart, the [CRD](https://github.com/jaegertracing/helm-charts/blob/main/charts/jaeger-operator/crds/crd.yaml) is wrong. It does not contains subresource `status`.

The error message is confusing, it is talking about `jaegers.jaegertracing.io/status \"jaeger\" not found`.
Try yourself with kubernetes API `/apis/jaegertracing.io/v1/namespaces/addon-trac

[2021-09-16 08:27] iblancasa opened #1556 "Add the ability to the KUTTL tests to be run in a real cluster"
## Requirement - what kind of business use case are you trying to solve?
Add the ability to the [KUTTL](https://kuttl.dev/) tests to be run in a real cluster

## Problem - what in Jaeger blocks you from solving the requirement?
With the current automation in the `Makefile`, it is not possible to run the KUTTL tests in a real cluster. The KUTTL tests are run in a [kind](https://kind.sigs.k8s.io/) c

[2021-09-16 08:28] iblancasa commented on #1556
Please, I would like to work on this task :)

[2021-09-16 09:32] jpkrohling commented on #1556
kuttl does support running the tests in different envs:

https://kuttl.dev/docs/testing/test-environments.html

[2021-09-16 11:14] iblancasa commented on #1556
@jpkrohling I know but, currently, our automation doesn't. It is prepared to just run the test in the `kind` cluster. The idea is to allow easily to run in a different environment. One of the reasons is the `asserts:e2e` Docker image is not pushed anywhere and is loaded directly in the `kind` cluster. So, doing the modifications I suggest in the first comment, we can run the testes in all the envi

[2021-09-20 10:50] JesperBerggren commented on #1096
Hello everybody,

Another use case is if setting the global Istio mesh option for stricter security:
[code]
Then it gets necessary to set the following annotation to the Jaeger services (or perhaps even wider as in "*"):
[code]
How's the progress with #1526 ? Isn't time to review it and get it moving?

Best regards
Jesper Berggren

[2021-09-22 03:15] mfz85 commented on #1510
@rubenvp8510 I would like to work on this one

[2021-09-24 13:16] aravindvs opened #1558 "Operator should allow some components to be skipped for installation"
## Requirement

Flexibility of Jaeger components installation with k8s operator

## Problem

When using Jaeger Kubernetes Operator, there is no option to skip a component from being installed

## Proposal
Have the ability to skip installing a component; For example update the component installation (https://www.jaegertracing.io/docs/1.26/operator/#production-strategy) to have an option like below:

[2021-09-24 18:17] aravindvs opened #1559 "Make clean is disruptive"
**Describe the bug**

`make clean` just deletes resources on namespaces and doesn't check if minikube is running or not. If we run make clean on a normal box running a k8s cluster it nukes the namespaces which are some commonly used namespaces

**To Reproduce**
Steps to reproduce the behavior:
1.  k8s cluster  - set up Kafka cluster on 'Kafka' namespace
2. make clean
3. watch your Kafka cluster di

[2021-09-26 01:50] rubenvp8510 opened #1560 "Migrate to operator-sdk 1.x"

[2021-09-29 11:39] #1550 closed

[2021-09-30 09:51] woland7 commented on #1029
Rolling back to 1.17.0 solved the problem for me on an old 3.11 Openshift Cluster, yet I agree everyone should upgrade to 4.x

[2021-09-30 14:39] DWonMtl opened #1564 "Deployment migration error when changing from jaeger-operator v1.18.1 to higher."
**Describe the bug**

We ran into a `Deployment` resource error while migrating jaeger-operator from version [`v1.18.0`](https://github.com/jaegertracing/jaeger-operator/releases/tag/v1.18.0) to [`v1.24.0`](https://github.com/jaegertracing/jaeger-operator/releases/tag/v1.24.0).

[code]

This is related to this fix: https://github.com/jaegertracing/jaeger-operator/pull/1153,
itself being a fix of t

[2021-09-30 17:12] pavolloffay opened #1565 "Add operator-sdk scorecard bundle test on CI"
As part of our CI we should be testing SDK scorecard.

However, first we should update the SDK to the latest version.

[2021-09-30 17:15] pavolloffay commented on #1565
We should also add annotations for scorecard and version the scorecard config along with manifests

[code]

https://raw.githubusercontent.com/operator-framework/operator-sdk/master/testdata/go/v3/memcached-operator/bundle/tests/scorecard/config.yaml.

[2021-10-01 11:11] #1530 closed

[2021-10-02 17:02] dimitraz commented on #1422
Hey, is this still available? If so i'd love to help out as part of hacktoberfest :)

[2021-10-04 13:41] odidev opened #1568 "Facing issues in getting the IP address to access Jaeger-UI on Linux platform"
**Describe the bug**

Hi Team,

I am working on jaeger deployment using jaeger-operators on the Ubuntu Linux/AMD64 machine using minikube.

I have followed the [docs](https://github.com/jaegertracing/jaeger-operator#getting-started), addon ingress to minikube, installed operator using given yaml files, and activated extra features. Then created the jaeger instance once jaeger-operator is ready wit

[2021-10-04 22:33] iblancasa commented on #1291
It seems this issue can be closed, right?

[2021-10-05 11:29] #1510 closed

[2021-10-06 18:56] iblancasa opened #1573 "KUTTL fails during re-run because jaeger-operator-system namespace already exists"
**Describe the bug**
When the `kubectl-kuttl test` command is executed more than one time, the test execution fails during the setup steps because the `jaeger-operator-system` namespace already exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `make prepare-e2e-kuttl-tests start-kind`
2. Run `kubectl-kuttl test`
3. Run `kubectl-kuttl test` again. The output:
[code]

**Expected beha

[2021-10-06 21:15] iblancasa opened #1575 "The upgrade E2E test is not isolated from the rest of tests"
**Describe the bug**
The upgrade E2E test, is not isolated from the rest of the tests. The steps performed in that test are:
1. (In the Makefile) Build the Jaeger Operator Docker image with the current version
2. (In the Makefile) Build the Jaeger Operator Docker image with the next version
3. Deploy the Jaeger Operator
4. Start a new Jaeger instance
5. Modify the Jaeger Operator deployment to use

[2021-10-11 10:56] iblancasa opened #1579 "The generate E2E test is not isolated from the rest of tests"
Describe the bug
The generate E2E test, is not isolated from the rest of the tests. The steps performed in that test are:

- Call the `generate` command from the Jaeger operator to generate the YAML manifest from Jaeger CRD
- Run `kubectl create -f <manifest file>`
- Run a smoke test

During the creation of the resources in the cluster, some are not created but modified because they exists before.

[2021-10-12 17:52] boeboe commented on #801
I would like to expose this as type loadBalancer with the following :

        query:
          service:
            loadBalancerIP: "10.1.1.107"
            type: LoadBalancer

[2021-10-15 18:40] Git-Jiro commented on #1164
Hi!
I think I am still able to reproduce this problem.

I am using CRC 1.33 (Openshift 4.8)
I installed the operator as documented at https://github.com/jaegertracing/jaeger-operator
And then applied the mentioned CR into the observability project/namespace.

Interestingly the Operator is fully aware that it is running in OpenShift, because it says so in the logs:

I1015 18:22:00.304801       1 re

[2021-10-18 07:56] pavolloffay opened #1585 "Migrate CronJob from batch/v1beta1 to batch/v1"
[code]

https://kubernetes.io/releases/_print/#release-history

We should clarify since batch/v1 is supported in k8s and OCP.

[2021-10-18 09:13] pavolloffay opened #1586 "Support upgrades with zero downtime"
At the moment Jaeger operator does not handle 0 downtime upgrades when upgrading to a higher version.

[code]

The log above is done by installing Jaeger Operator from `1.17-stable` channel and then changing the channel to `1.24-stable`. It's clear that the original deployment is first shutdown and then the second one (upgraded) is created.

[2021-10-18 09:13] pavolloffay commented on #1586
cc) @rubenvp8510

[2021-10-18 14:32] iblancasa commented on #569
This is now covered by the `upgrade` E2E test. I think this issue can be closed

[2021-10-19 12:37] iblancasa opened #1590 "allinone-ingress E2E KUTTL test fails sometimes because of timeout"
**Describe the bug**
Sometimes, the `allinone-ingress` E2E KUTTL test fails because timeout. I suspect the main reason is this statement:
[code]
That job can take more than 30 seconds depending on the load of the cluster. So, a possible fix could be to remove that statement and use a `xx-assert.yaml` file to let KUTTL use the global timeout (currently, it is 330 seconds).

**To Reproduce**
It is n

[2021-10-20 06:49] #1164 closed

[2021-10-20 14:00] iblancasa opened #1593 "Jaeger Operator manifest is not well generated for the E2E tests when VERBOSE=1"
**Describe the bug**
After merging #1547, I noticed when `VERBOSE=1` the `tests/_build/manifests/01-jaeger-operator.yaml` is not well generated because is adding some extra characters to the output. This causes the Jaeger Operator installation fails in the `kind` cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `make kuttl-e2e VERBOSE=1`

[2021-10-20 15:44] iblancasa opened #1595 "Create suites to run the KUTTL E2E tests"
## Requirement - what kind of business use case are you trying to solve?
Create suites to run the KUTTL E2E tests. This would help to:
* Run a subset of tests if needed
* Increase the isolation between E2E tests
* Group similar tests

## Proposal - what do you suggest to solve the problem or improve the existing situation?
[Since suites are not supported in KUTTL](https://github.com/kudobuilder/ku

[2021-10-27 16:45] arminc opened #1601 "AllInOne doesn't support priorityClass"
**Describe the bug**
The query, agent and collector allow us to set the `priorityClassName` but the AllInOne doesn't.

**To Reproduce**
AllInOne doesn't have the `priorityClassName` https://github.com/jaegertracing/jaeger-operator/blob/39bdf765d8cef2a81456111d3d9b88e2e7cf9509/pkg/apis/jaegertracing/v1/jaeger_types.go#L368

While the Collector for example does have it: https://github.com/jaegertrac

[2021-10-28 18:41] rlex opened #1604 "Operator doesn't create service for agents?"
**Describe the bug**
No service created when agent is deployed as daemonset

**To Reproduce**
1. Deploy operator
2. Deploy jaeger:
[code]

**Expected behavior**
Service pointing to jaeger-agent should be created.
Taken from jaeger installed with non-operator chart:
[code]

[2021-11-01 12:22] pavolloffay commented on #1604
When agent is deployed as deamonset the agent service is not created on purpose. In this deployment stype Jaeger SDKs/clients should be configured to report the data to localhost.

[2021-11-01 12:22] #1604 closed

[2021-11-01 14:03] pavolloffay commented on #1586
thanks at looking at this, we should as well take a look at how this behaves with the production strategy.

Here is my output for the following CR

[code]

and I have added `es.log-level: debug` to storage options.

[code]

It seems that the old deployment is tiered down before the new one starts.

[2021-11-01 14:14] pavolloffay commented on #1586
Update: with explicitly set strategy to `RollingUpdate` the new components are first started and the old ones are removed afterwards.

[code]

[2021-11-01 14:14] #1586 closed

[2021-11-01 14:29] pavolloffay commented on #1601
thanks for submitting the issue.

@arminc would you like to contribute this feature?

[2021-11-02 18:47] iblancasa commented on #1585
@rubenvp8510 yes
We need to upgrade the `k8s` Golang package to v0.21.0 or newer. Is that ok?

[2021-11-02 18:49] rubenvp8510 commented on #1585
I think is fine, eventually we will upgrade some dependencies here: https://github.com/jaegertracing/jaeger-operator/pull/1561

[2021-11-03 07:21] pavolloffay opened #1607 "Test creation and query of service dependencies"
Created from: https://github.com/jaegertracing/jaeger-operator/pull/1592#pullrequestreview-789474452

Our test verifies that spark job to calculate dependencies runs but we do not assert if the dependencies are created in the storage and can be queried.

[2021-11-03 07:49] arminc commented on #1601
@pavolloffay I was planning to but very busy, will try to fix it when I can find some time.

[2021-11-03 22:27] iblancasa commented on #1585
I gave a try but it seems the task is more complex than expected. Some dependencies require `k8s.io/api/batch/v2alpha1` but that is not longer available... One of those dependencies seems to be the `operator-sdk` so... that work seems to be part of #1561

[2021-11-05 02:27] ye0321 commented on #1348
Hi @perezjasonr @linw1995,
Cloud you please let me know the detail what you solve this issue? I am not very clear how do i add permission like you mentioned.

[2021-11-06 07:41] ye0321 commented on #1348
Anybody know how to solve this issue,  i am stuck it right now.

Btw @jpkrohling could you please help me?

[2021-11-08 16:27] djsly commented on #1601
@pavolloffay the esCleaner doesnt support priorityClass neither, I'm not sure if we should add that as a requirement to this issue @arminc  or if its best to create another issue just for the esCleaner job

[2021-11-09 13:36] Avers90 opened #1617 "ThriftSender received a span that was too large"
**Describe the bug**
`ThriftSender received a span that was too large, size = 278492, max = 64842` in the app logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Jaeger Operator in Kubernetes
2. Add sidecar container in app with jaeger-client
3. In app logs i see "ThriftSender received a span that was too large, size = 278492, max = 64842"

**Version (please complete the following

[2021-11-10 14:23] wangpu666 opened #1619 "Automatically appearing jaeger-agent"
Jaeger operator ānzhuāng jaeger hòu, wǒ shānchúle jaeger-agent, dànshì hái huì zìdòng de chuàngjiàn, zhè shì wèishéme?
59 / 5000
Translation results
jaeger operator After installing jaeger, I deleted jaeger-agent, but it will be created automatically. Why?

[2021-11-10 15:13] esnible commented on #1104
I also desire this functionality, and I want to use the same image, quay.io/oauth2-proxy/oauth2-proxy.

I see the OAuth image can be configured via `viper.GetString("openshift-oauth-proxy-image"),` in _jaeger-operator/pkg/inject/oauth_proxy.go_.  I prefer the suggestion here, adding an image name override to `JaegerIngressSpec` or `JaegerQuerySpec` and `JaegerAllInOneSpec`.

When using image quay.

[2021-11-11 05:54] #1619 closed

[2021-11-11 07:42] swapnilpotnis opened #1620 "PriorityClass for jaeger-es-index-cleaner"
## Requirement - what kind of business use case are you trying to solve?
Need priorityClass defined for esIndexCleaner as well

## Problem - what in Jaeger blocks you from solving the requirement?
The attribute doesn't exist in the first place

## Proposal - what do you suggest to solve the problem or improve the existing situation?
Adding the attribute of priorityClass for esIndexer in https://gi

[2021-11-11 11:13] bzlom opened #1621 "Issues setting up jaeger-operator (helm chart) with custom docker registry"
**Describe the bug**
When trying to setup jaeger-operator (helm chart) with a custom docker registry it fails for *allinone* strategy. Specifically it's missing the imagePullSecrets option that's required when you use a custom registry. We're using ArgoCD to deploy our helm charts on AWS EKS.

**To Reproduce**
1. Try to create a CRD with all in one strategy:
[code]
2. it returns an error that it c

[2021-11-11 13:04] shree007 opened #1622 "Enable oAuth2 Sidecar for EKS to secure jaeger UI using Okta"
## Requirement - what kind of business use case are you trying to solve?

Secure Jaeger UI using oAuth2 Sidecar via OKTA for EKS

## Problem - what in Jaeger blocks you from solving the requirement?
I need to figure out in jaeger operator code how can i implement it. I need little bit guidance in initial stage.

It will add one more security layer after whitelisting of IPs to access it.
It will he

[2021-11-11 17:53] #1593 closed, assigned to nobody

[2021-11-13 15:15] 172prateek commented on #927
@SS30723  I am also facing same issue... and doing exactly same what you have done. have you got nay resolution in it..

[2021-11-16 15:45] pavolloffay opened #1624 "Update docs after operator-sdk version bump to 1.13"
https://github.com/jaegertracing/jaeger-operator/pull/1623 updated operator SDK to 1.13. Now we should update readme and https://www.jaegertracing.io/docs/1.28/operator/#installing-the-operator-on-kubernetes how to install the operator.

[2021-11-16 21:26] Andycharalambous commented on #927
Having same problem - jaeger-operator v1.28.0. Upgraded yesterday to fix a few other bugs we had with correct collector selection in sidecar injector. Now none of our deployments get injected with latest version of jaeger-agent.

[2021-11-17 07:18] williamwang97 opened #1630 "No deploy directory"
Kubernetes cannot be deployed using jaeger-operator because there is no deploy directory in the master branch

[2021-11-17 11:37] wikilele commented on #1630
Hi,
I have your same problem.
While waiting I think that we can reference a previous commit.
We can do like this
wget https://raw.githubusercontent.com/jaegertracing/jaeger-operator/863caeb028c54dbd92c86ad54f4fce14abee9784/deploy/crds/jaegertracing.io_jaegers_crd.yaml

[2021-11-18 08:37] jpkrohling commented on #1630
This is the PR that caused the problem: https://github.com/jaegertracing/jaeger-operator/pull/1623

[2021-11-18 08:41] pavolloffay commented on #1630
Folks in the meantime just to not depend on the master and use released version https://github.com/jaegertracing/jaeger-operator/tree/v1.28.0.

We had to make the cut and update the project to the latest operator-sdk. @rubenvp8510 will have a look at this and change the docs to use pinned version instead.

[2021-11-18 08:54] jpkrohling commented on #1630
The readme file should have been changed accordingly in the same PR. As of now, the getting started part of the readme still points people to the deploy directory.

[2021-11-18 08:55] #1021 closed

[2021-11-18 09:43] pavolloffay commented on #1630
indeed, the readme is one place and the docs is the second place. It should be consolidated to a single location and use a tagged version in the first place.

[2021-11-18 09:48] pavolloffay commented on #1630
@jpkrohling FYI https://github.com/jaegertracing/documentation/pull/370

[2021-11-19 12:12] rubenvp8510 commented on #1630
Fixes here: https://github.com/jaegertracing/jaeger-operator/pull/1635 and here: https://github.com/jaegertracing/documentation/pull/538

[2021-11-19 12:12] #1630 closed

[2021-11-19 12:12] rubenvp8510 commented on #1624
Fixes with this PR: https://github.com/jaegertracing/jaeger-operator/pull/1635 now the installation steps points to Jaeger page.

[2021-11-19 12:12] #1624 closed

[2021-11-19 12:22] rubenvp8510 commented on #1560
Fixes here: https://github.com/jaegertracing/jaeger-operator/pull/1623

[2021-11-19 12:22] #1560 closed

[2021-11-19 12:43] rubenvp8510 opened #1636 "Update release process"
**Describe the bug**
With the update of the operator-sdk to 1.13, some changes has to be made to the release process to align it with the actual project structure.

[2021-11-19 18:57] gmj06 opened #1638 "Jaeger instance Simplest is not running"
I was unable to deploy Jaeger as on accessing all yaml files it was giving 404 not found error.

 Able to deploy based on the suggestions in the bellow issue
https://github.com/jaegertracing/jaeger-operator/issues/1630

Today, it seems Jaeger instance Simplest is not running after deployment and didn't create any services either.

[2021-11-19 19:19] #1638 closed

[2021-11-21 11:51] alibo commented on #1414
When `sidecar.jaegertracing.io/inject` annotation is set to `true` and there are multiple jaeger instances in the cluster, it always chooses the last jaeger instance (ordered list of <namespace>/<jaeger-instance-name> items).

The reason it behaves like this is, a pointer of loop variable is used in `getJaegerFromNamespace()` method:

[code]

https://github.com/jaegertracing/jaeger-operator/blob/9

[2021-11-21 18:37] #1317 closed

[2021-11-21 18:37] #1414 closed

[2021-11-21 22:15] #1636 closed

[2021-11-22 19:08] #1573 closed

[2021-11-24 13:07] iblancasa commented on #1235
I think @rubenvp8510 worked on this as part of #1623, right? Probably, this issue can be closed

[2021-11-24 13:10] iblancasa commented on #967
I think this issue can be closed now, right? :relaxed:

[2021-11-24 14:19] pavolloffay commented on #967
thanks @iblancasa

[2021-11-24 14:19] #967 closed

[2021-11-25 11:54] iblancasa opened #1641 "Deprecation warning while installing kustomize"
**Describe the bug**
This warning is shown while installing `kustomize`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  `make install-tools`

**Additional context**
[This deprecation is part of Golang 1.17](https://go.dev/doc/go-get-install-deprecation).

[2021-11-29 08:42] lorenzo-biava opened #1644 "Injected Agent sidecar is never updated"
**Describe the bug**

The injected Agent sidecar is never updated, even if the container image changes.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the Jaeger CR to with Agent image = A
2. Create workload with injection annotation enabled and wait for it to get the Agent sidecar
3. Change the Jaeger CR with Agent image = B
4. Observe all Deployments/Pods will still use image A (res

[2021-12-02 10:31] jpkrohling opened #1648 "Sidecar injection failures"
When installing the simple-prod example in the `monitoring` namespace, the following is shown in the logs:

[code]

[2021-12-02 15:25] rubenvp8510 commented on #1648
Which version are you using? 1.28.0? or is this with master?

[2021-12-02 15:28] jpkrohling commented on #1648
Latest master as of now (e0c53a526df97d83c6ea637fb52586bdb62ca895)

[2021-12-02 21:58] rubenvp8510 commented on #1648
I was debugging this issue, and it seems like this happens because we changed the way we auto instrumented the query deployment, when the deployment is starting it mutates its state, and when we try to update the deployment with the sidecar, it throws this kind of errors. I saw this before in other injection scenarios as well.

I can get the object one more time before the update to make sure I ha

[2021-12-03 09:28] venkataphaniv opened #1649 "Jaeger deployment issues in Kubernetes"
Hi,

 I'm working to deploy Jaeger in my test env in AWS EKS. The pods to be monitored are in default namespace.

I've created the Jeager Operator (v1.28) in observability namespace, and the jaeger-operator deployment & pod are getting created successfully.

 When creating the jaeger instance from the operator of type production, the jaeger is created however neither the jaeger pod, nor the ingres

[2021-12-03 13:11] venkataphaniv commented on #1630
Try this:

https://raw.githubusercontent.com/jaegertracing/jaeger-operator/v1.28.0/deploy/operator.yaml

Replace 1.28 with 1.27, 1.26... and it worked for me.

[2021-12-07 20:26] shmcfarl opened #1652 "Jaeger Operator Install - Get 404 Accessing YAML Files"
**Describe the bug**
I am attempting to deploy the Jaeger Operator and I am using the instructions found here: [https://www.jaegertracing.io/docs/1.29/operator/](url)

Each attempt to create the listed YAML files results in "server reported 404 Not Found, status code=404" errors. I have attempted this on multiple clusters in multiple locations.

**To Reproduce**
Steps to reproduce the behavior:
[c

[2021-12-08 08:24] joseph-d-p commented on #1652
This may have been due to #1637. @rubenvp8510, please confirm if we cannot use `master` as the "version".

Before, `master` is working as stated in the docs:
[code]

[2021-12-08 16:24] perezjasonr opened #1655 "Do we not have a way to disable rollover job when doing ilm?"
Describe the bug

according to the documentation:

however in the example below this, use aliases is true, create template is false, but i cannot find any example of disabling the rollover job.

To Reproduce
Steps to reproduce the behavior:

1 deploy es
2 set up ilm for jaeger to manage the indices
3 deploy jaeger using operator with an es backend, have use index true and create template false

Ex

[2021-12-08 18:46] perezjasonr commented on #1655
ive also tried explicitly setting it to false now in the jaeger object.

[code]

its still trying to run:

`jaeger-operator-jaeger-es-rollover-create-mapping   0/1                      2m54s`

and failing with

`Error creating: pods "jaeger-operator-jaeger-es-rollover-create-mapping-" is forbidden: error looking up service account observability/jaeger-operator-jaeger: serviceaccount "jaeger-operat

[2021-12-08 18:53] perezjasonr commented on #1289
im getting something similar as well see #1655

operator says:

[code]

caught this event:

`Error creating: pods "jaeger-operator-jaeger-es-rollover-create-mapping-" is forbidden: error looking up service account observability/jaeger-operator-jaeger: serviceaccount "jaeger-operator-jaeger" not found`

theres a job just sitting there:

`jaeger-operator-jaeger-es-rollover-create-mapping   0/1

[2021-12-08 20:39] #1565 closed

[2021-12-08 20:42] rubenvp8510 commented on #1652
Confirm, when we migrated to operator-sdk 1.13 some paths changed, you should not use master as version anymore, instead use pined versions.

[2021-12-08 21:00] perezjasonr commented on #1655
i updated the chart and now it says

[code]

so ive taken that out, but now im back where i started

`jaeger-operator-jaeger-es-rollover-create-mapping   0/1                      3m24s`

and

[code]

so it seems not only to be looking for an sa that doesn't exist, but also if i have it set to:

[code]
it appears to still be trying to do a rollover/mapping job.

[2021-12-09 10:45] iblancasa commented on #1652
This will be solved in https://github.com/jaegertracing/documentation/pull/542
I think we can close this issue now :)
Good job! @rubenvp8510

[2021-12-10 16:05] perezjasonr commented on #1655
I might be closing this issue, ive now updated the chart and the operator image and i no longer see it trying to make rollup jobs so perhaps my issue is outdated.

but now running into a new issue:
https://github.com/jaegertracing/helm-charts/issues/241

if i get past this and i never see the operator try to spin up rollup jobs i will close this issue

[2021-12-10 16:21] perezjasonr commented on #1655
followup:

to get past that issue i set clusterRole to true, but its back to trying to run a rollover job:

[code]

why is it trying to create an index template when ive set that to false, heres the live jaeger object:

[code]

create-index-templates is false in the live jaeger object why is it trying to create a template (which I've already prepared in advance for ilm).

[2021-12-12 09:04] zivfuture commented on #1543
@tillig   I have the same question.  please share me if you figured out.

[2021-12-12 09:05] zivfuture commented on #1543
@jpkrohling   can you help.

[2021-12-13 02:54] lujiajing1126 opened #1666 "Incorrect image tag in the published yaml"
**Describe the bug**

Operator image (`v1.29.0`) cannot be pulled.

https://quay.io/repository/jaegertracing/jaeger-operator?tag=latest&tab=tags

**Expected behavior**

The image tag generated with `make release-artifacts` does not match what we've published to the registry.
They must be the same.

**Screenshots**

If applicable, add screenshots to help explain your problem.

**Version (please com

[2021-12-13 06:08] #1666 closed

[2021-12-15 04:24] rubenvp8510 commented on #1652
Documentation was updated. I'll close this issue.

Thanks!

[2021-12-15 04:24] #1652 closed

[2021-12-15 04:25] rubenvp8510 commented on #1649
Hi, It would be good to see some operator logs. this will help to diagnostic the issue you are facing.

[2021-12-16 09:51] venkataphaniv commented on #1649
Hi Ruben,

 Sure....  I'm trying to redeploy. I'll share the Operator logs in some time

[2021-12-17 07:21] odidev commented on #1568
Hello Team, can you please review this issue?

[2021-12-17 10:17] mmatache opened #1677 "util.Truncate not adding all values to the format string"
**Describe the bug**
`util.Truncate` function will return an incorrectly formatted string if the first format argument is long enough to remove the excess

**To Reproduce**
Steps to reproduce the behavior:
1. call `util.Truncate("%s-%s-collector", 63, "4d96-11ea-b174-c85b7644b6b5-5d0c1e62-4d96-11ea-b174-c85b7644b6b5", "d0c1e62")

**Expected behavior**
The following string should be generated: `4d9

[2021-12-17 11:47] #1677 closed

[2021-12-17 19:33] rkukura opened #1682 "CSV metadata.annotations.containerImage missing tag"
**Describe the bug**
When attempting to publish jaeger-operator v1.29.1 to the Operator Hub Community Operators repositories, CI failed with "Value of 'metadata.annotations.containerImage' not used in any container, please check.". I resolved the issue in the release by changing `containerImage: quay.io/jaegertracing/jaeger-operator` to `containerImage: quay.io/jaegertracing/jaeger-operator:1.29.1

[2021-12-17 19:53] rkukura opened #1683 "ServiceMonitor manifest breaks Kubernetes OLM install"
**Describe the bug**
When attempting to publish jaeger-operator v1.29.1 to the Operator Hub Community Operators repositories, the community-operators CI failed with "api-server resource not found installing ServiceMonitor jaeger-operator-metrics-monitor: GroupVersionKind monitoring.coreos.com/v1, Kind=ServiceMonitor not found on the cluster", while the community-operators-prod CI passed. I worked

[2021-12-20 08:22] rakesh-garimella opened #1684 "Jaeger operator is spamming logs with "Waited for Xs due to client-side throttling, not priority and fairness""
**Describe the bug**

I tried to upgrade the Jaeger operator to the version 1.29.1 on kubernetes. I used the deployment stratergy of `allinone`. When I check the logs of the jaeger operator I see that following logs appear almost evert second
[code]

I am upgrading Jaeger operator from 1.18.1 to 1.29.1. This behaviour was not seen in jaeger operator 1.18.1.

I think the autodetect feature of jaege

[2021-12-20 13:41] pavolloffay opened #1685 "Rename master branch to main"
Jaeger main repo, ui and idl already switched to main.

[2021-12-20 13:41] pavolloffay commented on #1685
@iblancasa / @rubenvp8510 would you like to take this one?

[2021-12-20 14:07] iblancasa commented on #1685
@pavolloffay I don’t have admin permissions in this repo… so, I can not perform that change

[2021-12-20 14:10] rubenvp8510 commented on #1685
I can do it :)

[2021-12-21 03:22] #1595 closed

[2021-12-21 10:38] pteroctopus opened #1686 "How to add QUERY_BASE_PATH env var to query"
I don't see an option in jaeger-operator helm chart to add an additional environment variable to query.
I would like to run query ui on different context path.

Jaeger documentation says that for that QUERY_BASE_PATH environment variable needs to be set.

Where to set it?

This doesn't work:

      query:
        replicas: 1
        serviceType: ClusterIP
        env:
          - name: QUERY_BASE_

[2021-12-21 15:10] n1vgabay commented on #496
Hey guys, I literally read all comments here but still can't figure out how to enable **collector** and **query** to use TLS to communicate with my **elastic search** as my DB.

- I have my EKS cluster, includes elasticsearch as service who's using TLS
- All other services talking with Elastic by .pem file mounted from secret
- So, I assume, I need to mount this .pem also for jaeger

For your feed

[2021-12-22 02:55] mrethers opened #1687 "v1.29.0 and later fail to start with default allInOne strategy: ElasticsearchList missing"
**Describe the bug**
After upgrading to v1.29.0, my Jaeger CR fails when using all defaults (AllInOne, memory storage). The controller indicates the following error:

[code]

**To Reproduce**
1. Install operator v1.29.0+ on Openshift
2. Create a default Jaeger CR
3. Observe the controller logs

**Expected behavior**
Operator should not care about Elasticsearch when the strategy is allInOne and con

[2021-12-22 04:45] rubenvp8510 commented on #1687
HI thanks for catching this issue, I'll try to reproduce it,

It is strange that the e2e tests haven't cached this before.

[2021-12-22 05:18] rubenvp8510 commented on #1684
I'll try to dig more into this tomorrow morning, my understanding is that this is not affecting the functionality right?

Anyway it will be good to know the root cause of this and see if we can suppress the logs or fix the underlying cause.

[2021-12-22 15:32] lujiajing1126 opened #1692 "Sidecar e2e tests are missing in the workflow"
**Describe the bug**
Sidecar e2e tests are missing in the workflow

**To Reproduce**

**Expected behavior**

Run E2E for tests/e2e/sidecard.

Expect sidecar E2E tests for PR #1679

**Screenshots**

**Version (please complete the following information):**

**What troubleshooting steps did you try?**

**Additional context**

[2021-12-22 15:53] rubenvp8510 commented on #1692
@iblancasa Could you take a look please'

[2021-12-22 16:06] iblancasa commented on #1692
Yes, I'll work on this as soon as #1556 is finished

[2021-12-22 16:06] #1579 closed

[2021-12-22 16:06] #1575 closed

[2021-12-22 22:09] #1687 closed

[2021-12-23 15:53] perezjasonr commented on #1655
I'm starting to wonder if it is only possible to do ilm with the production strategy. I guess I might test that out, maybe thats whats wrong here, but if any contributor can confirm that would give great insight

[2021-12-27 01:00] frzifus commented on #1649
Hi,

could it be the case that the `env` section does not work like this? i started version 1.28 and applied `jtprod.yaml`.
After that the operator has terminated with a panic.
[code]
As far as I can see, it happens because `env` contains a list and not a string as value. ([api](https://github.com/jaegertracing/jaeger-operator/blob/v1.28.0/pkg/apis/jaegertracing/v1/options.go#L104))

@rubenvp8510

[2022-01-04 10:26] lujiajing1126 opened #1696 "etcd leader change cause reconciliation of all deployments"
**Describe the bug**

in `pkg/autodetect/main.go`, we start a background job to detect orphan deployment.

But if error is returned while getting jaeger instances, it may not be correct to remove all deployments since the error may be retriable.

**To Reproduce**

**Expected behavior**

Retry or exit current loop.

**Screenshots**

![image](https://user-images.githubusercontent.com/2568208/1480451

[2022-01-04 13:49] skhalash opened #1697 "Jaeger operator default metrics port changed in the app, but not in the chart"
**Describe the bug**
In https://github.com/jaegertracing/jaeger-operator/pull/1647, the default metrics port was changed from 8383 to 8080. However, this change was not reflected in the Helm chart. The container port is still 8383 (for example, [here](https://github.com/jaegertracing/helm-charts/blob/jaeger-operator-2.27.1/charts/jaeger-operator/templates/deployment.yaml#L46) and [here](https://gi

[2022-01-04 16:46] perezjasonr commented on #1655
I was able to get past this by switching to production strategy. I'm guessing its just assumed or not mentioned in the docs but there seems to be an implication that you must use production strategy for ilm, no matter what I did it tried to still set up template, rollover job, etc...

[2022-01-04 16:46] #1655 closed

[2022-01-05 18:29] mjnagel opened #1698 "Jaeger cr-metrics removed?"
**Describe the bug**
When installing the latest operator version (1.29.1) I'm noticing that:
- The servicemonitor does not seem to be created by default for monitoring the operator metrics
- The cr-metrics port (8686) is no longer added to the service despite still being shown as an option in the `start` command options

Beyond this, when doing an upgrade from 1.28 -> 1.29.1 the old servicemonitor

[2022-01-05 22:24] goshlanguage commented on #1074
@AdityaBhansali1 not sure if it's helpful but in my environment, each resource is required to specify a resource limit. Unless I'm missing something, I am currently unable to launch any sidecar without defining resources because the spec doesn't seem to honor or passthrough the resource limit. This results in being unable to use the jaeger operator unfortunately.

[2022-01-05 22:47] rubenvp8510 commented on #1697
Sorry, this was happens when we migrated to the new SDK, which in the project structure has another default port, but there is no strong reason to change it, I'll set it to the previous default port to avoid breaking things again.

[2022-01-05 22:57] goshlanguage opened #1699 "Jaeger agent spec not passed between CRD and deployment object"
**Describe the bug**
Hey gang, thanks for your work on this project.

The jaeger-operator does not appear to honor or reference the `Jaeger` spec with regards to resources. I've looked at a bunch of supporting documentation and it appears that it should be a part of the CRD spec as it is for the `collector` as well as other services, eg [this doc](https://www.jaegertracing.io/docs/1.29/operator/#u

[2022-01-06 08:23] skhalash commented on #1697
Great, thanks!

[2022-01-06 11:34] albertteoh opened #1700 "Add METRICS_STORAGE_TYPE support"
## Requirement - what kind of business use case are you trying to solve?

For context: https://cloud-native.slack.com/archives/CGG7NFUJ3/p1640003084352300

Add ability for jaeger-query to opt-into querying aggregated span metrics from prometheus.

## Problem - what in Jaeger blocks you from solving the requirement?

This is enabled by setting the `METRICS_STORAGE_TYPE` env var to `prometheus`.

Ho

[2022-01-07 11:40] pupseba opened #1702 "Jaeger operator fails to parse Jaeger instance version"
Jaeger operator shows this log.

`time="2022-01-07T11:27:57Z" level=info msg=Versions arch=amd64 identity=jaeger-operator.jaeger-operator jaeger=1.21.0 jaeger-operator=v1.21.3 operator-sdk=v0.18.2 os=linux version=go1.14.15
time="2022-01-07T11:28:20Z" level=warning msg="Failed to parse current Jaeger instance version. Unable to perform upgrade" current= error="Invalid Semantic Version" instance=tr

[2022-01-08 16:04] rubenvp8510 commented on #1699
The agent section only applies  when you are using it as a `daemonset`, you need to set your `agent.strategy=daemonset`. Otherwise the agent will be injected as a sidecar on the application pod.

On the other side, It seems that there is a mistake in your CRD, you are setting the `agent strategy=streaming.` the only possible values are `sidecar` or `daemonset`, That strategy is different from the

[2022-01-08 17:46] goshlanguage commented on #1699
Thank you for the clarifications, I appreciate the support.

[2022-01-08 17:46] #1699 closed

[2022-01-11 06:56] rubenvp8510 commented on #1702
Is this happening when you tried to update from older versions?

[2022-01-11 07:21] QLeelulu commented on #1648
same error in 1.29.0

[code]

[2022-01-11 08:11] pupseba commented on #1702
We are not trying to update the version but we do see the "operation: Update" in the yaml definition output ¿?

[code]

[2022-01-11 10:02] pteroctopus opened #1705 "Remote sampling strategy returns default instead of configured one"
Sampling strategy is defined in operator configuration:

      sampling:
        options:
          default_strategy:
            type: const
            param: 1

But clients are still getting default sampling configuration. Also agent and collector endpoints for configuration are returning default:

# Collector endpoint:
[code]

# Agent endpoint:
[code]

Config map and collector file have the ri

[2022-01-11 10:10] pteroctopus commented on #1705
I'm adding my values.yaml. Strategy is streaming. Agents are configured as daemonset:

jaeger-operator:
  image:
    repository: jaegertracing/jaeger-operator
    tag: 1.29.1
    pullPolicy: IfNotPresent
    imagePullSecrets: []

  crd:
    install: true

  jaeger:
    create: true
    namespace:
    spec:
      strategy: streaming
      collector:
        autoscale: true
        maxReplicas: 5

[2022-01-11 10:15] pteroctopus commented on #1705
In collector logs I see this warning message:

 {"level":"warn","ts":1641896088.730515,"caller":"static/strategy_store.go:323","msg":"Failed to parse sampling strategy","strategy":{"type":"const","param":1}}

[2022-01-11 13:26] pteroctopus commented on #1705
Settings sampling to probabilistic doesn't cause the same problem. This works as expected.

[code]

 But const: 1 doesn't as described in top post.

[2022-01-14 04:42] rubenvp8510 commented on #1698
Hi because we moved to operator-sdk 1.13, We had to migrate the metrics to a new way to do the things. (See https://sdk.operatorframework.io/docs/upgrading-sdk-version/v1.0.0/#removed-packages-pkgkube-metrics-and-pkgmetrics)

I just sent a PR https://github.com/jaegertracing/jaeger-operator/pull/1706 which adds the CR metrics, but now there is no different endpoint for CR metrics. we use the same

[2022-01-14 17:43] #1697 closed

[2022-01-17 17:59] pavolloffay opened #1707 "Use certificate namagement from OpenShift Elasticserch operator"
## Requirement - what kind of business use case are you trying to solve?

I want to use certificate provisioning and management from the OpenShift Elasticsearch operator. This feature reduces code in Jaeger operator and allows using a single ES cluster with multiple jaeger collectors.

An explicit installation at the moment could look like this. First provision ES and then Jaeger:

[code]

[code]

[2022-01-18 09:14] SonalJain1707 opened #1709 "Issue with Jaeger operator and CRD"
**Describe the bug**
A clear and concise description of what the bug is.
When checking the logs of jaeger operator I am seeing below

I0118 07:26:38.004090 1 request.go:621] Throttling request took 1.04742136s, request: GET:https://10.100.0.1:443/apis/litmuschaos.io/v1alpha1?timeout=32s
time="2022-01-18T07:26:39Z" level=error msg="failed to apply the changes" error="no matches for kind \"Kafka\" i

[2022-01-18 17:15] pavolloffay commented on #1709
The following log messages are related to #1684

[2022-01-18 17:17] pavolloffay commented on #1709
Could you please paste here Jaeger CR that you are creating?

The message

Seems like you want to use streaming strategy but strimzi operator is not running in your cluster.

[2022-01-19 00:42] JaredTan95 opened #1710 "v1.30.0/jaeger-operator not found"
**Describe the bug**
as described from https://www.jaegertracing.io/docs/1.30/operator/,

[code]

but could not download it as it was not found.

[2022-01-19 02:47] rubenvp8510 commented on #1710
This should be fixed in this PR: https://github.com/jaegertracing/jaeger-operator/pull/1711

We still need to release the operator for 1.30.0 that is why the image was not found.

[2022-01-19 05:18] JaredTan95 commented on #1710
got it.

[2022-01-19 05:18] #1710 closed

[2022-01-19 10:48] SonalJain1707 commented on #1709
Hi,

Can you please let me know what output is required. Strimzi operator is running in cluster.
![jaeger2](https://user-images.githubusercontent.com/79579566/150115532-59b0941e-49ac-43ee-b3e3-a511fe52d202.PNG)

[2022-01-19 10:48] SonalJain1707 commented on #1709
Can we have call to resolve this issue

[2022-01-19 11:35] pavolloffay commented on #1709
We need Jaeger CR to understand the configuration of your Jaeger instance.

[2022-01-19 17:14] mjnagel commented on #1698
Tracking now, thanks @rubenvp8510 !

[2022-01-20 00:29] #1684 closed

[2022-01-20 03:11] rubenvp8510 commented on #1683
As we decided to not include the ServiceMonitor resource on the community operator hub I think we can close this.

WDTY? @rkukura

[2022-01-20 05:11] JaredTan95 commented on #1700
and `PROMETHEUS_SERVER_URL ` also need to be added, right?

[2022-01-20 05:48] rubenvp8510 commented on #1705
The only possible values for file sampling type are `probabilistic` and `ratelimiting`, This is for controlling the sampling configuration remotely, you can still use const sampling in your clients if you don't want to use the remote sampling feature.

https://www.jaegertracing.io/docs/1.30/sampling/#file-sampling

[2022-01-20 05:51] #1698 closed

[2022-01-20 10:14] SonalJain1707 commented on #1709
Hi,

This is production environment  and I will not be able to send the complete info.
Can we have a quick call and you can check the system. This will expedite the resolution as well.

I would really appreciate your help.

Thanks,
Sonal.

[2022-01-20 11:01] pavolloffay commented on #1709
sensitive information like user/pass can be filtered out.

[2022-01-20 11:46] albertteoh commented on #1700
_I think_ we won't need to from what I gather in [@jpkrohling's comment](https://cloud-native.slack.com/archives/CGG7NFUJ3/p1640595672034500?thread_ts=1640003084.352300&cid=CGG7NFUJ3):

because we can configure this via the `--prometheus.server-url` flag.

[2022-01-21 05:49] rubenvp8510 commented on #1709
What version of Jaeger operator are you using?

I think this is a mismatch in the Kafka CRD versions. If you are using an old Jaeger operator and a recent version of strimzi operator, that could be the cause of the issue. IIRC strimzi 0.23.0 and above uses v1beta2 CRD version.

From the logs you attached I see that the operator is trying to create `kafka.strimzi.io/v1beta1`, but from the output of

[2022-01-21 09:03] SonalJain1707 commented on #1709
Thanks for response. I am looking into it. Please keep this case open for
some time.

On Fri, Jan 21, 2022 at 11:19 AM Ruben Vargas ***@***.***>
wrote:

[2022-01-21 15:41] pavolloffay opened #1720 "Watch ES CR for changes and corretly set number of shards and replicas"
Related to #1707

The #1707 changed the way how Elasticsearch certificates are provisioned and managed. The PR also made possible to provision ES externally and make Jaeger just connect to it. This however needs further improvements. The jaeger operator should watch referenced ES CR and update shards and replicas accordingly.

The updated shards should be used in collector, query and ES management

[2022-01-22 13:47] leberknecht opened #1721 "Docs say 1.3 is latest, but github says its 1.29"
**Describe the bug**
https://www.jaegertracing.io/docs/1.30/operator/ says to run `kubectl create -f https://github.com/jaegertracing/jaeger-operator/releases/download/v1.30.0/jaeger-operator.yaml -n observability # <2>` which points to a non-existing release, github says `1.29.1` is latest.

Maybe im missing something here..?

**To Reproduce**
Steps to reproduce the behavior:
1. try to follow htt

[2022-01-24 10:54] bo0ts opened #1722 "Jaeger instance fails after update to 1.29.1 with `no kind is registered for the type v1.ElasticsearchList in scheme "pkgruntimescheme.go:100"`"
We run jaeger in an OpenShift 4.8 cluster, after upgrading to jaeger 1.29.1 (from a very old 1.25) our single jaeger instance started failing. Recreating the jaeger resource brought no change. The operator has been installed and upgraded via OLM/OperatorHub.

[code]

The operator log has the following error message:

[code]

In our cluster the following elasticsearch CRs are installed:

[code]

El

[2022-01-24 11:26] SonalJain1707 commented on #1709
Hi,

I checked the compitability matrix

It seems we have strimzi version 0.25

--------quay.io/strimzi/operator:0.25.0

Can you please let me know which version jaeger operator version is required as the compitability matrix doesnt show this

Used image for jaeger operator
jaegertracing/jaeger-operator:1.21.3

[2022-01-24 13:39] zzvara opened #1723 "Upgrading to operator 2.27.1 and Jaeger 1.29.0 will create ES indexes with incorrect replicas"
**Describe the bug**
Jaeger 1.29.0 will create ES indexes with incorrect replicas when using Elasticsearch.

**To Reproduce**

1. Start Jaeger operator.

[code]

2. Deploy Jaeger.

[code]

**Expected behavior**
Each index that Jaeger creates should have 1 shard and 0 replicas.

**Screenshots**

New indexes are with incorrect replica counts.

<img width="647" alt="image" src="https://user-images.gi

[2022-01-24 13:43] zzvara commented on #1723
I added an invalid setting and it then revealed how `es:` attributes are passed.

[code]

[2022-01-26 11:55] iblancasa opened #1726 "Split the E2E tests into different GitHub Actions workflows"
## Requirement - what kind of business use case are you trying to solve?
Make faster to recover from CI flaky E2E tests.

## Problem - what in Jaeger blocks you from solving the requirement?
Currently, when something fails in the E2E tests, it is needed to rerun the full set of E2E tests. The idea is to split the GitHub workflow in a way it is not needed to rerun tests that are working (or, at lea

[2022-01-26 15:40] rubenvp8510 commented on #1722
Sorry this is a regression when we migrated to operator-sdk 1.13 it was fixed on  https://github.com/jaegertracing/jaeger-operator/pull/1688 and the fix is available on the jaeger operator version 1.30.0

[2022-01-26 15:40] #1722 closed

[2022-01-26 15:41] rubenvp8510 commented on #1721
1.30.0 Is out,
https://github.com/jaegertracing/jaeger-operator/releases/tag/v1.30.0

That should fix this issue, I'm gonna close this ticket, but if this is still a problem we can open it again or open a new one.

[2022-01-26 15:41] #1721 closed

[2022-01-26 15:42] bo0ts commented on #1722
@rubenvp8510 Thanks for info. Any estimate when the new version will be available on OperatorHub and if I could apply a temporary workaround?

[2022-01-26 16:40] rubenvp8510 commented on #1722
Sorry, the only workaround is to downgrade to 1.28 :(  I'm gonna send the PRs today to publish the new images on the OperatorHub, should be available on those days, my intention is to have it this week.

[2022-01-26 22:45] rubenvp8510 commented on #1705
@pteroctopus Does that works for you? Or is this still an issue ?

[2022-01-27 06:45] rubenvp8510 commented on #1709
At least 1.24.0

[2022-01-27 08:20] pteroctopus commented on #1705
This works for me. Thank you.

[2022-01-27 08:20] #1705 closed

[2022-01-27 13:56] zzvara commented on #1723
Actually, there could be some bug or incompatibility with ES 7.16.1, because 1 replica is created anyway:

![image](https://user-images.githubusercontent.com/8371789/151372681-4681b48d-6e82-4e8d-bf55-69733ea2ebee.png)

![image](https://user-images.githubusercontent.com/8371789/151372760-2e661d1d-8ba2-4b50-b605-6aa0f24a0c20.png)

![image](https://user-images.githubusercontent.com/8371789/151372802-

[2022-01-28 01:33] #1692 closed

[2022-01-28 10:20] iblancasa opened #1729 "Improve robustness of wait-cronjob to avoid flaky tests"
**Describe the bug**
Sometimes, the `es-index-cleaner` fails because the `tests/cmd-utils/wait-cronjob/main.go` CLI fails reporting the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
It is not easy to reproduce. You need to run a the test a lot of times until it happens.

**Additional context**
This is making the CI fails randomly when the Jaeger Operator is working fi

[2022-01-31 08:17] #1729 closed

[2022-02-01 11:44] SonalJain1707 commented on #1709
Hi,

Can you please help me with the upgrade of operator and let me know the procedure.

Thanks,
Sonal.