[2019-05-23 07:53] cfontes commented on #429
I had the same issue today on our daily env creation tests Jaeger operator failed, changing to 1.12 worked

But since it's an operator there is no way to make sure tomorrow it will work too unless you guys commit the change to this https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/operator.yaml

[2019-05-23 07:57] objectiser commented on #429
@pavolloffay According to the [build log](https://travis-ci.org/jaegertracing/jaeger-operator/jobs/535813628) it pushed 1.12.0.

[2019-05-23 08:12] #429 closed

[2019-05-23 09:22] objectiser commented on #427
Yes - I deployed the jaeger operator using the instructions here, followed by your custom resource, and it correctly created the jaeger-query and jaeger-collector services.

Jaeger provides a drop-in replacement for the zipkin server - so this port is used by clients that are reporting using the zipkin trace format.

I think you will need to redeploy, then the new version of the deployment would b

[2019-05-23 09:48] objectiser opened #432 "How should Jaeger components be updated to new version via OLM"
Recently saw a demo where components managed by an operator were (rolling) updated to a new version by:

* User being informed there was a new version of the operator
* User manually deciding to perform the update
* When operator was updated, it scanned for its managed resources and then updated them

The presenter said that once confident with the operator, the user can decide to automatically al

[2019-05-23 14:00] jkandasa opened #434 "jaeger services failed to deploy, if "es.use-aliases" is enabled"
I enabled rollover support in the CR file, jaeger services are failed to deploy.
jaeger-operator=1.12.0

Error in the jaeger-operator log:
[code]

CR file:
[code]

operator-log: [jaeger-operator-78b4c8d5dd-bngtl.log](https://github.com/jaegertracing/jaeger-operator/files/3212453/jaeger-operator-78b4c8d5dd-bngtl.log)
rollover-create-mapping log: [jaegerqe-ro-es-rollover-create-mapping-kcdfx.log](ht

[2019-05-24 14:10] jpkrohling commented on #415
It scans the repo automatically

[2019-05-24 14:22] jpkrohling commented on #429
Interesting, the build on Travis apparently did upload 1.12.0:

[code]

https://travis-ci.org/jaegertracing/jaeger-operator/jobs/535813628#L344

[2019-05-24 14:42] jpkrohling commented on #427
Perhaps we could change the operator to scan for annotated deployments on a first run?

[2019-05-24 14:44] jpkrohling commented on #428
We do have auto-scaling in the roadmap, though.

[2019-05-24 14:46] jpkrohling commented on #422
I'm closing this, as it seems that the questions have been answered. Feel free to reopen if there's still something pending.

[2019-05-24 14:46] #422 closed

[2019-05-24 14:46] pzheng64 commented on #427
Could I get the updated version soon?

[2019-05-24 14:47] jpkrohling commented on #421
Would you be interested in contributing this feature?

[2019-05-24 14:49] jpkrohling commented on #427
Sure, would you be willing to contribute a PR implementing this feature?

[2019-05-24 14:49] pzheng64 commented on #427
@jpkrohling By the way, what could prevent creating services `jaeger-collector` and `jaeger-query` when we apply all-in-one YAML?

[2019-05-24 14:53] jpkrohling commented on #427
Are you consistently experiencing this behavior? Reading this issue, I have the impression that @objectiser could not reproduce your problem.

[2019-05-24 14:55] pzheng64 commented on #427
@jpkrohling Yeah, it works fine at first a few times. But when I repeat removing applied resources, it does not work, not sure why.  Is there something similar to cache?  I had to repeat this as I was creating customized Helm chart for Jaeger tracing to use as sidecar.

[2019-05-24 14:56] pzheng64 commented on #427
I'm not well versed in the code structure of jaeger-operator.  I'm afraid I can not contribute.

[2019-05-24 14:58] jpkrohling commented on #406
Isn't this the same as #418 ?

[2019-05-24 15:00] pavolloffay opened #438 "Operator capability level 3"
The high-level issue to bring operator to level 3 based on https://github.com/operator-framework/operatorhub-docs/blob/master/building-operators/building-operators/types-of-operators.md#operator-maturity-model

Based on the https://operatorhub.io/operator/jaeger-operator jaeger-operator is level our current level is 2:

Level 3 is

Apart from the storage, I think we should be already level 3.

[2019-05-24 15:04] jpkrohling commented on #427
Not really, but you should either remove all the resources before stopping/removing the operator, or "change" the existing CR if you decide not to remove the resources. For instance:

[code]

If you don't remove the Jaeger CR, the operator might not be aware of its existence, as it won't trigger an event that is delivered by Kubernetes to the operator.

[2019-05-24 15:16] jkandasa commented on #406
@jpkrohling No, This ticket to clean completed/failed jobs.
#418: if a job triggered on a schedule if that failed, multiple jobs/pods created on the same schedule.
Example: triggers a job every day @ 9 AM, if the job fails, creates another pod. if newly created pod fails, creates the next one. This cycle continuing multiple times.

[2019-05-24 15:31] jpkrohling commented on #406
Doesn't Kubernetes clean them up? I would expect it to at least cleanup the completed jobs?

[2019-05-24 15:52] objectiser commented on #427
@jpkrohling

This should also be considered in the context of  https://github.com/jaegertracing/jaeger-operator/issues/432, i.e. when new version of operator starts up, it should scan for existing jaeger instances and see whether their version needs to be updated.

[2019-05-24 15:57] jkandasa commented on #406
@jpkrohling I think it should do.
Maybe by default we have, long TTL.

@objectiser working on #407 to support user specified TTL

[2019-05-24 16:00] objectiser commented on #429
Yes, its a strange - just disappeared within dockerhub :(

In the end I just pushed it manually.

[2019-05-24 17:31] mwieczorek commented on #421
I don’t do golang day to day, but I can try.
Of course if someone else from the community finds this „good first issue” and would like to do it - Please comment here and go ahead.

[2019-05-27 10:51] arnitolog opened #439 "Custom annotation/labels"
Hello,

is there any way to set custom annotation and label for kind:Ingress. I need to do this in order to provide a type of the ingress controller and type of traffic (internal/external) to our kubernetes cluster.

[2019-05-27 16:15] pavolloffay opened #441 "Make run is broken"
Make run fails with the following error:

[code]

Running git bisect indicates that this commit https://github.com/jaegertracing/jaeger-operator/commit/ed370cf4fa5559d284f885420586293cd0229c80 introduced the problem cc) @objectiser.

[2019-05-28 08:51] objectiser commented on #439
You can define annotations against the ingress:
[code]
However currently labels are not configurable. Could you provide an example of the type of annotations/labels you are looking to provide? Are they specific to your use case or generally required?

[2019-05-28 09:05] arnitolog commented on #439
Thanks for the reply. Here is a use case for labels:
we have 2 different types of ingress controllers: Internal - not internet facing and External which can be reached form the Internet.
And when I describe my ingress I need to provide a label "traffic-type" which can be internal or external depending on what kind of access I want to provide.

[2019-05-28 09:12] objectiser commented on #439
@jpkrohling Any objections to labels being added to the common spec?

[2019-05-28 10:10] jpkrohling commented on #439
No objections.

[2019-05-28 10:14] pavolloffay commented on #441
I am looking at a fix. The problem is that we create a new client with the assumption we are running inside a k8s pod https://github.com/jaegertracing/jaeger-operator/commit/ed370cf4fa5559d284f885420586293cd0229c80#diff-c167c25dc906a81f8b1024bd653b7523R231

Maybe a better is to reuse the client from the manager.

[2019-05-28 11:16] jpkrohling commented on #438
What's the action item here? Tell Operator Hub that we are level 3? Or work on the storage lifecycle? I believe the storage part would belong to the storage operator, no?

[2019-05-28 11:19] pavolloffay commented on #438
If we think there is no action on our side we can just ask them to bump the level.

Storage concerns belong to storage operator, except schema migrations which we own.

[2019-05-28 11:29] jpkrohling commented on #432
From our operator's perspective, it would require only doing backwards compatible changes, or creating a script that would update the data that backs our operator. Currently, we have no data other than the CRs themselves, so, whenever we change the model, we have to:

* provide sensible defaults for new properties, so that we won't require values that don't exist for old CRs
* alias properties ins

[2019-05-28 11:30] jpkrohling commented on #438
We are doing this already, right?

[2019-05-28 11:31] pavolloffay commented on #438
I cannot recall any migrations we do.

[2019-05-28 11:47] jpkrohling commented on #432
To be clear, I think there are two cases here:

1. New version of Jaeger
1. New version of the Jaeger Operator

We may provide a property in the CR to fix Jaeger at a specific version (see #42). Upon change of this property, the operator handles the update to the user's defined version.

Then, there's the capability of updating the operator itself, which currently does not involve any work (see co

[2019-05-28 11:48] jpkrohling commented on #438
For Cassandra, we do have a schema script that is supposed to handle this.

[2019-05-28 11:51] jpkrohling commented on #396
I'm closing this, as it was added to Jaeger itself. It should be available whenever the next version is released, probably 1.13.

[2019-05-28 11:51] #396 closed

[2019-05-28 11:55] jpkrohling commented on #375
This needs to come with very good test coverage in the form of end-to-end tests, so that we don't end up on a situation where we spend more time manually testing the output than the time that was spent writing the code.

[2019-05-28 12:02] pavolloffay commented on #438
Not quite see migrations steps here https://github.com/jaegertracing/jaeger/blob/master/CHANGELOG.md#1100-2019-02-15.

Jaeger 1.10 automatically uses schema V2, however we did a patch to storage layer which automatically recognizes which schema has been created. but it does not migrate any data.

We don't do any schema migrations explicitly in the operator. If I am wrong please correct me.

[2019-05-28 12:04] jpkrohling opened #442 "Scan deployments for agent injection"
When a Jaeger instance is installed via a given CR and the operator is then stopped, new deployments with the auto-injection annotation are ignored until the deployment has an update.

To solve this, the operator should check for all deployments when it first starts, injecting an agent when needed.

[2019-05-28 12:04] jpkrohling commented on #442
From #427

[2019-05-28 12:06] jpkrohling commented on #427
I'm closing this, as the original question seems to be solved. I created #442, to address the situation where injection is desired but not yet performed.

[2019-05-28 12:07] jpkrohling opened #443 "Remove sidecar when instance is deleted"
From #447, we need to make sure that the sidecar is removed when the target Jaeger instance does not exist (anymore?). I *think* this logic is already in place, but we might need tests for it.

[2019-05-28 12:08] #427 closed

[2019-05-28 12:10] jpkrohling commented on #438
I missed that, but that's exactly the case that should be handled by the operator.

[2019-05-28 12:43] pavolloffay commented on #441
The client from the manager could not find the operator deployment. Also the metrics package from operator SDK is using the rest client with the same creation as we do.

[2019-05-28 12:55] jpkrohling commented on #441
Would be worth creating an issue upstream about it. I don't see a reason why we would want to prevent the metrics service from being used outside of a cluster context.

[2019-05-28 13:22] pavolloffay commented on #405
@jkandasa I am not able to reproduce your issue. Could you please try updating spark-dependencies image to the latest tag which is currently:

[code]

[2019-05-28 14:26] pavolloffay commented on #418
k8s uses exponential backoff to re-create failed jobs https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy

[code]

[2019-05-28 14:50] pavolloffay commented on #418
I think there is nothing to do on our side and we should rely on k8s restarting policy.

Note for me the only way how to disable restarting is to set `BackoffLimit: 0`

[2019-05-28 14:50] #418 closed

[2019-05-28 14:51] pavolloffay commented on #418
@jpkrohling could you please have a look at this one too?

[2019-05-28 14:56] jpkrohling commented on #418
IMO, we should indeed rely on Kubernetes to restart/reschedule the jobs. I'd be interested in knowing the *cause* of the failures: we should do everything we can at the operator's side to avoid a job entering a failed state.

[2019-05-28 15:03] #441 closed

[2019-05-28 15:04] #415 closed

[2019-05-29 07:55] jpkrohling opened #447 "OpenShift OAuth Proxy not logging out users on login page?"
In Kiali, an issue has been reported that the OpenShift OAuth Proxy isn't logging users out when the login page is opened. We also use this approach in Jaeger, so, we might also be affected.

@jkandasa: we need to add this scenario to the test case list. Once you can confirm we are affected by this bug, I'll change this issue from `question` to `bug`.

[2019-05-29 09:18] jpkrohling opened #448 "Update the Operator SDK to 0.8.1"
We are currently at 0.5.0. In the past, here's what I used to do:

1. generate a new operator using the newest version
1. inspect the generated code for new features
1. update our dependencies to match those of the new operator
1. `dep ensure`
1. `make test`

As we are quite far behind, it would be nice to get a summary of the changes between 0.5.0 and 0.8.1.

[2019-05-29 10:37] jkandasa commented on #447
@jpkrohling I enabled OpenShift’s OAuth service in Jaeger and performed the following actions.
Seems all looks ok. and authentication works well.

Browser: Google Chrome, Version 74.0.3729.157 (Official Build) (64-bit)
OpenShift Master: v3.11.98
Kubernetes Master: v1.11.0+d4cacc0
OpenShift Web Console: v3.11.98

I believe this issue might be reported in OpenShift 4.x in Kiali?

Test 1:
* login wit

[2019-05-29 10:39] jkandasa commented on #405
@pavolloffay ok, I will check with this image and update here. Thank you!

[2019-05-29 10:58] jpkrohling commented on #447
Yes. We need to keep an eye on OpenShift 4.x then.

[2019-05-29 11:00] jpkrohling commented on #448
Apparently, 0.8.1 uses Go modules by default, so, comparing the dependencies would take a bit more time for this upgrade.

[2019-05-29 11:00] #434 closed

[2019-05-29 11:05] jkandasa commented on #447
@kevinearls Do you have OpenShift 4.x environment?

[2019-05-29 13:22] kevinearls commented on #447
No, I don't have one, because as far as I know OCP 4.1 clusters that we
create on AWS are still cleaned up every 48 hours.  I have been creating
them on an as needed basis and can send you instructions if you need them.
It's fairly simple once you get your AWS credentials working.

On Wed, May 29, 2019 at 1:06 PM Jeeva Kandasamy <notifications@github.com>
wrote:

[2019-05-30 12:50] jkandasa commented on #405
@pavolloffay  I tried to pull the latest image on a different machine, It reports the same image that I used.

[code]
Could you please confirm the repository?

[2019-05-30 13:18] pavolloffay commented on #405
The repository and image is correct. Before I was referring to ID, which does not seem to be the image SHA. But your image SHA is shown below as `RepoDigests`
[code]

[2019-05-30 13:20] pavolloffay commented on #405
@jkandasa could you provide exact information about the ES installation? What version, where did you downloaded, how it is deployed and configured?

[2019-05-30 14:06] jkandasa commented on #405
@pavolloffay In this test, I was using ES image from https://registry.centos.org/rhsyseng/elasticsearch/5.6.10
Deployed with this script: https://github.com/jaegertracing/jaeger-performance/blob/master/openshift/scripts/deploy_es_cluster.sh

[2019-05-30 14:32] jkandasa commented on #405
@pavolloffay I tried again with the operator provided es cluster, I see the same issue.

spark-dependencies log: [jaegerqe-spark-dependencies-1559226240-5tmxj.log](https://github.com/jaegertracing/jaeger-operator/files/3237406/jaegerqe-spark-dependencies-1559226240-5tmxj.log)

oc describe spark-dependencies log: [jaegerqe-spark-dependencies-1559226240-5tmxj.txt](https://github.com/jaegertracing/ja

[2019-05-30 15:21] pavolloffay commented on #405
The self-provisioned ES cluster does not work, it's not supported at the moment.

[2019-05-31 08:27] #439 closed

[2019-06-04 07:55] atmosx opened #457 "QQ about jaeger-operator standard deployment"
Dear all,

I want to make sure I understand the available deployment solutions. There are currently two ways to deploy jaeger on a kubernetes cluster:

1. Run the entire set in every namespace and have the operator dynamically deploy the agents
1. Run as a daemonSet

From the documentation and tests I made, the ideal solution here is to deploy each component (operator, web-ui, collector & cronjobs

[2019-06-04 08:23] jpkrohling commented on #457
Hey @atmosx,

You should have only one operator for your whole cluster. Apart from that, it's possible to have one "instance" per namespace, or one "instance" for your whole cluster. It depends on your specific requirements and tenancy model.

"Instance" is a "Jaeger instance" (represented by a Custom Resource, CR) and contains a collector, query, batch jobs, ...

Note that the only component that

[2019-06-04 08:23] #457 closed

[2019-06-04 14:43] #405 closed

[2019-06-04 14:43] pavolloffay commented on #405
Fixed in https://github.com/jaegertracing/spark-dependencies/pull/66

[2019-06-04 19:23] rcernich opened #459 "agent cannot bind host port when using DaemonSet strategy"
Here's the error:

[code]

If deploying on OpenShift, it's probably beneficial to use a dedicated service account for the agent _and_ install a cluster role binding that binds a "use" verb against the appropriate SCC.

[2019-06-05 08:02] jpkrohling commented on #459
Documented in #346

[2019-06-05 09:34] jpkrohling commented on #459
About the dedicated service account for the agent: #456 would probably be handy here, as it adds support for per-component service account in the CR

[2019-06-05 09:37] #421 closed

[2019-06-05 12:56] jpkrohling opened #461 "failed to create or get service for metrics"
Currently, the Jaeger Operator fails to start in OpenShift due to the following message:

[code]

This log message is recorded with `fatal` level, making the operator to simply exit upon this failure. Operators created with newer versions of the SDK have this set to `info` instead. This of course doesn't fix the underlying problem, but I think we should not crash the operator because of this failu

[2019-06-05 20:33] arnitolog opened #463 "build docker images"
What is the proper way to build a set of docker images from the master?
Does the operator itself and all components use the same image? I want to test this fix https://github.com/jaegertracing/jaeger-operator/pull/445. But it is not clear for me which images I need to build and use

[2019-06-05 21:18] objectiser commented on #463
If you are looking to test the latest version of the operator (including that fix), then you can use the https://hub.docker.com/r/jaegertracing/jaeger-operator/tags `master` tag here.

The operator only has a single image, the jaeger components that are being managed have their own docker images built from the https://github.com/jaegertracing/jaeger repo.

Will close - reopen if you have further q

[2019-06-05 21:18] #463 closed

[2019-06-06 06:08] arnitolog commented on #463
thanks a lot

чт, 6 июн. 2019 г. в 00:18, Gary Brown <notifications@github.com>:

[2019-06-06 12:00] #406 closed

[2019-06-06 14:26] jkandasa opened #465 "Unusual info message on es cluster self-provision deployment"
I installed jaeger services with self-provision ES cluster. I see an unusual info message on the OpenShift console, I do not see any functional impact.
[code]
![image](https://user-images.githubusercontent.com/1004403/59040561-863a0f00-8894-11e9-83f1-1857724b0330.png)

#### Version details:
OpenShift Master: v3.11.98
Kubernetes Master: v1.11.0+d4cacc0
OpenShift Web Console: v3.11.98

#### CR File:

[2019-06-07 06:11] jkandasa opened #466 "CR "metadata.name" invalid format should throw exception on the user console"
When a user supplies unsupported `metadata.name` Jaeger operator should throw an exception on user console.

[code]

Current flow:
* deploys ES cluster
* try to deploy jaeger services(throws an exception on the jaeger-operator log)

Expected flow:
* validate CR file
* continue to deploy if the user supplied a valid CR file.

Operator log: [jaeger-operator-545c69455d-j7zjg.log](https://github.com/j

[2019-06-07 06:31] jkandasa opened #467 "CR file invalid chars/failures should be reported on the console"
This issue somehow related to #466, however this may need a different fix

Invalid CR files error should be reported to the user console. And should not keep on trying to deploy the CR file.

I changed the boolean value to string (eg: `true >> "true"`) and integer to string (ex: `10 >> "10"`)
deployed the CR file. on the console, it looks all ok. But on the operator-log keep on throwing an excepti

[2019-06-07 10:07] #459 closed

[2019-06-12 07:10] mfrembs opened #469 "Connect to cassandra with credentials"
Hello,

I'm trying to use jaeger with cassandra. Cassandra is secured by username and password. When I try to create a jaeger instance with the jaeger operator, jaeger cannot connect to cassandra. I get the following error message / logs:

`Connection error: ('Unable to connect to any servers', {'IP': AuthenticationFailed('Remote end requires authentication.',)})
Cassandra is still not up at jaege

[2019-06-12 14:09] pavolloffay commented on #469
Hi @mfrembs the username/pass configuration looks good. Try adding configuration for create schema script

[2019-06-12 14:30] pavolloffay opened #470 "Lint OLM files"
OLM configuration files can be linted with
[code]

This should be added to our CI/makefile to assure the configuration is correct. Now it fails on
[code]

It fails because `_generated.concat_crd.yaml` contains two `crd`s.

@objectiser how were the files in `olm-catalog` generated? There are no instructions on what has to be updated on a new operator version.

[2019-06-13 08:57] mfrembs commented on #469
Thanks. I tried that with no luck. Here is the full configuration, the error message remains the same:

[code]

I used the bitnami/cassandra helm chart for the cassandra deployment. The installation should be fine.

[code]

I also tried configurations with datacenter1 on jaeger-side.

[2019-06-13 09:20] pavolloffay commented on #469
what is the result of create schema script? Did it create the schema?

[2019-06-13 11:13] mfrembs commented on #469
I don't know if the create schema script was issued. How can i check this? I can only see the following pod:

[code]

I also tried to create a keyspace manually in cassandra (named jaeger_v1_datacenter1). I used this and "datacenter1" for keyspace and datacenter in the Jaeger-yaml.

[2019-06-13 11:15] pavolloffay commented on #469
`cass-test-cassandra-schema-job-wp577  ` is the schema creation pod. Check the output for details. It should indicate that schema has been created.

[2019-06-13 11:18] mfrembs commented on #469
[code]

(I created a new pod because the old one gets deleted after a short time)

[2019-06-13 11:44] pavolloffay commented on #469
Can you please paste here description of the pod? It seems user/pass are not passed to the create schema job, so it fails to init the database and then jaeger components fail to connect to it.

[2019-06-13 11:48] pavolloffay commented on #469
It seems that schema script does not support user/pass parameters https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/schema/docker.sh. First the `docker.sh` has to support it in order to add it to the operator.

would you be interested in submitting a patch for it?

[2019-06-14 06:35] mfrembs commented on #469
Thanks for looking into that! Unfortunately I don't have the time to submit a patch :-( I would be happy if someone would implement it. Otherwise I have to check if it is possible to use cassandra without credentials (it is inside a K8s cluster. Maybe it is possible) or switch to elasticsearch.

I let the the issue open in case someone want to overtake it?

[2019-06-18 11:56] dushyant03 opened #471 "Unable to connect to the ES when using K8s secrets"
HI,

I have setup the ES cleaner cronjob for an externally hosted Elastic search cluster, and i am trying to use secrets stored in kubernetes to connect to the ES cluster.

Below is my yaml
[code]

And it somehow does not work and i get the below error

[code]

PS - If i hardcode the username and password, it works fine.
Please let me know if i am doing something wrong

[2019-06-18 12:32] pavolloffay commented on #471
Is the secret mounted into the cleaner job?

[2019-06-18 12:41] dushyant03 commented on #471
Umm its not, i think that is the issue. Let me try

[2019-06-18 14:39] dushyant03 commented on #471
@pavolloffay

So i mounted the secret on the cleaner Cron, and somehow its not picking it up.
I do get a 401 now, but it does not seem to be using the mounted secrets.

[code]

[2019-06-18 15:08] pavolloffay commented on #471
A couple of remarks. Changing k8s objects manually is not supported - all changes should be done via jaeger CR.

* `JaegerEsIndexCleanerSpec` injects the secret defined in the storage spec. And should create env variables out of it.
* if the storage defines options `--es.username/password` it adds `ES_USERNAME/PASSWORD` as env vars.

https://github.com/jaegertracing/jaeger-operator/blob/eaa4d52f83

[2019-06-19 10:16] objectiser opened #472 "IGNORE: Test issue"

[2019-06-19 10:17] #472 closed

[2019-06-19 16:42] LiliC commented on #461
@jpkrohling Hello, you need to add the following to your role.yaml file, and it should fix this problem, as we are putting the Deployment of the operator as the owner to the OwnerRef of the Service object on creation:
[code]
 Docs [on this in operator-sdk](https://github.com/operator-framework/operator-sdk/tree/master/doc/user/metrics#garbage-collection). See full role.yaml file here -> https://gi

[2019-06-20 07:43] jpkrohling commented on #286
Closing, as it looks like it's not relevant anymore, but feel free to reopen if you spot this issue in the wild.

[2019-06-20 07:44] jpkrohling commented on #284
I'm closing this, as we don't have this logic anymore. Note however that `make run` will start the operator outside of the cluster, so, similar issues might happen and that's "expected".

[2019-06-20 07:44] #284 closed

[2019-06-20 07:44] #286 closed

[2019-06-20 07:51] jpkrohling commented on #466
I remember seeing some validation features for OLM, perhaps we could reuse it here?

[2019-06-20 07:52] jpkrohling commented on #467
What's the exception?

[2019-06-20 12:27] jkandasa commented on #467
@jpkrohling Operator log is attached on the initial comment.
`
E0607 06:27:47.976474       1 reflector.go:125] pkg/mod/k8s.io/client-go@v0.0.0-20190507014756-65905f29c17c/tools/cache/reflector.go:93: Failed to list *v1.Jaeger: v1.JaegerList.Items: []v1.Jaeger: v1.Jaeger.Spec: v1.JaegerSpec.Storage: v1.JaegerStorageSpec.EsIndexCleaner: v1.JaegerEsIndexCleanerSpec.NumberOfDays: readUint64: unexpecte

[2019-06-20 12:30] jpkrohling commented on #467
Sorry, I missed that. Whenever possible, let's try to keep the error messages in the issue itself, so that people searching for the error message can find this bug report.

[2019-06-20 21:34] Demonian opened #474 "Cassandra Create schema with TLS config"
HI,

There is ability to configure Cassandra storage with automatic schema creation through `jaeger-operator`, but there is no ability to use this if Cassandra is configured with TLS, because there is no ability to mount volume to Job.

This ability has been already implemented in `jaeger`: [Link to Jaeger Cassandra TLS configs for Create Schema](https://www.jaegertracing.io/docs/1.12/deployment/#

[2019-06-21 00:20] jessesuen opened #475 "Support sidecar injection for Pods, ReplicaSets, and/or CRDs"
Can `sidecar.jaegertracing.io/inject` be done at a ReplicaSet or even Pod level? Or does must it only be a Deployment?

Allowing injection to happen at the lower level constructs would make it possible for jaeger-operator to integrate with CRDs (such as the [Argo Rollout CRD](https://github.com/argoproj/argo-rollouts)) which users would use in lieu of a Deployment. For example, istio follows this

[2019-06-21 07:19] jpkrohling commented on #475
That's great feedback, @jessesuen! We decided to add support only for `Deployments` at first, to see if the approach would work. Apart from a couple of annoying things, it does work, so, we could certainly expand to other known types, like `Pods`.

That said, we are experimenting with a more standard approach, as described in the PR you linked. There are a couple of problems with that approach as

[2019-06-21 07:20] jpkrohling commented on #475
I'm closing this issue, as I don't think there's any action we need to take here other than collect your feedback, but feel free to reopen if you think there's something else we should be doing.

[2019-06-21 07:20] #475 closed

[2019-06-21 08:06] jpkrohling commented on #448
Closing, as this is done.

[2019-06-21 08:06] #448 closed

[2019-06-21 08:08] jpkrohling commented on #438
Related to #42

[2019-06-21 15:27] marcindulak commented on #60
Is this auto-injection feature of sidercars into pods from a different namespace than the jaeger-operator already implemented?

I have jaeger-operator 2.6.0 installed with helm https://github.com/helm/charts/commit/0007ebb1587b3858c0bfb25a2210824a86434d3f
that provides `jaegertracing/jaeger-operator:1.12.0`.

Elasticsearch is a single container

[code]

The jaeger `1.12` components are installed i

[2019-06-21 15:32] jpkrohling commented on #60
What's the value of your `WATCH_NAMESPACES` env var, set in the `operator.yaml`? If it's [empty](https://github.com/jaegertracing/jaeger-operator/blob/35880d0c0e4ebc9f95af4efb546df391a4ee399c/deploy/operator.yaml#L27), I'd expect the injection to also work cross-namespaces, but if it's not working, I'd have to check the code.

[2019-06-21 15:35] marcindulak opened #477 ""sidecar.jaegertracing.io/inject": "true" annotation causes two pods to be started"
I have jaeger-operator 2.6.0 installed with helm https://github.com/helm/charts/commit/0007ebb1587b3858c0bfb25a2210824a86434d3f
that provides `jaegertracing/jaeger-operator:1.12.0`.

Elasticsearch is a single container

[code]

The jaeger `1.12` components are installed in the `observability` namespace:

[code]

[code]

The jaeger-agent sidecar is injected in the deployments in the `observability`

[2019-06-21 15:43] marcindulak commented on #60
[code]

So it could be a problem in the helm chart https://github.com/helm/charts/commit/0007ebb1587b3858c0bfb25a2210824a86434d3f
I don't see any option to control this value in the chart.

[2019-06-21 16:07] jpkrohling commented on #477
Yes, that's expected with the current implementation. We watch for pods "after the fact" with a regular operator watch. It's an annoyance, but it's not a blocker for most use cases.

I'm closing the issue, but feel free to reopen if you still have questions about this.

[2019-06-21 16:07] #477 closed

[2019-06-24 15:57] jwendell opened #478 "Pod is using wrong Service Account when using OAuth proxy"
When we use builtin feature of OAuth proxy, the whole pod gets the wrong serviceaccountName:
[code]

AFAIK this service account should be used only by the OAuth sidecar proxy: `- --openshift-service-account=jaeger-ui-proxy`

[2019-06-24 16:01] jwendell opened #479 "Ability to add extra annotations to OAuth Service Account"
Our use case is that we want to add another annotation in here: https://github.com/jaegertracing/jaeger-operator/blob/13a53f753030688b58c79a3532e75d236af78172/pkg/account/oauth-proxy.go#L32

So that we can have a second route pointing to this service.

Because we just want to add another route, our annotation would be similar to https://github.com/jaegertracing/jaeger-operator/blob/13a53f753030688

[2019-06-25 07:44] jpkrohling commented on #479
Sorry, this is a bit confusing: do you need to customize the OAuth Redirect Reference, or do you need extra annotations to the `ServiceAccount`?

[2019-06-25 10:56] jwendell commented on #479
What we need is to have a second OpenShift route to reach the Jeager pod (protected by OAuth). In order to achieve that we need to add a second annotation to the `jaeger-ui-proxy ServiceAccount`. This annotation is very similar to the one you already have, the only change is in the route name.

How you are going to implement this we leave to you. Perhaps you don't want to expose the whole `annotat

[2019-06-25 11:01] jwendell commented on #479
Two notes:
1. The value of that annotation can be a domain or (like we are using) a reference to an OpenShift route: https://docs.openshift.com/online/architecture/additional_concepts/authentication.html#redirect-uris-for-service-accounts
1. By letting users add any extra annotations they want, you give more flexibility. Not sure if this is what you want though.

[2019-06-25 11:18] objectiser commented on #479
The `IngressSpec` already allows annotations to be specified, they are just not added to the route, so that looks like the best approach.

[2019-06-25 11:34] jwendell commented on #479
@objectiser Note that those annotations we need are for the `jaeger-ui-proxy ServiceAccount`.

[2019-06-25 14:07] jpkrohling commented on #478
For completeness, here's a complete deployment object for the `simplest` example:

<details><summary>Expand</summary>
<p>

[code]

</p>
</details>

Turns out, this is not a bug. The `jaeger-ui-proxy` service account is set with the appropriate options and we apply this only to the minimum components that need protection. In the case of the `all-in-one` deployments, it's the only deployment that ex

[2019-06-25 14:07] #478 closed

[2019-06-25 14:13] secat commented on #471
When using an already provisioned elasticsearch cluster with basic authentication and TLS enabled, what is the key/map format of the secret that we need to provide to Jaeger in the storage section?

[code]

[2019-06-25 14:47] objectiser commented on #471
As shown [here](https://kubernetes.io/docs/concepts/configuration/secret/#creating-a-secret-manually), using the keys `ES_USERNAME` and `ES_PASSWORD`.

[2019-06-25 15:32] jpkrohling commented on #479
We discussed this via IRC and there are a few things to consider:

- For the usual case, the operator should manage its route
- For the edge cases, the operator should allow users to manage this route externally (`enabled: false`)

The consensus seems to be that we don't need two routes (`jaeger-query` + `tracing`). @objectiser suggested having only the one we already have, skipping the `tracing`

[2019-06-25 15:48] secat commented on #471
@objectiser thank you!

[2019-06-25 16:46] jwendell commented on #478
OK, my understand is that the pod would run with `jaeger` SA, and only the OAuth proxy container would run with `jaeger-ui-proxy` via the CLI flag `--openshift-service-account=jaeger-ui-proxy`.

[2019-06-26 05:06] jpkrohling commented on #478
That's what I thought too, but inspecting deeper, I found out that the current behavior is indeed correct.

[2019-06-27 10:22] jpkrohling commented on #466
I started implementing this and reported the following issues in the process:
* operator-framework/operator-sdk#1607
* operator-framework/operator-sdk#1608
* operator-framework/operator-sdk#1609

[2019-06-27 10:27] kevinearls opened #481 "simple-prod-deploy-es.yaml example fails on OCP 4.1.2"
The simple-prod-deploy-es.yaml example, as well as the self_provisioned_elasticsearch_test fail on OCP 4.1.2 because the elasticsearch pod never comes out of Pending state.

When this condition occurs I get the following message in the OCP 4.1.2 admin console: "Unschedulable: 0/5 nodes are available; 5 node(s) didn't match node selector "

[2019-06-27 10:54] pavolloffay commented on #481
@kevinearls could you please report this in ES operator repository https://github.com/openshift/elasticsearch-operator?

To help them debug just get the ES CR jaeger operator created - `oc get elasticsearch ....`

[2019-06-27 11:23] objectiser commented on #466
So should we postpone all the validation related issues until these SDK issues are resolved?

[2019-06-27 12:41] jpkrohling commented on #466
This particular issue has a different solution, but in general, we can do "some" validation now, and improve once the SDK issues are fixed.

[2019-06-27 13:07] kevinearls commented on #481
@pavolloffay I've opened https://github.com/openshift/elasticsearch-operator/issues/166

[2019-06-27 13:54] objectiser commented on #481
@kevinearls - could you add to that ticket that you found the problem with OCP4.1.2, and also whether it worked with earlier versions of OCP 4.x?

[2019-06-27 13:56] objectiser commented on #481
Sorry, 4.1.2 is in the title - but meant if you had tested it on previous versions of 4.0 or 4.1, and whether it had worked then.

[2019-06-27 14:23] kevinearls commented on #481
@objectiser I've updated that bug.

[2019-06-27 14:31] pavolloffay opened #484 "Run self es-self provisioned test on travis"
Run `make e2e-tests-self-provisioned-es` on travis. The motivation is to catch issues early.

For example https://github.com/jaegertracing/jaeger-operator/issues/481 is not related to OCP version but to change in ES operator.

@kevinearls would you be interested in this issue?

[2019-06-27 14:34] pavolloffay commented on #481
I don't think this is related to OCP version. I get the same error even running locally on 3.11.

We should be running ES self-provisioned test on every PR on travis to catch the issues early. I have booked an issue for it https://github.com/jaegertracing/jaeger-operator/issues/484

[2019-06-27 14:45] pavolloffay commented on #484
Side note. self provisioned ES needs openshift to run. It does not run on plain k8s so we will need OCP on travis. I propose to use `oc cluster up` (3.9 is the lightest), we have done it here https://github.com/RHsyseng/docker-rhel-elasticsearch/blob/master/tests/prepare.sh to test other ES image.

[2019-06-27 14:47] kevinearls commented on #481
NOTE: When this is fixed please remove the SKIP added in this PR

[2019-06-28 07:25] jpkrohling commented on #484
Perhaps we could add a suite for OpenShift (`// +build openshift`) and run it as a separate job?

[2019-06-28 13:06] #466 closed

[2019-07-01 10:31] bertpersyn opened #487 "Limit label values to 63 chars"
**Description**

When an operator is defined, the length of the jaeger resource name isn't checked:

In the code, there is no check on the 63 char limit for [labels](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/). (Is this correct?)

**Question**

When deploying an operator that exceeds this limit, is there a trace of the failure?
Is there a way to fail the operator ins

[2019-07-01 11:37] cfontes opened #488 "[Question] Disable es index cleaner job"
Is there a way to completelly disable it?  I've searched in the operator but couln't find an option to skip it's deploy.

We recreate our cluster every morning and we have unlimited storage for Jaeger, I would like to disable this so I don't have to worry about it.

[2019-07-01 11:47] cfontes commented on #488
Nevermind, just found it in the code

Just in case someone needs it you disable it like this:

[code]

[2019-07-02 08:24] jpkrohling commented on #488
Would you mind sending a PR to the readme? This probably belongs to the section specific to Elasticsearch: https://github.com/jaegertracing/jaeger-operator#elasticsearch-storage

[2019-07-02 08:26] jpkrohling opened #489 "Document how to disable the index cleaner job"
See #488 for context. This probably belongs to the Elasticsearch section of the readme.

[2019-07-02 08:26] #488 closed

[2019-07-02 08:26] jpkrohling commented on #489
@cfontes, want to give this a try?

[2019-07-02 08:29] cfontes commented on #489
@jpkrohling Sure, I will.

[2019-07-02 08:31] jpkrohling commented on #487
I'm probably missing something here, but is the limit of 63 chars also applied to the resource name? Or only to labels? If it's only to labels, how are you getting affected by the resource name being bigger than 63 chars? I believe it might be because of a code like the one below, but would be nice to confirm:

https://github.com/jaegertracing/jaeger-operator/blob/fe53dbb8804ae931b1ca76c21daf149e1

[2019-07-02 09:08] cfontes commented on #489
here it is https://github.com/jaegertracing/jaeger-operator/pull/490

[2019-07-02 09:26] bertpersyn commented on #487
I think this is indeed a violation of this [spec](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set)

Maybe a first class citizen could be something like this:

[code]

[Playground](https://play.golang.org/p/YTHcfxrFrWb)

[2019-07-02 09:30] jpkrohling commented on #487
Do we really want to fail because we can't add the full instance name to a label? Can't we just truncate it? I think we are not using this label for anything "serious".

[2019-07-02 09:31] bertpersyn commented on #487
Truncation is a valid option I think

[2019-07-02 09:37] jpkrohling commented on #487
Sounds like a "good-first-issue" ;-)

[2019-07-02 11:21] #285 closed

[2019-07-02 14:21] reegnz opened #493 "v1.13.0 docker image missing, installation in README fails"
Only v1.13 image tag exists, v1.13.0 is missing from docker hub.

[2019-07-02 14:32] #493 closed

[2019-07-03 05:09] kimxogus opened #494 "Error applying changes in `ttlSecondsAfterFinished` with 1.13"
After upgrading jaeger operator `1.13`, error below occurred
[code]

It seems `ttlSecondsAfterFinished` should not be set by default, otherwise `TTLAfterFinished` feature gate must be enabled in cluster.

[2019-07-03 06:59] jungopro commented on #80
Hi @jpkrohling, I'm trying to implement `kind: jaeger` with the serviceAccount spec and having issues.

My scenario:

- `jaeger-operator` is deployed in `jaeger` namespace with `WATCH_NAMESPACE=""`
- jaeger instance (`kind: jaeger`) deployed in a different namespace (`application`) as part of an application we develop.

The operator notify that it can't create a service account since it already ex

[2019-07-03 09:55] jpkrohling commented on #494
Do you think this deserves a patch release?

[2019-07-03 09:55] jpkrohling commented on #494
@kimxogus which Kubernetes version are you using?

[2019-07-03 10:25] headcr4sh commented on #494
@kimxogus
I am using the managed Kubernetes offering of AWS (EKS) and run into the same errors.

Neither EKS v1.12, nor EKS v1.13 have the needed feature gate active and there is no way for end-users to flip the switch, as it is a managed service offering.

Besides, `ttlSecondsAfterFinished` seems to be an alpha feature and I would not assume that many Kubernetes clusters out in the wild have set

[2019-07-03 10:30] jpkrohling commented on #494
Thanks for confirming, @headcr4sh. Would any of you be able to provide a patch? We are currently working on another issue at the moment, and we might need to do a patch release once that issue is fixed. If we have a PR for this one here, we'll include it in the patch release.

[2019-07-03 10:34] vishnuhd commented on #494
I am also facing the similar issue :

Operator version - 1.13.0
K8s version - v1.12.8 (Using KOPS on AWS)

Operator Logs :
[code]

Spec :
[code]

This is working fine with `storage.type` as `memory` though.

[2019-07-03 10:38] headcr4sh commented on #494
@jpkrohling
I am unfortunately not very involved in the Jaeger / jaeger-operator development at present and won't be able to work on a patch for the next few days.

As far as I can tell, the following patch brought in the changes that cause trouble:
https://github.com/jaegertracing/jaeger-operator/pull/407

A viable solution might be to set `ttlSecondsAfterFinished` only if the feature gate is act

[2019-07-03 10:45] headcr4sh commented on #494
Possible solution (untested, because I am not [yet] able to compile/run the jaeger-operator myself:

Replace all occurences of
[code]
with
[code]

[2019-07-03 11:04] jungopro commented on #77
guys, this is great and worked for me as well, thank you!
on a related topic, is there a way to modify the corresponding ingress object that gets created to include `path: <base-path>` as well?
We would like to expose it via ingress route /jaeger and currently we implemented the ingress object ourselves and set ingress to false inside the jaeger object

[code]

[2019-07-03 12:13] jpkrohling commented on #494
A similar change would be made anyway as part of #466, so, I'd be OK with a change like that.

https://github.com/jpkrohling/jaeger-operator/blob/11affad2d62b442575b50e15e760beb0a09c4a9c/pkg/apis/jaegertracing/v1/jaeger_types.go#L329-L330

I just pushed a Docker image with this fix and I'd appreciate if one of you could confirm that it works:

`jpkroehling/jaeger-operator:494-TTLSecondsAfterFinish

[2019-07-03 12:31] jpkrohling commented on #494
For the record, this works with `minikube` 1.1.0, which uses Kubernetes `v1.14.2`, which is probably why the e2e tests for ES and Cassandra are passing.

[2019-07-03 12:58] jpkrohling commented on #77
@jungopro, setting the base path should have an effect in the ingress path as well:

https://github.com/jaegertracing/jaeger-operator/blob/01bb012c81244a273cc7b391084aac4be0e4ac6a/pkg/ingress/query_test.go#L47-L64

Are you seeing something different?

[2019-07-03 13:09] headcr4sh commented on #494
Unfortunately, I can confirm that the Docker image you provided does still lead to the exact same errors:

[code]

Too bad,... :-(

[2019-07-03 13:16] jpkrohling commented on #494
Are you using the same Jaeger instance that you had before? `omitempty` won't remove the field if it has been specified already, so, you'd have to test on a new Jaeger instance.

[2019-07-03 13:27] jungopro commented on #77
thanks @jpkrohling. I'm using the _prod_ strategy, not the **allInOne**, but I do see the change reflected. I didn't notice that before, that is helpful

But, nothing is easy :-).
I'm getting 404 not found from the ingress-controller.
Is it possible that the controller didn't pickup the ingress rule?
Normally I would add annotations to the ingress rule for that to work:
[code]

I tried editing the

[2019-07-03 13:53] vishnuhd opened #496 "failed to create primary Elasticsearch client with health check timeout - no Elasticsearch node available"
Hi,

I am trying to setup Elasticsearch storage with Jaeger operator, but it keeps failing for the initial healthcheck.

Jaeger operator version - v1.12.1
K8s version - v1.12.8
Elasticsearch operator version - v0.8.1
Elasticsearch version - v7.2.0

The operators have been deployed and running. When the Jaeger instance is deployed with es backend, the collector / query pods fails with :
[code]
[cod

[2019-07-03 13:58] jpkrohling commented on #77
Could you open a new issue, ideally reproducible with minikube? I can take a look once we clear some other issues.

[2019-07-03 13:58] jungopro commented on #77
will do. thanks.

[2019-07-03 14:16] headcr4sh commented on #494
I tried both a new and an existing Jaeger CR manifest. Both lead to the same error, I am afraid.

[2019-07-03 14:20] jpkrohling commented on #494
Alright, I'll try to get hold of an AWS account to reproduce the problem and come up with a patch.

[2019-07-03 14:25] headcr4sh commented on #494
I am pretty sure, that minikube with the correct feature gates could also be used to reproduce the situation:

Just adding `--feature-gates=TTLAfterFinished=false` should work, if I am not completely wrong.

[2019-07-03 15:48] vishnuhd commented on #496
[Update]

The issue is with the SSL connection needed to make connection with Elasticsearch. However, there are no docs around both the operators that can help with the same.

[2019-07-03 17:18] jkandasa opened #497 "jaeger-operator fails to deploy jaeger services - redunancyPolicy issue"
Error:
[code]

jaeger Operator log: [jaeger-operator-b4bcfb56d-z5k2v-jaeger-operator.log](https://github.com/jaegertracing/jaeger-operator/files/3356122/jaeger-operator-b4bcfb56d-z5k2v-jaeger-operator.log)

Versions:
------------
* OCP Cluster version: stable-4.1 (4.1.3)
* Kubernetes Master Version: v1.13.4+abe1830
* elasticsearch-operator.v4.1.2

jaeger CR file: https://github.com/jaegertracing/j

[2019-07-04 04:04] vishnuhd commented on #496
Figured it out, it would be something like this :
[code]

[2019-07-04 04:04] #496 closed

[2019-07-04 05:08] jungopro opened #498 "Spark"

[2019-07-04 05:08] #498 closed

[2019-07-04 05:15] christianhuening commented on #60
i've set the WATCH_NAMESPACE env var to `""` :
[code]

However it still is not injecting the sidecar in another namespace.

[2019-07-04 06:01] jungopro opened #499 "Spark Dependencies & ES-Index-cleaner ImagePullBackoff"
Hi

Both pods are in ImagePullBackOff

Reason: trying to pull the images from a private repo with no success. The error is: `pod is waiting to start: trying and failing to pull images`
The standard Jaeger components (query, controller) are using a pre-defined service account with an attached imagePullSecret, but I think the es components don't pick up the same account.
I tried various ways to "pus

[2019-07-04 12:49] jkandasa commented on #497
When we add `redundancyPolicy: ZeroRedundancy` ES cluster comes up.
Available Options: [FullRedundancy MultipleRedundancy SingleRedundancy ZeroRedundancy]

[code]

[2019-07-04 13:03] tarvip opened #500 "Add annotation: linkerd.io/inject: disabled"
Hi

at the moment sidecar injection is disabled in cronjobs for istio, would be cool to support linkerd2 as well.

[2019-07-04 13:19] objectiser commented on #500
Feel free to submit a PR :)

[2019-07-04 13:22] objectiser opened #502 "Provide smart approach to determine redundancy policy with self provisioned ES"
As discussed in #501, it would be good to provide a smart way to determine a default redundancy policy. Currently will default to ZeroRedundancy.

[2019-07-04 13:58] #497 closed

[2019-07-04 14:06] jpkrohling commented on #494
Looks like the `omitempty` didn't work because we set an explicit default to the value. For now, it's probably wiser to remove the feature, but keep the property in the CRD, as the CRD with the field is already part of 1.13.

I just pushed a new image making the property noop. Once one of you confirm that this fixes the problem, I'll send a PR and get it reviewed/merged.

Image: `jpkroehling/jaege

[2019-07-04 14:38] #494 closed

[2019-07-04 17:10] secat commented on #496
@vishnuhd

It looks like you are using the elastic cloud on kubernetes operator.

Have you been able to generate the secret `es-tls`?

[2019-07-04 17:51] secat commented on #496
I did not figure out what to take to generate the `es-tls` files. I have this error:
[code]

[2019-07-04 18:20] secat commented on #496
@vishnuhd I am currently using:
- Elasticsearch Operator (eck) version: v0.8.0
- ElasticSearch version: v6.8.0

[2019-07-04 18:37] secat commented on #496
The elasticsearch operator generates the following secrets:
[code]

I am using the content of the `quickstart-es-7sc6vtf2xx-certs` secret (i.e. `ca.pem`, and `cert.pem`) to generate respectively the `tls.ca` and `tls.crt`. And I am using the `quickstart-ca-private-key` secret (i.e. private.key) to generate the `tls.key`.

However it is not working right now:
[code]

More specifically `"failed to c

[2019-07-04 20:04] vishnuhd commented on #496
Hi, @secat I was too not able to configure the `tls` secret, it kept failing with `bad certificate` errors. I have had my plate full these days so couldn't look into it much deeper, so disabled the TLS of `elasticsearch` for time being.
There are few suggestions I got from gitter :
* Here's my complete CR for that: https://paste.fedoraproject.org/paste/7BGFXtusPp69idl0A1zkXw
* You'll need the appr

[2019-07-05 07:14] jpkrohling commented on #496
When I said that, it wasn't clear that es-operator was involved. In that case, it should be generating the certs for you. If you are using OpenShift and have the es-operator running, the Jaeger Operator can take care of provisioning the ES cluster for you.

[2019-07-05 07:24] jpkrohling commented on #499
We currently do not have support for custom image pull secret, even though we talked about that (#80), and even got a PR lined up (#404). I think your use case is valid and we might indeed need support for that. @objectiser might add this to our queue, but it probably won't be done in the next couple of weeks. If you can send a PR (#404 can serve as a starting point), we can probably merge it very

[2019-07-05 07:25] jpkrohling commented on #80
@jungopro, is your previous comment in the same context as #499? Would adding support for overriding the image pull secret be sufficient to cover this case?

[2019-07-05 07:41] jpkrohling opened #505 "Verify that the operator can inject sidecars from instances in other namespaces"
See https://github.com/jaegertracing/jaeger-operator/issues/60#issuecomment-508341067 for context.

[2019-07-05 07:41] jpkrohling commented on #505
cc @christianhuening

[2019-07-05 09:40] objectiser commented on #505
I deployed the jaeger-operator based on an image of the latest master - the operator in "observability" namespace, the `deploy/example/simplest.yaml` CR in a `monitoring` namespace and finally an example in the `example` namespace - the deployment including the `sidecar.jaegertracing.io/inject: "true"` annotation.

[2019-07-05 09:41] christianhuening commented on #505
@objectiser oh cool! How did you deploy the jaeger-operator? Did you use the helm chart?
If not, what did you set the WATCH_NAMESPACE variable to?

[2019-07-05 09:54] objectiser commented on #505
@christianhuening I used the instructions in this section of the readme: https://github.com/jaegertracing/jaeger-operator#kubernetes, but updated the `operator.yaml` to use an image built from the current master. So it is using WATCH_NAMESPACE="".

I'll be doing a patch release shortly, so should be available soon.

[2019-07-05 10:50] secat commented on #496
The certs where auto-generated by the ElasticSearch Operator ([Elastic Cloud on Kubernetes (ECK)](https://github.com/elastic/cloud-on-k8s) version).

However, I will try to connect everything without using TLS.

[2019-07-05 12:16] secat commented on #496
I just realized the TLS can't be disabled on the ElasticSearch Operator...

[2019-07-05 12:22] vishnuhd commented on #496
Yes, I had to install ElasticSearch manually via kube manifests.

[2019-07-05 12:43] christianhuening commented on #505
@objectiser you release 1.13.1, but I cannot find/get an image with that tag. Is that pending in CI?

[2019-07-05 12:47] secat commented on #496
@jpkrohling I am not using OpenShift, I am using kubernetes over GKE

[2019-07-05 13:02] christianhuening commented on #505
Ok thanks, it's there now.
Now finally the RBAC settings in the helm chart only use Roles and RoleBinding, instead of a ClusterRole and ClusterRole binding. Will open a PR then.

[2019-07-05 13:03] jpkrohling commented on #505
I had to push it manually, as we had the same problem as with the latest releases (only one tag gets pushed).

[2019-07-05 13:44] #500 closed

[2019-07-05 15:22] christianhuening commented on #505
so it indeed is working, but for the helm chart version the RBAC files require updates to use ClusterRole and ClusterRoleBinding instead of namespace local versions. I tested that in then it is working. The kubernetes deployment files from the main jaeger repo are working out of the box across namespaces. I think we can close this issue.

[2019-07-05 15:23] jpkrohling commented on #505
Thanks for verifying, @christianhuening

[2019-07-05 15:23] #505 closed

[2019-07-05 15:26] secat commented on #496
@jpkrohling I tried the option `tls.skip-host-verify: "true"` and the collector is still verifying the certificates...
[code]

Is it possible to skip tls verification?

Here is the jaeger crd:
[code]

Here part of the generated collector deployment by the Jaeger Operator:
[code]

[2019-07-05 20:04] secat commented on #496
I was able to update ElasticSearch with SAN:
[code]

However, its is still not working.

### Error: x509: certificate signed by unknown authority

With this ` jaerger` cr:
[code]

I have these error logs in the collector:
[code]

Here is the generated collector deployment:
[code]

[2019-07-06 18:15] jungopro commented on #80
@jpkrohling yes, it will
either using custom serviceaccount for the es part of the yaml of a custom image pull secret will do
much appreciated

[2019-07-08 08:18] jpkrohling commented on #80
Most of the Jaeger parts already have support for a custom service account, but we do not control the ES part, as it's defined by the [ES operator's CRD](https://github.com/openshift/elasticsearch-operator/blob/master/pkg/apis/logging/v1/elasticsearch_types.go#L10).

I'll let @pavolloffay comment on that, as he might know if there's a workaround. It might take a few days, as he's off this week.

[2019-07-08 09:10] vishnuhd commented on #496
@secat were you able to resolve it ?

[2019-07-08 10:36] secat commented on #496
@vishnuhd I followed the instructions here to add alternatives SAN: https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-accessing-elastic-services.html#k8s-request-elasticsearch-endpoint

However, still not working as of this morning. It seems the client TLS is not enabled event with `--es.tls=true`...

[2019-07-08 14:27] secat commented on #496
I finally figured out how it works! I have installed delve inside the jaeger-collector and I did a remote debugging session in order to understand what should be the right configurations.

Here is my `jaeger` custom resource:
[code]

I am using the ElasticSearch Operator from elastic in the master branch (probably the future version v0.9.0). The ElasticSearch Operator generates the secret resource

[2019-07-08 15:11] vishnuhd commented on #496
@secat Thanks, I will give it a try and get back to you here.

[2019-07-08 15:40] secat commented on #496
@vishnuhd Here is a more simplified deployment manifests:

ElasticSearch:
[code]
Kibana:
[code]

Jaeger:
[code]

Example of `quickstart-es` secret manifest generated manually:
[code]

[2019-07-08 17:24] objectiser opened #510 "UUID value cannot use underscore"
Need to make sure the generated name is a valid DNS name.

[code]

This error occurred when deploying es-operator 4.1 in CRC (4.1.3).

[2019-07-08 18:14] vishnuhd commented on #496
@secat Great ! Thanks. It's more than enough.

[2019-07-09 08:42] objectiser opened #513 "Automatic smoke testing of examples"
As discussed in https://github.com/jaegertracing/jaeger-operator/pull/511#issuecomment-509547349, it would be good if the examples could be automatically tested - deploy the CR, run smoke test to send/query spans.

[2019-07-09 08:52] jpkrohling opened #514 "Verify that the Operator can see new CRs in new namespaces"
When trying something related to #102, I noticed that I had to restart the operator that was started with `make run` when I deployed a CR into a namespace that has been created *after* the operator started. Otherwise, the CR itself would be created, but the operator doesn't react on that change.

Reproducible with:

[code]

At this point, I would expect a Jaeger deployment to exist under the `myna

[2019-07-09 09:29] #510 closed

[2019-07-09 13:57] kevinearls commented on #513
@objectiser There is already an issue open for this, it's #144

[2019-07-09 14:19] objectiser commented on #513
@kevinearls Ok thanks

[2019-07-09 14:19] #513 closed

[2019-07-10 10:51] vishnuhd commented on #496
@secat, the Elastic Operator version - 0.8.1 doesn't deploy the named cert for me. It deploys :

[code]
The `quickstart-es-2f5spqgbvh-certs` have :
[code]
Is it some feature of `master` branch ?

[2019-07-10 11:43] secat commented on #496
I was using the master branch (future v0.9.0) version. The `quickstart-ca` secret should work if the entire chain certificate is present. You should also check the SAN provided.

[2019-07-10 18:07] vishnuhd commented on #496
@secat, I am having hard time setting up the TLS for Jaeger with ES backend.
What I did :
1. The Jaeger operator is deployed from master.
2. Deploy the Elastic search operator from https://github.com/elastic/cloud-on-k8s (v0.8.1).
3. Deployed the ES cluster :
[code]
4. Deployed Jaeger cluster :
[code]
The `quickstart-ca` is being deployed by ES operator having the `ca.pem`.
5. The user and passwor

[2019-07-10 20:48] youngnicks opened #518 "ES AutoProvisioner Should Work With Elastic Operator"
The Elasticsearch auto provisioner should work with [Elastic's Operator](https://github.com/elastic/cloud-on-k8s). Currently the Jaeger Operator is setting the `es-provision` flag to false even though the Elastic Operator is installed.

The check to see if the operator is available is looking for `apiGroups[i].Name == "logging.openshift.io"`.

To be more flexible, I believe it should be looking fo

[2019-07-11 07:27] jpkrohling commented on #518
That's a great idea. I don't think it's that easy, as the CRs are probably not that compatible, but we would certainly welcome a PR to add support to it.

Here's how the CR for ECL's OpenShift looks like: https://github.com/jaegertracing/jaeger-operator/blob/1dfbda696644aaed751bf7de64791cb4d727eda2/pkg/storage/elasticsearch.go#L133-L158

Before implementing this, I'd suggest sharing your plan here

[2019-07-11 11:33] secat commented on #496
@vishnuhd

Can you output the content of the certificate?

By example, the content of the `tls.crt` from the `quickstart-es-http-certs-public` secret is:
[code]

[2019-07-11 12:03] vishnuhd commented on #496
@secat Its like :

[code]

[2019-07-11 13:19] jpkrohling opened #519 "Allow override of the ui-proxy service account"
The Service Account for the query component when using the OAuth Proxy is set to "%s-ui-proxy", which is created and managed by the Operator. However, the CRD allows a service account to be set to the query component. When this is set, we should use this value instead of creating and managing a "%s-ui-proxy" service account.

[2019-07-11 14:41] youngnicks commented on #518
According to the [Elastic Documentation](https://www.elastic.co/guide/en/cloud-on-k8s/current/k8s-quickstart.html#k8s-persistent-storage), here is what is needed to create a persisted Elasticsearch cluster with the Elastic Operator. The `volumeClaimTemplates` section is optional.

[code]

When I get some spare time, I'll try and think of a pluggable solution. If someone else gets to this before me

[2019-07-11 14:54] #519 closed

[2019-07-11 15:47] secat commented on #496
There is no `X509v3 Subject Alternative Name` section in the certificate...

[2019-07-12 06:04] vishnuhd commented on #496
How do I include it in, this is something provided by the ES operator.

[2019-07-12 07:28] samcrutt9900 opened #521 "Jaeger Operator generating secrets on a regular basis"
I have deployed jaeger operator version 1.13.1 onto Openshift version 3.11

The operator appears to be generating secrets for msa-jaeger-ui-proxy-token, msa-jaeger-ui-proxy-dockercfg and msa-jaeger-token on a regular basis and therefore the amount of secrets in the namespace is constantly growing.

I see there was a related issue https://github.com/jaegertracing/jaeger-operator/issues/286 that has

[2019-07-12 07:33] objectiser commented on #521
How often are the secrets being created?

[2019-07-12 07:40] samcrutt9900 commented on #521
They are being created quite frequently. In the last 20 hours for example I have had 193 msa-jaeger-ui-proxy-token secrets created.

[2019-07-12 11:42] jpkrohling commented on #521
@samcrutt9900 would you be able to set `--log-level=debug` and share the (anonymized) logs? I'll try to reproduce this, but a log would certainly make it easier to spot the problem.

[2019-07-12 12:29] samcrutt9900 commented on #521
Attached is the log. I believe you can see a new secret being created here:
time="2019-07-12T12:20:06Z" level=debug msg="updating service account"

[jaeger_operator.log](https://github.com/jaegertracing/jaeger-operator/files/3386410/jaeger_operator.log)

[2019-07-12 12:38] secat commented on #496
You should try to add SAN in the `elasticsearch` custom resource (see https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-accessing-elastic-services.html#k8s-static-ip-custom-domain)

[2019-07-12 14:52] jpkrohling commented on #521
Interesting. I assume you did not update your Jaeger CR, and yet, there are changes to some objects:

[code]

There might be a bug in the logic that compares the expected vs. existing objects. I'm looking into this now.

[2019-07-12 14:56] samcrutt9900 commented on #521
No I did not update the Jaeger CR

[2019-07-12 15:36] samcrutt9900 commented on #521
@jpkrohling One thing to add, in case it has any bearing on the situation, I have created my own kubernetes secret in the observability (jaeger) namespace. This secret is a standard secret that has none of the jager-operator annotations so should not be managed by it.

[2019-07-12 15:58] get2arun opened #522 "jaeger-operator setup in Kubernetes - Instance not created"
Hi Team,
I have to run the jaeger-operator in Kubernetes environment. I followed the steps in url "https://github.com/jaegertracing/jaeger-operator#creating-a-new-jaeger-instance" but it is not showing any resources.

Here are the commands and output for the commands executed.
root@arun-desktop-e470:/opt/minikube# kubectl create namespace observability
namespace/observability created

root@arun-de

[2019-07-12 16:04] jpkrohling commented on #521
I think I need more info to reproduce this. Would you be able to come up with a minimal CR that triggers the problem? Do you have access to an OpenShift 4.x cluster?

I tried on both OpenShift 4.x with CRC (CodeReady Containers), and OpenShift 3.11 with minishift, and I couldn't really reproduce this. I tried deploying the [`simplest` CR](https://github.com/jaegertracing/jaeger-operator/blob/maste

[2019-07-12 16:19] samcrutt9900 commented on #521
I will try out the simplest CR on our platform and see if I get the same issue.
If I do not see the issue I guess it could be specific to cr I've created for our deployment, which is based off of a production strategy.
I will report back.

[2019-07-12 16:31] BailyTroyer commented on #522
@get2arun I am also getting the same issue, following the same steps! Applying the simplest.yaml example results in no resources being created.

[2019-07-12 16:36] get2arun commented on #522
The below command show the value as zero for column "AVAILABLE".
root@arun-desktop-e470:/opt/minikube# kubectl get deployment jaeger-operator -n observability
NAME              READY   UP-TO-DATE   AVAILABLE   AGE
jaeger-operator   0/1        1                      0                   150m
This could be the issue.
@Baily Troyer - Are you seeing the same output.

[2019-07-12 16:43] BailyTroyer commented on #522
@get2arun Hm, the operator seems to be fine:
[code]

However the result of applying `simplest.yaml` results in no resources being created:
[code]

Also, just so it's easier for others to view your comments, can you encapsulate your output in back-ticks please?

[2019-07-12 17:03] BailyTroyer commented on #522
@get2arun It seems the startup of the resource was slower that I expected. I'm getting the resource now.
[code]

[2019-07-12 17:09] get2arun commented on #522
@BailyTroyer - Great it worked for you. is it possible to share the commands to setup Jaeger using Helm, meanwhile i will try to follow the url https://github.com/helm/charts/tree/master/stable/jaeger-operator . It will help me verify the steps that you followed.

[2019-07-12 17:42] samcrutt9900 commented on #521
I tried deploying the same simple CR as you @jpkrohling but get the same result as before.
When the instance was first created I had 6 tokens created rather than 4 like you had. After 15 minutes ish new ones were created:
[code]

[2019-07-12 18:30] BailyTroyer commented on #522
All I did was create a namespace, switch my context to that namespace and run the helm install command specified in the chart's README. After that I kubectl applied the same `simplest.yaml` file to get it running.

--Hope that helps!

[2019-07-12 18:35] get2arun commented on #522
Yeah, it helps me. Thanks.

[2019-07-13 16:56] samcrutt9900 commented on #521
@jkandasa  After some more investigation I believe I am seeing the same behaviour as you, whereby extra service account secrets are created for a change to the CR. The difference is the Jaeger CR reconciliation on my deployment seems to be being triggered on a regular basis by this:
[code]
So I guess I need to understand why I get so many watch too old messages and understand if the change #517 wi

[2019-07-15 05:13] jkandasa commented on #521
@jpkrohling I guess, the previous comment is for you.

[2019-07-15 08:13] jpkrohling commented on #521
@samcrutt9900 I'll give some more attention to this issue today, but while I try to figure out why you are getting so many reconciliation loops, would you be willing to test a temporary image with master+ #517?

[2019-07-15 08:22] samcrutt9900 commented on #521
@jpkrohling Yes I can test a temp image with #517. What is the best way to build this image?

[2019-07-15 08:42] jpkrohling commented on #521
Awesome. I just fixed the merge conflicts from #517 and published an image for you: [jpkroehling/jaeger-operator:466-ValidateCR](https://cloud.docker.com/repository/docker/jpkroehling/jaeger-operator/tags)

[2019-07-15 09:11] samcrutt9900 commented on #521
@jpkrohling I am running the image provided above but see some issues around the cluster role that the operator SA uses in the log.
[code]
And then I repeatedly see this
[code]

Is there a change to the cluster role as part of this change that  I need to apply ?

[2019-07-15 09:11] jpkrohling commented on #522
I'm closing this, as it seems there's no actual issue being reported.

People from the future: if you face an issue similar to this, try the following before reopening this issue:

1. Go grab a coffee. The very first instance takes a while to be created, as all the images have to be pulled from the remote image repository. The images themselves are quite small, and you might need only one image (a

[2019-07-15 09:11] #522 closed

[2019-07-15 09:14] jpkrohling commented on #521
Sorry, yes, there's a [new rule](https://github.com/jaegertracing/jaeger-operator/blob/c2d6e8b55af821e9a259e0f32ab0306238b9ee32/deploy/role.yaml#L74-L79) to the `roles.yaml` file. Just apply the `deploy/role.yaml` again (`kubectl apply -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/role.yaml`) and the second message should disappear.

The first message is OK, it's

[2019-07-15 09:24] jpkrohling opened #525 "New "auto-detect" feature keeps logging "platform" and "es-provision" messages"
The auto-detect feature has been changed lately to detect changes every X seconds, but the `platform` and `es-provision` messages are now too verbose, as they are shown even when no changes happened.

[code]

We need to:

1. Better detect when options were explicitly set vs. auto-detected
2. Log only the first time + whenever the value changes

That said, this isn't a big issue, as this message is

[2019-07-15 09:50] samcrutt9900 commented on #521
Unfortunately I am still seeing the generation of secrets when a change to the CR happens.
So the CR again was triggered by a watch too old:
[code]
Which resulted in this being logged by the operator:
[code]
And the creation of these additional secrets
[code]

[2019-07-15 10:06] jpkrohling commented on #521
Depending on the change, this should indeed happen. I just found the root cause for this behavior: OpenShift is injecting the token into the ServiceAccount object, and the operator will detect that as something that needs to be "reconciled". In this case, the operator is removing the service account token from the service account, which is causing OpenShift to create a new one and update the SA ag

[2019-07-15 12:19] samcrutt9900 commented on #521
@jpkrohling I tested with image built from the above pull request and confirm that I no longer see secrets getting created each time a change to the jaeger CR is picked up.
Thanks very much for all your help on this.

[2019-07-15 12:41] jpkrohling commented on #521
Thanks for the confirmation, for the bug report and for the patience :)

[2019-07-15 12:42] #521 closed

[2019-07-15 13:18] jpkrohling commented on #514
@jkandasa would you be able to test this one?

[2019-07-15 16:15] get2arun opened #528 "Running Jaeger-operator in kubernetes - URL not working - help required"
Hi Team,
I have followed the jager-operator tutorial for Kubernetes to run jaeger in my local Ubuntu laptop. All the commands are executed without any errors. However, I could not access the URL and it is not reachable.

Do I need any configuration or setup to bring the Jaeger-Operator URL running.
Do I need to run Ingress or nginx to make the URL available external.
I am new to Kubernetes, all I

[2019-07-16 07:16] jpkrohling commented on #528
As per your `kubectl get ingress`, your Jaeger instance's UI should be available at http://10.0.2.15. For development purposes, you might also want to check out `kubectl port-forward`:

[code]

[2019-07-16 08:47] jpkrohling commented on #514
Not a bug, it does work:

[code]

[2019-07-16 08:47] #514 closed

[2019-07-16 10:43] jpkrohling commented on #70
@killcity, @mathspanda, I believe this is supported for some time already. I'm closing this, but please check it out and reopen if there's still something missing.

[2019-07-16 10:43] #70 closed

[2019-07-16 10:45] jpkrohling commented on #80
We just merged a change that allows a ServiceAccount to have its ImagePullSecrets customized after it's been created by the Jaeger Operator. I believe this would cover all the cases listed in this PR, except for the Elasticsearch one (by @jungopro) as it's outside of this operator's scope.

I'm closing this, but we'll reopen if we think that we need a more appropriate support for defining image pu

[2019-07-16 10:46] #80 closed

[2019-07-16 10:47] jpkrohling commented on #102
Done via #508

[2019-07-16 10:52] jpkrohling commented on #160
I'm closing this, as we have a "resources" node in the injected container now. @sgmiller, please check it out and reopen this issue if you think there's still something to do here.

[2019-07-16 10:52] #160 closed

[2019-07-16 10:53] jpkrohling commented on #164
I'm closing this, as it seems it's not relevant anymore.

[2019-07-16 10:53] #164 closed

[2019-07-16 10:54] jungopro commented on #499
Hi @jpkrohling
Thanks for all the hard work, really appreciate it.
Honestly, I was trying to follow the changes and PRs and I'm unclear as to what was implemented and if there is a new flow one should follow to implement it

Can you provide a simple example maybe?

Thank you
Omer

[2019-07-16 10:56] jpkrohling commented on #166
I'm closing, as we've decided that the Operator will manage the underlying Jaeger version, based on its version (Operator v1.13 == Jaeger v.1.13). When the operator is updated to, say, 1.14, it will take care to bring all managed instances to the same version.

[2019-07-16 10:56] #166 closed

[2019-07-16 11:01] jpkrohling commented on #499
Sure: you can either set the "serviceAccount" node to the top-level:

[code]

Or specific to a component, such as the Agent:

[code]

Or, you can omit the `serviceAccount` properties and let the Operator create/manage them for you. Once the accounts are created, you can then `kubectl edit serviceaccount customsa` and add your custom `ImagePullSecrets` to it. The operator should not override this p

[2019-07-16 11:49] jkandasa commented on #514
@jpkrohling Sorry, somehow I missed this issue.

[2019-07-16 11:54] jpkrohling commented on #222
I think this one was done, within the reasonable. There are indeed things that are OpenShift-specific, but how to start the operator is now the same independent of the platform.

[2019-07-16 11:54] #222 closed

[2019-07-16 12:03] jpkrohling commented on #280
This is still happening, and the following is how the logs look like currently:

[code]

[2019-07-16 12:08] jpkrohling commented on #282
By the way, looks like it's not that hard to generate from Go. I was looking at it during #473 and generating a cert is actually quite easy with go. Basically, [rsa.GenerateKey()](https://golang.org/pkg/crypto/rsa/#GenerateKey) for the private key, and [x509.CreateCertificateRequest()](https://golang.org/pkg/crypto/x509/#CreateCertificateRequest) / [x509.CreateCertificate()](https://golang.org/pkg

[2019-07-16 12:12] jpkrohling commented on #397
Is this still happening?

[2019-07-16 12:13] jpkrohling commented on #398
Was this fixed already?

[2019-07-16 12:16] jpkrohling commented on #420
I'm not sure it makes sense to expose the agent outside of the cluster, but I can certainly see the case for the collector. I wouldn't do that before we have clear instructions on how to protect the collector, though.

[2019-07-16 12:17] jpkrohling commented on #432
My understanding is that we settled with the one to one use case: one version of the Jaeger Operator corresponds to one version of the underlying Jaeger. When the Operator is updated, it brings all the managed Jaeger instances to its supported version.

[2019-07-16 12:17] #432 closed

[2019-07-16 12:19] jpkrohling commented on #447
@jkandasa, @kevinearls: would one of you be able to re-test this on OpenShift 4.x ?

[2019-07-16 12:22] #447 closed

[2019-07-16 12:48] jpkrohling commented on #461
Spot on, @LiliC! Would you be open to review the PR that reinstates the metrics service?

[2019-07-16 12:52] jpkrohling commented on #467
I changed the scope of this issue a bit, but the idea is the same: users creating a CR should be able to see the error messages that happened during the process. Storing the error in a status object allows it to be viewed via `kubectl describe jaeger`

[2019-07-16 13:04] jpkrohling commented on #470
At least for the newest operator SDK versions, we should be able to generate the CSV files via `operator-sdk olm-catalog gen-csv`. We just need to get the right `deploy/olm-catalog/csv-config.yaml` :-)

[2019-07-16 13:06] jpkrohling commented on #471
@kevinearls, @jkandasa: would one of you be able to test the use case mentioned by @dushyant03? It should be possible to use an external ES, with username and password coming from secrets.

[2019-07-16 13:11] jpkrohling commented on #474
@Demonian, do you mean, here?

https://github.com/jaegertracing/jaeger-operator/blob/ce0ab28c64b8582f6db615e37ad10a668aa6aad2/pkg/storage/cassandra_dependencies.go#L84-L108

[2019-07-16 13:12] jpkrohling commented on #479
I'm closing this, as we decided to go with only one route.

[2019-07-16 13:12] #479 closed

[2019-07-16 13:12] jpkrohling commented on #481
Is this still happening?

[2019-07-16 13:14] jpkrohling commented on #499
I'm closing this, as it seems it's not a problem anymore, given the above.

[2019-07-16 13:14] #499 closed

[2019-07-16 13:15] jpkrohling commented on #489
@cfontes, are you still interested in working on this one?

[2019-07-16 13:16] jpkrohling commented on #489
Sorry, the PR is there: #491!

[2019-07-16 13:21] jungopro commented on #499
Again, thank you for all the hard work

[2019-07-16 14:14] sgmiller commented on #160
Nope, that should do it.

On Tue, Jul 16, 2019 at 5:52 AM Juraci Paixão Kröhling <
notifications@github.com> wrote:

[2019-07-16 15:44] kevinearls commented on #471
@jpkrohling  Not in the short term, I have a few too many other things queued up.  @jkandasa do you have time?

[2019-07-16 15:48] kevinearls commented on #398
@jpkrohling I haven't seen this in a long time, so I'm going to close it.

[2019-07-16 15:48] #398 closed

[2019-07-16 15:50] kevinearls commented on #397
@jpkrohling I've updated tests so it no longer occurs there, but I think it is still possible if the es index cleaner job starts before any indices have been created.

[2019-07-16 16:14] atmosx commented on #420
Hello! There is a number of different ways to protect the collector on a private network:

- network L3/4 (firewalls, AWS security groups, etc)
- SSL certificates network L5

I don’t think that security in scope though.

What is the worst thing a rogue agent can do? DoS the collector and/or pollute the logs?

[2019-07-16 16:26] jpkrohling commented on #420
In general, whatever is exposed to the public internet should be secured. When the collector is exposed, your interface isn't only with agents, but also with malicious clients.

The collector has write permissions to the storage, as well as access to the internal cluster network. An unsecured collector could be used as an attack vector, especially in combination with other (unknown) vulnerabilitie

[2019-07-16 16:32] pavolloffay commented on #502
See https://github.com/jaegertracing/jaeger-operator/pull/501#discussion_r304001869.

The redundancy policy cannot be determined just from the node count. The node count and redundancy policy are used to calculate replica shards.

I have submitted https://github.com/jaegertracing/jaeger-operator/pull/531 to use single redundancy by default. I don't know any way we could optimize the current approa

[2019-07-16 16:42] pavolloffay opened #532 "Use zero redundancy or zero replica shards for single node ES cluster"
Follows https://github.com/jaegertracing/jaeger-operator/pull/531#discussion_r304010332

[2019-07-16 19:33] mwieczorek opened #533 "Update of spec.ui has no effect on jaegerUI"
I have a running Jaeger defined with some `spec.ui.options` (f.e. `linkPatterns`).
If I update it (f.e. add another element to `linkPatterns` array) it has no effect on the UI (I expect a new link will be present but it's not).
I understand it's because jaeger-query has to be restarted to get new config.

I think the restart should be enforced.

[2019-07-17 00:37] get2arun commented on #528
@jpkrohling - Thanks for information. It worked now.

[2019-07-17 08:08] #528 closed

[2019-07-17 08:21] jpkrohling commented on #397
I'm closing this, please reopen if there's still we need to do related to this in the future.

[2019-07-17 08:21] #397 closed

[2019-07-17 08:24] jpkrohling commented on #533
I think we are using a config map to store the UI options, and pods should be restarted once a config map it uses has changed.

I'm marking this as a bug, but I don't think I can look into it in the next couple of weeks. If anyone wants to take a shot on this one, go for it!

[2019-07-17 08:29] kevinearls commented on #481
@jpkrohling  Yes, I can still reproduce this.

[2019-07-17 08:32] objectiser commented on #502
Agree, thanks.

[2019-07-17 08:32] #502 closed

[2019-07-17 08:35] objectiser commented on #481
@kevinearls Just to clarify - is this using 4.1.x of the elasticsearch operator? The error seems related to the node label @jkandasa identified as being required by the es-operator master, but shouldn't be required for 4.1.x version of es-operator?

[2019-07-17 09:11] kevinearls commented on #481
@objectiser No, things work correctly with version 4.1.x of the elasticsearch operator.  It still fails with the master though.

[2019-07-17 09:39] atmosx commented on #420
Thanks for the answer.

Our k8s cluster lives within an AWS VPC. Exposing an unprotected service to the internet never crossed my mind in all honesty. The idea was to expose the collector to services running within the VPC. We use Security Group IDs to limit connectivity only to the hosts that _should_ have access to the collector.

Your point about security is valid though. It is not clear to me

[2019-07-17 09:45] jpkrohling commented on #420
During the last bi-weekly call, we talked about the need to provide instructions on how to protect the communication between agents and collectors. It should be possible today already, we just need to document it (hopefully).

My badly formulated point was that I wouldn't leave the collector open to the public internet, as we should have clear instructions in the near future on how to protect it.

[2019-07-17 11:40] mwieczorek commented on #533
I can take it.
Adding annotation with configmap hash to jaeger-query deployment (so the pods will be automatically redeployed) - would it be a proper solution?

[2019-07-17 12:14] jpkrohling commented on #533
Could you try first manually updating the config map and watching the deployment? I had the impression that pods should be recreated automatically by Kubernetes once config maps are changed. There should be no need to track it on our side, AFAIK.

[2019-07-17 12:39] #461 closed

[2019-07-17 13:36] mwieczorek commented on #533
I think Kubernetes doesn't recreate pods if the content of configmap is changed. I've done a test:

1. I Installed jaeger operator
2. I added such CR:
[code]
I run `kubectl get pods -w` to see all the changes.

2. I applied new version of CR:
[code]
New pod was created, old terminated (because in deployment definition there was a new volume mounted, and new parameter added to jaeger command - http

[2019-07-17 14:09] jpkrohling commented on #533
Thanks for confirming! Are you able to check whether the mounted volume has the updated configmap? If so, we might want to add a reload to Jaeger itself. It would be far nicer than kill the pod

[2019-07-17 14:19] mwieczorek commented on #533
I tried to exec to pod but I guess it doesn't have any shell even. I assume if cm is updated then also it's reflected in filesystem inside pod (I don't see reason why not...). So reload should do the job.

But: I think the configmap sync can take some time so it's hard for operator to know when to reload - https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-co

[2019-07-17 14:23] jpkrohling commented on #533
The operator wouldn't even be aware that the config map has changed: it would be done by Jaeger itself. Viper has a hook to watch for changes to a local config file, we could probably use that.

[2019-07-17 14:26] jpkrohling commented on #533
Looks like we aren't using Viper for that part:

https://github.com/jaegertracing/jaeger/blob/e567725c36d8490d74b7f3481ea201d6f57d906f/cmd/query/app/static_handler.go#L117-L141

[2019-07-17 15:16] pavolloffay commented on #481
I have talked to @objectiser the solution to this is to add label `kubernetes.io/os=linux`  to node. It was added in this PR https://github.com/openshift/elasticsearch-operator/pull/164.

I have submitted a PR #535 which adds this label to all nodes.

I am not sure if we can do something more about this behavior other than set the required label on the nodes.

[2019-07-18 09:04] pavolloffay commented on #481
I am closing this as it is not an issue or our side. See the comment above.

[2019-07-18 09:04] #481 closed

[2019-07-18 09:04] jpkrohling opened #538 "Monitoring Jaeger"
Opening this in the Operator repository instead of the main repo, as the outcome might involve changes to the operator.

Currently, the Jaeger Operator adds some annotations to the Jaeger deployments it creates (Collector, Agent's DaemonSet, Query), like:

https://github.com/jaegertracing/jaeger-operator/blob/83aafae113f63c2bf4808c44471f610dbe38d5ee/pkg/deployment/all-in-one.go#L48-L53

While this

[2019-07-18 09:16] pavolloffay commented on #489
done in #491

[2019-07-18 09:16] #489 closed

[2019-07-18 09:25] metalmatze commented on #538
If the Service is shipped with Isitio in the future, then yes, you might not need to create that, but you obviously need _some_ Service to use ServiceMonitors.

As a user, I'd probably would be fine with adding a ServiceMonitor manually for now, given you provide and example. That's pretty much how the entire kube-prometheus project works.

[2019-07-18 09:42] objectiser commented on #538
If we can get it to work, looks like PodMonitors would be better, as would enable scraping of sidecars (e.g. jaeger agent) - based on discussion here: https://discuss.istio.io/t/prometheus-operator-podmonitor/2695

[2019-07-18 10:02] metalmatze commented on #538
Yes. Indeed, if you would only need the Service for metrics and for nothing else, then you can skip that step with PodMonitors now. Make sure you have Prometheus Operator v0.31+ available, before starting to work on that.

[2019-07-19 07:46] jpkrohling commented on #538
With the help from @metalmatze, I was able to get `PodMonitor` working, once a fix similar to https://github.com/coreos/kube-prometheus/pull/159 was applied.

We have then two ways to monitor Jaeger:

1. When Istio is present, it builds the proper configuration to scrape data out of Jaeger based on the pod annotations
1. Manually creating a `PodMonitor` like the following:

[code]

Right now, ther

[2019-07-19 07:46] #538 closed

[2019-07-19 08:22] Demonian commented on #474
@jpkrohling I mean that we should mount all secrets from main jaeger deployment to jobs also, or allow to configure specific volume mounts for job.

[2019-07-19 10:54] objectiser commented on #304
Fixed by #523

[2019-07-19 10:54] #304 closed

[2019-07-22 20:09] #484 closed

[2019-07-24 00:28] igaskin commented on #160
I'm trying to configure this in my deployment, but it is not clear to me from the docs where these limits are added.  Can you add something to  https://www.jaegertracing.io/docs/1.13/operator/#auto-injecting-jaeger-agent-sidecars doc, or a snippet in this issue to help those who may have the same problem?

[2019-07-24 07:48] jpkrohling commented on #160
Good catch about the operator not being able to update existing sidecars.

@rubenvp8510: the problem @igaskin reported is similar to #454 and #453. Would you be interested in working on it?

[2019-07-24 08:04] pavolloffay commented on #532
done in #539

[2019-07-24 08:04] #532 closed

[2019-07-24 08:08] pavolloffay opened #546 "Support rollover for archive storage"
When `--es-archive.enabled=true --es-archive.use-aliases=true` are present in the storage options the rollover init (ES storage dependency) and rollover rollover (cron job) jobs should be created.

[2019-07-24 08:11] objectiser commented on #546
General question: What are the implications if the CR enables and then disables these options? (same for normal storage i.e. non-archive).

Do we need the operator to perform any additional actions when enabling rollover where ES cluster already exists - and similarly if moving from using rollover to no longer using rollover?

[2019-07-24 08:20] pavolloffay commented on #546
none, rollover is enabled or disabled purely based on storage options - see my first comment.

migration to/from rollover/daily indices is not supported. Users would have to do that manually. Migration from rollover to daily indices might be challenging and we haven't considered it when we were working on rollover.

[2019-07-24 08:48] objectiser commented on #546
@jpkrohling Is there any way the operator could prevent such upgrades? i.e. if user goes from a valid to an invalid state - prevent the invalid state being acted upon?

[2019-07-24 08:55] pavolloffay commented on #546
We should probably have the same check when changing storage backends or strategies.

[2019-07-24 08:56] jpkrohling commented on #546
Sort of. We cannot prevent updates to the CR, but we can revert the user's change. Inside the controller's `applyElasticsearch`, we could place a check and verify this specific case. If the new value is incompatible with the previous, revert the change and continue the reconciliation, so that the updated CR is persisted.

[2019-07-24 08:56] jpkrohling commented on #546
We support changing storage backends and strategies.

[2019-07-24 09:01] pavolloffay opened #547 "Properly configure index cleaner when rollover is enabled"
Depends on https://github.com/jaegertracing/jaeger/issues/1681

[2019-07-24 22:10] rubenvp8510 commented on #160
@jpkrohling Yes, I can start working on that .

[2019-07-25 10:51] jpkrohling commented on #533
@mwieczorek I published a few images with this change, including `jpkroehling/jaeger-query:Hot-reload-UI-config` and `jpkroehling/all-in-one:Hot-reload-UI-config`. Would you like to try it out?

[2019-07-25 23:43] Demonian opened #551 "Option values for storage breaks after update"
HI,

I have encountered strange behavior if `options` for storage are set in two ways (flat structure with dot as a key and normal yaml structure) in the same `Jaeger` manifest.
E.g.:
[code]
**STR:**
1. Apply manifest with structure above.
2. Wait until operator will create `jaeger-tracing` deployment
3. Investigate applied `Jaeger` manifest with `kubectl get jaeger jaeger-tracing -o yaml --export

[2019-07-26 07:05] jpkrohling commented on #551
I wonder what happens when both are set in the same original CR. @kevinearls, @jkandasa, perhaps it's something for you to test?

Which version of the Operator are you using? This should have been fixed by #523 (cc @rubenvp8510), in that the operator will not change the values that were initially provided by your CR.

[2019-07-26 07:18] mwieczorek commented on #533
@jpkrohling Sure, I'll check it today. Thanks

[2019-07-26 08:01] pavolloffay opened #552 "Test operator deployment/update via OLM"
OLM repository contains instructions how to test operator deployment and update via OLM https://github.com/operator-framework/community-operators/blob/master/docs/testing-operators.md#testing-operator-deployment-on-kubernetes

The instructions work for plain k8s but also for OCP 4.1. The test requires quay app registry where the operator has to be published.

[2019-07-26 08:09] Demonian commented on #551
@jpkrohling I was using `jaeger-operator` with version `1.13.1` so the latest one, I could try with master. Will comment on my results one done.

[2019-07-26 08:29] #443 closed

[2019-07-26 08:35] mwieczorek commented on #533
@jpkrohling I made the same test as in [one of previous comment](https://github.com/jaegertracing/jaeger-operator/issues/533#issuecomment-512257586) (only this time defining your image in `spec.allInOne.image`).

And still after updating Jaeger CR with additional linkPatterns element I still cannot see new link in the browser (the configmap was changed, I waited a few minutes so cm change will be

[2019-07-26 08:54] jpkrohling commented on #533
Do you see a message like `reloading UI config` in Jaeger's console? I'll try that out here as well, based on your example.

[2019-07-26 09:44] jpkrohling opened #555 "`make push` is skipped in Travis"
After https://github.com/jaegertracing/jaeger-operator/commit/bca9103a0ee1524644364f37b5e90f01fb314b6f , pushing to Docker Hub via `make push` is disabled when executed as part of Travis builds, affecting release and master images from being pushed.

For now, a change in the `publish-images.sh` is an acceptable change, but the real solution involves removing the Travis conditional from the `make p

[2019-07-26 11:12] jpkrohling opened #557 "Invalid service account"
When applying the simplest example with the current master, the following error appears:

[code]

Running a `git bisect`, it appears that the problem is with this commit:
[code]

cc @rubenvp8510

[2019-07-26 12:03] jpkrohling commented on #533
Apparently, the config map file is a symlink to a symlink to the actual config:

[code]

Watching the `ui.json` would not yield any events, as the symlink isn't changing. Need to go back to the drawing board :-)

[2019-07-26 14:18] pavolloffay opened #559 "simple-prod-master-certs version must not be empty"
I got the following error when deploying `oc create -f deploy/examples/simple-prod-deploy-es.yaml` on OCP 3.9

[code]

[2019-07-26 14:37] jpkrohling commented on #559
Duplicated of #557

[2019-07-26 14:37] #559 closed

[2019-07-26 14:39] pavolloffay opened #560 "Provision production ready ES cluster by default"
At the moment Jaeger operator normalizes ES CR to use 1 node and the resources are set in ES operator to:

[code]

So by default J-operator creates one node ES with very low resources. By default we should create HA ES cluster with appropriate resources e.g. 16gb and 1 cpu.

https://github.com/openshift/cluster-logging-operator/blob/31a44416c13367f78c529d5451812151bbca41d6/pkg/k8shandler/defaults.

[2019-07-26 14:52] pavolloffay commented on #559
So it seems the issue is related to different objects.

[2019-07-26 14:54] jpkrohling commented on #559
Could you try #558? If it fixes the problem you reported, then we are dealing with the same issue.

[2019-07-26 15:08] pavolloffay commented on #559
it seems it fixed my issues

[2019-07-26 15:40] #557 closed

[2019-07-27 14:50] clyang82 opened #562 "Resource Limits for Jaeger allInOne"
I saw the example of all-in-one, there has defined `max-traces: 100000`. what is proposed memory limits for allInOne? considering the memory occupation of 100000 traces, jaeger query and jaeger collector, etc. Thanks.

[code]

/cc @jpkrohling @objectiser I did not find such data after searched the document and issues. Do you have such data? Thanks.

[2019-07-29 08:09] objectiser commented on #562
The max traces were added to prevent an out of memory issue when being used in Istio - originally the memory storage had no limit as was only used for dev/testing purposes.

We haven't done any specific calculations to determine the figure currently - as it depends on the amount of information stored in each span (e.g. tags, logs, etc).

[2019-07-29 08:12] objectiser commented on #562
@clyang82 Actually it may be worth considering using the badger local storage, which automatically manages the memory based on amount available I believe.

[2019-07-29 13:46] nomis-rzp opened #564 "How to add badger as backend storage"
Im using all-in-one. How to use badger as backend storage with operator ? Does the below one works ?

[code]

Also is it possible to create a PVC separately and add as a volume mount to the pod via service "Jaeger" yaml and use it as the config directory for badger?

[2019-07-29 14:27] jpkrohling commented on #564
It *should* work, and you should be able to specify a [`volumeMount` and `volume`](https://www.jaegertracing.io/docs/1.13/operator/#finer-grained-configuration) both at the top-level (applying to all child nodes), or at individual components.

I think badger as storage for Jaeger isn't supported for production setup (ie, query and collector in different pods/hosts), but @burmanm can confirm that.

[2019-07-29 15:33] burmanm commented on #564
No, query and collector must reside in the same process with badger the query isn't integrated to the collector in any way (they use external process as the integration point - and there's no external process with badger). An external application such as gRPC server could work as query and collector both have integration to it.

[2019-07-29 15:42] nomis-rzp commented on #564
@burmanm I think since im using all-in-one with the operator(both query and collector runs on the same pod), i should be able to use badger as storage backend.. right? Please correct me if im wrong.

Also if the above assumption holds true, i should be able to use a PVC to store the badger data and use it inside the service Jaeger yaml ?

[2019-07-29 15:58] burmanm commented on #564
I'm not aware of any limitations why it shouldn't work with persistent volumes. Badger shouldn't know any difference as long as the disk behaves like it's a real disk (regardless how it is implemented). NFS backed disks might be slow, but even they should in most cases (unless improperly mounted) behave correctly.

[2019-07-29 16:30] nomis-rzp commented on #564
Ok. I will try persistent volume inside below file and give it a try
https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/simplest.yaml

[2019-07-30 01:17] clyang82 commented on #562
@objectiser Thanks for your information. What do you mean `manages the memory based on amount available`? from this document - https://www.jaegertracing.io/docs/1.12/deployment/#badger-local-storage, I think it should consume small memory which is used to transfer spans from memory to local storage.

[2019-07-30 07:52] objectiser commented on #562
@clyang82 Thought it also cached data in memory - but possibly wrong.

@burmanm Should be able to confirm.

[2019-07-30 08:31] burmanm commented on #562
Badger uses memory mapping to access the files on the filesystem and as such the memory management of those is handled by the OS actually. When the kernel requires memory to other use, it will release the memory from badger to somewhere else and if it has available memory it will allow badger to cache more in the memory.

Badger does require some memory in normal use obviously and the amount depen

[2019-07-30 09:04] clyang82 commented on #562
@burmanm Thanks for your elaboration. Do you have recommended memory value for 50000 traces? Does 500MB memory work?

[2019-07-30 10:42] jpkrohling opened #565 "Operator will fail if released with new version scheme"
When reviewing the required changes for #42, where we'll probably change the versioning scheme to `Major.minor.patch.operator` from the current `Major.minor.operator`, I noticed that the `release` script is fixed to use two parts for the underlying Jaeger version (1.13 vs 1.13.0).

Currently, when trying to release the Operator as 1.13.0.0, the script will probably fail because there are two match

[2019-07-30 10:58] burmanm commented on #562
Do you mean using tmpfs or stored in the disk? 50k traces eats more than 500MB of disk space at least with the traces I've tried.

[2019-07-30 12:39] jpkrohling opened #567 "Two operators managing the same instance"
We need to build a mechanism to ensure that only one operator is managing a given instance at the same time. When there are two operators watching the same namespaces, both will start a reconciliation logic for new instances and will concurrently start creating objects. Eventually, one will fail and the logs won't help figure out what's going on:

[code]

One idea is to:

1. Add a `ManagedBy` prop

[2019-07-30 12:40] jpkrohling commented on #567
cc @kevinearls, @jkandasa: I think we need a test case for this

[2019-07-30 12:50] jpkrohling opened #568 "Finalizer blocks the deletion of CRs if the operator isn't running"
A side effect of adding a finalizer to the Jaeger CRs is that the same operator instance that created the CR has to be running when the CR is deleted, otherwise the `kubectl delete` command blocks indefinitely and will end up not removing the CR:

How to reproduce:

In the first console:
[code]

In a second console:
[code]

Then kill the operator from the first console. On the second console:

[co

[2019-07-30 12:50] #565 closed

[2019-07-30 12:52] objectiser commented on #567
@jpkrohling Is there potential for two or more operators, watching the same namespace, to concurrently retrieve and set an empty ManagedBy field and try to write it back? What happens in this case?

[2019-07-30 12:59] jpkrohling commented on #568
@rubenvp8510 instead of executing the update inside the `handleFinalizer`, can't it just change the CR and return it to the reconciliation loop? This way, the CR is persisted only once per reconciliation loop, avoiding another problem that I'm seeing:

[code]

[2019-07-30 13:16] jpkrohling commented on #567
I believe only one wins, as Kubernetes has a `revision` field used with a pessimistic locking mechanism. The second will fail to persist the object.

[2019-07-30 13:45] jpkrohling opened #569 "System tests to test the upgrade procedure"
The current e2e tests use the current code for the tests. For the new upgrade mechanism, we need to test two different versions of the operator, so, we need a higher level test.

The very first test should be:

1. Deploy the operator 1.12.0
1. Deploy a CR
1. Check that the status object is empty (no `Version` field)
1. Deploy the operator 1.13.2 (or "next" from 1.13.1, which is the first version w

[2019-07-30 14:30] clyang82 commented on #562
No. I mean local storage device such as a disk, partition or directory.

[2019-07-30 15:17] burmanm commented on #562
512MB should be enough (based on my quick testing). There are some options in the badger that could be used to reduce the memory requirements, but they're not exposed to the Jaeger at this point. I think I'll do something about that later..

[2019-07-30 15:56] #42 closed

[2019-07-30 16:10] objectiser opened #570 "Use statefulset for all-in-one when non-ephemeral badger used with local volume"
When using all-in-one with non-ephemeral badger storage, where a local volume has been configured, we should deploy the all-in-one component as a statefulset to ensure that pod restarted pickup the same local storage where possible.

[2019-07-31 11:42] jpkrohling opened #572 "Allow passthrough of `htpasswd` file location to the OAuth Proxy"
Add an option for users to specify`Htpasswd` in the CR with the location of the htpasswd file to use, to be passed as-is to the OAuth Proxy.

[2019-07-31 14:04] jpkrohling opened #574 "Add volume/volume mounts to Ingress"
Ingress objects are a bit different than the other ones, as it might end up being just a container as a sidecar to an existing deployment (query/all-in-one), so, we didn't have volume/volume mounts for them.

With #573, we need to mount a secret with the htpasswd file, and we have no place to specify it. So, we should consider adding the volume/volume mount to the ingress spec, or perhaps the whol

[2019-07-31 15:36] #567 closed

[2019-07-31 15:48] #572 closed

[2019-07-31 22:31] rubenvp8510 commented on #568
I can try what you are proposing in your comments

On the other hand if you delete the CR when the operator is not running, the sidecar of the deployments asociated with that CR will be orphaned, pointing to an non-existing Jaeger instance, without a posibility of delete it  unless we implement something with auto-detect feature.

[2019-08-01 07:40] jpkrohling commented on #568
That's the right approach. We cannot assume the operator will be up and running for the whole lifecycle of all managed CRs.

[2019-08-01 10:00] jpkrohling commented on #533
I just updated the PR in the main repo and it seems it works now. Here's the CR I'm using for testing:

[code]

Once that is created, just apply the same CR again changing the UI config. The pod should remain up but the config map should be updated. In a few moments, a message like the following should be shown (multiple times, depending on the number of events Kubernetes causes):

[code]

It's al

[2019-08-02 07:58] jpkrohling commented on #533
@mwieczorek did you have a chance to test it? If you also confirm that it works, I'll get someone to review my PR at the main repo.

[2019-08-02 08:58] dnovvak opened #577 "Service jaeger-agent exposes all ports as TCP but some should be UDP"
According to the [docs page](https://www.jaegertracing.io/docs/1.13/deployment/#agent) jaeger-agent ports `6831`, `6832` and `5775` are UDP ports but jaeger-operator creates service for agent with these ports as TCP.

[code]

It seems the root cause is here: https://github.com/jaegertracing/jaeger-operator/blob/d89f267996c04bc763b99093ed5ab510cbdfd0d4/pkg/service/agent.go#L43-L64

[2019-08-02 09:35] jpkrohling commented on #577
Seems like a good first issue to me :) Would you like to give it a try, @dnovvak ?

[2019-08-02 12:18] dnovvak commented on #577
Ok, I can write my first line in go :)

[2019-08-05 09:48] mwieczorek commented on #533
@jpkrohling Works great for me. Thanks.

[2019-08-05 11:17] #577 closed

[2019-08-08 08:09] giorgio076 opened #583 "Which Kubernetes versions are supported?"
## Issue on creating jaeger-operator

I'm working on K8s version:

[code]
From `master` branch, I created CRD using `jaegertracing_v1_jaeger_crd.yaml`, then `service_account` , `role` , `role_binding`.

Creating `operator` I got this error:
[code]

So, edited `operator.yaml` :

[code]
and `operator` Deployment has been crated:

[code]

Now issue is about starting POD, `kubectl logs` reports:

[cod

[2019-08-08 08:14] jpkrohling opened #584 "Test case - operator scanning thousands of deployments"
Once #575 is merged, the operator will potentially be scanning all the deployments in the cluster, to cleanup sidecars pointing to non-existing Jaeger instances.

We need to have a test case, both to measure the impact of this, and to assess that the operator won't crash because it's loading too many records in memory.

Context:
https://github.com/jaegertracing/jaeger-operator/pull/575#discussion_

[2019-08-08 08:20] jpkrohling commented on #583
That's a great question, @giorgio076. I don't think we have a written policy about which Kubernetes versions we support.

In any case, your server is 1.8.x, and the latest version as of now is 1.15 . I don't think it's reasonable for us to support all versions all the way back to 1.8.

[2019-08-09 13:38] #547 closed

[2019-08-09 13:43] #560 closed

[2019-08-09 13:46] stevie- commented on #135
Will there be an option in JaegerIngressSpec to specify hosts for ingress resource?

[2019-08-09 14:05] jpkrohling commented on #135
@stevie-, we might. The proposal from this issue has been accepted, but so far, nobody sent a PR implementing it.

[2019-08-09 21:17] alekonko opened #589 "Problem using Operator 1.13: no image tag jaeger-collector:1.12.0 and jaeger-query:1.12.0 on registry.redhat.io/distributed-tracing-tech-preview"
Hi,
 we have installed Jaeger Operator v1.13.1 and Maistra 0.12 on Openshift Cluster v 3.11.

We followed the instruction [https://docs.openshift.com/container-platform/3.11/servicemesh-install/servicemesh-install.html#installing-jaeger-operator](url)

`$ oc new-project observability # create the project for the jaeger operator
$ oc create -n observability -f https://raw.githubusercontent.com/jaeg

[2019-08-11 08:56] eroji opened #591 "How to connect to a ES cluster that is TLS/authentication enable?"
I can't seem to find any documentation on how to leverage the jaeger-operator to create an instance using a secured ES cluster that is TLS and authentication enabled. Can someone provide some guidance on how to get this to work? This is what I have right now. Furthermore, the cleaner job will also need to be able to authenticate. The URL for ES is https://jaeger-es-http:9200 using a self-signed ce

[2019-08-12 08:37] objectiser commented on #589
@alekonko This is an issue with the Maistra operator/CR incorrectly overriding the images that Jaeger should use - you will need to create an issue in their jira: https://issues.jboss.org/projects/MAISTRA.

Closing this issue - but feel free to reopen if you feel there is an issue with Jaeger.

[2019-08-12 08:37] #589 closed

[2019-08-12 09:22] pavolloffay commented on #591
hi @eroji

all the configuration is done via storage options. In the options you will have to specify flags which are used for TLS authentication. The flags can be found at https://www.jaegertracing.io/docs/1.13/cli/#jaeger-all-in-one-elasticsearch.

Jaeger CR supports secrets for mounting the certs https://www.jaegertracing.io/docs/1.13/operator/#secrets-support. The certs you have to create by y

[2019-08-12 12:04] secat commented on #471
@jpkrohling I am using and external ES (from the [Elastic Cloud on Kubernets (ECK) Operator](https://github.com/elastic/cloud-on-k8s) with self-signed certificates and username and password from secrets.

The generated resources by the operator seems wrong and don't works

[code]

Here is the generated `cronjob` resource:
[code]

Here are the logs from a job:
[code]

Here is the `jaeger` CR:
[code

[2019-08-12 12:09] jpkrohling commented on #471
cc @pavolloffay

[2019-08-12 13:01] pavolloffay commented on #471
I guess you will have to specify TLS options for the index cleaner https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/esCleaner.py#L22-L25  which is not supported at the moment.

Index cleaner CR exposes only a few options https://godoc.org/github.com/jaegertracing/jaeger-operator/pkg/apis/jaegertracing/v1#JaegerEsIndexCleanerSpec. Other configuration is derived from storage fla

[2019-08-12 13:02] pavolloffay commented on #471
@dushyant03 were you able to connect to ES using user/pass?

[2019-08-12 13:04] pavolloffay opened #592 "Support TLS for Elasticsearch index cleaner and rollover jobs"
Derive TLS env vars from storage options map for index cleaner and rollover jobs. https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/esCleaner.py#L22-L25

- [x] Documentation  https://github.com/jaegertracing/documentation/pull/324/files

Related to https://github.com/jaegertracing/jaeger-operator/issues/471#issuecomment-520397430 and https://github.com/jaegertracing/jaeger-oper

[2019-08-12 13:05] pavolloffay commented on #591
I am closing this in favor of https://github.com/jaegertracing/jaeger-operator/issues/592

[2019-08-12 13:05] #591 closed

[2019-08-12 13:10] pavolloffay commented on #471
I have crated https://github.com/jaegertracing/jaeger-operator/issues/592 for the TLS configuration with ES jobs.

[2019-08-12 20:27] eroji opened #593 "Configure index.translog.durability via operator?"
I'm noticing a large amount of spans being dropped by the instance I have deployed via the operator. The storage backend is ES. After some Googling around, it seems like setting index.translog.durability=async may help with this problem. How exactly do I configure this setting with use of jaeger-operator?

[2019-08-12 21:09] eroji commented on #593
Looks like I need to configure this on the ES end. Please disregard.

[2019-08-12 21:09] #593 closed

[2019-08-13 10:57] objectiser opened #595 "Add format verification for tests"
See comment https://github.com/jaegertracing/jaeger-operator/pull/588#discussion_r313268210

[2019-08-15 09:45] objectiser opened #597 "Find solution to travis examples tests that fail regularly"
As discussed here: https://github.com/jaegertracing/jaeger-operator/pull/596#issuecomment-521354856

[2019-08-19 04:44] longility commented on #135
This is my current workaround example if anyone needs something similar. Basically, turn off the generated ingress and create my own ingress.

**jaeger instance to disable the default ingress**
[code]
**separate ingress using nginx ingress, cert-manager, lets-encrypt with http challenge**
[code]
To access the UI, you would go to https://traces.domain.com.

[2019-08-19 07:05] stevie- commented on #135
Our Workaround fir Nginx ingress:
We use the help of external-dns and just add an annotation to the ingress spec for Jaeger CRD. This adds a DNS record for the ingress loadbalancer and Nginx ingress does the rest.

Caution: May not work if you have more ingress with host set to '*'.

[2019-08-19 11:19] longility commented on #135
@stevie- can you give code sample as I didn’t follow completely? I’m a little new to all this.

[2019-08-19 13:49] stevie- commented on #135
Snippet of our Helm Template to create the Jaeger resource

[code]

[2019-08-19 14:54] mane commented on #583
@jpkrohling considering that we can't upgrade kubernetes up to the latest version (1.15) from which one do you recon we could start using jaeger?

Cheers.

[2019-08-19 15:01] jpkrohling commented on #583
Looking at Kubernetes' documentation, it looks like 1.10 already was using `apps/v1` for `Deployment`. I don't really know what else might not work on that version, though. Would you be willing to try it out and report back?

[2019-08-19 15:15] pavolloffay commented on #583
We are using OCP 3.9  in tests which is based on k8s 1.9 https://docs.openshift.com/container-platform/3.9/architecture/infrastructure_components/kubernetes_infrastructure.html#overview.

However, we don't say we officially support OCP 3.9 it just happens to work for the use case in the tests. 3.9 is used bc of the quick start and low resources use on TravisCI.

[2019-08-20 07:47] mane commented on #583
Thanks guys, much appreciated!

[2019-08-20 07:51] harshal-shah opened #598 "Resource limits for spark dependencies cronjob"
The [spark dependencies cronjob](https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/cronjob/spark_dependencies.go#L36) does not have resources populated. It would be nice to be able to specify requests and limits for the pods created by this cronjob.
Right now the pods created by this cronjob do not have any resources defined and they consume a substantial amount of CPU / memory caus

[2019-08-20 09:34] pavolloffay opened #599 "Configure secure connection between agent and collector (TLS)"
Configure secure connection (TLS) between agent and collector when gRPC reporter is used (it's used by default).

The operator could automatically setup TLS, not requiring users to mess around with certs.

[2019-08-20 09:44] #595 closed

[2019-08-20 18:47] antimack commented on #598
+1 to this, we have default requests and limits per namespace and spark dependencies OOM killed all the time

[2019-08-20 19:17] harshal-shah commented on #598
@antimack as a workaround, you can add a `LimitRange` object to the namespace where jaeger is installed.

[2019-08-21 06:15] antimack commented on #598
@harshal-shah Yeah, that’s what we do but we have default limitrange same for all the namespaces and we are trying to keep it low so spark dependencies failing to start. I just tweaked limitrange a bit but having the ability to specify resources in crd would be way much better :)

[2019-08-21 08:29] harshal-shah commented on #598
Yes, Totally agree with that.

[2019-08-21 08:50] jpkrohling commented on #598
@rubenvp8510 is this something you'd want to work on?

[2019-08-21 09:22] #568 closed

[2019-08-21 11:08] jpkrohling opened #604 "Incorporate 'generate csv' in the release process"
In newer versions of the operator framework, it's possible to generate CSVs using a template, which is suitable for usage during the release process.

This issue is to investigate what we need to do in order to get the new CSVs automatically generated at release time.

[2019-08-21 11:59] jpkrohling opened #605 "Remove legacy CRD"
It's now been a while since we deprecated the CRD in the old namespace `io.jaegertracing`, I think it's time to remove it from the source repository and code.

[2019-08-21 12:19] jpkrohling opened #607 "Update Operator SDK to 0.10.0"
A new version of the `operator-sdk` is available and we should use it.

[2019-08-21 13:09] jpkrohling commented on #607
So far, looks like the biggest change is that they settled on using zap for logging. They were previously using Go's standard logging tool, and we went for logrus.

Zap actually provides better alignment with the main repo, but we might want to migrate that in a follow-up PR if we decide to indeed move to it.

[2019-08-21 13:30] harshal-shah commented on #598
We removed the limitrange and instead used the following [helmfile hook](https://github.com/roboll/helmfile#hooks) to patch the cronjob

[code]

[2019-08-21 13:57] pavolloffay commented on #604
Would this also close https://github.com/jaegertracing/jaeger-operator/issues/470?

[2019-08-21 15:14] jpkrohling commented on #604
Not sure -- that one is about linting the OLM files. I could try to add the linting command to the checks, but I'll leave it out in case it requires more work than just running the command you mentioned there.

[2019-08-22 06:31] malz commented on #471
I'm running into a similar issue also using the EKS operator. I've mounted the secret to the cronjob spec and supplied the arguments through the ENV setting but it still appears to be throwing cert errors.

[code]

[2019-08-22 08:55] pavolloffay commented on #471
@malz remember that Jaeger operator will revert the changes manually done on the objects (you can undeploy operator to avoid it). I think you have to also use client cert and the key https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/esCleaner.py#L22-L25

[2019-08-22 11:25] camelpunch opened #611 "spark-dependencies cronjob doesn't use configured ES secret as env vars"
When switching from a self-hosted ES to a cloud-based one, I noticed that the `jaeger-spark-dependencies` cronjob doesn't get set up with the `ES_USERNAME` and `ES_PASSWORD` stored in the configured `storage.secretName`. So I get 401s when this job runs.

I can get around it with a script that patches the cronjob with something like:

[code]
It'd be great if the cronjob generator conditionally pro

[2019-08-22 12:21] pavolloffay commented on #611
Could you please paste here Jaeger CR?

[2019-08-22 12:58] camelpunch commented on #611
[code]

[2019-08-22 14:57] cfontes opened #613 "[Question] Pass parameters to Jaeger Client using operator"
Hello,

I would like to know if it's possible to pass Jaeger Client parameters like `- --es.max-span-age=2880h` to the Jaeger-Query created with this operator?

I searched for it but couldn't find a way to do it.

Thanks

[2019-08-22 15:49] jpkrohling commented on #613
All options for the collector and/or query can be specified under the `options` node, like:

https://github.com/jaegertracing/jaeger-operator/blob/9cdd514655654a92de5a70b58fda2797d6a6a32b/deploy/examples/simple-prod.yaml#L6-L13

In your case, it would be like:

[code]

[2019-08-22 23:20] zerda commented on #564
@burmanm "badger" is not a valid storage type in operator
https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/storage/types.go#L8

When I run with the simplest example, I got `time="2019-08-22T20:28:04Z" level=info msg="The provided storage type is unknown. Falling back to 'memory'" instance=simplest known-options="[memory kafka elasticsearch cassandra]" namespace=default storage=badg

[2019-08-23 01:53] malz commented on #471
Of course! I've tried deploying the pod using the Client Cert and Key however I'm getting issues with every combination of certs produced by the ES Operator. Not sure if this is necessarily a problem with Jaeger.

[2019-08-23 09:30] pavolloffay commented on #471
@malz could you please provide a link to ES operator you are using? And if you make it work the ES CR and jaeger CR you used. It might be helpful for other folks.

[2019-08-23 10:01] objectiser commented on #564
Correct, not supported as a storage at the moment - will work on a fix today.

[2019-08-23 13:45] mwieczorek commented on #533
@jpkrohling  linked PR is merged - should we close it?

[2019-08-23 13:53] jpkrohling commented on #533
Yes. I'm closing this with the note that it will be available in the next release (1.14.0).

[2019-08-23 13:53] #533 closed

[2019-08-25 23:38] malz commented on #471
I'm using the official Elastic Operator: https://github.com/elastic/cloud-on-k8s version 0.0.9, running on GKE. Jaeger collector and query run perfectly but the index cleaning jobs aren't connecting.

[2019-08-26 08:45] harshal-shah commented on #598
Above patch gets overwritten by the operator

[code]

[2019-08-26 13:05] peacecoder opened #618 "Add SuccessfulJobsHistoryLimit config support for cronjobs"
Hi All,

I add SuccessfulJobsHistoryLimit config for cronjobs, so that we can control the number of successful cron jobs history.

I have tested it in my test env. Please help me to review and merge it. Thanks

[2019-08-26 15:45] kevinearls commented on #276
@jpkrohling I may have time to work on this shortly, so I was wondering if you could:

1. Update the list of scenarios?  I can probably come up with some but would love more ideas than just changing the number of replicas.
2. Let me know what you think of combining things in test cases.  Ideally it would be nicer to have separate tests to say, test the simple-prod deployment, and then test changin

[2019-08-26 16:05] jan25 commented on #605
@jpkrohling Hi! would you know if someone is working on this? I can take a look otherwise

[2019-08-26 16:19] jpkrohling commented on #605
It's yours, @jan25!

[2019-08-27 09:00] #564 closed

[2019-08-27 09:36] pavolloffay commented on #611
This is duplicate of https://github.com/jaegertracing/jaeger-operator/issues/294. I am closing this, please comment here or in the linked issue.

would it help you if the TLS env vars were set in the pod? You would still have to rebuild the image to enable TLS.

[2019-08-27 09:36] #611 closed

[2019-08-27 13:11] camelpunch commented on #611
I don't understand the relationship between username/password and TLS. Can you please explain?

[2019-08-29 17:46] abstulo opened #629 "Unable to specifying custom labels for the deployable components"
We are encountering an issue while creating a jaeger instance with custom labels specified for the `allInOne` and `query` components. When specified, the `jaeger-operator 1.13.1` is unable to create the deployment object as the `labels` and `selector` do not match.

Here is a capture of the errors raised within the jaeger-operator:
[code]

The following `Jaeger` manifest will trigger the issue;
[c

[2019-08-30 08:39] objectiser commented on #629
@abstulo Thanks for reporting this. Would you be interested in submitting a PR?

[2019-08-30 12:10] abstulo commented on #629
I absolutely would!

This would be my first contribution, are there special steps and/or considerations to take into account before I can contribute?

[2019-08-30 12:49] #598 closed

[2019-08-30 12:56] objectiser commented on #629
@abstulo All the information you should need is in the https://github.com/jaegertracing/jaeger-operator/blob/master/CONTRIBUTING.md - but feel free to ask questions.

[2019-08-30 15:58] camelpunch commented on #611
@pavolloffay we noticed that the existing code expects the user to set `es.password` in the `JaegerStorageSpec`. This looks like it would mean hardcoding a secret in the jaeger manifest. When using static manifests for the jaeger operator, and not something like Helm, this poses a security risk.

We think that the cronjob could be adapted to pull the appropriate environment variables from a config

[2019-08-30 16:03] pavolloffay commented on #611
@camelpunch feel free to submit a PR which sets the username and password to spark job from secrets. We do the same in other components.

[2019-09-02 10:40] pavolloffay opened #632 "Inject environment information into JAEGER_TAGS env variable"
The operator could get environment information (e.g. namespace) and inject it into environmental variable `JAEGER_TAGS` which can be used by jaeger agent to add tags to each process/span reporting to the collector.

Related issue https://github.com/jaegertracing/jaeger/issues/1755

[2019-09-02 14:28] pavolloffay opened #634 "Use index mapping for ES 7.x when ES 6.8 is being used"
Elasticsearch 6.8 allows to use ES 7.x and 6.x/5.x compatible mappings. The operator could automatically configure Jaeger to use `--es.version=7` when ES 6.8 is being used this will result in using new mappings, so later when user switches to ES 7.x it will not have to do any data migration.

[2019-09-03 03:51] wangycc opened #635 "Spark-dependencies how to specify the nodeSelector option"
Spark-dependencies requires a lot of memory, I want to run on the specified node.
[code]

[2019-09-03 08:45] objectiser commented on #635
Unfortunately it is not possible currently - there is a more general open issue that relates to this: #414

[2019-09-03 12:02] #635 closed

[2019-09-04 13:59] martinbrook opened #643 "mismatch between yaml and tag in docker hub"
Recent release has pushed v1.14.0 tag but yaml files call up tag 1.14.0

[2019-09-04 14:09] martinbrook commented on #643
https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/operator.yaml#L19

https://hub.docker.com/r/jaegertracing/jaeger-operator/tags

[2019-09-04 14:21] jpkrohling commented on #643
Sorry, some parts of this release were done manually. I just pushed another tag, conforming with the previous versions.

I'm closing this as I think it should be solved, but feel free to reopen if you are still having problems.

[2019-09-04 14:21] #643 closed

[2019-09-05 05:32] jkandasa opened #644 ""LogOut" options missing in the default all-in-one cr config"
`Log Out` menu option is missing in the default CR file.
This file provided by jaeger-operator.

[code]

![image](https://user-images.githubusercontent.com/1004403/64314329-4a663100-cfcc-11e9-8e20-bb037696f80d.png)

[2019-09-05 11:46] jpkrohling commented on #632
With the current way we inject the sidecar, the operator can't get the `POD_NAME` where the agent is running, so, it can't build the `JAEGER_TAGS` env var. The reason is that changing the deployment to inject the env var will trigger a new deployment, which will change the pod name.

We have two solutions here:

- [ ] Use the webhook approach from #171 / #473, which will allow the sidecar to be in

[2019-09-05 13:12] objectiser commented on #632
Until we know whether option 1 is feasible, perhaps work on option 2 - but make the tag name configurable possibly via another env var. So by default tag should be `hostname` to match with the `peer.hostname` tag, and then the operator (as deploying to kubernetes) can change it to be `pod`.

[2019-09-05 13:17] jpkrohling commented on #632
Sorry, I'm not following. The hostname happens to be the same as the pod name, but we need to change the operator anyway to pass the namespace to the agent, so, we can also just add the pod name as an extra env var as well. The `entrypoint.sh` can then just get the pod name from the env var instead of trying to get the hostname, or not set anything at all if POD_NAME isn't set, as it would be the

[2019-09-05 13:41] objectiser commented on #632
Ok, forgot about namespace - but was trying to avoid using k8s specific terms in the `entrypoint.sh`.

[2019-09-05 19:26] eroji opened #646 "Spark dependency jobs failing with streaming deployment"
I have a Jaeger deployment using the jaeger-operator and streaming type with Kafka deployed via the strimzi Kafka operator. The following is my instance config.

[code]

However, when the spark dependency jobs kick off, all of them fail with the following stack trace.

[code]

[2019-09-06 08:25] jpkrohling commented on #632
Based on your last message, I'm not sure whether I should attempt to get that old PR into a working state, or I should start a discussion about adding Kubernetes-specific bits to the (not yet existing) `entrypoint.sh`. Note that the image is currently a scratch image, and we'd need to change it to use a base OS that is capable of executing shell scripts.

[2019-09-06 08:36] objectiser commented on #632
Before deciding on approach, is there a list of tags we are looking to create, and the source of the info in k8s?

[2019-09-06 08:47] jpkrohling commented on #632
To correlate with metrics and logs, we need: cluster, namespace, pod name, container. The first isn't currently available, AFAIK, and the last isn't required. Both namespace and name can be obtained via downward API, so, they can be set to an "intermediary" env var in the pod if we use an entrypoint script, or can be used directly in the webhook. The container name can also be set to an env var by

[2019-09-06 08:50] objectiser commented on #646
There are some issues with your CR:
1) `strategy` should be `streaming`
2) `storage` node occurs twice - can you remove the first one which has `type: streaming` (which is not a storage type)
3) `collector` node occurs twice - can you combine the contents under a single node

@jpkrohling Is there any way to validate issues like this?

[2019-09-06 08:55] objectiser commented on #632
Ok thanks - so if using the `entrypoint.sh` approach, we don't necessarily need it to be k8s specifc - can't it use another env var to list the tags that are to be provisioned, along with the env var that will provide the value? Thus making it a platform independent mechanism for the jaeger agent?

[2019-09-06 08:57] jpkrohling commented on #646
For 1 and 2, we should have log messages in place, but an unknown storage should have made `in memory` as the effective storage type. Perhaps the ingester is being created, even though the storage type isn't `kafka` and strategy isn't `streaming`?

[2019-09-06 08:58] objectiser commented on #632
Actually - if I recall correctly - no change would be required if the agent works as the java client - Java client takes JAEGER_TAGS="mytag=$(ENV_VAR)" format I believe - so if agent did the same, then no `entrypoint.sh` would be required - it would automatically take the value from the specified env var.

[2019-09-06 09:00] jpkrohling commented on #646
About the point 3, not sure -- it all depends on how the yaml/json is deserialized into the Go type. We *could* override the unmarshalling routine, but instead of combining both into one node, we should really be rejecting the CR. There are things that are just too ambiguous to determine a good default: when there are conflicting nodes, which one should win? The first, or the last?

[2019-09-06 09:07] objectiser commented on #632
In which case, we might want to inject the values in both the agent and also the app (for the client/tracer) to use - in case it reports directly to the collector.

[2019-09-06 09:16] objectiser commented on #646
Agree - apart from options, which are more free format, some form of schema validation should pick up structural inconsistencies like this and reject the CR.

[2019-09-06 11:25] jpkrohling commented on #632
I think there's no harm in adding to both, right?

[2019-09-06 12:52] jpkrohling commented on #632
I guess there is harm in adding to both:

![image](https://user-images.githubusercontent.com/13387/64429288-eae45000-d0b5-11e9-89e0-7c1bf56c6711.png)

[2019-09-06 13:12] objectiser commented on #632
I guess the other option is to support injection of just environment variables, which then sets up the env var of the collector - so the app doesn't need to do any specific config of env vars?

For example, have `collector.jaegertracing.io/inject`?

[2019-09-06 23:43] eroji commented on #646
Thanks for pointing out the errors in the deployment yaml. I just copied and pasted blocks I found in the docs but did not appreciate the hierarchy it needed to be in.

[2019-09-09 07:35] gmaiztegi opened #650 "Sparkd"

[2019-09-09 07:35] #650 closed

[2019-09-09 08:06] #607 closed

[2019-09-09 08:52] #632 closed

[2019-09-09 09:11] #605 closed

[2019-09-09 09:50] objectiser commented on #646
@eroji no problem - did it fix your issue?

[2019-09-09 15:57] yhyddr commented on #321
i have same trouble but not this application.
for me , it's  firewall's problem to refused connection

[2019-09-09 18:54] eroji commented on #646
Yes looks like it did. However, on a unrelated question, the streaming strategy seems to ensure the spans are complete (no more missing root span), but it appears the volume of spans it needs to process is causing it to lag behind quite a bit, upwards of 5+ minutes. What would you guys recommend in terms of tuning the CR to perhaps improve trace processing performance? The current CR has a 3 node

[2019-09-09 20:54] eroji commented on #646
Looks like the 5+ minutes plus estimate was too conservative. It's not able to keep up with the traces and will gradually fall further behind. It is around 40 minutes behind now. When I had the messages going straight to ES, although I would see many incomplete spans, it was at least populating every one of them with some traces near realtime. With streaming using Kafka, the processing appears to

[2019-09-10 09:14] objectiser commented on #646
Doesn't look like the ingester is as configurable in this area as the collector. There is an issue open to make [improvements to how batches ](https://github.com/jaegertracing/jaeger/issues/1696)are dealt with.

In the meantime, have you tried scaling up the ingester to see whether this helps reduce the delay?

[2019-09-10 09:39] jpkrohling opened #654 "gRPC port is missing"
I might be missing something, but looks like we are not currently adding the gRPC port (14250) to the all-in-one nor collector deployments:

https://github.com/jaegertracing/jaeger-operator/blob/a059701671aba3b097dda1ecde16b110b9fbb071/pkg/deployment/all-in-one.go#L128-L168

https://github.com/jaegertracing/jaeger-operator/blob/a059701671aba3b097dda1ecde16b110b9fbb071/pkg/deployment/collector.go#L

[2019-09-10 11:32] jpkrohling commented on #654
The agent in sidecar is using gRPC:

https://github.com/jaegertracing/jaeger-operator/blob/a059701671aba3b097dda1ecde16b110b9fbb071/pkg/inject/sidecar.go#L111

Also, the service does use expose the gRPC port:

https://github.com/jaegertracing/jaeger-operator/blob/a059701671aba3b097dda1ecde16b110b9fbb071/pkg/service/collector.go#L71-L74

At this point, I'm sure I'm missing something, just not sure

[2019-09-10 12:04] eroji commented on #646
I tried increasing replicas for injester to 1 per worker node, but the increasing lag remained.

[2019-09-10 13:51] objectiser commented on #646
As this original issue has been solved, I would suggest closing this issue, and opening an issue on the jaeger repo specifically to deal with "ingester performance impact vs direct collector/elasticsearch". Hopefully other users that have a similar setup may be able to help there.

[2019-09-10 14:04] eroji commented on #646
Sounds good. Thank you.

[2019-09-10 14:04] #646 closed

[2019-09-10 20:17] dm03514 commented on #654
Thank you for the link, I should be able to look at this sometime this week (before Saturday) unless someone else wants to take a look sooner :)

[2019-09-11 13:35] objectiser opened #657 "Should CI workflow for particular ES operator version trigger all e2e tests"
Related to discussion https://github.com/jaegertracing/jaeger-operator/pull/631#discussion_r323154287.

Reason for question - if we are going to have a workflow for multiple versions of the elasticsearch operator - then potentially only the self provisioned es e2e tests should be invoked. Essentially to avoid duplicate tests running when they are no affected by the es-operator.

[2019-09-11 13:58] jpkrohling commented on #657
All the cases that we "support" should be tested. If we expect people to bring their own Elasticsearch, then there should be a test for it.

[2019-09-11 14:19] objectiser commented on #657
Sorry will close - on closer inspection it is just running the es self provisioned tests due to the test group.

[2019-09-11 14:19] #657 closed

[2019-09-12 07:36] wangycc commented on #635
@objectiser @jpkrohling What should I do about this situation? Or is there any good advice?

[2019-09-12 07:52] jpkrohling commented on #635
@wangycc If you are comfortable with Go, the best option right now is to collaborate on #414 by preparing a PR that would support your case. It's easier to discuss/decide on something concrete.

If that's out of question, you can create your own spark-dependencies job that is managed outside of the Operator. Something like:

[code]

[2019-09-12 08:30] objectiser opened #659 "Add commonSpec to JaegerCassandraCreateSchemaSpec"
The only component within the CRD that does not support the common spec at the moment is the CassandraCreateSchema job.

[2019-09-13 08:19] pavolloffay commented on #634
I think nobody is working on this.

I would maybe prefer if the logic would be done directly in Jager collector. In jaeger there is already a logic which gets ES version from ping API and decides which template to use https://github.com/jaegertracing/jaeger/blob/67243904eebe9ac8ef3b9183c8715f55d075644a/pkg/es/config/config.go#L164

[2019-09-16 08:13] jan25 commented on #634
Thats useful, Thanks @pavolloffay
I'll read a bit of code to get more context of this and good way to solve this, and I will open a PR(WIP) to discuss further

[2019-09-16 08:36] alexnederlof opened #662 "Elasticsearch port not set correctly for the jaeger-es-index-cleaner"
I've configured my Jaeger operator to use ES (hosted by Amazon):

[code]

As you can see I configured it to use http*s* on port `443`. However, the clean job tries to use the standard port 9200.

[code]

This is on Jaeger operator version: 1.13.1

Is there any way for me to specify the port correctly? Or is this feature misisng.

[2019-09-16 08:38] alexnederlof commented on #662
I see the pod is initialized with the following environment variables (notice how the port is missing)

[code]

[2019-09-16 08:48] alexnederlof commented on #662
Digging a bit further, I inspected the operator that resulted from applying the above config, and found that `es.server-urls` appeared twice, but the second entry "lost" its port.

[code]

It could be a remnant from a previous config (before I added the `443` port) but I would expect the operator to clear those out.

I've now updated my config to:

[code]

And it seems the port is set correctly. S

[2019-09-16 09:00] jpkrohling commented on #662
@alexnederlof are you able to consistently reproduce it? Is it sufficient to set the `es.server-urls` to a given value when creating the CR, and later update the CR with a new value?

cc @kevinearls, @pavolloffay

[2019-09-16 09:29] alexnederlof commented on #662
Strange, I created a new `jaeger` to give a reproducable example, but sets the URL correctly, regardless of which way you config it. For my other config it didn't 🤔.

As this was probably just a glitch in the matrix, and I cannot reproduce it outside the original config, I'll close the issue.

[2019-09-16 09:29] #662 closed

[2019-09-16 09:31] jpkrohling commented on #662
Thanks for trying it out, and do reopen if you face this issue again. It does sound like there's a loose end somewhere, as the operator should have updated the cronjob once the CR was updated.

[2019-09-17 11:08] pavolloffay commented on #662
Didn't this happen when you run `kubectl apply -f` on the CR file?

[2019-09-17 11:09] pavolloffay commented on #634
Great @jan25, feel free to ping me if you run into any issues.

[2019-09-19 15:12] jpkrohling commented on #551
@Demonian did you have a chance to test a newer operator?

[2019-09-19 15:13] jpkrohling commented on #597
After some time using GitHub Actions, looks like this might not be relevant anymore. Should this be closed?

[2019-09-19 15:14] jpkrohling commented on #613
@cfontes I'm closing this, as I believe my previous answer solves your problem, but feel free to reopen if that's not the case.

[2019-09-19 15:14] #613 closed

[2019-09-19 15:24] Demonian commented on #551
@jpkrohling We are using workaround for now, but I will try to verify, the latest version. Thanks.

[2019-09-19 15:24] Demonian commented on #551
Could you please link the commit with possible fix?

[2019-09-19 15:25] jpkrohling commented on #551
#523 is the PR that should have fixed this.

[2019-09-19 17:39] objectiser commented on #597
+1 - we can open again if necessary.

[2019-09-20 07:43] #597 closed

[2019-09-20 08:44] mehstg opened #668 "jaeger-spark-dependencies failing to access AWS Elasticsearch"
Currently using the Jaeger Operator version 1.13.1 with an Amazon Elasticsearch v6.8 backend.

The 'jaeger-spark-dependencies' pods are currently erroring out with the following message:
`19/09/17 23:56:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
19/09/17 23:56:27 INFO ElasticsearchDependenciesJob: Running Dependen

[2019-09-20 09:50] pavolloffay commented on #668
Did you try to configure

ES_NODES_WAN_ONLY/elasticsearchNodesWanOnly in the dependencies spec?

[2019-09-20 10:55] mehstg commented on #668
Hi there

I am unsure of where that would go in the spec. The documentation does not seem clear on this. What do you mean by 'dependencies spec'

[2019-09-20 11:53] pavolloffay commented on #668
It goes to jaeger CR inside dependencies node https://godoc.org/github.com/jaegertracing/jaeger-operator/pkg/apis/jaegertracing/v1#JaegerDependenciesSpec

[2019-09-20 17:06] jkandasa commented on #280
@jpkrohling I face this issue when we supply invalid options to jaeger-services.
Steps followed:
* Deploy the cr file (`oc create -f cr-file.yaml`)
* wait until all the services come up. (jaeger query service will not come up)
* undeploy jaeger services (`oc delete -f cr-file.yaml`)
* Note the jaeger-operator log
* this error continues approx 5 minutes. During this period unable to create jaeger s

[2019-09-23 07:16] jpkrohling commented on #280
@jkandasa although the underlying problem is similar, the causes are different. This issue should be closed, as the lock was implemented already ("ManagedBy" annotation, IIRC), but we've recently seen the same problem in a different cause during e2e tests (cc @kevinearls). So far, every case where this happened was an edge case, but yours seems more likely to occur in the real world.

Could you pl

[2019-09-23 07:16] #280 closed

[2019-09-23 10:06] kevinearls opened #669 "Multiple versions of same module error when building with go 1.13"
I tried to build with go 1.13 and got the error:

ovpn-116-239:jaeger-operator kearls$ make
go: github.com/apache/thrift@v0.12.0 used for two different module paths (git.apache.org/thrift.git and github.com/apache/thrift)
go: github.com/apache/thrift@v0.12.0 used for two different module paths (git.apache.org/thrift.git and github.com/apache/thrift)
Building vendor...
Formatting code...
go: github

[2019-09-23 10:42] mehstg commented on #668
Like this?
`spec:
  strategy: production
  storage:
    type: elasticsearch
    options:
      es:
        server-urls: https://<ES URL>
  dependencies:
    ElasticsearchNodesWanOnly: true`

[2019-09-23 12:54] pavolloffay commented on #668
It looks correct. You can verify the config by inspecting the cron job spec created by operator. There should be defined environmental variable for this option.

[2019-09-24 02:36] jkandasa opened #670 "jaeger operator service is not available for a couple of minutes"
I face this issue when we supply invalid options on CR file to jaeger-services.
Steps followed:
* Deploy the cr file (`oc create -f cr-file.yaml`)
* wait until all the services come up. (jaeger query service will not come up)
* undeploy jaeger services (`oc delete -f cr-file.yaml`)
* Note the jaeger-operator log
* this error continues approx 5 minutes. During this period unable to create jaeger se

[2019-09-24 02:37] jkandasa commented on #280
@jpkrohling new issue: https://github.com/jaegertracing/jaeger-operator/issues/670

[2019-09-24 08:09] mehstg commented on #668
Confirmed that this still shows false in the cron job. It doesn't seem to be anywhere in the documentation where this should go or how it should be formatted in the YAML.

[2019-09-24 08:19] pavolloffay commented on #668
We haven't documented every possible option in the CR. I often point folks to godoc to see all the possible options, however it might be harder to read for no golang developers.

Unfortunatelly you make a mistake and the property has to start with small letter. The name of the property is in annotation `json:` in the godoc.

[code]

[2019-09-24 08:20] mehstg commented on #668
Perfect! - Yes I am no go developer, hence struggling to understand it.

Thanks for your help.

On Tue, 24 Sep 2019 at 09:19, Pavol Loffay <notifications@github.com> wrote:

[2019-09-24 08:21] pavolloffay commented on #3
This seems to be done https://www.jaegertracing.io/docs/1.14/operator/ - "Deployment stretegies" section

[2019-09-24 08:27] pavolloffay opened #671 "Document CR with all the options"
Users often don't know what are all the options exposed in Jaeger CR, or alternativelly they don't know how to format nested nodes in the CR.

I think we should generate and publish CR with all the options. The values could be just empty or default.

We could make this automatic during the build process. The generate yaml file could contain godoc comments on the fields and nodes.

Related to https

[2019-09-24 09:01] objectiser commented on #671
Would this include the freeformat options? Would it expand (for example) all of the storage options?

It would be great if we could have tabs or some checkbox/menu approach that only shows the CR parts relevant for selected strategy and storage.

[2019-09-24 12:02] pavolloffay commented on #668
Please let us know if it worked

[2019-09-25 16:36] mehstg commented on #668
Hi Pavol

Unfortunately not, I can still see :
[code]
when I describe the job.

[2019-09-25 17:03] yeya24 commented on #654
I will take this

[2019-09-25 19:36] yeya24 commented on #654
So I guess we just need to add port 14250?

[2019-09-26 07:33] #159 closed

[2019-09-26 07:39] jpkrohling commented on #654
Yes, but before, I'd like to understand why it's apparently working :-) Could you try removing the port 16686 and attempting to access the UI?

[2019-09-26 07:49] pavolloffay commented on #668
Alright, we are doing one more mistake - the dependencies node should be nested under storage

[code]

[2019-09-26 09:12] #670 closed

[2019-09-26 15:06] kevinearls opened #675 "Create a new e2e test based for #670"
Create a new e2e test that confirms #670 is fixed.  See https://github.com/jaegertracing/jaeger-operator/pull/672 for more information

[2019-09-26 15:06] kevinearls commented on #675
@jpkrohling  Can you assign this to me?  And maybe give it a better name?

[2019-09-26 15:36] sebbonnet opened #676 "Agent daemonset should be started with hostNetwork"
When using the `daemonset` stragegy for the agent, the agent pods should be created with `hostNetwork: true` to make it possible for tracing clients to reference their IP using the following container spec:
[code]

`hostNetwork` is enabled in the kubernetes production template too, so this looks like a small  oversight: https://github.com/jaegertracing/jaeger-kubernetes/blob/master/jaeger-producti

[2019-09-26 16:20] yeya24 commented on #654
Yes, if I remove 16686 in all-in-one container port, it still works. I think the only thing matters is the ports in Service. It will still set up proxy rules for 16686 if I configure it in Service, no matter whether you set 16686 in your container port.

[2019-09-26 16:32] yeya24 commented on #676
I' d like to open a PR for this. We should add the dnspolicy as well.

[2019-09-26 16:51] sebbonnet commented on #676
@yeya24 I was just going to push the change when I saw your comment, so i've also now added the DnsPolicy too here: #677

[2019-09-26 17:39] yeya24 commented on #676
Great work!

[2019-09-27 03:53] bhavin192 commented on #654
@yeya24 yes, you are right. From API reference docs,

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.15/#container-v1-core

[2019-09-27 06:08] jpkrohling commented on #654
Wonderful, thanks for digging that up, @bhavin192! @yeya24 you may go ahead and add the missing port

[2019-09-27 07:07] pavolloffay commented on #471
PR https://github.com/jaegertracing/jaeger-operator/pull/614 adds TLS options to ES jobs.

If the collector and query are able to connect then the cron jobs should be able too - if the configuration is correct.

[2019-09-27 08:55] jpkrohling opened #678 "Operator is blocked while waiting for resources to stabilize"
Not quite sure this is a bug, but it's certainly something we need to document and keep in mind. Right now, the operator has a lock and there's only one reconciliation loop at a time. Each loop will handle exactly one CR, meaning that a CR for `instance-a` will block CR updates related to `instance-b`. It will also block further updates to `instance-a`, which is probably the reason why the lock ex

[2019-09-27 09:00] objectiser commented on #678
Assume this means requesting an enhancement in the sdk? Or do you think they already support this with appropriate configuration?

[2019-09-27 09:10] jpkrohling commented on #678
Good question. I don't remember seeing this in the scaffold for the OpenTelemetry operator, but I do remember reading about different leader election options.

[2019-09-30 09:34] mehstg commented on #668
Thanks for that. I can now see:
`ES_NODES_WAN_ONLY:    true`

Unfortunately my job is still failing with the same error
`kubectl logs jaeger-spark-dependencies-1569801300-57frm -n tracing
19/09/30 00:03:26 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
19/09/30 00:03:27 INFO ElasticsearchDependenciesJob: Running Dependen

[2019-09-30 09:36] pavolloffay commented on #668
@mehstg could you please paste full jaeger CR? I would like to see the full configuration and especially if you are using TLS.

[2019-09-30 09:56] #654 closed

[2019-09-30 10:06] mehstg commented on #668
Of course.
`apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: jaeger
  namespace: tracing
spec:
  strategy: production
  storage:
    type: elasticsearch
    options:
      es:
        server-urls: https://vpc-prod-eu-west-1-prod01-jaeger-pzzdivavqjkmvtkxccfwua6ekm.eu-west-1.es.amazonaws.com
    dependencies:
      elasticsearchNodesWanOnly: true
  ingress:
    enabled: false
  agent:

[2019-09-30 11:43] pavolloffay commented on #668
The version should not matter that much in this case. But I would not recommend pinning the version of the images. Jaeger operator knows the best which version of the components should be used.

I cannot debug your use case, but you can try the following configuration
1. Use `http://vpc-prod-eu-west-1-prod01-jaeger-pzzdivavqjkmvtkxccfwua6ekm.eu-west-1.es.amazonaws.com` (mind http instead of https)

[2019-09-30 16:22] bhavin192 commented on #487
I would like to work on this one.

[2019-10-01 08:05] objectiser commented on #487
@bhavin192 Its yours.

[2019-10-02 07:54] mehstg commented on #668
I have no issue undeploying/redeploying. I cannot connect to ES via http though. It is blocked on the security group and we will not be able to modify that in production due to security reasons.
I did see on another thread someone seemed to fix this by using the flag `es.net.ssl = true` however I haven't managed to find that in the operator yet.

[2019-10-02 08:48] cedrickring commented on #85
I'll grab this one 👍

[2019-10-02 09:41] jpkrohling commented on #85
Go ahead, @cedrickring. It's yours!

[2019-10-03 03:19] agvikashsagar opened #682 "Unable to connect to ECL Elasticsearch used by cluster logging"
I have deployed Jaeger-Operator in Openshift, where elasticsearch is already running with https. Created a simple-prod CRD to connect with Jaeger operator.
Getting below error,

`  | {"level":"info","ts":1570072149.773908,"caller":"flags/service.go:115","msg":"Mounting metrics handler on admin server","route":"/metrics"}
  | {"level":"info","ts":1570072149.7740974,"caller":"flags/admin.go:108","ms

[2019-10-03 12:29] pavolloffay commented on #682
nit: please use the right github formatting when you are adding logs or code.

All jaeger flags are listed here https://www.jaegertracing.io/docs/1.14/cli/#jaeger-all-in-one-elasticsearch. Look for `--es.tls.*`.

Note that SearchGuard (ES security plugin) is configured to accept client certs generated with these settings https://github.com/openshift/origin-aggregated-logging/blob/master/elasticsea

[2019-10-04 08:48] agvikashsagar commented on #682
Hi Pavol,
jaeger flags are very useful, able to resolve the certificate signed by unknown authority issue. But getting the below error.
`{"level":"fatal","ts":1570177886.571564,"caller":"collector/main.go:91","msg":"Failed to init storage factory","error":"failed to create primary Elasticsearch client: health check timeout: no Elasticsearch node available","errorVerbose":"no Elasticsearch node `

[2019-10-04 09:07] pavolloffay commented on #682
You are doing the right thing to trying curl first.

How did you generate the current certificates? From where did you get them? The certificates are normally generated by jaeger-operator or cluster-logging-operator. But cluster-logging-operator does not generate client certs for jaeger  - with ` CN=user.jaeger,OU=OpenShift,O=Logging'`

It definitely looks like an issue with certificates.

[2019-10-04 09:25] agvikashsagar commented on #682
manually generating the certs with below command.

`openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout latest.key -out latest.cert`

`Generating a 2048 bit RSA private key
writing new private key to 'latest.key'
You are about to be asked to enter information that will be incorporated
into your certificate request.
What you are about to enter is what is called a Distinguished Name or a DN.

[2019-10-04 09:44] objectiser opened #683 "How to deal with deprecated options"
Options for the various Jaeger components may become deprecated and eventually removed over time.

How should these be handled when a user specifies them in a CR? Especially if existing Jaeger instances are just upgraded through subsequent versions automatically by the operator?

Ideally we need the operator to:
(1) inform the user that the CR now includes deprecated or removed options, so needs t

[2019-10-04 10:27] pavolloffay commented on #682
The certs are generated using https://github.com/jaegertracing/jaeger-operator/blob/master/scripts/cert_generation.sh which is called from https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/storage/elasticsearch_secrets.go#L138

We do not support manual generating of the certificates. All is handled by Jaeger operator.

I am interested to hear, why can't you use jaeger-operator.

[2019-10-04 13:03] mehstg commented on #668
@pavolloffay Is there any way I can just disable the jaeger-spark-dependencies? I am not sure it is even functionality I am using.

[2019-10-04 16:03] pavolloffay commented on #668
Yes, `enabled: false` in the dependencies node.

[2019-10-05 16:39] agvikashsagar commented on #682
I am using jaeger-operator to deploy jaeger with production strategy, but need to use the existing elasticsearch running under openshift-logging namespace.

I am not able to connect elasticsearch from jaeger, which expects certs. So trying to generate it.

[2019-10-07 06:44] yuecong opened #685 "how to ignore server certificate check when connect to a self signed existing ES cluster"
I have one existing ES cluster( 7.x) and running in https mode with a self-signed cert.
I can connect it using
[code]
I configured the ES backend as
[code]

But I got the error as
[code]
How can I config jaeger to connect to a self-signed ES server? My server also supports client cert authenticate if it is the only way to do so.

Thanks

[2019-10-07 06:47] yuecong commented on #685
Also, how can I map the options from the cli options to the options to be specified inside the operator?
https://www.jaegertracing.io/docs/1.14/cli/#jaeger-collector-elasticsearch

[2019-10-07 07:20] yuecong opened #686 "what is the difference between --es-archive.* and --es.*"
I saw almost the same settings exist both for --es-archive.* and --es.*. Could someone explain what the difference between these two? Thanks

[2019-10-07 12:44] jpkrohling commented on #686
@pavolloffay can give you more info, but this is for the case where you have your recent data in one place (mostly writes), and older data (mostly read-only) in another ES index/server, for performance reasons.

I realize that we might not have info about this in the docs.

[2019-10-07 12:54] jpkrohling commented on #685
It should be sufficient to use `es.tls.skip-host-verify` as you did. Could you check whether the underlying deployment is being created with this option? Something like:

`kubectl describe deployment {the-jaeger-collector-deployment-name} `

The `options` block from the CR are translated as CLI parameters to the underlying component. Like:

[code]

becomes:

[code]

[2019-10-07 13:05] jpkrohling commented on #683
There are two situations:

1. CR is created for Jaeger 1.1 and the operator gets upgraded version by version until, say, 1.10.
1. User creates a CR using a deprecated/removed option.

In the first case, the operator should change the CR whenever it's upgraded and a deprecated version is used. When the migration path isn't known, we should log and return an error (the upgrade mechanism should alrea

[2019-10-07 13:16] objectiser commented on #683
Not sure we should treat the situations differently, as it may complicate the logic. So even if the user themselves specify a deprecated option, the upgrade logic could still be used to identify a new option - but log the fact, so users may be informed (if they check the logs).

[2019-10-07 13:30] jpkrohling commented on #683
From the code's perspective, those are two different places. In one, we might use the current "normalize" function, while the upgrade logic would be on its version-specific source.

[2019-10-07 13:30] #683 closed

[2019-10-07 15:01] yuecong commented on #686
Thanks for the info. awesome. btw, I think people may use [hor-warm architecture](https://www.elastic.co/blog/hot-warm-architecture-in-elasticsearch-5-x) so that it can be one ES cluster to handle both read/write.

[2019-10-07 15:15] yuecong commented on #685
Thanks for the tip. Here is the output when I describe deployment
[code]
But I still have the error as
[code]

[2019-10-07 15:17] jpkrohling commented on #685
Are you able to replace the IP in the connection string with a hostname?

[2019-10-07 15:34] yuecong opened #687 "Operator sometimes take minutes to create a new deployment after I delete the old jaeger"
I found several times that jarger-operator does not trigger to create a new jaeger deployment after I delete the old one and recreate a new one. Is there a way I can enable the debug level for the jarger-operator so that I can get more info about what is happening inside the operator?
Here is the step to repro
[code]

When I do
[code]
but there is still no deployment and pods for jarger components

[2019-10-07 15:37] jpkrohling commented on #687
You can add `--log-level=debug` to the `args`. More concretely, change this line:

https://github.com/jaegertracing/jaeger-operator/blob/bc81d4a9cc17c99cbadad91235d74fedc38df71c/deploy/operator.yaml#L23

With this:

[code]

[2019-10-07 15:39] yuecong commented on #687
Thanks. will enable it and share the outputs here when next time I had the issue again

[2019-10-07 15:42] yuecong commented on #685
yep. here is the error message now
[code]
I have one existing cluster in another namespace in the same k8s cluster. I think somehow the ignore certificate validation is not set, otherwise, it does need to check the cert at all and there should not be one message as ` certificate is valid for Node`

btw, I tried both cluster IP and the public IP from the same service and both have the same error as

[2019-10-07 16:14] jpkrohling commented on #685
@pavolloffay looks like there's some inconsistency, as pointed out by @yuecong:

https://github.com/jaegertracing/jaeger/blob/fcc0adb751cb9e858a87e5f29ea393d0c8d813f5/pkg/es/config/config.go#L294-L302

Looks like there's a place where TLS=true means that client auth is enabled (which isn't the case).

[2019-10-07 16:56] yuecong commented on #685
Agree this is related to Jaeger rather than the operator as it will be true for all type of deployment. I will work around it for now to use client cert. would like to help to test once it is fixed. Thanks

[2019-10-08 08:01] #28 closed

[2019-10-08 09:45] #618 closed

[2019-10-09 07:04] ronakladhar opened #688 "Adding Monitoring Port to collector, query and agent services"
1. In the current jaeger operator installation, there is no provision for adding monitoring port to collector, agent and query services and they are also not present in default installation.
When i tried manually adding these ports, configuration is reverted back by Jaeger Operator.

  - Document Referred:
     https://www.jaegertracing.io/docs/1.14/monitoring/

2. Also there is no provision to ex

[2019-10-09 07:30] jpkrohling commented on #688
About 1., the Operator adds annotations to the deployments/daemonsets/... that can be used by tools like Istio to build the monitoring configuration for Prometheus.

https://github.com/jaegertracing/jaeger-operator/blob/54f74a5bececad40024a501ee596824edbe43828/pkg/deployment/all_in_one.go#L46-L49

If you are not using Istio, and if you are using the Prometheus Operator, you can create extra regula

[2019-10-09 07:31] jpkrohling commented on #688
I'm closing this issue, as I think this answers your questions, but feel free to reopen if that's not the case.

[2019-10-09 07:31] #688 closed

[2019-10-09 08:12] ronakladhar commented on #688
https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/service/collector.go
It's service file doesn't have an entry for 14269/TCP port

Similarly for query service too.

[2019-10-09 08:16] ronakladhar commented on #688
I am installing it out of Istio and trying to integrate with Prometheus comes with default Istio installation using config file containing Kubernetes service discovery for searching targets.

At least collector and query service should have monitoring port exposed in their Kubernetes service.

[2019-10-09 08:31] objectiser commented on #688
@ronakladhar Which version of Istio are you using?

[2019-10-09 08:59] ronakladhar commented on #688
Istio-1.3.1

[2019-10-09 09:05] jpkrohling commented on #688
The service doesn't need to expose the metrics port, as Istio will contact the pod directly.

[2019-10-09 09:07] #85 closed

[2019-10-09 09:12] ronakladhar commented on #688
But since it is outside the istio, i am using service discovery over collector and query service.
Attaching snippet of my prometheus configuration:
`- job_name: jaeger-collector-monitoring
  scrape_interval:
  scrape_timeout:
  metrics_path: /metrics
  scheme: https
  kubernetes_sd_configs:
  - role: service
    namespaces:
	  names:
	  - observability
  relabel_configs:
  - source_labels: [__meta

[2019-10-09 09:24] jpkrohling commented on #688
Is that a working configuration with a custom `Service` resource, or the one that isn't working because the `Service` has no monitoring port exposed? If you are using the Prometheus Operator, it's probably easier (better?) to use `ServiceMonitor` and/or `PodMonitor` resources.

[2019-10-09 09:51] ronakladhar commented on #688
It's one which is not working as there is no monitoring port exposed.
I agree that using prometheus operator would be a better option but currently it has no integration with istio installation and it will require additional configuration for adding istio resources as well.
For testing purposes i am doing this integration.
In my opinion there should be a provision for exposing monitoring port with

[2019-10-09 09:54] pavolloffay commented on #686
The `--es-archive.*` or `--cassandra-archive` are used to store archive traces. There is a button in the UI in trace detail view which stores a trace to archive storage.

I have realized that we do not document the archive storage anywhere. At least I could not find any docs. @yurishkuro are there any docs explaining archive storage?

I am moving this to website/docs repository

Btw. hot-warm indi

[2019-10-09 10:08] jpkrohling commented on #688
The monitoring port shouldn't be exposed in the same service that exposes ports to external consumers. Our plan is to add extra services exposing *only* the monitoring ports. This will also be a step in the direction of having the Jaeger Operator to create `ServiceMonitor` resources when the Prometheus Operator exists.

We'd certainly welcome a PR that creates an extra `Service` exposing only the

[2019-10-09 10:24] ronakladhar commented on #688
Thanks for your support and suggestions. I will certainly try using prometheus operator.

[2019-10-09 11:45] pavolloffay commented on #682
Thanks for describing your use-case!

We do not support this scenario. You will have to get cert components which are needed for Jaeger client cert generation and then generate jaeger certificates with it. ES CA cert should be stored in a secret.

[2019-10-10 13:45] orthoxerox opened #690 "Document env vars for overriding Jaeger image sources"
This is important when running Jaeger on a self-hosted cluster with no direct access to the Docker Hub.

The support for them was added in #21, but neither the documentation nor the deployment YAML indicate they exist and what their names are. I had to look at the source code and read Viper documentation to learn that they should be called JAEGER-ALL-IN-ONE-IMAGE, OPENSHIFT-OAUTH-PROXY-IMAGE etc.

[2019-10-10 14:12] jpkrohling commented on #690
How do you feel about sending a PR with your proposal? The appropriate place for that would be the documentation repository, here: https://github.com/jaegertracing/documentation/blob/master/content/docs/next-release/operator.md

For the record, you can see all the flags by running the image with the `start` command and `--help` flag:

[code]

[2019-10-11 13:13] jpkrohling opened #691 "Check whether the thrift configuration for the injected sidecar is correct"
When testing on OpenShift (crc) with Maistra, the injected sidecar to the `business-application-injected-sidecar.yaml` looks like this:

[code]

The `collector.host-port` seems to missing the namespace.

[2019-10-13 12:44] Crevil commented on #668
I also have problems getting the dependencies job to run. I've tried combinations of `elasticsearchNodesWanOnly` and `elasticsearchClientNodeOnly` with no luck. I'm unsure if this s an issue with the operator setting up the jobs or the jobs them self.
I'm thinking it's the latter as the configuration changes are reflected in the job environment variables just fine.

Any leads in to what I can do t

[2019-10-13 14:06] Crevil commented on #668
I think I might be on to something. If `server-urls` contains a port number these are not propageted to `ES_NODES` with that port. It then defaults to 9200.
For AWS hosts the port sjould be 443 when accessing it with HTTPS

I’ll see if I can replicate this in a simple setup.

[2019-10-14 08:36] pavolloffay commented on #691
I think `--collector.host-port` will be ignored because grpc reporter is used `--reporter.type=grpc`. Better would be to not set the `--collector.host-port` at all as it is deprecated.

[2019-10-14 08:38] objectiser commented on #691
The `--collector.host-port` was being added by the Maistra template - that should be removed in the next release so I think this can be closed?

[2019-10-14 08:42] jpkrohling commented on #691
I opened this one so that I wouldn't lose track of it, but I later figured out that it was added by the Maistra template. Closing this.

[2019-10-14 08:42] #691 closed

[2019-10-14 08:56] jpkrohling opened #692 "Update Operator SDK to v0.11.0"
The Operator SDK 0.11.0 was released, fixing some bugs that were affecting us. This issue is to track the update to this new version.

[2019-10-14 09:09] pavolloffay commented on #668
`ES_NODES` should contain exactly the value of `server-urls`
https://github.com/jaegertracing/jaeger-operator/blob/a059701671aba3b097dda1ecde16b110b9fbb071/pkg/cronjob/spark_dependencies.go#L137

Could you please paste here Jaeger CR and job spec which does not contain the same values for ES urls?

[2019-10-14 09:54] jpkrohling opened #694 "Watch resources created by the operator"
Newer versions of the Operator SDK allow the operator to watch resources that it has created as part of a CR that it manages. For instance, the Jaeger Operator can watch for `Service` objects that were created when a given `Jaeger` object was created.

The code would look like this in the `pkg/controller/jaeger/jaeger_controller.go`:

[code]

[2019-10-14 09:56] Crevil commented on #668
I didn’t get any longer with it yesterday. Just wanted to add a bit more context. I’m back at my computer tomorrow and will make sure to post the info you ask for.

When giving this more thought: could it be that the two components have different defaults? We specified the hodt name in `server-urls` without a port number and it worked for everything except the dependencies job.

[2019-10-14 22:35] shubhanshus opened #696 "Override sampling strategy file in Jaeger Collector"
I am trying to use sampling strategy with my jaeger collector. I am able to pass the sampling file to the collector and it shows up in the args list. But, the problem is jager-collector always picks up the default (`sampling.strategies-file=/etc/jaeger/sampling/sampling.json`) file. I tried to modify the default file but seems like that's not possible.

[code]

Is there any way to make jaeger-coll

[2019-10-15 06:27] Crevil commented on #668
Ok. Specifying the port number did in fact work as you expected. I had a bad configuration of the jaeger instance making it non-reflected in the jobs.

In other words. Setting `elasticsearchNodesWanOnly: true` and ensuring the specify the port of the AWS Elasticsearch host makes the jobs work as expected.

[code]

This leaves me with the assumption from above regarding different default value hand

[2019-10-15 07:14] Crevil commented on #668
It does indeed looks to be the case.

In the jaeger collector there is no addition of a port-number if non is specified: [`elastic.SetURL(c.Servers...)`](https://github.com/jaegertracing/jaeger/blob/master/pkg/es/config/config.go#L285) but the spark dependencies job will add a default port number `9200`:

[code]

So this confirms the odd behaviour of the collector working but the jobs do not.

I g

[2019-10-15 07:56] qbast opened #697 "No identifying labels on ES Index Cleaner pod"
I am trying to setup network policies for my 'monitoring' namespace. This includes restricting access to ElasticSearch to Jaeger.
I can easily create a policy for Jaeger itself by matching on app=jaeger annotation, but unfortunately pods created by ES cleaner cron job have no identifying annotations.
Please modify cronjob template to add annotations that can be used to identify cleaner pod.

[2019-10-15 07:59] objectiser commented on #696
This looks like a bug - the operator is appears to be adding the default path even though the CR is overridding it.

Have you tried specifying your sampling strategies directly in the CR? As described here: https://www.jaegertracing.io/docs/1.14/operator/#defining-sampling-strategies

[2019-10-15 08:02] jpkrohling commented on #697
I think you probably meant `labels`, as that's where we place the `app=jaeger` key/value pairs. Looking at the source, it looks like we do set the same `app=jaeger` label:

https://github.com/jaegertracing/jaeger-operator/blob/5f250045063bc8490bceeb39d1aec4641c4c720a/pkg/cronjob/es_index_cleaner.go#L56-L63

Are you able to share the output of `kubectl describe cronjob my-jaeger-es-index-cleaner`,

[2019-10-15 08:33] qbast commented on #697
Hello

Yes, I mean labels not annotations.
Here is output from describe cronjob:

[code]

So it looks ok. However `kubectl describe pod jaeger-es-index-cleaner-1570924500-dvnj6` shows:

[code]

So labels from the cronjob are not propagated to pods.

[2019-10-15 08:33] jpkrohling opened #698 "Enable auto-provision of Kafka when using "streaming" strategy"
When provisioning the Elasticsearch storage, if the server url is not defined (and running on OpenShift), the Jaeger operator will attempt to auto-provision the Elasticsearch storage using the elasticsearch-operator.

The same capability should be provided when the "streaming" strategy has been selected, and the Kafka topic (and/or broker) has not been configured for both consumer and producer.

U

[2019-10-15 08:36] jpkrohling commented on #698
AMQ documentation shows this as a CR example:

[code]

[2019-10-15 08:41] pavolloffay commented on #668
@Crevil thanks for digging into this!

I do not understand how the collector can work when the port number is missing.

[2019-10-15 08:50] objectiser commented on #698
My preference would be just based on the broker - as this is equivalent to the ES server URL. We should still enable the user to specify the topic they wish to use, regardless of how the kafka cluster is provisioned.

[2019-10-15 09:02] jpkrohling commented on #697
Good catch. This is because the PodSpec is missing the labels:

https://github.com/jaegertracing/jaeger-operator/blob/5f250045063bc8490bceeb39d1aec4641c4c720a/pkg/cronjob/es_index_cleaner.go#L82-L98

[2019-10-15 09:03] jpkrohling commented on #697
@qbast would you be open to sending a PR to add the labels to the PodSpec?

[2019-10-15 09:50] pavolloffay commented on #668
note that port 9200 in spark-dependencies is added automatically by spark ES connector.

[2019-10-15 14:55] satyajituk opened #700 "Can't access UI after port-forward using simplest jaeger instance"
I am running **jaeger-operator** and **simple jaeger instance** as per the readme file here: https://github.com/jaegertracing/jaeger-operator

If I do `kubectl logs -l app.kubernetes.io/instance=simplest` I can see that the http server is running among other things:
`{"level":"info","ts":1571139333.5400417,"caller":"app/server.go:112","msg":"Starting HTTP server","port":16686}`

I can see the pod

[2019-10-15 15:02] jpkrohling commented on #700
Your `port-forward` is trying to attach to the port 16686 of the _operator_. It should attach to the port on the _instance_. Something like:

[code]

[2019-10-15 15:06] satyajituk commented on #700
Thanks @jpkrohling ! This works now. I was unaware of the service `simplest-query`.

[2019-10-15 15:06] #700 closed

[2019-10-15 18:42] shubhanshus commented on #696
@objectiser thanks for your input. I tried that too. The Jaeger-collector picks the default sampling file in that case too.

I can see the sampling configuration present in my Jaeger configuration.

[code]

However as you can see the collector is still picking up the default strategy file.

[code]

[2019-10-15 22:17] christine-gong opened #701 "Add a custom filter to jaeger collector"
Is it possible to have a custom filter to filter out unwanted information in the tracing spans.
e.g. the request could have user id as part of query url, which we want to reduct before sending to kafka/elasticsearch.
What is the best practice to do that? Thanks!!!

[2019-10-16 06:55] #692 closed

[2019-10-16 07:50] objectiser commented on #701
It is not currently supported in Jaeger's collector, but this capability is being developed in the [OpenTelemetry collector](https://github.com/open-telemetry/opentelemetry-collector/tree/master/processor) - but not sure how mature it is currently. So you could have an OpenTelemetry collector with Jaeger receiver, the attribute processor and then a Jaeger exporter to push data to the actual Jaeger

[2019-10-16 08:08] objectiser commented on #696
@shubhanshus Yes that is correct - however the sampling strategies defined in the Jaeger CR will have been written to the sampling file `/etc/jaeger/sampling/sampling.json`.

Have you tested to see whether the sampling strategy you defined is being used?

[2019-10-16 09:29] volmedo commented on #137
I'm planning to give this issue a try :)

[2019-10-16 16:25] haf-afa opened #702 "secretName is undocumented"
How does it work? It's documented that is can be used https://www.jaegertracing.io/docs/1.14/operator/#secrets-support but not what its intent is: to provide a key-value pair for username-password, or to provide ENV vars that gets fed the container?

[2019-10-16 16:34] volmedo commented on #137
What tests should I care about to be sure I'm not breaking anything? Should unit tests be enough or will I need to run full e2e tests?

I just created a `type DeployStrategy string` and changed `JaegerSpec.Strategy` from `string` to `DeploymentStrategy` and some tests exploded with `make test` (obviously), but I wonder if getting them to pass again is enough guarantee.

[2019-10-16 18:32] yeya24 commented on #697
@jpkrohling I see there are several labels for the cronjob. So what labels do I need to add in the pod besides `app=jaeger`? Do I need to add other labels?
[code]

[2019-10-16 18:38] christine-gong commented on #701
@objectiser thanks for the information! If I want to add my own implementation, should be something similar to https://github.com/jaegertracing/jaeger/blob/master/cmd/collector/app/sanitizer/service_name_sanitizer.go ?

[2019-10-17 00:24] shubhanshus commented on #696
Yes, I tried that. It works perfectly fine and collector picks up the correct strategy defined in Jaeger configuration. But, that doesn't seems to be a viable option when we have lots of services.

[2019-10-17 08:51] haf-afa opened #703 "Support username and password in spark dependencies"
So we should make it recognise secretName, so that the cluster doesn't get lots of failed spark-dependencies runs.

Also, would the maintainers consider doing a spark-dependencies run immediately upon installation (or five minutes after, possibly?) so that the operator (me in this case) knows something is wrong?

Please assign me to this issue, I would like to fix this.

[2019-10-17 09:07] objectiser commented on #696
@shubhanshus Could you provide more details of why this is an issue?

[2019-10-17 09:10] jpkrohling commented on #702
The secret support is generic can have many purposes. One of them could be to host the certs required to enable TLS in different components, like when acting as a client to an Elasticsearch cluster, or the certs to use as a server on gRPC ports. Then, you can combine the secret with volumes/volume mounts to have them available as local files in the container, and pass this path as a CLI parameter

[2019-10-17 09:13] jpkrohling commented on #702
The first one (gRPC) is an easy one, so, I'm tagging this as "good first issue". The second one (Elasticsearch client) is a bit harder and involves understanding the following code:

https://github.com/jaegertracing/jaeger-operator/blob/master/scripts/cert_generation.sh
https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/storage/elasticsearch_secrets.go

[2019-10-17 09:15] jpkrohling commented on #703
That would be like a dry-run, right? I'm certainly fine with changing it to run immediately.

[2019-10-17 09:17] jpkrohling commented on #701
Yes, that's an example of a filter (sanitizer in Jaeger terms). Note however that you need to assemble your own collector binary to make use of that.

[2019-10-17 09:21] jpkrohling commented on #697
They should all be added. Using the `Deployment` as reference, we have the same labels both at the [Deployment's `.ObjectMeta`](https://github.com/jaegertracing/jaeger-operator/blob/bad90a64177d062f7be973d73de00d404b92b95f/pkg/deployment/all_in_one.go#L90) and at the [Deployment's `.Spec.Template.ObjectMeta`](https://github.com/jaegertracing/jaeger-operator/blob/bad90a64177d062f7be973d73de00d404b9

[2019-10-17 09:22] jpkrohling commented on #137
Unit tests should be enough. Then, you can run the operator in a `minikube` local cluster, deploying the `deploy/examples/simplest.yaml` to make sure a simple CR can be successfully deployed. If it works fine, ie, the Jaeger pod is created and starts, then there's a good chance that everything works. Send the PR at this point, and the CI will run all the e2e tests, giving us confidence that nothin

[2019-10-17 10:18] pavolloffay commented on #420
I came across this. To expose collector port as OpenShift route run this:

[code]

[2019-10-17 12:01] volmedo commented on #137
I've created the PR. I used `kind` instead of `minikube`, but was able to deploy `simplest.yaml` successfully.

I also ran unit tests and everything passes, except for [`TestExtractSecretsToFile_Err`](https://github.com/jaegertracing/jaeger-operator/blob/bad90a64177d062f7be973d73de00d404b92b95f/pkg/storage/elasticsearch_secrets_test.go#L112) and [`TestWriteToWorkingDir`](https://github.com/jaegert

[2019-10-17 12:20] jpkrohling commented on #137
Are they passing for you before you apply your changes? If they are failing even before you apply your changes, please create an issue so that we can track the problem.

The code you found is talking about the same strategies, but in a different level. Yours is about the value from the CR, and this is the strategy that is derived from the CR value. You can unify them, removing the existing one, ke

[2019-10-17 12:23] haf-afa commented on #702
It's not just storage in one component that gets affected; it's the:

- elasticsearch client in collector
- elasticsearch index cleaner
- elasticsearch spark_dependencies/k8s Job

[2019-10-17 12:25] haf-afa commented on #702
And one more case:

- [ ] ES_PASSWORD and ES_USERNAME: this is especially relevant since the elasticsearch operator by default sets the `elastic` user with an auto-generated password; only for demos would it make sense to have this operator deploy an ES cluster (IMO)

[2019-10-17 14:34] yurishkuro commented on #701
Neither is a good solution due to the lack of pluggability in Go. Only if the sanitizer is something standard and heavily configurable, then I don't think it matters where to put it.

[2019-10-17 18:01] shubhanshus commented on #696
@objectiser sure, so what we were thinking of is using the sampling strategies file and updating our sampling strategies based on the application load and the number of services we have. This was under the assumption the jager-sampling configmap will pickup the configuration whenever there is a change.

But, as per my understanding right now we have to redeploy the jager-configuration all the time

[2019-10-17 19:47] objectiser commented on #696
@shubhanshus Thanks, that makes sense.

Would you be interested in contributing a PR to fix this? Essentially if the `sampling.strategies-file` option is defined, then any sampling strategy defined within the CR should just be ignored - possibly logging a warning.

[2019-10-17 21:30] shubhanshus commented on #696
Sure, I can pick this up. Though might need some support from the community as this would be my first contribution.

[2019-10-18 07:21] jpkrohling commented on #701
True. Or the agent should contain such sanitizers, but that kinda breaks the premise that agents are just "smarter pipes" between the client and collector.

[2019-10-18 07:25] jpkrohling commented on #696
Check the CONTRIBUTING.md at the root of the repository. If you have any questions or if you get stuck, let us know.

[2019-10-18 09:19] pavolloffay commented on #668
I think the job should automatically set `es.nodes.wan.only` if the `ES_NODES` are specified. Most people are struggling with this.

Then we can check the hosts string and generate a warning if the port is missing.

[2019-10-18 10:02] Crevil commented on #668
Setting `es.nodes.wan.only` would indeed have made my issues easier. This would be a breaking change, right?

`olivere/elastic` does no modifications on the URL before connecting (it just uses `url.Parse()` on provided values) and it uses an [`http.Client` be default](https://github.com/jaegertracing/jaeger/blob/d77a9b5f9ba20cd55ef1864d5f2af654bc292685/pkg/es/config/config.go#L290-L292) with a TLS

[2019-10-18 11:26] objectiser commented on #701
Just for reference, the opentelemetry collector already appears to have the capability based on per services rules: https://github.com/open-telemetry/opentelemetry-collector/blob/master/processor/attributesprocessor/testdata/config.yaml#L125-L137

[2019-10-18 11:54] pavolloffay commented on #668
It should not be breaking change. The clients will be able to connect, the ES client will just switch off auto-discovery.

To make that work I will have to submit a PR to the operator to not set `es.nodes.wan.only` if the value was not specified in the CR.

[2019-10-18 11:56] pavolloffay commented on #668
I have submitted #708 for the operator and https://github.com/jaegertracing/spark-dependencies/pull/79 in spark-dependencies.

[2019-10-18 12:08] Crevil commented on #668
Great. Thanks for taking time to add these changes. It should make it a lot easier for future users of this operator. 🙏

[2019-10-18 12:25] pavolloffay opened #709 "Checksum mismatch for operator-sdk during make install"
Also reported in https://github.com/jaegertracing/jaeger-operator/pull/705#issue-329237301

[code]

[2019-10-18 12:26] pavolloffay commented on #709
Before running `make install` I have removed vendor directory and `rm -rf ~/projects/golang/pkg/mod/github.com/operator-framework`

[2019-10-18 12:31] pavolloffay commented on #709
Removing `rm -rf ~/projects/golang/bin/operator-sdk` didn't help either.

[2019-10-18 12:33] pavolloffay commented on #709
Removing `github.com/operator-framework/operator-sdk v0.11.0 h1:If0MefBJjPGYAW6Os6azpTMoaFtsSlXRlQctF23/ORs=` from `go.sum` helped but now I got

[code]

[2019-10-18 12:47] pavolloffay commented on #668
np thanks for digging into this you helped the most!

[2019-10-18 13:42] pavolloffay commented on #709
This was related to using go 1.13.x. Going back to go 1.12.x worked.

[2019-10-18 13:42] #709 closed

[2019-10-18 13:43] pavolloffay opened #711 "Build with Golang 1.13.x"
Build the repository with Golang 1.13.x. At the moment it produces checksum errors https://github.com/jaegertracing/jaeger-operator/issues/709

[2019-10-18 14:30] jpkrohling opened #714 "Refactor Kafka e2e tests"
The PR #713 brings auto-provisioning of Kafka clusters. It adds two new types to the project, `Kafka` and `KafkaUser`, which can be used instead of the `unstructured.Unstructured` that is currently being used by the tests. Besides, the Kafka e2e tests could run for all PRs as well, as Strimzi works on vanilla Kubernetes.

[2019-10-18 14:35] jpkrohling commented on #711
Relates to #669

[2019-10-18 15:31] yurishkuro commented on #701
yeah, that's the type of complex configuration I was referring to. Better not to reimplement it in Jaeger.

[2019-10-18 15:48] pavolloffay commented on #668
done in #708

[2019-10-18 15:48] #668 closed

[2019-10-18 15:57] jpkrohling commented on #701
I guess we have consensus then and I'm closing this issue.

@christine-gong: I encourage you to try the OpenTelemetry Collector out. If you need any assistance, let me know!

[2019-10-18 15:57] #701 closed

[2019-10-20 18:16] bharaththiruveedula commented on #487
@objectiser @bhavin192 if no one working on this, can I take it up?

[2019-10-21 03:29] bhavin192 commented on #487
Sorry for complete silence on this. Wasn't having proper cluster setup on my machine. Now I have it, so I'm working on this. I think it's possible to solve this and #226 in one PR.

[2019-10-21 07:39] pavolloffay opened #715 "Publish latest/master images for every master build"
Created from https://github.com/jaegertracing/jaeger-operator/pull/705#issuecomment-543809611

Each merge to master should publish a new image - either latest/master. The use-case is to allow users to try latest operator features. We do the same in Jaeger - every build publishes a new latest image.

One thing to consider, the latest image could also by default use the latest Jaeger components.

[2019-10-21 08:54] volmedo opened #716 "Flaky tests on 'pkg/storage/elasticsearch_secrets_test.go'"
Some tests in [`elasticsearch_secrets_test.go`](https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/storage/elasticsearch_secrets_test.go) use `assert.EqualError` to check for specific error conditions. IMHO, this is not a great approach in general, but in this case things are worse because the error message is coming from the OS. Thus, tests running on different platforms could throw

[2019-10-21 09:01] volmedo commented on #137
They were failing before I changed anything, that's why I think they are flaky. I've already created a new issue for this.

Great, I've pushed a commit unifying them :)

[2019-10-21 09:22] jpkrohling opened #717 "Remove 'ingester.options.ingester.deadlockInterval' from examples"
The default value for the property `ingester.deadlockInterval` [has been changed](https://github.com/jaegertracing/jaeger/pull/1868) to `0` for Jaeger 1.15. After Jaeger 1.15 is released but before the Operator 1.15 is released, we should consider removing the option that sets this value to `0`, as will be just noise by then.

Example:
https://github.com/jaegertracing/jaeger-operator/blob/01e39a38

[2019-10-21 09:22] jpkrohling commented on #717
Note that a new example using the same flag is part of #713.

[2019-10-21 10:38] #697 closed

[2019-10-21 11:46] #715 closed

[2019-10-21 12:27] jpkrohling commented on #715
Seems to be working now:

Docker Hub:
![image](https://user-images.githubusercontent.com/13387/67204881-c39bd500-f40e-11e9-8314-41f1c0f47864.png)

Quay:
![image](https://user-images.githubusercontent.com/13387/67204909-d7473b80-f40e-11e9-8687-e02b268c0a3f.png)

[2019-10-22 13:59] #137 closed

[2019-10-22 14:32] derXear opened #721 "Failed to create a jaeger instances when POD_NAMESPACE is empty"
Hey,
I'm trying to create a jaeger instance in **K8s v1.16** but the jaeger-operator (**v1.14**) seems to fail when creating an instance with the following error:

[code]
The error seems to indicate that there is a prefixed **.** in the jaeger-operator name.

jaeger-operator YAML is like:
[code]

and the actual instance is:
[code]

Is this actually an issue or am I missing something? I'm sure that

[2019-10-22 22:53] amila-ku commented on #717
i would like to work on this.

[2019-10-23 06:49] jpkrohling commented on #717
Thank you for your interest in this one, but it isn't ready to be done right now, given that it requires Jaeger 1.15, which hasn't been released yet. I can assign it to you anyway if you want, but we should have quite a few other issues that are suitable as a good-first-issue, in case you are interested.

[2019-10-23 07:03] jpkrohling commented on #721
I could reproduce this with Kubernetes v1.15.2 as well.

[2019-10-23 07:19] jpkrohling commented on #721
That's exactly it. The problem is that your `operator.yaml` is missing the `POD_NAMESPACE`, which was added recently. You should be seeing the following as the first lines of the operator's log:

[code]

To fix it, add the following at the same level as the `POD_NAME`:
https://github.com/jaegertracing/jaeger-operator/blob/281ce628799c33f60b1539407c2fc2bc1eee94e3/deploy/operator.yaml#L32-L35

The o

[2019-10-23 15:07] objectiser commented on #698
Implemented in https://github.com/jaegertracing/jaeger-operator/pull/713

[2019-10-23 15:07] #698 closed

[2019-10-23 20:39] amila-ku commented on #717
then i will checkout other ones.

[2019-10-23 20:40] amila-ku commented on #56
i would like to work on this if this is still required..

[2019-10-24 07:54] jpkrohling commented on #56
Looks like we only have readiness probes:

https://github.com/jaegertracing/jaeger-operator/blob/b6211a465568a11dcfd3b3ecf7ff16b30d8a9915/pkg/deployment/all_in_one.go#L173-L181

So, go ahead!

[2019-10-24 12:17] nha opened #724 "Are the requirements ingress and separate authentication/authorization?"
from the README

[code]

This means the UI would be public to anyone right? And also that you need to have an ingress set up (which may or may not be the case in bare-metal kubernetes clusters)?

Was it the case before? I recall being able to hit `jaegertracing-collector:14268/api/traces` and  `jaegertracing-collector:5788` service before - can this still be done?

[2019-10-24 12:21] jpkrohling commented on #724
Correct, the ingress is so that the Jaeger *UI* is accessible via an external IP, which might be still be internal to your internal network (which is the case with `minikube`). That's one of the main reasons why we allow disabling the ingress, as the rules differ from setup to setup and it's easier to manage the ingress externally to the operator.

Note that the ingress isn't exposing the collecto

[2019-10-24 17:19] nha commented on #724
Got it thanks 👍

[2019-10-24 17:19] #724 closed

[2019-10-25 07:20] jpkrohling opened #726 "Create an issue on other repos when operator.yaml changes"
As we've seen in #721, changing the resources we deploy as part of the Operator (operator.yaml, role.yaml, ...) has an effect in other downstream projects, like the Helm Chart.

GitHub Workflow is a great way to address this kind of problem. A new workflow could be triggered when a certain path has changed, like this:

[code]

And then create an issue in the Helm Chart repository about it, possibl

[2019-10-25 08:29] #721 closed

[2019-10-25 13:32] jpkrohling opened #728 "Upgrade deprecated flags from previous versions"
There are a few deprecated flags from pre-1.15 versions that can be migrated to new flags in 1.15 (currently master).

This task is to track the task of writing an upgrade procedure to migrate them.

[2019-10-25 14:38] satyajituk opened #729 "Is there a recommended file to start running Jaeger instance with everything customizable?"
I am running jaeger operator according to the [getting started](https://github.com/jaegertracing/jaeger-operator) recommendation.
I am currently facing the issue where my pod is getting evicted:
[code]

If I do a `kubectl describe pod simplest-74c568c497-7t9mm` I get the below reason:
[code]

As a first thing I want to be able to increase the memory available to more than the default ones. But I a

[2019-10-25 14:38] pavolloffay commented on #438
Based on https://operatorhub.io/operator/jaeger we are already level 4- deep insights.

[2019-10-25 14:38] #438 closed

[2019-10-25 15:14] jpkrohling commented on #729
What's your Kubernetes environment (minikube? Google? OpenShift?). Are you using the in-memory storage, or are you a permanent storage mechanism, like badger, Elasticsearch or Cassandra?

[2019-10-25 15:17] satyajituk commented on #729
Google i.e. GKE.
I haven't set up anything extra apart from the getting started info given in the link. So currently it is in-memory.
I plan to use a permanent storage mechanism, can you point me in right direction in this as well?

[2019-10-25 15:23] jpkrohling commented on #729
Could you try it out on `minikube`? Do you know whether GKE *requires* the resources requests/limits to be set? For the time being, you can set the resources requests/limits like this:

[code]

This is the official documentation for the operator: https://www.jaegertracing.io/docs/1.14/operator/
It includes information about how to use more permanent storage mechanisms.

[2019-10-25 15:33] satyajituk commented on #729
Thanks. I will look into GKE then. And will use the above way of setting resources.
Just to be clear, if it is running on in-memory, then if the pod restarts then the data will be lost right? This might be a reason why I am not seeing anything in my UI.

[2019-10-25 16:14] satyajituk commented on #729
Is there any general advice on how to debug things? Right now, even though everything is running fine (i.e. services, jaeger instance, my own apps) I can't see traces in my UI. It is tricky to know where to start looking.

[2019-10-28 09:30] objectiser commented on #729
Have you looked at https://www.jaegertracing.io/docs/1.14/troubleshooting/ ?

[2019-10-28 14:01] jpkrohling opened #733 "Add "flag transformation" feature"
As discussed in #730, we could move in the future to have a "transformation map" to be applied to the `Options` objects. This way, we can handle migration of flag options and transformation of their values in the reconciliation *and* in the migration steps.

One use case where this would be an advantage when compared to our current approach is when using a current version of the Jaeger Operator to