[2019-10-28 14:32] #728 closed

[2019-10-28 15:35] haf-afa commented on #192
No, it uses port 6831; the agent's thrift-udp port. https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/third-party-addons/opentracing.md

[2019-10-28 20:58] amila-ku commented on #56
thanks for pointing to the file, i will create a PR

[2019-10-29 09:42] harshal-shah opened #735 "Docker images missing for 1.13.2 1.13.3 and 1.13.4"
While there are 1.13.2,3,4 releases on github, there are no docker images on dockerhub

![image](https://user-images.githubusercontent.com/16479600/67755608-bd25e280-fa38-11e9-83dd-bcf5637a8aa2.png)

[2019-10-29 09:46] harshal-shah opened #736 "RBAC error after upgrading to version 1.14"
After upgrading jaeger-operator, jaeger-agent and jaeger-all-in-one to version 1.14,
the operator gives following error:

[code]

[2019-10-29 09:59] harshal-shah commented on #736
I was able to resolve this by passing the option `rbac.clusterRole=true` to helm.

[2019-10-29 09:59] #736 closed

[2019-10-29 10:02] objectiser commented on #735
@harshal-shah There are no Jaeger releases for version 1.13.2/3/4, see https://github.com/jaegertracing/jaeger/releases. The only releases are 1.13.0, 1.13.1 and most recently 1.14.0.

[2019-10-29 10:06] harshal-shah commented on #735
I got confused with the `release/` releases on github

![image](https://user-images.githubusercontent.com/16479600/67757482-2e1ac980-fa3c-11e9-8c98-89d57c640ba2.png)

[2019-10-29 10:07] #735 closed

[2019-10-29 10:23] jpkrohling commented on #735
Based on the dates, I assume this has to do with testing the release script.

[2019-10-29 10:25] jpkrohling opened #737 "Instrument Jaeger Operator"
Instrument the Jaeger Operator, so that it can create traces per reconciliation.

[2019-10-30 11:11] emailtovamos opened #740 "all-in-one with non-memory storage (Kubernetes)"
I could find an [example](https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/all-in-one-with-options.yaml) of `all-in-one` Jaeger instance with `in-memory` storage. But there is no such example for doing it with `elasticsearch`.
Where can I find it?
I understand one has to have elasticsearch running already and THEN one can incorporate corresponding changes in the above y

[2019-10-30 11:16] objectiser commented on #740
There is another example that uses [Badger local storage](https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/with-badger-and-volume.yaml) - this should give you what you are looking for. We need to update the documentation to clearly outline this option.

[2019-10-30 13:00] emailtovamos commented on #740
Thanks, I will try it out. But is there any other setting up needed for Badger? Like creating volume separately? Or your example takes care of it already?

[2019-10-31 09:06] jpkrohling commented on #737
The referenced PR has a first draft for this, but there are a couple of things to figure out, especially regarding the usage of a Jaeger Agent as sidecar to the Operator's deployment.

I have talked with @objectiser about this, and here are some thoughts:

- The agent is an extra piece of infra to maintain. Ideally, we would use the gRPC exporter instead of Thrift, but I'm not sure this is already

[2019-10-31 11:26] figaw opened #742 "Unable to customize portname on service"
When using the Istio service mesh, it's important that services have specific port names, at least their prefixes. See: https://istio.io/docs/setup/additional-setup/requirements/

Currently the `query`-service has its port named `query` which means Istio won't route traffic.

We're currently patching this with a small script:

[code]

But this of course feels a bit hacky, we'd rather like to be ab

[2019-10-31 12:55] jpkrohling commented on #742
Do you have more info about this specific part? I thought `http` would have been enough to have it working.

While I think we *should* at least name the ports with the protocol in the first part of the name (`http-`), it's worth noting that this shouldn't be required "soon", perhaps as soon as Istio 1.4, as it will probably ship with a more intelligent protocol detection: https://istio.io/news/201

[2019-10-31 13:17] emailtovamos commented on #740
Thanks @objectiser - I tried the Badger storage as per the file you mentioned. It worked fine as I could see my services in the UI. But just to test the persistence nature, I deleted the jaeger instance pod. Another pod sprung back on as expected. But this time I could no longer see my services in the UI. Is this expected behaviour? I was expecting it to still show stuff.

[2019-10-31 13:19] jpkrohling commented on #740
For production purposes, you probably would want to provision the storage yourself and specify the volume mount/volume in the Jaeger CR. The Jaeger Operator will only create `emptyDir` volumes, which effectively makes it just a bit better than ephemeral.

[2019-10-31 13:26] figaw commented on #742
I don't have more info about `mTLS` right now, and I'd be happy to settle for a "solve one problem at a time"-way of working, and get back to you when (if?) we have an actual need for the HTTPS part :)

- Parameterizing the name would solve the problem generally.
- Upgrading to the next version of Istio would solve the problem for HTTP.
- Just calling the port `http` or `http-query` would solve th

[2019-10-31 13:28] emailtovamos commented on #740
You mean like the options shown here: https://www.jaegertracing.io/docs/1.14/operator/#storage-options ?

[2019-10-31 13:30] jpkrohling commented on #742
Prefixing all the ports would be my preference. It's simple enough, yet effective.

[2019-10-31 13:41] jpkrohling commented on #740
The example that @objectiser mentioned and that you are probably using is the right way, just replace `emptyDir` in the volume definition with a production-quality concrete storage: https://kubernetes.io/docs/concepts/storage/volumes/#types-of-volumes

[2019-11-01 12:57] emailtovamos commented on #740
Ok So I created a `pvc`:
[code]
Then gave it in the jaeger instance with badger:
[code]
I can see the pvc and pv running fine when I do e.g. `kubectl get pv --all-namespaces`
I was expecting the pod to restart and/or have a mention of the `pvc`. But nothing changed. How can I make sure it is working the way expected? Or am I missing any other step?

[2019-11-01 13:14] jpkrohling commented on #740
The indentation looks odd. Do you get any error messages when you try to apply this resource? Could you please start the operator with `--log-level=debug` and share the logs?

[2019-11-01 16:23] emailtovamos commented on #740
[code]

[2019-11-01 16:24] emailtovamos commented on #740
The above logs look as expected right? I just deleted the pod and it restarted. But in the UI I could no longer see the older traces.

[2019-11-03 20:45] amila-ku commented on #56
@jpkrohling when going through the implementation noticed the current ReadinessProbe set in config is not configurable by user,i could follow the same approach or change the probes to be configurable by user unless the intention is not to expose the value as user configurable. Since this issue mentions the values has to be configurable i suppose it should be the approach to take. It would be great

[2019-11-04 09:07] objectiser commented on #56
@amila-ku Best to follow the current pattern used by ReadinessProbe, so not configurable - we can always add the configurability later if required, but in general it is better to keep the Jaeger CR as simple as possible.

[2019-11-04 09:37] objectiser commented on #740
@emailtovamos Can you try with the modified indentation as below:
[code]
The `volumes` and `volumeMounts` should be at the same level as `storage`.

[2019-11-04 11:32] emailtovamos commented on #740
Thanks @objectiser ! It works now! When I delete the Jaeger pod and the new pod gets created, I can now see the traces corresponding to the old pod in the Jaeger UI.

One last question:
Is there any way I can give option such that it only saves the latest 1GB of data or latest 7 days of data or something similar? Because no matter what storage I give in my PVC, it will eventually get filled up. Wh

[2019-11-04 11:39] objectiser commented on #740
There is a `badger.span-store-ttl` option, defaults to 72 hours, can be found here: https://www.jaegertracing.io/docs/1.14/cli/#jaeger-all-in-one-badger

[2019-11-04 11:39] #740 closed

[2019-11-04 11:42] emailtovamos commented on #740
Thanks!
`span-store-ttl: "72h0m0s"`
Is the above formatting ok? I mean with the inverted commas for the time.

[2019-11-04 11:51] objectiser commented on #740
Yes I believe so - let us know if you get problems with it.

[2019-11-04 11:58] emailtovamos commented on #740
Thanks.
Since badger wasn't mentioned in the Storage Options section in this page (https://www.jaegertracing.io/docs/1.14/operator/#storage-options), can I add information about badger setting up as discussed above here(https://github.com/jaegertracing/documentation/blob/master/content/docs/1.14/operator.md#storage-options) and make a pull request ?

[2019-11-04 12:09] objectiser commented on #740
Yes please!

[2019-11-04 12:35] emailtovamos commented on #740
Sure, will do.

BTW I tried to rerun the yaml using `span-store-ttl` value and now it is no longer running and giving the following badger-related error: `failed to init storage factory...`. I am not sure if this can be resolved without deleting the data. And if it has to be deleted then how.

[code]

[2019-11-04 15:20] objectiser commented on #740
@emailtovamos An option to truncate was [added recently](https://github.com/jaegertracing/jaeger/pull/1842). You could try this out using the `jaegertracing/all-in-one:latest` image in the CR (under `allInOne` node).

[2019-11-04 15:23] objectiser commented on #740
If this is reproducible, could you provide the log for the pod that fails - before you try restarting and getting this "Failed to init storage factory" error - it might help to detect and avoid this failure.

[2019-11-04 21:59] amila-ku commented on #56
thanks for clarifying i will follow the current pattern.

[2019-11-05 17:22] #696 closed

[2019-11-05 20:50] palmerabollo opened #745 "Recommended memory for jaeger-spark-dependencies (elasticsearch)"
I'm getting the following exception when the jaeger-spark-dependencies job runs:

[code]

I have two questions:
- What are the recommended memory requests/limits?
- What happens if you don't enable this job?

[2019-11-06 07:55] chelomontilla commented on #745
Same problem here, any recommendation ?

[2019-11-06 10:09] pavolloffay commented on #745
Then you will not see dependencies on the dependencies tab. https://www.jaegertracing.io/docs/1.14/deployment/#aggregation-jobs-for-service-dependencies

Have you specified resources in your jaeger CR, or are you using the default?

[2019-11-06 10:39] pavolloffay opened #746 "Upgrade to SDK 0.12"
Operator SDK 0.12.0 has been released https://github.com/operator-framework/operator-sdk/releases/tag/v0.12.0.

It supports go 1.13. Our ticket to upgrade to go 1.13 #711

[2019-11-06 10:40] pavolloffay commented on #144
@kevinearls can we close this? Is this one?

[2019-11-06 10:41] pavolloffay commented on #338
This is already done we test against 4.1 and 4.2

[2019-11-06 10:41] #338 closed

[2019-11-06 10:43] pavolloffay commented on #634
This is not needed. ES7 indices can read indices created by ES6 by default.

[2019-11-06 10:43] #634 closed

[2019-11-06 11:35] emailtovamos commented on #740
Thanks @objectiser . I added the truncate option although yet to check if now I can avoid that problem.
BTW since I am setting a pvc for badger with some storage (e.g. 50GB) what happens after this storage limit gets reached? I mean is there any automated way to resolve this or one just has to manually create another storage?

[2019-11-06 12:20] objectiser commented on #740
@burmanm would you be able to answer?

[2019-11-06 13:22] burmanm commented on #740
I'm not sure what the question is really. If database runs out of diskspace, there's nothing it can do. It can't free space since it can't write the deletes and it can't rearrange the data either.

[2019-11-06 14:48] kevinearls commented on #144
@pavolloffay The tests I wrote for #582 covered many but not all of the examples.  So I guess it depends on whether we think the other ones need to be added.

deploy/examples/auto-provision-kafka may require some changes to the testing framework.

[2019-11-06 14:51] pavolloffay commented on #144
I will close this then and we can add new tests when required.

[2019-11-06 14:51] #144 closed

[2019-11-07 07:11] omerlh opened #748 "Agent only deployment"
See discussion on jaegertracing/jaeger#833

Basically, I would like to have one cluster running Jaeger collector and agents, and the other cluster running only the agents, and configure those agents to ship the traffic to the collector on the other cluster. I don't think this is possible today with the operator - unless I'm missing something. What I need is:
 - Deploy only agents daemonset
 - Conf

[2019-11-07 07:58] chelomontilla commented on #745
Here is my config:
[code]
With this config it's still failing:
[code]

[2019-11-07 09:19] pavolloffay commented on #290
I am closing this for now as we don't have this requirement now. More advanced users could connect to an external ES cluster.

This might not be possible with ECL ES, once we have this requirement we will provide a solution.

[2019-11-07 09:19] #290 closed

[2019-11-07 11:25] objectiser commented on #748
Sounds like a valid use case.

One suggestion would be the introduction of a new `strategy`, possibly `agents` or `agent-only`?

Would you be interested in submitting a PR for this?

[2019-11-07 12:10] emailtovamos commented on #740
Thanks @burmanm . A practical scenario which happened to me today:
The badger database got filled up and there was no longer any new traces that was being saved. But then if I have set my `span-store-ttl` option to say `48h` and 48hours have already passed since a high frequency update, I should expect the Pod to start writing traces again right? Since there would be some data which would get dele

[2019-11-07 13:02] burmanm commented on #740
No, it would not continue. The writing is never happening inplace, instead those SST files are always immutable. Thus, when the TTL is expired, the next compaction process will remove that old data (and write the new SST files without that expired data). But since there's no disk space, the compaction process cannot continue.

Also, I would assume at that point the WAL log has some operations whic

[2019-11-07 15:42] omerlh commented on #748
I might be able to do that... not sure if I'll have time :)

[2019-11-08 13:31] FelixRodriguezJara commented on #471
Hello, I am having exactly the same issue. I have tried many things, including recommendations in this post, but I´m not able of seeing what I´m doing wrong. Ingester and Query can connect to ES with no issues, however, the cronjobs fails because of the error @secat was having: "self signed certificate in certificate chain". I am using the Jaeger Operator as well and my storage definition is:

  s

[2019-11-08 15:50] pavolloffay commented on #471
I will have a look at this shortly. Many people experience problems when using TLS with ES.

In the meantime could you please paste here logs from cronjobs?

[2019-11-08 17:42] ptescher opened #750 "Inject sidecars in other controllers"
For instance, on OpenShift if we are using DeploymentConfigs instead of Deployments we cant auto inject jaeger sidecars. With the latest Istio setup on OpenShift daemonsets are deprecated, so this becomes more important.

Places I can think of where sidecars could be injected:

[x] Deployments
[x] StatefulSets
[ ] DaemonSets
[ ] DeploymentConfigs (OpenShift)
[ ] CronJobs

I think https://github.co

[2019-11-10 08:48] FelixRodriguezJara commented on #471
Hello @pavolloffay. Thank you very much for your quick reaction!

Yes, I've seen many people having this issue when using the operator and, after reading some posts and threads, I haven't found any workaround or final solution, that´s why I'm calling for help :).

I have tried pretty much every configuration and some of the changes proposed in the operator to make sure it mounts volumes and secret

[2019-11-10 20:14] emailtovamos commented on #740
Thanks @burmanm for the detailed explanation.
How can I check if the deletion is really happening? Now I have given enough storage and gave 24 hours are the `span-store-ttl`. But when I checked the Disk space used by the Pod in the Google cloud console, I did not see any drop in space after 24 hours of starting.

[2019-11-10 20:33] emailtovamos commented on #740
Actually when I search for the old traces, I can't find them which is the expected behaviour.

But the only thing I am worried about is the constant increase of the disk space. I was expecting it to stay around the level which it reached at the end of the first 24 hours but it has almost always been increasing except a few drops. So no matter how much space I assign, there is always a chance of hi

[2019-11-11 12:56] pavolloffay commented on #740
@emailtovamos could you please open this issue in the main repository?

[2019-11-11 13:58] emailtovamos opened #755 "Badger not cleaning data in expected manner"
I'm using `all-in-one` with badger storage in google Kubernetes.
My file is:

[code]

This means I expect the old traces to be deleted in 24 hours. I searched for the old traces, I couldn't find them which is the expected behaviour. So far all good.

But the thing I am worried about is the constant increase of the disk space. I was expecting it to stay around the level which it reached at the end

[2019-11-11 13:58] emailtovamos commented on #740
@pavolloffay done : https://github.com/jaegertracing/jaeger-operator/issues/755

[2019-11-11 14:13] pavolloffay commented on #755
@emailtovamos thanks for a separate issue, I will move it to the jaeger repo.

[2019-11-12 10:53] pavolloffay commented on #471
To my understanding, all failures in this thread are caused when using user/pass with CA cert or `tls.skip-host-verify` option.

The ES scripts/cronjobs do not support skip verify or using the CA without `es.tls=true`. First we need to support it there. I will submit a PR for it.

[2019-11-12 12:55] pavolloffay commented on #703
Username and password are consumed from storage options or from storage secret.

[2019-11-12 12:55] #703 closed

[2019-11-12 15:37] FelixRodriguezJara commented on #471
Hello @pavolloffay.

Yes to enabling cronjobs to support skip-host-verify feature. Can you think of a workaround meanwhile?

Regarding es.tls=true, in order to discard a problem with it, I tested creating a cronjob by myself instead of using the operator (I couldn´t pass this argument to the cronjobs via the operator because what we have already discussed). The job fails because of the same reason

[2019-11-12 16:48] pavolloffay opened #757 "Rollover fails to start on es cluster which was using rollover before"
[code]

Example CR
[code]

[2019-11-12 16:52] pavolloffay commented on #471
The workaround is not to use insecure TLS and rather use mTLS.

I am working on a fix to allow using insecure and CA cert in python scripts.

[2019-11-12 16:57] pavolloffay commented on #757
[code]

[2019-11-12 17:33] pavolloffay commented on #471
This can be considered as a duplicate of #592

[2019-11-12 17:33] #471 closed

[2019-11-13 09:42] FelixRodriguezJara commented on #471
Alright, thank you very much @pavolloffay, that's great! From a configuration perspective, do we have to do any changes or cronjobs will pick up the username, password and ca cert from the storage configuration?

[2019-11-13 10:19] pavolloffay opened #759 "Do not depend on latest/untagged dependencies"
When building or running any docker command, go fetches all latest dependencies. This might be dangerous if we try to replicate the build from a release branch.

[code]

[2019-11-13 10:36] pavolloffay opened #760 "Docker setup on Github CI is flaky"
it fails on

[code]

https://github.com/jaegertracing/jaeger-operator/runs/300838377#step:5:192

[2019-11-13 11:59] pavolloffay commented on #471
There won't be any other configuration required.

Here is a simple CR. I will also improve docs and probably write a blog post explaining how people can use Jaeger operator with Elastic CO operator.

[code]

[2019-11-13 12:20] jpkrohling commented on #750
One of the motivations behind #171 is indeed to be able to inject sidecars into any workload that is backed by pods, but it adds some complexity to the setup. Unfortunately, this can't be currently covered by OLM (to the best of our knowledge), so, it's currently a blocker for us.

If you absolutely require support for `DeploymentConfigs`, we could discuss about adding it to the current mechanism,

[2019-11-13 12:20] jpkrohling commented on #750
I'm marking as "duplicate", as I'm sure we talked about this in the past.

[2019-11-13 12:22] jpkrohling commented on #748
Why only "agent daemonsets"? Wouldn't it work with agents in sidecars as well?

[2019-11-13 12:23] omerlh commented on #748
It will, but I prefer working with daemonset instead of injecting sidecars

[2019-11-13 12:25] jpkrohling commented on #745
Looks like Spark requires at least 4GB. @kevinearls do we have any tests using Spark?

[2019-11-13 12:27] jpkrohling commented on #748
Alright. I think the proposed name `agent-only` is appropriate then, as it covers both daemonsets and sidecars.

[2019-11-13 12:49] omerlh commented on #748
Done :)

[2019-11-13 14:13] kevinearls commented on #745
@jpkrohling  There's this one: https://github.com/jaegertracing/jaeger-operator/blob/master/test/e2e/spark_dependencies_test.go  It's called both here: https://github.com/jaegertracing/jaeger-operator/blob/e7c48398df2f7363f97896936c26c7ea93062a65/test/e2e/elasticsearch_test.go#L69-L78 and here https://github.com/jaegertracing/jaeger-operator/blob/e7c48398df2f7363f97896936c26c7ea93062a65/test/e2e/c

[2019-11-13 15:16] jpkrohling commented on #745
Looks like I can't reproduce this. Here's what I did:

CR:
[code]

Once that gets stable, create a job from the cronjob:

[code]

It eventually completes and there's nothing wrong in the logs:

[code]

I'm running it all in minikube, set like this:

[code]

The operator is running as `make run`, and ES is set with `make es`.

[2019-11-13 15:54] #135 closed

[2019-11-13 16:34] FelixRodriguezJara commented on #592
Hello @pavolloffay.

I have merged your changes into my code and it seems to be working fine for the index clenar. Please see below index cleaner job logs. It says there are no indexes, which is aligned with what I have got in my local at the moment, I need to run a test with data inside ES, anyway, it looks good so far, as it seems that certificate is not a problem anymore.

[code]

Regarding Spa

[2019-11-13 16:43] pavolloffay commented on #592
@FelixRodriguezJara thanks for testing it.

The warnings in the log are intentional. Insecure should not be used in production environments. If you find any other issues please let us know.

Rollover is used when rollover is enabled to read more about it read our blog post https://medium.com/jaegertracing/using-elasticsearch-rollover-to-manage-indices-8b3d0c77915d.

Spark dependencies job does not

[2019-11-13 16:46] ptescher commented on #750
I just added the sidecars manually for now, which works for small deployments. Not a blocker.

[2019-11-13 16:51] ptescher commented on #750
I just added the sidecars manually for now, which works for small deployments. Not a blocker. While #171 can't be dealt with purely on OLM, it looks like the actual complexity of the webhook (the ca bundle, etc) can be. The actual injector is relatively simple: https://github.com/istio/istio/blob/master/sidecar-injector/cmd/sidecar-injector/main.go

[2019-11-13 16:52] FelixRodriguezJara commented on #592
Alright, thank you very much for your input, @pavolloffay!

Yes, I have enabled spark explicitly and it gets created, I just wanted to test. So, regarding spark job, isn´t it required by Jaeger at all and we can run without it?

On the other hand, thank you very much for the pointer to the es rollover documentation, very useful. I will check and see if it fits.

Thank you very much.

[2019-11-13 17:02] pavolloffay commented on #592
It is optional please read about it our docs.

[2019-11-13 19:38] amila-ku commented on #56
PR  merged.

[2019-11-14 08:18] FelixRodriguezJara commented on #592
Alright, thank you very much for your input, @pavolloffay!

Yes, I have enabled spark explicitly and it gets created, I just wanted to test.

On the other hand, thank you very much for the pointer to the es rollover documentation, very useful. I will check and see if it fits.

Thank you very much.

[2019-11-14 10:44] pavolloffay commented on #592
Done in #758

[2019-11-14 10:44] #592 closed

[2019-11-14 10:54] pavolloffay commented on #685
I am closing this https://github.com/jaegertracing/jaeger/pull/1918 will support insecure TLS without `tls.enabled=true`. It will be available after Jaeger 1.15

[2019-11-14 10:54] #685 closed

[2019-11-14 10:55] pavolloffay commented on #465
@jkandasa does this still happen? Can we close this ticket?

[2019-11-14 10:56] pavolloffay commented on #682
Somehow related issue is #330

[2019-11-14 11:57] jkandasa commented on #465
@pavolloffay Yes, Still I see this message,

![image](https://user-images.githubusercontent.com/1004403/68855287-efeffc00-0703-11ea-852a-12be1dd96c49.png)

##### oc describe:
[code]

[2019-11-14 12:03] jpkrohling commented on #750
Apparently, support for mutating webhook [is coming](https://groups.google.com/d/msgid/operator-framework/CAOuJmZaMueR%2BmZaDiia9MQs68xQ6cmZYqRRpC7hTvB3ocJraUg%40mail.gmail.com?utm_medium=email&utm_source=footer) to the operator SDK in the future. Once it is there, we should certainly re-evaluate this!

[2019-11-14 12:25] pavolloffay commented on #465
I don't think this is related to Jaeger.

@ewolinetz is this message also prevent in ES deployment created for cluster logging?

[2019-11-14 15:39] pavolloffay commented on #465
Copying discussion from slack

[code]

[2019-11-14 15:39] #465 closed

[2019-11-14 17:23] objectiser opened #763 "Add schema to CRD"
To move from `apiextensions.k8s.io/v1beta1` to `apiextensions.k8s.io/v1`, a schema needs to be defined in the CRD.

[2019-11-14 19:28] jpkrohling commented on #763
The base for the schema, including the validation, should be possible to generate via `operator-sdk gen k8s|openapi` and alike. I faced a couple of problems in earlier versions, but we could give it a try again.

[2019-11-15 00:37] christine-gong opened #764 "jaeger collector sampling not working with Envoy"
I am using Jaeger 1.13. with Envoy 1.12
According to issue https://github.com/jaegertracing/jaeger-operator/issues/696 i set the sampling directly in the CR
[code]
And i checked the configmap got updated.
but those metrics and healthcheck traces are still traced in Jaeger.
Any idea how to fix or debug that? Thanks!

[2019-11-15 09:21] objectiser commented on #764
@christine-gong Which tracer are you using in envoy?

[2019-11-15 13:37] jpkrohling opened #767 "Replace base image to ubi"
The current CentOS base image seems to have some vulnerabilities, according to Quay:

![image](https://user-images.githubusercontent.com/13387/68947092-e6729c80-07b4-11ea-8933-bb4c80bfc069.png)

https://quay.io/repository/jaegertracing/jaeger-operator/manifest/sha256:0f33e0ea725448c52f74cb47a27391749868c888ad4a1f3d553c7bc31a8a28a7?tab=vulnerabilities

Changing the base image to `registry.access.re

[2019-11-15 13:41] objectiser commented on #767
+1 , although can you use `registry.redhat.io` instead of `registry.access.redhat.com`.

[2019-11-15 14:27] garyfritz opened #771 "Sidecar exposes all ports as TCP, but some are expected to be UDP"
Analogous to #577, when [injecting agent containers](https://www.jaegertracing.io/docs/1.14/operator/#auto-injecting-jaeger-agent-sidecars), the container ports of injected sidecar containers are exposed as TCP, but three out of four should be UDP.

This is from an agent pod from a daemon set (which is correct according to #577):
[code]
While this is from an injected agent container in some of my

[2019-11-15 14:43] mooperd opened #907 "Upstream connect error or disconnect/reset before headers. reset reason: connection termination"
Hi,

When I try and expose Jaeger via Istio ingress gateway I get the following problem - I thought someone watching here would have an explanation. It's sure confusing the hell outta me!

https://discuss.istio.io/t/upstream-connect-error-or-disconnect-reset-before-headers-reset-reason-connection-termination/4434

Cheers,

Andrew

[2019-11-15 15:57] rubenvp8510 opened #774 "Reuse inject update loop from deployment controller into autodetect."
This Issue was created to address remainding comments of PR: https://github.com/jaegertracing/jaeger-operator/pull/454

[2019-11-15 19:38] christine-gong commented on #764
Hi @objectiser i'm using zipkin tracer

[2019-11-16 10:13] objectiser commented on #764
@christine-gong The sampling configuration in the CR is used to configure Jaeger tracers, via the jaeger agent.

It may be better to use the sampling configuration (per route) in Envoy: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-msg-route-route

[2019-11-17 04:35] christine-gong commented on #764
@objectiser so that sampling config in CR is not applied at collector but at agent? Even if https://github.com/jaegertracing/jaeger-operator/issues/696 fixes the collector strategy file, it wont work with Envoy?

[2019-11-17 07:55] christine-gong commented on #764
btw: https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-msg-route-route works
[code]
thanks @objectiser

[2019-11-18 09:30] christine-gong commented on #701
@jpkrohling @objectiser @yurishkuro thanks for the suggestion! i'll try OpenTelemetry Collector when i have some spare time. For now, i just want to add our customized zipkin span sanitizer in the collector.

The stupid question is, how to develop and debug zipkin sanitizer locally? More specifically, how to generate zipkin spans but send those to jaeger collector locally? Since we configured our

[2019-11-18 10:36] objectiser commented on #701
@christine-gong I think you just need to specific `localhost` or `127.0.0.1` in the socket address, e.g. https://github.com/envoyproxy/envoy/blob/master/examples/jaeger-tracing/service1-envoy-jaeger.yaml#L97-L101

[2019-11-18 15:21] jpkrohling commented on #737
We talked about this one today and agreed that we'd have the agent there by default for the moment, especially because there's no gRPC support yet in the open-telemetry Go client. Right before 1.16, we'll decide whether to keep it on by default, or if we turn it off. We'll probably leave it off for 1.16 to see the effects of the instrumentation in production, and make it on by default for 1.17.

A

[2019-11-18 16:48] objectiser commented on #737
@jpkrohling The other issue we discussed was whether there are any issues defining the agent sidecar with the operator deployment in the CSV?

[2019-11-20 03:47] bangau1 opened #775 "Question/Bug: Why jaeger ui has this error"
<img width="1504" alt="Screen Shot 2019-11-20 at 10 33 39" src="https://user-images.githubusercontent.com/352737/69207652-2e157180-0b83-11ea-9e2e-1bfbdf4ef3bc.png">
Hi, sorry if I put the question in the wrong place/repo.

I am deploying Jaeger using Jaeger Operator. Jaeger-Operator itself is deployed using Helm with this configuration:
[code]

**And here is the Jaeger configuration I applied on m

[2019-11-20 08:51] jpkrohling commented on #775
Could you please show the bootstrap logs from both the collector and the query components? Also, could you please try changing the `es.server-urls` to `http://es-tracing-elasticsearch-client.services.svc:9200`?

[2019-11-20 08:59] jpkrohling commented on #737
The CSV's `.Install.Deployments` node is always supposed to contain deployments:

https://github.com/operator-framework/operator-lifecycle-manager/blob/4cb99dae84723f2d6aff267a7b8fcd54577c1040/pkg/controller/install/deployment.go#L29-L32

For the moment, I'll assume that this is part of the contract and that it should work, but I'll make sure to do a manual e2e test to ensure that a sidecar in the

[2019-11-20 09:17] dnovvak opened #776 "How to disable automatic Kafka provisioning?"
Jeager operator v1.14.0 has introduced automatic Kafka provisioning (#713). Unfortunately I can't see any setting which could disable that behavior.

Currently I use jeager all-in-one deployment for quick verification on test environment. I have also Strimizi Kafka installed on the setup but I would like to not create an extra Kafka Cluster for such basic use case.

BTW I use jaeger-operator with

[2019-11-20 09:26] jpkrohling commented on #776
You can set the flag `--kafka-provision` to `no`, but apparently, the Helm chart doesn't support specifying your own flags:

https://github.com/helm/charts/blob/master/stable/jaeger-operator/templates/deployment.yaml#L33

For the record, here are all the available flags:

[code]

[2019-11-20 09:28] jpkrohling commented on #776
Note that a Kafka cluster will *only* be created if you set your strategy to `ingester` but leave the `brokers` configuration out.

[2019-11-20 10:50] bangau1 commented on #775
Hi @jpkrohling if what you meant by the bootstrap log: is the output from kubectl log, here it is

#### Log jaeger-query container from jaeger-query pod

[code]

#### Log from jaeger-collector pod

[code]

I've changed the `es.server-urls` to `http://es-tracing-elasticsearch-client.services.svc:9200`, still got the same error.

[2019-11-20 11:41] dnovvak commented on #776
@jpkrohling Thank you for the answer.

To justify my question:
My kubernetes cluster is managed by Rancher which separates namespaces by policies (per-project) what blocks Jaeger Operator from discovering the cluster:
[code]
In the effect Jaeger Operator is not operational at all. I am not sure whether this is good behavior especially if `ingester` strategy is not used.

Nevertheless I will try to

[2019-11-20 12:32] wangycc commented on #745
shell:
[code]

jaeger-span Index size: 36.6gb
[code]
jaeger-dependencies RSS memory size: 31.2g
[code]

Frequently running failure. any recommendation ?

[2019-11-20 12:53] jpkrohling commented on #776
I'm reopening, as the Operator should still be operational in this case. The operator will still continue to attempt to query for existing Kafka clusters/users that it itself might have created in previous reconciliations, but should ignore any errors.

As a workaround, you might want to give the operator ability to list the Kafka resources in the same namespace, like this:

https://github.com/jae

[2019-11-20 12:57] jpkrohling commented on #776
My example above gives permissions to execute *all* verbs. You might instead just restrict this to `list,get`, though.

[2019-11-20 14:01] dnovvak commented on #776
Thank you for suggestions.

It seems that `unstructured.Unstructured` appears randomly after any race (I guess) on the startup. I tried catch the reproduction path but without luck. I just removed operator pod few times and noticed after startups that sometimes that strange phrase appears and repeats continuously in logs but sometimes it doesn't occur at all.

Here are first lines of the log:
[cod

[2019-11-20 14:26] jpkrohling opened #778 "Flaky test - TestSidecarSuite/TestSidecar"
The test `TestSidecarSuite/TestSidecar` is currently failing very often to me.

Perhaps fb0093d might have something to do with it?

[2019-11-20 14:37] jpkrohling commented on #778
I just tried reverting the mentioned commit locally, and it didn't have an effect, so, it doesn't look like it's the culprit.

[2019-11-21 10:04] #711 closed

[2019-11-21 12:10] jpkrohling opened #781 "Build image for the Operator"
To speed up the builds, we could use a builder image to build the operator. I started this already locally, but started facing too many problems to get it working quickly. Here's the base `Dockerfile` that can be used to setup a basic image:

[code]

Running the container in interactive mode works, but the build has test failures for Elasticsearch:

[code]

Removing the test source file allows me

[2019-11-21 12:10] jpkrohling commented on #781
cc @kevinearls

[2019-11-21 12:15] jpkrohling commented on #781
Just came across this, which might help us while we don't have a builder image:
https://github.blog/changelog/2019-11-04-github-actions-adds-dependency-caching/

[2019-11-21 12:38] jpkrohling commented on #781
The new caching mechanism isn't for us, apparently:

[2019-11-21 15:04] jpkrohling commented on #778
In the end, it was my bad: I have a new setup and didn't enable the `ingress` add-on for minikube. Closing.

[2019-11-21 15:04] #778 closed

[2019-11-21 17:04] bhavin192 commented on #487
I wrote a simple function which truncates the value of a label if it's length is more than 63 characters. After doing that change now there is issue with Service name being > 63 characters.

[2019-11-22 02:42] shubhanshus opened #784 "Defining podAntiAffinity for Jaeger Collector"
I am looking for correct place where I can define the podAntiAffinity for the Jaeger Collector and Jaeger Ingester. Normally this is defined with the deployment strategy. But, I am unable to figure out where would my antiAffinity code fit in with the Jaeger Operator. Can someone point me to the correct location. Thanks in advance.

Sample Jaeger Collector podAntiAffinity config
[code]

[2019-11-22 03:12] #764 closed

[2019-11-22 07:04] christine-gong commented on #701
@objectiser thanks for your suggestion!
Actually localhost/127.0.0.1 does not work, but ip of my laptop works! Also running a demo https://github.com/openzipkin/pyramid_zipkin-example locally pointing to `localhost:9411/api/v1/spans` works as well!
Hope it would be useful to other people who check this issue~~

[2019-11-22 08:32] jpkrohling commented on #784
This is documented here:
https://www.jaegertracing.io/docs/1.15/operator/#finer-grained-configuration

[2019-11-22 08:32] #784 closed

[2019-11-22 08:37] jpkrohling commented on #487
I think we wrap most service names in functions, so, you can change them to truncate at 63 chars as well.

[2019-11-22 11:30] garyfritz commented on #771
Closing since MR #773 is now merged.

[2019-11-22 11:30] #771 closed

[2019-11-22 16:26] #737 closed

[2019-11-25 06:24] trogo opened #785 "Provide the ability to disable specific deployments with a Jaeger-operator based deployment"
The jaeger-operator accepts a set of strategies and spins up deployments based on some assumptions.   It is possible that in the case of multi-tenant deployments, there will be parts of the deployment that happen in one K8s cluster and some parts in another K8s cluster.  The ability to disable some deployments would be useful.
Example with Streaming strategy.

`Cluster1:  Agent, Collector `--> ` (

[2019-11-25 12:08] objectiser commented on #785
Although individual `enabled` properties could be added to each component, wondering whether different `strategy` values might work?

For example, if someone wants agent injection in a particular cluster, but referencing a collector in another cluster, that could be achieved using an `agent` strategy. Similarly for your streaming scenario, we could offer the variants `streaming-producer` and `stre

[2019-11-25 16:33] emailtovamos opened #786 "Exec command for jaeger Pod (all-in-one)"
Can someone give me an example `exec` command for a jaeger Pod (all-in-one)?
I tried doing `kubectl exec <pod-name> df` according to [this](https://stackoverflow.com/questions/53200828/how-to-identify-the-storage-space-left-in-a-persistent-volume-claim) but got response:
[code]

No matter what variety of the command I give I always get error. I just want to exec into the Pod and see the storage sp

[2019-11-25 17:27] objectiser commented on #786
Hi @emailtovamos - the docker images are derived [from scratch](https://github.com/jaegertracing/jaeger/blob/master/cmd/all-in-one/Dockerfile#L4), so do not provide a shell.

[2019-11-25 18:27] trogo commented on #785
It would work but it might lead to proliferation of strategies and as the deployments evolve and possibly get more complex i'm not sure if the number of strategies can keep up with the desired deployment models.

[2019-11-25 19:12] treyhyde opened #787 "BadRequest on container name in operator log on fresh install"
I'm trying to figure out why my DaemonSet agents are not actually starting which may or may not be related to this issue.   Noticed in the operator logs this BadRequest.   This is

Error from server (BadRequest): a container name must be specified for pod jaeger-operator-6fbb5db94c-6crsm, choose one of: [jaeger-operator jaeger-agent]

``  Image:       jaegertracing/jaeger-agent:1.15.1``

If this i

[2019-11-25 20:03] jpkrohling commented on #787
You should specify `-c jaeger-operator` to the `kubectl logs` command. We now have two containers as part of the Jaeger Operator deployment, one being the Jaeger Agent as a sidecar, to receive traces from the operator itself.

If you find a documentation place that needs updating, let us know!

[2019-11-25 21:32] treyhyde commented on #787
well, darn, that wasn't the log from the pod, that was a warning from the kube... totally went right over my head, sorry.

[2019-11-25 21:32] #787 closed

[2019-11-26 08:14] jpkrohling commented on #786
@emailtovamos, the Jaeger pods do not make use of local storage other than when using the badger as the storage backend. In that case, you should be using a volume that is managed externally. In that case, you can probably obtain the free space information from the actual storage provider or, in the worst case, mount the volume in a second pod in read-only mode.

[2019-11-26 08:14] #786 closed

[2019-11-26 08:15] jpkrohling commented on #785
@trogo, I think your workaround is actually clever and simple enough for people to figure out what's going on if they see no pods running for a given deployment. Is the existence of the deployment causing you any troubles?

[2019-11-26 08:46] objectiser commented on #785
@trogo Beyond the three I've mentioned, could you list other scenarios that you think would need to be handled?

[2019-11-26 10:29] sonant opened #788 "DNS errors in k8s"
I have standard deploy in k8s, like this https://www.jaegertracing.io/docs/1.13/operator/
`{"level":"info","ts":1574763937.5043714,"caller":"dns/dns_resolver.go:286","msg":"grpc: failed dns SRV record lookup due to lookup _grpclb._tcp.jaeger-collector-headless.observability.svc.cluster.local on 172.20.0.10:53: no such host.\n","system":"grpc","grpc_log":true}
{"level":"info","ts":1574763937.512087

[2019-11-26 16:48] trogo commented on #785
@jpkrohling
No functional issues from it but i would still call it a workaround and a bit of an eyesore to see deployments with 0 replicas.

[2019-11-26 16:54] trogo commented on #785
@objectiser
1.  `streaming-producer` and `streaming-consumer` - discussed
2.  `collectorless` K8S - discussed
3.   `collector-only` . (Run the collector in an independent K8S cluster and push to backend storage.   Here also we could use Kafka as a streaming to push into storage or a direct elasticsearch)
4.   `agentless` (Clients directly sending to a collector)
5.  `agentless and collectorless` (

[2019-11-26 22:55] treyhyde commented on #788
I was just trying to debug the same thing.   I can't figure out where grpclb is coming from, the only service port defined is grpc, no lb.    I'm using 1.15.1

[2019-11-27 08:47] sonant commented on #788
This info messages from jaeger-agent that is running as a sidecar.

[2019-11-27 09:12] jpkrohling commented on #788
Most of the messages are innocuous, as it's just gRPC attempting to find a source of information for its client-side load balancing. When no data is found on the specific TXT records, the backend services are discovered by looking at the A records for the name `jaeger-collector-headless.observability.svc.cluster.local`.

In short: it's all fine and no error happened.

[2019-11-27 09:16] sonant commented on #788
Yes, but it's so much messages, can I change --reporter.grpc.host-port=dns:///jaeger-collector-headless.observability:14250 to  --reporter.grpc.host-port=dns:///jaeger-collector-headless.observability:14250 in operator?

[2019-11-27 09:27] jpkrohling commented on #785
Not quite sure about that: a deployment with 0 desired replicas is a very explicit decision and keeps all other parts simple: one doesn't need to read the docs to understand what `streaming-producer` means and how it differs from `streaming`. There's no room for inconsistencies as well: if you specify `collectorless` as the strategy, but then you go on to specify some `collector` options like `Rep

[2019-11-27 09:40] jpkrohling commented on #788
We should definitely try to suppress those messages, as you are not the first one to get confused about that.

I'm not sure your change to remove the protocol part would work, though. The headless service is used only as a DNS entry to hold the A records. The `dns` protocol part in the address is a hint to the gRPC client to get a list of collectors and will load balance among them, even for long-

[2019-11-27 09:53] sonant commented on #788
This message is not a problem, but not every 30sec.I changed  --reporter.grpc.host-port, these messages no longer present.

Below all my log after startup the agent(after changing).

`{"level":"info","ts":1574845572.5909839,"caller":"flags/service.go:115","msg":"Mounting metrics handler on admin server","route":"/metrics"}
{"level":"info","ts":1574845572.5969596,"caller":"flags/admin.go:108","msg"

[2019-11-27 09:56] jpkrohling commented on #788
It should definitely not be happening every 30s. It should happen only once, during the bootstrap.

[2019-11-27 09:57] jpkrohling commented on #788
@jkandasa, @kevinearls could you please try to reproduce what @sonant is facing?

@sonant could you share more info about your Kubernetes environment (platform, versions, ...)?

[2019-11-27 10:06] sonant commented on #788
` kubectl version
Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.2", GitCommit:"66049e3b21efe110454d67df4fa62b08ea79a19b", GitTreeState:"clean", BuildDate:"2019-05-16T16:23:09Z", GoVersion:"go1.12.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.8-eks-b7174d", GitCommit:"b7174db5ee0e30c94a0b9899c20ac980c0850fc8

[2019-11-27 10:08] jpkrohling commented on #788
This might be the key then: perhaps they kill long lived connections?

[2019-11-27 10:33] sonant commented on #788
This is sidecar describe, tcp or udp ports?
`jaeger-agent:
    Container ID:  docker://ac817996cb5b8d08c942eb06ce2af77ed9b9546c854448deafb0fc7643227f18
    Image:         jaegertracing/jaeger-agent:1.15.1
    Image ID:      docker-pullable://jaegertracing/jaeger-agent@sha256:2303ed275c29506e683fdfd32c499427fa9ad92b9ec0879404b9b00c6ecaa50e
    Ports:         5775/TCP, 5778/TCP, 6831/TCP, 6832/TCP

[2019-11-27 11:59] cuihaikuo opened #789 "Not all nodes have been deployed with agent in daemonset strategy."
I have a k8s cluster that contains several nodes, when I deploy a jaeger instance in daemonset strategy, only a part of nodes have been deployed with agent, is that normal?
![image](https://user-images.githubusercontent.com/20336322/69721678-53d8e280-1150-11ea-945e-5ef80f46b6a0.png)

[2019-11-27 12:41] #789 closed

[2019-11-27 14:11] bbarn3y opened #790 "Using Kafka buffer without a storage or Kafka as a storage"
Hi,

We are trying to get Jaeger working with Seldon models and with Kafka as storage. We read that Kafka can only be used as a buffer, but we are not sure if that also means that Kafka can't be used without another storage present.

We have consumers running separately that'd like to read the traces from the same Kafka topic that Jaeger writes the traces to. The problem is that no matter how we t

[2019-11-27 23:32] christine-gong opened #791 "is clusterrole required for Jaeger operator?"
Hi,
I am wondering if clusterrole and clusterrolebinding are required for jaeger operator  to function properly in kubernetes. (e.g. https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/role.yaml and https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/role_binding.yaml)

Since everything is living under `tracing` namespace, i think role and rolebinding would be good

[2019-11-28 03:41] cuihaikuo opened #798 "How to set Spark's driver-memory"
## Requirement - what kind of business use case are you trying to solve?
[code]
I deployed a jaeger instance in k8s cluster with production strategy, there were some jaeger-spark-dependencies jobs excuted at 23:55 with above errors, how to set this driver-memory?

[2019-11-28 08:07] jpkrohling commented on #788
Not sure I understand your question. The ports are for incoming connections from your application, they aren't relevant for the outgoing connection from the sidecar to the collector.

[2019-11-28 10:11] sonant commented on #788
Hello!
It's the second question, I talk about it:
`Ports: []corev1.ContainerPort{
			{
				ContainerPort: zkCompactTrft,
				Name:          "zk-compact-trft",
			},
			{
				ContainerPort: configRest,
				Name:          "config-rest",
			},
			{
				ContainerPort: jgCompactTrft,
				Name:          "jg-compact-trft",
			},
			{
				ContainerPort: jgBinaryTrft,
				Name:          "jg-binary-trft",

[2019-11-28 10:20] jpkrohling commented on #791
Cluster permissions (role/role binding) should be required only when watching all namespaces. In all other cases, the operator has to be able to work without cluster permissions.

It should be possible to fix the code so that the operator won't break if it can't list cluster roles/role bindings. A quick workaround should be to not return an error on this code:

https://github.com/jaegertracing/jae

[2019-11-28 10:22] jpkrohling commented on #788
Yes, see #773.

[2019-11-28 10:32] jpkrohling commented on #790
It should be possible to accomplish that with the `production` strategy, disabling `jaeger-query` as there won't be any storage to read spans from (which is why `allInOne` won't work).

Could you also turn on the `debug` logs for the agent/collector? This way, you can confirm that the spans were received by Jaeger.

[2019-11-28 12:30] cuihaikuo opened #794 "Can't access aws ElasticSearch"
Here is my jaeger.yaml:
[code]
when I run `kubectl logs jaeger-collector-d46584c77-tghds` shows:
[code]
I tried operator 1.14.0 and 1.15.1 and got same error, Any ideas?

[2019-11-28 15:05] emailtovamos opened #795 "Is all-in-one with badger recommended for production cases?"
I have had problems with using badger mainly it not cleaning data well enough. You can see it here: https://github.com/jaegertracing/jaeger/issues/1916

It is mentioned in the website that it is `experimental`. So does that mean it is not recommended in production systems yet?

I am going for production soon and wondering if I should explore more of the other options and leave badger behind? Thank

[2019-11-28 15:41] objectiser commented on #795
Hi @emailtovamos, as you have indicated there are still some areas that need further work, so it is probably best not to use in production yet.

[2019-11-28 19:57] emailtovamos commented on #795
Ok thanks. Which one should I use for production then? Elasticsearch or Cassandra? I have no experience in either of these and just want to go for the one which is easier to implement/maintain if all other things are similar.

[2019-11-29 02:58] #794 closed

[2019-11-29 03:41] cuihaikuo opened #796 "How to use AWS Elasticsearch with access key and secret key?"
Here is my jaeger.yaml:
[code]
due to the aws security strategy, I have to specify the access key, how to pass it into jaeger?

[2019-11-29 05:42] jodagm opened #797 "Question: DaemonSet simple-prod-agent service for JAEGER_AGENT_HOST env"
The incubator/jaeger creates jaeger-agent demand set with a service, which makes it possible to configure jaeger-client
[code]
jaeger-operator is not creating the service, so the monitored app deployment chart needs to have this:
[code]

Can the operator create simple-prod-agent service can for DaemonSet?

Thanks for your help,
Jonathan

[2019-11-29 07:54] #796 closed

[2019-11-29 08:38] objectiser commented on #797
Using a service name does not guarantee that the client (tracer) would communicate with the correct jaeger-agent instance (i.e. the one on the local node), which could result in lost data as using UDP.

We currently inject some env vars when using sidecar injection - so one possibility is to add the `JAEGER_AGENT_HOST` env var (based on `status.hostIP`) automatically. But the problem is determinin

[2019-11-29 09:20] bbarn3y commented on #790
Thank you, disabling query was the missing link, we managed to read the traces from Kafka this way! This was the Jaeger yaml we used:

[code]

We have two remaining questions:

1. Is there a better way to turn off jaeger query? As you can see we set the replicas to 0, but that still creates the deployment and the service.
2. We start the agent as a DaemonSet, which becomes a bit problematic when w

[2019-11-29 10:15] jpkrohling commented on #795
Both are good choices, we typically recommend to go with the one you are more comfortable in maintaining. Both require maintenance work, so, we do recommend learning about one of them. Right now, the community seems to prefer Elasticsearch over Cassandra.

[2019-11-29 10:23] jpkrohling commented on #790
About your first question, we have a feature request being tracked via #785. Your feedback there is highly appreciated.

The problem with that is that a service is backed by kube-proxy, which will pick one backend from a poll, meaning that you might not end up on the closest agent (the one on the same node as your workload). As spans are sent via UDP, this will increase the odds that packets will

[2019-11-29 11:09] jodagm commented on #797
Thank you for the clarification,
I'll try going with a side-car (using terragrunt so I need to figure out how to add annotation to my-app deployment)

Thank you,
closing the question.

[2019-11-29 11:09] #797 closed

[2019-11-29 14:47] bbarn3y commented on #790
Thank you, the hostIP worked, this solved our issue!

[2019-11-29 14:47] #790 closed

[2019-11-29 15:03] pavolloffay commented on #794
What was the issue? How did you solve it?

Help us to improve docs to avoid other follks running into the same problem.

[2019-11-29 16:22] emailtovamos commented on #795
Thanks!
So there is `external` and `self-provisioned` Elasticsearch options described [here](https://www.jaegertracing.io/docs/1.15/operator/#elasticsearch-storage).
Which one is easier to setup? None of them seem straight forward to me.

[2019-11-29 16:49] pavolloffay commented on #798
It seems that more users are facing this. We should include this in the main documentation and also document that dependencies job is optional.

Dependencies node embeds resources e.g.

[code]

[2019-11-29 17:34] pavolloffay commented on #767
+1 on using `ubi`.

I would like to keep the scrip until ECL switches to golang based solution.

[2019-11-29 17:45] pavolloffay commented on #775
@bangau1 were you able to solve this issue?

It seems odd Jaeger 1.14 should be able to use ES 6.8. Can you try restarting Jaeger pods or stop jaeger, delete jaeger indices and deploy jaeger again?

[2019-11-29 17:51] pavolloffay commented on #795
Self provisioned is only for OpenShift. Not sure if you are on OpenShift :)

[2019-11-30 02:54] cuihaikuo commented on #794
The problem was that the collector did health check with HTTP HEAD method, but I didn't set HEAD permission in aws security strategy, 403 returned and heath check failed.

[2019-12-02 09:46] jpkrohling commented on #763
Blocked by operator-framework/operator-sdk#2285

[2019-12-02 12:25] jpkrohling opened #800 "Document certificate management for Elasticsearch"
Currently, the operator generates the whole set of artifacts to generate TLS certificates to use with Elasticsearch. While this provides the basics for encrypted communication, it's sub-optimal as all artifacts are self-signed.

In order to allow users to properly secure the communication between Jaeger instances and Elasticsearch via TLS, we need to:

1. Document what artifacts are used
1. Docume

[2019-12-02 12:29] jpkrohling commented on #800
Related to #330

[2019-12-02 13:08] jpkrohling commented on #767
Are they switching to golang at all?

[2019-12-02 15:53] orlando-jamie opened #801 "Deploy Query with Type:load balancer Using K8s Operator"
Hello,
    I am trying to deploy the K8s operator to expose the query service as an internal load balancer via the following yaml, but it does not seem that the CRD passes type:LoadBalancer or the annotation to the query service definition.

[code]

Are there any ways to make sure the query service gets deployed as in internal load balancer via the operator? Or do I need to manage the deployment m

[2019-12-03 02:27] cuihaikuo commented on #798
I have tried to set limits memory to 512M, but still got the same error: `System memory 129761280 must be at least 471859200`, the different is that the value of `System memory` has changed.

[2019-12-03 09:21] jpkrohling commented on #801
@orlando-jamie, right now, it's indeed possible that the annotation isn't being propagated down to the service, only to the deployment. We should consider propagating it down, though.

In the meantime, you can manage your own service resource (not deployment).

For our own reference, here's the Kubernetes documentation about load balancer services: https://kubernetes.io/docs/concepts/services-netw

[2019-12-03 10:02] #746 closed

[2019-12-03 10:13] pavolloffay commented on #794
Does this have to be always configured? Is it by default not allowed in AWS?

[2019-12-03 10:25] pavolloffay commented on #767
I don't think that will happen any time soon.

[2019-12-03 12:16] cuihaikuo commented on #794
When build a new es instance on aws, you will be asked to choose a series of security strategies, including http request strategies, you can set "*" to allow all http requests, or you can set them independently to limit some of http methods，obviously, HEAD request should be allowed.

[2019-12-03 12:47] pavolloffay commented on #794
Thanks, perhaps we should include this in our docs in https://www.jaegertracing.io/docs/1.15/deployment/#elasticsearch and additionally in https://www.jaegertracing.io/docs/1.15/operator/#external-elasticsearch

[2019-12-04 01:36] christine-gong commented on #791
@jpkrohling thanks! sure, i will try to fix it.

[2019-12-04 02:45] cuihaikuo commented on #798
Finally, I set the limits memory to 2048M, problem solved.

[2019-12-04 09:42] pavolloffay commented on #798
Can you share how much data it processes in one go? For instance the number of stored dep links - this should be logged in the job.

[2019-12-04 11:07] jkandasa opened #804 "Jaeger Operator throws a warning "Could not create ServiceMonitor object""
I installed jaeger operator 1.15.0 on Openshift 4.2 environment.
I see the following warning on the jaeger-operator log.
I do not see any impact on jaeger service deployment.

##### OCP cluster detail:
[code]

##### Jaeger-operator log:
[code]

##### oc describe pod:
[code]

[2019-12-04 14:55] pavolloffay commented on #798
This is duplicate of #745

Feel free to continue commenting here or in the referenced issue. I am closing this.

[2019-12-04 14:55] #798 closed

[2019-12-04 15:16] jpkrohling opened #809 "Message "the cache is not started, can not read objects" when starting the operator"
Starting with the Operator SDK 0.12.0 (controller-runtime 0.3.0), the Jaeger Operator shows messages like the following during bootstrap:

[code]

This is caused by [a change in the controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/pull/627), which returns an error when the cache hasn't been started yet. Before this change, the client would just silently fail, meaning that

[2019-12-04 15:16] jpkrohling commented on #809
cc @rubenvp8510

[2019-12-04 16:45] pavolloffay opened #811 "Make format hardcodes path to goimports"
https://github.com/jaegertracing/jaeger-operator/blob/43401317a305ca8220fc117b735175977e31a025/.ci/format.sh#L3

Not everybody sets `GO_ROOT` to `${HOME}/go`. Introduced in #780

[2019-12-05 08:55] #809 closed

[2019-12-05 12:52] jpkrohling opened #815 "Kafka auto provisioning is not working on OpenShift"
The deploy/examples/auto-provision-kafka.yaml example does not work on OpenShift. After deployment the zookeeper pods fail to start with the error:

[code]

[2019-12-05 12:53] jpkrohling commented on #815
Reported by @kevinearls. Blocked by https://github.com/strimzi/strimzi-kafka-operator/issues/2281

[2019-12-05 13:35] jpkrohling commented on #800
Looks like @pavolloffay did this already: https://www.jaegertracing.io/docs/1.15/operator/#elasticsearch-storage

[2019-12-05 13:36] #800 closed

[2019-12-05 15:00] #811 closed

[2019-12-05 16:23] jpkrohling commented on #815
Looks like this happens only when running in the `default` namespace. @kevinearls I just tried deploying in the `observability` namespace, and I got all Kafka components to deploy correctly, but got some Elasticsearch problems, as I couldn't get a proper configuration to make the collector to talk to an Elasticsearch. Would you be able to give it a try ?

[2019-12-05 17:01] arugifa opened #818 "Jaeger Operator not deploying Jaeger components"
I recently noticed that my Jaeger Operator (version **1.14.0**) doesn't deploy my Jaeger CRD definition anymore, i.e., no Jaeger components are created (collector, query). However, the Cassandra pods get created, and the Cassandra Schema job get executed.

Having a look into the operator's logs, I can see a lot of lines looking like that:

[code]

Looking inside the operator's source code, I could

[2019-12-05 18:10] #757 closed

[2019-12-06 08:25] jpkrohling commented on #818
@arugifa, this error is being returned from this code:

https://github.com/jaegertracing/jaeger-operator/blob/bfd54b350b5f7b933066bc3c26f4ea6d02d49df7/pkg/controller/jaeger/jaeger_controller.go#L285-L288

And here are the dependencies related to Cassandra:

https://github.com/jaegertracing/jaeger-operator/blob/bfd54b350b5f7b933066bc3c26f4ea6d02d49df7/pkg/storage/cassandra_dependencies.go#L56-L115

[2019-12-06 17:06] arugifa commented on #818
Thanks for your quick and detailed answer @jpkrohling 🙌

After activating debug logs on the Operator, I was able to see A LOT of lines like:

[code]

Which was making sense after your answer.

I then looked at the logs inside the Cassandra Schema job, and saw lot of errors like:

[code]

At this point, I noticed that deployment of Jaeger components (collector + query) was SOMETIMES working. And lo

[2019-12-09 14:52] orlando-jamie commented on #801
Thanks for the feedback @jpkrohling.

Could you potentially advise on a jaeger definition that would not install the default query K8s service, so that I could manage it myself? When I launch with the following, the operator still seems to create the query service.

[code]

[code]

[2019-12-09 16:29] jpkrohling commented on #801
If you have a pre-existing service, the Jaeger Operator should keep it in place. If you remove the "managed-by" annotation from a service that has been created originally by the operator, the operator should stop managing it. If either of those cases aren't happening, it's a bug that we need to fix.

[2019-12-10 01:26] jdambly-ns opened #821 "change jaeger-collector from tcp to udp"
I'm using the jaegar operator on baremetal in conjunction with metallb, and I want to use UDP instead of the default TCP, but I don't see a way to do this. Is this supported in the operator?

[2019-12-10 03:06] marceloamaral commented on #405
I am having problem to deploy the jaeger-spark-dependencies service in my openshift cluster: the service cannot connect to the elasticsearch service.... Therefore,
1 - How do I configure it to connect to elasticsearch using tls certificates? The documentation only shows the option for using password...
2 - Is there a way to configure the operator to automatically configure jaeger with spark-depend

[2019-12-10 06:48] ssoerensen opened #822 "Unable to set KEYPSPACE environment in cassandraCreateSchema"
The create cassandra schema supports setting a KEYSPACE environment variable, it seems logical that this can be done in the `cassandraCreateSchema`. However it does not have any affect. this could be nice to have if for example datacenter name contains dashes instead of underscore

[2019-12-10 09:39] jpkrohling opened #823 "Error cleaning orphaned deployment"
While running the e2e tests in OpenShift, I noticed that some errors related to the cleaning of orphaned deployments (ie, deployments with an Agent pointing to a non-existing Jaeger Collector). I was able to reproduce it on an OpenShift 4.2 cluster using the manifests generated by a previous e2e test:

[code]

Once the operator's pod is up, the following can be seen:
[code]

The full logs are here

[2019-12-10 10:25] jpkrohling commented on #822
Would you like to contribute this feature? It's probably just a matter of changing this func:

https://github.com/jaegertracing/jaeger-operator/blob/4ae96a01e18b1c3d1122cde66d8995992a3f5765/pkg/storage/cassandra_dependencies.go#L14-L116

[2019-12-10 10:29] jpkrohling commented on #821
I have a few questions for you:

1. did you mean "Agent" instead of "Collector"? There's no support for listening via UDP ports in the Collector, only in the Agent.
1. what do you mean "using Jaeger Operator on bare metal"?

[2019-12-10 10:53] jpkrohling commented on #821
https://metallb.universe.tf/

Makes more sense now, forget the second question :)

[2019-12-10 21:57] jdambly-ns commented on #821
I'm confused because when I fire up the jaegar agent it's trying to connect to udp port 6831 and 6832, but I don't see these ports open on any k8s serivce, any idea what I am doing wrong here?

here is what my agent looks like
![image](https://user-images.githubusercontent.com/23508331/70572613-f7fd5900-1b54-11ea-93b5-8e6da8cd03ee.png)

[2019-12-11 07:58] jpkrohling commented on #821
The Agent indeed uses UDP, the Collector doesn't. Perhaps the illustration on https://www.jaegertracing.io/docs/1.15/architecture/ could help you understand what is used where.

[2019-12-11 13:57] navi86 commented on #804
I have the same issue on K8s cluster
`Server Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.8", GitCommit:"211047e9a1922595eaa3a1127ed365e9299a6c23", GitTreeState:"clean", BuildDate:"2019-10-15T12:02:12Z", GoVersion:"go1.12.10", Compiler:"gc", Platform:"linux/amd64"}`

[2019-12-12 00:33] jdambly-ns commented on #821
that has cleared thing up thanks

[2019-12-12 03:29] bangau1 commented on #775
Hi @pavolloffay sorry for slow response. Somehow it resolved by itself by upgrading to 1.15.1. Will close this issue for now.

[2019-12-12 03:29] #775 closed

[2019-12-12 07:23] navi86 commented on #804
UP,
I have built new image of jaeger-operator from master branch and the error
`"time="2019-12-04T10:41:57Z" level=warning msg="Could not create ServiceMonitor object" error="an empty namespace may not be set during creation" `
was fixed, but I got I new one
`"time="2019-12-12T07:05:44Z" level=error msg="failed to store the running status into the current CustomResource" error="the server could no

[2019-12-12 08:39] jpkrohling commented on #804
@navi86 the CRD you are using should be in sync with the operator you have. In other words, if you are using the master version of the operator, you should use the master version of the CRD.

[2019-12-12 08:40] jpkrohling commented on #804
By the way: the error `Could not create ServiceMonitor object` does *not* prevent the operator from working. It should still be fully operational. If it isn't, there's something else going on.

[2019-12-12 08:57] #821 closed

[2019-12-12 10:34] navi86 commented on #797
@objectiser
is it possible create agent service when agent deployed as Daemonset(I know that is bad approach)

[2019-12-12 11:45] objectiser commented on #797
@navi86 if this was done automatically, then it would encourage users to use it without necessarily understanding the consequences. It doesn't stop you from creating the service manually?

[2019-12-12 11:49] navi86 commented on #797
@objectiser good point
Sure, I can do it manually :(

[2019-12-12 13:09] pavolloffay commented on #405
spark dependencies do not support TLS at the moment https://github.com/jaegertracing/jaeger-operator/issues/294

[2019-12-12 13:10] pavolloffay commented on #294
Dependent issue in spark-dependencies https://github.com/jaegertracing/jaeger-operator/issues/294

[2019-12-12 15:53] johnjeffers commented on #801
I gave up on the operator for this very reason, and opted to use the Helm chart instead. It does what you need.

[2019-12-13 00:50] peacecoder commented on #405
Hi @pavolloffay

This issue still appears in my k8s cluster. Here is the error log

I think I am using the version after your fix `Container ENTRYPOINT failed to add passwd entry for anonymous UID`,

[code]

and here is the info

[code]

Here is my es cluster info

[code]
Here is spark cronjob info

[code]

[2019-12-13 08:58] pavolloffay commented on #405
Could you please pull the latest spark dependencies image?

The latest seems to be `f11a998536968188685d83b27d67c3079ba47f3a533a83119ae1a0304382cc01`

[2019-12-13 14:36] jpkrohling commented on #801
@johnjeffers Is the approach I mentioned about managing the special service "manually" (or via Helm, or ...) not acceptable for your use case? While I don't expect the operator to cover all use cases out there, it shouldn't prevent you from accomplishing what you need.

[2019-12-13 16:28] johnjeffers commented on #801
Why use the operator plus a helm chart (or whatever) when I can accomplish what I need with just the helm chart? Why add complexity with multiple tools to achieve the desired end state when I can do it with one?

[2019-12-13 16:36] jpkrohling commented on #801
Agreed, the operational costs of having both Helm and the Operator might not be justifiable. One possible argument is that the Operator should take care of "day 2" operations as well, which isn't something you get with Helm alone, from what I understand.

In time: there are two Helm charts out there, one that provisions a Jaeger instance, and one that provisions the operator, so, I guess it does m

[2019-12-16 09:17] jpkrohling commented on #788
@sonant, to continue investigating this issue, I need you to confirm whether AWS EKS is killing long-lived connections afters some time. You can confirm this with a simple application connected to another via gRPC.

[2019-12-16 09:19] jpkrohling commented on #729
@satyajituk I'm closing this, as I think @objectiser answered your question already, but feel free to reopen if you are still having troubles.

[2019-12-16 09:19] #729 closed

[2019-12-16 09:21] jpkrohling commented on #687
@yuecong are you still having this problem? Are you able to provide the debug logs with the problem you are facing?

[2019-12-16 09:27] jpkrohling commented on #676
I don't have a problem with this, but we need to make sure this is supported and won't cause problems in the several Kubernetes flavors out there. I know that OpenShift requires (or used to) special permissions to use host networking, so, the code needs to at least provide a configuration option to enable/disable this behavior, with an automatic configuration based on the platform (see the `autode

[2019-12-16 09:29] jpkrohling commented on #562
I'm closing this, as @burmanm has answered the question already.

[2019-12-16 09:29] #562 closed

[2019-12-17 02:06] clyang82 commented on #562
Yes. I should close this issue. Thanks @jpkrohling

[2019-12-17 06:08] peacecoder commented on #405
@pavolloffay
I will try to pull the latest image to replace old. but the problem is, I have 2 cluster, one went wrong, while the other one is ok.

[2019-12-17 09:12] pavolloffay commented on #405
That seems weird, there might be some inconsistency then - using different images between clusters.

[2019-12-17 13:03] #818 closed

[2019-12-17 14:37] #804 closed

[2019-12-18 09:11] #763 closed

[2019-12-18 23:21] mumrau opened #833 "Removing sidecar container on annotations removal"
Hello,

I might have missed out on such documentation, but I haven't found anything for the automatic removal of the innjected sidecar, is there such a feature?
Would we like to have it implemented or not?

I am talking on the operator reacting to the removal of an annotation, not on the Jaeger CRD removal.

Looking forward to a discussion!

[2019-12-19 08:26] jpkrohling commented on #833
It *should* work, done as part of #443 (or any of the follow-up PRs). If it's not working as intended, please run the operator with debug-level logging and report back.

cc @rubenvp8510

[2019-12-19 11:14] liuzijuan123 opened #834 "How can I get all the span data in the memory for the jaeger all in one back end"
I need get all the span  data in the memory for the jaeger all in one back end, How can I get that?
Thank you very much.

[2019-12-19 12:02] jpkrohling commented on #834
You can use the Jaeger Query for that: https://www.jaegertracing.io/docs/1.16/apis/#trace-retrieval-apis

[2019-12-19 12:03] jpkrohling commented on #834
I'm closing this issue as I think the link above answers your question, but feel free to reopen if you have further questions.

[2019-12-19 12:03] #834 closed

[2019-12-20 02:57] peacecoder commented on #405
thanks, it seems everything works.

[2019-12-20 10:39] pavolloffay commented on #702
ES documentation already contains explanation that secret can be used for user password.

The secret docs could explain that values are passed as ENV variables that jaeger can consume.

[2019-12-20 14:02] yeya24 opened #836 "cant get version and status of Jaeger instance in kubectl"
I am using the latest CRD yaml. And I saw there are additionalprinter fields, but they did't work.
[code]

[2019-12-20 14:13] jpkrohling commented on #836
Do they eventually get populated?

[2019-12-20 14:30] yeya24 commented on #836
It's weird. Seems my k8s don't keep any status information. The jaeger instances are running, but I cannot get their status. Is this the desired behavior?
[code]
[code]

[2019-12-20 14:38] jpkrohling commented on #836
Are you sure you are on 1.16.0? What does the first line of your operator's log says?

[2019-12-20 15:29] yeya24 commented on #836
Oh, thanks. I forget to upgrade my operator. Close now

[2019-12-20 15:29] #836 closed

[2019-12-27 16:13] mumrau commented on #833
It didn't work properly on our end. I didn't see any documentation, that's why I didn't dig further. I'll do so, and come back with debug logs later on, after the christmas break.
Thank you for the reactivity by the way!

[2020-01-02 09:42] arpitjindal97 commented on #822
I have created a Pull Request for the same #837

[2020-01-02 11:16] arpitjindal97 commented on #469
The issue could be related to schema.

[code]

In above yaml, `cassandraCreateSchema` will create schame `jaeger_v1_test` by default. But, Collector will correctly pick the value specified from yaml i.e. `jaeger_v1_datacenter3`

There is a PR #837 which will fix this issue.

`cassandraCreateSchema` will then pick `storage.options.cassandra.keyspace` from yaml.

As a workaround, You have to deploy

[2020-01-03 12:33] #469 closed

[2020-01-03 12:33] #822 closed

[2020-01-06 10:49] jpkrohling commented on #833
Alright! I'm adding "needs-info", as we can't proceed without some debug logs, or some more information on how to reproduce.

[2020-01-07 17:05] pavolloffay opened #839 "Broker URLs contain hardcoded kafka namespace in self-provisioned Kafka deployment"
I have installed Kafka/Strimzi operator (strimzi-cluster-operator.v0.14.0) on OCP 4.2 via OLM UI. d Jaeger CR:

[code]

Collector and ingester fail with:

[code]

[2020-01-08 08:59] jpkrohling commented on #839
@kevinearls could you take a look? I think we have a test for this, right?

[2020-01-08 09:11] pavolloffay commented on #839
I will find out, I am going to try to use minikube and the same version the kafka operator.

[2020-01-08 09:31] kevinearls commented on #839
@jpkrohling We do run this on OpenShift 4.2 but normally with the AMQ Streams operator.  I will try a couple of variations this morning.

@pavolloffay What version of the Jaeger Operator are you using?

[2020-01-08 09:32] pavolloffay commented on #839
I am using 1.16.0, although via `make run`

[2020-01-08 10:51] pavolloffay opened #840 "E2e test for self provisioned kafka"
Write e2e test (smoke) for self-provisioned Kafka cluster.

[2020-01-08 13:40] pavolloffay commented on #839
I have some more interesting news on this topic...

I was able to deploy self provisioned kafka in `kafka` namespace. However in other namespaces (e.g. `project4`) I get similar error:

[code]

Let's have a look at all pods. All kafka infra seems to be up and ready, however jaeger collector failed to start. The query also failed because I didn't deploy storage...

[code]

[2020-01-08 13:45] pavolloffay commented on #839
I found the issue. Jaeger operator hardcodes broker URL to `kafka` namespace.

[2020-01-08 13:52] kevinearls commented on #839
@pavolloffay Nice.  You beat me to it by about 5 minutes.  :-)

[2020-01-08 13:53] pavolloffay commented on #839
I have a fix ready, just letting you know.

[2020-01-08 15:04] #839 closed

[2020-01-08 18:35] pavolloffay commented on #815
I am closing this as it works except `default` namespace.

Feel free to reopen if we think that we should fix it - however it seems more like an OCP issue.

[2020-01-08 18:35] #815 closed

[2020-01-09 12:11] objectiser opened #843 "CreatedAt date/time not correct in csv"
For example, the [1.16. csv](https://github.com/jaegertracing/jaeger-operator/blob/90b4053280fb230f99da4a6be5b40091d754ae43/deploy/olm-catalog/jaeger-operator/1.16.0/jaeger-operator.v1.16.0.clusterserviceversion.yaml#L68) has a createdAt date in September, while the release was made in December.

[2020-01-09 14:11] pavolloffay opened #844 "Log "Provisioning Kafka, this might take a while" happens on every reconcile loop"
Which is misleading and should be probably logged when waiting on kafka to be up during the first deployment.

[2020-01-09 14:13] pavolloffay opened #845 "Self provisoned kafka is misusing common spec"
Self-provisioning of Kafka is using common spec to inject volumes and volume mounts which means that these volumes are mounted to all objects using common spec (query service, es curator cron jobs, spark dependencies)

[2020-01-09 14:18] jpkrohling commented on #845
I'm labeling this as "question", as not sure it's really a bug. When doing the provisioning, the certs are provisioned by the Kafka operator, which then has to be mounted by the collector and by the ingester, and whichever other future party that might be interested in communicating with Kafka. The "future party" is what made me decide for injecting the volumes into the common spec instead of in t

[2020-01-09 14:21] jpkrohling commented on #844
"might" is the keyword here. During a reconciliation loop, we don't know if a change in the Kafka object will trigger a lengthy update. We know for sure that the _first_ reconciliation will take longer than the subsequent ones, but we don't know whether any of the subsequent ones will take more than just a couple of seconds.

[2020-01-09 14:27] pavolloffay commented on #845
I am not ask question, so feel free to close this if you think the current design is right.

Self-provisioning and using external kafka might be two different use-cases.

It seems like security issue if components which are not talking to kafka have by default access to its certs. In case of external kafka it is user's decision to use the common spec at the storage level (/root) or component level

[2020-01-09 14:29] jpkrohling commented on #845
Sorry, I added the label with the idea that it could serve the purpose of discussing the issue. Didn't mean to say that you were asking a question.

You have a great point, I'd be open to have this changed and assess the decision again if it becomes a problem in the future.

[2020-01-09 14:50] objectiser commented on #845
Agree this should probably be restricted to those components that actually access kafka - however not sure it is a big security issue, as it is only available to the components that we deploy, which would not try to use the certs or access kafka.

[2020-01-09 15:29] pavolloffay commented on #844
The issue is that this is being logged on every loop regardless kafka spec is changed or not. Anyways Jaeger CR at the moment does not expose any kafka properties - so it cannot be changed.

[code]

[2020-01-09 16:04] jpkrohling commented on #844
Agree then to move the message to be logged only during the "create" phase.

[2020-01-10 10:15] pavolloffay opened #846 "Reuse values from externally created secrets"
At the moment Jaeger CR supports specifying secreat name  e.g. `storage.secretName: jaeger-secret` which is used to define env variables on deployments https://www.jaegertracing.io/docs/1.16/operator/#secrets-support. This is often used to define storage user/pass.

However often times passwords already exist in secrets created by other components deploying storage (operator, heml chart). To use t

[2020-01-10 10:57] jpkrohling commented on #846
As discussed on IRC, I think the best approach would be to add support for references in the Options object, so that we can have something like what's [possible with env vars](https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables):

[code]

[2020-01-13 17:19] mumrau commented on #750
It is a blocker for some usages, we like to deploy our artifcats the same way, using one single "rule them all" pipeline, which makes it impossible for us, as of today, to unify completely, because our periodic jobs do not receive their associated sidecar. We have to rely on a `DaemonSet` "ring" of agents to which our workloads connects.
I am sure we are not the only ones trying to unify their wor

[2020-01-14 11:13] mumrau commented on #750
Oh I might add, I'm now programatically adding the sidecar agent when generating the cronjob, using my conventionnal `--reporter.grpc.host-port=dns://my-jaeger-collector-headless.ns-jaeger:14250`.

Worth noting, when the job finishes, the `jaeger-agent` doesn't exit and thus the job doesn't complete because of the sidecar nature of the agent (discussed more widely over there: https://github.com/ku

[2020-01-15 13:33] jpkrohling opened #848 "Auto-scale collector instances"
Based on an (old) Gitter message from @black-adder, it would be good to let the Jaeger Operator automatically scale up/down Jaeger:

@objectiser then shared that:

With today's knowledge and tools, I think we can start with a simple approach of just using the Horizontal Pod Autoscaler (HPA) from Kubernetes, to scale up/down based on CPU and memory. The idea is that when there's a shortage of worke

[2020-01-16 09:41] yogeek opened #854 ""jaegers.jaegertracing.io" is invalid: metadata.annotations: Too long"
Hi,

When installing the operator according to the documentation, the fact that `kubectl create` is used causes the command to not be idempotent :
[code]

It is not very convenient for a CI pipeline.
So I used by `kubectl apply` instead, but I have this error :
[code]

How can the operator be installed in an idempotent way please ?

[code]

[2020-01-16 09:54] jpkrohling commented on #854
Unfortunately, there's not much we can do, as the schema that is generated is really big due to some big constructs we use (like volumes). As we use them in a quite a few places, our CRD grew bigger than we would want.

As a workaround, you can strip the `validation` node from the CRD. It will reduce the CRD to a sane size and `kubectl apply` should work again.

[2020-01-16 13:28] jpkrohling opened #855 "Duplicated "Injecting sidecar" message"
When deploying an application that should have a sidecar injected, the following message is duplicated:

[code]

Using  the `simple-prod` CR as example, the following deployment can be used to reproduce:

[code]

[2020-01-16 13:29] jpkrohling commented on #855
@rubenvp8510 could you please take a look?

[2020-01-16 15:58] rubenvp8510 commented on #855
Sure, I'll take a look

[2020-01-17 04:34] rubenvp8510 commented on #855
This is due to https://github.com/jaegertracing/jaeger-operator/pull/454

Reading the original [issue](https://github.com/jaegertracing/jaeger-operator/issues/442) it seems to me like we shouldn't implement this using the auto-detect feature, instead I think we should scan for updates only when operator starts and let the reconciliation loop do the rest.

@jpkrohling let me know what do you think,

[2020-01-19 17:38] TBBle opened #863 "Jaeger tags for injected agent are only added if a single container is present"
I'm specifically looking at `func container` in https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/inject/sidecar.go.

The flow *appears* to be intended to inject a bunch of tags from the pod info, and *if a single container is present*, include a tag about the container.

However, the entire set of tags is only added in a single-container setup.

This looks like a trivial mistake in

[2020-01-19 18:13] TBBle commented on #863
I don't have an immediate fix for it, but I suspect the 'only one container' logic will also fail if called from `UpdateSidecar`, as it the jaeger-agent side-car will be seen as a second container.

[2020-01-19 22:43] TBBle opened #865 "Auto-inject the IP tag for Operator-injected Agents"
The Operator provides a few [default tags for Jaeger Agents](https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/inject/sidecar.go#L134) when they are deployed as auto-injected side-cars.

Since a Pod is limited to a single host, it'd be useful to inject the 'ip' tag the same way. This would make life much simpler for non-Jaeger clients (such as the OpenCensus exporter) and saves havi

[2020-01-20 11:25] jpkrohling commented on #863
Nice catch!

[2020-01-20 11:35] jpkrohling opened #866 "Change `tracegen` example to use a versioned image"
The `tracegen` as part of #856 uses `latest` as the image's tag. Once 1.17 is released, the image should be changed to use a stable version.

[2020-01-20 12:56] #848 closed

[2020-01-20 13:12] jpkrohling commented on #865
It is probably trivial, as we inject the sidecar ourselves. As you hinted, we can use the downward API, like we do with the pod name, to get the host IP:

https://github.com/jaegertracing/jaeger-operator/blob/b4a35c47429d6ad7c87832db96ce3a2464fede6d/pkg/inject/sidecar.go#L161-L168

And then, just need to add a new agent tag, like this:

https://github.com/jaegertracing/jaeger-operator/blob/b4a35c4

[2020-01-21 08:23] #854 closed

[2020-01-21 14:57] #644 closed

[2020-01-22 07:36] TBBle commented on #865
I can't commit to having time to knock it out, but if no one else gets around to it, I'll try looking at it when I add unit tests to #864.

[2020-01-22 09:53] jpkrohling commented on #865
Sounds good! Just make sure to send it as a separate PR.

[2020-01-22 16:20] kevinearls opened #870 "with-badger.yaml example fails on OCP 4.1"
The with-badger.yaml example fails to deploy on OCP 4.1.  It appears to be trying to call mkdir with an empty directory name.  I got the following log:

[code]

This example used to work on OCP 4.1, and currently works find on OCP 4.2.  The with-badger-and-volumes.yaml example works correctly on both OCP 4.1 and OCP 4.2

[2020-01-22 21:17] smiklosovic commented on #709
@pavolloffay I am getting the very same error. I do not have a clue how to solve it.

I upgraded from 0.10.0 to 0.11.0.

[2020-01-23 10:57] jpkrohling opened #872 "Add a default memory/CPU limit"
Now that the dynamic queue size feature [got merged](https://github.com/jaegertracing/jaeger/pull/1985) into Jaeger, we could think about adding a memory limit to the Collector's deployment. This way, we could enable the autoscale feature by default, while having a sensible default.

I think we could start small, with 128MiB: with tracegen, it would result in a queue size of `428810`, as its avera

[2020-01-23 10:57] jpkrohling commented on #872
@objectiser, @pavolloffay, @rubenvp8510 , what do you think?

[2020-01-23 11:00] jpkrohling commented on #870
I think I've seen this reported at the main repo. @burmanm, perhaps you remember about this one?

[2020-01-23 11:07] objectiser commented on #872
Sounds like a good idea to me. Would be good to run performance/scaling tests though.

[2020-01-23 13:02] burmanm commented on #870
I don't think the old reasons are applicable (there were cases with wrong docker tmpfs configuration as well as ephemeral setting values).

[2020-01-24 12:07] jkandasa commented on #872
@jpkrohling if the user limits memory for the collector <= 128MiB, this will lead OOM exception right?

[2020-01-24 12:22] jpkrohling commented on #872
Right, if the container's limit is set to the same size as the max queue size, then it might eventually lead to OOM. Ideally, we could set the container's limit to 256 MiB and the max queue size to 128 MiB.

[2020-01-24 12:27] objectiser commented on #872
@jpkrohling Thought the dynamic queue size enhancement would avoid such situations?

[2020-01-24 12:31] jpkrohling commented on #872
The dynamic queue will calculate the number of items that fit into the queue based on the observed span size. The amount of memory to allocate is still up to the user, so, if the user sets 128 MiB for the queue alone, and 128 MiB for the container, then it will lack space for the other parts.

[2020-01-24 13:05] jkandasa commented on #872
@jpkrohling I think we can get memory limit from `resources` if defined any in the CR.
If not defined we can go with default options.
Otherwise, get the defined memory limit and if dynamic queue memory not defined, then
Take some percentage of memory for the dynamic queue,
for example,
 80% of memory if total memory >= 1GiB
 70% of memory if total memory >= 768MiB
 60% of memory if total memory >=

[2020-01-24 13:09] jpkrohling commented on #872
I think that's the main question. If we do specify a default limit, like 256 MiB, then we can set the queue size in memory as well *and* add the auto scaler. Without a default limit, we can't know which value to set the queue size, and there's no way for the pod scaler to scale once "90% of the memory" is used up. If our default isn't suitable for a given instance, it can be explicitly set in the

[2020-01-27 06:30] haf opened #873 "Too long CRD definition"
From master, right now. Onto docker-desktop macOS

[code]

repro

[code]

[2020-01-27 08:40] jpkrohling commented on #873
See #854

[2020-01-27 10:49] pavolloffay commented on #709
@smiklosovic just use the same golang version as the Jaeger operator uses. If that does not help try to clean cached vendor or golang/src (not sure if this helps though).

[2020-01-27 11:00] pavolloffay commented on #872
Q: If there are no default resource values specified in the CR. How much memory/CPU is assigned?

Q: Why cannot be autoscaling used without specifying the default resources?

[2020-01-27 12:32] jpkrohling commented on #872
That's something to discuss. I suggested 256MiB for memory and 200m CPU, but it's really open so far.

It's not that it requires a default, it's more that it requires a *value*. When no value is set by the CR, we need to have a default to be used instead.

[2020-01-27 12:45] haf commented on #873
This is not a good enough solution, if kustomize uses apply and if I'm expected to continuously re-run apply from a scheduled job (as I am). Can you at least ship a CRD definition without the validation node, so that the kubectl tooling works as expected?

[2020-01-27 13:09] pavolloffay commented on #872
I mean what is the current behavior when the resources are not defined in Jaeger CR. How much resources are allocated to jaeger?

[2020-01-27 13:22] jpkrohling commented on #872
I don't think there's a default Kubernetes limit in that case. If the pod is consuming more memory than the node can allocate, it will just crash with an OOM. When a limit is set, the pod won't be scheduled for low-memory nodes, which is why it's always a good idea to set the minimum memory requirements for every workload.

If a limit isn't set, there's nothing like "pod's total memory".

[2020-01-27 13:25] jpkrohling commented on #873
If there are more people in need of this, we can certainly consider providing a CRD that shouldn't be used for production purposes.

[2020-01-27 14:47] annanay25 commented on #599
Working on this one.

[2020-01-27 15:34] pavolloffay commented on #872
thanks @jpkrohling, This makes it clear to me. I thought that k8s will allocate a default limit if nothing is provided.

[2020-01-27 16:21] jpkrohling commented on #599
The biggest problem is *how* to provision the cert. Ideally, it would:

1. check whether the operator is running on openshift
1. check whether the cert manager is available

For OpenShift, there's an annotation that can be used in the collector deployment that automatically generates a service certificate. See https://docs.openshift.com/container-platform/4.3/authentication/certificates/service-se

[2020-01-27 17:59] haf commented on #873
Could you give a suggestion on how to do gitops with your solution then?

[2020-01-27 18:12] annanay25 commented on #599
Is it an option to provision a self signed cert through the operator?

[2020-01-27 18:19] annanay25 commented on #599
If we use the same `RootCA` to create both client and server certs, we could provision them from the operator without the need of an external CA .. self signed but secure.

[2020-01-27 18:24] annanay25 commented on #599
We could then directly mount these as secrets on each of the agent and collector containers.

[2020-01-28 08:32] jpkrohling commented on #873
What prevents you from storing your own modified version of the CRD? Or from piping the result of `cURL` to a json converter + jq ? I can think of quite a few possibilities, but as you own your environment, you'd be the best person to come up with solutions ;-)

[2020-01-28 09:16] #840 closed

[2020-01-28 09:45] jpkrohling commented on #599
No, let's try to avoid self-signed certs: confidence in the certificate authority that signed the cert is one of part of the trust model of TLS. Personally, I'd rather *not* have auto-TLS than to have it with self-signed certs, as it would send the wrong message to end-users.

We have OpenShift-specific code in the operator already, and we auto-detect some other features. We can easily detect both

[2020-01-28 10:41] #863 closed

[2020-01-28 11:47] haf commented on #873
- Repeatability
- Documentation requirements
- Reproducibility; jq is not a default tool on Windows which is part of the use-case for developer environments for us, and even less `yq` or `python` which are commonly used to transform yaml to json and then filter. Your expectations of our environment don't match the real-world; it has to run on Linux, Windows and macOS.
- Resilience to change; if I

[2020-01-28 12:37] jpkrohling commented on #873
By suggesting that we should keep an alternate version of the CRD for your use case is putting the burden of maintenance on us. If there are enough users with the same use case as you, I don't have a problem in keeping the special version in our repository, but this is the first case that we're receiving saying that "kubectl create" can't be used instead of "kubectl apply".

[2020-01-28 12:42] haf commented on #873
In fact, **everyone** I've worked with in enterprises (presumably your market/audience) don't write issues on github.

If you think that "being able to deploy with kustomize" is only my use-case, I think you need to take a look around you ;) It's built into kubectl nowadays!

[2020-01-28 12:43] haf commented on #873
Also, I think this is the first issue since I'm pulling from master and not your latest deploy tag. Canaries, and what not ;)

[2020-01-28 12:46] haf commented on #873
Thirdly, I count this to be the second issue, right? # duplicate

[2020-01-28 13:01] jpkrohling commented on #873
The issue has been reported a few times in different channels, but everyone else seems to be happy with `kubectl create` being an alternative to `kubectl apply`.

In any case, could you provide the `kustomize` commands you are using?

[2020-01-28 13:05] jpkrohling commented on #873
For reference, here are the upstream issues relevant to this:
https://github.com/operator-framework/operator-sdk/issues/2285#issuecomment-560479367
https://github.com/kubernetes-sigs/kubebuilder/issues/1140

[2020-01-28 13:15] haf commented on #873
[code]

[2020-01-28 14:53] pavolloffay commented on #873
One idea I have tried is to remove repetitive nodes and use pointers https://medium.com/@kinghuang/docker-compose-anchors-aliases-extensions-a1e4105d70bd

However after handling `volumes` nodes the file is still too large.

[crd-yaml.txt](https://github.com/jaegertracing/jaeger-operator/files/4122950/crd-yaml.txt)

[2020-01-28 15:59] pavolloffay commented on #745
Spark definitely will not start with memory around `1Gi`. It requires at least 2Gb to start. The ideal configuration is 4/8GB at least.

Action items:
* I would remove merging of resources from the storage spec with dependencies resources. It does not make sense to merge as the spark requires much more memory. Maybe provide memory default for spark dependencies.
* document memory requirements

[2020-01-29 00:47] nouney commented on #873
`kubectl create` and `kubectl apply` are not the same. I only use `kubectl apply` and now my workflow is broken because of the CRD.

[2020-01-29 09:15] haf commented on #873
@pavolloffay I don't think that will help since the k8s API server writes the annotation (the problem area here) as JSON, which doesn't have pointers.

[2020-01-29 09:25] jpkrohling commented on #873
How does your workflow look like? Are you also using kustomize?

[2020-01-29 12:58] jkandasa commented on #226
@jpkrohling shall I work on this?

Should I have to use these functions across?
* [AsOwner](https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/util/util.go#L135)
* [Labels](https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/util/util.go#L147)

[2020-01-29 13:06] pavolloffay commented on #226
yes, They are already used in some places but not everywhere.

[2020-01-31 11:26] #855 closed

[2020-02-03 18:25] berahac opened #882 "Operator is not creating Service for Daemonset."
When creating production Deployment of jaeger configuration, Agent service does not get created.

[code]

 Get pods command returns this:

[code]

I had to create the Agent Service locator manually. it is supposed to be created automatically...

[code]

Service Listing from get svc command:
[code]

[2020-02-04 09:24] rashmi-ibm commented on #781
I am trying to build jaegar-operator on a Power ppc64le system. The build is successful but I am getting the same error as above for test failure.

time="2020-02-04T03:42:29-05:00" level=info msg="Cassandra hostname not specified. Using 'cassandra' for the cassandra-create-schema job." instance=TestCassandraCreateSchemaInvalidTimeout namespace=
time="2020-02-04T03:42:29-05:00" level=info msg="Cass

[2020-02-04 10:31] rashmi-ibm opened #884 "Error creating jaeger-operator on Power"
I am trying to build jaegar-operator on Power. But facing the below issue.

[code]

[2020-02-04 11:02] jpkrohling commented on #882
The DaemonSet shouldn't be backed by a service. The idea is that clients should get the DaemonSet's IP via downward API (`host.ip`) instead, so that all spans generated on a given node will reach the daemonset (via UDP) that is running on the same host. Using a service means that you'll potentially be sending data over the real network to some other daemonset.

If you going this path, then it's pr

[2020-02-04 11:02] jpkrohling commented on #882
I'm closing this issue, but feel free to reopen if you need further clarifications.

[2020-02-04 11:02] #882 closed

[2020-02-04 13:05] jpkrohling commented on #781
Looks like you are running the tests as root, which might explain why the test is succeeding in creating the directory and thus, failing the test.

[2020-02-04 15:37] jpkrohling commented on #884
You probably didn't install the CRD first. Look at the "Getting Started" commands from the readme:

https://github.com/jaegertracing/jaeger-operator#getting-started

You probably also want to use a newer Kubernetes version: 1.11 is quite old and I believe you'll not get much further with the operator there.

[2020-02-04 15:53] jpkrohling opened #885 "Check deployment reconciliation"
While checking the logs of a reconciliation, I found that there are four reconciliation loops being triggered for a single deployment, and this needs some investigation:

[code]

And later on, again:
[code]

The first two lines are related to the Jaeger reconciliation, the remaining ones are related to the Deployment reconciliation.

cc @kevinearls, @rubenvp8510

[2020-02-04 16:00] jpkrohling opened #886 "Check reconciliation of routes"
We need to check whether anything changed related to the reconciliation of routes. We don't seem to be getting an existing route during the reconciliation of the Jaeger CR, which causes the loop to fail while attempting to create a new route:

[code]

cc @kevinearls, @rubenvp8510

[2020-02-04 16:07] jpkrohling commented on #886
In the end, this might be just a timing issue, as further reconciliations on the same CR do work:

[code]

As Kubernetes is "eventually consistent", we should consider that the route object isn't being created as fast as other objects, so, it doesn't indeed exist during the second reconciliation.

[2020-02-04 21:57] yeya24 opened #887 "make generate failed"
Hi,  just try to do a generate but it failed.  I am using operator-sdk v0.15.1, go 1.13.5
[code]

[2020-02-05 04:24] rashmi-ibm commented on #884
I had executed the kubectl commands from Getting started section but only one wasnt executing successfully.

kubectl create -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml

Output :

n)(nil), Example:(*apiextensions.JSON)(nil)}}, AdditionalProperties:(*apiextensions.JSONSchemaPropsOrBool)(nil), PatternProperties:map[string]api

[2020-02-05 07:56] rashmi-ibm commented on #884
# oc version
oc v3.11.146
kubernetes v1.11.0+d4cacc0
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://<host>:8443
openshift v3.11.154
kubernetes v1.11.0+d4cacc0

Also tried
oc create -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml

Output:
 oc create -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator

[2020-02-05 10:22] #865 closed

[2020-02-05 11:05] jpkrohling commented on #884
That's indeed one of the problems that I had in mind when I said that you wouldn't go much further with the operator :-)

Please, try it in a recent version and reopen if you still see the same problem.

[2020-02-05 11:07] jpkrohling opened #888 "Upgrade to Operator SDK v0.15.1"
Looks like there's a new version out there, and we are still on 0.12.0.

See #887 and https://github.com/operator-framework/operator-sdk/releases

[2020-02-05 11:07] jpkrohling commented on #887
That's likely because of the Operator SDK version. We are currently on 0.12.0, and I'm actually surprised that we are 3 versions behind! I created #888 to track the upgrade to this version.

[2020-02-05 11:31] rashmi-ibm commented on #884
Thanks @jpkrohling I will try building jaegar-operator on a higher version and would get back if I face any issues.

[2020-02-05 12:28] jpkrohling opened #889 "Remove add-user script"
The container currently creates a user during the startup. While this might be needed in older OpenShift versions, it's not necessary anymore since 4.2. Plain Kubernetes might also not need this, so, we can get rid of this code.

[2020-02-05 12:41] jpkrohling commented on #873
I'm reopening, but marking this as "needs-info" (see my last comment). I'm also yet to test kustomize myself, as I'm really not familiar with the tool.

[2020-02-05 12:46] pavolloffay commented on #745
Heads up: if the resources in Jaeger CR are specified at the root level it will be applied to spark job. However spark job requires at least `4Gi` so be careful and override the resources in the `dependencies` spec.

It's going to be documented here: https://github.com/jaegertracing/documentation/pull/355

[2020-02-05 12:46] #745 closed

[2020-02-05 12:47] TBBle commented on #865
For anyone coming to this issue later, in the end the injected tag was not `ip` but `host.ip`, as the Jaeger clients internally add an `ip` tag already, and so the span would end up with *two* `ip` tags with different values.

So we have a nice and shiny new tag to use for tying together different pods on the same node, we don't get the magic "Clock Skew Adjuster does the right thing" fix I was ho

[2020-02-05 12:54] jpkrohling commented on #865
Yeah, sorry about that, but I don't think there's a sane way of doing that right now. Perhaps you could propose a feature in the main repository for it? Something like a host-correlation tag? Or perhaps to take into consideration other `ip` tags, such as `host.ip` and possibly `node.ip` (in case they ever mean something different?).

[2020-02-05 12:56] TBBle commented on #865
Yup, I just added a note to the issue about the Clock Skew Adjustor for exactly that. ^_^

I probably won't have time soon to propose a PR for such a change, but I can hope someone else might like the idea enough to try it, depending on the maintainer reaction to the suggestion.

[2020-02-06 09:20] #888 closed

[2020-02-06 12:22] jgehrcke opened #892 "make e2e-tests-cassandra: tries to push image, fails"
I am trying to test a patch, and thought that running `make e2e-tests-cassandra` would be a great start.

I however did not get far because as part of this make target an image is tried to be pushed to Docker hub, and I of course don't have the right credentials for that:
[code]

[2020-02-06 12:25] jgehrcke commented on #892
Sorry, just realized that I can solve that by setting the environment variable `NAMESPACE`. Thanks!

[2020-02-06 12:25] #892 closed

[2020-02-06 16:01] jgehrcke opened #894 "make e2e-tests-examples2: fails sometimes in CI, does not work on my machine"
Follow-up from https://github.com/jaegertracing/jaeger-operator/pull/893:

I tried running e2e-tests-examples2 locally but did not succeed. I did set up minikube:
[code]
Quick check:
[code]

Then:
[code]
Here it then hits the deadline after 10 minutes.

Did a bit of debugging.

[code]

I then found that Elasticsearch did not come up properly:
[code]

With
[code]
Which is a OOM problem.

Which limi

[2020-02-06 16:04] jpkrohling commented on #894
This might be it. Here's how I typically run minikube on Fedora 31:

[code]

[2020-02-06 16:05] #889 closed

[2020-02-06 16:27] jgehrcke commented on #894
I don't have such a beefy notebook, so I did
[code]
Took a while, but the test passed now!
[code]

:rocket:

Is that an insight that should be translated to TravisCI?

[2020-02-06 16:30] jgehrcke commented on #894
From https://github.com/jaegertracing/jaeger-operator/pull/893/checks?check_run_id=429809017#step:8:107

[code]

[2020-02-06 21:03] amila-ku commented on #767
@jpkrohling would like to work on this. If it is agreed to use ubi will start to work on this.

[2020-02-07 04:16] TBBle opened #896 "Do users creating Jaeger instances really need the jaeger-operator role?"
The [_jaeger-operator_ role](https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/role.yaml) is quite wide-ranging, and seems entirely too wide for users who just need to CRUD a single resource (_jaegertracing.io.Jaeger_).

The application of the jaeger-operator role in this way was seen in the [Openshift installation instructions](https://www.jaegertracing.io/docs/1.16/op

[2020-02-07 08:27] jpkrohling commented on #896
This indeed sounds odd and I believe you might be right. If you want to give it a try and don't have access to an OpenShift cluster, let me know. Otherwise, we might test it ourselves in the next couple of weeks.

[2020-02-07 08:35] jpkrohling commented on #767
I think there's nothing preventing us from using `ubi` instead of `centos`, so, it's yours, @amila-ku!

[2020-02-07 09:24] jpkrohling commented on #894
You figured that out already by now, but unfortunately, CI machines aren't that good as well, which is why tests might sporadically fail.

[2020-02-07 11:00] rashmi-ibm commented on #884
@jpkrohling  I tried on openshift 4. env but the pod remains in CrashLoopBackOff state.
Any pointers on the same.

 oc version
Client Version: v4.3.0
Server Version: 4.3.0-0.nightly-ppc64le-2020-02-02-175956
Kubernetes Version: v1.16.2

[root@ ~]# oc new-project observability
Now using project "observability" on server "https://<host>:6443".

You can add applications to this project with the 'new-

[2020-02-07 11:27] pavolloffay commented on #373
Istio uses labels and not annotations for sidecar injection:

[2020-02-07 11:40] jpkrohling commented on #884
Reopening, as this now seems to indeed be a problem:

[code]

We only build and publish x86_64 images. You might want to build `jaeger-operator` with the appropriate Go flags and publish the image somewhere, like https://quay.io. Once it's there, change the `operator.yaml` to use your image instead.

This is probably how you could build it:
[code]

I ran the command above and published the image a

[2020-02-08 15:11] yeya24 commented on #887
Thanks @jpkrohling, it works now!

[2020-02-08 15:11] #887 closed

[2020-02-10 09:50] rashmi-ibm commented on #884
@jpkrohling I created a power specific image and then was able to successfully create the jaeger-operator. Thanks a lot for your prompt response that helped a lot.

oc get pods
NAME                               READY   STATUS    RESTARTS   AGE
jaeger-operator-7989d66785-xrrfk   1/1     Running   0          25m

[2020-02-10 09:52] jpkrohling commented on #884
I'm closing this again. If we receive more requests for different arches, we could add this to our pipeline.

[2020-02-10 09:52] #884 closed

[2020-02-11 10:50] pavolloffay opened #899 "Inject sidecar agent with true breaks if Jaeger name changes"
Jaeger operator uses annotation `sidecar.jaegertracing.io/inject: true`  to inject an agent to a deployment. After the first loop (if the Jaeger instance is found) it changes `true` to `<jaeger-instance-name>`. Therefore if the jaeger instance name is changed the sidecars will not be injected.

[2020-02-11 11:14] jpkrohling commented on #899
I think @rubenvp8510 has/had a fix for it, in that he'd look for orphaned deployments from time to time.

[2020-02-11 11:38] rubenvp8510 commented on #899
I have a routine that checks for orphaned, used autodetect loop for that. I'll check this case.

[2020-02-11 13:45] pavolloffay opened #900 "Jaeger agent can be injected into jaeger instance"
Jaeger agent can be injected into Jaeger agent or all-in-one deployment which causes deployment failures due to port collisions.

This is not a problem when the inject annotation (`sidecar.jaegertracing.io/inject=true`) is added on deployments, but it can be problematic when the inject annotation is applied on a namespace (https://github.com/jaegertracing/jaeger-operator/pull/897) and the namespac

[2020-02-11 14:02] jpkrohling commented on #900
This is not a problem now, but will become a problem once #897 is merged, right?

[2020-02-11 14:27] pavolloffay commented on #900
It is if somebody would use the inject annotation on Jaeger all-in-one deployment or agent deployment.

[2020-02-11 15:38] #373 closed

[2020-02-12 00:27] rubenvp8510 commented on #900
Is this still an issue? or it was fixed in PR #897 ?

[2020-02-12 07:58] pavolloffay commented on #900
It hasn't been. I will be looking into this.

As part of this ticket I will have some thoughts on how we could exclude specific deployments when the annotation is used on a namespace.

[2020-02-12 23:36] mohit-chawla commented on #77
@jpkrohling if use the following strategy with minikube, the base path is not reflected.
[code]

output of `kubectl get ingress`
[code]
output of `kubectl describe ingress jaeger-tracing-query`
[code]

It looks like the base path is not set at all. (ideally, correct me if i am wrong but Path should be '/jaeger' instead of *)

[2020-02-13 05:54] rubenvp8510 opened #905 "Autoinject routines scan all namespaces"
In the actual implementation of autoinject, the routines doesn't take into account the environment variable WATCH_NAMESPACE

This could lead to a scenario when two jaeger operators installed in the same cluster will scan all deployments of all namespaces.

[2020-02-13 08:36] pavolloffay opened #906 "Agent sidecars are not cleared when annotation is deleted from namespace"
Related to https://github.com/jaegertracing/jaeger-operator/pull/897

Steps to reproduce:
[code]

After these steps the agent is vertx deployment is still injected.

cc) @rubenvp8510

[2020-02-13 09:02] pavolloffay commented on #906
Maybe related to https://github.com/jaegertracing/jaeger-operator/issues/905?

[2020-02-13 12:21] objectiser commented on #905
I think that is ok, as the `WATCH_NAMESPACE` is intended for use by the operator to scan for new/updated CRs. So for example, a user may only want their Jaeger CR to be created in a particular observability namespace, but may want Jaeger agents injected in apps that reside in other namespaces.

Maybe we need to consider adding a namespace list to the CR, to restrict which namespaces a particular o

[2020-02-13 12:36] jpkrohling commented on #77
@mohit-chawla could you try this instead:

[code]

[2020-02-13 14:33] jpkrohling commented on #905
If the reason for having that is access control, I'd rather see something more Kubernetes native.

[2020-02-14 07:54] pavolloffay commented on #907
Moving this to Jaeger operator repository.

[2020-02-14 07:54] pavolloffay commented on #907
cc @jpkrohling

[2020-02-14 08:32] andye2004 commented on #907
@pavolloffay, thanks for responding so quickly. I am using the operator but looking at the official helm charts it's the same issue there so I would assume that this would need fixing in both if the operator is not just pulling the helm charts into its build for distribution?

[2020-02-14 08:42] pavolloffay commented on #907
We don't use helm chars in the operator.

@andye2004 is istio upstream using helm chart to install jaeger?

Do we know if the issue has been fixed in envoy?

[2020-02-14 08:46] andye2004 commented on #907
As best I can tell the issue remains open.

[2020-02-14 11:00] pavolloffay opened #910 "Disable Jaeger agent injection via annotation"
Created from https://github.com/jaegertracing/jaeger-operator/pull/903#discussion_r378925226

PR https://github.com/jaegertracing/jaeger-operator/pull/897 added per namespace injection support for Jaeger agent.

[code]

It means that all deployments in that namespace will get jaeger agent injected.

I am proposing to define a special semantics for annotation `sidecar.jaegertracing.io/inject=false`

[2020-02-14 11:12] #900 closed

[2020-02-14 11:28] #907 closed

[2020-02-14 15:16] jpkrohling commented on #910
I should have documented this when I first implemented, but I'm quite sure I thought about `false` when the sidecar injection feature was implemented.

On one hand, I think it's great to have an explicit value for `false`, but other than the log message, there's really no difference between what we have today vs. having a special conditional in the code to skip the `#Select()` logic.

One corner c

[2020-02-18 08:27] pavolloffay opened #1004 "Use Jaeger-OTEL collector in jaeger-operator"
Is our aim to swap jaeger-collector with jaeger-opentelemetry-collector in Jaeger CR (e.g. just change the collector image in https://godoc.org/github.com/jaegertracing/jaeger-operator/pkg/apis/jaegertracing/v1#JaegerCollectorSpec)? If so the main problem is configuration otel-collector is configured via configuration file and storage in Jaeger CR is configured by flags - more in https://github.co

[2020-02-18 19:31] mohit-chawla commented on #77
@jpkrohling , this worked, thanks.

[2020-02-19 08:48] #487 closed

[2020-02-20 09:25] jpkrohling opened #918 "Investigate replacing Routes with Ingress"
Looking at some OpenShift 4.x docs, I got the impression that regular Kubernetes `Ingress` resources are recognized by OpenShift and used as base for new routes. If that confirms to be true, we can just get rid of the `Route` resource in the Jaeger Operator, keeping `Ingress` for both OpenShift and Kubernetes.

[2020-02-20 10:28] objectiser commented on #918
Would need to be sure the upgrade mechanism handled it, so routes were then converted into equivalent ingresses.

[2020-02-20 22:59] rareddy opened #920 "Provide client-gen generated code to be used by other Operators"
Working on my operator and trying to enable the support to find available Jaeger instances, I did not find readily usable go client code that Get, List etc. This code can be auto-generated using the `[client-gen](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-api-machinery/generating-clientset.md)` tool. Locally I did the same to generate some code, however it would be

[2020-02-21 08:38] jpkrohling commented on #920
I think it's a great idea. Would you like to give this a try? The OpenTelemetry Operator has a similar structure as Jaeger's and I added this there some time ago. Here's what I think would be required:

Install `client-gen`:
https://github.com/open-telemetry/opentelemetry-operator/blob/4593927867598681b2a13d30012c15ba98b5749c/Makefile#L95-L101

Add the command to `generate.sh`:
https://github.com/

[2020-02-21 11:14] #788 closed

[2020-02-21 11:14] #687 closed

[2020-02-21 13:52] rareddy commented on #920
Yes, I will contribute a PR for this.

[2020-02-21 22:02] rareddy commented on #920
https://github.com/jaegertracing/jaeger-operator/pull/921

[2020-02-23 21:04] adamhosier commented on #873
We've worked around this by removing all "description" fields from the provided CRDs, based on a suggestion by the upstream Kubebuilder issue: kubernetes-sigs/kubebuilder#1140

Would you consider publishing the CRDs without the description fields to allow them to be compatible with `kubectl apply` out of the box?

[2020-02-24 10:11] jpkrohling commented on #873
Absolutely. Is it required only for fields in the `JaegerCommonSpec`, or should it be disabled for all types?

[2020-02-24 10:41] adamhosier commented on #873
We have it disabled for all fields, but happy to work with a subset of this if it can drop the size down enough.

[2020-02-24 10:49] jpkrohling commented on #873
I agree in principle, especially because we can build a document elsewhere with the doc for those fields. Would you like to send in a PR with the required changes?

[2020-02-24 12:25] jpkrohling commented on #604
This has been done already.

[2020-02-24 12:25] #604 closed

[2020-02-25 08:55] mumrau commented on #428
#856 added support for autoscaling on the collector.
Stop me if I'm wrong, but I suppose this is groundwork for other components as well? I'm particularly thinking about the ingester, obviously.
I'll use autoscaling on the 1.17 release, and will be very happy to provide feedback, if anything doens't go the way expected.

[2020-02-25 09:11] jpkrohling commented on #428
That's absolutely right. If HPA works as expected, we can apply the same idea to the ingester.

[2020-02-25 09:28] jpkrohling commented on #905
Turns out, `WATCH_NAMESPACE` is actually intended to be a list of namespaces the operator should watch (see https://github.com/jaegertracing/jaeger-operator/pull/916#issuecomment-589170927).

I believe this will be fixed once #916 gets merged.

[2020-02-25 09:32] jpkrohling commented on #236
Another aspect to this problem that happened recently: failures in `Routes` object caused the reconciliation to be ended prematurely, preventing more important objects from being created/synchronized.

I think we should review the current `apply` methods and judge one by one which ones are important enough to prevent the reconciliation from continuing, and which failures can be simply logged (perh

[2020-02-25 09:47] kevinearls commented on #669
No longer an issue

[2020-02-25 09:47] #669 closed

[2020-02-25 09:50] jpkrohling opened #925 "Operator takes 100ms+ on simple operations"
Some of the operations in the bootstrap are taking an unreasonable amount of time, like 300ms for the upgrade, when there's no instance to upgrade. This might not necessarily be a problem, and we might not even want to investigate this, as this happens only once during the operator's life cycle:
![image](https://user-images.githubusercontent.com/13387/75234784-7b753080-57bb-11ea-81ec-10421491b7fd.

[2020-02-25 09:51] jpkrohling commented on #925
To be clear: I'm not saying there's a problem here. There's possibly potential for improvement, but it might not be worth pursuing it, as a first reconciliation taking 1s vs. 500ms wouldn't bring tangible benefits.

[2020-02-25 09:53] jpkrohling commented on #117
Somewhat related: #925

[2020-02-25 09:55] jpkrohling commented on #138
Is this the same goal as #111?

[2020-02-25 09:55] jpkrohling commented on #154
Is this still a goal?

[2020-02-25 09:57] jpkrohling commented on #206
Looks like it's 0.7.0 now. It probably doesn't help much, as we are on 0.15.x. Are we ever going to do something about it, or should we close this?

[2020-02-25 09:58] jpkrohling commented on #209
I think this can be closed, right?

[2020-02-25 10:05] jpkrohling commented on #218
We create one for the whole Jaeger instance and use it across all components:

[code]

By now, we also support overriding each component's service account via the Jaeger CR. This means that we have a simple default setup, while being flexible for more complex cases.

I'm closing this, but feel free to reopen if you think we still should have a goal of having one service account per component by de

[2020-02-25 10:05] #218 closed

[2020-02-25 10:07] jpkrohling commented on #226
Most of this has been handled as part of #904, but the `AsOwner` was missing.

[2020-02-25 10:08] pavolloffay commented on #209
I would like to keep this open as docs issue

[2020-02-25 10:09] pavolloffay commented on #206
I am closing this. ES operator updates SDK slower than us so the potential issues might rise later.

[2020-02-25 10:09] #206 closed

[2020-02-25 10:10] pavolloffay commented on #154
This was done in https://github.com/jaegertracing/jaeger-operator/pull/862

[2020-02-25 10:10] #154 closed

[2020-02-25 13:54] mumrau commented on #833
I upgarded since then, but I bleieve this is working as intended, I don't have the logs from back then, but I sadly couldn't reproduce.

[2020-02-25 13:54] #833 closed

[2020-02-25 18:52] vladkolodny opened #926 "UI is not loading with custom query.base-path"
While changing the base-path to any directory UI is not loading.
It is falling back to serving the contents of index.html instead of any other static files.
When we set query.static-files there is instead an error that the query service cannot find index.html at the specify directory

An example of jaeger manifest:

[code]

[2020-02-26 09:30] jpkrohling opened #927 "Operation cannot be fulfilled on deployments.apps..."
While testing #914, I saw a message similar to the following in the logs. Trying it out with the latest master confirms that this exists there as well:

[code]

This can be reproduced by deploying our example `deploy/examples/business-application-injected-sidecar.yaml`:
https://github.com/jaegertracing/jaeger-operator/blob/d80bd242d8c3a4894b504a0e5f00de2b0c3730c8/deploy/examples/business-applicati

[2020-02-26 13:46] objectiser commented on #926
I tried using the following CRs with Jaeger operator 1.16 on minikube:
[code]
(the `deploy/examples/all-in-one-with-options.yaml` with updated all-in-one image version), and
[code]
(the `deploy/examples/simple-prod.yaml` with the additional `query` node).

Both worked fine - I was able to open the Jaeger UI at the `/tracing` path.

So appears the the problem may be related to the ingress?

@jpkroh

[2020-02-26 13:53] jgehrcke commented on #894
Closing this for now. Thanks again @jpkrohling

[2020-02-26 13:53] #894 closed

[2020-02-26 14:20] #791 closed

[2020-02-26 14:20] #905 closed

[2020-02-26 14:41] rubenvp8510 commented on #927
Yes, I'll take a look.

[2020-02-26 16:53] OmriHarary commented on #926
Hi @objectiser, I'm a coworker of @vladkolodny and have been working on this problem with him. Just for my own comparison, can you share the yaml or json for the ingress resource that the operator created, and which ingress controller you are using?

[2020-02-26 17:36] objectiser commented on #926
@OmriHarary This was just on minikube:
[code]

[2020-02-27 03:15] TBBle commented on #342
For anyone who comes across this later, the actual feature was delivered in #401, which continued on from #169.

[2020-02-27 08:43] #767 closed

[2020-02-27 09:12] objectiser opened #929 "List of namespaces to scan for injecting sidecars"
Currently the operator is generally installed cluster wide, with WATCH_NAMESPACE left empty to mean scan for CRs in any namespace.

The sidecar injection also uses the WATCH_NAMESPACE to determine which namespaces it should check.

However if we want to only install Jaeger Operator in a particular namespace, this also means the sidecar injection will only check for deployments in that namespace.

[2020-02-27 10:57] pavolloffay commented on #929
If am not mistaken the namespaces in the CR will have to be also specified in the `WATCH_NAMESPACE`, however it can be just a subset of those namespaces? Am I right?

[2020-02-27 11:13] jpkrohling commented on #929
The list might not be related at all: we might want to `WATCH_NAMESPACE=observability` for Jaeger CRs, but inject sidecars in `my-project`.

[2020-02-27 11:53] pavolloffay commented on #929
I think I got confused with your docs PR.

So basically `WATCH_NAMESPACE` watches the namespaces but to actually make it work one has to create `RoleBindings` (RB) for each namespace (if not using cluster-wide permissions).

Then the list of inject namespaces in the RC will also require RB for each namespace. I think I got it now.

[2020-02-27 11:53] objectiser opened #930 "Should Jaeger operator CI be testing against jaeger latest?"
Currently the Jaeger operator CI builds the PR against the most recent stable release of Jaeger.

This protects the Jaeger operator PRs from any issues caused in the Jaeger repo, but also means any changes (intentional or otherwise) are not picked up until doing a release of the operator currently.

Options:
1) Change the `versions.txt` to use `latest` tag for Jaeger repo for all tests.
2) Provide

[2020-02-27 11:55] pavolloffay commented on #929
Btw. maistra (isito operator) has a separate CR which defines watched namespaces

[2020-02-27 12:18] pavolloffay commented on #759
IIRC this should not be a problem, there should be a hash of each module we are using.

[2020-02-27 12:18] #759 closed

[2020-02-27 12:23] pavolloffay commented on #930
+1 on using `latest` in master.

[2020-02-27 14:26] jpkrohling commented on #930
I appreciate the idea, but it means that PRs to the operator might fail because someone just merged a PR in Jaeger, breaking existing tests of ours.

IMO, it would probably be better to run nightly builds against `latest`: the job would change versions.txt and run the full suite.

[2020-02-27 14:57] objectiser commented on #930
Sounds like a good approach - is it possible to do in GitHub actions, or do we need to setup in jenkins?

[2020-02-27 15:16] jpkrohling commented on #930
It should be possible to trigger jobs on schedule:
https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#onschedule

[2020-02-27 15:26] jpkrohling commented on #929
Right, the operator will need permissions in each namespace listed in the new field in the CR to change deployments (get,list,watch,update, but probably not create,delete), so that it gets to inject sidecars.

To watch for Jaeger CRs, it needs a different set of permissions that apply only to the list of namespaces from `WATCH_NAMESPACE`.

[2020-02-27 15:27] jpkrohling commented on #929
Right, the operator will need permissions in each namespace listed in the new field in the CR to change deployments (get,list,watch,update, but probably not create,delete), so that it gets to inject sidecars.

To watch for Jaeger CRs, it needs a different set of permissions that apply only to the list of namespaces from `WATCH_NAMESPACE`.

[2020-02-27 16:16] pavolloffay commented on #930
I understand Juca's concern, but on the other hand using the latest version might have more benefits for us.

It would be good to get `latest` builds more exposed and tested by the community before the release tag pushed to avoid scenarios like this and fix as many issues as possible. It can cause some problems, but it is still much better than release breaking version which was not intended to be

[2020-02-28 08:50] jpkrohling commented on #873
Another related issue: https://github.com/kubernetes/kubernetes/issues/82292

Given the amount of people that seems affected by this one, I'll try to apply the suggested workaround, by disabling the description fields.

[2020-02-28 09:08] kevinearls opened #931 "Operator cannot create resources in other namespaces even in cluster-wide mode"
After PR #928 I have not been able to install an operator that works cluster-wide.  It's possible I am not following the updated instructions correctly, but here is what I did:

[code]

(Note the last line uses my modified version of operator.yaml)

The operator appears to install correctly, but when I do the following:

[code]

I get the following errors in the jaeger operator log.  (Actually I g

[2020-02-28 09:32] jpkrohling commented on #873
@haf, @adamhosier, @nouney, and others in this issue: would you be able to test the CRD that is part of #932? It now has about 400k, down from 1.3M. Locally, I'm able to issue `kubectl apply` with this CRD, but I need your help in confirming that it works fine with your workflow/kustomize as well.

[2020-02-28 10:55] adamhosier commented on #873
@jpkrohling thanks for this! i've tested the updated CRD and it works fine with kustomize + apply.

[2020-02-28 11:14] samcrutt9900 opened #934 "jaeger query repeating log lines"
The jaeger query has been deployed via the operator.
Version is 1.16.0
Platform: openshift 3.11

The logs for the query pod are being filled up with the following log line:
`{"level":"info","ts":1582817795.8145893,"caller":"app/static_handler.go:155","msg":"reloading UI config","filename":"/etc/config/ui.json"}`
This line is being logged every 0.5 second or so.

[2020-02-28 12:32] #873 closed

[2020-02-28 12:45] jkandasa commented on #934
some info relevant to this issue: https://github.com/jaegertracing/jaeger-operator/issues/533#issuecomment-517216871

[2020-02-28 13:04] jpkrohling commented on #931
I have a workaround for this, but looks like the problem is underneath our operator, either at the SDK, controller-runtime or perhaps even client-go.

[2020-02-28 13:23] jpkrohling commented on #931
There are actually a couple of problems happening here:

1. the cluster role does not include the rules from the regular role, meaning that a role binding has to be created for each namespace in which the operator should create resources
1. when this permission doesn't exist, we hit a problem like #2608

The problem you reported is most likely the first item, so, I'll change the title back to that

[2020-02-28 13:26] jpkrohling opened #935 "Operator with namespace-only permissions hangs during reconciliation"
Split from #931, caused by operator-framework/operator-sdk#2608.

When the operator doesn't have cluster-scope permissions, it hangs during the reconciliation with the following message happening every second:

[code]

[2020-02-28 14:42] jpkrohling commented on #934
@samcrutt9900, unfortunately, it is quite possible that this code doesn't work properly in OpenShift 3.11. Would you be willing to test on a newer cluster, like OpenShift 4.3?

If you are seeing a `reloading UI config` there every 0.5 second, then we need to investigate and address that.

[2020-02-28 15:06] jkandasa commented on #934
@jpkrohling Just now I checked our test logs. I see this issue on OCP 4.3. But it is not every 0.5 seconds.

this log captured for 15 minutes log:
[code]

[2020-02-28 15:10] jpkrohling commented on #934
I assume there's no reason for this, right? Definitely sounds like a bug.

[2020-02-28 16:33] william-tran opened #938 "Cannot create crd in v1.17.0"
`kubectl create -n jaeger -f https://raw.githubusercontent.com/jaegertracing/jaeger-operator/v1.17.0/deploy/crds/jaegertracing.io_jaegers_crd.yaml`
fails with
...`Example:(*apiextensions.JSON)(nil)}: must only have "properties", "required" or "description" at the root if the status subresource is enabled`

Doing the same with v1.16.0 succeeds.

[2020-02-28 17:48] jkandasa commented on #934
@jpkrohling looks like it a problem with https://github.com/fsnotify/fsnotify on the symbolic link.

References:
* https://github.com/fsnotify/fsnotify/issues/199
* https://github.com/istio/istio/issues/7877
* https://github.com/istio/istio/pull/9370

#### jaeger-query ui.json on OCP cluster:
[code]

I wrote a small program to monitor file events on OCP cluster jaeger-query pod,
[code]

Result:
[c

[2020-03-01 02:04] ewohltman commented on #935
Unless I set my Jaeger Operator up incorrectly, this seems to be an issue even when intended with cluster-scope permissions:

[code]

Looking at the cluster role spec here, I don't see where permissions are given for secrets (if its supposed to): https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/cluster_role.yaml

[2020-03-01 06:45] mimol91 opened #939 "Elasticsearch --es.tags-as-fields.all"
Is it possible to configure ES storage to keep tags as fields? This same way as it's done in AllInOne?

[2020-03-02 09:46] objectiser commented on #938
What version of kubernetes are you running on?

[2020-03-02 10:40] jpkrohling commented on #935
@ewohltman right, you are facing the problem that is being fixed as part of #936. This issue here is being addressed by #937: the lack of permissions will cause errors while reconciling the secrets, except that it won't block indefinitely.

[2020-03-02 10:43] #935 closed

[2020-03-02 10:59] pavolloffay commented on #939
Hi @mimol91 yes it is possible. Just supply the option to the storage options https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/all-in-one-with-options.yaml#L10

IIRC Elasticsearch storage is supported only for production deployment (separate query, collector components).

I am closing this as it is a question. If there are any issues please re-open.

[2020-03-02 10:59] #939 closed

[2020-03-02 11:04] jpkrohling commented on #934
If we are really reloading the UI when no changes are happening, we might want to filter those events out. Otherwise, we can just do a better work in the logging.

[2020-03-02 11:04] mimol91 commented on #939
@pavolloffay Its what I mean, there is no way to set `--es.tags-as-fields.all` for production deployment as ES storage do not accept this param (See: https://github.com/jaegertracing/jaeger-operator/blob/b7ce28f171a416945d881cf7c018280baa4aae01/pkg/storage/elasticsearch.go)

Is it possible to configure ES storage with `--es.tags-as-fields.all`  (Currently its only possible using AllInOne image)

[2020-03-02 11:10] pavolloffay commented on #939
Elasticsearch is not supported with `allInOne` strategy. More docs are here https://www.jaegertracing.io/docs/1.17/operator/#production-strategy.

The `--es.tags-as-fields.all` should with Elasticsearch in `production` strategy. The configuration has to be supplied to storage options as I pointed out in my previous comment.

[2020-03-02 12:03] pavolloffay commented on #939
Sorry @mimol91 my bad, actually Elasticsearch should work in `allInOne` strategy. This CR shows an example configuration with tags as fields

[code]

[2020-03-02 12:40] mimol91 commented on #939
Hey.
I dont want to use **allInOne**.
I just miss-interpreted that `tags-as-fields:` can be only used with `allInOne` strategy, but it is working fine with production too.

[2020-03-02 12:46] pavolloffay commented on #939
It's working with all strategies which support Elasticsearch storage.

If a backend is supported in a strategy it's fully supported - all options

[2020-03-02 13:18] ewohltman commented on #935
@jpkrohling Thanks for pointing me in the right direction!

[2020-03-02 14:22] #931 closed

[2020-03-03 09:15] DevilAndAngel opened #942 "Cannot create hpa for collector"
I found that if the replicas of the collector are configured as empty, hpa will not be created.

<img width="978" alt="code" src="https://user-images.githubusercontent.com/11996109/75760576-76435300-5d72-11ea-980b-e4c1594d1e0b.png">

[2020-03-03 12:43] jpkrohling commented on #942
This specific code shouldn't have an influence on the HPA. In fact, I did a small demo a few days ago about this feature, and this is the YAML that I used:

[code]

In fact, it's the other way around: when you do specify a `Replica` size, we skip the auto scaling feature:
https://github.com/jaegertracing/jaeger-operator/blob/9d6319d0f0e828e2a1781d7d5f6a0369d15439c8/pkg/deployment/collector.go#L204

[2020-03-03 14:03] jpkrohling opened #943 "Expose operator-specific metrics"
The operator could expose some metrics reflecting the current state of the managed instances. For instance:

[code]

The version should always be the same as the operator's, but a discrepancy in this field should help understand whether there was a problem with the upgrade mechanism.

Those gauges should be gathered periodically, as part of the background process launched by the auto-detect mechan

[2020-03-03 14:07] DevilAndAngel commented on #942
@jpkrohling I have seen this code, the real meaning I want to express is that when the Jaeger Deployment is created, if the default value of Replicas is set to 1, then HPA does not take effect in K8S and the replicas
always 1，this is the Jaeger CR that I used:
[code]

[2020-03-03 14:23] ewohltman opened #944 "Support for StatefulSets and Manual Sidecar Config"
Hello!

Does `jaeger-operator` have support for injecting sidecars into StatefulSets yet? Not sure if I am doing my annotation wrong, or if `jaeger-operator` still only supports deployments (I looked through other issues and documentation but it wasn't super clear to me).

If StatefulSets are not yet supported, could the documentation include an example on how to manually add the sidecar config an

[2020-03-03 14:37] jpkrohling commented on #944
StatefulSets are not not supported yet. I thought we had an example in the documentation, but looks like we don't. Here's how a sidecar in a deployment looks like:

https://github.com/jaegertracing/jaeger-operator/blob/c9147e7ec923113b2dbeafc917c8eb0070c7dc8e/deploy/examples/operator-with-tracing.yaml#L41-L53

Would you be open to improving our documentation by adding this? Perhaps a new section c

[2020-03-03 14:39] ewohltman commented on #944
Thanks very much! I'll look to update the documentation later today.

[2020-03-03 14:44] jpkrohling commented on #942
I just tried a YAML based on yours, and it seems to work for me:

[code]

Here's the YAML I used for this test:

[code]

[2020-03-03 14:47] jpkrohling commented on #944
You might also want to deploy the following example, and compare the deployment's state after the operator injects the sidecar:
https://github.com/jaegertracing/jaeger-operator/blob/c9147e7ec923113b2dbeafc917c8eb0070c7dc8e/deploy/examples/business-application-injected-sidecar.yaml#L1-L23

That sidecar should be the one used in the documentation, as it's more general purpose (it opens more ports).

[2020-03-03 14:48] objectiser commented on #943
@jpkrohling Just a naming comment - as they are related to the jaeger instances, rather than the operator, should they be `jaeger_instances_by_...`?

[2020-03-03 14:52] jpkrohling commented on #943
I think the convention is to have the first part to be the "system namespace". In a Prometheus with Jaeger Collector, Jaeger Query and Agent metrics, having the prefix `jaeger_operator` helps to quickly understand where the metric is coming from.

[2020-03-03 16:18] DevilAndAngel commented on #942
I solved this problem by upgrading to version 1.17.0，thanks!

[2020-03-03 16:18] #942 closed

[2020-03-03 16:34] jpkrohling commented on #942
Indeed, HPA is available starting from 1.17.0. Glad you got it to work!

[2020-03-03 16:46] objectiser commented on #943
@jpkrohling Sounds reasonable.

[2020-03-04 08:14] pavolloffay commented on #943
Can the operator expose operand's metric? For instance the number of collected spans?

[2020-03-04 08:33] jpkrohling commented on #943
I think nothing prevents the operator from being a proxy for the operand's metrics, but I think the target audience might be different enough to keep them separated.

What we should do is to create a `ServiceMonitor` for each component, like it's being done by the [OpenTelemetry Operator](https://github.com/open-telemetry/opentelemetry-operator/blob/4593927867598681b2a13d30012c15ba98b5749c/pkg/con

[2020-03-04 13:08] jpkrohling commented on #944
I think `--jaeger.tags` can indeed be removed. The env vars can be removed as well, as they are used only as part of the `--jaeger.tags`. The empty `resources` node can also be removed.

Not sure about the image. @pavolloffay mentioned in a comment that it would be best to keep the right versions on the versioned doc and master for the `next-release` doc.

[2020-03-04 15:15] julienvey commented on #938
Same problem here, Kubernetes version `v1.11.8`

It looks like the same problem as https://github.com/jetstack/cert-manager/issues/2200

[2020-03-04 15:27] jpkrohling commented on #938
@julienvey you might want to use an older version of the Jaeger Operator or, preferable, use a newer version of Kubernetes. Version 1.11 is now 6 versions behind the current (1.17).

[2020-03-05 09:35] jpkrohling opened #945 "Flaky e2e-tests-examples2/simple-streaming test"
The e2e test `simple-streaming` from the `e2e-tests-examples2` suite is intermittently failing.

Running the tests for #914 locally, I was able to reproduce it and get the following information.

State of the cluster before the test timed out:
[code]

Logs from the collector:
[code]

Logs from Kafka:
[code]

Deleting the failing Kafka pod and running the test again made it work. Excerpts:
[code]

[2020-03-05 09:36] jpkrohling commented on #945
@kevinearls is this something you could take a look?

[2020-03-05 09:37] #599 closed

[2020-03-05 10:04] annanay25 commented on #599
We should keep this open to track TLS for a k8s setup.

[2020-03-05 10:27] kevinearls commented on #945
@jpkrohling Yes, please assign it to me.

[2020-03-05 14:24] ewohltman commented on #944
PRs opened to include a full `StatefulSet` example in `jaegertracing/jaeger-operator` and another in `jaegertracing/documentation` to include documentation on manual definitions with a link to the full `StatefulSet` example.

[2020-03-06 09:38] kevinearls opened #947 "e2e-tests-examples2 fails for multiple reasons"
This tests has been failing frequently for at least 2 reasons:

1. The jaeger-operator deployment at the beginning times out.  When I have run this manually and changed the timeout the operator eventually deploys, but sometimes takes well over 5 minutes.  This is sometimes seen in other test suites, but strangely occurs most frequently here, even though it's using the same code as the other test s

[2020-03-07 06:16] ewohltman commented on #944
My question has been answered and documentation has been updated. Thanks again!

[2020-03-07 06:16] #944 closed

[2020-03-09 10:49] objectiser opened #951 "Address comment about skipping TLS verification"
See https://github.com/jaegertracing/jaeger-operator/pull/941#pullrequestreview-370416139

[2020-03-09 11:10] jpkrohling commented on #130
This is the relevant code that needs to be documented in the user doc:
[code]

[2020-03-09 11:12] jpkrohling commented on #255
@objectiser how important do you think Scorecard is/will be for us? We have it in the Makefile, but we haven't used it anywhere. In fact, I doubt it actually works... Should I just close this and remove the scorecard parts from the Makefile ?

[2020-03-09 11:13] jpkrohling commented on #258
Right now, we show the name, storage type, deployment strategy and age, which is probably sufficient for now. Closing.

[2020-03-09 11:13] #258 closed

[2020-03-09 11:14] jpkrohling commented on #259
I'm closing this, as we have status already. Any extra fields can be added on demand, as required.

[2020-03-09 11:14] #259 closed

[2020-03-09 11:16] jpkrohling commented on #261
I'm closing this, as we the picture is clearer now: there's only one Jaeger version being managed per Jaeger Operator version. We store the operand's version in the CR's Status object, and only change during the upgrade mechanism.

[2020-03-09 11:16] #261 closed

[2020-03-09 11:18] jpkrohling commented on #276
I added a few extra cases to the list.

[2020-03-09 11:19] jpkrohling commented on #282
I'm closing this, as it's unlikely that we'll ever generate the certs from Go in the foreseeable future.

[2020-03-09 11:19] #282 closed

[2020-03-09 11:19] #102 closed

[2020-03-09 11:21] jpkrohling commented on #255
For now, I'll just close it. If we think that having scorecard is important, we can open a new issue.

[2020-03-09 11:21] #255 closed

[2020-03-09 11:22] jpkrohling commented on #209
Did you mean that you want to document this in the operator documentation?

[2020-03-09 11:25] jpkrohling commented on #330
@pavolloffay is this a documentation issue only, or would something be required in the operator's code?

[2020-03-09 11:56] pavolloffay commented on #209
No, this is more like a developer docs.

[2020-03-09 12:04] jpkrohling commented on #370
I don't think we heard any requests from the community in this front. I'm closing this, as I think we should keep whatever the default cluster behavior is. If we have community feedback requesting this to be set on a per-component basis, we can reopen this.

[2020-03-09 12:04] #370 closed

[2020-03-09 12:06] jpkrohling commented on #375
I think this could be a second binary, possibly published as a separate container image. Should be a fun feature to work on :-)

[2020-03-09 12:16] jpkrohling commented on #420
I'm closing this, as I don't think we want that, at least not for now. We haven't received any further requests about this either, and there are valid workarounds for the cases where this feature makes sense, as @pavolloffay mentioned above.

If we receive further requests for this feature, we can reconsider it.

[2020-03-09 12:16] #420 closed

[2020-03-09 12:17] jpkrohling commented on #442
@rubenvp8510 I think this case here is covered, right?

[2020-03-09 12:18] #442 closed

[2020-03-09 12:19] jpkrohling commented on #470
This might not be relevant anymore, as the CSV files are automatically generated based on certain input files, like CRD and roles/role bindings.

[2020-03-09 12:19] #470 closed

[2020-03-09 12:25] jpkrohling commented on #525
Closing, as this has been fixed in a recent commit.

[2020-03-09 12:25] #525 closed

[2020-03-09 12:28] jpkrohling commented on #209
Where are you creating this? This has been pending for more than a year already.

[2020-03-09 12:32] pavolloffay commented on #209
This issue contains explanation of SearchGuard in ECL Elasticsearch image. It's basically my notes how things work. I thought it will be useful to document it for myself but also for other people who will have to work on it. There was no formal requirement on docs.

If it is a problem to have it here close the issue and I will migrate it somewhere else under my account.

[2020-03-09 12:56] jpkrohling commented on #209
Issues can still be viewed when they are closed, can't they?

[2020-03-09 12:59] jpkrohling commented on #551
@Demonian, have you had the chance to verify this? Do you think it's safe to close the issue?

[2020-03-09 13:00] jpkrohling commented on #552
@kevinearls should this be assigned to you? I think this is a great goal to have, but not sure we can even start that as CI, as OpenShift is too heavyweight to be executed in GitHub CI's machines...

[2020-03-09 13:02] jpkrohling commented on #555
I think this has been addressed. `make push` still won't do anything in CI, but the push is done in a separate step.

[2020-03-09 13:02] #555 closed

[2020-03-09 13:16] pavolloffay commented on #294
@jpkrohling this is not ES specific. The dependency job supports multiple backends.

[2020-03-09 13:23] jpkrohling commented on #583
@objectiser, @pavolloffay, should we write down our policy? For OpenShift, it's latest + previous 2 versions. Should we have the same for Kubernetes? Should it be "automatic", meaning that we should support a new version as soon as it's released? Or perhaps it should be `latest-[1|2|3]`, under the assumption that we'll need some time to make sure it works with `latest`? What about the patch versio

[2020-03-09 13:25] #209 closed

[2020-03-09 13:30] jpkrohling commented on #659
And Ingress (#574)?

Also, fixing this might also close #474.

[2020-03-09 13:40] rubenvp8510 commented on #442
@jpkrohling yes!

[2020-03-09 13:42] jpkrohling commented on #676
There has been little interest in this feature. I'm closing this, as it's probably not something we want to simply add without extensive testing.

If someone is interested in picking this up, let me know and I'll reopen this issue.

[2020-03-09 13:42] #676 closed

[2020-03-09 13:54] jpkrohling commented on #552
Talking to @kevinearls on IRC, it sounds unlikely that we'll be able to get this done in the near future. The biggest road block is getting OpenShift enabled as part of our CI. If we ever get it working again, we can come up with the extra cases that we want to cover.

[2020-03-09 13:54] #552 closed

[2020-03-09 14:47] rubenvp8510 commented on #927
@jpkrohling is this still an issue? Or was fixed via https://github.com/jaegertracing/jaeger-operator/pull/940 ?

[2020-03-09 14:51] jpkrohling commented on #927
I believe this was fixed.

[2020-03-09 14:51] #927 closed

[2020-03-09 14:52] jpkrohling commented on #682
I'm closing this, as the question seems to have been answered and the remaining point is being tracked by #330.

[2020-03-09 14:52] #682 closed

[2020-03-09 14:55] jpkrohling commented on #717
@amila-ku, would you still be interested in sending a PR for this one?

[2020-03-09 15:02] jpkrohling commented on #742
Looks like this has been addressed by #909. I'm closing, unless there's a need for prefixing other ports as well.

[2020-03-09 15:02] #742 closed

[2020-03-09 15:04] jpkrohling commented on #760
I'm closing this, as I don't remember seeing this that often anymore.

[2020-03-09 15:04] #760 closed

[2020-03-09 15:04] jpkrohling commented on #774
Should I assign this to you, @rubenvp8510 ?

[2020-03-09 15:05] rubenvp8510 commented on #774
IIRC, this is not necessary any more.

[2020-03-09 15:06] jpkrohling commented on #776
@dnovvak would you be able to give this a try with 1.17.0? We changed a few things related to permissions, and this might have been fixed as well.

[2020-03-09 15:07] jpkrohling commented on #781
I'm closing this, an experiment has shown that this wouldn't bring a huge benefit, as GitHub seems to be caching the go modules already.

[2020-03-09 15:07] #781 closed

[2020-03-09 15:12] jpkrohling commented on #785
I'm closing this, as we haven't heard any further requests about disabling components individually and I still think that setting `Replicas` to `0` is a valid solution. In fact, I've since seen it elsewhere in a different context. @aditya-konarde could probably confirm that :-)

[2020-03-09 15:12] #785 closed

[2020-03-09 15:15] jpkrohling commented on #774
I think I've seen the same logic being repeated two (or even three) times:

https://github.com/jaegertracing/jaeger-operator/blob/c3adb529955979203ed99caa104d74792cfb46c2/pkg/controller/namespace/namespace_controller.go#L125-L159

https://github.com/jaegertracing/jaeger-operator/blob/c3adb529955979203ed99caa104d74792cfb46c2/pkg/controller/deployment/deployment_controller.go#L112-L143

[2020-03-09 15:17] jpkrohling commented on #795
Looks like this has been answered already. Closing.

[2020-03-09 15:17] #795 closed

[2020-03-09 15:17] jpkrohling commented on #823
I think we fixed this one already, right @rubenvp8510  ?

[2020-03-09 15:21] rubenvp8510 commented on #823
Yes

[2020-03-09 15:22] rubenvp8510 commented on #774
Ha, sorry the code was changed due the introduction to namespace controller. and now is required again , Ok, assign  it to me.

[2020-03-09 15:27] jpkrohling commented on #801
I'm closing this, as I'm not sure there's an action we can take from this issue:

1. we typically recommend managing "special" objects externally to the operator, like ES or Kafka clusters
1. we haven't heard many requests for a `LoadBalancer` type for Query

If there's further community demand for a `type: LoadBalancer` for the Query component, let me know and we might reopen this.

[2020-03-09 15:28] #801 closed

[2020-03-09 15:28] #823 closed

[2020-03-09 15:43] #866 closed

[2020-03-09 15:44] jpkrohling commented on #870
@kevinearls is this still failing ?

[2020-03-09 15:59] jpkrohling commented on #872
@jkandasa do you have some free cycles to run some experiments? When preparing a demo for HPA, I found that the the optimal configuration for 10 tracegen clients was a collector with 128Mi requested, with a limit of 512Mi. The queue-size-memory was 64Mi (half of the limit). This would make the collector scale up to 10 replicas and still process data.

Ideally, we would test this scenario (or a var

[2020-03-09 16:00] pavolloffay commented on #330
No it's not a documentation issue.

[2020-03-09 16:01] jpkrohling commented on #886
I think this has been fixed (or mitigated) by using non-cached clients, from #937.

[2020-03-09 16:01] #886 closed

[2020-03-09 16:04] jpkrohling commented on #896
As an outcome of the original question: what's the minimal set of permissions required to create a Jaeger CR? Perhaps a simple `list|get|create|update` of `jaegertracing.io.jaegers` would be sufficient?

[2020-03-09 16:05] jpkrohling commented on #906
@rubenvp8510 has this been fixed?

[2020-03-09 16:12] jpkrohling commented on #910
@jkandasa, @kevinearls, @objectiser, @rubenvp8510, @annanay25, what's your opinion on this? Should we have a special `false` value for the annotation, or is the current behavior good enough? In summary, here are the differences:

1. when having a special value for `false`, we can have better targeted log messages
1. `false` requires documentation and test
1. the current code already assumes the `f

[2020-03-09 16:16] objectiser commented on #910
@jpkrohling I think it is better to properly support `false`, as otherwise someone could mess things up by creating a Jaeger CR with name `false`.

[2020-03-09 16:19] kevinearls commented on #870
@jpkrohling I think it is, but as far as I know we are either no longer supporting OCP 4.1 or support will expire soon.  @objectiser is that correct?

[2020-03-09 16:19] objectiser commented on #870
@kevinearls @jpkrohling That is correct.

[2020-03-09 16:24] jpkrohling commented on #774
Thanks!

[2020-03-09 16:26] jpkrohling commented on #926
Looks like I missed the notification for this one here.

@OmriHarary, were you able to get further in diagnosing this issue?

[2020-03-09 16:29] jpkrohling commented on #930
Let's start with `latest` and see how it goes. I'm afraid applying `latest` to all the PRs will cause uncertainty in our CI builds. If we see that the stability of `latest` is good and that we can easily determine what `latest` is when analyzing a build failure, then I'd be OK in changing everything to use `latest`.

[2020-03-09 16:33] jpkrohling commented on #938
I'm closing, as this is probably only happening with "old" Kubernetes versions. We do not have an official policy yet about which versions we support, but that's being tracked by #583.

[2020-03-09 16:33] #938 closed

[2020-03-09 16:35] objectiser commented on #583
@jpkrohling For openshift agree, but for k8s we may end up having to follow the policy associated with the operator sdk upon which we are based?

[2020-03-09 16:36] jpkrohling commented on #870
Should this be closed then?

[2020-03-09 16:37] objectiser commented on #870
Yep.

[2020-03-09 16:37] #870 closed

[2020-03-09 16:39] jpkrohling commented on #583
The `operator-sdk` would provide a base requirement, but I would expect it to support far older versions than what we might want to. For instance, the Operator SDK might still work with Kubernetes 1.11, but we'd need to do some extra effort on our side to support that version (see #938) based on the types of objects we manipulate.

[2020-03-09 17:15] slikk66 opened #955 "No address on Ingress - unable to access UI"
Hello - I've installed the jaeger operator using the docs.

Our Ingress is not showing any IP.. what could be the issue?

[code]

[code]

[code]

[code]

Jaeger definition:
[code]

This is version 1.17.0

[2020-03-10 03:04] jkandasa commented on #872
@jpkrohling I do not have any lab machines to test this. For now, I have only OCP in the OpenStack environment.
At this moment I am a bit busy with other tasks. might take a delay from my end.

512Mi is the resource maximum limit?

[2020-03-10 07:51] TBBle commented on #896
That looks right to me. I haven't gotten around to testing it though.

[2020-03-10 08:28] jpkrohling commented on #872
Yes, if we specify that 512Mi is the upper boundary, Kubernetes will kill the pod once this limit is reached.

[2020-03-10 08:39] jpkrohling commented on #955
What is your actual ingress? If you are using `minikube`, you might need to enable the `ingress` add-on:

[code]

[2020-03-10 08:43] jpkrohling commented on #910
What should we do when someone does create a Jaeger CR with the name `false`? Should we silently delete the CR?

[2020-03-10 08:45] jpkrohling commented on #330
What's the action then for this issue? Should it be closed as "won't fix", or do you still plan on working on this, despite ECL not directly supporting this?

[2020-03-10 08:56] jpkrohling opened #957 "Add flag to operator to set the size for kafka PVC (and possibly replicas)"
(by @objectiser)

To enable the Kafka streaming tests to run more consistently in CI, we should add a flag (or flags) to the operator to enable the persistent claim size to be set to lower than 100gi and potentially set the number of replicas used for kafka and zookeeper (currently 3 for both).

[2020-03-10 09:07] kevinearls commented on #910
@jpkrohling I think I agree with @objectiser although I'm not quite sure how to handle the unlikely event someone tries to create a jaeger instance named false?  Do we do anything now if someone uses an invalid name, or does that never actually make it to the operator?

[2020-03-10 09:12] objectiser commented on #910
If we handle `false` as an explicit value, before checking for Jaeger instances with the specified name, then it shouldn't matter if someone create a Jaeger instance named false - it wouldn't change the behaviour of the agent sidecar injection.

[2020-03-10 09:14] jkandasa commented on #910
@jpkrohling I too support the `false` option.
Istio is also using a similar approach. https://istio.io/docs/setup/additional-setup/sidecar-injection/
They have an additional option too, [More control: adding exceptions](https://istio.io/docs/setup/additional-setup/sidecar-injection/#more-control-adding-exceptions)

[2020-03-10 09:29] #947 closed

[2020-03-10 10:14] jpkrohling commented on #910
If a Jaeger instance is named `false`, then the annotation value is ambiguous, as it may mean "do not inject" or "inject the instance 'false'".

But in all honesty, if someone names their instance `false`, they deserve every pain inflicted on them...

[2020-03-10 10:58] #957 closed

[2020-03-10 15:30] slikk66 commented on #955
Sorry, silly of me to have not added more info.. we're using AWS EKS 1.14

[2020-03-10 15:31] dnovvak commented on #776
@jpkrohling Thanks for update.
I took this version (1.17.0) along witch newest helm chart (2.14.0) and it looks much better now. Single instance of all-in-one Jaeger is created and at first glance works fine.

The only one worrying me thing is that the operator is producing tons of logs like these:
[code]

Except higher storage footprint I do not see any other issues with that at the moment.

[2020-03-10 16:04] jpkrohling commented on #955
I'm not really familiar with EKS: do you have anything interesting in the ingress-controller logs? Are you able to get any other ingresses to obtain an IP?

[2020-03-10 16:06] jpkrohling commented on #776
Looks like you are getting hit by this: jaegertracing/helm-charts#68. I'm closing this, as your current problem is being tracked elsewhere, but feel free to reopen if you think this isn't correct.

[2020-03-10 16:06] #776 closed

[2020-03-10 16:53] slikk66 commented on #955
OK, no problem.  I installed Jaeger as part of the Istio package, and it seems to be working.  I don't know what I did wrong, but I'm going to assume it was just something I messed up.  Thanks for replying!  If I give the operator another shot, I'll let you know.  Thanks!

[2020-03-10 16:53] #955 closed

[2020-03-11 08:10] jpkrohling commented on #920
Addressed by #920

[2020-03-11 08:10] #920 closed

[2020-03-11 12:50] jpkrohling opened #959 "TLS configuration for collector missing from all-in-one"
The change #914 brought automatic TLS encryption for the communication between the Agent and the Collector. However, that PR missed the collector as part of the all-in-one. As such, the smoke tests are currently failing on OpenShift and can be reproduced by deploying the `agent-as-daemonset` example. In the logs, this can be seen:

[code]

[2020-03-12 08:47] #959 closed

[2020-03-16 01:58] rafalAtAdscale opened #963 "During CRD reconciliation operator scales down replica set to 1 when HPA is enabled"
Hi,

I've noticed that every time operator is restarted e.g.  pod is moved from one node to another it resets replicas to 1 ignoring current number of desired instances established by HPA. This behaviour (especially during peak time) is rather disruptive for our tracing pipeline and we'd like  for operator to not interfere with running HPA.

For example, the HPA is running 2 replicas
[code]
When I

[2020-03-16 12:56] jpkrohling commented on #963
Interesting. I thought I had seen this as well but I couldn't reproduce it again. Would you know why this happened? Are there any clues in the logs/events about it? I believe the operator will trigger a reconciliation whenever it is started, which might be the key to explain what's going on here if the operator is setting the `.Spec.Replicas` for the deployment to 1. Are you able to confirm that?

[2020-03-16 14:38] #899 closed

[2020-03-16 21:53] rafalAtAdscale commented on #963
unfortunately i can't find antything interesting in operator's log. here's the logs from today, we had 4 replicas running, i restarted/deleted the operator and it scaled down HPA to 1 replica and than stabilized on 6 replicas.

[code]

for what it's worth, we're running jaeger in EKS `v1.14.9-eks-502bfb`

[2020-03-17 00:53] rafalAtAdscale commented on #963
i also confirmed today that any change to jaeger's CRD triggers the beahviour e.g. i changed agent config today and same thing happened

[2020-03-17 08:24] jpkrohling commented on #963
That's good info, @rafalAtAdscale! I think we have enough to do our own investigation. Of course, if you are able to help in preparing a PR fixing the problem, that would be greatly appreciated as well.

[2020-03-17 13:07] jahlinxjah opened #965 "Error running twistlock with jaeger-operator:1.17.0"
Hi
Having trouble running twistlock with jaeger-operator:1.17.0. This works as expected:

[code]

but when I try (note the pull) :
[code]

it errors out:

[code]

Anybody have any ideas?

[2020-03-17 14:56] jpkrohling commented on #965
I don't have any experience with twistlock, but I know that we changed the base image between 1.16 (`centos`) and 1.17 (`registry.access.redhat.com/ubi8/ubi`). Would you be able to run it against those base images?

[2020-03-17 17:04] pavolloffay opened #967 "Move example e2e tests into a separate CI check"
Move example e2e tests into a separate CI check so it can be restarted without restarting the whole test suite.

The main motivation is that example tests are sometimes flaky. It should also decrease CI time as examples e2e will be executed in parallel.

https://github.com/jaegertracing/jaeger-operator/blob/master/.github/workflows/e2e-kubernetes.yaml#L9

[2020-03-17 17:05] pavolloffay commented on #967
@kevinearls is this something interesting to you?

[2020-03-18 09:19] kevinearls commented on #967
@pavolloffay I'd be interested, but I'm not sure what you mean here.  Examples are already split into two parts, do you want to split them into more or is there something else you're looking for?

btw, there is also at least one other issue open on this: #945

[2020-03-18 09:22] pavolloffay commented on #967
I want to move them to a different github ACTION file so they can be restarted separately from other job - e2e and basic checks.

[2020-03-18 09:31] kevinearls commented on #967
@jpkrohling what do you think?   These test failures on github have certainly been very frustrating and hard to analyze.

[2020-03-18 09:48] jpkrohling commented on #967
This means creating 6 different files with pretty much the same contents, right? Sounds wrong, but might be a reasonable compromise. I was really hoping that GitHub would implement the ability to restart individual elements of the matrix...

[2020-03-18 09:56] pavolloffay commented on #967
Why 6 files? Could you please list them?

If we do it right we might need only one additional workflow file like https://github.com/jaegertracing/jaeger-operator/blob/master/.github/workflows/e2e-kubernetes.yam but for only running the examples.

[2020-03-18 10:10] jpkrohling commented on #967
Oh, you mean to only move the examples target? I thought you wanted to have each e2e target on its own action. Right now, the problem might be with `examples1`, but last week it was `examples2`, and `cassandra` before that. I'd even dare to say that we had problems with all targets at a given point :-)

[2020-03-18 10:11] pavolloffay opened #974 "End to end test for examples1 does not pass on CI"
PR showing failing CI https://github.com/jaegertracing/jaeger-operator/pull/973

@kevinearls would you like to have a look?

[2020-03-18 10:21] kevinearls commented on #974
@pavolloffay Sure, please assign this to me

[2020-03-18 10:28] pavolloffay commented on #967
A finer granularity would be welcome but perhaps we can start with just moving the examples to a separate workflow.

[2020-03-18 10:30] pavolloffay commented on #974
Other failures can be seen here https://github.com/jaegertracing/jaeger-operator/actions?query=workflow%3A%22Kubernetes+end-to-end+tests%22

[2020-03-18 14:08] jpkrohling opened #977 "CRD generator creates a list of CRDs instead of a single CRD"
In previous versions, the Jaeger Operator used the operator-sdk to generate CRDs. As part of #932, we changed it to use the `controller-gen`, which writes a list of CRDs to the output, instead of a single CRD as it was before with the operator-sdk. Although the YAML file is still valid, it causes problems with other Operator SDK tooling, such as OLM.

[2020-03-19 16:09] jpkrohling commented on #963
@rafalAtAdscale, I just sent a PR that should fix this problem. Would you be willing to try it out and confirm that it indeed fixes the problem you reported? I tried it locally here and could both reproduce the problem you said and confirm the fix works, but would be nice to get your confirmation as well.

You can use this image to try it out: `quay.io/jpkroehling/jaeger-operator:963-Deployment-ba

[2020-03-19 21:07] rafalAtAdscale commented on #963
@jpkrohling your fix works on my end too. i deleted the operator to force restart and current state set by hpa was not altered on restart. thank you for very much for your help.

[code]

[2020-03-20 08:13] jpkrohling commented on #963
Thanks for the verification. The PR will be merged as soon as it's reviewed and will be made available in the next version.

[2020-03-20 09:15] rajputvishwas opened #980 "Jaeger setup fails with Image pull error"
Hi,

I am trying to setup Jaeger using all-in-one strategy as per instructions given in the README.md file. I have successfully installed jaeger operator.

kubectl get pods -n observability

NAME                               READY   STATUS    RESTARTS   AGE
jaeger-operator-7c4544d7c9-d8n2d   1/1     Running   0          20h

I have executed simplest.yaml as per instruction.

 kubectl get ingress

[2020-03-20 14:56] #963 closed

[2020-03-24 09:01] Moulick commented on #801
@jpkrohling Hi, we have a requirement to make the query `ClusterIP: None`. Is that currently possible ?

[2020-03-24 15:05] jpkrohling commented on #801
@Moulick why do you need that? If that's a case that's going to be common, we might implement that in the operator. Otherwise, I recommend creating this service externally, managing it by yourself.

[2020-03-24 17:51] Moulick commented on #801
what we kinda do is give a specific annotation to the service that then publishes the service via externalDNS to route53. and that service has to be headless. or Loadbalancer.
Also it seems to be inconsistent that annotations given in `.spec.ingress.annotations` and are propagated and not in `.spec.query.annotations`.

[2020-03-25 08:22] jpkrohling commented on #801
Annotations in `.Spec.Ingress.Annotations` are not propagated to `.Spec.Query.Annotations`, but annotations at `.Spec.Annotations` are applied at all components (which might be more than what you wanted).

I think it's not the first time we hear about this requirement, and it might indeed benefit more people to add an extra service with either `type: LoadBalancer` or `ClusterIP: None`.

I partiall

[2020-03-25 08:24] #977 closed

[2020-03-25 20:13] dm3ch opened #989 "Operator works not intuitively way when haven't got hpa permissions."
I installed jaeger operator to my cluster using official helm chart version 2.14.0 with default values.
And realised that changes in jaeger custom resource are applied only after operator pod restart.

In operator logs I had next lines:
[code]

*Reproduce guide:*
* Install jaeger operator via https://github.com/jaegertracing/helm-charts v2.14.0 with default values in some namespace
* Create jaeger

[2020-03-26 11:58] schecterdamien opened #990 "confused about the service generated by operator"
hi.

I follow the steps of the official website document to deploy step by step。there are some problem, the deploy.yml look like this:

[code]

jaeger run in observability namespace and my app run in another namespace. I want to run agent as daemonset and open a port in host machine so all my app could cross namespace pass span to agent，but:

<img width="845" alt="截屏2020-03-2619 49 36" src="https:

[2020-03-27 11:57] kevinearls opened #996 "Create a suite of e2e-example-tests for OpenShift only tests"
Start with the TestSimpleProdDeployEsExample that was removed as part of https://github.com/jaegertracing/jaeger-operator/pull/995

Putting openshift only tests in their own suite can help avoid resource problems on github that we ran into as part of #974

[2020-03-30 10:29] kevinearls commented on #974
@pavolloffay This should now be fixed with PR #995

[2020-03-31 14:36] #996 closed

[2020-03-31 18:52] linjmeyer opened #999 "Updating collector's sampling config does not restart all collector pods"
I have a Jaeger operator with 3 collector pods.  When the sampling config is updated only 2 of 3 the pods are restarted, leading to the clients getting the old remote sampling configuration.  As a test I also tried changing the minReplicas to 4 but there is still 1 pod that is not restarted.  It is the same pod as when there were 3 replicas, seems like maybe the oldest pod gets stuck.

Jaeger vers

[2020-03-31 20:29] linjmeyer commented on #999
When something is changed in the deployment spec (e.g. the --es.server-urls argument) we do see all pods restart.  So this seems just to be limited to the operator itself, I'm guessing the operator is restarting the pods when kubernetes wouldn't restart it itself (e.g. configmap changes)?

[2020-04-01 03:12] Nitesh-vaidyanath commented on #801
@jpkrohling Ingress is not getting ip, so i need to add my service as load balancer to access from aws elb.

NAME                  HOSTS   ADDRESS   PORTS   AGE
jaeger-deploy-query   *                 80      43h

[2020-04-01 07:17] pavolloffay commented on #999
This is related to https://github.com/jaegertracing/jaeger/pull/2040. Jaeger will be watching the sampling file and reload if it is changed.

[2020-04-01 09:35] Nitesh-vaidyanath commented on #801
@jpkrohling  Never mind,  i have changed from ingress controller to traefik ingress controller so ingress is not getting ip. Operator is working for me.

[2020-04-03 11:36] wesleyjconnorsesame opened #1001 "How to forward jaeger-query ports"
The default jaeger-query service maps ports 16686:16686 however I need a port forward on the service to 80->16686

i tried adding to the Jaeger definition
[code]

however it was ignored, my workaround for this is to introduce another jaeger-query service just to map this port but thats not ideal

Is there an override for port forwarding on the generated jaeger-query service?

[2020-04-03 11:42] pavolloffay commented on #1001
You can try to set this option `--query.port` in the options in the query node https://godoc.org/github.com/jaegertracing/jaeger-operator/pkg/apis/jaegertracing/v1#JaegerQuerySpec

[2020-04-03 14:26] objectiser commented on #1001
Unfortunately doesn't look like the operator takes this flag/option into account when creating the k8s service.

One aproach would be to use this `--query.port` option (if defined) in the k8s service `Port` and `TargetPort`, although this may not be ideal - and there could be complications if ingress is using oauth-proxy, as this overrides the port to use `443`.

[2020-04-03 14:31] pavolloffay commented on #1001
As a workaround @wesleyjconnorsesame can create a new service and point it to query deployment.

[2020-04-04 11:27] korjavin opened #1002 "Collecting metrics cause error logs"
I am getting log flooded by
[code]

If prometheus scrapping is on.

Any advice?

[2020-04-06 11:20] objectiser commented on #1004
Think it might be better to just support OTC via the OpenTelemetry Operator - and not embedded its configuration in the Jaeger CR. So just deprecate agent, collector and ingester parts of Jaeger CR.

Remaining responsibility of Jaeger operator would be all-in-one and query component, both requiring storage details still - which might be another reason to leverage the OTel Operator independently, s

[2020-04-07 21:41] mohit-chawla commented on #687
@jpkrohling i use the following `operator.yaml`

[code]

and still i dont see any events when i do this
`kubectl describe deployments -n <namespace> jaeger-operator`

All i see is:

[code]
I was expecting some reconciliation logs as I am trying to debug why deployment status is 0/1 and no pods are being created.

[2020-04-07 23:48] mohit-chawla commented on #687
👆  This is resolved ✅ , was able to see the logs by getting cluster events and found the reason why jaeger operator was hung because of cluster role binding issue.
To resolve that, i created a ClusterRoleBinding that binds jaeger-operator ServiceAccount with with ClusterRole that give the account access to apt policies.

[2020-04-08 18:42] mate-szalai opened #1010 "Older versions of the operator and associated resources are inaccessible via links with version numbers"
The documentation suggests that links that include version numbers can be used to install a specific version of the operator and its associated resources.

For example, the documentation [here](https://www.jaegertracing.io/docs/1.17/operator/#installing-the-operator-on-kubernetes) uses links such as `https://raw.githubusercontent.com/jaegertracing/jaeger-operator/v1.17.0/deploy/crds/jaegertracing.

[2020-04-09 08:26] pavolloffay commented on #1010
It seems like a bug in our release procedure.

For instance PR https://github.com/jaegertracing/jaeger-operator/pull/928 was merged to master and the commit got also to 1.16.0 branch https://github.com/jaegertracing/jaeger-operator/commits/v1.16.0.

[2020-04-09 08:29] pavolloffay commented on #1010
This line looks suspicious https://github.com/jaegertracing/jaeger-operator/blob/master/.ci/release.sh#L72 maybe it is pushing to all branches

[2020-04-09 08:47] objectiser commented on #1010
Don't you mean https://github.com/jaegertracing/jaeger-operator/blob/master/.ci/release.sh#L73 - looks like it is mapping the version tag to master?

[2020-04-09 10:32] pavolloffay opened #1011 "Is Jaeger restart required after change to cert generation script?"
Follow up from https://github.com/jaegertracing/jaeger-operator/pull/1008#issuecomment-611152215

A simple test showed that certs (`elasticsearch` and `simple-prod-jaeger-elasticsearch`) are not changed if Jaeger operand is created before the change to the script.

I have done these steps to validate it:
1. Deploy Jaeger operator before PR #1008
2. Create Jaeger operand `oc create -f deploy/exampl

[2020-04-09 12:36] pavolloffay commented on #1010
One of those seems to be causing the problem.

[2020-04-09 12:47] objectiser commented on #1010
Looks like it has been in since the beginning: https://github.com/jaegertracing/jaeger-operator/commit/c5c97aea0b151b328816013b723610a90654ddc6#diff-0ade8a06d51b947d7705c1a9ae1bab59

We should fix before next release - but need to decode whether to update the current tags? What the implications may be (if any).

[2020-04-09 20:42] huikang opened #1012 "Observing many <trace-without-root-span> with streaming strategy"
I experimented with both the `production` and `streaming` strategy to collect trace from the same application. The `production` strategy works correctly, while there are many `<trace-without-root-span> ` in the query UI under the `streaming` strategy.

Following is the yaml file
[code]

Could anyone help to provide any guidance to fix the issue? Thanks.

[2020-04-09 20:50] huikang opened #1013 "jaeger ingester panic with deadlockInterval > 0"
I observe the ingested keeps restarting due to a panic when I set `deadlockInterval: 5s` (as shown in the [doc](https://www.jaegertracing.io/docs/1.17/operator/#existing-kafka-cluster)).

[code]

However, if I disabled the deadlockInterval or set to 0s, the problem disappears. Does anyone else have the same issue or is this a bug? Thanks.

[2020-04-09 20:59] huikang commented on #1012
For those dubious <trace-without-root-span> trace, the query UI shows something like `invalid parent span IDs=5847eef315be555d; skipping clock skew adjustment`

[2020-04-10 05:53] harpratap opened #1014 "Kubectl explain does not work on CRD"
The jaegers.jaegertracing.io API returns empty when doing **kubectl explain jaeger**
But it should return the at least the spec, if not also the description.

I understand the reasoning behind removing the descriptions in #932 but an alternative should be provided where it is easy to read the entire API definition with explanation like in **kubectl explain** or in the way Istio does this for their

[2020-04-10 07:49] objectiser commented on #1013
This is expected behaviour - if no messages are received within the defined time period the ingester is terminated in case it is due to a deadlock, enabling the environment (e.g. kubernetes) to restart it. As described in the CLI flag description: "Interval to check for deadlocks. If no messages gets processed in given time, ingester app will exit. Value of 0 disables deadlock check."

[2020-04-10 07:49] #1013 closed

[2020-04-10 08:57] Moulick commented on #801
@jpkrohling  Ah no, I meant that if I specify `.Spec.Ingress.Annotations` the annotation is passed to the ingress object but if I specify `.Spec.Query.Annotations`, It is not passed to the jaeger query service

Also will the `.Spec.Collector.Annotations` be passed to the collector deployment ?

[2020-04-10 14:20] huikang commented on #1013
@objectiser , thanks for your answer, so I will ignore the restart in my deployment.

However, I think `panic` is different than `exit`, say with code 1. This seems a bug to me.

[2020-04-10 14:41] objectiser commented on #1013
@yurishkuro Any idea why it used panic vs just warning with an exit?

[2020-04-10 16:03] yurishkuro commented on #1013
Panic gives you a stack trace. I don't think any more thoughts went into it than that.

[2020-04-10 17:41] huikang commented on #1013
Thanks.

[2020-04-10 23:04] huikang opened #1017 "How to add a port to collector service"
I notice that by default the operator creates the following ports for the collector' service

[code]

My question is that how to add 14269 to the service list because I need to check the health and metric of the collector like `curl http://localhost:14269/metrics `. The doc seems not have such example. Thanks.

[2020-04-13 11:22] objectiser commented on #1017
This was deliberate, as this port is for internal admin purposes. If you want to collect the metrics, then you can use a PodMonitor, as discussed in this article: https://developers.redhat.com/blog/2019/08/28/build-a-monitoring-infrastructure-for-your-jaeger-installation/

Alternatively you can create your own service to expose this port if you wish.

[2020-04-13 11:22] #1017 closed

[2020-04-13 11:25] sherwinwangs opened #1018 "Private image registry how to config imagePullSecret"
when deploy jaeger without internet,I pulled the related image to private harbor registry with login credentials, how to config the ImagePullSecret In operator or Jaeger CR.

[2020-04-14 08:21] objectiser commented on #1014
@harpratap Would you be interested in contributing a PR to fix this?

[2020-04-14 08:48] objectiser commented on #1002
@korjavin Are these from the operator or one of the Jaeger components? Can you provide the first part of the log (i.e. from start up) - and also information about how you install/configure your prometheus?

[2020-04-14 09:43] objectiser commented on #1018
@sherwinwangs Currently this is not supported - would you be interested in contributing a PR? The image pull secrets could be added to the common spec part of the CRD, to enable the secrets to be defined either at the top level of the CRD (to be inherited by all components) or within the individual components.

[2020-04-14 11:40] chukynax opened #1020 "Jaeger-agent not exposing ports 6831/UDP 6832/UDP"
Trying to work with jaeger operator and hotrod demo app

deployed simplest jaeger and apperead agent svc with no ip
[code]

[2020-04-14 12:58] objectiser commented on #1020
The jaeger-agent shouldn't be accessed via a service interface, as they may result in it being used over the network - as UDP is not reliable, this could lead to data loss.

Instead the agent should be used as a sidecar [via injection](https://www.jaegertracing.io/docs/1.17/operator/#auto-injecting-jaeger-agent-sidecars), [manually deployed](https://www.jaegertracing.io/docs/1.17/operator/#manuall

[2020-04-14 12:58] #1020 closed

[2020-04-14 14:55] pavolloffay commented on #1011
I have also tested one additional scenario that involves changing Elasticsearch CR to trigger the reconciliation loop. I have changed the number of nodes from `1` to `3` after step 3. The secrets haven't changed either.

[2020-04-15 07:18] kevinearls opened #1021 "Update CI builds to use latest Ubuntu and Minikube"
The CI builds run on Github actions had been using an old version of minikube (1.3.1).  PR #1019 updates that to 1.5.2, but as of April 2020 version 1.9.2 is available.  That PR also changes the Ubuntu version from ubuntu-latest (currently 18.04) back to 16.04.

These changes were required because of the following issue: https://github.com/kubernetes/kubernetes/issues/66067  There is more informat

[2020-04-15 07:53] objectiser commented on #1021
Resolved by #1019

[2020-04-15 08:11] kevinearls commented on #1021
@objectiser Could you re-open this?  This is actually not covered by 1019, but is something I want to do in the future.

[2020-04-15 08:31] objectiser commented on #1021
@kevinearls Sorry :)

[2020-04-15 10:31] korjavin commented on #1002
It's from jaeger-collector
and it's because prometheus trying to collect metrics from it

[2020-04-15 12:51] objectiser commented on #1002
Can you provide the first part of the jaeger-collector's log please.

Do you use the jaeger operator to deploy the jaeger instance? If so, can you attach your CR.

What version of Jaeger operator/collector are you using?

How do you deploy and configure your prometheus server?

[2020-04-16 16:15] ewolinetz commented on #1011
For cluster logging, CLO is responsible for updating the secrets -- which will only be different if the contents of the certs has changed. The script itself doesn't change the certs unless the signing CA has expired or if the signing CA had to be regenerated.

[2020-04-17 08:30] pavolloffay commented on #1011
Thanks @ewolinetz. So, in this case, we are good and we don't have to do anything for existing deployments.

How is this use-case handled in CLO? As we are using the same script the certs do not change.

In a separate issue, we should start thinking how to restart Jaeger components when certs expire or change.

[2020-04-17 15:19] r0kas opened #1027 "Documentation for ES cron jobs provides incorrect examples"
Following link provides incorrect example:
https://www.jaegertracing.io/docs/1.17/operator/#elasticsearch-rollover

```readTTL: 7d                                  // how long should be old data available for reading```

Generates errors in operator as non parsable here:

https://github.com/jaegertracing/jaeger-operator/blob/7d8f068277cc301c48abc935bb4b64774044286b/pkg/controller/jaeger/jaeger_con

[2020-04-17 18:32] ewolinetz commented on #1011
We run the script during every reconcile loop, we pull our certs down to a local dir in the operator pod, so the cert gen script can also detect if they are expired.

Then we create or update our secrets every time, so if the local certs have changed then the secrets will get updated as well if necessary.

[2020-04-17 22:30] jorgex1 commented on #294
Hi @pavolloffay are there any updates on this?

[2020-04-20 07:55] pavolloffay commented on #1011
Jaeger operator does the same. If the certs are not present on operators filesystem then the certs are extracted from secrets. Then the script is run to validate the certs (e.g. whether they are expired)

I have run the diff on the certs directory before PR #1008 and after - see the first comment. There are some changed files but the core certs haven't changed e.g. `elasticsearch.cert` only some "

[2020-04-20 07:57] pavolloffay commented on #294
There aren't ane news. If anybody has free cycles feel free to take it.

[2020-04-20 08:17] objectiser commented on #1027
@pavolloffay This could be fixed in the docs - but do you think we should add support for parsing days? Seems a more natural unit for this field.

[2020-04-20 08:24] objectiser commented on #801
@Moulick Correct, the annotations specified in the CR are currently only supplied to the deployments, not the services.

[2020-04-20 08:37] pavolloffay commented on #1027
I would stick with golang units for simplicity.

The value of `ReadTTL` is parsed into golang duration and then transformed to curator units https://www.elastic.co/guide/en/elasticsearch/client/curator/current/fe_unit.html. The final value is passed to rollover script https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/es/esRollover.py#L17.

So there is a slight deviation to upstrea

[2020-04-20 09:15] objectiser commented on #1027
@r0kas Would you be interested in submitting a docs PR to change this to hours in 1.17 and next-release folders?

[2020-04-20 11:05] r0kas commented on #990
I second to this Issue, that there should be Service Type configuration available. Now it's left for default value which is not suitable for every use case.

Following link shows where the type is not configured and left to be at it's default setting: ClusterIP
https://github.com/jaegertracing/jaeger-operator/blob/3a76357a27208b29544890ab573b523717b00d32/pkg/service/query.go#L41

[2020-04-20 14:55] ernaldobr opened #1028 "Jaeger UI - Service list is empty"
Hello everyone,

I´m a new Jaeger user.

On my Jaeger UI a **Service** list is empty.

The Jaeger runs on Kubernetes and jaeger-operator version is 1.16.0.

At log of **jaeger-operator** i see this:
`time="2020-04-17T18:05:45Z" level=info msg=Versions arch=amd64 identity=psc-jaeger-operator.khm-jaeger-operator jaeger=1.16.0 jaeger-operator=v1.16.0 operator-sdk=v0.12.0 os=linux version=go1.13.3
tim

[2020-04-20 15:15] ernaldobr commented on #1028
Sorry friends.
I read the log more carefully and saw it:
"The service account running this operator does not have the role 'system:auth-delegator', consider granting it for additional capabilities"
I will adjust this and report here.

[2020-04-20 15:33] chaospuppy opened #1029 "collector-tls-config-volume Not Created"
Summary:
Jaeger Pods are failing to be created due to missing "\<deployments-name\>-collector-tls-config-volume" secret.

Platform:
OSE 3.11

Images:
jaegertracing/jaeger-operator:1.17.1
jaegertracing/all-in-one:1.17.1

CSV:
1.17.1

OLM Version:
0.12.0

Jaeger Custom Resource yaml:
[code]

What is happening:
Jaeger pods fail to start, citing the following error:
- MountVolume.SetUp failed for volu

[2020-04-20 15:51] jorgex1 commented on #294
Spent a bit doing some digging through things and came across this page https://hub.helm.sh/charts/jaegertracing/jaeger

The page mentions that in order to have a version of the spark job working one would need to get the certificates from the elasticsearch cluster and do
[code]

And then use the `jaeger-tls` configmap within the spark job definition as such:
[code]

Which all sounds like it is in

[2020-04-21 07:24] objectiser opened #1030 "ES index cleaner and rollover images stored in persisted CR"
Unlike the other image fields for the other components, the persisted Jaeger CR contains the image for the ES index cleaner and rollover components.

The issue is that when upgrading an existing instance, these fields are not updated, so the upgraded Jaeger instance would be using the older images for those components.

It would be better if the ES index cleaner and rollover components are the sam

[2020-04-21 07:48] objectiser opened #1031 "Change upgrade mechanism to leverage semver"
Currently the upgrade mechanism is using a state transition approach. This means that whenever there is a new version, this table needs to be updated (as well as the `latest` pointer).

If we changed this mechanism to be based on semver, then we only need to create a list of versions where a change is required (so only update when a change is necessary).

We should also set the latest version base

[2020-04-21 08:59] pavolloffay commented on #294
Correct the certs have to be imported into java keystore in the spark image.

[2020-04-21 09:00] pavolloffay commented on #294
My idea was to implement a script in the spark image that would do that if the certs are specified as env vars.

[2020-04-21 17:49] rubenvp8510 commented on #1031
I'm working on an update to 1.18 Can I work on this one too?  I think this will help to make updates  more testeable.

[2020-04-21 18:25] objectiser commented on #1031
@rubenvp8510 Its all yours.

cc @jpkrohling , in case you have any objections to the change in approach.

[2020-04-22 12:37] #1028 closed

[2020-04-22 20:23] ewolinetz commented on #1011
If the certs aren't expired this is what we would expect to see.. or are you saying since the `default_md` and `default_bits` changed we should be regenerating the certs?

[2020-04-23 06:36] pavolloffay commented on #1011
I think it is correct how it is handled right now. From your first comments my impressions were that new set of certs will be generated if PR #1008 is applied to existing deployments.

@ewolinetz thanks for the confirmation. I am closing this and I will open a new issue for handling Jaeger restart when certs change - e.g. expire.

[2020-04-23 06:36] #1011 closed

[2020-04-25 23:38] yurishkuro commented on #84
@jpkrohling do we still need this given that #2188 implements time-based reloading?

[2020-04-27 11:28] pavolloffay commented on #1004
I am sharing some updates:

The Jaeger OpenTelemetry collector will use opinionated configuration and always by default enable Jaeger receiver, some processors (TBD) and storage exporter. The collector can be configured via old Jaeger storage flags and also via OpenTelemetry configuration file. The configuration is merged with the default configuration and it takes precedence.

That said we will b

[2020-04-27 11:37] omertsur opened #1040 "CRDs not created on OpenShift 3.11"
I am trying to install the CRDs on my Opensfhit environment (version 3.11) and I receive the following [error](https://pastebin.com/nJ4RtNdE). I tried both from the UI and the CLI, same result.

[2020-04-27 13:01] objectiser commented on #1040
Can you provide details of which version of the Jaeger operator you are using, and how it was installed?

[2020-04-27 13:04] omertsur commented on #1040
I am using the latest jaeger operator version (1.17.1) and it is yet to be installed because I can't load the aforementioned CRDs (I followed the guide in the README, and the first step is to load the templates, with the CRD's template being the first item)

[2020-04-27 13:09] objectiser commented on #1004
Following further discussions internally, this does seem like a good approach. It doesn't preclude the OTel Operator being used in the future, along with the Jaeger operator (CR), but taking this approach would enable Jaeger to more seamlessly transition to using OTel Collector.

[2020-04-27 13:24] objectiser commented on #1040
Have you previously been able to install a different version of the CRD?

[2020-04-27 15:15] pavolloffay opened #1041 "Run e2e tests with Jaeger OpenTelemetry collector"
Run e2e tests with https://hub.docker.com/repository/docker/jaegertracing/jaeger-opentelemetry-collector image.

In future there will be also OpenTelemetry based ingester and agent images. Those will have to be used in tests too.

[2020-04-27 15:28] pavolloffay commented on #1041
These tests should be run as additional parallel jobs in the current CI.

[2020-04-27 15:56] omertsur commented on #1040
It's the first time I tried to install said resource, I haven't tried any version prior to 1.17.1

[2020-04-27 16:47] idohalevi opened #1042 "Operator for storage plugin"
Hey. I want to deploy Jaeger with Logz.io storage [plugin](https://github.com/logzio/jaeger-logzio), using Kubernetes operator. I can't find a way to do it. Is it supported? if so can you provide any guidance on how to deploy the operator with storage plugin?

[2020-04-28 07:20] pavolloffay commented on #1042
It's not supported at the moment. The workaround might be to build custom images with all required default configuration baked in.

Are you using the plugin with all-in-one distribution or with separate query and collector services?

[2020-04-28 07:39] idohalevi commented on #1042
@pavolloffay thank you for the quick reply. I use them separately and they do have custom images for each one

[2020-04-28 08:07] pavolloffay commented on #1042
If there is a custom image then try to running it. The image for each component can be specified in the CR. Then in the storage options you will have to provide the configuration flags for your plugin.

The environmental variable `SPAN_STORAGE_TYPE=grpc-plugin` will have to be set in the images as there is no way to specify it in the CR.

[2020-04-28 08:14] objectiser commented on #1040
It appears to be a known issue on OpenShift 3.11, a suggestion solution can be [found here](https://github.com/datastax/labs/issues/18#issuecomment-562671178).

[2020-04-28 10:21] chlunde opened #1043 "TLS trust store for kafka/storage and oauth"
The OpenShift API server, kafka and elasticsearch TLS certificates can be issued by other CA (public or private company CA) in some deployments. This is currently not supported.

In OpenShift, it is possible to request a TLS trust bundle injected into a configMap, see https://docs.openshift.com/container-platform/4.3/networking/configuring-a-custom-pki.html

[code]
# Possible fix

## Producer/cons

[2020-04-28 10:21] chlunde commented on #1042
I have done this manually, I think I found a way to do this without too much maintenance of duplicate images:
* Create an emptyDir volume /plugin in query/ingest and possibly collector for the plugin
* Add a pointer to a "plugin installer" init container which will simply `cp` the plugin binary to /plugin
* Add a reference to a configMap for the plugin

the configmap and plugin installer init cont

[2020-04-28 10:27] chlunde opened #1044 "Ingress for sampling/spans from VMs"
In brownfield deployments some components might still run on VMs. It would be nice if the either the  operator could configure an ingress for sampling/spans, or at least the setup could be documented.

For the VM side, a documented way to run jaeger-agent and configure it to point to. UDP from the agent to the collector is probably a no-go. Maybe the docs could have example systemd units for runni

[2020-04-28 12:28] idohalevi commented on #1042
@pavolloffay do you think it is possible to add an example to this repo following @chlunde and your own suggestions

[2020-04-28 12:45] chlunde commented on #1042
Here is a POC: https://github.com/chlunde/jaeger-operator/commit/d02f64cb49284ae5b6b9fb26cc8b9a535860b40b

But would we like to have the volumes explicitly in the CRD (as in the example CRD) or implicitly in the code?

I think explicit, although more verbose, is nice. It is less code (yay) and the person using this would probably need to create a container image and know the paths of the plugin bi