[2020-04-28 12:55] chlunde commented on #1043
I think there are parts to this issue:
* overriding kafka.consumer.tls.ca - can options from the user override generated options (I think I tried
* documenting adding a configMap with like in the second example

[2020-04-28 13:00] pavolloffay commented on #1042
Could you please open the PR against this repository so we can comment on the code?

I had a look and it looks reasonable. I haven't done much work on the grpc plugin and I would like to know whether it will be maintained as a first-class storage impl in Jaeger. cc) @yurishkuro

[2020-04-28 21:08] chlunde commented on #1044
This gist from @sallyom might be very relevant: https://gist.github.com/sallyom/d2841ec66b3fe6813de2809f5fb90512

[2020-04-29 09:26] chlunde commented on #375
Wouldn't the end-to-end tests for jeager-operator itself be enough?

And would it not share enough code that it could just be the same image? I can whip up a quick POC.

[2020-04-29 09:35] pavolloffay commented on #375
I am also keen on testing this - at least for all-in-one deployment type.

It would share most of the code. It depends on how intrusive it would be to the current main. A separate build might be better if this is considered a lower priority feature.

[2020-04-29 14:49] #1031 closed

[2020-04-30 08:05] omertsur commented on #1040
Thanks, It seemed to solve the issue!

[2020-04-30 08:05] #1040 closed

[2020-04-30 10:44] AdrieVanDijk commented on #1029
I have the same problem on Openshift 3.11.154
The operator has been installed with the helm chart https://github.com/jaegertracing/helm-charts/tree/master/charts/jaeger-operator
I have tried CR:
[code]
and several others. In all cases the operator generates a deployment that refers to secret `<CR-name>-collector-headless-tls`, but the secret itself is not created.
The log of the operator shows thi

[2020-04-30 14:11] chaospuppy commented on #1029
I was also able to avoid the issue by rolling back to CSV 1.17.0, which in turn rolled back to the 1.17.0 tag for the operator image and the all-in-one image.  I suspect something in the all-in-one image update from 1.17.0 to 1.17.1 is the culprit.

[2020-05-01 09:19] objectiser commented on #1043
@jpkrohling Would you be able to comment on this one?

[2020-05-01 09:51] objectiser commented on #1029
This appears related to https://github.com/jaegertracing/jaeger-operator/pull/914, which relies on an annotation `service.beta.openshift.io/serving-cert-secret-name` being used to auto-create a secret. This is likely not supported on OpenShift 3.11 - so we need to make that mechanism only enabled for OCP4.x.

@annanay25 Do you agree with the assessment? Would you be able to provide a fix?

[2020-05-04 11:01] jecnua opened #1048 "Expose collector via ingress on a kubernetes cluster"
HI all,

This is a feature request that was already proposed in https://github.com/jaegertracing/jaeger-operator/issues/420 and closed for luck of additional requests/interest.
However I would like to propose again to add the ability in the operator to create an ingress resource in kubernetes to allow traffic external from the cluster to be managed and ingested by the collectors.

Use case: I have

[2020-05-06 12:36] ctron opened #1053 "After #959 operator does not update sidecar arguments"
After upgrading, and having the fix for #959, the TLS configuration was still broken, as the controller did not update the arguments of the sidecar.

Deleting the deployment triggered the re-creation of the side and brought back tracing.

[2020-05-06 13:45] objectiser commented on #1053
@ctron Hi. I assume you are running on OpenShift?

Can you confirm the version you were upgrading from?

[2020-05-06 14:25] ctron commented on #1053
Yes, indeed :grin:

I can't really tell. The status section still reports it is `1.1.16.0`, which is another bug I guess. Now it is `1.17.1`. But I am not sure what was in the middle.

[2020-05-06 14:55] objectiser commented on #1053
Ok thanks - we will try to reproduce.

[2020-05-10 11:48] YonaLugassi opened #1058 "Jaeger Operator not create query & collector pods"
After I deployed the Jaeger operator on my cluster with the following configuration :
on kubernetes version 1.12.8
works with Elasticsearch operator as the DB source
[code]

I try to deploy it again on a new cluster with version 1.16.9
And it didn't create the jaeger collector and the query pods.
What is missing?
Is there any way to find logs the show Jaeger errors?

[2020-05-11 08:05] pavolloffay commented on #1058
Can you share your `jaeger-operator` deployment specification e.g. `k get deploy jaeger-operator`?

It might be that the operator is not watching the namespace where the CR is created.

[2020-05-11 14:26] ncthbrt commented on #583
Would it not make sense to examine the different cloud operator policies on supported versions (e.g. aws, gcp, azure, etc) and try and find a compromise between maintenance effort and broad support on the biggest cloud providers.

[2020-05-12 08:17] objectiser commented on #583
@ncthbrt Sounds like a good idea - do you have such info from any of the providers?

[2020-05-12 08:31] ncthbrt commented on #583
Azure policy can be found here:
https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions
From the text:

AKS aims to certify and release new Kubernetes versions within 30 days of an upstream release, subject to the stability of the release.
...
Azure AKS supports three minor versions of Kubernetes:
-  The current minor version that is released in AKS (N)
-  Two previous minor versi

[2020-05-12 13:56] #1004 closed

[2020-05-12 14:08] #375 closed

[2020-05-13 14:23] YonaLugassi commented on #1058
Here is the jaeger deployment on the new k8s cluster:

[code]

I saw that there were differences in ServiceAccount on the new k8s cluster that the Jaeger Operator would move to

Here is the old version

[code]

and the new version looks like this

[code]

after I comper between them, the resources were created on the new cluster

[2020-05-14 10:48] prashanthga commented on #599
Hello,  does TLS work between jaeger-agent and jaeger-collector ?   We are not using the HTTP Sender but rely on the UDPSender.  Is it possible to have a secure connection in such case ? Please advise.

[2020-05-14 11:23] annanay25 commented on #1029
HI @objectiser - Sorry I didn't catch this notification. Unfortunately I will not be able to work on the operator for now, I hope someone else can pick this up?

[2020-05-14 12:33] pavolloffay commented on #599
The TLS is supported only between agent and collector via gRPC

[2020-05-14 14:37] prashanthga commented on #599
OK, does it mean UDP Senders not suite for security.
ALso, how we configure GRPC Sender using Java client ?   Does it support Authentication using Basic Auth or Oauth?  For e.g. a HTTP Sender allows setting username, password or token.  How do we do this using GRPC sender

[2020-05-14 15:35] pavolloffay commented on #599
There is no support for the gRPC sender in Java at the moment.

HTTP sender cannot be configured with secure connections either. :/

[2020-05-14 16:05] prashanthga commented on #599
Jager documentation suggests configuring username, password and token for Http sender. So are you suggesting they are not supported in case of java client?
What's the recommendation for configuring security for jaeger

[2020-05-15 07:45] pavolloffay commented on #599
1. can be done via gRPC, there we support mTLS
2. Jaeger itself does not provide auth, however this article will help you to set it up with auth proxy https://dzone.com/articles/protecting-the-collection-of-spans

[2020-05-15 09:04] prashanthga commented on #599
gRPC supported for which clients ?

[2020-05-15 09:13] pavolloffay commented on #599
Sorry its between agent and collector. I am not sure if it is supported in any clients.

[2020-05-15 09:19] prashanthga commented on #599
You mentioned there is no support for gRPC Sender for Java in the comment above. So Im wondering is it supported for Python, Go etc .

[2020-05-15 09:27] pavolloffay commented on #599
Each client has it's own maintainers. Have a look directly in those repositories.

[2020-05-16 02:30] #551 closed

[2020-05-17 01:02] izelnakri commented on #1014
Hi there, yes this feature is absolutely needed. I'm currently confused on where to look for the Jaeger CRD API, wanted to check all the storage configurations but stuck because ```kubectl explain Jaeger.spec.storage``` returns empty description.

[2020-05-17 13:05] izelnakri commented on #1014
What is suggested here will increase use when implemented, and it will help finding bugs as well, I think I found one with cassandra storage for example.

[2020-05-18 08:35] pavolloffay commented on #965
@jahlinxjah feel free to reopen once you provide more info. I am closing this for now as we don't have required data to investigate the issue.

[2020-05-18 08:35] #965 closed

[2020-05-18 08:53] pavolloffay opened #1064 "Host Kubernetes all-in-one.yaml manifest in the operator repository"
Jaeger operator 1.18 introduced a feature that generates k8s manifest files from the supplied CR file https://github.com/jaegertracing/jaeger-operator/#experimental-generate-kubernetes-manifest-file.

I propose to host the generated manifest file directly in the repository - either in the examples dir or as part of the release distribution.

The motivation for this is to fully deprecate https://gi

[2020-05-18 08:55] pavolloffay opened #1065 "Change OTEL config from FreeForm to OTEL configmodels.Config"
This will allow us to type safely inject any configuration to the components.

[2020-05-18 09:52] objectiser commented on #1064
If it is generated, then we would need documentation (probably in this repo and the jaeger-kubernetes repo) to point to it. Instead, wouldn't it be just as easy to document the command for generating the manifest?

[2020-05-18 09:58] pavolloffay commented on #1064
The command should be already in the readme. Maybe we can just make the repository read-only and encourage users to generate the manifest they need.

Hosting a manifest in the repository makes it easy for people to just "grab" it and deploy. To keep things simple I think we should host only the all-in-one for quick demo purposes.

[2020-05-18 10:03] objectiser commented on #1064
We definitely need to be more explicit in the jaeger-kubernetes repo - so readonly +1, make the readme more explicit that the repo is no longer maintained and document the alternatives, including the helm-charts repo.

[2020-05-18 10:03] pavolloffay commented on #1064
Actually the output from generate can be piped to the `kubectl apply`

[code]

Hence we might not need to host the manifest here. Consumers will have to install `docker`, but that is already a standard tooling :).

I will update readme in the k8s repo and point them to the generate command in the operator.

[2020-05-18 10:16] objectiser commented on #1014
@izelnakri This is probably due to the description fields being stripped from the CRD, which was necessary due to its size - when using `kubectl apply` it failed. See https://github.com/jaegertracing/jaeger-operator/issues/854.

[2020-05-18 10:52] pavolloffay commented on #1064
I am closing this for now. If somebody thinks that the manifest should be hosted please comment on this issue or create a new one.

[2020-05-18 10:52] #1064 closed

[2020-05-18 13:50] #980 closed

[2020-05-19 09:46] objectiser opened #1066 "Derive list of service ports from receivers"
Related to https://github.com/open-telemetry/opentelemetry-operator/issues/21

While dealing with a small set of Jaeger specific receivers, and understanding the fields that would be specified to override the ports, this can be easily handled.

However, if we want to support custom images that may also include other receivers, and config to override any default ports, then we would need a more adv

[2020-05-20 13:03] Iulian7 opened #1067 "Could not create ServiceMonitor object jaeger-jaeger-operator-metrics already exists"
I installed jaeger-operator (1.17.1) using the helm chart `jaegertracing/jaeger-operator`. I see 2 strange things:

1. `jaeger-operator` logs this error: "could not create ServiceMonitor object" error="servicemonitors.monitoring.coreos.com \"jaeger-jaeger-operator-metrics\" already exists"
2. The Service ` jaeger-jaeger-operator-metrics` does not select any pods (so it does not have any endpoints)

[2020-05-20 14:18] linjmeyer opened #1068 "Set jaeger-spark-dependency date in operator"
By default the jaeger-spark-dependency CronJob runs just before midnight.  I have several large clusters sharing a single Jaeger instance so the CronJob uses a lot of resources.  The problem I am facing is that ~12 AM UTC (cluster time) is not an ideal time to run a memory intensive job as the clusters are still heavily used at this time.  I would like to move it to more like 2-3 AM the day after,

[2020-05-20 14:46] pavolloffay commented on #1068
It sounds reasonable, would you like to submit a PR?

It seems controversial as at 2-3 AM there should be less load.

[2020-05-20 16:33] linjmeyer commented on #1068
I'm not sure what you mean by this?

Happy to submit a PR, I don't have a ton of Go experience but this change seems fairly simple so I'll git it a shot!

[2020-05-20 18:04] Iulian7 commented on #1067
I deployed it without the helm chart and everything seems fine. I think it was just a problem with the helm chart.

[2020-05-20 19:54] linjmeyer commented on #1068
I could not find a clean way to achieve this in the operator.  Instead opened a PR to add this as feature in the Spark Dependencies repo [here](https://github.com/jaegertracing/spark-dependencies/pull/89#issuecomment-631690775).  Feedback is welcome!

[2020-05-21 13:12] objectiser commented on #1067
@Iulian7 Ok thanks, I'll close this issue then.

[2020-05-21 13:12] #1067 closed

[2020-05-21 23:52] #934 closed

[2020-05-25 09:00] davelosert opened #1069 "Settings `WATCH_NAMESPACE` to multiple namespaces does not work"
When setting the `WATCH_NAMESPACE` flag to a comma-separated list as described in the [docs](https://www.jaegertracing.io/docs/1.18/operator/#install-modes), the list actually gets interpreted as one single namespace.

For example setting this:
[code]

will result in this error:
[code]

This is probably due to a bug in the OperatorSDK (https://github.com/operator-framework/operator-sdk/pull/2522)

[2020-05-25 14:02] pavolloffay commented on #1069
@davelosert thanks for reporting.

regarding the docs - is there any workaround or do you want to remove the section that describes how to configure list of namespaces?

In the long run we definitely want to upgrade the operator SDK.

[2020-05-26 05:39] chenjinxuan opened #1070 "Agent deployment for daemonset"
hostNetwork setting is supported when agent is deployed in daemonset mode？

[2020-05-26 08:03] davelosert commented on #1069
@pavolloffay : Thanks for the quick answer!

Unfortunately, I do not have a workaround.

For the docs: I'd suggest to change

to the singular version:

And maybe also add a warning box below which explains that setting multiple namespaces is currently not possible with a link to this issue.

[2020-05-26 09:43] pavolloffay commented on #1070
@chenjinxuan can you be more specific on what you mean by `hostNetwork`?

[2020-05-26 09:47] chenjinxuan commented on #1070
![image](https://user-images.githubusercontent.com/25172225/82886237-d532f580-9f78-11ea-8f5c-044c87939976.png)
podSpec.hostNetwork setting

[2020-05-26 09:53] objectiser commented on #1070
@chenjinxuan The operator uses `hostPort` https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/#communicating-with-daemon-pods

[2020-05-26 10:32] chenjinxuan commented on #1070
Because the k8s environment running now is provided by alicloud, alicloud's k8s network plug-in blocks the function of the hostport, which makes it impossible to set the hostport through the hostIp:hostPort Mode access.
Only through service nodeport or podSpec.hostNetwork : true to set
So I hope Jaeger opterator supports podSpec.hostNetwork Settings for

[2020-05-26 11:11] objectiser commented on #1070
@jpkrohling Do you recall why `hostPort` is used instead of `hostNetwork`? The k8s template used `hostNetwork` but the openshift examples provides a `SecurityContextConstraints` for related to `hostPort` - so not sure if this was related to use in OpenShift?

[2020-05-27 01:40] chenjinxuan commented on #1070
Because the function of hostport is blocked by Alibaba cloud's network plug-in,
So I have to use podSpec.hostNetwork Or service nodeport settings
I just hope that Jaeger operator agent has a parameter to set hostnetwork. I am willing to submit PR to improve this function

[2020-05-27 09:02] objectiser commented on #1070
@chenjinxuan Ok understand. I would just like to hear from @jpkrohling before we decide on a way forward - unfortunately he is on PTO for a couple of weeks, so will need to wait until then.

[2020-05-27 09:22] chenjinxuan commented on #1070
Thank you. I'm looking forward to the good news

[2020-05-28 19:01] IuriGarcia commented on #1028
@ernaldobr Sorry, but , i got the same issue, tryed to create a separate new cluster-role-binding, but it has failed.

[2020-05-29 09:15] Catorpilor opened #1071 "Remote Sampling is not working as expected"
I'm using the latest operator, with the following configuration
[code]
I create a `tracer` using the following code in my `jaeger-example`
[code]

`jaeger-example` **sampling** output in `simple-prod-collector`
[code]
default sampling output:
[code]

and the related metrics
[code]
However i still see traces on `/healthz` operation.
<img width="1310" alt="Screenshot 2020-05-29 17 10 38" src="https:

[2020-05-29 09:31] objectiser commented on #1071
@Catorpilor As your diagnosis has shown, there is no problem in the operator or jaeger backend, as the jaeger collector is returning the expected sampling configuration (based on your `curl` commands). Therefore this issue should have been raised in the client repo.

However, I don't believe this is an issue anyway - your sampling config is associated with operations that are specifying the `http.

[2020-05-29 09:31] #1071 closed

[2020-05-29 09:37] Catorpilor commented on #1071
Wow, that make sense, I'm using `github.com/opentracing-contrib/go-stdlib/nethttp` as a HTTP middleware.
Thanks for pointing that out @objectiser

[2020-05-29 18:40] OmriHarary commented on #926
Forgot that this issue was still open, sorry.

@jpkrohling, we ended up discovering that the issue was actually with our ingress controller and not Jaeger or the operator. Our mistake. You can close this issue.

[2020-05-29 22:17] objectiser commented on #926
@OmriHarary thanks for letting us know.

[2020-05-29 22:17] #926 closed

[2020-05-30 10:03] zackzhangkai opened #1076 "jaeger has no endpoint"
I met with some problems when  upgrade jaeger 1.13.1 to 1.17.1. The metric and tracing display faild. Then when I consult the log , and found some errors.

[code]

Then I consult the IP 10.233.75.44, found no such endpoint matched.

[code]

The jaeger-operator and jaeger-operator-metrics has no endpoints. I think this may be the main reason that why my problem was.

What's the matter?How can I fix

[2020-06-01 02:43] tanjunchen opened #1073 "Kubernetes:Error: no Jaeger pods found"
see  https://istio.io/docs/tasks/observability/distributed-tracing/jaeger/#before-you-begin

Is there Jaeger  Pods?

[code]

How to define the jaeger-collector-service 、jaeger-collector-namespace

[2020-06-01 02:52] tanjunchen commented on #1058
+1

[2020-06-01 02:58] tanjunchen commented on #1058
here is the jaeger-operator.yaml
[code]

[2020-06-01 06:00] AdityaBhansali1 opened #1074 "Recommended way to enable resources on Jaeger agent sidecars"
Hello,

I am looking for the recommended way to enable resources on auto-injected Jaeger agent sidecar container. This is required for enabling metrics on my service pod and hence enable the k8s horizontal pod autoscaling for my service.

More details -
Jaeger operator is installed with below command.
[code]

Jaeger is installed with below definition.
[code]

Service uses the jaeger sidecar inject

[2020-06-01 07:54] objectiser commented on #1074
@AdityaBhansali1 The resources can be specified under the `agent` node, in the same as shown in your example for the `collector` node. You will need to raise an issue in the helm-chart repo to find out how these details can be passed. Alternatively use the operator directly and deploy the full CR.

[2020-06-01 07:54] #1074 closed

[2020-06-01 08:00] objectiser commented on #1073
Hi @tanjunchen , you will need to create an issue in the istio repo, as this may be a configuration issue with their installer.

[2020-06-01 08:00] #1073 closed

[2020-06-02 08:33] pavolloffay commented on #1076
Moving this to the operator repository.

[2020-06-02 08:51] pavolloffay commented on #1076
@zackzhangkai thanks for reporting this. I am not sure if I understand the issue.

How did you upgrade? Did you run operator 1.13.1 and then immediately 1.17.1?

I am not sure if we are using metrics and operator endpoints in all situations. What do you need them for?

[2020-06-02 15:32] romil-punetha opened #1077 "Modify elasticsearch index template for spans"
Currently, the span template `*jaeger-spans*` has a fixed manifest. I tried updating it but saw that it restores itself after some time. There are certain optimisations mentioned in the elasticsearch website to speed up indexing speed, like increasing refresh interval (since I'm never going to search for an immediately created span). It would be good if I could define some modifications to the fie

[2020-06-02 16:15] Space-Banana-42 opened #1078 "jaeger collector sampling not working with Ambassador"
I am using jaeger 1.18, with sampling strategy:
`apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: jaeger
spec:
  strategy: production
  sampling:
    options:
      default_strategy:
        type: probabilistic
        param: 0.1

  storage:
    type: elasticsearch
    options:
      es:
        server-urls: http://elasticsearch-master.openfaas:9200`

And using zipkin tracer in ambas

[2020-06-02 16:21] objectiser commented on #1078
@Space-Banana-42 The sampling configuration within the Jaeger operator's CR is only understood by the Jaeger tracers, not Zipkin tracers.

[2020-06-02 16:53] AdityaBhansali1 commented on #1074
Thank you for the quick response. I was able to make it work by adding the spec.agent node configured with resource limits and requests. All the sidecar containers for jaeger agent inherit the resources property now.

It would be great if we could have the ability to define different resources per sidecar container as well for more control on the resources per container. I'm assuming that would ev

[2020-06-03 09:06] objectiser commented on #1074
@AdityaBhansali1 Feel free to open a new issue if you have a proposal - but would need to outline some usecases where the current functionality is not adequate, as potentially could make the configuration more complex.

[2020-06-03 09:33] AdityaBhansali1 commented on #1074
Sure, right now we don't have such a use case but if it comes up in future I will raise a proposal.
Thanks again for the help provided on this thread.

[2020-06-03 11:23] GregoryVds commented on #990
Agreed. I would also like to deploy the Jeager query service as NodePort.
It seems most Helm charts expose a `service.type` option to configure such things.

[2020-06-05 13:47] #1077 closed

[2020-06-08 13:35] jpkrohling commented on #1070
`HostNetwork` has more rights than just `HostPort`:
https://kubernetes.io/docs/concepts/policy/pod-security-policy/#host-namespaces

I believe more people have requested this in the past, so, I'd be OK with a new flag specific to the `Agent` (which is  the only place this makes sense, IMO).

[2020-06-08 14:07] jdomag opened #1082 "Add k8s job TTL to cleaner jobs"
Hi,
Would be great to implement
https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/

into storage backend :

storage:
  type: elasticsearch
  esIndexCleaner:
    enabled: true                                 // turn the cron job deployment on and off
    numberOfDays: 7                               // number of days to wait before deleting a record
    schedule: "55 23 * *

[2020-06-08 15:03] jpkrohling commented on #687
@mohit-chawla, just to be clear, this was a vanilla installation, right? Following the docs should always yield a usable installation.

[2020-06-08 16:10] mohit-chawla commented on #687
yes, it was vanilla installation.

[2020-06-09 06:38] jpkrohling commented on #84
Good question. I think the basic idea is still valid ("a config file shouldn't be used with the operator"), as the Operator will add configuration options as flags based on the environment (mTLS when possible, ES URL for auto-provisioned storage, ...) and using `--config-file` might cause confusion when trying to figure out the effective configuration for an instance.

[2020-06-09 06:51] jpkrohling commented on #1043
Kafka: I need to check the code, but I think we only generate options when we are using Strimzi, and we get the cert data from the KafkaUser resource. This is generated by Strimzi, and we have no influence on it. For existing Kafka instances, the operator shouldn't be generating an option like `kafka.consumer.tls.ca`, IIRC. Whatever is specified in the `Options` node should be passed down.

Elasti

[2020-06-09 08:09] jpkrohling commented on #989
Are you able to dig deeper and see where exactly this is failing? Setting the `log-level` to `debug` should be sufficient. We should not be breaking the reconciliation when errors happen during the reconciliation of the HPA:

https://github.com/jaegertracing/jaeger-operator/blob/c920e75b425dc22ddffd2dda714eb5a0baf6990f/pkg/controller/jaeger/jaeger_controller.go#L345-L349

[2020-06-09 08:13] jpkrohling commented on #1001
Out of curiosity: why do you need to set the port to 80 at the service level? I thought the common case was to let the Ingress accept on 80/443 and proxy the connection to whatever port the service is configured with...

[2020-06-09 08:25] jpkrohling commented on #1010
Line 72 is about pushing local tags to the remote repository. It *should* only be pushing the new tag.
Line 73 is pushing the commits from the new local tag to master.

I see that 1.18.0 has been released recently, and it's not pushed to the 1.16 tag. Was this issue fixed, or was the release performed using a different script?

[2020-06-09 08:37] jpkrohling commented on #1042
This sounds really cool! What's the current status?

[2020-06-09 08:39] jpkrohling commented on #1044
I documented how to run the Jaeger Agent in bare metal some time ago: https://medium.com/jaegertracing/running-jaeger-agent-on-bare-metal-d1fc47d31fab . Is this what you need?

[2020-06-09 08:50] jpkrohling commented on #1048
I can feel your pain, and I'm almost convinced we could have something in the operator for this. Let's just see if other people have the same needs you have, with the same problems in applying a workaround.

To be clear: the currently proposed workaround is to create the ingress/route externally, using whatever you are using to manage your Operator CR. With Helm, it can be an extra pain, but with

[2020-06-09 08:51] jpkrohling commented on #1053
cc @rubenvp8510

[2020-06-09 16:01] christianvogt opened #1085 "v1.18.0 ClusterServiceVersion missing displayName"
v1.18.0 of the ClusterServiceVersion is missing the `displayName` value:
https://github.com/jaegertracing/jaeger-operator/blob/c920e75b425dc22ddffd2dda714eb5a0baf6990f/deploy/olm-catalog/jaeger-operator/1.18.0/jaeger-operator.v1.18.0.clusterserviceversion.yaml#L78-L82

As seen in previous versions:
https://github.com/jaegertracing/jaeger-operator/blob/c920e75b425dc22ddffd2dda714eb5a0baf6990f/deplo

[2020-06-09 16:16] christianvogt commented on #1085
:( https://github.com/jaegertracing/jaeger-operator/pull/987#discussion_r397749939

[2020-06-09 21:27] chlunde commented on #1044
Thanks for the article, it articulates better the purpose of the agent than I had seen earlier.

I haven't had time to work on implementing this yet. I think this is almost a duplicate of #1048, so I will close this issue.

My concerns/thoughts were:
* What is the most common way to implement this? I like to keep our setup close to a "best practice" when possible so having a documented setup which

[2020-06-09 21:27] #1044 closed

[2020-06-09 21:41] chlunde commented on #1042
There were some minor CI issues I fixed now. Please take a look and let me know what you think.

[2020-06-10 11:29] rur0 opened #1086 "arm64 support"
Hello, I am attempting to run jaeger operator on my 8x RPI 4 kubernetes (k3s) cluster running on ubuntu server (64 bit) and I'm getting the fun
```standard_init_linux.go:211: exec user process caused "exec format error"```
error.

Is there a simple way of running jaeger operator on arm64 hardware?

thanks

[2020-06-10 22:45] rur0 commented on #1086
I've added multiarch build support here https://github.com/rur0/jaeger-operator but haven't tested it yet

[2020-06-11 00:20] ilhaan commented on #1048
Being able to expose collector using an ingress would be super helpful for me as well.

Seems like newer versions (>0.30) of nginx-ingress-controller have support for gRPC backends as per [this](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/grpc).

[2020-06-11 03:01] ptescher opened #1087 "[oc] Agent cannot talk to collector"
Using latest operator on okd 4.4 beta5 the agent cannot talk back to the headless collector.

End up with lots of these in the agent:

[code]

This appears to be cause by the fact that the headless service port name is `grpc` but should probably be `tls-grpc` when tls is enabled.

[2020-06-11 12:12] jpkrohling commented on #171
The operator-sdk is finally adding support for admission webhooks, which should allow us to finally work on this in an appropriate manner.

https://github.com/operator-framework/operator-sdk/pull/2729

[2020-06-12 06:15] jdomag commented on #1082
@jpkrohling
Thanks, finally found it

[code]
Now I'm struggling with disabling spark dependecies job.
Is there any documentation for jaeger operator presenting all the available configuration options?
I find it very confusing that values from Jaeger helm chart:
https://github.com/jaegertracing/helm-charts/tree/master/charts/jaeger
Doesn't match value schema of operator. Looking at a Jaeger helm ch

[2020-06-12 15:42] sergeyshaykhullin commented on #750
Can operator start supporting inject in ArgoCD Rollouts? https://argoproj.github.io/argo-rollouts/

[2020-06-12 19:40] btai24 opened #1089 "Noticing weird kubernetes pods being deployed and terminated immediately"
When I use the annotation  "sidecar.jaegertracing.io/inject": "true" , there are extra pods that get created that terminate right away. IN my example below, the two api pods that get created named `api-5955f589d5-fkpfg` and `api-5955f589d5-rhhm6` are created and immediately terminated. the correct replicaset that ends up being persisted and deployed are the first 3 api pods (with ages 1s and 2s).

[2020-06-13 12:42] rur0 commented on #1086
jaeger-operator compiles and runs fine on ARM64, however when the operator pulls the main jaeger image, its getting a 'exec format error.'

@jpkrohling you have mentioned that there are ARM images on the main project; would it be possible to upload them to the docker repo with multiarch support using manifests?

[2020-06-15 08:12] jpkrohling commented on #1086
I think it was done as part of https://github.com/jaegertracing/jaeger/pull/2176 . At a first glance, I couldn't find the images at Docker Hub. @pavolloffay you seem to have reviewed that PR: do you know whether ARM images should be available?

[2020-06-15 08:16] jpkrohling commented on #1089
This is "expected". We inject sidecars by watching existing pods and checking its annotations/labels. The side effect is that we only get to see deployments that exist already. We'll probably move to using an admission webhook (#171), which would address the behavior you described here.

Other than the "annoying" side of this, is this causing problems to you?

[2020-06-15 08:21] jpkrohling commented on #750
As I understood, ArgoCD Rollouts create ReplicaSets. As such, it should work once #171 is there.

[2020-06-15 08:26] jpkrohling commented on #1082
In a regular CR, it can be disabled by setting `.Spec.Storage.Dependencies.Enabled` to false, like:

[code]

Not sure how that translates in the Helm Chart.

[2020-06-15 10:19] pavolloffay commented on #1086
The multiarch images are not built or published.

The https://github.com/jaegertracing/jaeger/pull/2176 added:
* arm64 build to release archive
* refactored build for easier multiarch builds - perhaps we could do the same in the operator.

We should open a new issue in the main repo to publish multiarch images.

[2020-06-15 21:08] habeebshk opened #1090 "can i write jaeger-ingester to an another backend like redis"
Hello, I am trying to install Jaeger onto my Kubernetes cluster and i would like to know if i can direct the Jaeger-ingester spans storage to an another database like Redis instead of Elasticsearch or Cassandra.

[2020-06-16 07:05] pavolloffay commented on #1090
Hi, there is no redis integration at the moment. For the support of other storage backends see https://github.com/jaegertracing/jaeger/issues/638

[2020-06-16 07:05] #1090 closed

[2020-06-16 13:42] MarynaTkachukRing opened #1091 "Apply https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/crds/jaegertracing.io_jaegers_crd.yaml with errors"
Hello!

Tried to install Jaeger operator according to [Getting Started](https://github.com/jaegertracing/jaeger-operator#getting-started) and got error after applying:

[code]

Tried to apply other actions and apply `crds` with flag `--validate=false` - got no address.

[code]

Please, help me with this issue. Thanks!

[2020-06-17 09:43] objectiser opened #1092 "ConfigMap not found when injecting sidecar agent on OpenShift"
With the recent change in #1079, if the sidecar agent is injected in a different namespace to the Jaeger instance, an error is reported, as the CA trusted configmap  is not available in the local namespace.

[2020-06-17 10:27] jdomag commented on #1082
Thanks that did a trick.
Solution for jeager-operator:

[code]

[2020-06-17 10:27] #1082 closed

[2020-06-17 10:59] jpkrohling commented on #1091
What's your Kubernetes version (`$ kubectl version`)?

[2020-06-17 22:08] btai24 commented on #1089
@jpkrohling no problems being caused, that makes sense. I was reading the logs and it said as much but I just wanted to make sure it was expected behavior.

[2020-06-19 11:22] zackzhangkai commented on #1076
I found that it has no business about the upgrade. It seems to be a bug in v1.17.1 and v1.18.0.
I just install a new version, and then I found the selector of service cannot match the the lables of the pods. After I modifed the labe to make them stay in the same, and the endpoint can appear.
The reference discusstion as below:
https://groups.google.com/forum/#!topic/jaeger-tracing/CbiPL10p7Qo

[2020-06-19 11:30] jpkrohling commented on #1076
Could you please try using the jaeger-operator directly, without Helm charts? Based on everything we discussed in the mailing list, the only part which seems to be a problem with the operator is when it doesn't create a new service after deleting the service+pod (like I requested in [this message](https://groups.google.com/d/msg/jaeger-tracing/CbiPL10p7Qo/Sg0nZlNXBwAJ)).

I [tried it](https://grou

[2020-06-19 12:09] zackzhangkai commented on #1076
what do you mean by "using the jaeger-operator directly", I have  not get your point.
what do you expect me to do?

Download the specified codes , and them make ? or anything others?

[2020-06-19 12:19] jpkrohling commented on #1076
Install it following the instructions at: https://www.jaegertracing.io/docs/1.18/operator/#installing-the-operator-on-kubernetes . Not via Helm.

[2020-06-19 12:28] zackzhangkai commented on #1076
This is ok. Then why there is a problem when use chart?

[2020-06-19 14:12] zackzhangkai commented on #1076
https://github.com/jaegertracing/helm-charts/pull/127

[2020-06-20 01:23] zackzhangkai commented on #1076
jaeger-operator-metrics sevice has two endpoints, the port one of them is invalid.
[code]

What's the 8686 port for? It is invalid.

When I create a service by hand to refer to the pod, it has just one endpoint, and which is valid.

[2020-06-22 11:05] jpkrohling commented on #1076
The port `8383` is for metrics related to the operator-sdk and the operator itself. The port 8686 was added recently and seems to have CR-specific metrics. Would you be able to get a sample of what's under that port and report back?

[2020-06-23 15:24] vassilvk opened #1096 "[Question] Custom annotations at the service level"
According to the documentation, custom annotations can be provided at the deployment component level, however it is not clear if and how custom annotations can be set at the service level.
For example, when deploying Jaeger using `production` strategy, the operator creates a `query` service.
Is there a way to set custom annotations for that service object through the `Jaeger` CR?

[2020-06-24 00:00] Saad-Hussain1 opened #1097 "[Question] Supplying TLS files to jaeger-agent sidecar using jaeger-operator"
The jaeger-agent has CLI flags to enable TLS between it and the collector, e.g. `--reporter.grpc.tls.ca`, which requires supplying a file. Since the jaeger-agent sidecar doesn't have any capability to mount volumes when using the jaeger-operator, how would one supply this file?

A follow-up question to that - why doesn't the sidecar read kubernetes configurations under spec.agent? For example, for

[2020-06-24 08:09] pavolloffay opened #1098 "Use Elasticsearch Operator 4.5"
Use ES operator 4.5 in makefile. Note that ES manifests are no longer maintained, hence we should default to deploying the ES operator via OLM.

[2020-06-24 09:39] objectiser commented on #1096
Currently annotations are not configurable for the Service objects. Would you be interested in contributing a PR? The annotations would need to be managed separately from the current set, e.g. `ServiceAnnotations`.

[2020-06-24 09:50] objectiser commented on #1097
@jpkrohling Thoughts? I think the control over the volume/mounts was to prevent definitions at the top level inadvertently being added to the app deployments, however as @Saad-Hussain1 says, if the volumes/mounts are explcitly placed under the agent node, then they are more controlled.

@Saad-Hussain1 In terms of your second point, resources are currently applied but you are correct the other fiel

[2020-06-24 13:16] vassilvk commented on #1096
@objectiser - thanks for the response!

I'm definitely interested in contributing, but my current workload would make that difficult.

For the sake of the discussion and clarity, when you say "separately from the current set, eg ServiceAnnotations", is this what you envision:
[code]

[2020-06-24 15:39] pavolloffay opened #1099 "Restart Jaeger collector and query pods when Elasticsearch secrets are changes"
Collector and query pods have to be restarted when ES secrets are re-generated otherwise Jaeger processes throws errors but they do not restart.

[2020-06-24 20:16] tonyskapunk opened #1101 "Allow TRACE_TTL to be defined in cassandraCreateSchema"
It seems like the it is not possible to override the `TRACE_TTL` in the `cassandraCreateSchema`, it would be very handy to allow to do so since the default is too [low (2 days) ](https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/schema/create.sh#L11).

Seems like it could be possible to add it as another option like in here https://github.com/jaegertracing/jaeger-operato

[2020-06-25 06:34] MarekPokornyOva commented on #1029
I have this same issue. It was helpfull to get understand the problem.
I'd like to make fix for this, unfortunatelly I don't know GO either have access to a test environment.

I guess these might help to make the fix:
1) "github.com/RHsyseng/operator-utils/pkg/utils/openshift"
2) set "service.alpha.openshift.io/serving-cert-secret-name" annotation if either
  a) openshift.CompareOpenShiftVersion()

[2020-06-25 07:51] jpkrohling commented on #1097
Looks like it has been introduced by #1056. @pavolloffay, do you remember if there are any reasons why `.Spec.Agent.JaegerCommonSpec` hasn't been used?

[2020-06-25 07:55] jpkrohling commented on #1096
@vassilvk what's your concrete use case?

I'm sure you have a great reason for that, but may I ask "why"? Services could indeed have the same set of annotations/labels as deployments, can't they?

[2020-06-25 07:57] jpkrohling commented on #1099
Why do they? Aren't the certs mounted on the container and available as soon as the configmap is changed? Jaeger could then watch those files and reopen the connection using the new certs instead?

[2020-06-25 08:10] jpkrohling commented on #1096
Unless we have a specific use case for this, I'd rather have one single set of labels/annotations for everything related to the component (query, ingester, collector, ...)

[2020-06-25 08:45] objectiser commented on #1096
Ok, I guess that will keep the CR simpler.

[2020-06-25 11:01] Saad-Hussain1 commented on #1097
My main problem is that at the moment, it seems I am unable to supply the files needed (certs/keys) to the agent in order to enable TLS between the agent and collector (e.g. for arg `--reporter.grpc.tls.ca`). The only way I can think of doing this is through volumeMounts but I don't see how I can do it in this case. If there is a way to do this and I'm missing something, please do let me know.

Ot

[2020-06-25 12:30] pavolloffay commented on #1099
That is also a possible solution although it seems to be more difficult to implement. All client/server implementation would have to watch for changes and appropriately reinitialize connections.

[2020-06-25 20:05] vassilvk commented on #1096
@jpkrohling - my use case has to do with my environment.

I am running a controller which listens to k8s and automatically registers k8s services with a Consul instance running on the same cluster.

There is a long list of downstream services which revolve around that Consul instance - one of them is a reverse proxy which dynamically routes traffic to services registered with Consul.

The k8s => C

[2020-06-26 02:51] Saad-Hussain1 commented on #1018
@objectiser I also need this functionality and created https://github.com/jaegertracing/jaeger-operator/pull/1103 for this.

I keep running into this error with `make ensure-generate-is-noop` during the PR "basic-checks" though:
[code]

The command seems to work fine for me locally:
[code]

Would you happen to know what I might be missing?

[2020-06-26 08:01] jpkrohling commented on #1018
I think this has to do with the `GOPATH`. Could you please try unsetting `GOROOT` and `GOPATH`? You might need to run `make install-tools` afterwards, and use the newly installed `controller-gen`. For faster feedback, you can issue the following command directly:

[code]

Once that is done, check the changes with `git diff`: the only changes should be your new field, like this:

https://github.com

[2020-06-26 09:44] basch255 opened #1104 "secure query component with a sidecar"
Requirement:
The query (UI) component needs to be secured. Permissionmanagement is required.

Problem:
Jaeger-Operator does not provide a solution to inject a sidecar for the query component over the jaeger crd.

Proposal:
Implement some sort of additional configuration options for the jaeger crd to be able to inject a sidecar to the query component.

An idea is to expand the jaeger crd like this:

[2020-06-26 14:12] Saad-Hussain1 commented on #1018
Ah okay, that worked, thanks!

Let me know what might be needed to get this PR reviewed: https://github.com/jaegertracing/jaeger-operator/pull/1103

[2020-06-26 19:19] Althea01 opened #1106 "Jaeger Service not showing in Jaeger UI"
I followed the documentation and can view the Jaeger UI according to this

NAME             CLASS    HOSTS   ADDRESS          PORTS   AGE
simplest-query   <none>   *       192.168.99.100   80      21h

But when I was compiling the code that exports traces to the Jaeger UI, I'm not seeing any traces.

Originally, I was setting up UI with docker run, and I haven't changed any code except that I'm no

[2020-06-27 03:36] Catorpilor opened #1107 "Remote Sampling Not working when split agent and collector definition in two files."
Everything works fine when define `agent` and `collector` in one file.
[code]
However we just want to schedule `collector&query` pods  use `affinity` to specified nodes. The previous definition file not working because it also schedule the `agent` to the specified nodes.
So we use two files just follow the [example](https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/agent

[2020-06-29 08:21] jpkrohling commented on #1107
I don't think this will actually work, and I'm surprised you have a `DaemonSet` once you apply your second YAML (the one with the collector). The operator should be removing it ;-)

We have only one CR, and that is to specify a whole Jaeger instance, including collector, query and agent (among others). When one of those components are missing from the CR, the defaults are applied.

Concrete to you

[2020-06-29 08:22] jpkrohling commented on #1107
Feel free to reopen if I misunderstood the problem description or if you have any further questions.

[2020-06-29 08:22] #1107 closed

[2020-06-29 08:27] jpkrohling commented on #1106
If you open the Jaeger UI and browse it a bit, do you see the traces from the "jaeger-query" service? If so, your Jaeger installation should be good to go. Is your application running in the same Kubernetes cluster? If so, it needs to have a sidecar with the Jaeger agent, or your Jaeger client (as part of your application) needs to be pointed to the jaeger-collector.

If your application is runnin

[2020-06-29 08:42] jpkrohling commented on #1104
Agree that this is needed. I was stuck on this for a while due to some bugs in Keycloak and it's nice that you got it working! I left a comment in the PR about the implementation, but besides that, we need some documentation as well. For instance:

1. what are the requirements to have it working? Keycloak Operator + Keycloak instance?
1. is there any specific configuration required? Do you have a

[2020-06-29 08:53] jpkrohling commented on #1096
Sort of. My concern is that we'll never be able to provide for 100% of the cases, and every new use case we provide for comes with a new complexity for everyone (new property in the CR, documentation, tests, maintenance, ...). For some use cases, I do believe that it's better to manage the service outside of the realm of the operator, either manually or via Helm/templating engine.

For this specif

[2020-06-29 08:56] jpkrohling commented on #1099
Only the client, I guess -- if the server is restarting, the collector will store the spans in memory and will attempt to persist it at a later time. This way, there's a chance that no spans would be lost. If we just kill the pods (there's no restart for pods), there's a higher change that data will be lost.

[2020-06-29 11:09] jpkrohling commented on #1097
What's a Jaeger internal volume? If a user specifies a volume as part of the Jaeger CR, it should surely be propagated to the agent's sidecar, no ?

[2020-06-29 11:11] Saad-Hussain1 commented on #1097
Hm so let me ask my main question again because I hope I'm not missing something - is there a way to supply files to the jaeger-agent when it's deployed as a sidecar using the jaeger-operator? For example if trying to enable TLS between the agent and collector, the CLI flag `--reporter.grpc.tls.ca` requires a file with a CA cert.

The only way I can think of is through volumes/volume mounts, but t

[2020-06-29 11:22] tux-o-matic commented on #1053
I experience something similar while running the Jaeger Operator v 1.17.3 in OCP 4.3. If a Pod with the Jaeger sidecar also happens to have the Istio sidecar.
Even with gRPC configured to use TLS on the collector and injected sidecar, as mentioned in #959, I see:
[code]
But if I remove *spec.template.metadata.annotations sidecar.istio.io/inject: 'true'* from my Deployment then I no longer see erro

[2020-06-29 11:24] jpkrohling commented on #1097
@Saad-Hussain1: +1. My previous question was for @pavolloffay. Unless he had other concerns in mind, your solution sounds good to me.

[2020-06-29 11:40] Saad-Hussain1 commented on #1097
Oh haha, didn't see your reply when I messaged.

Maybe I can share my guess regarding your question though?

I believe "Jaeger internal volumes" refers to volumes that are defined under the `spec` in a Jaeger strategy yaml, as opposed to those that are defined under `spec.<component>`.

According to https://www.jaegertracing.io/docs/1.18/operator/#finer-grained-configuration,
"When a common defini

[2020-06-29 11:53] pavolloffay commented on #1097
You are definitely right, there should be a way to add certs for the agent's reporter and that is supported via the common spec at the moment.  In the PR #1056 I was rather conservative and added only volumes that I know are required.

[2020-06-29 11:54] Catorpilor commented on #1107
thanks for the reply.
I should have read [this](https://www.jaegertracing.io/docs/1.18/operator/#finer-grained-configuration) more carefully.

When a common definition (for all Jaeger components) is required, it is defined under the spec node. When the definition relates to **an individual component, it is placed under the spec/<component> node**.

[2020-06-29 13:50] objectiser commented on #1053
@tux-o-matic I think this sounds like a separate issue - nothing to do with sidecar injected agent flags not being updated on upgrade. Could you create a separate issue?

[2020-06-29 16:05] Althea01 commented on #1106
Yes, I can see the traces from the "jaeger-query" service. My application is currently running outside the Kubernetes cluster, and I have tried to expose the collector but I think I'm doing it in the wrong way, can you give me more insight on how to expose the collector?

[2020-06-29 21:15] vassilvk commented on #1096
@jpkrohling - yes, that would definitely work.

That's the first thing I tried, but unfortunately custom annotations are not propagated down to services (regardless of which strategy is used).

In addition, the [documentation](https://www.jaegertracing.io/docs/1.18/operator/) seems to be explicit about this.
In section **Understanding Custom Resource Definitions**, the comment about the custom ann

[2020-06-30 09:38] objectiser opened #1108 "Enable health check port to be supplied as CLI flag"
Currently the Jaeger backend components have their own health check ports. The OpenTelemetry Collector based images use port `13133`.

Until the operator is switched over fully to use the new container images (and health check port), it would be useful to support an operator CLI flag that can override the collector and ingester health check ports, to use the OTel Col one when the OTel Col based im

[2020-06-30 11:34] pavolloffay commented on #1108
Is this necessary? The same can be achieved by overriding the HC port in the OTEL config. We already advise users to do that https://www.jaegertracing.io/docs/1.18/opentelemetry/#jaeger-operator

[2020-06-30 14:03] objectiser commented on #1108
It would be useful when the otel-collector based images are supplied via CLI flags - so that the user does not need to be aware of these specific details.

[2020-07-01 01:28] Catorpilor opened #1109 "CRD Validation Failed when add custom configMap volume"
[code]
`kubectl apply xxx` got `The Jaeger "simple-prod" is invalid: type: Required value`. However remove the `items` it works.

`kubectl version`
[code]

[2020-07-01 12:50] objectiser commented on #1030
Fixed in #1037

[2020-07-01 12:50] #1030 closed

[2020-07-02 09:36] jpkrohling commented on #1106
This ingress is for the Jaeger Query (UI). You'll need an ingress for the Collector (14250), and then either point your agent to the collector (`--reporter.grpc.host-port`), assuming that you have an agent running close to your application.

[2020-07-02 13:36] jpkrohling commented on #1108
Is the operator able to automatically detect if the operand is based on OpenTelemetry Collector?

[2020-07-02 13:53] jpkrohling commented on #1109
Are you able to get your CR applied to a recent `minikube` instance? The following CR works for me, and I do see the volume added to the pod:

[code]

And here's my ConfigMap definition:

[code]

[2020-07-02 14:40] Catorpilor commented on #1109
I'll try it on minikube a.s.a.p.
I'm not familiar with the validation part. For test purpose I've  removed all the required parts of `key,path` in crd's `configMap` definitions,but nothing changed still got the same error.

[2020-07-02 21:47] syck40 commented on #1069
Hi, I just hit this issue as well.  Is it correct that currently there is no way to do the following?

Without clusterrole binding, I am unable to have 1 clusterwide Operator that will create Jaeger backend in foo namespace and bar namespace as well as inject Jaeger sidecars in those namespaces due to the inability to set WATCH_NAMESPACE = "foo, bar"?

Thanks.

[2020-07-03 02:58] huikang opened #1112 "How do I enable the .jaeger-compact.server-host-port 6831 for the collector in streaming strategy"
Hi, is there any example to enable port 6831 in the streaming strategy? And is it possible to expose the collector service through "NodePort" as I'd like to have some external applications send trace to the collector? Thanks.

In general, I feel the documentation for configuring the operator is inadequate. Thanks.

[2020-07-03 03:17] Catorpilor commented on #1109
i tested on minikube with the latest kubernetes-version(v1.18.3) and it works. Then i use the same version as eks used (v1.16.8) got the same error.
[code]

[2020-07-03 07:18] jpkrohling commented on #1109
@objectiser did we come to a conclusion about how many versions back we want to support? Current, Current-1 and Current-2?

[2020-07-03 07:25] jpkrohling commented on #1112
The port 6831 is a UDP port that is opened by the agent, not by the collector. The agent is typically deployed as either a sidecar to your pod, or as a daemonset. In general, flags can be set via the `Options` properties:

[code]

Besides this specific part, what could we improve in the [official documentation](https://www.jaegertracing.io/docs/1.18/operator/)? We would love your PRs (here's the s

[2020-07-03 07:25] jpkrohling commented on #1112
Feel free to reopen if you still have questions.

[2020-07-03 07:25] #1112 closed

[2020-07-03 07:31] jpkrohling commented on #1069
You can leave the `WATCH_NAMESPACE` env var empty, and it will act as a cluster-wide operator, requiring the cluster role bindings. Listing the namespaces in `WATCH_NAMESPACE` isn't a widely used pattern, but it should be fixed in the next version of the operator.

[2020-07-03 07:39] objectiser commented on #1109
@jpkrohling The decision was to support n-2 - although were possible we would like to remain compatible with as many versions as possible. Unfortunately this hasn't been added to the docs yet, so that needs to be done - if you could do a PR for that.

[2020-07-03 07:45] jpkrohling commented on #1109
Created https://github.com/jaegertracing/documentation/pull/417

[2020-07-03 07:58] jpkrohling opened #1113 "Test failing -- TestElasticSearchSuite/TestSparkDependenciesES"
The test `TestElasticSearchSuite/TestSparkDependenciesES` as part of `es-otel` is currently failing, affecting #1111, #1110 and #1105. The `master` branch is currently also failing after #1102 was merged, but I don't think that PR is the cause, as the failures on the mentioned PRs were happening before that got merged.

cc @kevinearls

[2020-07-03 08:01] #1092 closed

[2020-07-03 08:35] jpkrohling commented on #1109
@Catorpilor, I was able to reproduce the problem with `minikube --kubernetes-version=v1.16.8`, but I'm still unable to figure out what's going on.

I'll add this to my queue, but if you do find a workaround or if you are able to come up with a PR, let me know!

[2020-07-03 09:58] Catorpilor commented on #1109
@jpkrohling as i mentioned earlier

i'm also confused about the validation part.
I may have found a workaround for this problem(kudos to the `prometheus-operator`).

The related `configMap` definitions
[code]
i changed key from `sampling` to `sampling.json`.

`allInOne` configuration
[code]
Add it works!!
[code]
`kubectl version`
[code]

[2020-07-03 10:05] moolen commented on #1113
I'm looking into this. intel so far:

It boils down to a combination of `TestSparkDependenciesES` and `TestSimpleProd`. If i comment out `TestSimpleProd` everything works just fine.
The `TestSimpleProd` seems to leave some ES indices behind which confuse `TestSparkDependenciesES`. If we remove the indices everything works just fine.
This assumes that the `TestSimpleProd` runs before `TestSparkDepe

[2020-07-03 11:48] kevinearls commented on #1113
I've been able to reproduce this, and you can see repeated stack traces in the log for the test-spark-deps-spark-dependencies cron job here:

https://gist.github.com/kevinearls/400f6d2920fbd16629078a8fcd7c0a7d

@jpkrohling  unfortunately I probably won't have much time to look at this today.  It might also be better to have @pavolloffay  take a look if he's free.  @moolen  Thanks for the tip, alth

[2020-07-03 11:53] #1101 closed

[2020-07-03 11:56] jpkrohling commented on #1109
Interesting! I got kinda puzzled, because the same definition did work for `Deployment` resources but not for `Jaeger`:

[code]

So, there seems to be a way to get the original definition to work as well. In any case, your workaround seems valid to me.

Do you think there's anything we can do at this operator's side?

[2020-07-03 14:52] huikang commented on #1112
@jpkrohling , thanks for the clarification. So I will deploy a jaeger agent to accept trace at its port 6831. The second question in the post is about exposing the port of the collector of streaming strategy.

I am asking because the application and agent are deployed out of the k8s cluster, so I need to expose port 14250 of the collector so that it can accept traces from the agent. Is there a way

[2020-07-03 15:20] jpkrohling commented on #1112
The typical way of achieving this is by creating an `Ingress` resource that will expose the `-collector` service.

[2020-07-03 15:33] Catorpilor commented on #1109
For now i think a more specific documentation  would be fine.
For managed kubernetes it's always one or two versions behind.

[2020-07-03 15:37] syck40 commented on #1069
Ya, I am trying to avoid cluster role, thank you guys.

[2020-07-03 15:44] huikang commented on #1112
My understanding is that Ingress operates above layer 4. So will that work with the exposing port 14250 for the traffic between agent and collecot?

BTW, could you please take a look at another question at https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/jaeger-tracing/rNU1xKVZuGI/2yX1RfT1AgAJ

Thanks.

[2020-07-03 15:55] sergeyshaykhullin opened #1114 "ServiceMonitor is dropped by prometheus"
I installed jaeger using helm-chart operator+jaeger using crds

ServiceMonitor:
[code]

Jaeger metrics service:
[code]

Jaeger instance created by operator
[code]

But prometheus dropped metrics:
![image](https://user-images.githubusercontent.com/46970457/86484289-930e8800-bd5e-11ea-8a54-6b3b487fa00b.png)

![image](https://user-images.githubusercontent.com/46970457/86484322-a7eb1b80-bd5e-11ea-8f5c

[2020-07-04 14:37] moolen commented on #1113
I dug a little and found this in elasticsearch:

[code]

This seems to be caused when returning `nil` in this function (introduced ~3d ago in https://github.com/jaegertracing/jaeger/pull/2295):
https://github.com/jaegertracing/jaeger/blob/master/cmd/opentelemetry/app/exporter/elasticsearchexporter/esmodeltranslator/modeltranslator.go#L134

[2020-07-04 18:13] yurishkuro commented on #1113
what about `tags` and `logs`, can they be null?

[2020-07-06 09:45] jpkrohling commented on #1109
@Catorpilor would you be able to open a PR against our documentation, with your suggestion on how to avoid getting people in the same situation you were?

[2020-07-06 09:47] jpkrohling commented on #1112
It should. But open another issue if you see a concrete problem.

[2020-07-06 09:49] jpkrohling commented on #1114
Are you able to determine the root cause?

[2020-07-06 12:41] jpkrohling opened #1116 "Sidecar injection cannot find appropriate Jaeger instance"
When adding a Jaeger instance to the current namespace, I would expect the Operator to use that instance when injecting sidecars into deployments. Instead, the operator reports that it cannot find a suitable instance:

[code]

Workaround: changing the annotation value from `true` to `simplest` makes it correctly inject the sidecar:

[code]

Environment:
[code]

cc @rubenvp8510

[2020-07-06 12:55] jpkrohling opened #1117 "Port names should start with `https`/`http`"
When debugging a problem related to TLS and Istio, I found that:

1. the `grpc` port should be prefixed with `http` in the default case
1. all services with `http` prefix should instead be `https` when TLS is enabled

https://github.com/jaegertracing/jaeger-operator/blob/9cde42a9ccc291545de8cfaf7a9dbebf6b15af12/pkg/service/collector.go#L66

Without this prefix, this is seen in the logs:

[code]

W

[2020-07-06 13:09] jpkrohling opened #1118 "gRPC TLS options not working in latest OpenShift"
When deploying Jaeger in the latest OpenShift, and possibly when Istio sidecar is being added to the pod, the set of gRPC options are currently not able to establish a connection between the agent and collector.

The following changes are required:

1. The host-port option has to include at least `svc` in the hostname: `dns:///%s.%s.svc:14250` instead of `dns:///%s.%s:14250`:

https://github.com/j

[2020-07-06 14:40] Catorpilor commented on #1109
ok, i’ll open a PR tomorrow.

[2020-07-06 15:09] Saad-Hussain1 commented on #1018
For anyone that comes across this in the future, see here: https://github.com/jaegertracing/documentation/pull/416/files

Namely,

[2020-07-06 18:00] sergeyshaykhullin commented on #1114
@jpkrohling I tried to curl metrics service, but it is not respond, i checked selector and endpoints, its fine. Also in pod definition ports are defined, but metrics is not collecting

[2020-07-07 06:12] #1113 closed

[2020-07-07 11:28] jpkrohling commented on #1114
@sergeyshaykhullin are you able to get the YAMLs again, properly formatted? It's very hard to understand them with the current formatting. I'm wondering why it shows the target port as 16686 for the Operator Metrics. From what I remember, we create a service monitor only for the ports from the operator itself (not for the operands), and the ports to get the metrics from should be 8383/8686.

[2020-07-07 11:30] #1118 closed

[2020-07-07 11:31] jpkrohling commented on #1018
Should this be closed? The PR has been merged, I believe we have all cases covered to get this working.

[2020-07-07 11:31] #1018 closed

[2020-07-07 11:34] jpkrohling commented on #1109
I'm closing this in favor of the docs issue.

[2020-07-07 11:34] #1109 closed

[2020-07-07 14:23] #1117 closed

[2020-07-07 19:56] Aneurysm9 commented on #990
I'll second this.  I'm trying to expose the query service through an ALB ingress and that expects the service to be of type NodePort.

[2020-07-07 20:03] rubenvp8510 commented on #1116
Is this happening when you have two operators, one on `openshift-operators `namespace and other in the same namespace as your application? If there is only one operator this issue still happens?

[2020-07-08 07:52] jpkrohling commented on #990
Alright, I think there's enough people who care about this. The best approach, IMO, is to create a new service. Who'd be the first to send a PR with a proposal?

Basically, this here has to be changed to return a list of services, which will include the current service + the new service:
https://github.com/jaegertracing/jaeger-operator/blob/1dce126cdc3aa0f1582d53a6d62fcb359c34586c/pkg/service/quer

[2020-07-08 07:57] jpkrohling commented on #1116
It happens also when there's only one operator. It happened to me when testing [TRACING-1300](https://issues.redhat.com/browse/TRACING-1300), but I'm sure it can be reproduced in simpler settings as well.

[2020-07-08 09:21] jpkrohling opened #1123 "Create and mount CA bundle via ConfigMap"
Starting from OpenShift 4.6, the CA bundle will only be available via ConfigMap, as described here:
https://docs.openshift.com/container-platform/4.4/authentication/certificates/service-serving-certificate.html#add-service-certificate-configmap_service-serving-certificate

We currently use this when setting the flag `reporter.grpc.tls.ca`: all-in-one deployment, daemonset agent and sidecar agent.

[2020-07-08 20:54] sergeyshaykhullin commented on #1114
@jpkrohling Sorry, i fixed yaml formatting

[2020-07-09 08:15] #1123 closed

[2020-07-09 08:46] jpkrohling commented on #1114
Far better, thanks! I did some further cleaning, to remove the managed fields. I'll add this to my queue, but I need a few days to try it out. If you do have an idea on what's going on and what the fix might be, let me know, as it would help expedite a solution ;-)

[2020-07-09 09:14] sergeyshaykhullin commented on #1114
I've found, that ServiceMonitor is pointing not to Jaeger, but to Jaeger-operator:
[code]

and inside jaeger-operator port 8383 exposed, but 8686 is not

[2020-07-09 09:23] jpkrohling opened #1125 "Upgrade Operator SDK to v0.18.2"

[2020-07-09 15:28] jpkrohling commented on #1114
Could you please check what are the labels in the service monitor right after Helm provisions it? If it contains the label `app.kubernetes.io/managed-by: jaeger-operator`, then the Jaeger Operator will attempt to manage it. Otherwise, the Jaeger Operator should keep its hand off of this service.

[2020-07-09 16:59] sergeyshaykhullin commented on #1114
@jpkrohling This is strange, no required labels exists. But i found `manager` field
![image](https://user-images.githubusercontent.com/46970457/87068720-ab7b1880-c21e-11ea-873f-8b8726bfb2fa.png)

[2020-07-09 21:55] ptescher commented on #1087
Fixed by https://github.com/jaegertracing/jaeger-operator/pull/1122

[2020-07-09 21:55] #1087 closed

[2020-07-10 07:41] jpkrohling commented on #1087
@ptescher, thanks for reporting this issue! For some reason, it didn't appear in my radar, otherwise, we could have fixed it earlier.

[2020-07-10 07:54] jpkrohling commented on #1114
That's interesting, I would expect this code to only create a service monitor if none exists, not to update an existing one:

https://github.com/jaegertracing/jaeger-operator/blob/11a063f97c97560f1a811d95478828b68c7aeba1/pkg/cmd/start/bootstrap.go#L379-L397

[2020-07-10 09:54] jpkrohling opened #1128 "Command line flags are not being handled properly"
From @kevinearls:

The same is true for all the flags within the "AddFlags" function.

[2020-07-10 09:57] jpkrohling commented on #1128
This was probably introduced by #1046.

[2020-07-10 11:15] jpkrohling commented on #1128
Basically, we are getting affected by this: https://github.com/spf13/viper/issues/233 after the `generate` command has been introduced.

[2020-07-10 11:38] jpkrohling opened #1130 "Permissions for apps/deployments is repeated"
Context: https://github.com/jaegertracing/jaeger-operator/pull/1126#discussion_r452766704

[2020-07-10 12:46] schewara opened #1131 "jaeger-spark-dependencies - OutOfMemoryError: Java heap space"
Hi Everyone

Currently I'm seeing some weird behaviour that all the Jobs are failing with OutOfMemoryErrors while the resource Limits never seem to be reached.

The max Memory Usage from the Pod is `~ 515MB` before it crashes

Therefore I was wondering if any of you ran into this issue and how to solve it.
In addition, I was also wondering if there is a way to set explicit Memory settings (-Xms an

[2020-07-10 13:28] #1125 closed

[2020-07-10 17:27] Althea01 commented on #1106
I have my application running with kubernetes and agent injected as a sidecar with the application. I can see through logs that the services for jaeger query, collector and agent are running correctly but when I do kubectl get service jaeger-query I'm not able to see an external ip, is that related to ingress? Or is it related to me using allInOne Image.

[2020-07-10 20:08] Althea01 commented on #1106
I'm currently using the allInOne image and within my code, and both my application and my jaeger components run in the same namespace in my kubernetes cluster. Originally when I'm deploying the components locally, I'm setting the thriftEndpoint as "http://127.0.0.1:14268/api/traces" but now I think I need to change this? Also, I'm not able to see the external ip for the load balancer. Can someone

[2020-07-13 08:21] #1128 closed

[2020-07-13 13:20] jpkrohling commented on #1106
If everything is inside a Kubernetes cluster, you might want to use the [Jaeger Operator](https://github.com/jaegertracing/jaeger-operator/) to provision a Jaeger instance, and deploy the [business-application-injected-sidecar.yaml](https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/business-application-injected-sidecar.yaml) example. Once you have that running, you can r

[2020-07-13 16:02] Althea01 commented on #1106
So I don't need to change the thriftEndpoint?

[2020-07-14 07:27] jpkrohling commented on #1106
Sorry, I should have been explicit here: yes, this is likely wrong.  If you are making your client send spans directly to the collector, it should be the collector's address, whatever that might be...

[2020-07-14 07:28] jpkrohling commented on #1106
I'm closing this, as it looks like the problem is with your networking setup and client configuration. You can still ask questions, and feel free to reopen if you think you are hitting a bug somewhere.

[2020-07-14 07:28] #1106 closed

[2020-07-15 13:02] OferPRTZ commented on #1048
Here as well! super important for us, its just big pain to use different charts just for that tiny ingress.

Thanks!

[2020-07-15 21:31] Althea01 commented on #1106
If I have a jaeger agent as a sidecar for an application in namespace A, and I have the jaeger collector in namespace B, is there something else I need to do to connect the two?

[2020-07-16 08:08] jpkrohling commented on #1106
If pods from namespace A can talk to pods in namespace B, then all you need to do is configure your sidecar with the collector's hostname via `--reporter.grpc.host-port`...

I'll suggest this one more, as it could help you with your next questions: you might want to use the [Jaeger Operator](https://github.com/jaegertracing/jaeger-operator/) to provision a Jaeger instance, and deploy the [business

[2020-07-17 07:26] btai24 commented on #1089
does this look normal, I feel like I should only have 3 Terminating pods because the replica set only is a replica set of 3:
[code]

[2020-07-17 08:14] chlunde opened #1134 "`make install-tools` installs latest tools (wrong version)"
If I run `make install-tools` and `make generate`, I get a different version of controller-gen (and problably more):
[code]
...
[code]

[code]

[2020-07-17 08:17] jpkrohling commented on #1089
This does *not* look normal. I would also expect to have only one update to the replicaset, causing 6 pods to be started (3 old, 3 new). You have 11, which looks strange, as I would expect multiples of 3.

cc @rubenvp8510 could you take a look at this one?
cc @objectiser it might be time for us to start working on admission webhooks, as I think the Operator SDK/kubebuilder has support for it now.

[2020-07-17 08:20] chlunde commented on #1134
# `tools.go`
[code]

Maybe they can be added here to get them into go.mod, but the operator-sdk might have a reference how to solve this issue.

[2020-07-17 08:28] jpkrohling commented on #1134
If we add it to `tools.go`, it gets incorporated into the binary, which isn't something we want. Can't we add the version to the `go install` package argument?

https://github.com/jaegertracing/jaeger-operator/blob/82b197b68bfde3f8d0f550e11ac926f055313dc5/Makefile#L316-L324

[2020-07-17 08:38] chlunde commented on #1134
I don't think it will be part of the binary because of the +tools build tag trick, but I have never used it.

Once tried to solve this issue by adding @vX.Y.Z behind every line, but there are some issues:

* You must use `go get`, not `go install`:
[code]
* `go get` will modify `go.mod`/`go.sum`, so you must cd outside GOPATH *and* outside an existing go module. Also, since you do not have a `go.m

[2020-07-17 08:46] jpkrohling commented on #1134
Oh! I totally missed that. That makes perfect sense now.

[2020-07-17 13:48] defaultcute12 opened #1135 "How to view ingress"
I have created the operator following the guide
https://www.jaegertracing.io/docs/1.18/operator/

allInOne jaeger

[code]

the deployment of my service

[code]

I still cannot access the UI from Kubernetes cluster ?
Is there something I miss
![image](https://user-images.githubusercontent.com/22121023/87792995-f0b5d080-c844-11ea-908e-bbe08ca3fede.png)

[2020-07-17 14:24] jpkrohling commented on #1135
Could you give me the output of `kubectl get ingresses`? Here's how it looks like for me:

[code]

Jaeger is then available under http://192.168.39.111 in my case. If you are running on minikube, make sure you have the `ingress` addon (`$ minikube addons enable ingress`)

[2020-07-17 14:37] defaultcute12 commented on #1135
I am on Kubernetes
I disabled the default ingress
with this one
https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/disable-ingress.yaml

Then I created custom

here is the file:

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: jaeger
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/add-base-url: "true"
    nginx.i

[2020-07-17 14:38] defaultcute12 commented on #1135
`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: jaeger
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/add-base-url: "true"
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
spec:
  tls:
  - hosts:
    - temv-perf-jaeger.moore014.rnd.gic.ericsson.se
  rules:
  - host: temv-perf-jaeger.moore014.rnd.gic.ericsson.se
    http:

[2020-07-17 14:40] defaultcute12 commented on #1135
For simplest I see this
![image](https://user-images.githubusercontent.com/22121023/87798399-40e46100-c84c-11ea-8582-54af6458ccac.png)

Still cannot access

[2020-07-17 14:50] jpkrohling commented on #1135
This might be a bit specific to your network, but here's a couple of things to check:

1. the `simplest-query` might be available under http://10.117.68.174 or http://10.117.68.175
1. The `jaeger` ingress should be available under http://temv-perf-jaeger.moore014.rnd.gic.ericsson.se/tracing/jaeger , but your CR states that the base path is `/jaeger`. You might want to change the ingress path to `/

[2020-07-17 15:15] defaultcute12 commented on #1135
1. I did try both IPs but they timeout
2. Now I changed the file content on your suggestion
`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: jaeger
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/add-base-url: "true"
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /jaeger
spec:

[2020-07-17 15:18] jpkrohling commented on #1135
I'm afraid I can't help you further, as it seems specific to your networking setup. If you can reproduce the problem with a regular `minikube`, I can try to figure out what's going on.

[2020-07-17 15:22] defaultcute12 commented on #1135
yeah Sure
Can you verify ingress and deployment files logically ?
If everything is correct?

[2020-07-17 17:47] btai24 commented on #1089
@jpkrohling thanks for the quick response, something that I was thinking about recently w/ this approach was that my api pods actually consume a lot of cpu on startup. I'm curious if those pods while they are only up for the few seconds before they start terminating are contributing to the cpu pressure I have during deployments on my worker nodes. Has this been brought up before?

[2020-07-17 21:04] defaultcute12 commented on #1135
When I port forward the simplest-query I see it is having spans correctly from the deployed service
The problem is just in the ingress:

`apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: simplest-query
spec:
  tls:
  - hosts:
    - jaeger.moore014.rnd.gic.ericsson.se
  rules:
    - host: jaeger.moore014.rnd.gic.ericsson.se
      http:
        paths:
          - path:

[2020-07-17 21:31] defaultcute12 commented on #1135
It worked, I added
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/add-base-url: "true"
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
    nginx.ingress.kubernetes.io/rewrite-target: /

to annotations in the ingress.

[2020-07-18 18:56] #1135 closed

[2020-07-18 21:17] sergeyshaykhullin commented on #1114
@jpkrohling Any updates?

[2020-07-20 07:28] jpkrohling opened #1137 "Figure out what's wrong with the CI"
The `minikube` step usually takes about a couple of minutes, but it's now getting stuck "forever", eventually getting the job killed due to a timeout somewhere.

The ticket #774139 has been opened with GitHub, but their support isn't the fastest in the world, so, we might need to figure out an alternative.

Currently, the following PRs are affected: #1136, #1133 and #1045.

[2020-07-20 07:34] jpkrohling commented on #1114
Not yet, sorry. I'll try to get a couple of hours this week to try to reproduce/fix this one.

[2020-07-20 07:38] jpkrohling commented on #1135
Nice! Glad to hear you figured this out, and thanks for sharing the solution.

[2020-07-20 07:42] kevinearls commented on #1137
@jpkrohling I saw this over the weekend: https://twitter.com/githubstatus/status/1284405893891870720

[2020-07-20 07:45] jpkrohling commented on #1137
Seems to have been fixed on Jul 18, 2020 - 11:02 UTC , and we are still experiencing this. I started #1136 again this morning and it seems to be stuck again.

[2020-07-20 07:54] jpkrohling commented on #1089
This hasn't been brought before, but I can see that this might indeed be the case, especially if there's not enough CPU available to start the new pods, so that the old ones get terminated only once they stabilize and the CPU usage goes down.

As a temporary workaround, you might want to add an init container that just waits a couple of seconds. This way, your "old" pod has a higher change of bein

[2020-07-21 21:02] clementlesne opened #1141 "Use an HTTP(S) proxy before all Elasticsearch requests"
Hello,

As a context, I'm working on OpenShift, and I'm trying to install the Jaeger Operator. My pods have no direct access to internet, and they need to pass across an internet proxy to communicate with others networks.

**How can I configure Jaeger with an HTTP/HTTPS proxy ?** I've been looking across all documentation and project issues but I haven't found this answer.

Usually one environment

[2020-07-21 21:15] btai24 commented on #1089
Yes of course, we can test it when its ready

[2020-07-22 07:20] daufinsyd opened #1143 "jaeger operator fails to pull image for 1.17.5"
Hello

On openshift, the jaeger operator tried to update itself 1.17.5 provided by Red Hat but is failing to do so because of the following error:

`Failed to pull image "registry.redhat.io/distributed-tracing/jaeger-rhel7-operator@sha256:3eeed89119c20386161bc464136ccdeb98e99b2c40883f70d6cd2e6c742c0a50": rpc error: code = Unknown desc = Error reading manifest sha256:3eeed89119c20386161bc464136ccde

[2020-07-22 07:32] objectiser commented on #1143
@daufinsyd Thanks for reporting this - the issue is being addressed. However, Red Hat operator issues should be raised through the Red Hat support channels as this is the open source community project repo.

[2020-07-22 07:32] #1143 closed

[2020-07-22 13:26] jpkrohling commented on #1137
Apparently, things started working again...

[2020-07-28 06:32] CVVDN-S opened #1145 "How to skip hostname verification from server for wss"
Hi, I'm trying wss server support with the help of libwebsocket with self signed certificate. These are the configurations done at server side.
[code]
It works good with firefox, with any ssl certificates.  But in IE **Network Error 12038, The host name in the certificate is invalid or does not match** seems to appear since my device have static ips which can change according to user.
If an static

[2020-07-28 10:24] jpkrohling commented on #1145
I'm a bit confused: we don't use web sockets at all in Jaeger. Are you sure you opened this against the right project?

[2020-07-28 10:26] CVVDN-S commented on #1145
Sorry about the confusion in the project.

[2020-07-28 10:26] #1145 closed

[2020-07-29 03:23] rubenvp8510 commented on #1116
@jpkrohling Sorry my mistake, not two operators, but two instances of jaeger in different namespaces, I was able to reproduce it creating first one instance in other namespace, and then other jaeger instance in the same namespace of the app.

Those are the steps I followed:
[code]

I sent a PR that should fixes this case, also added a couple of tests.

[2020-07-29 07:50] jpkrohling commented on #1116
I'll try again, but IIRC, this happened also when there was only one Jaeger instance in the cluster.

[2020-07-29 11:24] #1116 closed

[2020-07-29 12:58] objectiser commented on #428
This has now been implemented in #856 (for collector) and #1006 (for ingester). Feel free to reopen if something is missing.

[2020-07-29 12:58] #428 closed

[2020-07-29 17:07] vfarafontov commented on #1048
Leaving a ping here as well; exact use same use-case. K8s Cluster is running the Jaeger Operator, there are some services outside of the cluster that need to talk to the collector.

[2020-07-30 09:30] sundar-cs opened #1147 "Jaeger Operator with Cassandra create Schema"
I want to try Jaeger streaming strategy with Cassandra (it's running well with Elastic) but to start with I was trying the basic samples based on https://www.jaegertracing.io/docs/1.18/operator/

[code]

Also specifying above with createSchema options:

[code]

In both cases the schema never gets created and the logs show this repeatedly every second forever:

[code]

I have Jaeger Operator, also

[2020-07-30 11:49] sundar-cs commented on #1147
An additional observation is that I was able to get the above along with the Streaming strategy to work well with an existing Cassandra instance.
(the only changes from above pasted yaml are: strategy as streaming, added enabled: false for the schema, and gave existing datacenter and keyspace)

However it would be nice to get the automatic schema creation too to work. So please do let me know.

[2020-07-30 14:48] jpkrohling commented on #1147
Could you please provide details about your Cassandra installation? The operator expects a Cassandra cluster to exist backed by a service named `cassandra` (it won't provision one for you). This is what the operator expects to exist:

[code]

[2020-07-30 15:21] sundar-cs commented on #1147
Thank you.
Yes in my 2nd approach above I do have the Cassandra cluster backed by service named cassandra.

admin@ip-172-20-40-150:~$ kubectl get svc cassandra
NAME        TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)                                        AGE
cassandra   ClusterIP   None         <none>        7000/TCP,7001/TCP,7199/TCP,9042/TCP,9160/TCP   73m

As per the Jaeger documentation lin

[2020-07-30 15:29] jpkrohling commented on #1147
The keyspace should be created automatically:
https://github.com/jaegertracing/jaeger/blob/master/plugin/storage/cassandra/schema/v001.cql.tmpl#L6

But the error you are seeing seems to be that the create-schema job can't connect to Cassandra at all:

[code]

IIRC, the create-schema image is using a base image that allows you to enter it. I'd recommend doing a `kubectl exec` to enter the pod/conta

[2020-07-30 16:16] sundar-cs commented on #1147
Thank you for your remarks and the links for the scripts.
Yes looks like it's functioning as designed i.e. in my case (#1 above) I did Not have an existing Cassandra cluster.
(whereas in #2 above I had a cluster and gave the datacenter and keyspace names it had, to the Jaeger YAML)

So it explains why I saw the failure (Cassandra cluster did not exist and it will Not get created automatically).
Th

[2020-07-31 07:48] jpkrohling commented on #1147
Glad you got it working.

[2020-07-31 07:48] #1147 closed

[2020-07-31 09:58] #1076 closed

[2020-08-01 14:39] kfirfer opened #1148 "Jaeger operator: set env var JAEGER_DISABLED"
Hello

Suggesting to be able to provide the env var "JAEGER_DISABLED" to the query component through jaeger operator

[2020-08-04 08:20] kakaNo1 opened #1149 "Why is there no agent service in SVC?"
![image](https://user-images.githubusercontent.com/33709305/89270676-47594200-d66e-11ea-9c93-c8245e4e1ffd.png)

My profile:
[code]

[2020-08-06 09:59] kakaNo1 commented on #882
But how to open the port of agent above TCP/UDP?

[2020-08-06 10:05] kakaNo1 commented on #1149
![image](https://user-images.githubusercontent.com/33709305/89519647-46abe180-d80f-11ea-9bf0-03f1cc3f23a1.png)

I have noticed that the author has replied to similar questions before, but how does the port configured by the agent open up?

[2020-08-06 10:31] basch255 commented on #1029
Hi,
topic is important for me too.
Could someone fix this?

[2020-08-07 04:29] #1149 closed

[2020-08-07 09:38] hukaixuan commented on #1091
same issue here:
`kubectl create -n observability -f crds/jaegertracing.io_jaegers_crd.yaml
error: error validating "crds/jaegertracing.io_jaegers_crd.yaml": error validating data: [ValidationError(CustomResourceDefinition.spec.validation.openAPIV3Schema.properties.spec.properties.agent): unknown field "nullable" in io.k8s.apiextensions-apiserver.pkg.apis.apiextensions.v1beta1.JSONSchemaProps, Val

[2020-08-07 09:53] sundar-cs opened #1150 "Jaeger Operator Generate manifest feature always creates same pod/file"
This is about the "(experimental) Generate Kubernetes manifest file" feature documented in the official link https://github.com/jaegertracing/jaeger-operator.

What is the role of the standard input passed into "docker run ... generate" as no matter which file is supplied as input, the pod getting generated appears to be same as the Operator's master image tag ?

(1)
_curl https://raw.githubuserco

[2020-08-10 06:59] sundar-cs opened #1152 "Load Balancer Service created thru Dashboard for Jaeger instance vanishes"
This is on a basic KOPS cluster (with aws as the backend). Same behavior is observed on EKS too.

(1)
Create Jaeger Operator as per:
https://github.com/jaegertracing/jaeger-operator

(2)
Create Jaeger Instance thru "simplest.yaml" as described in above link

(3)
Change "type: ClusterIP" to "type: LoadBalancer" for "simplest-query" service thru Kubernetes Dashboard and verify that it's accessible t

[2020-08-10 12:35] jpkrohling commented on #1148
Would you be interested in providing a pull-request?

[2020-08-10 12:41] jpkrohling commented on #882
@kakaNo1 not sure I understand your question.

[2020-08-10 12:43] jpkrohling commented on #1029
@basch255 are you also using OpenShift 3.x?

[2020-08-10 12:46] jpkrohling commented on #1149
I see now what you mean. The agent ports are fixed, so, your application would have to discover only the IP:

https://github.com/jaegertracing/jaeger-operator/blob/11a063f97c97560f1a811d95478828b68c7aeba1/pkg/deployment/agent.go#L61-L65

[2020-08-10 12:49] jpkrohling commented on #1091
@hukaixuan, your server is 1.12.4, which is 6 versions behind the latest (1.18 at this point). Would you be able to try on a newer version?

[2020-08-10 12:50] jpkrohling commented on #1150
This is probably related to #1129, which hasn't been released yet. Are you able to try this out from the current master?

[2020-08-10 13:01] #716 closed

[2020-08-10 14:29] sundar-cs commented on #1150
Thank you.

Can you please elaborate because the above commands were executed from the master ?

I just did these as below and the output files are all same (i.e. bypassed kubectl and just redirected to a file).

curl https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/examples/simplest.yaml | docker run --rm jaegertracing/jaeger-operator:master generate > out1

curl http

[2020-08-10 14:44] jpkrohling commented on #1152
The operator will reconcile the expected with the observed states for objects that are managed by the operator. Changing a service that was provisioned by the operator will make the operator revert your manual changes once it reconciles again.

You can accomplish the same by using a different service name and removing the fields telling the operator that it's responsible for managing the object (o

[2020-08-10 14:44] jpkrohling commented on #1152
I'm closing, as I believe this has been answered, but feel free to reopen if that's not the case.

[2020-08-10 14:44] #1152 closed

[2020-08-10 14:50] jpkrohling commented on #1150
It might be the case that the images aren't up to date. It does work using a local version of the code for me:

[code]

And here are the links to the resulting manifests:
* [simplest](https://paste.centos.org/view/1c317fcf)
* [simple-prod](https://paste.centos.org/view/328d66e5)

[2020-08-10 15:05] jpkrohling commented on #1150
I just tested it with the latest operator image from Dockerhub and it also works:

[code]

[2020-08-10 15:57] sundar-cs commented on #1150
Yes with the above commands thru podman it works well.
Earlier with docker I did have the latest image of master and in addition had also tried removing it so that it gets it afresh which it did, but still had not made any diff.

Could it be docker versus podman issue ? If so will the documentation be updated ?

Thanks so much.

[2020-08-11 05:50] basch255 commented on #1029
@jpkrohling Recently yes.

[2020-08-11 07:50] jpkrohling commented on #1029
As far as I know, OpenShift 3.x isn't receiving updates anymore, you are really encouraged to migrate to 4.x. You may want to try to set the `platform` to `kubernetes` explicitly, which should prevent the operator from attempting to provision the TLS certs.

[2020-08-11 07:54] jpkrohling commented on #1150
`podman` should act exactly the same as `docker`. I use it as it's the tool that works best for me on my workstation (Fedora 32), but the documentation should be accurate for both `podman` and `docker`. I'm closing this issue, but if you feel like further action is needed on this, feel free to reopen it.

[2020-08-11 08:07] jpkrohling commented on #1029
I'm closing this, as we don't want OpenShift 3.x specific code in the operator:

1. it's an ancient version by now and people should really be encouraged to move to newer versions
1. having OpenShift 3.x support in the code might give the false impression that we expect it to work there. If it works, it's only incidental
1. code is the easy part: making sure it keeps working is harder. For instanc

[2020-08-11 08:07] #1029 closed

[2020-08-11 08:44] sundar-cs commented on #1150
Thank you.
I'm re-opening it just for a final observation based on your comment above that podman and docker should behave identically.

That alerted me to the fact that the documentation is missing the "i" flag (interactive) which is the crux of this somewhat confusing issue.
This explains why stdin had no effect, which in fact was the very 1st question above:
(What is the role of the standard in

[2020-08-11 09:03] jpkrohling commented on #1150
Great catch, @sundar-cs ! Would you like to open a PR to fix the readme?

[2020-08-11 10:13] sundar-cs commented on #1150
Yes sure if you would like, please let me know the procedure as my first time

[2020-08-11 12:01] jpkrohling commented on #1150
If you are familiar with Git/GitHub, the process is quite simple:

1. Fork this repository
1. Clone your repository, add this one here as `upstream`: `git remote add upstream https://github.com/jaegertracing/jaeger-operator`
1. Create a new work branch: `git checkout -b sundar-cs/issue1150`
1. Do your changes
1. Commit and sign it off: `git commit -sam "Your commit message"`
1. Push your branch: `

[2020-08-11 13:51] sundar-cs commented on #1150
Thank you.
I have generated the pull request, please confirm if you're able to see it.

[2020-08-11 14:52] #1150 closed

[2020-08-11 14:52] jpkrohling commented on #1150
Thank you for your contribution, @sundar-cs!

[2020-08-11 17:40] surlyengineer commented on #1058
I'm having the same problem with a docker-for-desktop getting started with the all-in-one deployment.

[2020-08-11 18:39] sergeyshaykhullin commented on #1114
;c

[2020-08-12 07:34] jpkrohling commented on #1058
@surlyengineer, could you please share the `jaeger-operator` logs?

[code]

[2020-08-12 08:09] BlackTX commented on #1029
Openshift 3.11 has maintenance support till June 2022 (1), that is why corporations choose to stay with it instead of migration to 4.X with 9 months support and not all important features migrated yet.

I don't understand why annotation cannot have a simple condition there.

(1) https://access.redhat.com/support/policy/updates/openshift_noncurrent

[2020-08-12 08:11] jpkrohling commented on #1114
It's currently on my queue, I should be able to look into it during the next couple weeks.

[2020-08-12 08:15] jpkrohling commented on #1029
Interesting, didn't know that. I stand corrected then.

Would you be willing to send a PR with this change + e2e tests + a change to the CI to make sure this feature doesn't break in the future? If so, we could certainly consider incorporating it!

[2020-08-12 09:34] #629 closed

[2020-08-13 10:49] daroga0002 opened #1155 "Kafka customization"
I am using following definition of operator:
[code]

and this is creating me Kafka using Strizmi operator. Question which I have are there any parameters which can be influence current strimzi created object, especially volume size used by Kafka and zookeeper which currently create me PVC 100GB each (so totally Kafka takes 600GB).

I tried to look but didnt find any docs about this

[2020-08-13 10:51] daroga0002 commented on #1155
found this https://github.com/jaegertracing/jaeger-operator/blob/c95d177a36102f18feef452983e84bc12a680cd7/pkg/kafka/streaming.go#L28 so I am assuming those values are hardcoded and not customizable?

[2020-08-13 11:22] objectiser commented on #1155
@daroga0002 Correct, these are no currently customizable.

Best approach for now would be to setup your kafka cluster separately, and reference the broker with the appropriate options.

@jpkrohling Were there specific reasons why we didn't want to make this field configurable?

[2020-08-13 12:34] davelosert commented on #1069
@jpkrohling : If I see it correctly, the SDK was updated recently - so this should be working now, right? (currently can't try it myself)

[2020-08-13 12:43] jpkrohling commented on #1069
It *should* indeed work with master at least. Not sure we released a version with this fix already though.

[2020-08-13 13:12] surlyengineer commented on #1058
Sure - coming back to this this morning has been weird because we have:

[code]

After I first noticed the issue (note the timestamp from two days ago).  The `kubectl get jaegers` command works just fine but no pods are created in response.  The logs are silent until the next day I start seeing:

[code]

[2020-08-13 15:39] jpkrohling opened #1156 "Create ServiceMonitor for operands"
The Jaeger Operator should be creating service monitor objects for operands, so that they can be used out of the box with Prometheus instances managed by the Prometheus Operator.

Context: #1114

[2020-08-13 15:40] jpkrohling commented on #1114
I couldn't reproduce your situation, but I did find a couple of road bumps and a small bug, but doesn't seem related to your report. Your report seem to be a duplicate of #1067, which also has the Helm chart in the mix.

Basically, let's differentiate between the three possible targets:

1. Operator metrics -- metrics about the Jaeger Operator runtime (port 8383)
1. CR metrics -- currently almost

[2020-08-13 15:43] jpkrohling commented on #1114
@sergeyshaykhullin I'm closing this as I don't think it's a bug in the operator, but let me know if there's any clarification needed. I opened an issue with the Helm Charts repo.

[2020-08-13 15:43] #1114 closed

[2020-08-13 16:03] jpkrohling commented on #1058
Looks like your cluster is out of resources? The operator creates a `deployment` only, which then causes a replica set to be created, which in turn creates the actual pod.

Could you please check whether you have deployments and replica sets for the expected pods? Like:

[code]

If you see a replica set but not a pod, check the replica's status object for the causes. If you don't even see a deploy

[2020-08-13 16:09] surlyengineer commented on #1058
I don't even see the deployment.
[code]

[2020-08-16 06:58] #1002 closed

[2020-08-16 06:58] #989 closed

[2020-08-17 10:10] jpkrohling commented on #1058
Thanks! That does sound odd. Would you please provide the debug logs? In your [`operator.yaml`](https://github.com/jaegertracing/jaeger-operator/blob/392a3706ffa8ade23713fa8940b7acfbf42a0b92/deploy/operator.yaml#L22), add the following flag to the args:

[code]

[2020-08-17 13:20] surlyengineer commented on #1058
That didn't seem to change the output:

[code]

[2020-08-17 13:30] surlyengineer commented on #1058
One point of curiosity - in the logs there we have `Consider running the operator in a cluster-wide scope for extra features` but I have the cluster roles enabled.  That's a little odd, no?

[2020-08-17 13:45] surlyengineer commented on #1058
Huh - Okay.  Made some progress.  The key seemed to be this line in the README:

Once I did that, it was able to create the query pods and whatnot, but it's creating them in the `default` namespace which seems off.

[2020-08-17 14:43] jpkrohling commented on #1058
@surlyengineer about not changing the output: you might be affected by #1129 , could you try the `master` image? Here's what to expect when you run the Jaeger Operator in the `observability` namespace and created an instance named `simplest` in the same `observability` namespace:

[code]

[2020-08-17 14:47] jpkrohling commented on #1058
Cluster-wide means setting `WATCH_NAMESPACE` to empty, so that it watches all namespaces in the cluster.

If you are creating the Jaeger CR in the `default` namespace, then it will create all the pods/deployments in the `default` namespace. This might explain why you are not seeing any pods: you are creating the CR in a namespace that the operator isn't watching.

[2020-08-17 15:35] surlyengineer commented on #1058
That seems off, though, since CR's aren't namespaced (https://kubernetes.io/docs/reference/access-authn-authz/rbac/#clusterrole-example) right?  Possible I'm missing something obvious though.

[2020-08-17 15:51] surlyengineer commented on #1058
I'll give this a shot this afternoon (US East)

[2020-08-18 02:17] mikelorant opened #1158 "Disable service links to prevent environment variable conflict"
It is common to name the Jaeger agent service `jaeger-agent`. This forces Kubernetes to create an environment variable `JAEGER_AGENT_PORT` as part of the service links. This conflicts with the an internal environmental variable used in the client library.

https://github.com/jaegertracing/jaeger-client-go/blob/704ce2849e9abb8af82edb2a3375e9e163092427/config/config_env.go#L51

This will cause the q

[2020-08-18 02:18] mikelorant commented on #1158
This improvement would fix the following open issue:
https://github.com/jaegertracing/jaeger/issues/1986

[2020-08-18 07:16] jpkrohling commented on #990
I believe this is addressed by #1132, and thus, I'm closing this here. If you think there's still something missing, feel free to reopen.

[2020-08-18 07:16] #990 closed

[2020-08-18 07:18] jpkrohling commented on #1158
TIL! Thank you for this information. Would you be open to sending a PR with this change?

[2020-08-18 07:20] jpkrohling commented on #1058
Not all of them. The one you linked (`ClusterRole`) certainly is, as it's about creating a role that is valid for the whole cluster. Jaeger instances are indeed namespaced, like `Deployment`, `Service`, `Pod`, and other resources, making it easier to protect and isolate them.

[2020-08-18 07:21] jpkrohling commented on #1058
For reference, you may check which custom resources are namespaced and which aren't by looking into the `.Spec.Scope` field. Here's Jaeger's: https://github.com/jaegertracing/jaeger-operator/blob/f443e78e18d14e8e18d9ce2ed162346cf90583ad/deploy/crds/jaegertracing.io_jaegers_crd.yaml#L35

[2020-08-18 08:04] mikelorant commented on #1158
I don't know much about writing Go but I decided to give it a shot. The unit tests are the main challenge for me so it is likely I have made mistakes there. Getting some assistance from my work to verify the code works correctly before I put up a proper pull request but you can see my changes:

https://github.com/jaegertracing/jaeger-operator/compare/master...fairfaxmedia:master

[2020-08-18 10:34] jpkrohling commented on #1158
I left a couple of comments there. You are certainly on track!

[2020-08-18 10:35] mikelorant commented on #1158
Have someone from work helping solving the issues now. Hopefully have this done soon :)

[2020-08-18 10:50] mikelorant commented on #1158
Want to thank @dackroyd for sorting out all the mistakes I made and assisting with resolving the issues you mentioned.

[2020-08-18 11:03] mikelorant commented on #1158
We have an image and will deploy it tomorrow. Are you able to confirm the spec changes required in the operator to set a custom query image?

[2020-08-18 12:30] jpkrohling commented on #1158
Looks very good now! Once you confirm that it works as intended, do send a PR with that change. Not sure what you mean with your question though.

[2020-08-18 12:33] mikelorant commented on #1158
Have just had confirmation that the unit tests pass.

[2020-08-18 23:05] joe-elliott opened #1160 "Remove KUBERNETES_CONFIG default from e2e tests"
I accidentally deployed some tests to actual infrastructure because the default $KUBERNETES_CONFIG points to a common location for a kube config.  Before I ran the tests I had set the more common $KUBECONFIG variable to point to a local k3d cluster assuming that it would be used.

Was I just being careless? or does it make sense to force the user to set this value before running tests?

https://gi

[2020-08-19 08:18] #1158 closed

[2020-08-19 08:23] jpkrohling commented on #1160
How about we change `KUBERNETES_CONFIG` to `KUBECONFIG`?  I'm sure there was a reason to name it differently from the standard, but we can at least try.

[2020-08-19 09:21] jpkrohling commented on #1137
Closing, as it's now working for quite some time.

[2020-08-19 09:21] #1137 closed

[2020-08-19 12:48] Hashfyre opened #1162 "Allow storage.options.cassandra.password to have an `existingSecret` reference to pick up cassandra password from"
HI,

There is ability to connect Cassandra storage with username and password through jaeger-operator, but there is no way to use a kubernetes secret for the password field and the Jaeger CR would need to have it in plaintext. This is an issue since we would store the Jaeger CR definition in git.

Even with templating through helm/kustomize, it'd mean the operator needs to store the secret somewhe

[2020-08-19 14:49] jpkrohling commented on #1162
You can mount a secret into env vars: https://kubernetes.io/docs/concepts/configuration/secret/#using-secrets-as-environment-variables

Wouldn't that work for you?

[2020-08-19 15:11] Hashfyre commented on #1162
Secret mounting would not work for the Jaeger CustomResource.
[code]
Secret mounting works on Standard K8S GVKs, not for CRs

[2020-08-19 17:08] rrichardson opened #1163 "Spark dependencies job failing (and constantly being re-created) [cassandra]"
I have jaeger operator running (quite well, I might add) on a k8s cluster with a small, 3 node cassandra cluster.
Initial setup works just fine. It is handling the load of 100% sampling in our cluster.

However, for some reason, the operator seems to think it needs to keep re-running the spark-dependencies job, and it keeps failing.   I don't know if it's ever succeeded, but I regularly delete the

[2020-08-19 17:38] joe-elliott commented on #1160
Even though it's convenient to keep it pointed at something my instinct is to always force the user to explicitly set it to avoid surprises.

Having said that it might just be my fault for letting my default shell have access to real infra.  This is not the first time I've made this mistake :).

[2020-08-20 09:46] jpkrohling commented on #1162
Sorry, you are absolutely correct, but we actually do support building env vars from secrets in a different way:

[Excerpt](https://www.jaegertracing.io/docs/1.18/operator/#external-elasticsearch) from the docs:
[code]

The secret would then contain the env vars and values to be passed down to the collector/query/ingester. You can generate the secret like this:

[code]

While this shows the usage

[2020-08-20 09:50] jpkrohling commented on #1163
@rubenvp8510 are you able to look into this?

[2020-08-20 09:54] objectiser commented on #1108
Closing, as only an issue during the transition - so not worth adding CLI flag.

[2020-08-20 09:54] #1108 closed

[2020-08-20 09:56] jpkrohling commented on #1160
Guess what will be the first thing I'll do when we require users to always set an env var in order to run the tests :-)

[code]

No, I think you are not the first, and I'm not sure this is a problem that happens only with our operator. Better would be if we could determine whether the target cluster is local or remote. If we assume that `minikube` is being used, we could run `minikube update-conte

[2020-08-20 13:00] jpkrohling opened #1164 "gRPC flags shouldn't be added if host-port is specified by the CR"
Given the following CR:

[code]

The Jaeger Operator should *not* be adding the other inferred gRPC options. Using the CR above, the following is the set of options passed to the binary:

[code]

A workaround is to manually set those flags in the CR.

[2020-08-21 05:12] rubenvp8510 commented on #1163
I wasn't able to reproduce this issue.

 The spark job error is an indicator for some reason Cassandra is closing the connection  it could be that the Cassandra cluster is in bad state (which I doubt due the fact that jaeger is working property) or may be just a misconfiguration issue. It would be interesting to know the reason, Could you attach your Cassandra logs? That could help to figure out w

[2020-08-21 08:08] jpkrohling commented on #1163
@rubenvp8510: do we have any logic in the code that would trigger this? What happen on the reconciliation of the job object once the initial setup has been made?

@rrichardson logs would really be helpful to determine why they are failing

[2020-08-21 08:22] Hashfyre commented on #1162
Yes, this should work. I'll try and submit a docs patch. Thanks.

[2020-08-22 00:04] SS30723 opened #1165 "Operation cannot be fulfilled on deployments.apps"
Hi, I am still getting this error 'Operation cannot be fulfilled on deployments.apps'. I have used auto side car injection as given in the example, deploy/examples/business-application-injected-sidecar.yaml.
I see the UI is up and running and I am able to view jaeger-query service, but the calls related to my app is not coming up on the UI. Is it because of the above error?

[2020-08-24 07:38] jpkrohling commented on #1163
@rrichardson, how long is the job taking until it fails? Could it be that the connection is being closed due to some timeout? I suppose you don't see the dependency graph in the Jaeger UI, as the job is failing, but could you please double-check this is indeed the case?

[2020-08-24 08:08] jpkrohling commented on #1165
I just tried it out, and it seems to work for me. My environment (created using minikube):

[code]

Here are the steps I used (the first ones are the same as the readme):
[code]

Once the operator is ready:

[code]

And once the reconciliation is done (or when the Jaeger instance is ready):

[code]

Once the deployment with the business application is ready:

[code]

The following should be seen i

[2020-08-24 10:33] chgl opened #1166 "Allow configuring the securityContext of the CassandraCreateSchema job"
Currently, the CassandraCreateSchema job does not take the securityContext specified in Jaeger.spec.securityContext into account: https://github.com/jaegertracing/jaeger-operator/blob/9cde42a9ccc291545de8cfaf7a9dbebf6b15af12/pkg/storage/cassandra_dependencies.go#L129

This causes the job not to start when running in a cluster with very restrictive PSPs.

I think this could be resolved quite easily

[2020-08-24 10:37] jpkrohling commented on #1166
@chgl go for it! If you need any assistance, let us know.

[2020-08-24 12:44] rubenvp8510 commented on #1163
From Cassandra logs, I see some GC pauses, so it not surprised me that this is because some timeout.  Is there a way to increase the timeout in job? May be we can try to see if that fixes the issue.

[2020-08-24 16:12] SS30723 commented on #1165
Thanks for replying. I have deployed this in a kubernetes cluster that already has ingress. So I disabled ingress while creating jaeger CRD (ingress --> enabled --> false). I am able to see the jaeger UI, but I dont see the application traffic coming in.
Couple of questions
1. Should I do a port forward? what is the use of it?because I have defined the UI in kubernetes cluster ingress and I am abl

[2020-08-25 08:40] jpkrohling commented on #1165
1. the port-forward to the business application was just for development purposes. In a real cluster, you'd have your application exposed via a proper ingress.
2. those are `operations`, the service is likely `jaeger-query`. Those are traces related to the Jaeger UI itself.

At this point, all I can offer you is the troubleshooting guide: https://www.jaegertracing.io/docs/1.18/troubleshooting/ . I

[2020-08-25 12:24] saivishalvangala commented on #764
Hi @christine-gong  can you tell me how it got solved

[2020-08-25 12:35] #1166 closed

[2020-08-25 23:56] christine-gong commented on #764
@saivishalvangala in envoy i did something on the route level like this:
[code]
Does istio support similar config?

[2020-08-26 15:34] BcTpe4HbIu commented on #1091
@jpkrohling same problem for 1.13.5. Didn't find any info on required version for operator... Is there any?

[2020-08-27 08:01] jpkrohling commented on #1091
@BcTpe4HbIu I think we have not formalized it yet (follow #583 for more on that), but I can tell you that we actively aim to support at least the last two minor versions of Kubernetes, which are 1.18 and 1.19 right now. Given that 1.19 has just been released, I would expect the operator to work without issues on 1.17.

[2020-08-27 08:25] BcTpe4HbIu commented on #1091
@jpkrohling Thanks. Operator seems to work on 1.13, just need to remove `nullable` from crd :man_shrugging:

[2020-08-30 19:29] os-virtualretail commented on #1135
Not sure it  is a thing with jaeger 1.9.x but i solved it with following ( i use https://services.domain.com/tracing/ )

[code]

and my debug yaml file is:

[code]

[2020-08-31 15:15] kehao95 opened #1174 "Getting Started: Got "error while evaluating the ingress spec" for simplest deployment"
I followed the Getting Started to create an simplest deployment:
## what I did
(tried helm install then give up)
[code]
Then followed the Jaeger Operator doc
[code]
## what happened

No address assigned to Ingress `simplest-query`
[code]
Got warning for evaluating the ingress spec

[code]

---
## Debug Info

### Current Objects Details

<details>
<summary>Ingress</summary>
<p>

`k get ingress -n o

[2020-08-31 15:23] jpkrohling commented on #1174
You seem to be using GKE. Do you have the same problems with `minikube`?

[2020-08-31 15:53] kehao95 commented on #1174
Yes I'm using GKE. But I haven't test `minikube` yet.

[2020-08-31 16:09] kehao95 commented on #1174
Ok  I've tried `minikube`  with `--kubernetes-version=v1.16.13`
[code]

then checked my ingress, still got no address assigned.
[code]
But this time I see no events for the ingress
[code]

[2020-09-01 07:52] jpkrohling commented on #1174
Do have an actual ingress controller available? For minikube, you need to either start it with `--addons=ingress`, or `minikube addons enable ingress` if you have a cluster running already. Not sure how it works for GKE, though.

[2020-09-01 14:50] jpkrohling opened #1175 "DaemonSet started before deployment can't get collector IPs"
Currently, we have daemonsets being created before services and deployments:

https://github.com/jaegertracing/jaeger-operator/blob/6451f060aa759ff9cd82b39371c666b12ffcd2e2/pkg/controller/jaeger/jaeger_controller.go#L321-L334

Depending on the timing, the daemonset's pod might be up and running before the deployment gets even created, so that the headless service won't get a chance to get its IP f

[2020-09-01 14:50] jpkrohling commented on #1175
cc @kevinearls

[2020-09-01 18:10] JessieAMorris commented on #171
Any word on this? We're getting weird interactions with the jaeger sidecar injector and our LimitRange for default resources. Overall the current injector doesn't seem to work very well and we're running into issues with it.

[2020-09-01 18:39] jpkrohling commented on #171
I'll see if we can improve the current injector, to make it more reliable. It would help us immensely if you could describe concretely what you are facing.

The sidecar injection via mutating webhooks has been implemented in the opentelemetry-operator, which was mainly done to test waters and see if we can apply the same technique here. The good news is that it got merged today (https://github.com

[2020-09-02 13:54] MarianZoll opened #1179 "Configure external Cassandra instance on cloud platform"
**Bug description**
To increase operational efficiency, we do want to host Cassandra as a storage backend outside the cluster on Azure. Cassandra on Azure does provide a host, port, username and password which should be everything that we need to create a connection for Jaeger.

Unfortunately, it seems like Jaeger does not longer take the `CQLSH_PORT` into consideration. Instead, the host is trans

[2020-09-02 14:10] jpkrohling commented on #1179
Are you able to configure Jaeger on your local machine (bare metal or Docker) to connect to your target Cassandra cluster? If so, it should also be possible with the operator. If it's a limitation in Jaeger itself, I'll move this issue to that repository.

[2020-09-03 08:15] MarianZoll commented on #1179
So after some additional investigation I guess it is kind of both. So I am able to connect to the external cassandra using the following Helm installation on AKS:
`helm install jaeger -n istio-system jaegertracing/jaeger -f helm-yamls/jaeger-values.yml`

where the values are:
[code]

This spins up the required pods, but the connection is failing due to the SSL connection creation I guess:
[code]

[2020-09-03 08:34] jpkrohling commented on #1179
This is only about the create-schema job, right? If so, you'll probably need something like this to obtain the port:

https://github.com/jaegertracing/jaeger-operator/blob/6accbc2e1bd143bfea760d0c19e44529246e9981/pkg/storage/cassandra_dependencies.go#L39-L43

And then, set the env var to the job, like:

https://github.com/jaegertracing/jaeger-operator/blob/6accbc2e1bd143bfea760d0c19e44529246e9981/

[2020-09-03 11:00] MarianZoll commented on #1179
Ok we will create a PR for it. Keep you posted.

[2020-09-04 15:31] AlexZalyalowa opened #1181 "Manually installed agent doesn't send spans to collector"
Hello.
I've installed jaeger on minikebe
[code]
operator was started in debug mode. Jseger was launched via AllInOne strategy

[code]

Then I have installed jaeger-agent manually in frontend's deployment
[code]

There is agent's logs
[code]

metrics are accessible from frontend's pod  via curl http://jaeger-collector-headless:14269/metrics, but there is no any sighn of frontend service in it
[code

[2020-09-04 15:35] jpkrohling commented on #1181
Is `gcr.io/google-samples/gb-frontend` instrumented? Looks like your agent did connect to the collector, but apparently, it didn't receive spans from the application, as we would see log entries if it had received spans.

[2020-09-04 15:47] AlexZalyalowa commented on #1181
Sorry, I didn't get your question? What do you mean by instrumented image?
Frontent service is a part of k8s sample application https://kubernetes.io/docs/tutorials/stateless-application/guestbook/ and it's accessible from the browser
![Screenshot from 2020-09-04 18-45-40](https://user-images.githubusercontent.com/36841251/92258126-052a5700-eedf-11ea-9a59-aa55e3236d86.png)

[2020-09-04 18:58] pather87 commented on #1164
Is this already fixed? When i install the above CR, i only get the following options passed to the binary:
`
    - --query.ui-config=/etc/config/ui.json
    - --reporter.grpc.host-port=opentelemetrycollector-sample-collector-headless.default.svc:14250
    - --reporter.type=grpc
    - --sampling.strategies-file=/etc/jaeger/sampling/sampling.json
`

[2020-09-04 19:10] omerfsen commented on #496
I had the same issue with 1.18 (right now for helm there is 1.18 but for other installation types there is 1.19) I have installed 1.18 helm chart and then manually changed image of jager-ingester and jaeger-query deployment and it magically worked ;)  after using  1.19.0 image. By the way i only used  **ca:**

like:

[code]

[2020-09-04 20:19] pather87 commented on #1156
I will work on this

[2020-09-07 08:51] jpkrohling commented on #1181
Jaeger does not intercept or automatically instrument applications. I recommend taking a look at a tracing tutorial, like this: https://github.com/yurishkuro/opentracing-tutorial

[2020-09-07 08:51] #1181 closed

[2020-09-07 08:54] jpkrohling commented on #1164
I think this is indeed OpenShift-specific. If you want to work on this, you'll probably need `crc` to provision an OpenShift instance.

[2020-09-07 08:55] jpkrohling commented on #1156
It's yours! Let us know if you need any information.

[2020-09-07 12:30] jpkrohling commented on #906
@rubenvp8510 has this been fixed?

[2020-09-07 12:30] jpkrohling commented on #1165
@SS30723 were your questions answered? Can this be closed?

[2020-09-07 12:32] jpkrohling commented on #1089
@rubenvp8510 could you check whether this is still happening?

[2020-09-07 12:32] jpkrohling commented on #1089
By the way: we are *not* moving to the Operator SDK 0.19.x soon, as it's a really disruptive update.

[2020-09-07 13:48] rubenvp8510 commented on #906
IIRC yes, I'll verify and let you know so we can close this.

[2020-09-07 13:57] #1175 closed

[2020-09-07 15:59] forumsheth opened #1183 "APM-Server integration with Jaeger-agent: Unable to connect with APM-server on Elasticsearch"
Hi All,
I am trying to connect my apm-server with existing jaeger agent on my Kubernetes cluster.  I have changed the backend to Elasticsearch in my jaeger configuration. And jaeger is able to connect to Elasticsearch as the logs shows: "Elasticsearch detected".
Both the apm-server and the jaeger agent are running and indices are getting created for both in elastisearch. But I am unable to set up

[2020-09-07 19:28] adinhodovic opened #1184 "Configure the JaegerOperator to use the OpenTelemetry collector with the Opencensus receiver enabled"
How do I configure the JaegerOperator to use the OpenTelemetry collector with the OpenCensus & otlp receivers enabled? And how would I then open ports to the pod and additionally extend the default service to add that port using the operator?

I've tried the following for the first part:
[code]
Getting errors on startup:
[code]
If I pass the first obstacle how would I then add additional container

[2020-09-08 08:48] jpkrohling commented on #1183
This is a question for the Kibana folks. If there's anything you need on our side to get a better support for Kibana, let us know but for now, I'm closing this one.

[2020-09-08 08:48] #1183 closed

[2020-09-08 08:49] jpkrohling commented on #1184
@pavolloffay what do you think? IMO, we should *not* support other receivers/exporters in the OpenTelemetry-based Jaeger components: the fact that we are based on OpenTelemetry is just an implementation detail.

I would instead suggest people to use OpenTelemetry proper in case they need access to other receivers/processors/exporters.

[2020-09-08 20:57] chgl opened #1186 "Allow for configuring the injected sidecar container's securityContext"
Currently, the securityContext of the injected jaeger-agent container can not be configured, causing the agent container to fail with "container has runAsNonRoot and image will run as root" when running in a cluster with strict PSPs.

We could reuse the securityContext from the common jaeger spec (as in #1166) or add a a securityContext element to the Spec.Agent type.

In addition, a lot of headac

[2020-09-09 07:39] jpkrohling commented on #1186
If there's a security context for individual containers in a pod, the Jaeger Agent container should indeed use the security context from the Jaeger's CR. The fix would be somewhere around here: https://github.com/jaegertracing/jaeger-operator/blob/d94166385a596da40db494769175a675cae7ad23/pkg/inject/sidecar.go#L230-L279

And here's the Dockerfile for Jaeger Agent: https://github.com/jaegertracing/j

[2020-09-09 08:16] alexanderccc opened #1187 "Rollover job created even when set to false"
We are trying to implement ILM with the Elasticsearch index used by jaeger. All tests were successful and it seems to work without any issue. The only problem is that we require a custom template (additional specification of the ILM policy) to be assigned to the bootstrapped index.

Because elasticsearch will handle the rollover we no longer require the rollover job so we set it to false in the op

[2020-09-09 08:24] jpkrohling commented on #1187
@pavolloffay would you like to take this one?

[2020-09-09 09:15] chgl commented on #1186
Sounds good! I'll create a PR to add the securityContext and will also propose to update the Dockerfile.

[2020-09-09 23:53] btai24 opened #1189 "I've uninstalled jaeger operator in one of my clusters, but jaeger agent pods are still being injected"
The cluster has none of the jaeger operator installed but the jaeger agent pods are still being injected on new deploys. Any ideas why this is happening? FWIW, my deployment manifest still has `"sidecar.jaegertracing.io/inject": "true"` but I assumed by removing the jaeger operator that the injection wouldn't happen anymore.

[code]

[2020-09-10 08:13] jpkrohling commented on #1189
I'm intrigued as well. If the operator isn't there, what's injecting the sidecar? If you are using a relatively new Kubernetes, you can check the `managedFields` part, to see which component added the sidecar. This is how it looks like for sidecar added by the `jaeger-operator-local` on a deployment.

[code]

[2020-09-10 11:16] jpkrohling commented on #1155
We have a flag to the operator binary, making these lower, suitable for testing (`--kafka-provisioning-minimal`). The reason we don't support customization of the Kafka CR is that we don't want to replicate all their options in our CR. Rather, if you a custom Kafka CR is needed, then it has to be provisioned separately.

[2020-09-10 11:16] #1155 closed

[2020-09-10 11:21] jpkrohling commented on #1141
I don't think we ever even thought about this case. Unless there's something at the go-level, I'd say that we don't currently support that. I'm leaving this open for two reasons:

1. to gauge interest in this feature from other people
1. perhaps there is indeed a go-level option that we can use and I don't know about?

[2020-09-10 11:22] jpkrohling commented on #1134
@chlunde would you like to send a PR for this?

[2020-09-10 11:26] jpkrohling commented on #1131
Does sound like improper Xmx/Xms. Have you changed any options at all, like setting the limits/requests?

Yes: https://github.com/jaegertracing/jaeger-operator/blob/f6067194b9787e1ca2cf226f70925b723784d397/pkg/apis/jaegertracing/v1/jaeger_types.go#L498

Basically:

[code]

[2020-09-10 11:31] chlunde commented on #1134
@jpkrohling sorry I need to prioritize right now :) But in general I would say switching between two operator-sdk tools is painful because when they rely on tool X and Y in different versions in $PATH

[2020-09-10 11:33] jpkrohling commented on #1104
Given the announcement on Louketo, I think we should now rethink the solution. @chlunde reported that OAuth2 Proxy can be used with Keycloak, given the appropriate things are in place.

I would prefer a generic, no-config solution, even if it means that users have to take care of a few plumbing by themselves first (like creating the required secrets).

[2020-09-10 11:34] jpkrohling commented on #1098
Not sure OLM is something we can require for people on plain Kubernetes. I do see it as an addon for minikube, but not sure people actually use it...

[2020-09-10 11:38] jpkrohling commented on #1043
@chlunde could you check whether #1079 would cover your use case? Or do you still need something else?

[2020-09-10 11:38] chlunde commented on #1104
attaching a working KeycloakClient, for reference:

[code]

[2020-09-10 11:39] jpkrohling commented on #1021
Should I assign this to you, @kevinearls ?

[2020-09-10 11:41] jpkrohling commented on #999
@linjmeyer can this be closed? Is the PR that @pavolloffay linked above sufficient for your use case?

[2020-09-10 11:48] chlunde commented on #1043
Looks good, I *think* so. I don't have time to verify now, but I think this issue can be closed.

[2020-09-10 11:50] jpkrohling commented on #1043
Alright, feel free to reopen if there's something missing.

[2020-09-10 11:50] #1043 closed

[2020-09-10 12:03] kevinearls commented on #1021
@jpkrohling Sure

[2020-09-10 20:07] chgl opened #1191 "Add 'w3c' to the injected JAEGER_PROPAGATION environment variable"
In https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/inject/sidecar.go#L308 the default propagation formats are set to `jaeger` and `b3`. Many OpenTelemetry clients have adopted the recent W3C TraceContext as a default propagation format.

It would be great if `w3c` were added to this list by default.

[2020-09-11 07:46] jpkrohling commented on #1191
Sure, sounds good. Do you know what happens when a propagation format isn't recognized? Would the client typically crash, or will it just ignore? The Java client will not crash, but will log a message:

https://github.com/jaegertracing/jaeger-client-java/blob/568ab68ec2ac5e9e811b1d0d76f752f3242d45d3/jaeger-core/src/main/java/io/jaegertracing/Configuration.java#L458

[2020-09-11 12:27] chgl commented on #1191
The

The C# client does the same: https://github.com/jaegertracing/jaeger-client-csharp/blob/4e97b9ada2a9b30fdc266482f5841f1e5e161d59/src/Jaeger.Core/Configuration.cs#L477

According to https://www.jaegertracing.io/docs/1.19/client-features/ these are the only clients that can be officially configured via that variable. There's definitely still a potential risk, however as the documentation states

[2020-09-11 13:06] jpkrohling commented on #1191
Go ahead then :-)

[2020-09-14 06:47] schewara commented on #1131
@jpkrohling Thanks for the update
I finally found the `javaOpts` setting and it somehow improves the situation and probably have to tweak the settings some more,
as it seems, the memory consumption is very unpredictable and some jobs finish within 10min and other take forever.

[code]
I guess I need to dig a bit deeper into the raw data to figure out what's happening here.

But thanks a lot and I

[2020-09-14 06:47] #1131 closed

[2020-09-14 08:09] jpkrohling commented on #1131
Once you figure this out, do let us know if there's something to improve in the job.

[2020-09-14 08:11] #1191 closed

[2020-09-14 10:05] chandu9333 opened #1193 "What is the best way to install Jaeger operator when we have multiple products/microservices to handle in an environment"
What is the best way to install Jaeger operator when we have multiple products/microservices to handle in GKE cluster

Do we need to install operator for each namespace or install globally and watch all namespaces (different products namespaces) in that GKE cluster.

[2020-09-14 11:41] jpkrohling commented on #1193
Depends on your tenancy/security model, but typically, one operator per cluster is fine. You can then have one Jaeger instance per namespace if you need, or one per set of namespaces, or even only one Jaeger instance for the whole cluster as well.

[2020-09-14 11:41] #1193 closed

[2020-09-14 13:44] pavolloffay commented on #1098
The ES operator used by Jaeger is only supported on OpenShift.

At the moment `deploy-es-operator` target in the Makefile uses plain k8s manifest files to deploy the ES operator with all the objects https://github.com/jaegertracing/jaeger-operator/blob/master/Makefile#L188. In the version 4.5 this is not supported anymore and we should use the OLM to provision ES operator.

[2020-09-14 13:53] chandu9333 opened #1194 "Do we have any constraints that we should know or its like a standard installtion?"

[2020-09-14 13:58] jpkrohling commented on #1194
What kind of constraints do you have in mind? As long as you have a Kubernetes-compatible cluster running, the operator should run just fine in it...

[2020-09-14 13:58] #1194 closed

[2020-09-14 14:17] chandu9333 commented on #1194
Let say, we want to install Jaeger operator and Jaeger instance in one namespace and I have a product/application which is running in other namespace which has its own role, rolebinding, service accounts.
Is there any limitations for Jaeger operator to trace my application namespace.

[2020-09-14 14:48] pavolloffay commented on #1187
I will have a look at this.

[2020-09-14 15:05] chandu9333 opened #1195 "Do we have any constraints that we should know to trace the multiple products under multiple namesapces?"
Let say, we want to install Jaeger operator and Jaeger instance in one namespace and I have a product/application which is running in other namespace which has its own role, rolebinding, service accounts.
Is there any limitations for Jaeger operator to trace my application namespace.

[2020-09-15 07:57] jpkrohling commented on #1194
I believe your answer is in the documentation: https://www.jaegertracing.io/docs/1.19/operator/

[2020-09-15 09:01] pavolloffay commented on #1187
@alexanderccc could you please share the Jaeger CR?

[2020-09-15 09:35] alexanderccc commented on #1187
@pavolloffay Here is the Jaeger crd

`kubectl describe crd/jaegers.jaegertracing.io

Name:         jaegers.jaegertracing.io
Namespace:
Labels:       app=jaeger-operator
Annotations:  helm.sh/hook: crd-install
              helm.sh/hook-delete-policy: before-hook-creation
API Version:  apiextensions.k8s.io/v1beta1
Kind:         CustomResourceDefinition
Metadata:
  Creation Timestamp:  2020-07-16T17

[2020-09-15 10:11] pavolloffay commented on #1187
@alexanderccc we need CR and not CRD. Could you please provide that? You can get it via `kubectl get jaegers` and then `kubectl get jaegers <name>`. Or just paste  the yaml file you have used to create Jaeger.

[2020-09-15 10:34] kidrocknroll commented on #1058
@jpkrohling I also met a similar issue.. my question is that even I have set `spec.strategy = production` as below.

[code]

The operator log is still like `strategy=allinone` as follows...

[code]

And when I get the `YAML` of Jaeger, Got the same result...

[code]

My Operator version is `1.19.0`, and the Kubernetes version is `1.16.1`. I am wondering is there any other configuration that affect

[2020-09-15 10:42] alexanderccc commented on #1187
@pavolloffay sure, sorry for the misunderstanding, bellow you can find our Jaeger definition

[code]

[2020-09-15 12:50] jpkrohling commented on #1058
It looks like your `storage` node is misaligned. Yours is under `.spec.collector.storage`, and should be directly under `.spec`. As the operator can't find the storage node, it assumes you want a default one (all in one).

In any case, the operator seems to have created a Jaeger deployment:

[code]

Do you see pods for this deployment?

[2020-09-15 13:50] kidrocknroll commented on #1058
Thanks a lot. It indeed solves the problem, Now i got the `production` strategy. Yes, I deed see these logs after every time of change the Jaeger YAML, So I thought the configuration is OK. Sorry, my Bad, I should double-check... But is really trick that other field would affect the way how Jaeger is deployed, and the log does not show any error msg.

[2020-09-15 14:48] #1058 closed

[2020-09-16 09:57] pavolloffay commented on #1187
The `use-aliases: true` in the storage options instructs the operator to create rollover jobs. A solution might be to remove it from the storage options and instead define it in the collector and query options. See the CR below.

Do you need any of the cron jobs (init, rollover, lookback) with ILM?

Try the following configuration CR. With this configuration, the operator should not deploy rollove

[2020-09-16 10:04] alexanderccc commented on #1187
@pavolloffay I see, should the rest of the es config also be placed under query and collector? Like the index-prefix? What about the index-template, should that be specified under each component or just storage?

I still believe that this is a bug, even if we have the use-alias under storage if we instruct the operator to not create the rollover job shouldn't it take that into account?

I will tes

[2020-09-16 10:31] pavolloffay commented on #1184
The `address` has changed to `endpoint`.

I partially agree with Juca. At the moment there is no way to expose additional ports, however you can use https://github.com/open-telemetry/opentelemetry-operator and forward data to Jaeger.

[2020-09-16 10:45] adinhodovic commented on #1184
Just to be certain, would that be running a Otel collector and exporting data to the Jaeger collector? Feel free to close the issue as well!

Thanks!

[2020-09-16 11:51] jpkrohling commented on #1184
Yes, if you need to consume OpenCensus and export to Jaeger, the best approach is to use an OpenTelemetry Collector in front of the Jaeger Collector.

[2020-09-16 11:55] jpkrohling commented on #1187
All options defined at the .Spec.Storage level are propagated down to every component. Options defined at the component level override the ones set at the .Spec.Storage level.

Meaning: you can specify the `use-aliases` inside each component, but still have `es.server-urls`, `es.index-template` and so on at the .Spec.Storage level.

@pavolloffay could you double-check your example? I think the `.S

[2020-09-16 12:00] alexanderccc commented on #1187
Thank you guys for the workaround, I implemented the changes and it seems to work fine, the initial index creation jobs where not triggered and the rollover one as well seems to not have been triggered, we'll monitor it for a couple more days and see if anything changes and update here.

Is there anything I should keep in mind in regards to the querier when using ILM? Our current policy should mov

[2020-09-16 13:36] #1184 closed

[2020-09-16 20:50] linjmeyer commented on #999
Yep looks good thanks

[2020-09-16 20:50] #999 closed

[2020-09-20 23:21] chgl opened #1202 "Readiness probes missing from the injected sidecar container"
The injected sidecar agent currently does not set either a readiness or liveness probe. The other deployment types do:

https://github.com/jaegertracing/jaeger-operator/blob/master/pkg/deployment/agent.go#L156-L175

[2020-09-21 07:13] alexanderccc commented on #1187
@pavolloffay The fix worked as expected, we didn't see any rollover job getting created. Should we consider this the permanent fix and the way to go forward or will there be a different fix for this?

[2020-09-21 10:05] dependabot-preview[bot] opened #1207 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/jaegertracing/update-logs/48153537).

[2020-09-21 10:25] #1207 closed

[2020-09-21 21:49] lambdanis commented on #1069
Can confirm that with the latest release (1.19.0) watching multiple namespaces works as expected for me.

[2020-09-22 08:05] pavolloffay commented on #1187
We can stick to this I will document it.

[2020-09-22 08:49] #1069 closed

[2020-09-22 08:49] jpkrohling commented on #1069
Thanks for the confirmation!

[2020-09-22 13:43] bastianeicher opened #1208 "ServiceAccount needs to be created before ES rollover job"
I deployed Jaeger Operator v1.19.0 and an Elasticsearch instance in the same Kubernetes namespace. I then created the following resource:

[code]

Jaeger Operator then creates a `Job` named `jaeger-es-rollover-create-mapping`. However this `Job` fails to start because it references a not-yet-existing `ServiceAccount` named `jaeger`. If I do nothing the Operator keeps waiting for this `Job` and eve

[2020-09-22 15:01] jpkrohling commented on #1208
I think @pavolloffay fixed this (or a similar) issue a few days ago: https://github.com/jaegertracing/jaeger-operator/pull/1196

Are you able to use the image tagged with `master` for the operator, and see if this problem is fixed?

[2020-09-22 15:22] bastianeicher commented on #1208
Just tried the image `jaegertracing/jaeger-operator:master` and can confirm the problem is fixed there. Thanks! :)

Will there be a 1.19.1 release containing this fix?

[2020-09-22 15:25] #1187 closed

[2020-09-22 15:34] jpkrohling commented on #1208
We don't have a plan for it yet, but I guess we could release one soon.

@rubenvp8510, @objectiser, what do you think?

[2020-09-24 07:33] #906 closed

[2020-09-24 10:46] dwertent opened #1211 "jeager-operator overrides changes I made in jaeger-operator-jaeger deployment"
Hi,
I'm running the jaeger operator solution.
I added a simple volume to the deployment (using `kubectl patch`), and I see that the jeager operator that is constantly running, overrides my changes.
Is there a way to change the deployment in a way the operator will not override my changes right away (maybe by adding an annotation/label or something to do with the kube-api configurations)?

Currentl

[2020-09-24 14:39] jpkrohling commented on #1211
Which deployment are you talking about? The Jaeger Collector/Query/Ingester? You shouldn't manually change those deployments, or any other resource managed by the Operator. At each reconciliation, the Operator will build a map of what's the expected state, and what's the observed state, and apply the necessary changes to make the two match. If you don't tell which volume to mount in the CR, the op

[2020-09-24 14:39] #1211 closed

[2020-09-25 07:59] jpkrohling commented on #1089
@btai24 would you like to give the linked PR a try?

[2020-09-25 18:23] #1089 closed

[2020-09-28 08:24] #1186 closed

[2020-09-29 12:40] Baykonur commented on #1208
I am also having the same issue which did not happen at first (2 weeks ago) but I guess the reason is the following:
I deployed a simple Jaeger CR all-in one with in-memory storage and then started using ES as backend for the existing deployment, when ES was introduced the `sa` was already present so all worked out.
Once I recreate everything from scratch (recreate the namespace, deploy Jaeger and

[2020-09-29 15:38] jpkrohling commented on #1208
The release of Jaeger 1.20.0 is being planned at the moment and might happen very soon (this week?). A release of the operator will happen soon after, typically on the same day or the next day.

[2020-09-30 11:16] jpkrohling commented on #1208
The release is now out! I'm closing this, but feel free to reopen if the original problem is still happening.

[2020-09-30 11:16] #1208 closed

[2020-10-01 03:13] prageethw commented on #135
so if someone still struggles to get this work here is jaeger cr  config for ingress

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
    hosts:
      - xxxx.com

[2020-10-01 08:09] jpkrohling commented on #135
@prageethw would you mind opening a PR with an example? Here's the right place for it:

https://github.com/jaegertracing/jaeger-operator/tree/master/deploy/examples

[2020-10-01 09:06] prageethw commented on #135
@jpkrohling done
https://github.com/jaegertracing/jaeger-operator/pull/1229

[2020-10-02 09:59] fdimuccio opened #1232 "Inject the sidecard directly in Pod resources"
Hello,

we are using the jaeger-operator together with [kubefed](https://github.com/kubernetes-sigs/kubefed) and we are facing an reconciliation loop issue when using `sidecar.jaegertracing.io/inject` annotation. Actually the issues are two but they stem from the same root cause. If I'm not mistaken, jeager-operator modify the Deployment resource where the annotation is defined by adding the sidec

[2020-10-02 10:21] jpkrohling commented on #1232
Yes, once we move to a webhook, we'll inject sidecars directly into pods.

[2020-10-02 10:21] #1232 closed

[2020-10-04 09:10] jecnua commented on #1048
Yes bot, it's still relevant like 95% of the issue on github marked by stale bots. Please automatically remove the label.

[2020-10-05 08:16] jpkrohling commented on #1048
My bad about the stale bot: I tuned it down to only consider items with the `needs-info` label, and I added this label to this issue here, which isn't appropriate. I just removed it the label, so, this should not be automatically closed.

[2020-10-05 08:21] jpkrohling commented on #1048
To get this issue moving: I would have this as a opt-in behavior. My question is how it should be added: perhaps it would be good to have `JaegerIngressSpec` as a new child of the `JaegerCollectorSpec`? This would make it inconsistent with how it is specified for query at the moment, but I think we can solve it somehow.

https://github.com/jaegertracing/jaeger-operator/blob/519bf244a9e44f886acaa5a

[2020-10-05 19:20] ricochet opened #1235 "Provide kustomization.yaml for operator installation"
Benefits of providing kustomization.yaml:

- kustomize is built-in to kubectl
- works well in a gitops style pipeline
- matches direction of kube-builder and being integrated in the operator-sdk

[operator-sdk proposal to integrate kube-builder](https://github.com/operator-framework/operator-sdk/blob/627e1c65ad96c70bbe107d23eca9b3f113cc002e/proposals/kubebuilder-integration.md)

[2020-10-05 19:27] ricochet commented on #1235
A co-worker created a WIP for this a while back: https://github.com/mikeyrcamp/jaeger-operator/commit/5bdbe8a049bcc1733573f953d964ffb6d61394ab

This will have no impact on users who prefer to use plain manifests. For users who want to use kustomize, this simplifies the install and enhances the customization story for the operator. If there is an upstream base, then consumers can refer to resources

[2020-10-06 20:06] fxgagnon opened #1236 "jaeger-operator 1.20.0 imagepullsecrets with jaeger-collector deployment?"
I have jaeger operator, version 1.20.0, running on a k8s cluster.  I'm trying to use a custom repository for in the jaeger kind.  It look like this ;

[code]

each images are taken from mylocalresistry.com succefully, except for the collector deployment.  It's seems that the imagePullSecret is never set, by the operator, in that specific deployement.

I've been able to workaround it by patching th

[2020-10-07 07:51] objectiser commented on #1236
Currently only the agent supports specifying the `imagePullSecrets`, so not sure how the other components (except collector) worked.

@jpkrohling is it worth considering adding to each component?

[2020-10-07 07:57] jpkrohling commented on #1236
I think it could be part of the common spec, but I'm also intrigued by how it worked for all components except collector.

[2020-10-07 08:04] objectiser commented on #1236
Ah yes - we probably need to update the documentation to describe this.

[2020-10-07 08:07] jpkrohling commented on #1235
Is it all it needs? Nice! I'm using `kustomize` as part of the opentelemetry-operator and I like the way it works.

I think it would be a nice thing to have if we can get someone committed to maintain it in the long term. Here's a list of things we'll need in the PR:

- [ ] a Makefile target to install `kustomize`
- [ ] e2e tests, probably something based on the current smoke tests?
- [ ] document

[2020-10-07 08:31] monicagangwar commented on #1235
@jpkrohling can you assign it to me, i'll give it a try

[2020-10-07 08:42] jpkrohling commented on #1235
Sure, it's yours.

[2020-10-07 13:42] fxgagnon commented on #1236
Thanks guys... it worked using the custom serviceaccount.

[2020-10-07 13:43] #1236 closed

[2020-10-07 14:39] objectiser opened #1237 "console.openshift.io cluster role permission in cluster_role.yaml but not csv"
Appears that the `console.openshift.io` permissions in `cluster_role.yaml`, added in #1177, is not being included in the manifest (clusterserviceversion yaml).

[2020-10-07 15:28] mwasilew2 opened #1238 "Support providing storage.options.es.server-urls from k8s secrets"
Hi,

The Jaeger CR currently takes in the `server-urls` from plain text in the manifest. I don't think there is a way to provide it using a secret. It  would be nice if that was possible, for example, by providing a name of the secret containing the urls (instead of the url itself) or by extending the `storage.secretName`.

[2020-10-08 05:12] v1468k opened #1240 "Unable to access Jaeger UI even after having the ingress IP"
Hi,
I am trying to setup Jaeger in my system. I followed all the instructions and everything went according to the instrcutions. But i am unable to access the UI even though the pods are all running and i have the ingress ip available as well.
![image](https://user-images.githubusercontent.com/63405886/95417441-b1ce7d00-0952-11eb-85cb-6c8e853baa34.png)

I tried to logon to the UI on 10.61.62.222 a

[2020-10-08 08:47] jpkrohling commented on #1237
May I assign this to you, @rubenvp8510 ?

[2020-10-08 09:05] jpkrohling commented on #1238
I think we can give it a try, but the problem with secrets is that they kinda imply that changing them would trigger an update to the consumers, which is *not* the case.

[2020-10-08 09:11] jpkrohling commented on #1240
That's strange, the UI should have been available at http://10.61.62.222 . Could you try doing a port-forward and try it again? Like this:

[code]

The UI should then be available at http://localhost:16686 .

[2020-10-08 09:43] v1468k commented on #1240
Hi @jpkrohling
I tried port forwarding  Still not working. Browser says connection timed out.

[2020-10-08 10:14] jpkrohling commented on #1240
This sounds like a networking issue between you and your Kubernetes cluster then. Are you trying it locally with `minikube`, or are you using a remote cluster somewhere?

[2020-10-08 10:35] v1468k commented on #1240
I am using a remote cluster. But everything else works fine. I am able to access all the other apps deployed there (I am using dashboards like prometheus and grafana deployed there..works fine).

Thanks

[2020-10-08 11:05] jpkrohling commented on #1240
I'm afraid I can't help you much further: if you can reproduce the problem with `minikube`, it means that I can reproduce it as well and I'll be able to help you.

In any case, could you please paste the logs here? Perhaps there's something interesting there:

[code]

[2020-10-08 13:15] rubenvp8510 commented on #1237
Yes :) no problem

[2020-10-08 14:57] objectiser opened #1241 "Should Jaeger 2.0 operator upgrade 1.x instances automatically?"
Thought it would be worth starting a discussion, to see what the pros/cons might be.

For example, a pro would be continuous seamless operations of existing Jaeger instances. but a con may be that some Jaeger 1.x options are not supported/compatible with Jaeger 2.

Or should the upgrade be supported, but if some incompatibility is detected, then it skips that instance (current behaviour I believe)

[2020-10-08 15:01] jpkrohling commented on #1241
Last I heard, there was only a minor flag with backwards compatibility problems. If that's still true, we can indeed offer an upgrade to v2.

[2020-10-08 15:37] objectiser commented on #1241
We should gather all the known changes and then decide. For example:

- #1227 indicates that some kafka producer flags are not supported (batch-linger/size/max-messages)
- Message encoding default - if jaeger 2 uses OTLP (which might be a good idea) then possibly existing instances could set the encoding to jaeger to remain compatible with existing messages in the kafka cluster - but this would th

[2020-10-08 15:50] chandu9333 opened #1242 "Jaeger instance is not getting upgraded automatically"
Jaeger instance is not getting upgraded automatically when I upgraded the Jaeger Operator is from 1.19.0 to 1.20.0

My environment: GKE Cluster
BTW, I am using https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/operator.yaml for Operator installation
and using https://github.com/jaegertracing/jaeger-operator/blob/master/deploy/examples/all-in-one-with-options.yaml for Jaeger insta

[2020-10-09 07:52] jpkrohling commented on #1242
Could you please share the operator logs upon start? The operator should indeed take care of upgrading all instances at previous versions. I also need the output for `kubectl get jaegers`, showing your non-upgraded Jaeger instance.

[2020-10-09 07:59] jpkrohling commented on #1241
The first issue seems an oversight and perhaps should be added to the OpenTelemetry-based Jaeger. The second would be a real backwards compat problem.

[2020-10-09 08:52] pavolloffay commented on #1241
We had users that complained that some flags were noop even in the current Jaeger distros (e.g. span writer exposing reader configuration). I think there are more flags missing in the OTEL distribution not just for kafka.

The 2.0 config could still keep `jaeger` receiver and add OTLP `exporter` and `receiver`. Though it might cause custom kafka receivers stop working since there won't be new data

[2020-10-09 09:40] rajeshchandupatla commented on #1242
**Operator logs:**
time="2020-10-09T09:20:48Z" level=info msg=Versions arch=amd64 identity=myns.jaeger-operator jaeger=1.20.0 jaeger-operator=v1.20.0 operator-sdk=v0.18.2 os=linux version=go1.14.4

**chandu9333@test:~$ kubectl -n myns get jaeger**
NAME              STATUS    VERSION   STRATEGY   STORAGE   AGE
jaeger-instance   Running   1.19.2    allinone   memory    41m

[2020-10-09 09:43] chandu9333 commented on #1242
Operator logs:
time="2020-10-09T09:20:48Z" level=info msg=Versions arch=amd64 identity=myns.jaeger-operator jaeger=1.20.0 jaeger-operator=v1.20.0 operator-sdk=v0.18.2 os=linux version=go1.14.4

chandu9333@test:~$ kubectl -n myns get jaeger
NAME STATUS VERSION STRATEGY STORAGE AGE
jaeger-instance Running 1.19.2 allinone memory 41m

[2020-10-09 12:43] jpkrohling commented on #1242
That's just the first line of the log. Is that all you see? There should be a lot more :-)

[2020-10-09 13:30] chandu9333 commented on #1242
**I could see below log:**

time="2020-10-09T09:20:48Z" level=info msg=Versions arch=amd64 identity=myns.jaeger-operator jaeger=1.20.0 jaeger-operator=v1.20.0 operator-sdk=v0.18.2 os=linux version=go1.14.4
I1009 09:20:49.291046       1 request.go:621] Throttling request took 1.033169816s, request: GET:https://<IP>:443/apis/charts.helm.k8s.io/v1alpha1?timeout=32s
time="2020-10-09T09:21:04Z" level=i

[2020-10-09 14:22] jpkrohling commented on #171
@JessieAMorris are you using the operator v1.20? There were some changes made by @rubenvp8510 that should have made it more stable.

[2020-10-09 14:33] jpkrohling commented on #1242
Are you sure your Kubernetes cluster is in a sane state?

[2020-10-09 15:53] objectiser commented on #1242
@chandu9333 looking at the example you are using, it references a very old version of Jaeger:
[code]
Could you either try with a more recent version (1.19) - or remove the image line from the CR?

[2020-10-09 16:36] chandu9333 commented on #1242
Removed image line from CR, but still no change

[2020-10-09 17:05] chandu9333 commented on #1242
One thing I noticed now, when I did the test again.
1. I am able to upgrade by changing jaegertracing/jaeger-operator:1.19 to jaegertracing/jaeger-operator:1.20.

2. It automatically upgrades Jaeger-instance pod iwith the version as 1.20 but I can see through describe pod command only.

3. when I run **kubectl get jaeger** command then the output still shows 1.19.2 only

Instance events shows the

[2020-10-09 19:29] jpkrohling commented on #1242
Could you run the operator with `--log-level=debug`? Upon bootstrap, the Jaeger Operator will list all Jaeger instances that it manages and will attempt to upgrade all of them. I don't see anything about it in the log: this, and the other warnings in the log, are what made me think that your cluster isn't healthy.

The debug-level log entries will help us understand if the Jaeger Operator is even

[2020-10-11 21:12] chlunde opened #1244 "Format changes on master"
With master @ 729d8aaaa08aada07a790a900a18867dbd98deb1 and the latest version of goimports, there are format changes on master:

[code]

[code]

[2020-10-12 07:53] jpkrohling commented on #1244
#1225 is open for that. Would you mind reviewing it? If it looks good, I'll go ahead and merge it.

[2020-10-12 09:30] jpkrohling commented on #1179
Reopening, as the SSL part is still pending.

[2020-10-12 09:37] jpkrohling commented on #1179
@Ashmita152, I think there are two things that could be pursued here:

1. the `--cassandra.tls.ca` flag should be honored by the create-schema script
1. if there are certs available in a well-known place, use them. I'm not sure what's a well-known place, though: perhaps take a look at the Cassandra images and see if it ships with certs somewhere?

Each one of those should be a different issue/PR,

[2020-10-12 09:42] Ashmita152 commented on #1179
Hi @jpkrohling

Thank you for the detailed response. I looked at the cassandra image earlier. It is based on Ubuntu image in which the standard place for ca-certificates is /etc/ssl/certs/ca-certificates.crt. I will work on it and raise two PRs accordingly.

[2020-10-12 09:53] jpkrohling commented on #1179
Wait to work on the second, we might need to have a better understanding of the whole situation there: it might not be appropriate to load a set of certificates for the create-schema and not load the same set with the other components.

[2020-10-12 12:36] avoidik opened #1245 "[Question] How to refer to standard ConfigMap or Secrets resources?"
Hello,

Could you please suggest a way on how to use configmap or secret values to configure jaeger-operator storage backend? Did I get it right, that per [Fine-Grained Configuration](https://www.jaegertracing.io/docs/1.20/operator/#finer-grained-configuration) both of these are not supported yet? Here is sample deployment, I would like to not expose password value here.

[code]

[2020-10-12 13:48] mwasilew2 commented on #1096
+1

We ( @Gitlab ) had a similar need for applying annotations to a service. We wanted to bind a BackendConfig object with the query service using annotations and our current workaround is to manage the service and ingress objects outside of operator. It would be nice if it supported that.

[2020-10-12 15:00] #1244 closed

[2020-10-12 16:18] chlunde commented on #1141
I think this _could_ be handled by allowing setting environment variables, more specifically `HTTP(S)_PROXY` and `NO_PROXY`.

This is backed by this package:
https://pkg.go.dev/golang.org/x/net/http/httpproxy#Config

[2020-10-12 16:19] jecnua commented on #1048
Hi @jpkrohling, sorry for the delay of this answer the message got lost in all the github noise.
Thanks for removing the stale label and sorry for my reply above. I have a personal hate towards any type of "stale bots" but is nothing I have against this repo or project specificallly :)

Absolutely.

I wish I could help more  but my go is really very young. What I can tell you is that I agree it is

[2020-10-13 07:28] avoidik opened #1248 "Add jaegertracing.io/v1 namespace API reference documentation"
Hello,

It would be really helpful to have a detailed description of all supported custom resource (CR) fields by Jaeger Operator solution, I'd like to suggest K8s API reference at https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/ as the example

[2020-10-13 07:36] jpkrohling commented on #1248
For people looking to work on this, here's a list of steps that would be needed (as individual PRs):

- [ ] Add a Makefile target that generates the doc, so that we can manually generate this doc and open a PR against the docs repo
- [ ] Change the release procedure to call this new target and open a PR against the Jaeger docs repository. Hint: `gh` (GitHub CLI) is available as command in GitHub A

[2020-10-13 07:40] jjmengze opened #1249 "keeping metrics and servicemonitor"
in this proposal #1201 we can saw that metrics and servicemonitor are have been removed.

because currently operator-sdk doesn't provide the metric library.

in my point of view we can the CreateMetricsService function by ourselves,so that we no longer rely on the methods provided by the operator sdk

[2020-10-13 07:47] jpkrohling commented on #1249
I think the main point there is that the operator shouldn't be creating resources that are related to itself, like its own services or service monitor objects. It should be part of the operator's provisioning tool (Helm, OLM, ...) instead, which I tend to agree.

[2020-10-13 07:48] jpkrohling commented on #1249
I do appreciate your comment, but I'm closing this issue here, as I think this discussion does belong to #1201.

[2020-10-13 07:48] #1249 closed

[2020-10-13 08:43] chandu9333 commented on #1242
**Log during the deployment using jaeger-operator version 1.19 (cr points to 1.19 image)**

time="2020-10-13T07:49:42Z" level=info msg=Versions arch=amd64 identity=my-ns.jaeger-operator jaeger=1.19.2 jaeger-operator=v1.19.0 operator-sdk=v0.18.2 os=linux version=go1.14.4
I1013 07:49:43.220853       1 request.go:621] Throttling request took 1.025828713s, request: GET:https://IP:443/apis/enterprisese

[2020-10-13 10:39] kevinearls opened #1250 "Ingester does not start properly when using OTEL image"
[ingester.log](https://github.com/jaegertracing/jaeger-operator/files/5370781/ingester.log)

I used a modified version of our simple-streaming example (attached) to try to run the OTEL ingester.  The ingester pod will startup, and the log will eventually say:

    2020-10-12T12:33:45.982Z INFO service/service.go:252 Everything is ready. Begin running and processing data.
    2020-10-12T12:33:45.98

[2020-10-13 10:42] kevinearls commented on #1250
simple-streaming-otel.yaml is here: https://gist.github.com/kevinearls/d81ed041e17331de8e022b6f92f21a90

[2020-10-13 10:54] jpkrohling commented on #1242
Looks like the upgrade is indeed somehow broken, I was able to reproduce your case. @rubenvp8510 is it perhaps because of the semantic versioning changes? Could you investigate it ?

[2020-10-13 10:54] jpkrohling commented on #1242
This is the expected Kubernetes behavior: whenever a deployment changes, new pods are created to use the new configuration and the old pods are killed.

[2020-10-13 11:00] jpkrohling commented on #1245
@avoidik, I think it's the same case of #1238. I'm closing this as duplicate, but let me know if you think it's something else.

[2020-10-13 11:00] #1245 closed

[2020-10-13 11:03] jpkrohling commented on #1096
I missed the notification for the last comment from @vassilvk, sorry about that. I think the skip using the custom annotations for services as it might have influence on the pod selector, but we can certainly work around that.

Anyone willing to give it a try?

[2020-10-13 11:10] pavolloffay commented on #1250
This part from logs is interesting. It went to ready state and then received terminated signal.

[code]

I am not sure what is going on. You can try to run it locally with local kafka, here are the commands that I have used https://github.com/open-telemetry/opentelemetry-collector/pull/1410

[2020-10-13 15:39] jpkrohling commented on #1242
You won't lose any data that is already in the storage. You should also not lose any in-flight data while the old pod is shutting down and the new one is starting, but I wouldn't be surprised if a few spans would be lost during this process.

[2020-10-13 15:43] chandu9333 commented on #1242
Thanks.
When can we expect the fix for the issue regarding the version?

[2020-10-13 15:45] jpkrohling commented on #1242
We might have it ready for the next release (1.21.0), which should be due in a month or so. But no promises.

[2020-10-14 06:08] jjmengze opened #1254 "miss role for jaeger-operator"
when I following the official document deploy jaeger-operator I found a role error in my cluster.

[code]
it seems to me that in the situation present we lose auth-delegator capacity?

[2020-10-14 06:55] kevinearls commented on #1250
@pavolloffay Not a bug, I was just using the wrong health check port.  Sorry!.

[2020-10-14 06:55] #1250 closed

[2020-10-14 07:15] jpkrohling commented on #1254
Please, see the docs:

https://www.jaegertracing.io/docs/1.20/operator/#openshift-1

[2020-10-14 07:15] #1254 closed

[2020-10-14 10:02] jasonjjli opened #1256 "ServiceMonitor already exists"
I am sorry about that I am not sure what happened when I create a jaeger-operator deployment.

it tell me this info about "could not create ServiceMonitor object" error="servicemonitors.monitoring.coreos.com \"jaeger-operator-metrics\" already exists"

[code]

In my cluster I already install prometheus ecosystem.

[code]

[2020-10-14 10:07] jpkrohling commented on #1256
It should be fine: the Jaeger Operator will try to create a service monitor for itself upon startup. In this case, you probably started Jaeger for a second time, and the first time did succeed in creating the service monitor. If you indeed see a service monitor named `jaeger-operator-metrics`, you can safely ignore this message:

[code]

[2020-10-14 10:18] jasonjjli commented on #1256
@jpkrohling thanks a lot , I  indeed see a service monitor named `jaeger-operator-metrics`.
but following Quick Start  create a simplest Jaeger instances
[code]
operator does not create any pod and i do not get error message from jeager operator
[code]

[2020-10-14 12:34] jpkrohling commented on #1256
Then something else is happening, this message isn't causing your pods to not be created. Could you start the operator with debug-level logging? In this line:

https://github.com/jaegertracing/jaeger-operator/blob/5271b85d99f2861a5e2ae69d4b466feb0b8bd63f/deploy/operator.yaml#L24

Add the `log-level=debug` flag, like this:

[code]

Also, make sure that your operator is watching the namespace where

[2020-10-14 13:11] akosveres opened #1258 "Jaeger Operator 403 k8s api requests"
Hi,

It seems the jeager operator is making requests to the k8s api and it's getting 403.

Details:

Deployment details:
[code]

Installation was done by following https://www.jaegertracing.io/docs/1.20/operator/#installing-the-operator-on-kubernetes with cluster wide permissions.

We were alerted to the 403 rest client requests:
[code]

Prometheus rate graph with details
![image](https://user-ima

[2020-10-14 13:16] jpkrohling commented on #1258
Could you try running the operator with debug logs enabled? Perhaps there's a clue in there.

In this line:

https://github.com/jaegertracing/jaeger-operator/blob/5271b85d99f2861a5e2ae69d4b466feb0b8bd63f/deploy/operator.yaml#L24

Add the `log-level=debug` flag, like this:

[code]

[2020-10-14 13:23] akosveres commented on #1258
Done, new pod came up, error rates going up based on the graphs:

![image](https://user-images.githubusercontent.com/517456/95994901-be5a4600-0e28-11eb-8b3c-1fe99c66e83b.png)

Logs from the operator:
[code]

[2020-10-14 13:25] jpkrohling commented on #1258
Do you get roughly one error per reconciliation, or do you get it periodically? Is it happening only with the Jaeger operator, or do you see something similar with other operators?

[2020-10-14 13:29] akosveres commented on #1258
The reconciliation only happened once, while I see 12 403 errors / 60 seconds from the operator. I have no other 403 api rest client errors. The other HTTP error code I see is 409, which only happened 3 times at startup.

[2020-10-14 14:33] akosveres commented on #1258
Yes, I do. Problems seem to have started since I enabled that. I am watching all namespaces and injection is successful, traces show up in jaeger ui.

[2020-10-14 16:30] jpkrohling commented on #1258
I found the cause for this: it's not really a problem, as it's just the operator trying to determine whether it has the `system:auth-delegator` permissions. Unfortunately, I'm unaware of a clean way of checking that, and seems like the recommended way to do it is by actually trying to create a dummy token review, like this:

https://github.com/jaegertracing/jaeger-operator/blob/619c92481921131da1a

[2020-10-15 02:01] jasonjjli commented on #1256
sincerely thanks your help,I resolve this problem.

[2020-10-15 02:01] #1256 closed

[2020-10-15 08:48] akosveres commented on #1258
As always you're absolutely spot on. After applying a ClusterRoleBinding with the following all is fine:

[code]

The logs show it was successful:
[code]

There are no 403 or 409 calls from jaeger-operator anymore.

Thank you so much for your prompt investigation. Feel free to point me towards any documentation you think should be updated and I'd be happy to open a PR.

[2020-10-15 08:58] akosveres commented on #1258
A new error did appear, I'm guessing now the oauth delegating is trying to happen and it's failing.

Same rate, 12 / 60 seconds. I can't determine the source as it's just reported as `kubernetes-apiservers`.

![image](https://user-images.githubusercontent.com/517456/96100790-a9cf8980-0ecc-11eb-80d0-d6b274acdd9a.png)

[2020-10-15 09:01] jpkrohling commented on #1258
I'm not sure what's the best place to document this behavior, but the requirement behind this role is explained here:

https://www.jaegertracing.io/docs/1.20/operator/#openshift-1

I don't think you should really have this role if you don't intend to benefit from the use case it allows: having more permissions than needed isn't ideal. I don't think the risk here is big, though. If having those fai

[2020-10-15 09:03] jpkrohling opened #1261 "Skip detectClusterRoles for Kubernetes"
Based on #1258, we should skip the execution of this function if we are *not* running on OpenShift:

https://github.com/jaegertracing/jaeger-operator/blob/619c92481921131da1af876b29b973ac6a6a4cdc/pkg/autodetect/main.go#L199-L221

[2020-10-15 09:20] akosveres commented on #1258
We'll silence the alerts until a fix is done. Thanks for your help.

[2020-10-15 09:20] #1258 closed

[2020-10-15 13:58] johanavril commented on #1261
hi @jpkrohling , I would like to try working on this

[2020-10-15 15:09] jpkrohling commented on #1261
It's yours!

[2020-10-15 19:13] kevinjqiu opened #1263 "Allow service types to be configured"
Currently, all services are created as `ClusterIP` type services.  This is adequate if everything is run inside the kubernetes cluster.  For our use case, we need to deploy the collector on a kube cluster but we have a variety of ways to deploy agents, e.g., directly on a VM outside of the cluster.

This means we need to expose the agent GRPC service so it can be reached by the agents outside of t

[2020-10-15 19:53] vassilvk commented on #1096
I ended up replacing the extra service workaround with a [KubeMod](https://github.com/kubemod/kubemod) `ModRule` which intercepts the creation of the service created by Jaeger Operator and patches it with the annotations I need before it is deployed to the cluster:

[code]

[2020-10-15 19:55] jpkrohling commented on #1096
I didn't know about KubeMod, that's a cool trick!

[2020-10-15 20:05] vassilvk commented on #1096
Yes, KubeMod is pretty new - I actually just released its first beta last weekend :)

[2020-10-16 12:00] johanneswuerbach opened #1265 "Option to define an image prefix"
At my company we mirror all externally used images to our private registry. While you can already change the individual image names used by the jaeger components, it is currently rather tedious as you need to override each component image individually.

[code]

Instead we would prefer to set a shared image prefix used by all images like:

[code]

If this would be contribution you would accept, I'l

[2020-10-18 20:57] vassilvk commented on #171
Hi @JessieAMorris, @jpkrohling,

I was having similar issues where the destructive sidecar injection performed by the operator made the code running in my pods misbehave, due to race conditions caused by the pods being terminated and recreated shortly after they were created.

I switched from using Jaeger Operator's injection, to a non-destructive webhook-based Jaeger agent injection performed by

[2020-10-18 21:11] vassilvk commented on #750
Just wanted to chime in here - while #171 is being worked on, an alternative solution is now available through KubeMod (as [described in my comment](https://github.com/jaegertracing/jaeger-operator/issues/171#issuecomment-711422072)).

[2020-10-18 21:15] vassilvk commented on #1232
Just wanted to drop in a note here too - while #171 is being worked on, an alternative non-destructive injection solution is now available through KubeMod (as [described in my comment](https://github.com/jaegertracing/jaeger-operator/issues/171#issuecomment-711422072)).

[2020-10-19 08:24] jpkrohling commented on #171
That looks really cool. I don't think we can add it to the operator itself (yet?), but it's good to know there's a workaround for people who are experiencing problems with the current auto-injection.

[2020-10-19 08:26] #1261 closed

[2020-10-19 08:29] jpkrohling commented on #1265
While I see the problem, I'm not sure it's worth adding a new field to the CR. I'm leaving this open for people to comment: if more people comment that they need this, we might add it.

In the meantime: are you aware that you can override the images via the operator's CLI? You can just add `--jaeger-query-image=internal-mirror/jaegertracing/jaeger-query:1.19.2` to the `operator.yaml` deployment de

[2020-10-19 08:37] johanneswuerbach commented on #1265
Yes, but this still means adding the prefix individually for the all-in-one, query, collector, cronjob(s), agent images, which feels like a lot to keep track of. I would also be happy to add a CLI only option first, if that is preferred.

[2020-10-19 08:38] jpkrohling commented on #1265
Noted. Let's see if other people also need it, and we'll start with an operator flag instead then.

[2020-10-19 09:12] jpkrohling commented on #1263
We've had a PR adding this to the query service. Exposing the collector to outside of the cluster should never be the default option, but I think it might be reasonable to align the collector's service with the query.

[2020-10-19 09:52] jpkrohling commented on #1263
This might be related as well: #1048

[2020-10-20 02:07] dackroyd opened #1266 "OTel agent/collector failing with duplicate volume/volumeMount"
Using the operator to deploy the OTel variants of the Jaeger agent/collector requires adjusting the `health_check` port, which is done by supplying `config`. Minimal example from a minikube deployment (reproduced after initially hitting the issue in a full kubernetes cluster):

[code]

With this configuration in place, the operator produces a _duplicate_ `volume` and `volumeMount` for the otel con

[2020-10-20 09:59] dackroyd commented on #1266
From taking another look, I think the port override on the agent config is actually an error, as this is already the default port. That should mean for this case that particular problem can be resolved by removing the override. If the collector has the same problem, it won’t be resolved the same way, as the override is needed.

If the config needs to be specified this way for any other reason, the

[2020-10-20 11:19] herbguo commented on #496
Hello~ I had the same issue for the jaeger-collector compent, were you solve the problem?

`{"level":"fatal","ts":1603192251.3967118,"caller":"command-line-arguments/main.go:70","msg":"Failed to init storage factory","error":"failed to create primary Elasticsearch client: health check timeout: no Elasticsearch node available","stacktrace":"main.main.func1\n\tcommand-line-arguments/main.go:70\ngith

[2020-10-20 12:17] jpkrohling commented on #1266
I was able to reproduce the issue with your example CR, thank you!

I opened a PR that should fix this. I also published an image based on that PR: `quay.io/jpkroehling/jaeger-operator:pr1268`. Are you able to confirm that this fixes the issue?

[2020-10-20 23:47] dackroyd commented on #1266
Following up this conversation in that PR, thanks!

[2020-10-21 15:10] #1237 closed

[2020-10-21 15:34] kevinjqiu commented on #1263
For HTTP thrift services, sure, but the GRPC service cannot be exposed by way of ingress, since ingresses are HTTP only.

[2020-10-22 08:47] #1266 closed

[2020-10-22 13:43] jpkrohling opened #1271 "Operand upgrading from 1.17 to 1.18 has wrong gRPC host-port"
When an operand is migrating from 1.17 to 1.18, the host-port property is changed from:

[code]

to:
[code]

Code:
https://github.com/jaegertracing/jaeger-operator/blob/8b07b3fc0daa8b36d11958fe78a131370e22011a/pkg/upgrade/v1_18_0.go#L65-L66

It should still include the `svc` suffix, as TLS certs auto-provisioned by OpenShift are issued only for `.svc` and `.svc.cluster.local` host names.

[2020-10-22 14:52] #1271 closed

[2020-10-22 15:57] lmickh commented on #1096
In additional to some of the use cases already mentioned, it is also helpful to pass the labels down to the services so that they can be found by the prometheus-operator when it is configured to filter by labels. The `jaeger-operator-metrics` service and servicemonitor for example will not function if your Prometheus config uses label matching for service discovery.  There isn't much in the way of

[2020-10-22 16:54] roppa commented on #790
I think I've been barking up the wrong tree. I posted [this issue on stackoverflow](https://stackoverflow.com/questions/64391505/jaeger-opentracing-with-kafka-and-docker-compose). I wanted to test jaeger with kafka using docker compose locally. I couldn't get the jaeger-query working. I take it I was going about this wrong. What could I do to use jaeger-query? Use some sort of storage like cassand

[2020-10-23 09:39] chandu9333 opened #1273 "No services list in the Jaeger UI for the Production Strategy deployment"
I am not able to see any services like jaeger-query and Jaeger-operator (its own using tracing enabled at operator.yaml)  services in the dashboard.

What could be the issue, can you please some one let me know?
Thanks in advance

[2020-10-23 10:03] objectiser commented on #1273
@chandu9333 have you checked the jaeger-query and jaeger-operator logs to see whether there is anything (i.e. errors)?

[2020-10-25 19:01] SezalAgrawal commented on #111
Can I pick this task?

[2020-10-26 08:43] jpkrohling commented on #111
It's yours!

[2020-10-27 09:09] jpkrohling opened #1276 "Usage of deprecated 'admin-http-port' flag in the code"
While reviewing #1275, I realized that we are using a deprecated flag in quite a few places:

[code]

We should *also* check the new flag, like:

[code]

[2020-10-27 11:37] chandu9333 commented on #1273
I dont see any errors but jus see below logs under jaeger-query

2020/10/27 09:03:08 maxprocs: Leaving GOMAXPROCS=32: CPU quota undefined
{"level":"info","ts":1603789388.0329237,"caller":"flags/service.go:116","msg":"Mounting metrics handler on admin server","route":"/metrics"}
{"level":"info","ts":1603789388.0333474,"caller":"flags/admin.go:120","msg":"Mounting health check on admin server","rout

[2020-10-27 12:00] objectiser commented on #1273
Have you taken a look at https://www.jaegertracing.io/docs/1.20/troubleshooting/ ?

[2020-10-27 15:45] chandu9333 commented on #1273
Yes but no luck...Do we need to enable any sort of ports at Cluster level?
I access UI by port-forwarding to localhost

[2020-10-27 15:49] jpkrohling commented on #1273
Are you able to reproduce it with minikube? If so, please list all the steps you did, including the CR you are deploying.

[2020-10-27 15:53] #1242 closed

[2020-10-28 10:20] kevinearls opened #1278 "generator_test should not be using a specific image name"
The generator test has a hard coded reference to the 1.13 all-in-one image: https://github.com/jaegertracing/jaeger-operator/blob/master/test/e2e/generator_test.go#L59

This shouldn't be done anyway, but has caused problems when running with OTEL images on OpenShift.

[2020-10-28 10:28] objectiser commented on #1278
This test should work equally well without the `image` being explicitly defined in the CR. I think the main purpose is just to create a single deployment yaml to represent that an operator would generate.

[2020-10-28 10:47] johanavril commented on #1276
hi @jpkrohling , may I try working on this ?

[2020-10-28 10:47] jpkrohling commented on #1276
It's yours!

[2020-10-29 10:36] #1276 closed

[2020-10-29 12:51] #111 closed

[2020-10-29 15:30] Abu0108 opened #1283 "Unable to configure Kibana visualization with Jaeger CR (production strategy) using ElasticSearch as persistence"
Latest ElasticSearch operator supports Kibana visualization also, no placeholder to configure currently. Examples or steps needed.

**Environment:** OCP 4.5

**Expected behavior**: Kibana instance created successfully and connected to Elastic instance and traces visible in KIBANA UI

NO configuration available to pass kibana parameters in Jaeger CR Instance.

[code]

[2020-10-29 15:33] jpkrohling commented on #1283
The Jaeger Operator only provisions an Elasticsearch instance using the ECL operator. For anything fancier, you'll need to provision the ES instance yourself and point your Jaeger CR to it.

[2020-10-29 15:33] #1283 closed

[2020-10-30 06:55] rajeshdevops87 opened #1284 "Can we deploy agent as a daemonset in production strategy."
I am able to deploy agent as a daemoset using all-in-one strategy but not as production strategy.

BTW, I am using https://github.com/jaegertracing/jaeger-operator/blob/master/examples/agent-as-daemonset.yaml for all-in-one

For prod I am using https://github.com/jaegertracing/jaeger-operator/blob/master/examples/simple-prod.yaml

[2020-10-30 08:06] jpkrohling commented on #1284
Please, provide the CR you are using, or a minimal CR that is able to reproduce the problem on minikube.

[2020-10-30 09:37] rajeshdevops87 commented on #1284
No major difference just adding agent info in the cr as below

# setup an elasticsearch with `make es`
apiVersion: jaegertracing.io/v1
kind: Jaeger
metadata:
  name: simple-prod
spec:
  strategy: production
  storage:
    type: elasticsearch
    options:
      es:
        # Note: This assumes elasticsearch is running in the "default" namespace.
        server-urls: http://elasticsearch.default.svc

[2020-10-30 09:51] jpkrohling commented on #1284
I tried your CR here, and it does work for me:

[code]

Here are my debug logs, which you can compare with yours and see what's going on:

[code]

[2020-11-02 08:19] abu-2020-ghub commented on #1283
ok. Thanks. Any tentative date of having this feature integrated in near future?

[2020-11-02 08:33] jpkrohling commented on #1283
No.

[2020-11-02 08:34] abu-2020-ghub commented on #1283
ok. Thanks for the confirmation. Any idea of supporting dashboards in JAEGER UI?

[2020-11-02 08:38] jpkrohling commented on #1091
I'm closing this, as there was confirmation that this works.

[2020-11-02 08:38] #1091 closed

[2020-11-02 08:38] jpkrohling commented on #1174
@kehao95 did you manage to get it working ?

[2020-11-02 08:50] objectiser opened #1287 "Exposing OTLP port in collector and possibly agent"
Currently we build OTEL variants of the Jaeger agent, collector,ingester and all-in-one - which can be used from the current Jaeger operator. However the OTLP port for the agent, collector and all-in-one are not exposed by the operator.

In the interim, before we have an official "Jaeger 2" operator, is there a way we can identify that an OTEL image is being used and include the OTLP port on the d

[2020-11-02 09:35] jpkrohling commented on #1287
We can "guess" based on the image names, but we won't know for sure. The status endpoint could return the type of the collector, but that would still require running the collector before we can infer this.

[2020-11-02 09:36] jpkrohling commented on #1283
There was a discussion about it during the last bi-weekly, but there are no concrete plans at the moment that I'm aware of.

[2020-11-02 11:38] abu-2020-ghub commented on #1283
Thanks..Yes you got my question correct, it was on building dashboards for tracing.
That's one of the reasons we wanted to check the feasibility of integrating Kibana to customize dashboards.

[2020-11-02 16:05] kehao95 commented on #1174
Hi @jpkrohling
It seem to be caused by this. https://stackoverflow.com/questions/51572249/why-does-google-cloud-show-an-error-when-using-clusterip
That look like more behavior of GKE than Jaeger-operator issue.
I'm not very sure about the current behavior of this since I've adapted Traefik for ingress controller.
But it doesn't seem to me a big problem now compare to then when I was new to Kuberne

[2020-11-02 16:05] #1174 closed

[2020-11-03 16:24] eladhar opened #1289 "jaeger-operator 1.19.0 custom serviceaccount"
I have jaeger operator, version 1.19.0, running on a k8s cluster. I'm trying to use a custom serviceaccount for in the jaeger kind, in order to pull images from private repository.
It look like this:
[code]

Here is my custom serviceaccount creation (which is deployed before the kind Jaeger above):

[code]

The problem is that the jaeger collector and query pods are not been created.

here are the

[2020-11-03 16:29] jpkrohling commented on #1289
Could you try another name for the service account? You likely found a bug, but a simple workaround would be to use a different name than the one that Jaeger would itself provision.

[2020-11-04 08:58] objectiser opened #1291 "Add CodeQL checks"
Currently enabled in the jaeger repo, so would also be good to add to the operator repo.

[2020-11-04 09:33] jpkrohling commented on #1291
Examples:

https://github.com/observatorium/opentelemetry-collector-builder/blob/c725aab7de2c3f782f8273ae4cc96faf21747290/.github/workflows/go.yaml#L41-L57

https://github.com/jaegertracing/jaeger/blob/master/.github/workflows/codeql.yml

[2020-11-04 14:52] eladhar commented on #1289
Hi @jpkrohling,
Thanks for your quick response.

It looks like you are right,
when i set the same name for both ServiceAccount and Jager the issue is reproduced, otherwise it works, its indeed looks like a bug.

[2020-11-04 15:40] rubenvp8510 opened #1292 "Document url not updated on jaeger when operator update it."
When the operator update the document-url CLI flag, the document URL on jaeger UI for jaeger instances handled by the operator still point to the old one.

[2020-11-05 14:51] tux-o-matic commented on #1284
BTW: If this is in an OCP cluster (@jpkrohling's test is vanilla K8s), Red Hat doesn't support DaemonSet Jaeger strategy, only side car injection. Was told that it was to enforce multi-tenancy so a single agent on a Node wouldn't handle data from various Pod/Namespace.

[2020-11-05 15:40] chandu9333 commented on #1273
Able to see the traces.

[2020-11-05 15:40] #1273 closed

[2020-11-05 15:45] chandu9333 opened #1295 "Could you please help me to understand or can you provide more details/reference that I can refer?"
All Jaeger backend components expose Prometheus metrics by default (other metrics backends are also supported). Logs are written to standard out using the structured logging library zap.

I don't understand this as a newbie.

I have the Jaeger operator is running in my GKE cluster with Production Strategy using ElasticSearch as backend storage.
How can we enable/see prometheus metrics?

[2020-11-06 08:49] jpkrohling commented on #1295
Are you talking about the operator metrics, or the operand (Jaeger instance) metrics? In both cases, the metrics are on `/metrics` for the documented ports (8383 and 8686 for the operator, "admin" port for each component in the production strategy).

You'll need a Prometheus in your Kubernetes cluster that is able to scrape the metrics from those endpoints. If you are using the Prometheus Operator

[2020-11-06 08:49] #1295 closed

[2020-11-06 11:01] chandu9333 commented on #1295
I have jaeger operator running in one namespace in kubernetes cluster and Prometheus operator is running in different namespace.
How can I trace Prometheus metrics from jaeger operator

[2020-11-06 11:03] jpkrohling commented on #1295
That's probably a question for the Prometheus operator folks.

[2020-11-06 11:27] chandu9333 commented on #1295
Can’t we trace Prometheus using jaeger operator?

[2020-11-06 12:15] jpkrohling commented on #1295
Not sure I understand your question. Jaeger Operator is for managing Jaeger, which handles distributed tracing. The Prometheus Operator is for managing Prometheus, which handles metrics.

[2020-11-06 12:38] chandu9333 commented on #1295
All jaeger backend components expose Prometheus metrics by default.
What do you mean by that.
I’m not clear on this yet. Sorry to bug you again and again.
Please clarify me on that statement which I see in documentation.

[2020-11-06 13:25] jpkrohling commented on #1295
Those are for monitoring Jaeger itself: you can monitor the internal work queue, how long Jaeger is taking to persist things to disk, and so on. You then use Prometheus to scrap (ie: read) those metrics and store it in Prometheus database. You can then create alert rules (again, in Prometheus) in case your Jaeger instance starts acting weird: when saving a span takes too long, when the queue is ne

[2020-11-10 10:31] #1148 closed

[2020-11-10 14:36] chandu9333 opened #1297 "I deployed sample app but not able to see in jaeger UI"
I have applied the business-application-injected-sidecar.yaml file on my gke cluster where jaeger operator with all in one instance is already running, but I’m not able to see myapp as a service in jaeger UI(port forwarded using local host)

Btw, I can access sample app it shows as Hello from vert.x !

What could be the reason?  could some one help on it?

[2020-11-10 15:05] chandu9333 commented on #1297
Sorry my bad, was able to do that using jaeger instance now.
As I understand sample app is applicable to jaeger instance.
But can we apply that for production strategy?

[2020-11-10 16:06] jpkrohling commented on #1297
Not sure what you mean here. Could you please clarify? The example works with any instance of Jaeger, no matter the strategy.

[2020-11-11 08:31] #1263 closed

[2020-11-12 02:14] Darren-wh commented on #359
@samheutmaker Can you describe the steps? I can't find the parameter. How to disable ingress (on k8s) by default? thanks

[2020-11-12 09:30] jpkrohling commented on #359
@Darren-wh, we have an example for that: https://github.com/jaegertracing/jaeger-operator/blob/4b2f557fa84038f018a2b863a3b693b8be13ea3f/examples/disable-ingress.yaml

[2020-11-12 09:32] Darren-wh commented on #359
@jpkrohling Thanks./:strong

[2020-11-15 08:52] KrishnaSindhur commented on #1291
can i work on this?

[2020-11-16 06:57] jkandasa opened #1302 "Is the time to take out our images from docker hub?"
Today I exected e2e tests and hits the image pull limit issue.
I think it is time to take out dependent images from the docker hub.
What do you think?
@objectiser @jpkrohling @kevinearls

Error:
[code]

[2020-11-16 07:31] jkandasa commented on #1302
I believe quay.io could be a right alternate option.
https://www.openshift.com/blog/mitigate-impact-of-docker-hub-pull-request-limits

[2020-11-16 08:16] kevinearls commented on #1302
@jkandasa Yes, definitely.  It shouldn't take too much work, but let me know if you need any help.

You will need to update some of the Jenkins jobs too.

[2020-11-16 09:48] #1165 closed

[2020-11-16 09:59] jpkrohling commented on #1291
Sure!

[2020-11-17 18:13] #1297 closed

[2020-11-17 18:19] chandu9333 opened #1304 "How to expose Jaeger operator on VM"
My use case is as below.
Cloud:GCP
I have plenty of applications deployed on a VM IN GCP
I have deployed JAEGER OPERATOR in GKE cluster

Now I want to trace my applications using the Operator deployed in GKE.

Is it possible to do that and how?

[2020-11-18 22:26] CSP197 commented on #1304
You can port forward from the jaeger query service, allowing you to see the traces via your browser.
`kubectl port-forward svc/<jaeger-query-name> -n <namespace> 16686`
But you'll probably only see the query service's own traces without additionally instrumenting your own running services separately.

[2020-11-18 23:15] CSP197 opened #1307 "Allow specific values for nodeport to be configured"
As a user of jaeger-operator, I would like to expose the jaeger-query service in my K8s VPC.

As per #1263, I understand that a service type can be set via -
[code]
But it would be nice if a user could specify a constant value for the exposed nodeport as follows -
[code]

Thanks all,

[2020-11-18 23:47] rch1233 commented on #1304
If it is possible to use jaeger endpoint with client library instrumentation if we configure external DNS for UI (query) so that my application hosted on VM can talk to Jaeger

[2020-11-19 06:37] jkandasa opened #1308 "failed to create "consolelinks" warning logs on jaeger operator on OpenShift"
#### Steps to reproduce:
* Install community jaeger operator
* deploy jaeger services on a namespace
* watch jaeger-operator log

#### Openshift version
[code]

#### operator version:
[code]

#### Log:
[code]

[2020-11-19 10:55] #1292 closed

[2020-11-19 16:30] tobypeschel commented on #1162
Unless I'm doing something wrong, it doesn't seem to be working for me with Cassandra.

I'm doing the same as above with `secretName: cassandra-creds` which is a secret created like: `kubectl create secret generic cassandra-creds --from-literal=CASSANDRA_USER=blah --from-literal=CASSANDRA_PASSWORD=blah`

Yet still the connection fails and the logs fill with (`AuthenticationFailed('Remote end requi

[2020-11-19 17:21] yogeek opened #1310 "Docker tag specified in yaml operator does not exist in dockerhub"
Hello

The image set in https://raw.githubusercontent.com/jaegertracing/jaeger-operator/master/deploy/operator.yaml is `v1.21.0` does not seem to be in dockerhub :

[code]

[code]

a problem with the CI that did not push the image for the last release maybe ?

[2020-11-19 17:32] objectiser commented on #1310
Yes the image push failed, so @rubenvp8510 will be releasing a new version shortly.

[2020-11-19 17:32] #1310 closed

[2020-11-19 17:35] objectiser commented on #1310
[Version 1.21.1](https://hub.docker.com/layers/jaegertracing/jaeger-operator/1.21.1/images/sha256-e37b835c92263dc5e04be04ddea773b34779aa71b68d8e39e315a8e3af9ae917?context=explore) is now available.

[2020-11-19 17:38] rubenvp8510 commented on #1308
Could you confirm what kind of permissions do you have?

IIRC consolelinks are cluster resources.

[2020-11-19 17:39] yogeek commented on #1310
Thank you !

[2020-11-20 06:40] yogeek commented on #1310
@objectiser I have the same problem now with `jaegertracing/jaeger-agent:1.21.1`

[2020-11-20 10:08] objectiser commented on #1310
@yogeek Only the operator has been bumped to `1.21.1` - the operands (i.e. jaeger-agent) are still on `1.20.0`.

The operator and operand versions are aligned for major and minor, but patch versions are independent.

[2020-11-20 10:51] yogeek commented on #1310
@objectiser ok but why my daemonset try to pull this image then...?

[code]

with this CR :

[code]

[2020-11-20 11:09] objectiser commented on #1310
@yogeek This CR shouldn't have deployed a daemonset? That should only happen if the `agent/strategy` is explicitly set to `DaemonSet`: https://www.jaegertracing.io/docs/1.21/operator/#installing-the-agent-as-daemonset

[2020-11-20 12:59] sylvainOL commented on #1310
hello @objectiser,
I've the same issue with a "production" deployment:

[code]

[code]

[2020-11-20 13:06] yogeek commented on #1310
@objectiser sorry I have not included all my CR, here it is :
[code]

What about the daemonset image in this case ? it must be present in dockerhub isn't it ?

[2020-11-20 13:37] objectiser commented on #1310
@yogeek @sylvainOL Apologies, looks like a change in the release scripts has inadvertently bumped the operand version aswell - we will investigate and fix asap.

In the meantime, you can work around it by setting the images in the CR for each of the components.

[2020-11-20 15:58] sylvainOL commented on #1310
no problem :)
I didn't managed to work around so I edited the deploy (it stills wants to pull 1.21.1 but as I have a running in 1.21.0, at least it works)

[2020-11-20 18:05] js8080 commented on #1048
I am also interested in this behavior for the same reasons mentioned above. I am running the Jaeger Collector inside a Kubernetes cluster but need to allow Agents from outside the cluster to communicate with it as not all applications we're tracing are running in Kubernetes.

[2020-11-21 09:04] yogeek commented on #1310
@sylvainOL  you can configure the image in the CustomResource :
[code]

@objectiser do we repopen the issue until the image is available ?

[2020-11-21 11:40] objectiser commented on #1310
@yogeek Jaeger operator 1.21.2 has now been released, so should fix the problem. If there are further issues, then please reopen or create a new issue.

[2020-11-21 15:39] yogeek commented on #1310
@objectiser Sorry but I still do not see the tag 1.21.1 in docker hub...
https://hub.docker.com/r/jaegertracing/jaeger-agent/tags

Do you mean we have to upgrade to operator 1.21.2 to fix our issue ?

[2020-11-21 16:27] enkov commented on #676
Hello! I tried to use hostNetwork, but when agent started with hostNetwork he can't find collector because in hostNetwork mode pod can't access kubernetes dns.
Is there any way to resolve this issue?

[2020-11-21 16:44] objectiser commented on #1310
@yogeek That is correct, the Jaeger repo images (jaeger-agent, collector, query, etc) are still only on `1.21.0` - the issue was with the operator, so we have released the new version of the operator `1.21.2` which now correctly references the `1.21.0` operand images.

[2020-11-21 16:48] yogeek commented on #1310
@objectiser oh ok I thought the versions of the operator were aligned on the jaeger components versions.
I will update then!
Thank you for your help 👍

[2020-11-21 22:08] sylvainOL commented on #1310
@objectiser: upgrading to 1.21.2 solved the issue on my side! thanks!

[2020-11-23 03:28] chgl commented on #405
I'm currently running into this as well (v1.20). I suspect it's because I override the job pod's securityContext's  runAsUser. Using the latest tag (`docker.io/jaegertracing/spark-dependencies@sha256:3dc11f9a8a2fc6aff2f6cbd002de194f89bb1beb9c2e79834693cc722a3bd84a`).

Should I create a new issue for this? In general, I'm struggling quite a bit to get the operator to run on a cluster with restricti

[2020-11-23 10:35] jpkrohling commented on #1308
Even if the operator is installed with namespace-only permissions, the operator shouldn't fail the reconciliation because of the console links. The operator should:

1. determine whether it should manage console links
1. not break the reconciliation console links fail to reconcile
1. perhaps add a message to the CR with the error? Do we have something like this already for this operator?

[2020-11-23 10:37] jpkrohling commented on #1302
Pushed to quay: https://quay.io/repository/jaegertracing/vertx-create-span?tab=info

[2020-11-23 10:46] jpkrohling commented on #1304
Not sure what you mean here. If you mean that you have a Jaeger Agent in your GCP, then you can certainly expose the port `14250` from the collector via an ingress. If the agent and collector aren't part of the same internal network, it might be tricky, as it means that you'd have an exposed collector. In which case, I see two options:

1. use the OpenTelemetry Collector as an agent in your GCP an

[2020-11-23 10:46] jpkrohling commented on #1304
If this isn't what you asked, please clarify (hence the needs-info). Feel free to close if the question has been answered.

[2020-11-23 10:49] jpkrohling commented on #1048
Anyone interested in sending a PR with a proposal for this one?

[2020-11-23 10:56] jpkrohling commented on #1162
Could you please double-check that you are using `CASSANDRA_USERNAME` and not `CASSANDRA_USER`? The CLI flag for the username is `cassandra.username`, which translates to the env var `CASSANDRA_USERNAME`.

[2020-11-23 10:57] jpkrohling commented on #1162
In time: @Hashfyre, did you manage to send a documentation PR?

[2020-11-23 11:38] tobypeschel commented on #1162
Yep, same issue with `CASSANDRA_USERNAME` too, unfortunately.

[2020-11-23 11:45] jpkrohling commented on #1162
@tobypeschel if you run a local Jaeger process with CASSANDRA_USERNAME/CASSANDRA_PASSWORD as env vars, does it work? If you set the flags directly in the CR as options, does it work?

[2020-11-24 00:09] snuggie12 opened #1314 "Some fields need pruning control for CRD"
https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#controlling-pruning

When building a new cluster I ran into an issue where any part of the spec using the `options` field would get emptied (i.e. `options: {}`) after applying the yaml.

For some reason I noticed on a different cluster the CRD for `jaegers.jaegertracing.io` had a field `spec.preserveUn

[2020-11-24 10:26] jpkrohling commented on #1314
Would you mind explaining what's the actual issue this is causing? Or is it only about adding an empty object when the property isn't set?

[2020-11-24 12:46] yogeek commented on #1310
@objectiser same here ! 👍

Last question : is there a compatibility matrix between the operator versions and the deployment and agents versions ? Where can I find which docker images versions the operator is gonna deploy for these resources please ?